{{{appCSS}}}
{{{body_font.styles}}}

body {
  font-size: {{body_font.font_size}}px;
  line-height: {{body_font.line_height}};
  font-family: {{{body_font.stack}}};
  color: {{text_color}};
  background: {{background_color}};
  padding: 3em 4em 5em;
  word-wrap: break-word; /* for long words & urls */
}

.container {
  max-width: 648px;
  min-width: 320px;
  margin: 4em 4em 2em 222px;
}

h1, h2, h3, h4, h5, h6 {font-size: inherit;}

h2, h3 {margin-top: 2em}

h1 {font-size: 21px;line-height: 1.4}

a {color: {{link_color}};text-decoration: none;}

a:hover {background: {{link_color}};color: white}

.logo {float: left;}

.nav {float: right;}
.nav a {margin: 0 0 0 2em}

.small, .light {color: {{text_color}}}

.small {font-size: 12px}

hr {
  width: 200px;
  margin: 1.5em auto;
  border: none;
  border-top: 1px solid {{text_color}};
  display: block;
}

ul.task-list { list-style-type: none; }

.caption, blockquote {color: {{text_color}}}

blockquote {font-style: italic;margin:0;padding: 0 0 0 1em;border-left: 1px solid {{text_color}}}

table {
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 24px;
}

tr {box-sizing: border-box;border-top: 1px solid {{text_color}};padding: 0}
th, td {box-sizing: border-box;border: 1px solid {{text_color}};padding: 5px 12px 6px}

/* Date spacing for entry */
h1 + .light {margin-top: -0.75em;margin-bottom: 1.5em}

input[type="text"],
input[type="submit"] {
  font:inherit;
  font-size:20px;padding: 3px 6px;
  margin: 1em 0;
  border: 1px solid {{text_color}};
}

input[type="text"] {
  background: none;
  max-width: 100%;
  min-width: 300px;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.075);
}

input[type="submit"] {
  padding: 3px 12px;
  color: {{link_color}};
  background: none;
  border: 1px solid {{link_color}};
  cursor: pointer;
}

{{> plugin}}

.clear {width: 100%;clear: both;}

.archive h2.margin,
.archive h3.margin {margin: 0}

.archive h2.margin.left {left: -45%;}

/* Index page table-like layout */ 
.index-container {
  display: table;margin: 2rem auto
}

.index-row {
  display: table-row;
}

.index-cell {
  display: table-cell;padding: 0.7rem 1rem;max-width: 48rem
}

.index-cell.light {
  text-align: right;
}

@media screen and (max-width: 800px) {
  .index-container, .index-cell, .index-row {
    display: block;
    padding-left: 0
  }

.index-cell.light {
  text-align: left;
}
}

/* MESSY RESPONSIVE BUSINESS */

@media screen and (max-width: 1200px) {
  .container {margin-left: 140px}
}

@media screen and (max-width: 1060px) {
  .container {margin: 2em 16px 16px}
  .archive h2.margin.left {left: auto}

}

@media screen and (max-width: 1060px) {
  .archive .margin {display: block;width: 100%}
}



@media screen and (max-width: 600px) {

  body {padding: 0.4em;}

  .container {margin: 1em 0 2em;padding-top:0.5em;border-top:1px solid rgba(0,0,0,0.1);min-width: auto}

  input {font-size: 1em;}

  input[type="text"] {min-width: 200px;}

  .nav {float: none;display: block;margin: 0;width: 100%}
  .nav a {margin: 0 1em 0 0;color:{{text_color}};}
}