@font-face {
  font-family: 'D Din Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400.eot?version=a89c0a&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400.eot?version=a89c0a&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400.woff?version=2e151b&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400.ttf?version=63de7c&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400.otf?version=5b5cdb&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'D Din Expanded';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400-italic.eot?version=54c079&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400-italic.eot?version=54c079&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400-italic.woff?version=d97ecf&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400-italic.ttf?version=34145f&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400-italic.otf?version=346e05&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'D Din Expanded';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/700.eot?version=ab3ae7&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/700.eot?version=ab3ae7&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/700.woff?version=af49c1&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/700.ttf?version=ce33fa&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/700.otf?version=831f46&extension=.otf') format('opentype');
}
.pull-double {margin-left:-0.337em}
.push-double{margin-right:0.337em}
.pull-single{margin-left:-0.177em}
.push-single{margin-right:0.177em}
.push-double,.push-single{display:inline-block}
