<h1>Developer guide</h1>
<style type="text/css">
overlap {
  position: relative;
  margin: 2em 0;
  display: block;
  padding: 1.5em 0
}

overlap window {
  width: 65.5%
}

overlap window:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1
}
</style>

<p>Developing your own template on Blot will be familiar to those who have developed templates for other platforms. You will need a working knowledge of HTML and CSS. </p>

<br>

<ul class="document-list with-subtitle with-border">
  <li>
    <a href="/templates/developers/get-started"><span><code class="file txt"></code></span>
    <span><strong>Get started</strong>
      <!-- <span class="subtitle">A gentle introduction to your first template.</span> -->
    </span>
    </a>
  </li>

  <li>
    <a href="/templates/developers/tutorials"><span><code class="file txt"></code></span>
    <span><strong>Tutorials</strong>
      <!-- <span class="subtitle">Step by step guides to creating your own template.</span> -->
    </span>
    </a>
  </li>
  <li>
    <a href="/templates/developers/examples"><span><code class="file txt"></code></span>
    <span><strong>Examples</strong>
      <!-- <span class="subtitle">Understand Blot more deeply.</span> -->
    </span>
    </a>
  </li>   
  <li>
    <a href="/templates/developers/reference"><span><code class="file txt"></code></span>
    <span><strong>Reference</strong>
      <!-- <span class="subtitle"> All of the properties you can use on one page.</span> -->
    </span>
    </a>
  </li> 
   
</ul>


<h2>Hire a developer</h2>

<p>If you would like to hire a developer or designer to work on a template for you, please <a href="/contact">contact us</a>.</p>

<h2>Getting help</h2>

<p>You are always welcome to <a href="/contact">contact us</a> with your questions. If there's a chance your question might be useful to other developers, feel free to post it in <a href="/questions">Questions</a>.</p>

