<h1>Reference</h1>

<span></span>
<style type="text/css">
    
  h2 {
    /*position: sticky;top: 0;*/
      font-family: "IA Writer Duospace", Consolas, monaco, monospace;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }

  h3 {
      font-family: "IA Writer Duospace", Consolas, monaco, monospace;
font-size:16px;font-weight:400;margin-left: 2rem;
  }

  a.type {
    font-size: 11px;font-weight:500;margin-right:6px;border:1px solid;padding: 0 3px;text-transform: uppercase;text-decoration: none;color:var(--accent-color);
    margin: 0 6px;
  }

  ul.properties {
    list-style: circle;
  }
</style>

{{#docs}}

<h2>{{name}}</h2>

<div style="display: table">
{{#properties}}
<div style="display: table-row;">
<h3 id="{{../name}}.{{name}}" style="white-space: nowrap;border-bottom:1px solid rgba(0,0,0,0.05);display:table-cell;margin: 2rem 0 0 0;">{{name}} <a class="type" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/{{type}}">{{type}}</a></h3>
<div style="display:table-cell;border-bottom:1px solid rgba(0,0,0,0.05);font-size: 14px;">
<p style="margin: 6px 0"> {{description}}</p>

{{#if properties.length}}
<ul class="properties" style="padding: 0">
{{#properties}}
  <li><a style="color:inherit;text-decoration: none;" href="#{{../../name}}.{{../name}}.{{name}}"><code id="{{../../name}}.{{../name}}.{{name}}">{{name}}</code></a> <a class="type"  target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/{{type}}">{{type}}</a>{{description}}
  </li>
{{/properties}}
</ul>
{{/if}}

{{#if example}}
<div style="">
<pre style="font-size: 13px;font-style: italic;margin:0;border:1px solid rgba(0,0,0,0.05);margin:6px 0"><code>{{example}}</code></pre>
</div>
{{/if}}
</div>
</div>
{{/properties}}
</div>
{{/docs}}