<h1>Ask a question</h1>

  
  <form method="POST" action="/questions/ask" style="max-width: 680px;">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}">
      <label><strong>Title</strong></label><br>
      <input type="text" style="width:100%" required name="title" id="title" placeholder="e.g. What text-editors do you recommend for writing Markdown?"></input>
      <br><br>
      <label><strong>Body</strong></label>
      {{> textarea}}

      {{^authenticated}}
      <label>
        Email address:
        <input type="text" name="email" required placeholder="Your email address" />
      </label>
      {{/authenticated}}

        <br>
        <input
        type="submit"
        value="Ask question"
        onclick="this.classList.add('working')" />
</form>

<script>
  // extract title from url query  and set it as the title of the question
  var urlParams = new URLSearchParams(window.location.search);
  var title = urlParams.get('title');

  if (title) {
    document.getElementById('title').value = title;
  }

</script>