<h1>{{^tag}}Questions {{/tag}}{{#tag}}Tagged '{{ tag }}'{{/tag}}</h1>

{{> questions-search}}

<p>
  <a href="/questions/ask">Ask question</a>
</p>
  
<br />

  {{#topics}}
    <h2>
      <a href="/questions/{{ id }}">{{ title }}</a>
    </h2>

    <div class="question-preview">
      {{{body}}}
    </div>
      
        {{#tags}}
        <a
          href="/questions/tagged/{{ slug }}"
          >
          {{ tag }}
        </a>
        {{/tags}}
      
      <a href="/questions/{{ id }}" date-from-now="{{ last_reply_created_at }}">{{ time }}</a
        {{ number_of_replies }} {{#singular}}reply{{/singular}}{{^singular}}replies{{/singular}}
      </a>
      <hr>
  {{/topics}}

{{> questions-paginator}}

<style>
  .question-preview {
  max-height: 3.8rem;overflow: hidden;margin:0
    }
    .question-preview > :first-child {
      margin-top: 0;
    }
</style>