<h1>{{^tag}}Questions {{/tag}}{{#tag}}{{ prettyTag }}{{/tag}}</h1>

{{#tag}}
<p style="color:var(--light-text-color);font-size:var(--small-font-size)">
  {{paginator.topics_count}} questions tagged '{{prettyTag}}'
  </p>
{{/tag}}
{{^tag}}
<div style="display: flex;align-items: baseline;margin:0 0 1em;font-size:16px;flex-wrap:wrap">
    {{> questions-search}}
    <a class="bordered-button"  href="/questions/ask">Ask question</a>
</div>
{{/tag}}

{{> questions-toolbar}}


<!-- 
<p class="filters">
  <a class="{{selected.questionsIndex}}" href="/questions">Recent</a>
  <a class="{{selected.popular}}" href="/questions/popular">Most discussion</a>
</p> -->

<div class="questions">

  {{#topics}}
    {{> question-row}}  
  {{/topics}}

{{> questions-paginator}}
</div>
