{{#paginator}}
<div class="paginator filters">
  {{#previous_page}}
  <a href="{{{base}}}/page-{{ previous_page }}">Previous</a>
  {{/previous_page}}

  {{#pages}}

  {{^elipsis}}
  <a class="{{ current }}" href="{{{base}}}/page-{{ page }}">{{ page }}</a>
  {{/elipsis}}

  {{#elipsis}}
  <span style="margin-right: var(--spacing)">...</span>
  {{/elipsis}}

  {{/pages}}

  {{#next_page}}
  <a href="{{{base}}}/page-{{ next_page }}">Next</a>
  {{/next_page}}
</div>

{{ topics_count }}&nbsp;questions
{{/paginator}}
