<div class="question-row">


  <h2>
    <a href="/questions/{{ id }}">{{ title }}</a>
  </h2>

  <div class="question-preview">
    <p>{{summary}}</p>
  </div>
  <a class="cover" href="/questions/{{ id }}"></a>



  
  <div style="margin:  0;font-size: 12px;">
    {{#last_reply_created_at}}
    <a style="color:var(--light-text-color)" class="minor" href="/questions/{{ id }}">{{ number_of_replies }} {{#singular}}reply{{/singular}}{{^singular}}replies{{/singular}}  <span style="margin-left: 12px;" date-from-now="{{ last_reply_created_at }}">{{ time }}</span></a>
    {{/last_reply_created_at}}
    {{#tags.length}}
    &nbsp;
    &nbsp;
    


{{#tags}}
  <a class="tag-chip" href="/questions/tagged/{{ slug }}">{{ tag }}</a>&puncsp;
  {{/tags}}
  {{/tags.length}}
</div>


  </div>
