<div style="display: flex;">
  <div class="question-sort-tabs">
    <ul>
      <li><a class="selected" href="/questions?sort=newest">Newest</a></li>
      <li><a href="/questions?sort=unanswered">Unanswered</a></li>
      <li><a href="/questions?sort=replies">Replies</a></li>
    </ul>
  </div>
<ul class="pill-navigation" style="max-height: 2.3em;overflow: hidden;">
  <li><a class="{{#selected.questionsIndex}}{{/selected.questionsIndex}}" href="/questions">All</a></li>
  {{#popular_tags}}
  <li><a href="/questions/tagged/{{ tag }}">{{ tag }}</a></li>
  {{/popular_tags}}
</ul>
</div>
