{{#topic}}
<h1>{{ title }}</h1>

<div class="qa-item-container">
  {{{body}}}
  <div style="display: flex; margin-bottom: 16px">
    <div>
      {{#tags}}
      <a
        href="/questions/tagged/{{ slug }}"
        class="secondary-text smaller"
        style="
          color: var(--accent-color);
          padding: 4px 6px;
          border-radius: 4px;
          background: #eaf4ff;
          margin-right: 8px;
        ">
        {{ tag }}
      </a>
      {{/tags}}
    </div>
    <div style="flex-grow: 1"></div>
    <a href="/questions/{{ id }}/edit">
      <span class="secondary-text smaller"
        >Asked
        <span date-from-now="{{ last_reply_created_at }}">{{ time }}</span>
        &#8226;
      </span>
      <span class="secondary-text smaller">Improve this question</span>
    </a>
  </div>
</div>

<span class="secondary-text smaller"
  >{{ reply_count }} {{#singular}}reply{{/singular
  }}{{^singular}}replies{{/singular}}</span
>

{{/topic}}

<div class="reply-container">
  {{#topics.length}}
  {{#topics}}
  <div class="qa-item-container">
    {{{body}}}
    <span class="secondary-text smaller"
      >Answered <span date-from-now="{{ created_at }}">{{ time }}</span> ·
    </span>
    <a class="secondary-text smaller" href="/questions/{{ id }}/edit"
      >Improve this answer</a
    >
  </div>
  {{/topics}}
  {{/topics.length}}

  {{^topics.length}}
  <h2>No replies yet</h2>
  {{/topics.length}}

  <br />
  <div style="max-width: 637px">
    <form
      method="POST"
      action="/questions/{{ topic.id }}/new"
      id="new-reply-form"
      class="qa-form">
      <div>
        <textarea
          type="text"
          name="body"
          id="body"
          placeholder="Your reply..."></textarea>
      </div>
      <div class="qa-form-actionarea">
        <button id="post-reply-button" class="whitebutton">Add reply</button>
        <span class="secondary-text">Markdown allowed</span>
      </div>
    </form>
  </div>

  <script>
    var buttonEl = document.getElementById("post-reply-button");
    var bodyEl = document.getElementById("body");

    function updateQuestionButtonState() {
      if (bodyEl.value.trim() === "") {
        buttonEl.setAttribute("disabled", "");
      } else {
        buttonEl.removeAttribute("disabled");
      }
    }

    updateQuestionButtonState();
    bodyEl.addEventListener("keyup", updateQuestionButtonState);
  </script>
</div>
