/* GLOBAL STYLES AND RESETS */

/* Injected styles from templates and external sources */
{{{appCSS}}}
{{{body_font.styles}}}
{{{syntax_highlighter.styles}}}
{{> flickity.css}}
{{> toc-styles.css}}
{{> multi-lingual-styles.css}}
{{> next-previous-styles.css}}
{{> navigation-styles.css}}
{{> menubar-styles.css}}

/* Root variables for theme customization */
:root {
  {{#body_font}}
  --font-family: {{{stack}}};
  --font-size: {{{font_size}}}px;
  --line-height: {{{line_height}}};
  {{/body_font}}
  --background-color: {{background_color}};
  --text-color: {{text_color}};
  --off-background-color: rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.02);
  --light-text-color: rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.5);
  --medium-text-color: rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.6666);
  --border-color: rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.06);
  --link-color: {{link_color}};

  --padding: 1.4rem;

  --navigation-height: 3em;
  --navigation-background-color: var(--background-color);

}

{{{syntax_highlighter.styles}}}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: {{dark_background_color}};
    --off-background-color: rgba({{#rgb}}{{dark_text_color}}{{/rgb}}, 0.04);
    --text-color: {{dark_text_color}};
    --border-color: rgba({{#rgb}}{{dark_text_color}}{{/rgb}}, 0.08);
    --light-text-color: rgba({{#rgb}}{{dark_text_color}}{{/rgb}}, 0.3333);
    --medium-text-color: rgba({{#rgb}}{{dark_text_color}}{{/rgb}}, 0.6666);
    --link-color: {{dark_link_color}};
  }

  /**/
  {{{dark_syntax_highlighter.styles}}}
  /**/
}

/* General resets */
html, body {
  width: 100%; padding: 0; margin: 0 auto; -webkit-font-smoothing: antialiased;
  color: var(--text-color); background: var(--background-color);
  font-family: var(--font-family); font-size: var(--font-size); line-height: var(--line-height);
}


hr {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 1em 0;
}

.column-container {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.column {
  width: 250px; /* Fixed width for sidebars */
  flex-shrink: 0;
  padding: 15px;
  box-sizing: border-box;
  align-items: stretch;
  position: relative;
}

.column:nth-child(1) {
  border-right: 1px solid var(--border-color); /* Add a border between columns */
}

.column a {
  color: var(--light-text-color);
  text-decoration: none;
}

.column a.active {
  color: var(--text-color);
}

.main {
  flex-grow: 1; /* Main content takes up remaining space */
  padding: 0 4em 10em;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Hidden Checkboxes */
.toggle-checkbox {
  display: none;
}

/* Control Bar */
.control-bar {
  display: none; /* Hidden by default on large screens */
  border-bottom: 1px solid var(--border-color);
  z-index: 20;
  padding: 6px 15px;
  box-sizing: border-box;
}

.control-label {
  visibility: hidden;
  cursor: pointer;
  color: #007BFF;
  text-decoration: none;
}

/* Responsive Behavior */
@media (max-width: 1024px) {
  .control-bar {
    display: flex; /* Show the control bar at smaller screens */
    justify-content: space-between; /* Align the toggle buttons */
    align-items: center; /* Vertically center the labels */
  }

  #toc-wrapper {
    display: none;
  }

  .control-label:last-child {
    visibility: visible
  }
  /* Hide the right column unless toggled */
  .column:nth-child(3) {
    display: none;
  }

  /* Show the right column when the checkbox is toggled */
  #toggle-right:checked ~ .column-container > .column:nth-child(3) {
    position: absolute;
    display: flex;
    right:0;
    }

    #toggle-right:checked ~ .column-container > .column:nth-child(3) #toc-wrapper {
      display: block;
      position: absolute;
      padding: 2em;
      border: 1px solid var(--border-color);
      margin: 0;
      top: 0;
      right: 0;
        }
}

@media (max-width: 768px) {
  
    .control-label:first-child {
    visibility: visible
  }

  /* Hide the left column unless toggled */
  .column:nth-child(1) {
    display: none;
  }

  /* Show the left column when the checkbox is toggled */
  #toggle-left:checked ~ .column-container > .column:nth-child(1) {
    position: absolute;
    display: flex;
    left:0;
  }

  .main {
    padding: 0 1em;
  }
}


.control-label:hover {
  text-decoration: underline;
}



.nav-container {
  display: flex;
  flex-wrap: wrap;
  height: var(--navigation-height);
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

/* This forces the navigation links to wrap when they would
    otherwise overflow the screen */
.nav-container:before {
  content: "";
  width: 1px;
  margin-right: -1px;
  height: var(--navigation-height);
}

.popup-cover {
  content: "";
  opacity: 0;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}

.nav-label {
  display: flex;
  align-items: center;
  height: var(--navigation-height); /* Default height */
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 2; /* Ensure it's above the links */
}

.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: none;
  gap: 1.4rem;
  background-color: var(--navigation-background-color);
  position: relative;
  z-index: 3;
}

.nav-container a {
  white-space: nowrap; /* Prevents breaking individual links */
  text-decoration: none;
  color: var(--light-text-color);
  transition: color 0.2s;
}

.nav-container a:hover,
.nav-container a.active {
  color: var(--text-color);
}

#nav-toggle {
  display: none;
}

/* When checkbox is checked, expand the navigation */
#nav-toggle:checked ~ .nav-container {
  height: auto; /* Remove height restriction */
}

#nav-toggle:checked ~ .popup-cover {
  opacity: 1;
  z-index: 1;
}

#nav-toggle:checked ~ .nav-container .nav-links {
  flex-direction: column; /* Stack links vertically */
  width: 100%;
  align-items: flex-start;
}

.index-link {
    display: flex;
  align-items: center;
  flex-wrap: none;
  gap: 1rem;
  margin-right: 1em;
}

.index-link a {
  color:var(--text-color);
  font-weight: 600;
}

.nav-container {
  padding: 0 1em;
}

.nav-label {
  right: 1em;
}


span[class^="icon-"] {
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-position: 0 0;
    width: 1em;
    height: 1em;
    mask-size: 1em;
    display: inline-block;
    vertical-align: sub;
    position: relative;
    top:-0.02em;
}

.icon-search {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTEwLjY4IDExLjc0YTYgNiAwIDAgMS03LjkyMi04Ljk4MiA2IDYgMCAwIDEgOC45ODIgNy45MjJsMy4wNCAzLjA0YS43NDkuNzQ5IDAgMCAxLS4zMjYgMS4yNzUuNzQ5Ljc0OSAwIDAgMS0uNzM0LS4yMTVaTTExLjUgN2E0LjQ5OSA0LjQ5OSAwIDEgMC04Ljk5NyAwQTQuNDk5IDQuNDk5IDAgMCAwIDExLjUgN1oiLz48L3N2Zz4=");
}

.icon-dots {
   mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTggOWExLjUgMS41IDAgMSAwIDAtMyAxLjUgMS41IDAgMCAwIDAgM1pNMS41IDlhMS41IDEuNSAwIDEgMCAwLTMgMS41IDEuNSAwIDAgMCAwIDNabTEzIDBhMS41IDEuNSAwIDEgMCAwLTMgMS41IDEuNSAwIDAgMCAwIDNaIi8+PC9zdmc+")
}

.icon-close {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTMuNzIgMy43MmEuNzUuNzUgMCAwIDEgMS4wNiAwTDggNi45NGwzLjIyLTMuMjJhLjc0OS43NDkgMCAwIDEgMS4yNzUuMzI2Ljc0OS43NDkgMCAwIDEtLjIxNS43MzRMOS4wNiA4bDMuMjIgMy4yMmEuNzQ5Ljc0OSAwIDAgMS0uMzI2IDEuMjc1Ljc0OS43NDkgMCAwIDEtLjczNC0uMjE1TDggOS4wNmwtMy4yMiAzLjIyYS43NTEuNzUxIDAgMCAxLTEuMDQyLS4wMTguNzUxLjc1MSAwIDAgMS0uMDE4LTEuMDQyTDYuOTQgOCAzLjcyIDQuNzhhLjc1Ljc1IDAgMCAxIDAtMS4wNloiLz48L3N2Zz4=")
}

/* When checkbox is checked, expand the navigation */
#nav-toggle:checked ~ .nav-container {
  border-radius: 0 0 12px 12px;
  padding-bottom: 16px;
}

.nav-container form {
  flex-grow: 1;
  margin-right: 2em;
}

.nav-container form  input {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.navigation {
  display: flex;
  flex-direction: column;
}



code.hljs {
  background: transparent
}

pre {
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.code-group, pre {
  background: var(--off-background-color);
}

.code-toolbar + .code-block-wrapper pre {
  border-radius: 0 0 4px 4px;
  border-top: none;
  background: none;
}