root /;

# This is used to determine whether the server is handling
# requests, don't remove it unless you change monit.rc too!
location = /health {
  return 200;
}

error_page 502 /502.html;

# send the text '502 Bad Gateway' to the client
location = /error-proxy-502.html {
  client_max_body_size 1M;
  root  {{{config_directory}}}/html;
}

location / {
  add_header 'Blot-Cache' 'false' always;
  {{> reverse-proxy.mustache}}
}

