
<h1>{{^category}}Tools{{/category}}{{#category}}{{title}}{{/category}}</h1>

<ul class="pill-navigation">

<li><a href="/tools" class="{{^category}}selected{{/category}}">All</a></li>
{{#categories}}
<li><a href="/tools/{{slug}}" class="{{selected}}">{{title}}</a></li>
{{/categories}}
</ul>

{{{description}}}


<ul class="tool-list">
  {{#tools}}
  <li><a href="/tools/{{slug}}">{{#icon}}<img src="/tools{{{icon}}}" width="16">{{/icon}}<span class="a"><b>{{title}}</b><br>{{subtitle}} </span></a></li>
  {{/tools}}  
</ul>
