
<h1>{{^category}}Tools{{/category}}{{#category}}{{title}}{{/category}}</h1>

<ul class="pill-navigation">

<li><a href="/tools" class="{{^category}}selected{{/category}}">All</a></li>
{{#categories}}
<li><a href="/tools/{{slug}}" class="{{selected}}">{{title}}</a></li>
{{/categories}}
</ul>

{{^category}}
{{#categories}}
<div style="display: flex;border-bottom: 1px solid var(--border-color);padding-bottom: 12px;margin-bottom: 12px;">
  <div style="flex-basis: 240px;flex-shrink: 0;">
    <h3 style="border-bottom: none;padding-bottom: none;margin-top:0;">
      <a href="/tools/{{slug}}">
      {{#is.text-editors}}
      <span class="icon-file"></span> 
      {{/is.text-editors}}
      {{#is.photography}}
      <span class="icon-book"></span> 
      {{/is.photography}}
      {{#is.audio}}
      <span class="icon-audio"></span>
      {{/is.audio}}
      {{#is.images}}
      <span class="icon-image"></span>
      {{/is.images}}
      {{#is.video}}
      <span class="icon-play"></span>
      {{/is.video}}
      {{#is.comments}}
      <span class="icon-questions"></span>
      {{/is.comments}}
      {{#is.automation}}
      <span class="icon-developers"></span>
      {{/is.automation}}
      {{#is.analytics}}
      <span class="icon-analytics"></span>
      {{/is.analytics}}
      {{#is.newsletters}}
      <span class="icon-updates"></span>
      {{/is.newsletters}}
      {{title}}</a>
    </h3>
    <div class="description" style="font-size: 14px;color:var(--medium-text-color);padding-right:24px">
    {{{description}}}    
    </div>
  </div>
  <ul class="tool-list top-tools">
    {{#top_tools}}
    <li><a href="/tools/{{slug}}">{{#icon}}<img src="/tools{{{icon}}}" width="16">{{/icon}}<span class="a"><b>{{title}} 
      <!-- {{#popular}}<span style="font-size:11px">popular</span>{{/popular}} -->
    </b><br>{{subtitle}} </span></a></li>
    {{/top_tools}}  
  </ul>
  
  <p><a href="/tools/{{slug}}">View all {{tools.length}} {{title}}</a></p>
  
  
</div>

{{/categories}}

{{/category}}

{{#category}}
<ul class="tool-list">
  {{#tools}}
  <li><a href="/tools/{{slug}}">{{#icon}}<img src="/tools{{{icon}}}" width="16">{{/icon}}<span class="a"><b>{{title}} 
    <!-- {{#popular}}<span style="font-size:11px">popular</span>{{/popular}} -->
  </b><br>{{subtitle}} </span></a></li>
  {{/tools}}  
</ul>
{{/category}}

