<h1>{{title}}</h1>

<div class="collapse-on-small-screens">
    <div style="flex-basis: 66.666%;">{{{html}}}


        {{> supported_file_list}}

        <h2>Related tools</h2>

        <ul class="tool-list">
            {{#related}}
            <li><a href="/tools/{{slug}}">{{#icon}}<img src="/tools/{{{icon}}}" width="16">{{/icon}}<span class="a">{{title}}</span></a></li>
            {{/related}}  
          </ul>
          
    </Div>
    <div style="flex-basis: 33.333%;flex-shrink: 0;">
        <h2>Website</h2>
        <p><a href="{{{link}}}" target="_blank" rel="nofollow">{{link}}</a> &rarr;</p>
        {{#files.length}}
        <h2>Files published by Blot</h2>
        <ul class="clients files">
        {{#files}}
        <li><a href="/how/files/{{slug}}"><span class="a"><span class="icon-file-check"></span> {{name}} </span>{{> chevron}}</a></li>
        {{/files}}
        </ul>
        {{/files.length}}
        {{#price}}
        <h2>Price</h2>
        <p>{{price}}</p>
        {{/price}}
        <h2>Platforms</h2>
        <p>{{#platforms}}
        {{{name}}}
        {{/platforms}}</p>
        <h2>Category</h2>
        <a href="/tools/{{category.slug}}">{{category.title}}</a>
    </div>
</div>

