<div
	style="display:flex;align-items: center;background: #ccc;padding: 0.25rem 1rem;    box-shadow: inset 0 -1px 0 #bbb;"
>
	<div style="flex-grow:1;flex-basis:33%;">
		<strong style="">{{view.name}}</strong>
		<a href="{{{base}}}/source-code/{{view.name}}/rename">Rename</a>
		<a href="{{{base}}}/source-code/{{view.name}}/delete">Delete</a>
	</div>
	
	<form
		style="flex-basis: 33%;margin:0 1rem;flex-grow:1;display: flex"
		class="save"
		action="{{{base}}}/source-code/{{view.name}}/edit"
	>
		<input type="hidden" name="content" value="{{content}}" />
		<button
			id="save"
			class="button disabled small"
			type="submit"
			value="Save"
			disabled
		>
			Save
		</button>
	</form>

	<span class="message">
		<span class="error"></span>
	</span>
	
	<a
		href="{{{base}}}/source-code/{{view.name}}/preview"
		class="box-button"
		style="flex-grow:1;flex-basis:33%;padding:0.25rem 1rem"
		>Preview</a
	>
</div>
