<style type="text/css">

.line {position: relative;}
.preview-cover {position: absolute;top:0;left: 0;right: 0;bottom: 0}

.preview-button, .line form button {
  margin: -12px 0;
  padding: 11px 0;
  color: #365899;
  display: inline-block;
}

.preview-button {margin-right: -9px;margin-left: 11px}

.preview-button .square, .line form button .square {
  padding: 4px 10px;
  border-radius: 4px;
  display: block;
}

.line form button:disabled .square,
.line form button:disabled:hover .square {
  background: rgba(0,0,0,0.08);
  color: #999
}

.line.theme:hover {background: rgba(0,0,0,0.02)}
.preview-button, .line form {float: right;}

.preview-cover:hover + .preview-button .square,
.preview-button:hover .square,
.line form button:hover .square {background: #365899;color:white;}

.butty {color:#365899;padding: 10px 20px;float: right;margin-right: -20px;margin-top: -10px}
.butty:hover {background: rgba(0,0,0,.05)}
</style>

<input type="hidden" name="redirect" value="/theme">  

{{^blog.template}}
<div class="line" style="border-bottom:none">
      <span class="box orange fr" style="line-height:2.5;background:#f2f2f2;padding:0 1.33em;border:#aaa;margin:0 0">Your theme is disabled. </span>

 <form method='post' style="display:inline">
      <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <input type="hidden"  name="template" value="SITE:default" > 
      <button type="submit"><span class="square">Enable your theme</span></button>
  </form>
</div>
{{/blog.template}}


{{#blog.template}}
<div class="line">



  <p>


    <b style="font-weight:500">{{blog.title}}</b> uses the <b style="font-weight:500">{{#templates}} {{#checked}}{{name}}{{/checked}}{{/templates}}</b> theme.</p>


  
  <a class="line" href="/settings/menu" style="margin:0 -20px">
    <span class="label">Menu</span>
    <span class="center">
      {{#blog.menu}}<span class="tablet">{{label}}</span>{{/blog.menu}}

    {{^blog.menu.length}}<i>Your menu is empty</i>{{/blog.menu.length}}
    </span>
    <span class="right" style="padding-left:0">Edit</span>
  </a>


  <a class="line" href="/settings/services" style="margin:0 -20px">
    <span class="label">Services</span>
    <span class="link">Configure analytics and other services
</span>

  </a>
  

  <Br>

  <span style="color:rgb(153, 153, 153)">Your themes      <a class="butty" href="/settings/theme/new">Create new theme</a>
</span>

</div>




{{#templates}}
<div class="line theme {{checked}}">
  
  {{name}}
  
<!--     <img style="max-width:48px;vertical-align:middle;margin-left:1em" src="/images/templates/{{nameLower}}.jpg">
 -->
   


    




  <a target="_blank" class="preview-cover" href="{{previewURL}}"></a>



    <a href="{{previewURL}}" class="preview-button" target="_blank" ><span class="square">Preview</span></a>  
  <form method='post' style="display:inline">
      <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <input type="hidden"  name="template" value="{{id}}" > 
      <button {{#checked}}disabled{{/checked}} type="submit"><span class="square">Install</span></button>
  </form>
      {{#isMine}}
        <a href="{{editURL}}/settings" style="margin-right:0;padding-right:11px" class="preview-button" ><span class="square">Edit</span></a>  
    {{/isMine}}
  <div class="clear"></div>
</div>
  <div class="clear"></div>

{{/templates}}
<br><div class="line">
<form method='post' style="float:left">
  <input type="hidden" name="redirect" value="/settings/theme">  
  <input name="template" value="" type="hidden"/>
  <button type="submit">Disable your theme</button>
</form>
</div>
{{/blog.template}}



