<input type="hidden" name="redirect" value="/theme">  

    {{^blog.template}}
<div class="line">
      <span class="box orange fr" style="line-height:2.5;background:#f2f2f2;padding:0 1.33em;border:#aaa;margin:0 0">Your theme is disabled. Your</span>

</div>
{{/blog.template}}



  

    <a class="line" href="/settings/theme/new">Create a new theme</a>

{{#blog.template}}
<form method='post'>
<input type="hidden" name="redirect" value="/theme">  
    <input name="template" value="" type="hidden"/>
    <button type="submit">Disable your theme</button>
  </form>
{{/blog.template}}

{{#templates}}

<div class="line {{checked}}">
  
  {{name}}
  
    <img style="max-width:48px;vertical-align:middle;margin-left:1em" src="/images/templates/{{nameLower}}.jpg">

   

  <div style="float:right">
    <a target="_blank" href="{{previewURL}}">Preview</a>


    {{#isMine}}
    <a href="{{editURL}}/settings">Edit</a>
    {{/isMine}}

    <form method='post' style="display:inline">
      <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <input type="hidden"  name="template" value="{{id}}" > 
      <button {{#checked}}disabled{{/checked}} type="submit">Install</button>
    </form>
  </div>
</div>
  <div class="clear"></div>

{{/templates}}




  