<style type="text/css">

.line {position: relative;}
.line:hover {background: rgba(0,0,0,0.03)}
.preview-cover {position: absolute;top:0;left: 0;right: 0;bottom: 0}

.preview-button, .line form button {
  padding: 4px 10px;
  color: #365899
}

.preview-button, .line form {float: right;}

.preview-cover:hover + .preview-button,
.preview-button:hover,
.line form button:hover {background: rgba(0,0,0,0.05);}

</style>

<input type="hidden" name="redirect" value="/theme">  

<div style="display:flex;border-bottom:1px solid rgba(0,0,0,0.05)">

    <a href="/settings/theme/new">Create a new theme</a>

  {{^blog.template}}
  <div class="line">
        <span class="box orange fr" style="line-height:2.5;background:#f2f2f2;padding:0 1.33em;border:#aaa;margin:0 0">Your theme is disabled. Your</span>

  </div>
  {{/blog.template}}


{{#blog.template}}
<form method='post'>
<input type="hidden" name="redirect" value="/theme">  
    <input name="template" value="" type="hidden"/>
    <button type="submit">Disable your theme</button>
  </form>
{{/blog.template}}

  

</div>


{{#templates}}

<div class="line {{checked}}">
  
  {{name}}
  
<!--     <img style="max-width:48px;vertical-align:middle;margin-left:1em" src="/images/templates/{{nameLower}}.jpg">
 -->
   

  <div style="float:right">

    

    {{#isMine}}
    <a href="{{editURL}}/settings">Edit</a>
    {{/isMine}}




  </div>
  <a target="_blank" class="preview-cover" href="{{previewURL}}"></a>
  <a href="{{previewURL}}" class="preview-button" target="_blank" >Preview</a>  
      <form method='post' style="display:inline">
      <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <input type="hidden"  name="template" value="{{id}}" > 
      <button {{#checked}}disabled{{/checked}} type="submit">Install</button>
    </form>
</div>
  <div class="clear"></div>

{{/templates}}




  