<style type="text/css">
form label {text-transform:none;letter-spacing:0;color:rgb(158, 154, 152);font-size:16px}
p a{color:#365899;text-decoration:none}
p a:hover{text-decoration: underline;}</style>
<form method='post' style="padding:0 20px" >
  <br>
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="redirect" value="/settings/theme">
    
    <label>
      <span>Name for your new theme:</span>
      <input type="text" name="name" placeholder="e.g. {{blog.title}}"/>
    </label>

    <label>
      Clone the
      &nbsp;<select style="width:90px;display:inline-block" name="cloneFrom">
      {{#templates}}
        <option {{#isDefault}}selected{{/isDefault}} value="{{id}}">{{name}}</option>
      {{/templates}}
      </select>&nbsp; theme.
    </label>

  <br>
  <div class="buttons">
    <button type="submit"onclick="this.form.submit();this.disabled=true">Create theme</button>
    <a href="/">Cancel</a>
  </div>
</form>

