<style type="text/css">
.line {
  position: relative;
}

.preview-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.preview-button,
.line form button {
  margin: -12px 0;
  padding: 11px 0;
  color: #365899;
  display: inline-block;
}

.preview-button {
  margin-right: -9px;
  margin-left: 11px
}

.preview-button .square,
.line form button .square {
  padding: 4px 10px;
  border-radius: 4px;
  display: block;
}

.line form button:disabled .square,
.line form button:disabled:hover .square {
  background: rgba(0, 0, 0, 0.08);
  color: #999
}

/*.line.theme {border: 1px solid rgba(0,0,0,0.05);margin-bottom: 11px}
*/
.line.theme:hover {
  background: rgba(0, 0, 0, 0.02)
}

.preview-button,
.line form {
  float: right;
}

.preview-cover:hover+.preview-button .square,
.preview-button:hover .square,
.line form button:hover .square {
  background: #365899;
  color: white;
}

.butty {
  color: #365899;
  padding: 10px 20px;
  float: right;
  margin-right: -20px;
  margin-top: -10px
}

.butty:hover {
  background: rgba(0, 0, 0, .05)
}

</style>

<div class="subpage">
  <p style="margin:11px 20px">This page contains templates that are no longer maintained. Some are old, some are unfinished, some are experimental. Some are translations of popular templates on other platforms. </p>

  <input type="hidden" name="redirect" value="/theme">

  {{^blog.template}}
  <div class="lisne" style="border-bottom:none">
    <span class="box orange fr" style="line-height:2.5;background:#f2f2f2;padding:0 1.33em;border:#aaa;margin:0 0">Your template is disabled. </span>

    <form method='post' style="display:inline">
      <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <input type="hidden" name="template" value="SITE:default">
      <button type="submit"><span class="square">Enable your template</span></button>
    </form>
  </div>
  {{/blog.template}}

  {{#blog.template}}
  <div class="linse">

    <style type="text/css">
    form label {
      text-transform: none;
      letter-spacing: 0;
      color: rgb(158, 154, 152);
      font-size: 16px
    }

    p a {
      color: #365899;
      text-decoration: none
    }

    p a:hover {
      text-decoration: underline;
    }

    </style>
    </span>
  </div>

  {{#templates}}
  <div class="line theme {{checked}}">

    <span style="flex-grow:1">{{name}}</span>

    <a target="_blank" class="preview-cover" href="{{previewURL}}"></a>

    <a href="{{previewURL}}" class="preview-button" target="_blank" ><span class="square">Preview</span></a>

    <form method='post' action="/settings/theme/new">
      <input type="hidden" name="redirect" value="/settings/theme">
      <input type="hidden" name="name" value="Copy of {{name}}" />
      <input type="hidden" name="cloneFrom" value="{{id}}" />
      <button type="submit" style="color:#365899;padding:11px 20px;display:block;text-align:left;width:100%">Fork</button>
    </form>

  </div>
  <div class="clear"></div>

  {{/templates}}

  {{/blog.template}}
</div>
