  <p style="margin:0;color:grey;background:rgba(0,0,0,0.02);border-bottom: 1px solid var(--light-border-color);padding-bottom: 16px;margin:-17px -25px 0;padding: 16px 24px;border-radius: 6px 6px 0 0"><strong style="display: block;color: #000;">Log in</strong>
    {{^then}}Manage your blogs{{/then}}
    {{#if then}}
      {{#if then_description}}To access <em>{{then_description}}</em> on your dashboard{{/if}}
      {{#unless then_description}}To access your dashboard{{/unless}}
    {{/if}}</p>

<style type="text/css">
  input[type="submit"].link {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    display: inline;
    border-radius: 0;
    margin: 0;
    width: auto;
    text-decoration: underline;
    transition-property: color, border-color;
    transition-duration: .1s;
    transition-timing-function: ease-out;
  }

  input[type="submit"].link:active {
    margin: 0;
    padding: 0
  }
</style>




{{#BADTOKEN}}
  <p class="error">This link has expired or had already been clicked.</p>
  {{/BADTOKEN}}

  {{#BADEMAIL}}
  <p class="error">That email address does not match a Blot account.</p>
  {{/BADEMAIL}}

  {{#NOEMAIL}}
  <p class="error">Please enter your email address.</p>
  {{/NOEMAIL}}

  {{#NOPASSWORD}}
  <p class="error">Please enter your password.</p>
  {{/NOPASSWORD}}

  {{#BADPASSWORD}}
  <p class="error">That was not your password.</p>
  {{/BADPASSWORD}}





<form method="POST">
  <input type="hidden" name="_csrf" value="{{csrf}}" />

  <p>
    <label for="email">Your email address</label>
    <input name="email" type="text" value="{{email}}" {{#unless validemail}} autofocus{{/unless}} />
  </p>
  <p>
    <label for="password">Password <a style="color:inherit;float:right;" href="/log-in/reset">Reset your password</a></label>
    <input name="password" type="password" {{#if validemail}} autofocus{{/if}} />
  </p>
  <input type="submit" value="Log in" style="margin-bottom: 8px" />
</form>


