<style type="text/css">
input[type="submit"].link {font:inherit;color: inherit;background: none;border: none;padding: 0;display: inline;margin: 0;    color: #111;
    border-bottom: 1px solid #bfbcba;
    text-decoration: none;
    transition-property: color, border-color;
    transition-duration: .1s;
    transition-timing-function: ease-out;}
    input[type="submit"].link:hover {border-bottom-color: #111}
</style>
<form method="POST">

  <input type="hidden" name="email" value="{{email}}" />

  {{^error}}
  <p>Please enter your password below or <input type="submit" class="link" name="reset" value="reset your password"> if you’ve forgotten it.</p>
  {{/error}}

  {{#error}}
  <p class="error">
    That was not your password. Would you like to <input type="submit" class="link" name="reset" value="reset your password">?
  </p>
  {{/error}}

</form>

<form method="POST">

  <input type="hidden" name="then" value="{{then}}" />
  <input type="hidden" name="email" value="{{email}}" />

  <label for="email">Your password</label>
  <input type="password" name="password" autofocus />

  <input type="submit" value="Log in" />
</form>