<form method="POST">

  <input type="hidden" name="email" value="{{email}}" />

  <p>You’re about to log in as <em>{{email}}</em></p>

  {{^error}}
  <p>Please enter your password below or <input type="submit" class="link" name="reset" value="reset your password"> if you’ve forgotten it.</p>
  {{/error}}

  {{#error}}
  <p>
    That was not your password. Would you like to <input type="submit" class="link" name="reset" value="reset your password">?
  </p>
  {{/error}}

</form>

<form method="POST">

  <input type="hidden" name="then" value="{{then}}" />
  <input type="hidden" name="email" value="{{email}}" />

  <label for="email">Your password</label>
  <input type="password" name="password" autofocus />

  <input type="submit" value="Log in" />
</form>