<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container">
    {{> header}}
    <br />
    {{#entry}}
        {{#date}}
        <a href="{{{url}}}" class="lightText">{{date}} </a>
        {{/date}}
        
        {{{html}}}
        
        {{#tags}}
        <a href="/tagged/{{slug}}">{{name}}</a>
        {{/tags}}
        <Br />
        {{#previous}}
        <a class="previousEntry" href="{{{url}}}">
          <h5>Previous post</h5>
          <span class="title">{{title}}</span>
          <span class="summary">{{summary}}</span>
        </a>    
        {{/previous}}  

        {{#next}}
        <a class="nextEntry" href="{{{url}}}">
          <h5>Next post</h5>
          <span class="title">{{title}}</span>
          <span class="summary">{{summary}}</span>
        </a>    
        {{/next}}
    {{/entry}}
    
    {{> pluginHTML}}        

    {{> footer}}    
    </div>    
  </body>
</html>