<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}

    {{#entry}}
    <div class="entry">

      {{{html}}}

      {{#date}}
      <small>Posted on {{date}}</small>
      {{/date}}

      {{#tags.length}}
      <small>
        {{#tags}}
        &nbsp;&nbsp;<a href="/tagged/{{slug}}">#{{name}}</a>&nbsp;&nbsp;
        {{/tags}}
      </small>
      {{/tags.length}}

      {{> pluginHTML}}

      <br><br>
      </div>

      <br><br><br>
      <hr class="full">

      {{#adjacent}}
      <br>
      {{/adjacent}}


      {{#next}}
      <small><a href="{{{url}}}">&larr;&nbsp;Next post</a></small>
      {{/next}}

      {{#next}}{{#previous}}<small>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;</small>{{/previous}}{{/next}}

      {{#previous}}
      <small><a href="{{{url}}}">Previous post&nbsp;&rarr;</a></small>
      {{/previous}}

      <br>

    {{/entry}}

    {{> footer}}
  </body>
</html>
