<h1>How it works</h1>

<p>Blot turns a folder into a blog. When you put files inside your blog's folder they become blog posts. Consider watching the video below to see it work in practice. You'll see how to publish posts and more:</p>
<p><a class="textli" href="/videos/publishing-with-blot.mp4">{{> playsvg}}Watch the video</a>
  </p>

<background style="margin-bottom: 0"><pre class="folder" title="Your blog"><code>Posts
  Apple.txt
  Banana.doc
  Cherry.jpg
  Date.md
  Elderberry.webloc
  Fig.html


</code></pre>
</background>

<style type="text/css">

.light {opacity: 0.5;margin-left: 1.7em}

.flex-table {max-width: 637px;}
.flex-table row {display: flex;flex-wrap:wrap;    }
.flex-table row > :first-child {min-width:190px;flex-shrink:0;padding-right: 1.4em;margin-bottom: 0}
.flex-table row > :last-child {flex-shrink: 1;
    flex-basis: 100px;
    min-width: 256px;
    flex-grow: 1;
    margin-left: 1.7em;}

.flex-table hr {    border: none;    
    border-bottom: 1px solid #eceff1;margin: 0}

</style>

<style type="text/css">
  img[src*='.svg'] {width: 16px;height: 16px;margin-right: 0.4em}
</style>
<h2>Syncing your folder</h2>
<p>You can sync your folder to Blot with any of the following:</p>
<p><a href="/how/sync/dropbox"><img src="/how/sync/dropbox.svg" >Dropbox</a></p>
<p><a href="/how/sync/google-drive"><img src="/how/sync/google-drive.svg" >Google Drive</a></p>
<p><a href="/how/sync/git"><img src="/how/sync/git.svg" >Git</a>.</p>

<h2 style="margin-bottom:0">Files which become blog posts</h2>
  <p><a href="/how/posts/text-and-markdown"><code class="file md">Text and Markdown</code><span class="light">.txt&nbsp; .md</span></a></p>
  <p><a href="/how/posts/images"><code class="file img" style="margin-left:-3px">Images</code><span class="light">.png&nbsp; .jpeg&nbsp; .gif</span></a></p>

  <p><a href="/how/posts/word-documents"><code class="file txt">Word Documents</code><span class="light">.docx &nbsp;.odt</span></a></p>

  <p><a href="/how/posts/bookmarks"><code class="file webloc">Bookmarks</code><span class="light">.webloc&nbsp; .url</span></a></p>
  
  <p><a href="/how/posts/html"><code class="file html">HTML</code><span class="light">.html </span></a></p>

<h2>Prevent a file becoming a blog post</h2>
<p> Files and folders whose name starts with an underscore are ignored. Ignored files don’t become blog posts themselves but they can be <a href="#files-in-your-folder-are-public">embedded in posts</a>.</p>

<background>
  <pre class="folder" title="Your blog"><code>Drafts
Pages
Posts
  _Not_a_post.jpg
  Post.txt


</code>
    </pre>
</background>

<h2>Drafts</h2>

<p>Files in a folder called <em>Drafts</em> are not published. Instead, Blot creates a preview file which updates as you make changes to your draft. You can share the preview file with others. Preview files work on other computers that are connected to the internet.</p>

<background><pre class="folder" title="Your blog"><code>Drafts
  Anecdote.txt
  Anecdote.txt.html
  Unpublished.txt
  Unpublished.txt.html
Pages
Posts

</code></pre></background>

<h2>Files in your folder are public</h2>

<p>The files in your blog’s folder are public. This is useful if you want to embed an image, a video or an audio file in a blog post. You can also use this to share files with your readers. For example, given the folder below, your readers can download <em>Archive.zip</em> if they visit <em>/Files/Archive.zip</em> on your blog.</p>

<background><pre class="folder" title="Your blog"><code>Files
  Archive.zip
  index.html
Posts




</code></pre>
</background>

{{> video-player}}