<h1>How to use Blot</h1>

<p>Blot turns a folder into a website. Files in the folder be­come posts on your website. What's the point of turning a folder into a website? So you can blog with your favorite text-editor. There's no interface – just files.</p>


        <style type="text/css">
          .textli {
              color: white;
              font-size: 14px;
              position: relative;
              margin-top: 6rem
          }
          .textli svg {
            width: 1.5em;
            position: absolute;left: -2em
          }
          .textli svg .st1 {fill:white;}
          .no-border {
            border-bottom: none;
            padding-bottom: 0
          }
          background.video:hover {background-color: #004a99}
        </style>
<background class="video" style="position: relative;margin: calc(var(--spacing)*2) 0">
      <a class="textli" >{{> playsvg}}<strong>Watch the video</strong><span style="display: block;opacity: 0.5">Introduction &thinsp;&middot;&thinsp; 09:39</span></a>
    <pre class="folder" title="Your blog"><code>Posts
  Apple.txt
  Blackcurrant.docx
  Cherry.jpg
  Damson.md
  Elderberry.webloc
  Fig.html
</code></pre>
    <a href="/videos/publishing-with-blot.mp4" style="position: absolute;top:0;left: 0;right:0;bottom: 0"></a>

</background>

<style type="text/css">
  .vidlink {opacity: 0;transition: opacity 0.15s;background: rgba(0,0,0,0.5);border-radius: 12px}
  .vidlink svg {opacity: 0;transition: opacity 0.15s;}
  .vidlink:hover {opacity: 1.0;}
  .vidlink:hover  svg {opacity: 1.0}
  .vidlink svg {    width: 1rem;
    vertical-align: baseline;
    position: relative;
    top: 2px;
    left: 7px;
}
</style>


<style type="text/css">

.light {opacity: 0.5;}

.flex-table {max-width: 637px;}
.flex-table row {display: flex;flex-wrap:wrap;    }
.flex-table row > :first-child {min-width:190px;flex-shrink:0;padding-right: 1.4em;margin-bottom: 0}
.flex-table row > :last-child {flex-shrink: 1;
    flex-basis: 100px;
    min-width: 256px;
    flex-grow: 1;
    margin-left: 1.7em;}

.flex-table hr {    border: none;    
    border-bottom: 1px solid #eceff1;margin: 0}

h2 + ul.clients {margin-top: 0}
ul.clients.files .light {margin-left: 1.9rem}
</style>

<style type="text/css">
  img[src*='.svg'] {width: 20px;height: 20px;margin-right: 0.8em}
</style>
<h2 class="no-border">Sync your folder to Blot</h2>
<ul class="clients" >

  <li><a href="/how/sync/dropbox">
    <img src="/how/sync/dropbox.svg">
    <span class="a">Dropbox</span><br><span class="light">Use a folder in your Dropbox</span></a></li>

  <li><a href="/how/sync/git">
    <img src="/how/sync/git.svg">
    <span class="a">Git</span><br><span class="light">Use a git repository</span></a></li>

    
<li><a href="/how/sync/google-drive">

    <img src="/how/sync/google-drive.svg">

<span class="a">Google Drive</span><br><span class="light">Use a folder in your Drive</span></a></li>
</ul>
<h2 class="no-border">Files which become posts</h2>
 <ul class="clients files">
     <li><a href="/how/posts/text-and-markdown"><nobr><span class="icon md"></span> &nbsp;
       <span class="a">Text and Markdown</span><br><span class="light">.txt&nbsp; .md</span></nobr></a></li>
     
     <li><a href="/how/posts/images"><nobr><span class="icon img"></span> &nbsp;<span class="a">Images</span></nobr><br><span class="light">.png&nbsp;&nbsp;.jpeg&nbsp;&nbsp;.gif</span></a></li>

     <li><a href="/how/posts/word-documents"><nobr><span class="icon txt"></span> &nbsp;<span class="a">Word Documents</span></nobr><br><span class="light">.docx &nbsp;.odt</span></a></li>
     
     <li><a href="/how/posts/bookmarks"><nobr><span class="icon webloc"></span> &nbsp;<span class="a">Bookmarks</span></nobr><br><span class="light">.webloc&nbsp;&nbsp;.url</span></a></li>

     <li><a href="/how/posts/html"><nobr><span class="icon html"></span> &nbsp;<span class="a">HTML</span></nobr><br><span class="light">.html <!-- &nbsp; .htm --></span></a></li>

   </ul>
<h2>Prevent a file becoming a post</h2>
<p> Files and folders whose name starts with an underscore are ignored. Ignored files don’t become blog posts themselves but they can be <a href="#files-in-your-folder-are-public">embedded in posts</a>.</p>

<background>
  <pre class="folder" title="Your blog"><code>Drafts
Pages
Posts
  Posted.txt
  _Not_posted_due_to_filename.jpg
_Resources
  Not_posted_due_to_folder_name.png
</code>
    </pre>
</background>

<h2>Drafts</h2>

<p>Files in a folder called <em>Drafts</em> are not published. Instead, Blot creates a preview file which updates as you make changes to your draft. Preview files work on any computer connected to the internet and should be opened in your web browser. You can share the preview file with others.</p>

<background><pre class="folder" title="Your blog"><code>Drafts
  Anecdote.txt
  Anecdote.txt.html
  Unpublished.txt
  Unpublished.txt.html
Pages
Posts

</code></pre></background>

<h2>Files in your folder are public</h2>

<p>The files in your blog’s folder are public. This is useful if you want to embed an image, a video or an audio file in a blog post. You can also use this to share files with your readers. For example, given the folder below, your readers can download <em>Archive.zip</em> if they visit <em>/Files/Archive.zip</em> on your blog.</p>

<background><pre class="folder" title="Your blog"><code>Files
  Archive.zip
  index.html
Posts




</code></pre>
</background>

{{> video-player}}