<div class="inset">
  <p style="margin:42px 0 20px">Blot will create a new folder for <b style="font-weight:500">{{blog.title}}</b> inside your Dropbox. You can revoke Blot’s access to this folder at any point. Blot will not be able to access any other part of your Dropbox.</p><br />

  <form  action="{{{base}}}/disconnect" method="post">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <div class="buttons">
      <a href="{{{base}}}/authenticate/redirect">Connect to Dropbox</a>
      <input type="submit" value="Cancel">
</div>
  </form>
</div>