<div class="inset">
  <p>Connect your folder to Dropbox</p>
  
  <ul>
    <li>Blot will create a new folder for <b style="font-weight:500">{{blog.title}}</b> in your Dropbox.</li>
    <li>Blot will only be able to access the folder it creates in your Dropbox.</li>
    <li>You can revoke Blot’s access to this folder at any time.</li>
  </ul>

  <form  action="{{{base}}}/disconnect" method="post">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <div class="buttons">
      <a href="{{{base}}}/redirect">Connect to Dropbox</a>
      <input type="submit" value="Cancel">
    </div>
  </form>
</div>