<h2>Change your Dropbox account</h2>

{{#warning}}
<p class="box orange">{{{warning}}}</p>
{{/warning}}

<p>This blog is currently connected to <b>{{dropbox_email}}</b>’s Dropbox account. To use a different Dropbox account:</p>
<p>1. Visit <a href="https://www.dropbox.com" target="_blank">Dropbox.com</a> and make sure you are logged in to the Dropbox account you'd like to use.</p>
<p>2. Then press the button below to connect your other Dropbox account to Blot:</p>
<a href="/folder/authenticate?change_account=true" class="button">Connect to Dropbox</a>
