<h2>Connect to Dropbox</h2>
<hr>


{{#error}}
 <p class="box red" style="width:120%">Blot was unable to connect to your Dropbox. Please try again. <a class="link" href="/contact">Contact me</a> if this error keeps happening.</p>
{{/error}}

{{^account}}

<p style="width:130%;">Blot uses Dropbox to sync your blog. Blot can only access a single folder in your Dropbox. You can revoke Blot's access at any point on Dropbox's settings page.</p><br />
<a href="/clients/dropbox/authenticate/redirect" class="button">Connect to Dropbox</a>

{{/account}}

{{#account}}

<p>You are connected to the Dropbox account with the following info:<br><br>

email: {{email}}<br>
id: {{id}}<br>
folder: ~/Dropbox/Apps/Blot{{folder}} <a href="/clients/dropbox/change-folder">Choose a different folder</a><br>
token: {{token}}<br>
</p>

<a href="/clients/dropbox/authenticate/redirect" class="button">Re-connect to Dropbox</a>

{{/account}}