
<h2>Disconnect from Dropbox</h2>

  <form method='post'>

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <p>Are you sure you want to disconnect <b>{{account.email}}</b>’s Dropbox from Blot?</p>
  <p>Blot will not delete any files from your folder or your site. If you'd like to delete all your site's files, please remove them from your Dropbox folder before disconnecting your account.</p>

  <br>

  <input class="button" type="submit" value="Disconnect from Dropbox">
  <a class="button" href="/clients/dropbox">Cancel</a>

</form>