<div class="line" style="border-bottom: none;max-width: 600px">
  <p>If you disconnect your folder from Dropbox, changes you make in Dropbox will no longer sync to Blot. Your blog will remain as it is until you connect it to another service or tool.</p>
</div>

<form method='post' class="account" style="padding-top:0;margin-top:0">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  
  <div class="buttons">
    <input class="button" type="submit" value="Disconnect from Dropbox" />
    <a href="{{{base}}}">Cancel</a>
  </div>
</form>
