
<h2>Full access to your Dropbox folder</h2>

  <form method='post'>

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <p>Are you sure you want to give Blot permission to access all the files and folders in <b>{{account.email}}</b>’s Dropbox folder?</p>

  <p>Giving Blot full access to your folder will allow you to:</p>
  <ul>
  <li>Share your site's folder with other Dropbox users.</li>
  <li>Use a different folder for your site</li>
  </ul>
  <p>Please note that while I do my best to keep your personal data secure (and as far as I know it is) security breaches do happen. If you do store, have stored, or plan to store sensitive data inside your Dropbox folder, please think carefully before allowing Blot access to your full folder. Please don’t hesitate to <a href="/contact">contact me</a> if you have any questions. I'm basically trying to scare you because while I wanted to add this feature, I don't really want the responsibility.</p>

  <br>

    <a href="/clients/dropbox/authenticate/redirect?full_access=true" class="button">Allow Blot to access your entire Dropbox folder</a>
  <a class="button" href="/clients/dropbox">Cancel</a>

</form>