
<h2>Full access to your Dropbox folder</h2>
<hr>
  <form method='post' style="max-width:32em">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <p>If you give Blot full access to your Dropbox folder you will be able to:</p>
  <ul>
  <li>Share your blog’s folder with other people who use Dropbox</li>
  <li>Move and rename your blog’s folder</li>
  </ul>
  <p>If you store sensitive data in your Dropbox folder, <b>please contemplate the consequences of a security breach</b>. Consider using a throwaway Dropbox account, then sharing your blog’s folder with your main account and those of your collaborators.</p>

    <br>

    <a href="/clients/dropbox/authenticate/redirect?full_access=true" class="button">Grant full access to your Dropbox folder</a>
  <a class="button" href="/clients/dropbox">Cancel</a>

</form>