<div class="dropbox">
{{#account}}

  {{> status-line}}

      {{#error_code}}

      <a href="{{{base}}}/redirect{{#full_access}}?full_access=true{{/full_access}}" class="mess error">

        <b>Error</b><br><br>

        Blot cannot sync the folder for <b>{{blog.title}}</b>. You can probably fix this by reconnecting to Dropbox. If you can't fix this, please contact support. <br><br>

        <span class="button">Re-connect to Dropbox</span>
      </a>

      {{/error_code}}
    </div>
  </div>

  {{#dropboxBreadcrumbs.length}}
  <div class="line">
    <div class="label">Location on Dropbox</div>
    <div class="center">
      {{> location}}
   </div>
  </div>
  {{/dropboxBreadcrumbs.length}}

  {{#email}}
  {{^preparing}}
  <a class="line" href="{{{base}}}/edit">
  {{/preparing}}
  {{#preparing}}
  <div class="line">
  {{/preparing}}
    <span class="label">Account on Dropbox</span>
    <span class="center">{{email}}</span>
    {{^preparing}}
    <span class="right">Edit</span>    
    {{/preparing}}
  {{^preparing}}
  </a>
  {{/preparing}}
  {{#preparing}}
  </div>
  {{/preparing}}
  {{/email}}

  {{^preparing}}
  <a class="line" href="{{{base}}}/permission">
  {{/preparing}}
  {{#preparing}}
  <div class="line">
  {{/preparing}}
    <span class="label">Permission</span>
    {{#full_access}}
    <span class="center">Full folder</span>
    {{/full_access}}
    {{^full_access}}
    <span class="center">Apps folder only</span>
    {{/full_access}}
    {{^preparing}}
    <span class="right">Edit</span>    
    {{/preparing}}
  {{^preparing}}
  </a>
  {{/preparing}}
  {{#preparing}}
  </div>
  {{/preparing}}

  <a class="line" href="{{{base}}}/disconnect">
    <span class="label">Disconnect</span>
    <span class="link">Disconnect your folder from Dropbox</span>
  </a>

<br><br>

{{/account}}
</div>

<style type="text/css">.label {flex-basis:30%}</style>
<style type="text/css">
.inputMessage.working {background:#ff9800;display: block;}

.spinner > span {
  width: 1em;
  height: 1em;
  font-size: 0.8em;
  background-color: #ff9800;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}


@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

</style>

<script type="text/javascript">
  var evtSource = new EventSource("{{{dashboardBase}}}/status");
  var currentlyLoading;
  var lastStatus;
  var checkAgain;

  evtSource.onmessage = function(event) {

    // Fetch the latest folder state if we're not
    // already fetching it.
    if (currentlyLoading) {
      checkAgain = true;
      return;
    }

    currentlyLoading = true;

    loadFolder(function onLoad(){

      if (checkAgain === true) {
        checkAgain = false;
        return loadFolder(onLoad);
      }

      currentlyLoading = false;
    });

    lastStatus = event.data;
    document.getElementById('status').innerHTML = lastStatus;
  }


  function loadFolder (callback) {
   
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function (e) { 
      if (xhr.readyState == 4 && xhr.status == 200) {
        var parser = new DOMParser();
        var xml = parser.parseFromString(xhr.responseText, "text/html");
        var currentState = document.querySelector('.dropbox').innerHTML;
        var newState = xml.querySelector('.dropbox').innerHTML;
        if (newState === currentState) return callback();
        document.querySelector('.dropbox').innerHTML = newState;
        var statusDiv = document.getElementById('status');
        if (statusDiv) statusDiv.innerHTML = lastStatus;
        callback();
      }
    }

    xhr.open("GET", window.location, true);
    xhr.setRequestHeader('Content-type', 'text/html');
    xhr.send();
  }
</script>
