{{> status-line}}

{{#account}}

      {{#error_code}}

      <a href="{{{base}}}/redirect{{#full_access}}?full_access=true{{/full_access}}" class="mess error">

        <b>Error</b><br><br>

        Blot cannot sync the folder for <b>{{blog.title}}</b>. You can probably fix this by reconnecting to Dropbox. If you can't fix this, please contact support. <br><br>

        <span class="button">Re-connect to Dropbox</span>
      </a>

      {{/error_code}}

<div class="live-updates">

  {{#dropboxBreadcrumbs.length}}
  <div class="line">
    <div class="label">Dropbox folder</div>
    <div class="center">
      
<span style="margin-top:0em;display:inline-block;">
  <img src="/images/sync/dropbox.svg" style="position:relative;top:2px;flex-shrink:0;margin-right:2px" width="16">

  {{#dropboxBreadcrumbs}}
   <span style="color:var(--text-color)">{{name}} {{^last}}<span class="icon-small-chevron-right" style="opacity: 0.5;;position:relative;top:-3px;font-size: 12px;color:var(--light-text-color)"></span>{{/last}}</span>
  {{/dropboxBreadcrumbs}}

  <span style="color:rgb(158, 154, 152);max-width:500px;display: block;margin-top: 10px;font-size: 14px;">
      {{#preparing}}
      Please wait to make any changes to this folder until the set-up is complete.
      {{/preparing}}
      {{^preparing}}
       {{#full_access}}
       You can rename and move this folder anywhere within your Dropbox.
       {{/full_access}}
       {{^full_access}}
       You can rename this folder but if you want to move or share it you must grant <a href="{{{base}}}/permission" class="link">full-folder permission</a> to Blot.
       {{/full_access}}
      {{/preparing}}
      </span>
   </div>
  </div>
  {{/dropboxBreadcrumbs.length}}

  {{#email}}
  {{^preparing}}
  <a class="line" href="{{{base}}}/edit">
  {{/preparing}}
  {{#preparing}}
  <div class="line">
  {{/preparing}}
    <span class="label">Dropbox account</span>
    <span class="center">{{email}}</span>
    {{^preparing}}
    <span class="right">Edit</span>    
    {{/preparing}}
  {{^preparing}}
  </a>
  {{/preparing}}
  {{#preparing}}
  </div>
  {{/preparing}}
  {{/email}}

  {{^preparing}}
  <a class="line" href="{{{base}}}/permission">
  {{/preparing}}
  {{#preparing}}
  <div class="line">
  {{/preparing}}
    <span class="label">Dropbox permission</span>
    {{#full_access}}
    <span class="center">Full folder</span>
    {{/full_access}}
    {{^full_access}}
    <span class="center">App folder only</span>
    {{/full_access}}
    {{^preparing}}
    <span class="right">Edit</span>    
    {{/preparing}}
  {{^preparing}}
  </a>
  {{/preparing}}
  {{#preparing}}
  </div>
  {{/preparing}}
</div>

  {{> disconnect-line}}

{{/account}}

