<div class="line" style="border-bottom: none">
<p>Blot will move your existing files in Dropbox / Apps / Blot into a folder called <b>{{otherBlog.title}}</b> and create another folder called <b>{{blog.title}}</b>. Is that ok?</p>
</div>

<form method='post' class="account" style="padding-top:0;margin-top:0">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <div class="buttons">
    <input class="button" type="submit" value="Move those files" />
    <a href="{{{base}}}">Cancel</a>
  </div>
</form>
