{{#account}}

<form method='post' class="dashboard-form">
  
<div class="line" style="border-bottom: none;flex-direction: column;">
{{^full_access}}
    <p>You have granted <b>App folder</b> access to Blot for <b>{{blog.title}}</b>. This means you allow Blot to access a single folder in your Dropbox. If you give Blot <b>full access to your Dropbox</b>, you will be able to:</p>
  <ul>
  <li>Move your blog’s folder.</li>
  <li>Share your blog’s folder with other people who use Dropbox.</li> 
  </ul>
  <p>Unfortunately, Dropbox makes it impossible to move or share an <b>App folder</b> without granting full access to your Dropbox. You can avoid this by creating a second Dropbox account, granting full access to your second account on this page and then sharing your blog's folder from your second to your main Dropbox account.</p>
{{/full_access}}
{{#full_access}}

  <p>You have granted <b>full folder</b> access to Blot for <b>{{blog.title}}</b>. If you switch to <b>App folder</b> access, you will no longer be able to:</p>
  <ul>
  <li>Move <b>{{blog.title}}</b>'s folder </li>
  <li>Share <b>{{blog.title}}</b>'s folder with other people who use Dropbox.</li> 
  </ul>
{{/full_access}}
</div>


  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <div class="buttons">
    {{#full_access}}    
    <a href="{{{base}}}/redirect">Switch to an App folder</a>
    {{/full_access}}
    {{^full_access}}
    <a href="{{{base}}}/redirect?full_access=true">Grant full access to your Dropbox</a>
    {{/full_access}}
    <a href="{{{base}}}">Cancel</a>
  </div>
</form>

{{/account}}