<h1>Preparing your folder on Dropbox</h1>
<p>Follow the progress here</p>

<ul>
  <li class="done">Receiving permission to access your Dropbox</li>
  <li>Creating a folder in your Dropbox for <b>{{blog.title}}</b> <span class="spinner">
  <span class="bounce1"></span>
  <span class="bounce2"></span>
  <span class="bounce3"></span>
</span></li>
  {{#existing_files}}
  <li>Moving your existing files from Blot to your new Dropbox folder <span class="spinner">
  <span class="bounce1"></span>
  <span class="bounce2"></span>
  <span class="bounce3"></span>
</span></li>
  {{/existing_files}}
  <li>Getting Dropbox to sync changes to the new folder in future <span class="spinner">
  <span class="bounce1"></span>
  <span class="bounce2"></span>
  <span class="bounce3"></span>
</span></li>
</ul>

<div id="status"></div>

<form method='post' class="account" style="padding-top:0;margin-top:0">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <div class="buttons">
    <input class="button" type="submit" value="Cancel setup" />
  </div>
</form>







<style type="text/css">
  .spinner {
  width: 2em;
  text-align: center;
}

.spinner > span {
  width: 0.4em;
  height: 0.4em;
  background-color: #02b333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

</style>

<script type="text/javascript">
  var evtSource = new EventSource("{{{dashboardBase}}}/status");

  evtSource.onmessage = function(event) {
    console.log(event);


    document.getElementById('status').innerHTML = event.data;
  }
</script>