
<h2>Select Blot's folder</h2>


  <form method='post'>

  <input type="hidden" name="_csrf" value="{{csrftoken}}">


{{^folders.length}}
  Your folder is empty.
{{/folders.length}}

{{#folders}}

<label style="margin: 0">
<input type="radio" name="folder" value="{id: '{{id}}', path: '{{path_display}}}'" {{checked}}> <span style="color:#888"></span>{{path_display}}</label>
{{/folders}}

{{#folders.length}}
<input class="button" type="submit" name="" value="Select folder">
{{/folders.length}}

<br>

</form>