{{{appCSS}}}

body {
  font: normal 15px / 1.733333333 "Helvetica Neue",HelveticaNeue,Helvetica,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  color: #111
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-size: 16px;
  margin: 26px 0
}

h1 {font-size: 22px;}

a {color: inherit;text-decoration: none;font-weight: bold;}

blockquote {color: #585858;margin-left: 52px}

p, pre {margin: 26px 0}

hr {width: 100%;border: none;border-bottom: 1px solid rgba(0,0,0,0.15)}

.pull-left {
  font-size:12px;
  position:absolute;
  top:0;left:0;
  margin:16px 2px 0;
  line-height:1.333;
}

.header-area,
hr.full {
  border-top:1px solid rgba(0,0,0,0.15);
  padding:7px 0 0 125px;
  width:115%;
  margin: 26px 0 -21px -125px;
}

hr.full {padding: 0;border-bottom: 0}

.header-area {
  display:block;
  background:none;
  position:relative;
}

.header-area h1 {
  margin:0 0 40px
}

.avatar {
  width:36px;
  {{#roundAvatar}}
  border-radius:50%;
  {{/roundAvatar}}
  position:absolute;
  top:-3px;
  left:-48px
}

.entry {font-family: 'Libre Baskerville'}

.caption {
  font: 14px / 1.4333 "Helvetica Neue",HelveticaNeue,Helvetica,Helvetica,Arial,sans-serif;
  color: gray;
  display: block;
  margin: 0 0 13px 0
}

.entry a {
  text-decoration: none;
  text-shadow: .03em 0 #fff, -.03em 0 #fff, 0 .03em #fff, 0 -.03em #fff, .06em 0 #fff, -.06em 0 #fff, .09em 0 #fff, -.09em 0 #fff, 0 0.03em #fff, 0 -.03em #fff, 0 .06em #fff, 0 -.06em #fff, 0 .08em #fff, 0 -.08em #fff;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#000, #000);
  background-size: 0 0,0 0,0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 96%;
}

.entry a:hover {
  color: blue;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(blue, blue);
}

.entry a::selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

.entry a::-moz-selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

.margin a {font-weight: normal;}


/* IMAGE CAPTION */
.caption {display: block;}

/* IMAGE SIZE */
img {max-width: 100%;height: auto;}




.footnote-ref {
  font-size: 11px;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

/* LAYOUT */

.container {
  position: relative;
  max-width: 610px;
  margin:0 auto;
}

.margin {
  position: absolute;
  box-sizing: border-box;
  width: 29.3333%;
  overflow: auto;
  font-style: italic;
}


.left.margin {
  left: -29.3333%;
  padding-right: 26px;
  text-align: right;
}

.right.margin {
  right: -29.3333%;
  padding-left: 26px;
}

.wide {
  width: 158.6666667%;
  margin-left: -29.3333333%;
  overflow: auto; /* collapse internal margins */
}

.wide.left, .wide.right {width: 129.3333333%;float: none;}
.wide.left {margin: 0 0 0 -29.3333333%}
.wide.right {margin: 0 -29.3333333% 0 0}

.margin p,
.margin blockquote {margin-top: 0;margin-left:0;margin-right:0;padding: 0;color: inherit;}

.margin p img {margin-top: 5px}

.column {
  box-sizing: border-box;
  float: left;
}

.column.two {
  width: 50%;
  padding-right: 12px;
}

.column.three {
  width: 33%;
  padding-right: 24px;
}

.column.two + .column.two {
  padding: 0 0 0 12px;
}

@media screen and (max-width: 1060px) {

  .margin,
  .margin.right,
  .margin.left {position: relative;display: block;top: auto;left: auto;right: auto;bottom: auto;}

  .margin.right {float: right;}
  .margin.left {text-align: left;float: left;}

  .wide, .wide.left, .wide.right {width: 100%;margin: 0}

  .container {margin: 0}
}


@media screen and (max-width: 400px) {
  .margin {width: 40%;}
  .margin.right {padding-left: 16px;}
  .margin.left {padding-right: 16px;}
}

.katex {font-size: 1.15em}

pre, code {font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace;}

.hljs {
  display: block;
  overflow-x: auto;
}

.hljs-comment,
.hljs-quote {
  color: {{medium_text}};
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: {{dark_text}};
  font-weight: bold;
}

.hljs-number,
.hljs-literal {
  color: {{medium_text}};
}

.hljs-string,
.hljs-doctag,
.hljs-formula {
  color: {{medium_text}};
  background: {{light_background}}
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: {{dark_text}};
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.hljs-name {
  color: {{medium_text}};
  font-weight: bold;
}

.hljs-tag {
  color: {{medium_text}};
}

.hljs-regexp {
    color: {{medium_text}};
    background: {{light_background}}
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: {{dark_text}};
  background: {{light_background}}
}

.hljs-built_in,
.hljs-builtin-name {
  color: {{dark_text}};
  text-decoration: underline;
}

.hljs-meta {
  color: {{light_text}};
  font-weight: bold;
}

.hljs-deletion {
  color: {{background_color}};
  background: {{light_background}}
}

.hljs-addition {
  color: {{dark_text}};
  background: {{light_background}}
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

