{{> head}}
{{> header}}


<div cl
<div class="">
  <div class="w-75 mt2 fr pt4 mt4">
    <div class="measure">
      <div class="mb4 fw6">Privacy policy</div>
    <div class="mb3">
    Do not store sensitive information on Blot. The contents of your blog’s folder is hosted on Blot’s servers and can be accessed by visitors to your blog. Blot stores the following about you:
    </div>

    <ul class="mv3">
    <li class="mv0">Your email address and your password (hashed with bcrypt)</li>
    <li class="mv0">The blogs you run on Blot</li>
    <li class="mv0">A token to collect subscription payments through <a href="https://stripe.com">Stripe</a></li>
    <li class="mv0">A token to read and write to Blot’s folder in your <a href="https://dropbox.com">Dropbox</a></li>
    </ul>

    <div class="mv3">
    The only usage data Blot collects is the number of requests per day and the time it takes to handle each request. Blot may temporarily monitor URIs with exceptional response times.
    </div>

    <div class="mv2">
      You can <a href="/account/delete">delete your account</a> and all the data associated with it. Blot does not share the data it stores with third parties and will not unless compelled by law. 
    </div>

    <div class="mv3">

    <span class="yellow db">If you discover a security breach, please <a href="/contact">report it to me</a>. If there is a security breach, I promise to disclose it.</span>
    </div>
  </div>
  </div>
</div>


{{> footer}}