<!DOCTYPE html>
<html>
  {{> head}}
  <body style="display:flex">
  <label for="toggle">—<br>—<br>—</label>
  <input type="checkbox" name="toggle" id="toggle">
	<div class="left-col navigation" style="flex-grow:0;flex-basis:286px">
    <div class="js-toc" style="position:sticky;position: -webkit-sticky;top:26px;">&nbsp;</div>
    </div>
	<div class="spacer" ></div>
    {{#all_entries}}
    <div class="entry js-toc-content">
    	{{{html}}}
	</div>    
    {{/all_entries}}
	<div class="spacer" style="flex-grow:2"></div>
    {{> footer}}
  </body>
</html>