<head>
    <meta charset="utf-8">
    <title>{{> title}}</title>

    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="{{> title}}">
    <meta name="twitter:description" property="og:description" itemprop="description" content="{{> description}}">
    <meta name="description" content="{{> description}}">
    <meta name="twitter:image" content="{{{blogURL}}}/landing page/_arbor.png">
    <meta property="og:image" content="{{{blogURL}}}/landing page/_arbor.png">
    {{#entry}}
    <link rel="canonical" href="{{{absoluteURL}}}" />
    <meta property="og:url" content="{{{absoluteURL}}}">
    {{/entry}}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{> description}}">
    
	<link rel="preconnect" href="https://blotcdn.com">

	{{#avatar}}
    <link rel="icon" href="{{{avatar}}}" type="image/x-icon">
	{{/avatar}}
    
    <link rel="stylesheet" href="{{{cssURL}}}">
</head>