
      <form method='post' action='/update?_csrf={{csrftoken}}' enctype='multipart/form-data'>

          {{> status}}

            <h2 style="margin-top:0">Account</h2>
            <hr>
            <fieldset>

              <p>Your account is connected to Dropbox.<br> <a href="/account/change-dropbox">Change Dropbox account</a></p>

              <label>Name:
                <input type="text" name="user.name" value="{{user.name}}" placeholder=""/>
                <span class="error">{{errors.user.name}}</span>
              </label>

              <label>Email:
                <input class="noMargin" type="text" name="user.email" value="{{user.email}}" placeholder=""/>
                <span class="error">{{errors.user.email}}</span>
              </label>

              <br />

              <input class="button" type="submit" value="Save changes"/>

            </fieldset>
            <br />

            <h2>Billing</h2>
            <hr>

            <fieldset>
            {{#user.cancel_at_period_end}}

            <p>Your subscription was cancelled and you won't be charged again.  Your account will expire on <br/> <b>{{user.pretty.expiry}}</b>.</p>

            <p><a class="link" href="/restart-subscription">Restart my subscription</a></p>

            <p><a class="link red" href="/disable-account">Disable my account</a></p>

            {{/user.cancel_at_period_end}}

            {{#user.isFreeForLife}}
            <p>Since you were among the earliest to buy an account you can use Blot <b>for free</b> for as long as Blot exists!</p>

            <p><a class="link red" href="/disable-account">Disable my account</a></p>
            {{/user.isFreeForLife}}


            {{#user.isSubscribed}}
            <p>Your subscription will renew on <b>{{user.pretty.expiry}}</b>. You run {{user.pretty.amount}} blogs using Blot and your bill is <b>{{user.pretty.price}}</b> a year.</p>

            <a class="link" href="/update-billing">Update my payment information</a>
            <br /><br />
            <a class="link red" href="/cancel">Cancel my subscription</a>

            {{/user.isSubscribed}}
          </fieldset>
      </form>
    </div>


