.sites-list-container {
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
}

.sites {
  flex-grow: 1;
  min-width: none;
}

.site {
  position: relative;
}

a.blog-link {
  background-color: var(--background-color);
  transition: background-color 0.2s;
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-radius: 0;
  border: none;
  padding-left: 90px;
  border-top: 1px solid #eee;
  padding-right: 1rem;
  color: var(--accent-color);
}

a.blog-link .text-info {
  font-weight: 400;
  line-height: 1.4;
  padding: 12px 0;
  display: block;
  width: 100%;
}

a.blog-link:hover {
  background-color: #f0f4ff70;
}

a.blog-link .title {
  display: block;
}

a.blog-link .url {
  display: block;
  color: var(--light-text-color);
  font-weight: 400;
  height: 1.4em;
  font-size: var(--small-font-size);
}

button.logout {
  cursor: pointer;
  background: none;
  font-size: 14px;
  border: none;
  padding: 8px 12px;
  margin: 12px 0;
  font-weight: 600;
  color: rgb(153, 153, 153);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s;
}

button.logout:hover {
  background-color: #e4eafb;
  color: var(--accent-color);
}

button.logout svg {
  margin-left: 4px;
  fill: currentColor;
  position: relative;
  top: 3px;
  width: 14px;
  height: 14px;
}

form.create-site-button {
  position: absolute;
  top: 18px;
  right: 0;
}

form.create-site-button button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 24px;
  display: inline-block;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: 0.5em 0.75em;
  font-weight: 600;
}


.avatar {
  position: absolute;
  left: 0;
  top: 0em;
  width: 26px;
}

.avatar.round,
.avatar.true {
  border-radius: 50%;
}

p.sub {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 13px;
  color: #7e888e;
  font-weight: 500;
}


.dropdown {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 11px;
}

.dropdown a {
      box-shadow: rgba(0,0,0,0.1) 0 0 0 1px,rgba(0,0,0,0.1) 0 2px 4px;
    background: #fff;
    color: #0070e8;
    overflow: hidden;
      text-align: left;
  border-radius: 4px;
  width: 25%;
  padding:16px 24px;
  margin: 11px 20px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
}


@media (max-width:1600px) { .dropdown a { width: 30% } }
@media (max-width:1200px) { .dropdown a { width: 45% } }
@media (max-width:800px) { .dropdown a { width: 100% } }


.dropdown a.small {
  border-bottom: none;
  font-size: 14px
}

.dropdown a .avatar {
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -11px;
}

.dropdown  .fade-out {
  width: 2em;
  position: absolute;top: 0;right: 0;bottom: 0;
  background: -moz-linear-gradient(left,  rgba(255,254,252,0) 0%, rgba(255,254,252,0.75) 75%, rgba(255,254,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,254,252,0) 0%,rgba(255,254,252,0.75) 75%,rgba(255,254,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,254,252,0) 0%,rgba(255,254,252,0.75) 75%,rgba(255,254,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fffefc', endColorstr='#fffefc',GradientType=1 ); /* IE6-9 */
}

.dropdown a:hover .fade-out {
  background: -moz-linear-gradient(left,  rgba(247,250,252,0) 0%, rgba(247,250,252,0.75) 75%, rgba(247,250,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(247,250,252,0) 0%,rgba(247,250,252,0.75) 75%,rgba(247,250,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(247,250,252,0) 0%,rgba(247,250,252,0.75) 75%,rgba(247,250,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fffefc', endColorstr='#fffefc',GradientType=1 ); /* IE6-9 */
}

.homeLink {
  line-height: 24px;
  font-weight: 500;
}

.small.left.selected {
  color: #000;
}

.homeLink .avatar {
  position: absolute;
  left: -2em;
  top: -0.1em;
  width: 1.5em;
}

.homeLink .small {
  display: block;
  font-size: 11px;
  line-height: 11px;
  display: none;
}


.action {
  border-radius: 10em;
  display: block;
  text-align: center;
  color: #077aab;
  background: #d7f3ff;
  font-size: 1.2em;
  max-width: 480px;
  display: block;
  margin: 0 0 1em;
  line-height: 300%;
  padding: 0 1.66em 0 0;
}

.action:after {
  content: "→";
  border-radius: 100%;
  font-size: 1.33em;
  position: absolute;
  right: 1em;
  top: -0.1em;
}

.circle {
  text-align: center;
  display: inline-block;
  letter-spacing: 0.075em;
  border: 0.2em solid #ffbe3e;
  color: #ffbe3e;
  font-weight: 600;
  background: none;
  border-radius: 50%;
  padding: 1em 0.66em 0.66em;
  height: 4em;
  width: 4em;
  box-sizing: border-box;
  line-height: 0.8em;
  font-size: 1.25em;
  transform: rotate(-15deg);
  font-family: "Helvetica Neue", Helvetica, arial;
  margin: 1.33em 0 0.8em 0.8em;
  font-size: 2em;
  z-index: 10;
}

.circle .tiny {
  font-size: 0.7em;
  letter-spacing: 0.03em;
  color: inherit;
}

.circle .up {
  font-size: 0.6em;
  position: relative;
  top: -0.3em;
  margin-left: -0.22em;
}

.screenshots a {
  width: 31.5%;
  margin: 0 2% 0 -1%;
  display: block;
  float: left;
  cursor: zoom-in;
}

.softButton {
  border-radius: 3em;
  color: #077aab;
  background: #d7f3ff;
  padding: 0.33em 0.66em;
  margin: 0 0.33em;
  letter-spacing: 0.02em;
}

.softButton.minor {
  color: #687377;
  background: rgba(50, 67, 88, 0.07);
}

span.folder,
span.file {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
  background: url("/images/folder.svg") no-repeat center center;
  background-size: contain;
  position: relative;
  top: 0.3em;
}

.folder.green {
  background-image: url("/images/folder-green.svg");
}

span.file {
  background-image: url("/images/file.svg");
}

.underline,
.underlined a {
  color: blue;
  text-decoration: none;
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff,
    0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff,
    -0.12em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0 0.06em #fff, 0 -0.06em #fff,
    0 0.08em #fff, 0 -0.08em #fff;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(blue, blue);
  background-size: 0 0, 0 0, 0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 95%;
}

.underline.yellow-bg {
  text-shadow: 0.03em 0 #fff9af, -0.03em 0 #fff9af, 0 0.03em #fff9af,
    0 -0.03em #fff9af, 0.06em 0 #fff9af, -0.06em 0 #fff9af, 0.09em 0 #fff9af,
    -0.09em 0 #fff9af, 0.12em 0 #fff9af, -0.12em 0 #fff9af, 0 0.03em #fff9af,
    0 -0.03em #fff9af, 0 0.06em #fff9af, 0 -0.06em #fff9af, 0 0.08em #fff9af,
    0 -0.08em #fff9af;
}

.sortable>section {}

.sortable>section.isPage .button {
  display: none;
}

.sortable>section.isPage input {
  display: none;
}

.sortable>section.isPage label {
  border-color: rgba(0, 0, 0, 0);
  margin: 0;
  box-sizing: border-box;
}

.sortable>section.sortable-ghost {
  opacity: 0.15;
  background: #eee;
}











.wrapper {
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - 3em);
}

.head {
  height: 123px;
  padding-top: 20px;
}



#menu section,
#redirects section {
  padding: 0 0;
  border: none;
  margin-bottom: 12px;
  border:1px solid #eeeeec;border-radius: var(--border-radius);
}


#redirects section:last-child[id^="new_"] {
  border: 2px solid var(--accent-color)
}
#redirects .handle svg {
  fill: currentColor
}

#redirects .handle {
  padding: 6px 12px;
  color: var(--light-text-color);
  display: flex;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  align-items: center;
  border-right: 1px solid #eeeeec;
}

#redirects .handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}


#redirects .removeLink {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  border-left: 1px solid #eeeeec;
  color: red
}

#redirects .removeLink svg {
  margin-right: 4px;
}

#redirects section input {
  margin: 0;
  box-shadow: none;
  border: none;
}

#redirects section input:first-of-type {
  border-right: 1px solid #eeeeec;
}


.pageLink {
line-height: 48px;
    height: 48px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid;
    margin-left: -1px;
    padding: 0 8px;
    display: block;
    margin-top: 2px;
}

.lab[type="text"],
.val[type="text"],
.handle,
.removeLink,
.pageLink {
  border-color: rgb(202, 202, 202);
}

.lab[type="text"]:hover,
.val[type="text"]:hover,
.handle:hover,
.removeLink:hover,
.pageLink:hover {
  z-index: 2;
  border-color: #0079fc
}


.lab[type="text"] {
  border-radius: 0;
  margin-left: -1px;
  z-index: 0
}

.val[type="text"] {
  border-radius: 0;
  margin-left: -1px;
  margin-right: -1px
}

#menu button,
#redirects button {
  margin-left: 12px;
}

.removeLink {
  text-decoration: none;
  font-size: 12px
}


.last {
  flex-grow: 1
}





.gap-small {
  flex-grow: 1;
  flex-basis: 0px;
  flex-shrink: 1;
  max-width: 40px;
}

.gap {
  flex-grow: 1;
  flex-basis: 0px;
  flex-shrink: 1;
}

.middle {
  min-width: 400px;
  padding: 0 21px;
  flex-grow: 1;
  flex-basis: 500px;
  margin: 0
}

.external {
  color: #0070e8;
  /*border:1px solid;*/
  text-decoration: none;
  padding: 0 20px;
  background: #f5f3f4;
  display: inline-block;
  line-height: 42px;
}

.external.right {
  float: right;
}

.external .square {
  float: right;
  /*border-left:1px solid rgba(0,0,0,0.08);*/
  padding: 0 0 0 20px;
  margin-left: 20px
}

.external.right .square {
  float: left;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0 20px 0 0;
  margin: 0 20px 0 0
}

/*.external:hover .square {right: -2px}
*/
.toggle:not(.selected):hover,
.external:hover {
  text-decoration: underline;
}

.toggle:not(.selected):active,
.external:active {
  background: #e2e0de
}


.folder-box {
  margin: 0 0 0;
}

.row {
  display: flex;
}

.row a {
  padding: 11px 20px;
  flex-grow: 1;
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.opener {
  visibility: hidden;
  white-space: nowrap
}

.opener.show {
  visibility: visible
}

.toggle-container {
  color: #111;
  font-weight: 500;
  border-radius: 100%;
  padding: 13px;
  text-align: center;
}

.toggle-container:hover {
  background: rgba(0, 0, 0, 0.05);

}

.toggle-container:active {
  background: rgba(0, 0, 0, 0.1);

}



a.content-line {
  padding: 0 20px;
  display: block;
  line-height: 36px;
  text-decoration: none;
  height: 36px;
  overflow: hidden;
}

a.content-line:hover {
  background: #f7f4f2
}

a.content-line .folder,
a.content-line .file {
  float: none
}


.line-item {
  display: flex;
  font-size: 14px
}

.line-item .lab {
  flex-basis: 25%;
  text-align: right;
  margin-right: 10px;
  color: #aaa;
  flex-shrink: 0;
}

.line-item .val {
  flex-grow: 1
}

.line-item .lab b {
  color: #000;
  margin-bottom: 10px;
  display: block;
}

.line-item .link {
  background: #f7f4f2;
  flex-grow: 1;
  margin-left: 10px;
  padding: 4px 10px;
  text-align: center;
}

.line-item .link:first-child {
  margin-left: 0
}

.line-item .link span {
  display: none
}

.menu button:active {
  opacity: 0.8
}

.photo-holder {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 16px 0 0;color: #a5a5a5
}

.photo-holder img {
  vertical-align: text-bottom;
  max-width: 30px;
  max-height: 30px;
}

.photo-holder img.fallback {
  position:relative;top:1px;flex-shrink:0;margin-right:8px;opacity: 0.3;max-width: 32px;max-height: 32px;
}

.photo-holder.plus {
  border: 1px solid;
  width: 19px;
  margin: 5px 18px 0 2px;
  height: 19px;
  border-radius: 2px;
  line-height: 0.98
}


::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #ccc;
}

.subpage {
  background:#fff;border:1px solid #ddd;border-radius:4px
}

/* 
.status {
}

.status:before {
  content: " ";
  width: 1em;
  height: 1em;
  font-size: 0.8em;
  border-radius: 100%;
  position: absolute;
  left: -1.5em;
  top: 50%;
  margin-top:-0.5em;  
}

.status:before {
  background: #02b333 url("data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1jaGVjayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiIGZpbGw9IiNmZmYiPgo8cmVjdCB4PSItMC4wMTMiIHk9IjQuMjU4IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcgLTAuNzA3MiAwLjcwNzIgLTAuNzA3IDAuMDg5MSAxMC4xNzAyKSIgd2lkdGg9IjQuMzMiIGhlaWdodD0iMS42MTgiPjwvcmVjdD4KPHJlY3QgeD0iMi4yMjciIHk9IjIuODk5IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxIDAuNzA3MSAtMC43MDcxIC0wLjcwNzEgMTEuNjg3NyAyLjY4MzMpIiB3aWR0aD0iNi4xMjEiIGhlaWdodD0iMS43MjYiPjwvcmVjdD4KPC9zdmc+") no-repeat 45% center / 62%;
}

.status.error:before {
  background: #f85149 url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1iYW5nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDggOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxyZWN0IGZpbGw9IndoaXRlIiB4PSIyLjk4OSIgd2lkdGg9IjIuMDIzIiBoZWlnaHQ9IjUuNDcxIi8+CjxyZWN0IGZpbGw9IndoaXRlIiB4PSIyLjk4OSIgeT0iNi4zOSIgd2lkdGg9IjIuMDIzIiBoZWlnaHQ9IjEuNjEiLz4KPC9zdmc+') no-repeat center center / 62%;

}


.status.syncing:before,
.status.working:before {
  background: #ff9800;
  -webkit-animation: bounce 1.4s infinite ease-in-out both;
  animation: bounce 1.4s infinite ease-in-out both;
} */


@-webkit-keyframes bounce {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@keyframes bounce {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}


/* Paragraph tag containing form error messages */
.error, .success {
  display: block;
  margin-bottom: 2rem;
  padding: 12px 18px;
}

.error:empty, .success:empty {
  display: none;
}

.error {
  color: var(--error-text-color);
  background: var(--error-background-color);
}

.success {
  color: var(--success-text-color);
  background: var(--success-background-color);
}

