.sites-list-container {
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
}

.sites {
  flex-grow: 1;
  min-width: none;
}

.site {
  position: relative;
}

a.blog-link {
  background-color: var(--background-color);
  transition: background-color 0.2s;
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-radius: 0;
  border: none;
  padding-left: 90px;
  border-top: 1px solid #eee;
  padding-right: 1rem;
  color: var(--accent-color);
}

a.blog-link .text-info {
  font-weight: 400;
  line-height: 1.4;
  padding: 12px 0;
  display: block;
  width: 100%;
}

a.blog-link:hover {
  background-color: #f0f4ff70;
}

a.blog-link .title {
  display: block;
}

a.blog-link .url {
  display: block;
  color: var(--light-text-color);
  font-weight: 400;
  height: 1.4em;
  font-size: var(--small-font-size);
}

button.logout {
  cursor: pointer;
  background: none;
  font-size: 14px;
  border: none;
  padding: 8px 12px;
  margin: 12px 0;
  font-weight: 600;
  color: rgb(153, 153, 153);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s;
}

button.logout:hover {
  background-color: #e4eafb;
  color: var(--accent-color);
}

form.create-site-button {
  position: absolute;
  top: 18px;
  right: 0;
}

form.create-site-button button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 24px;
  display: inline-block;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: 0.5em 0.75em;
  font-weight: 600;
}





.small.left.selected {
  color: #000;
}




span.folder,
span.file {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
  background: url("/images/folder.svg") no-repeat center center;
  background-size: contain;
  position: relative;
  top: 0.3em;
}

.folder.green {
  background-image: url("/images/folder-green.svg");
}

span.file {
  background-image: url("/images/file.svg");
}

.underline {
  color: blue;
  text-decoration: none;
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff,
    0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff,
    -0.12em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0 0.06em #fff, 0 -0.06em #fff,
    0 0.08em #fff, 0 -0.08em #fff;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(blue, blue);
  background-size: 0 0, 0 0, 0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 95%;
}

.sortable>section {}

.sortable>section.isPage .button {
  display: none;
}

.sortable>section.isPage input {
  display: none;
}

.sortable>section.isPage label {
  border-color: rgba(0, 0, 0, 0);
  margin: 0;
  box-sizing: border-box;
}

.sortable>section.sortable-ghost {
  opacity: 0.15;
  background: #eee;
}











.wrapper {
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - 3em);
}


#menu section,
#redirects section {
  padding: 0 0;
  border: none;
  margin-bottom: 12px;
  border:1px solid #eeeeec;border-radius: var(--border-radius);
}


#redirects section:last-child[id^="new_"] {
  border: 2px solid var(--accent-color)
}
#redirects .handle svg {
  fill: currentColor
}

#redirects .handle {
  padding: 6px 12px;
  color: var(--light-text-color);
  display: flex;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  align-items: center;
  border-right: 1px solid #eeeeec;
}

#redirects .handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}


#redirects .removeLink {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  border-left: 1px solid #eeeeec;
  color: red
}

#redirects .removeLink svg {
  margin-right: 4px;
}

#redirects section input {
  margin: 0;
  box-shadow: none;
  border: none;
}

#redirects section input:first-of-type {
  border-right: 1px solid #eeeeec;
}


.pageLink {
line-height: 48px;
    height: 48px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid;
    margin-left: -1px;
    padding: 0 8px;
    display: block;
    margin-top: 2px;
}

.lab[type="text"],
.val[type="text"],
.handle,
.removeLink,
.pageLink {
  border-color: rgb(202, 202, 202);
}

.lab[type="text"]:hover,
.val[type="text"]:hover,
.handle:hover,
.removeLink:hover,
.pageLink:hover {
  z-index: 2;
  border-color: #0079fc
}


.lab[type="text"] {
  border-radius: 0;
  margin-left: -1px;
  z-index: 0
}

.val[type="text"] {
  border-radius: 0;
  margin-left: -1px;
  margin-right: -1px
}

#menu button,
#redirects button {
  margin-left: 12px;
}

.removeLink {
  text-decoration: none;
  font-size: 12px
}


.folder-box {
  margin: 0 0 0;
}


.menu button:active {
  opacity: 0.8
}

.photo-holder {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 16px 0 0;color: #a5a5a5
}


.photo-holder.plus {
  border: 1px solid;
  width: 19px;
  margin: 5px 18px 0 2px;
  height: 19px;
  border-radius: 2px;
  line-height: 0.98
}


::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #ccc;
}


/* 
.status {
}

.status:before {
  content: " ";
  width: 1em;
  height: 1em;
  font-size: 0.8em;
  border-radius: 100%;
  position: absolute;
  left: -1.5em;
  top: 50%;
  margin-top:-0.5em;  
}

.status:before {
  background: #02b333 url("data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1jaGVjayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiIGZpbGw9IiNmZmYiPgo8cmVjdCB4PSItMC4wMTMiIHk9IjQuMjU4IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcgLTAuNzA3MiAwLjcwNzIgLTAuNzA3IDAuMDg5MSAxMC4xNzAyKSIgd2lkdGg9IjQuMzMiIGhlaWdodD0iMS42MTgiPjwvcmVjdD4KPHJlY3QgeD0iMi4yMjciIHk9IjIuODk5IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxIDAuNzA3MSAtMC43MDcxIC0wLjcwNzEgMTEuNjg3NyAyLjY4MzMpIiB3aWR0aD0iNi4xMjEiIGhlaWdodD0iMS43MjYiPjwvcmVjdD4KPC9zdmc+") no-repeat 45% center / 62%;
}

.status.error:before {
  background: #f85149 url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1iYW5nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDggOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxyZWN0IGZpbGw9IndoaXRlIiB4PSIyLjk4OSIgd2lkdGg9IjIuMDIzIiBoZWlnaHQ9IjUuNDcxIi8+CjxyZWN0IGZpbGw9IndoaXRlIiB4PSIyLjk4OSIgeT0iNi4zOSIgd2lkdGg9IjIuMDIzIiBoZWlnaHQ9IjEuNjEiLz4KPC9zdmc+') no-repeat center center / 62%;

}


.status.syncing:before,
.status.working:before {
  background: #ff9800;
  -webkit-animation: bounce 1.4s infinite ease-in-out both;
  animation: bounce 1.4s infinite ease-in-out both;
} */


@-webkit-keyframes bounce {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@keyframes bounce {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}


/* Paragraph tag containing form error messages */
.error, .success {
  display: block;
  margin-bottom: 2rem;
  padding: 12px 18px;
}

.error:empty, .success:empty {
  display: none;
}

.error {
  color: var(--error-text-color);
  background: var(--error-background-color);
}

.success {
  color: var(--success-text-color);
  background: var(--success-background-color);
}

