<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <section class="wrapper narrow">
      <header>
        <section class="nav">
          <a class="logo">Blot</a>
        </section><br />
        <hr class="full" />
        <section class="clear"></section>
      </header>
      <section class="full">
        <p><b>Your account has been disabled.</b><br />If this was done in error please <a href="/contact">contact me</a> to re-enable your blog.</p>

        <p class="small darkText">Your blog and your posts are inaccessible but the files are still in your Dropbox. Some of your account information is still stored on Blot. If you would like to <b>permanently remove all data</b> associated with your account from Blot's database please <a href="/contact">contact me</a>.</p>

      <div class="clear"></div><br />
        <a href="/contact" class="button">Contact me</a>
    </section>
  </body>
</html>
