<h4>Export your data</h4>

{{#warning}}
<p class="box orange">{{warning}}</p>
{{/warning}}

<p>Blot stores various data about you, your blog{{^user.multipleBlogs}}s{{/user.multipleBlogs}} and your blog posts. On this page you can download most of that data as a JSON file. This file will include:</p>

<ul>
<li>Your account settings</li>
<li>Your blog settings</li>
<li>Your templates</li>
<li>Metadata for all of your blog posts</li>
</ul>

<p>This file will <b>not</b> include:</p>

<ul>
  <li>Your blog posts’ content. If you want to backup your blog posts, please make a copy of your blog’s folder directly.</li>
  <li>Your payment information, since it is not stored on Blot’s servers. <a href="https://stripe.com">Stripe</a> handles payments for Blot.</li>
</ul>

<a href="/account/export/account.json" target="_blank" class="button">Download your data</a>
