{{#breadcrumbs.length}}
<div class="sub nav" style="margin-bottom:1.4em;">

    {{#breadcrumbs}}

      {{#last}}
      <a href="{{url}}" style="font-size:16px">{{name}}</a>
      {{/last}}

      {{^last}}
      <a href="{{url}}" style="font-size:16px">{{name}}</a> <span style="margin:0 0.5em 0 -1.5em;color:gray">‣</span>
      {{/last}}

    {{/breadcrumbs}}

</div>
{{/breadcrumbs.length}}

    <section>


      {{#user.cancel_at_period_end}}
      <br />

      <section class="box orange">
        Your subscription will expire on <b>{{user.pretty.expiry}}</b>. <a class="link" href="/restart-subscription">Restart your subscription</a>.
      </section>
      {{/user.cancel_at_period_end}}

      <div class="files">



        {{#empty}}
          <p>This folder is empty.</p>
          <br />
          <br />
          <br />
          <br />
        {{/empty}}

        {{#contents}}

          {{#directory}}
          <a href="{{url}}">
            <span class="folder"></span>
            <span class="link">{{name}}</span>
            <span class="clear"></span>
          </a>
          {{/directory}}

          {{#entry}}
          <a href="{{blog.url}}{{url}}" target="_blank">
            <span class="file" ></span>
            <span class="link" style="">{{name}}</span>
            <span class="updated" style="color:gray;float:right">Updated a month ago</span>

            {{#draft}} <span style="color:#aaa">is a draft</span>{{/draft}}

            {{#scheduled}}
            <span style="color:#aaa">will be published {{toNow}}</span>{{/scheduled}}
            <span class="clear"></span>
          </a>
          {{/entry}}

          {{#ignored}}
          <span class="file"></span>
          <span class="link">{{name}}</span> <span style="color:#aaa">is {{{ignored}}}</span>
          <span class="clear"></span>
          {{/ignored}}

          {{! is a public file}}
          {{^ignored}}{{^entry}}{{^directory}}
          <a href="{{blog.url}}{{path}}" target="_blank" style="text-decoration:none">
            <span class="file"></span>
            <span class="link">{{name}}</span>
            <span class="clear"></span>
          </a>
          {{/directory}}{{/entry}}{{/ignored}}
        {{/contents}}

        <br />
      <div class="clear"></div>
    </div>


      <script type="text/javascript">
      var source = new EventSource('/status');
          source.onmessage = function(e) {

           var remaining = parseInt(e.data);
           var total = document.getElementById('total');
           var syncing = document.getElementById('syncing');
           var done = document.getElementById('done');

           var message = remaining + ' file';

           if (remaining === 0) {
            done.style.display = 'block';
            syncing.style.display = 'none';
            return;
           }

           if (remaining !== 1) message+='s';

           done.style.display = 'none';
           syncing.style.display = 'block';
           total.innerHTML = message;
          };
      </script>
    </section>
