
<style>
	a.blog-link {
		background-color: var(--background-color);
		transition: background-color 0.2s;
	}
	a.blog-link:hover {
		background-color: #f0f4ff70;
	}
</style>

<div style="min-height: 80vh;display: flex;flex-direction: column;">

	<div style="flex-grow: 1">  
		{{#blogs}}
		<div style="position: relative;">	
			<a href="/sites/{{handle}}" class="bordered-button blog-link" style="display: flex;justify-content: space-between;margin:0;border-radius: 0;border:none;padding-left: 90px;border-top: 1px solid #eee;">
				
				<span style="font-weight:400;line-height: 1.4;padding: 12px 0">
					<span class="title" >{{pretty.label}}</span><br>
					<span style="color:var(--light-text-color);font-weight:400;height:1.4em;font-size:var(--small-font-size)">{{pretty.url}}</span>
				</span>
				</button>
			</a>
			<div class="preview" style="height: 40px;width: 60px;overflow: hidden;
		position: absolute;top:10px;left: 1em;
		margin:4px 0 10px;
		box-shadow: inset 0 1px 0 #f5f4f5,0 -1px 0 rgba(0,0,0,.11),0 1px 0 rgba(0,0,0,.26),-1px 0 0 rgba(0,0,0,.13),1px 0 0 rgba(0,0,0,.13);
		border-radius: var(--border-radius);border-radius: var(--border-radius);">
				<iframe
					id="preview"
				style="height:800px;width:1200px;background:var(--background-color);transform: scale(0.05);    transform-origin: top left;"
				src="{{{previewURL}}}"
				></iframe>
			</div>
		</div>
		{{/blogs}}

		<a href="/sites/account/create-site" style="font-size:14px;margin-top:24px;display:  inline-block;border-radius: var(--border-radius);background-color: var(--accent-color);color:var(--background-color);padding:0.5em 0.75em;font-weight: 600;">
			<svg style="fill:currentColor;vertical-align: middle;position:relative;top:-0.1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z"></path></svg>
			New site</span>
		</a>
		<br><br><br>
	</div>
	<div>
		
		<div style="padding:11px 0;border-bottom: 1px solid var(--border-color);display: flex;justify-content: space-between;align-items: baseline;">
			<span style="display:block;font-weight: 400;color: var(--light-text-color);">Account</span>
		</div>
		<a class="line" href="/dashboard/account/email">
			<span class="label">Email address</span>
			<span class="center">{{user.email}}</span>
		<span class="right">Edit</span>
		</a>

		{{#user.hasPassword}}
		<a class="line" href="/dashboard/account/password">
			<span class="label">Password</span>
			<span class="center"><span class="link">Change password</span></span>
		</a>
		{{/user.hasPassword}} {{^user.hasPassword}}
		<a class="line" href="/dashboard/account/password/set">
			<span class="label">Password</span>
			<span class="center"><span class="link">Set password</span></span>
		</a>
		{{/user.hasPassword}}

		<a class="line" href="/dashboard/account/subscription" style="border-bottom: none;">
			<span class="label">Subscription</span>

			<span class="center"><span class="link">Manage subscription</span></span>
		</a>
			
		<form class="foot" action="/dashboard/account/log-out" method="post" style="border:none;background:none;padding:0 20px 0;font-size: 14px;color: var(--light-text-color);">


		<button
			type="submit"
			style="cursor:pointer;background:none;font-size:14px;border:none;padding:0 0;margin:0;color:rgb(153, 153, 153);"
		>
			Log out &thinsp;&rarr;
		</button></div>
		</form>
 	</div>
</div>