<form class="create-site-button" action="/sites/account/create-site" method="POST">
	<input type="hidden" name="timeZone" value="">
	<input type="hidden" name="_csrf" value="{{csrftoken}}">
	<input type="hidden" name="title" value="Untitled site">
	<button>
		<span class="icon-plus"></span>&thinsp; Create site
	</button>
</form>

<div class="sites-list-container">
	<div class="sites">
		{{#blogs}}
		<div class="site">
			<a href="/sites/{{handle}}" class="blog-link">
				<span class="text-info">
					<span class="title truncate">{{pretty.label}}</span>
					<span class="truncate url">{{pretty.url}}</span>
				</span>
			</a>
			<div class="preview">
				<iframe src="{{{previewURL}}}"></iframe>
			</div>
		</div>
		{{/blogs}}
	</div>

	<div>
		<form class="foot" action="/sites/account/log-out" method="post" style="float:right;background:none;padding:0 0 0;font-size: 14px;color: var(--border-color);">
			<button type="submit" class="logout">
				Log out &rarr;
			</button>
		</form>

		<span style="padding:11px 0;display:block;font-weight: 400;color: var(--light-text-color);">Account</span>
	</div>

	<div style="border-radius: 4px;border:1px solid var(--border-color);overflow: hidden;">
		<a class="line" href="/sites/account/email">
			<span class="label">Email</span>
			<span class="center">{{user.email}}</span>
			<span class="right">Edit</span>
		</a>

		{{#user.hasPassword}}
		<a class="line" href="/sites/account/password">
			<span class="label">Password</span>
			<span class="center"><span class="link">Change password</span></span>
		</a>
		{{/user.hasPassword}}
		{{^user.hasPassword}}
		<a class="line" href="/sites/account/password/set">
			<span class="label">Password</span>
			<span class="center"><span class="link">Set password</span></span>
		</a>
		{{/user.hasPassword}}

		<a class="line" href="/sites/account/subscription" style="border-bottom: none;">
			<span class="label">Subscription</span>
			<span class="center"><span class="link">Manage subscription</span></span>
		</a>
	</div>
</div>