{{#blogs}}
<p>
  <a href="/dashboard/{{ handle }}">
    {{#avatar}}
    <img src="{{ avatar }}?handle={{ handle }}" width="32" />
    {{/avatar}}
    {{^avatar}}
    <img src="/images/folder-empty.svg" class="fallback" width="32" />
    {{/avatar}}
    <b>{{ pretty.label }}</b>
    {{ pretty.url }}
  </a>
</p>
{{/blogs}}

<p>
  <a href="/dashboard/account/create-blog"> New blog </a>
</p>

<br /><br />
<hr />

<span>Your account</span>
<p>
  <a href="/dashboard/account/email">
    Email
    {{ user.email }}
    Edit
  </a>
</p>

<p>
  <a
    href="/dashboard/account/password{{^user.hasPassword}}/set{{/user.hasPassword}}">
    Password
    {{#user.hasPassword}}Change{{/user.hasPassword}}
    {{^user.hasPassword}}Set{{/user.hasPassword}} your password
  </a>
</p>

<p>
  <a href="/dashboard/account/subscription">
    Subscription Manage your subscription
  </a>
</p>
