
        <h2 style="margin-top:0">Verify your blog</h2>
        <hr>
        <p>This tool will sync your blog's folder then check your blog is in order. If have any questions or encounter a bug <a href="/contact">please contact me</a>. If a file is not showing up, please verify that it has been synced successfully by Dropbox.</p>

        <Br />

        <button id="start" class="button">Start verification</button>
        <Br />
        <Br />

          <div id="stream" style="color:#333;font-size:14px;font-family: Menlo, monospace">
          </div>