<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.9.0/metricsgraphics.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.9.0/metricsgraphics.min.js"></script>

<header>
  <select id="server">
    <option value="node">Node</option>
    <option value="nginx">Nginx</option>
    <option value="redis">Redis</option>
  </select>
  <select id="range">
    <option value="hour">Hour</option>
    <option value="day">Day</option>
    <option value="week">Week</option>
  </select>
</header>

<div id="charts"></div>

<script>
  // adjust the selects in the header so they match the query string if it exists
  const server = location.search
    ? location.search.split("server=")[1].split("&")[0]
    : "node";
  const range = location.search ? location.search.split("range=")[1] : "hour";

  document.getElementById("server").value = server;
  document.getElementById("range").value = range;

  // when the selects are modified reload the page with the new query string
  document.getElementById("server").addEventListener("change", () => {
    location.search = `?server=${
      document.getElementById("server").value
    }&range=${document.getElementById("range").value}`;
  });

  document.getElementById("range").addEventListener("change", () => {
    location.search = `?server=${
      document.getElementById("server").value
    }&range=${document.getElementById("range").value}`;
  });

  fetch(`/dashboard/stats/stats.json?server=${server}&range=${range}`)
    .then(response => response.json())
    .then(stats => {
      const charts = Object.keys(stats[0])
        .filter(
          label => label !== "date" && typeof stats[0][label] === "number"
        )
        .sort()
        .map(label => {
          const data = stats.map(i => ({
            date: new Date(i.date),
            value: i[label]
          }));

          return {
            label,
            type: "line",
            legend: ["value"],
            data
          };
        });

      charts.forEach(chart => {
        const chartNode = document.createElement("div");
        document.getElementById("charts").appendChild(chartNode);

        MG.data_graphic({
          data: chart.data,
          chart_type: chart.type || "line",
          top: 100,
          width: 1000,
          height: 400,
          right: 90,
          bottom: 90,
          left: 100,
          brush: "xy",
          area: true,
          target: chartNode,
          legend: chart.legend,
          y_label: chart.label,
          yAxis: {
            extendedTicks: true
          }
        });
      });
    });
</script>
