<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        <div class="entry">
        {{#entry}}
          {{#date}}
          <a class="small date left margin" href="{{url}}">{{date}}</a>
          {{/date}}

          {{{html}}}

          {{#tags.length}}
          <br />
          <p>
            {{#tags}}
            <a class="small tag" href="/tagged/{{slug}}">{{name}}</a>
            {{/tags}}
          </p>
          {{/tags.length}}

          <div class="clear"></div>
          {{> pluginHTML}}
          <div class="clear"></div>


          {{#adjacent}}
          <hr class="full" />
          {{/adjacent}}

          {{#previous}}
          <a class="halfWidth left previousEntry" href="{{url}}">
            <h5>Previous post</h5>
            <span class="title">{{title}}</span>
            <span class="summary">{{summary}}</span>
          </a>
          {{/previous}}

          {{#next}}
          <a class="left halfWidth nextEntry" href="{{url}}">
            <h5>Next post</h5>
            <span class="title">{{title}}</span>
            <span class="summary">{{summary}}</span>
          </a>
          {{/next}}

        {{/entry}}
        </div>
        {{> footer}}
      </div>
    </div>
  </body>
</html>
