<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class=" {{^pagination.previous}}homefirstpage{{/pagination.previous}}">

  {{> header}}

  <!-- Content -->
  <main role="main" class="site-content">
    <div class="container">

      
      <div class="row mt-3">

        <div class="col-md-8 main-loop">

          <h4 class="font-weight-bold spanborder"><span>Archives</span></h4>

          {{#archives}}
          {{#months}}
          {{#entries}}
          <div class="mb-2 d-flex justify-content-between main-loop-card">
            <div class="pr-3">
  <a class="text-dark" href="{{{url}}}">{{title}} <small class="text-muted">
            {{#formatDate}}MMM DD, YYYY{{/formatDate}}
  </small></a>
             
              
  </small>
              
            </div>
            
          </div>
          {{/entries}}
          {{/months}}
          {{/archives}}


        </div>

        

      </div>

    </div>
  </main>
  {{> footer}}
</body>

</html>