<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class=" {{^pagination.previous}}homefirstpage{{/pagination.previous}}">

  {{> header}}

  <!-- Content -->
  <main role="main" class="site-content">
    <div class="container">

      <!-- Begin post excerpts, let's highlight the first 4 posts on top -->
      {{^pagination.previous}}
      <div class="row remove-site-content-margin">

        {{#entries}}
        <!-- latest post -->
        {{#first}}
        <div class="col-md-6">
          <div class="card border-0 mb-4 box-shadow">
            <a href="{{{url}}}">
    <div style="background-image: url( {{{thumbnail.large.url}}}); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>     
    </a>
            <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
              <h2 class="h4 font-weight-bold">
    <a class="text-dark" href="{{{url}}}">{{title}}</a>
    </h2>
              <p class="card-text">
                <a class="excerpt" href="{{{url}}}">{{summary}}</a>
              </p>
              <div>
                <small class="d-block text-muted">
            In <span class="catlist">
                  
                  {{#tags}}
                <a class="text-capitalize text-muted smoothscroll" href="/tagged/{{slug}}">{{tag}}</a><span class="sep">, </span>
                  {{/tags}}

                </span>                   
        </small>
                <small class="text-muted">
            {{#formatDate}}MMM DD, YYYY{{/formatDate}}
        </small>
              </div>
            </div>
          </div>
        </div>
        {{/first}}

        {{/entries}}
     
        <div class="col-md-6 clip-3">

          {{#entries}}
          {{^first}}
          <div class="mb-3 d-flex align-items-center">

            <div class="col-md-4">
              <a href="{{{url}}}" class="w-100">
    <div style="background-image: url( {{{thumbnail.large.url}}}); height: 80px;    background-size: cover;    background-repeat: no-repeat;"></div>     
    </a>
            </div>

            <div>
              <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{{url}}}">{{title}}</a>
                    </h2>
              <small class="d-block text-muted">
                        In <span class="catlist">
                        
                        {{#tags}}
                        <a class="text-capitalize text-muted smoothscroll" href="/tagged/{{slug}}">{{tag}}</a>{{^last}}, {{/last}}
                        {{/tags}}

                        
                        </span>                   
                    </small>
              <small class="text-muted">
            {{#formatDate}}MMM DD, YYYY{{/formatDate}}
                    </small>
            </div>
          </div>
          {{/first}}
          {{/entries}}

        </div>

      </div>

      <!-- Highlight (your own choice of highlighting a link, no post here) -->
      <div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mb-2rem bg-lightblue position-relative show-5">
        {{#entries}}
        <div class="pl-4 pr-0 h-100 tofront ">
          <div class="row justify-content-between ">
            <div class="col-md-6 pt-6 pb-6 align-self-center">
              <h1 class="mb-3">{{title}}</h1>
              <p class="mb-3 lead">
                {{summary}}
              </p>
              <a href="{{{url}}}" class="btn btn-dark">Read More</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{{thumbnail.large.url}}});"> </div>
          </div>
        </div>
        {{/entries}}
      </div>
      {{/pagination.previous}}

      <!--endif page url is / -->

      <!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->

      <div class="row mt-3">

        <div class="col-md-8 main-loop">

          <h4 class="font-weight-bold spanborder"><span>All Stories</span></h4>

          {{#entries}}
          <div class="mb-5 d-flex justify-content-between main-loop-card">
            <div class="pr-3">
              <h2 class="mb-1 h4 font-weight-bold">
  <a class="text-dark" href="{{{url}}}">{{title}}</a>
  </h2>
              <p class="excerpt">
                {{summary}}
              </p>
              <small class="d-block text-muted">
    In <span class="catlist">
      
      {{#tags}}
    <a class="text-capitalize text-muted smoothscroll" href="/tagged/{{summary}}">{{tag}}</a><span class="sep">, </span>
      {{/tags}}
    </span>
  </small>
              <small class="text-muted">
            {{#formatDate}}MMM DD, YYYY{{/formatDate}}
  </small>
            </div>
            <div class="col-md-3 pr-0 text-right">
              <a href="{{{url}}}">
  <img class="w-100" src="{{{thumbnail.large.url}}}" alt="Red Riding Hood">
  </a>
            </div>
          </div>
          {{/entries}}

          <div class="mt-5">
            <!-- Pagination links -->

            {{#pagination}}
            <ul class="pagination">

              {{^previous}}
              <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
              {{/previous}}

              {{#previous}}
              <li class="page-item"><a class="page-link" href="/page/{{previous}}">&laquo; Previous</a></li>
              {{/previous}}

              {{#next}}
              <li class="page-item"><a class="page-link" href="/page/{{next}}">Next &raquo;</a></li>
              {{/next}}

              {{^next}}
              <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
              {{/next}}

            </ul>
            {{/pagination}}

          </div>

        </div>

        <div class="col-md-4">
          <div class="sticky-top sticky-top-offset">
            <h4 class="font-weight-bold spanborder"><span>Featured</span></h4>
            <ol class="list-featured clip-5">

              {{#allEntries}}
              {{#tagged.featured}}
              <li class="mb-4">
                <span>
                <h6 class="font-weight-bold">
                    <a href="{{{url}}}" class="text-dark">{{title}}</a>
                </h6>
                <span class="d-block text-muted">
                    In <span class="catlist">
                      
                    {{#tags}}
                    <a class="text-capitalize text-muted smoothscroll" href="{{{url}}}">{{tag}}</a><span class="sep">, </span>
                {{/tags}}
                </span>
                </span>
                </span>
              </li>
              {{/tagged.featured}}
              {{/allEntries}}

            </ol>
          </div>
        </div>

      </div>

    </div>
  </main>
  {{> footer}}
</body>

</html>