<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="">

  {{> header}}

  <!-- Content -->
  <main role="main" class="site-content">

    {{#entry}}
    <div class="container">
      <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
        <div class="h-100 tofront">
          <div class="row  justify-content-between ">
            <div style="text-align:center" class="w-100  pr-0 pr-md-4 pt-4 pb-4 align-self-center">
              <p class="text-uppercase font-weight-bold">
                <span class="catlist">

                  {{#tags}}
                          <a class="sscroll text-danger" href="/tagged/{{slug}}">{{tag}}</a><span class="sep">, </span>
                {{/tags}}
                </span>
              </p>
              <h1 class="display-4 mb-4 article-headline">{{title}}</h1>
              <div class="d-flex align-items-center">

                <span  style="display:block" class="w-100 text-muted d-block mt-1">{{#formatDate}}MMM DD, YYYY{{/formatDate}} 
  
</span>
                </span>
                </small>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container-lg pt-4 pb-4">
      <div class="row justify-content-center">

        <div class="col-md-12 col-lg-8">

          <!-- Article -->
          <article class="article-post">
            {{{body}}}
          </article>

          <!-- Author Box -->

          

            <!-- Comments -->

            <!--  Don't edit anything here. Set your disqus id in _config.yml -->
            {{> pluginHTML}}

          </div>

        </div>
      </div>

      {{/entry}}
  </main>

  {{> footer}}
</body>

</html>