<!-- Navbar -->
  <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><strong>{{title}}</strong></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
          <!--  Replace menu links here -->
          {{#menu}}
          <li class="nav-item">
            <a class="nav-link" href="{{{url}}}">{{label}}</a>
          </li>
          {{/menu}}

        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center" style="flex-grow:1;padding-left:3em">

          <form class="bd-search hidden-sm-down w-100" action="/search">
            <input type="text" class="form-control text-small" id="lunrsearch" name="q" value="{{query}}" placeholder="Search">
          </form>
        </ul>
      </div>
    </div>
  </nav>