{{> sub_nav}}

<style type="text/css">
.plugin {width: 100%;padding:0;margin:0;float:none;}
input[type="checkbox"]{display:block;float:left;margin:0.2em 1em 0.2em 0}
form label {cursor: pointer;line-height: 1.5;}
</style>

<form method='post' action='?_csrf={{csrftoken}}'>
  {{#flags}}
    <label>
      <input type='hidden' value='off' name='{{name}}'>
      <input type="checkbox" name="{{name}}" {{checked}}/> {{name}}
    </label>
    <br />
  {{/flags}}
  <input class="button" type="submit" value="Save changes"/>  
</form>
