{{> sub_nav}}
<style type="text/css">
.plugin {width: 100%;padding:0;margin:0;float:none;}
input[type="checkbox"]{display:block;float:left;margin:0.2em 1em 0.2em 0}
form label {cursor: pointer;line-height: 1.5;}
</style>

<form method='post' action='?_csrf={{csrftoken}}'>


  {{#categories}}
  <h2>{{name}}</h2>
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label>
        <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
        <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        {{{description}}}
      </label>

      <div class="pluginOptions" style="padding-left:2em">
        {{{formHTML}}}
      </div>
    </div>
    {{/plugins}}
    <input class="button" type="submit" value="Save changes" style="margin:0 0 2em;"/>
    <br>
  {{/categories}}

    <h2>Date and time</h2>


    <label>
      What is your timezone?<br />
      <select name="timeZone" style="max-width:300px">
        {{#timeZones}}
          <option value="{{value}}" {{selected}}>{{time}} {{value}}</option>
        {{/timeZones}}
      </select>
    </label>

    <label>
      How do you write your dates?<br />
      <select name="dateFormat">
        {{#dateFormats}}
          <option value="{{value}}" {{selected}}>{{date}}</option>
        {{/dateFormats}}
      </select>
    </label>

    <label>
      How should the date appear on your blog?<br />
      <select name="dateDisplay">
        {{#displayFormats}}
          <option value="{{value}}" {{selected}}>{{date}}</option>
        {{/displayFormats}}
      </select>
    </label>


    <label>
      <input type='hidden' value='off' name='hideDates'>
      <input type="checkbox" name="hideDates" {{#blog.hideDates}}checked{{/blog.hideDates}}/> Hide the publish date for your posts
    </label>
    <br />

    <input class="button" type="submit" value="Save changes" style="margin:0 0 2em;"/>


    <h2>Redirects</h2>
    <p>

      Specify redirect rules below. View <a href="/404s">your blog's 404 log</a> .
    </p>

    <a id="addRedirect" class="button secondary">Add a rule</a>
    <a id="toggleTextarea" class="button secondary">Mass edit</a>
    <Br /><br />

    <section id="stage">

    <section id="redirects" class="fullRow sortable" style="max-width:100%">

    {{#redirects}}
      <section>
        <span class="handle" style="top:0.75em">&#9776;</span>
        <label>
          <input placeholder="from" type="text" name="redirects.{{index}}.from" value="{{from}}"/>
        </label>
        <label>
         <input placeholder="to" type="text" name="redirects.{{index}}.to" value="{{to}}"/>
        </label>
        <a style="top:1.5em" class="button small secondary removeLink" class="right">Delete</a>
        <span class="clear"></span>
      </section>
    {{/redirects}}
    </section>
  </section>

      <input class="button" type="submit" value="Save changes"/>



          <section id="new_redirect" style="display:none;background:rgba(255, 235, 0, 0.09)">
            <span class="handle">&#9776;</span>
            <label>
              <input placeholder="from" type="text" name="redirects.{{index}}.from" value=""/>
            </label>
            <label>
             <input placeholder="to" type="text" name="redirects.{{index}}.to" value=""/>
            </label>
            <a class="button small secondary removeLink" class="right">Delete</a>
            <span class="clear"></span>
          </section>

</form>
<section id="backstage" style="display:none">
<textarea name="redirects" style="line-height:1.333;font-size:16px;margin-bottom:1.5em;padding:0.1em;font-family:monospace">
{{#redirects}}
{{from}} {{to}}
{{/redirects}}
</textarea>
</section>