{{> sub_nav}}

<form method='post' action='/settings/redirects?_csrf={{csrftoken}}' style="max-width:660px">

<p>

  Specify redirect rules below. View <a href="/settings/404s">your blog's 404 log</a> .
</p>

<a id="addRedirect" class="button secondary">Add a rule</a>
<Br /><br />

<section id="redirects" class="fullRow sortable" style="max-width:100%">

{{#redirects}}
  <section>
    <span class="handle" style="top:0.75em">&#9776;</span>
    <label>
      <input placeholder="from" type="text" name="redirects.{{index}}.from" value="{{from}}"/>
    </label>
    <label>
     <input placeholder="to" type="text" name="redirects.{{index}}.to" value="{{to}}"/>
    </label>
    <a style="top:1.5em" class="button small secondary removeLink" class="right">Delete</a>
    <span class="clear"></span>
  </section>
{{/redirects}}
</section>


  <input class="button" type="submit" value="Save changes"/>



      <section id="new_redirect" style="display:none;background:rgba(255, 235, 0, 0.09)">
        <span class="handle">&#9776;</span>
        <label>
          <input placeholder="from" type="text" name="redirects.{{index}}.from" value=""/>
        </label>
        <label>
         <input placeholder="to" type="text" name="redirects.{{index}}.to" value=""/>
        </label>
        <a class="button small secondary removeLink" class="right">Delete</a>
        <span class="clear"></span>
      </section>

</form>
