<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container">
    {{> header}}
    <br />
    <div id="grid">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <script>document.getElementById("grid").className += 'hidden'</script>
        {{#entries}}
        <div class="entry" class="hideme">
          <a class="fullLink" href="{{{url}}}"></a>

          {{#thumbnail.medium}}
          <img src="{{{url}}}" width="{{width}}" height="{{height}}" />
          {{/thumbnail.medium}}

          {{^thumbnail.medium}}
          {{{teaser}}}
          {{/thumbnail.medium}}

          <div class="clear"></div>
        </div>
        {{/entries}}
        <script type="text/javascript">{{> grid}}</script>
        <div class="clear"></div>
    </div>
    {{#pagination}}
    <div class="pagination">
      {{#previous}}
        <a href="/page/{{previous}}">← Newer</a>
      {{/previous}}
      Page {{current}} of {{total}}
      {{#next}}
        <a href="/page/{{next}}">Older →</a>
      {{/next}}
    </div>
    {{/pagination}}
    {{> footer}}
    </div>
  </body>
</html>