{{#menu}}
<div class="nav fixed">

  <div class="center mw8">
    <a class="db fl pa5 pl0 {{index}}" href="/">Blot is a blogging platform</a>
    <a class="db fl pa5 {{help}}" href="/help">Documentation</a>        
    <a class="db fl pa5 {{contact}}" href="/contact">Support</a>        
    <a class="db fl pa5 {{log-in}}" href="/log-in">Log in</a>
    <a class="db fl pa5 pr0 {{sign-up}}" href="/sign-up"><span class="bustton">Sign up</span></a>
  </div>

</div>
{{/menu}}

<div class="wrapper">
<div class="center mw8"  style="padding-top:152px">
