<h1>Get started</h1>

<p>You can duplicate an existing template on the <a href="/settings/template">Template page</a> of your blog’s dashboard. You can then make changes to the template using the online editor.</p>

<h2>Edit templates locally</h2>

<p>You can download a ZIP file of the template’s source files from the web template editor. After downloading and unzipping the file, move the extracted files into your blog’s folder under the following subdirectory:</p>

<pre><code>/Templates/<TemplateName></code></pre>

<p>Blot will automatically build the template from the files placed in this directory. However, the new local template will not be installed on your site automatically. Instead, it will appear in the list of templates available on the web template editor, where you can select it to use on your site.</p>

<h2>Becoming proficient</h2>

<p>After you have browsed the developer documentation, consider duplicating a copy of one of Blot's templates and reading its source code.</p>

<p class="tip">
  TIP: You can inspect the JSON data used to render a template if you append the query string <code>?debug=true</code> to any URL on your blog.
</p>