<h1>Developers</h1>
<style type="text/css">
overlap {
  position: relative;
  margin: 2em 0;
  display: block;
  padding: 1.5em 0
}

overlap window {
  width: 65.5%
}

overlap window:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1
}
</style>

<p>How to create a template or modify <a href="/templates">an existing template</a> on Blot.</p>

<ul class="clients">
  <li>
    <a href="/developers/get-started">
    <span><span class="a">Get started</span>
      <span class="icon-small-chevron-right align-right"></span>
    </span>
    </a>
  </li>

  <li>
    <a href="/developers/guides">
      <span><span class="a">Guides</span>
        <span class="icon-small-chevron-right align-right"></span>
      </span>
    </a>
  </li>
  <li>
    <a href="/developers/examples">
      <span><span class="a">Examples</span>
        <span class="icon-small-chevron-right align-right"></span>
      </span>
    </a>
  </li>
  <li>
    <a href="/developers/reference">
      <span><span class="a">Reference</span>
        <span class="icon-small-chevron-right align-right"></span>
      </span>
    </a>
  </li>
  <li>
    <a href="/developers/troubleshooting">
      <span><span class="a">Troubleshooting</span>
        <span class="icon-small-chevron-right align-right"></span>
      </span>
    </a>
  </li> 
   
</ul>


<h2>Getting help</h2>

<p>You are always welcome to <a href="/support">contact us</a> with your questions. If there's a chance your question might be useful to other template developers, feel free to post it in <a href="/questions">Questions</a>.</p>
