{{> header}}

<div class="home">
  
    <h2 class="post-list-heading">Posts</h2>
    <ul class="post-list">
      {{#entries}}
      <li>
        
        <span class="post-meta">{{date}}</span>
        <h3>
          <a class="post-link" href="{{{url}}}">
            {{title}}
          </a>
        </h3>
        {{#show_excerpts}}
          {{summary}}
        {{/show_excerpts}}
      </li>
      {{/entries}}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="/minima-social-icons.svg#rss'"></use></svg><a href="/feed.xml">Subscribe</a></p>

</div>

{{> footer}}