{{> header}}

{{#entry}}
<article class="post {{^page}}h-entry{{/page}}" {{^page}}itemscope itemtype="http://schema.org/BlogPosting"{{/page}}>

 <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{title}}</h1>
    {{^page}}
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{date}}
      </time>
      {{#author}}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{.}}</span></span>
      {{/author}}</p>
      {{/page}}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{{body}}}
  </div>

  {{> pluginHTML}}

  <a class="u-url" href="{{{url}}}" hidden></a>

</article>
{{/entry}}

{{> footer}}