</div>
</main>

<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <h2 class="footer-heading">{{title}}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {{#author}}
            {{.}}
            {{/author}}
            {{^author}}
            {{title}}
            {{/author}}
          </li>
          {{#email}}
          <li><a class="u-email" href="mailto:{{.}}">{{.}}</a></li>
          {{/email}}
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>{{description}}</p>
      </div>

      <div class="social-links">

        <ul class="social-media-list">
          {{#social.dribbble}}<li><a href="https://dribbble.com/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#dribbble"></use></svg></a></li>{{/social.dribbble}}
          {{#social.facebook}}<li><a href="https://www.facebook.com/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#facebook"></use></svg></a></li>{{/social.facebook}}
          {{#social.flickr}}<li><a href="https://www.flickr.com/photos/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#flickr"></use></svg></a></li>{{/social.flickr}}
          {{#social.github}}<li><a href="https://github.com/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#github"></use></svg></a></li>{{/social.github}}
          {{#social.instagram}}<li><a href="https://www.instagram.com/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#instagram"></use></svg></a></li>{{/social.instagram}}
          {{#social.linkedin}}<li><a href="https://www.linkedin.com/in/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#linkedin"></use></svg></a></li>{{/social.linkedin}}
          {{#social.pinterest}}<li><a href="https://www.pinterest.com/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#pinterest"></use></svg></a></li>{{/social.pinterest}}
          {{#social.mastodon}}<li><a rel="me" href="https://{{instance}}/@{{username}}" title="{{username}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#mastodon"></use></svg></a></li>{{/social.mastodon}}
          {{#social.twitter}}<li><a href="https://twitter.com/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#twitter"></use></svg></a></li>{{/social.twitter}}
          {{#social.youtube}}<li><a href="https://www.youtube.com/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#youtube"></use></svg></a></li>{{/social.youtube}}
          {{#social.youtube_channel}}<li><a href="https://www.youtube.com/channel/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#youtube"></use></svg></a></li>{{/social.youtube_channel}}
          {{#social.telegram}}<li><a href="https://t.me/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#telegram"></use></svg></a></li>{{/social.telegram}}
          {{#social.microdotblog}}<li><a rel="me" href="https://micro.blog/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#microdotblog"></use></svg></a></li>{{/social.microdotblog}}
          {{#social.googleplus}}<li><a href="https://plus.google.com/{{.}}" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#googleplus"></use></svg></a></li>{{/social.googleplus}}
          {{#social.rss}}<li><a href="/feed.xml" title="{{.}}"><svg class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#rss"></use></svg></a></li>{{/social.rss}}
        </ul>

      </div>
    </div>

  </div>

</footer>
<script src="{{{scriptURL}}}" type="text/javascript"></script>
</body>

</html>