<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{{> title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{{> description}}">
      {{#avatar}}
      <link rel="icon" href="{{{avatar}}}" type="image/x-icon">
      {{/avatar}}
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <br>
      <div style="max-width:640px;margin:0 auto">
      <a href="/" style="color:inherit;text-decoration:none;margin-right:1em">{{title}}</a>
      

        {{#menu}}
      <a style="color:inherit;text-decoration:none;margin-right:1em" href="{{url}}">{{label}}</a>&nbsp; 
      {{/menu}}
    </div>
    <br>    <br>   <br>    <br>   <br>    <br>   