<h1>Ask question</h1>

<div style="max-width: 637px;">
  <form method="POST" action="/questions/ask" id="new-question-form" class="qa-form">
    <input type="hidden" name="_csrf" value="{{csrf}}" />
    <div>
      <input type="text" name="title" id="title" placeholder="Title..."></input>
    </div>
    <div>
      <textarea type="text" name="body" id="body" placeholder="Question..."></textarea>
    </div>
    <div>
            <input type="text" name="tags" id="tags" placeholder="Tags..."></input>
</div>
    <div class="qa-form-actionarea">
      <button class="whitebutton" id="post-question-button">Post question</button>
      <span class="secondary-text">Markdown allowed</span>
    </div>

  </form>
</div>

<script>
  var buttonEl = document.getElementById('post-question-button');
  var titleEl = document.getElementById('title');
  var bodyEl = document.getElementById('body');

  function updateQuestionButtonState() {
    if (titleEl.value.trim() === '' || bodyEl.value.trim() === '') {
      buttonEl.setAttribute('disabled', '');
    } else {
      buttonEl.removeAttribute('disabled');
    }
  }

  updateQuestionButtonState();
  titleEl.addEventListener('keyup', updateQuestionButtonState);
  bodyEl.addEventListener('keyup', updateQuestionButtonState);
</script>