<h1>Ask a question</h1>

  <form method="POST" action="/questions/ask" id="new-question-form" class="qa-form" style="width: 100%;">
    <input type="hidden" name="_csrf" value="{{csrf}}" />
    <div>
      <input type="text" name="title" id="title" placeholder="Title of your question..."></input>
    </div>
    <br>
    <div>
      <textarea type="text" name="body" id="body" placeholder="Question..."></textarea>
    </div>
    <div>
            <script src="/js/tagify.js"></script>
            <link href="/css/tagify.css" rel="stylesheet" type="text/css" />


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@devhau/md-editor@1.0.4/dist/md-editor.min.css">
<script src="https://cdn.jsdelivr.net/npm/@devhau/md-editor@1.0.4/dist/md-editor.min.js"></script>

<script>
var editor = new mdEditor({ element: document.getElementById("body") });
</script>

    <div class="qa-form-actionarea">
      <button class="bordered-button" style="margin:2px 0;float:right;line-height:30px;border-radius:4px;white-space: nowrap;color:white;background:var(--accent-color);color:white;border:none;font-weight: 500;font-size: 18px;padding:8px" id="post-question-button">Post question</button>
      <span class="secondary-text"><a href="/how/posts/markdown">Markdown</a> allowed</span>
    </div>

  </form>
</div>

<script>
  var buttonEl = document.getElementById('post-question-button');
  var titleEl = document.getElementById('title');
  var bodyEl = document.getElementById('body');

  function updateQuestionButtonState() {
    if (titleEl.value.trim() === '' || editor.value().trim() === '') {
      buttonEl.setAttribute('disabled', '');
    } else {
      bodyEl.setAttribute('value', editor.value());
      buttonEl.removeAttribute('disabled');
    }
  }

  updateQuestionButtonState();
  titleEl.addEventListener('keyup', updateQuestionButtonState);
  bodyEl.addEventListener('keyup', updateQuestionButtonState);
</script>