<h1>Edit</h1>

{{#unless user}}
<p>Please, <a href="/log-in">log in</a> to ask a new question.</p>
{{/unless}}


{{#if user}}
<div style="max-width: 637px;">
  <form method="POST" class="qa-form">
    <input type="hidden" name="_csrf" value="{{csrf}}" />
    {{#if topic.title}}
    <div>
      <input type="text" name="title" id="title" value="{{topic.title}}"></input>
    </div>
    {{/if}}
    <div>
      <textarea type="text" name="body" id="body" >{{topic.body}}</textarea>
    </div>
    <div class="qa-form-actionarea">
      <button class="whitebutton" id="post-question-button">Save changes</button>
      <span class="secondary-text">Markdown allowed</span>
    </div>

  </form>
</div>

<script>
  var buttonEl = document.getElementById('post-question-button');
  var titleEl = document.getElementById('title');
  var bodyEl = document.getElementById('body');

  function updateQuestionButtonState() {
    if (titleEl.value.trim() === '' || bodyEl.value.trim() === '') {
      buttonEl.setAttribute('disabled', '');
    } else {
      buttonEl.removeAttribute('disabled');
    }
  }

  updateQuestionButtonState();
  titleEl.addEventListener('keyup', updateQuestionButtonState);
  bodyEl.addEventListener('keyup', updateQuestionButtonState);
</script>
{{/if}}