<h1>Questions</h1>



  <form action="/questions" style="margin-top:0rem;margin-bottom:0.5rem;display: flex;align-items: flex-end;">
    <p style="margin: 0;flex-basis: 50%">
  <input type="text" style="font-size:15px;border-radius:16px 0 0 16px;width: 100%;padding-top: 6px;padding-bottom: 6px;padding-left: 16px" type="search" id="search" name="search" value="{{search_query}}" placeholder="Search all questions" required="">
  </p>
  <input style="flex-basis: 15%;width: auto;margin:0;border-radius: 0 4px 4px 0;    padding: 0 1em;
    line-height: 32px;
    margin-bottom: 2px;border-radius: 0 16px 16px 0" type="submit" value="Search">
  <div style="flex-grow: 1"></div>
  <a class="bordered-button" style="margin:2px 0;line-height:30px;border-radius:16px;white-space: nowrap;" href="/questions/ask">Ask a question</a>
</form>
<br>

<div class="topics">
  {{#topics}}
  <div class="qa-question-link">
  <h2>
    <a href="/questions/{{id}}">{{title}}</a>
  </h2>
  <div class="question-preview" style="    margin-bottom: 4px;
">
    {{{body}}}
  </div>
  <div style="display: flex;margin-bottom: 16px">

    <div>
    {{#tags}}
      <a href="/questions/tagged/{{slug}}" class="secondary-text smaller" style="color:var(--accent-color);padding:4px 6px;border-radius: 4px;background: #eaf4ff;margin-right: 8px;">
        {{tag}}
      </a>
    {{/tags}}
    </div>
    <div style="flex-grow: 1"></div>
    <a href="/questions/{{id}}">

  <span class="secondary-text smaller" >asked {{asked}}&puncsp;&#8226;&puncsp;</span>
  <span class="secondary-text smaller">{{reply_count}} {{#singular}}reply{{/singular}}{{^singular}}replies{{/singular}}</span>
  </a>
  </div>
  {{/topics}}
</div>

{{#paginator}}
<div class="paginator">
  {{#pages}}
    {{^current}}
      <a class="whitebutton pagenum secondary-text" href="/questions/page/{{page}}">{{page}}</a>
    {{/current}}

    {{#current}}
      <a class="pagenum current">{{page}}</a>
    {{/current}}
  {{/pages}}

  {{#next_page}}
    <a class="next" href="/questions/page/{{next_page}}">Next</a>
  {{/next_page}}

  {{#topics_count}}
    <span class="total">{{topics_count}}&nbsp;questions</span>
  {{/topics_count}}
</div>
{{/paginator}}

<a href="/questions/feed.rss">Feed of latest questions</a>
