<h1>Tags</h1>

<style type="text/css">
  div.tags {
    display: flex;
    flex-wrap: wrap;
  }

  div.tags a {
    flex-basis: 33%;
    border:1px solid var(--light-border-color);
      border-radius: 4px;
    box-sizing: border-box;
    padding: 11px 20px;
    margin-bottom: 1rem
  }
</style>
<div class="tags">
  {{#tags}}
  <a class="tag-link" href="/questions/tagged/{{{tag}}}">{{tag}}<span style="display: block;color:rgba(0,0,0,0.5)">{{total}} questions</span></a>
  {{/tags}}
</div>

{{#paginator}}
<div class="paginator">
  {{#pages}}
    {{^current}}
      <a class="whitebutton pagenum secondary-text" href="/questions/tags/page/{{page}}">{{page}}</a>
    {{/current}}

    {{#current}}
      <a class="pagenum current">{{page}}</a>
    {{/current}}
  {{/pages}}

  {{#next_page}}
    <a class="next" href="/questions/tags/page/{{next_page}}">Next</a>
  {{/next_page}}

  {{#tags_count}}
    <span class="total">{{tags_count}}&nbsp;tags</span>
  {{/tags_count}}
</div>
{{/paginator}}
