<h1>Tags</h1>

<div class="tags">
  {{#tags}}
  <a href="/questions/tagged/{{{tag}}}">{{tag}}</a>
  {{/tags}}
</div>

{{#paginator}}
<div class="paginator">
  {{#pages}}
    {{^current}}
      <a class="whitebutton pagenum secondary-text" href="/questions/page/{{page}}">{{page}}</a>
    {{/current}}

    {{#current}}
      <a class="pagenum current">{{page}}</a>
    {{/current}}
  {{/pages}}

  {{#next_page}}
    <a class="next" href="/questions/page/{{.}}">Next</a>
  {{/next_page}}

  {{#topics_count}}
    <span class="total">{{topics_count}}&nbsp;questions</span>
  {{/topics_count}}
</div>
{{/paginator}}
