<h1>{{topic.title}}</h1>
<p>{{topic.body}}
  <br>
  <span class="secondary-text smaller">{{formatDaytime topic.created_at}}</span>
</p>

{{#if topics}}
<h2>Replies</h2>
{{#topics}}
<div>
  <p style="margin-bottom: 2em">
    {{body}}
    <br>
    <span class="secondary-text smaller">{{formatDaytime created_at}}</span>
  </p>
</div>
{{/topics}}
{{/if}}

{{#unless topics}}
<h2>No replies yet</h2>
{{/unless}}

{{#if user}}
<br>
<div style="max-width: 637px;">
<form method="POST" action="/questions/{{topic.id}}/new" id="new-reply-form" class="qa-form">
  <input type="hidden" name="_csrf" value="{{csrf}}" />
  <div>
    <textarea type="text" name="body" id="body" placeholder="Your reply..."></textarea>
  </div>
  <button class="whitebutton">Add reply</button>
</form>
</div>
{{/if}}