{{{appCSS}}}

body {
  font: normal 16px / 1.5 sans-serif;
  margin: 0;
  padding: 0;
  color: #111
}

.clear {width: 100%;display: block;clear: both;}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-size: 16px;
  margin: 26px 0
}

h1 {font-size: 20px;font-family: sans-serif;line-height: 1.3}

a {color: inherit;text-decoration: none;}

blockquote {color: #585858;margin-left: 52px}

hr {width: 100%;border: none;border-bottom: 1px solid rgba(0,0,0,0.15)}

#header, .entry {
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

.date {font-family: Menlo, monospace;
  float:left;
  margin:1em 0;color: #aaa;font-size: 13px}

#header {padding: 2em 4em;font-size: 14px;}
#header a {padding: 0.5em;margin: 0 0.5em;font-weight: bold;}
#header a:hover {background: #000;color: #fff}

.avatar {
  width:36px;
  {{#roundAvatar}}
  border-radius:50%;
  {{/roundAvatar}}
  position:absolute;
  top:-3px;
  left:-48px
}

.entry {font-family: Georgia, serif;font-size:15px;padding: 3em 4em;}
.entry h1:first-of-type {margin-top: 0.3em}

.contents {margin: 0 4em 0 8em;max-width: 800px}

.caption {
  font: 14px / 1.4333 sans-serif;
  color: gray;
  display: block;
  margin: 0 0 13px 0
}

.contents a {border-bottom: 1px solid black}
.margin a {font-weight: normal;}


/* IMAGE CAPTION */
.caption {display: block;}

/*
TYPOGRAPHIC SUBSTITUTION

This handles hanging punctuation.*/

.pull-double {margin-left:-.45em}
.push-double {margin-right:.45em}

.pull-single {margin-left:-0.25em}
.push-single {margin-left:0.25em}


/* IMAGE SIZE */
img {max-width: 100%;height: auto;}




.footnote-ref {
  font-size: 11px;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}




.katex {font-size: 1.15em}



.inside {max-width: 45%;overflow: auto;}
.inside p {margin-top: 0}

.right.inside {float: right;margin-left: 1em;}
.left.inside {float: left;margin-right: 1em}

pre, code {font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace;}

.hljs {
  display: block;
  overflow-x: auto;
}

.hljs-comment,
.hljs-quote {
  color: {{medium_text}};
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: {{dark_text}};
  font-weight: bold;
}

.hljs-number,
.hljs-literal {
  color: {{medium_text}};
}

.hljs-string,
.hljs-doctag,
.hljs-formula {
  color: {{medium_text}};
  background: {{light_background}}
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: {{dark_text}};
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.hljs-name {
  color: {{medium_text}};
  font-weight: bold;
}

.hljs-tag {
  color: {{medium_text}};
}

.hljs-regexp {
    color: {{medium_text}};
    background: {{light_background}}
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: {{dark_text}};
  background: {{light_background}}
}

.hljs-built_in,
.hljs-builtin-name {
  color: {{dark_text}};
  text-decoration: underline;
}

.hljs-meta {
  color: {{light_text}};
  font-weight: bold;
}

.hljs-deletion {
  color: {{background_color}};
  background: {{light_background}}
}

.hljs-addition {
  color: {{dark_text}};
  background: {{light_background}}
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

