html, body {margin: 0;padding: 0}

body {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons
    /*!System*/
  ;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  background-color: #fffefc;
  color: #333333;
  font-style: normal;
}


.documentation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.documentation main {
  max-width: 760px;
  padding: 1.5em;
  padding-right: 3em;
  box-sizing: border-box;
}

.documentation nav {
  width: 25%;
  padding: 6em 1.5em 0 0;
  margin-left: -10px
  box-sizing: border-box;
}

.documentation nav a {
  display: inline-block;
  position: relative;
  margin-left: 0.1em;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  cursor: pointer !important;
  color: #595959;
  font-size: 14px;
  text-decoration: none;
  word-wrap: break-word;
  background-color: transparent;
  transition: background-color .2s ease, color .2s ease;
}

.documentation .has-list > a {
  margin-left: -1.37em;
  padding-left: 1.975em;
}

.documentation nav li ul a,
.documentation nav > li:not(.has-list) > a
 {
    padding-left:0.5em;
  margin-left: 0;

}
.documentation nav a:hover {background-color: #f2f2f2;color: #292929;}

.documentation nav .has-list > a:before {
    background: url('https://developer.apple.com/design/human-interface-guidelines/images/menu-chevron_2x.png');
    background-repeat: no-repeat;
    background-size: 12px 6px;
    content: '';
    position: absolute;
    top: 0.75em;
    left: 10px;
    display: block;
    transform: rotate(-90deg);
    opacity: 0.5;
    width: 12px;
    height: 6px;
    background: url('https://developer.apple.com/design/human-interface-guidelines/images/menu-chevron.png');
    background-repeat: no-repeat;
    background-size: 12px 6px;
}

.documentation nav .index > a:first-child:hover {background: transparent;}
.documentation nav .index > a:first-child:before {
    background: url('/images/logo-new.svg');
    transform: none;
    background-size: 1em;
    width: 1em;
    top: 0.5em;
    opacity: 0.3;
    left: 6px;
    height: 1em;
    background-repeat: no-repeat;
}

.documentation nav input {display: none;}
.documentation nav label {position: absolute;top: 0;left: 0;bottom: 0;right: 0;cursor: pointer;}

.documentation nav :checked ~ a:before {
  transform: rotate(0);
}

.documentation nav .selected>a{
  font-weight: 600;
  color: black;
}

.documentation nav ul {
  margin-bottom: 1em;
  margin-left: -10px;
  margin-top: -0.25em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.documentation nav ul ul {
    display: none;

}
.documentation nav input:checked ~ ul {display: block;}

.documentation nav li {
  margin-bottom: 0.1em;
}

.documentation nav li ul {
    list-style: none;
    margin-bottom: 1em;
    margin-left: 0.25em;
    padding-top: 5px;
}

.documentation nav hr {
  margin-top: 10px;
  margin-bottom: 8px;
  width: 75%;
}


hr {
  border-top: 1px solid #e6e6e6;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  height: 1px;
  margin: 64px 0 0 0;
}

h1+*,
h2+*,
h3+*,
h4+*,
h5+*,
h6+* {
  margin-top: 0.8em;
}

.documentation main > p:first-child {
    padding-top: 60px;
}

.documentation h2 {
  color: inherit;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  padding-top: 70px;
  margin-top: 0
}

.documentation h3 {
  font-weight: 400;
  font-size: inherit;
  border-bottom: 1px solid;
  margin: 3em 0 0.735em;
  padding-bottom: 0.735em
}

.documentation h3 + * {margin-top: 0}

p {
  margin: 1em 0 1.25em;
}

p a {
    color: inherit;
    border-bottom: 1px solid #bfbcba;
    text-decoration: none;
    transition-property: color,border-color;
    transition-duration: .1s;
    transition-timing-function: ease-out;
}

img {max-width: 100%;max-height: 100vh;height: auto;width: auto;}


table {
    width: 100%;
    margin-bottom: 3em;
    font-size: 14px;
    word-wrap: normal;
    table-layout: fixed;
    display: table;
    overflow: hidden;
    overflow-x: auto;
}

table thead tr {
    border-bottom: 1px solid #333;
}


.documentation nav a.button {
    font-weight: 400;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #2c8830;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    margin: 0.7em 0.7em;
    text-align: center;
    white-space: nowrap;
}
.documentation nav a.button.light {
  color: #929292;
  margin-left: 0
}