<h1>Dropbox</h1>

<p>    
You can synchronize your blog's folder to Blot with <a href="https://www.dropbox.com">Dropbox</a>, a file hosting service available on most platforms. You can switch your blog seamlessly to another client at any point.</p>

<h2>Can Blot access all the files in my Dropbox?</h2>

<p>
  No, Blot only requests access to your blog’s folder in your Dropbox by default. However, you can choose to grant Blot <a href="/how/sync/dropbox">special access to your entire Dropbox</a>. Only ever do this if you want to move your blog’s folder, or share it with other people who use Dropbox.
</p>

<h2>Bandwidth limits</h2>

<p>Dropbox’s <a href="https://www.dropbox.com/help/security/banned-links#traffic">traffic limits</a> do not apply because Blot hosts the contents of your folder on its own server.</p>

<h2>Using your phone or tablet</h2>

<p>There are a number of text-editing apps for phones and tablets which integrate beautifully with Dropbox. I use <a rel="nofollow" href="https://ia.net/writer">iA Writer</a> and I've heard from a number of customers who use <a rel="nofollow" href="https://bear.app/">Bear</a> and <a rel="nofollow" href="https://ulysses.app/">Ulysses</a>.</p>

<h2>Multiple blogs</h2>

<p>
	You can create more than one blog using Dropbox. When you add a second blog, Blot moves the existing blog folder into a subfolder of the Dropbox App folder, then creates a second subfolder for the new blog. 
</p>

<h2>Switching client</h2>

<p>You can switch seamlessly from Dropbox to another client at any point:</p>

{{> client_list}}