<h1>Google Drive</h1>

<p>
You can connect your site's folder to Blot with <a href="https://www.google.com/intl/en_in/drive/">Google Drive</a>, a file hosting service available on most platforms. You can switch your site seamlessly to another client at any point.</p>

<h2>Can Blot access all the files in my Google Drive?</h2>

<p>
  Yes. Unfortunately due to the design of Google Drive's API, Blot cannot request restricted access to a single folder. However, we promise to only access your site's folder and you can <a href="https://github.com/davidmerfield/Blot/tree/master/app/clients/google-drive">review the code responsible</a>.
</p>

<p>One workaround is to create a second Google Drive account to use as an airlock between your real Google Drive account and Blot. You would connect Blot to your second Google Drive account then share your site's folder using Google Drive with your real Google Drive account.</p>

<h2>Using your phone or tablet</h2>

<p>There are a number of text-editing apps for phones and tablets which integrate beautifully with Google Drive.</p>

<h2>Bandwidth limits</h2>

<p>Google Drive's <a href="https://apps.google.com/supportwidget/articlehome?hl=en&article_url=https%3A%2F%2Fsupport.google.com%2Fa%2Fanswer%2F7338880%3Fhl%3Den&assistant_event=welcome&assistant_id=mega-bot-shared-drive&product_context=7338880&product_name=UnuFlow&trigger_context=a">traffic limits</a> do not apply because Blot hosts the contents of your folder on its own server.</p>


<h2>Multiple sites</h2>

<p>
	You can create more than one site using Google Drive. When you add a second site, Blot creates a second folder for the new site. 
</p>

<h2>Switching client</h2>

<p>You can switch seamlessly from Google Drive to another client at any point:</p>

<p><ul class="clients">
<li><a href="/how/sync/dropbox">
    <img src="/images/sync/dropbox.svg">


<strong>Dropbox</strong><br>A file hosting service with wide support</a></li>
	<li><a href="/how/sync/git">
        <img src="/images/sync/git.svg">

    <strong>Git</strong><br>An open source distributed version control system </a></li>
</ul></p>

{{> client_list}}
