<h1>Google Drive</h1>

<p>
You can connect your site's folder to Blot with <a href="https://workspace.google.com/products/drive/">Google Drive</a>, which is available on most platforms. You can switch your site to another sync method at any time.</p>

<h2>Can Blot access all the files in my Google Drive?</h2>

<p>
  No, Blot only has access to your site’s folder.
</p>
  
<h2>Using your phone or tablet</h2>

<p>Many text editors for phones and tablets integrate with Google Drive.</p>

<h2>Bandwidth limits</h2>

<p>Google Drive’s <a href="https://support.google.com/a/answer/7338880">traffic limits</a> do not apply because Blot hosts your folder’s contents on its own servers.</p>

{{> not-synced}}

<h2>Multiple sites</h2>

<p>
  You can sync as many sites as you want with Google Drive. When you add a site, Blot creates a separate folder for it.
</p>


<h2>Switching sync method</h2>

<p>You can switch from Google Drive to another sync method at any time:</p>

{{> client_list}}
