<h1>iCloud</h1>

<p>
  You can connect your site's folder to Blot with
  <a href="https://www.iCloud.com">iCloud</a>, a file hosting service
  available on most platforms. You can switch your site seamlessly to another
  client at any point.
</p>

<h2>Can Blot access all the files in my iCloud?</h2>

<p>
  No, Blot only has access to your site’s folder.
</p>

<h2>Bandwidth limits</h2>

<p>
  iCloud’s traffic limits do not apply because Blot hosts the contents of your folder on its own server.
</p>

<h2>Multiple sites</h2>

<p>
  You can create more than one site using iCloud. 
</p>

<h2>Switching client</h2>

<p>You can switch seamlessly from iCloud to another client at any point:</p>

{{> client_list}}
