<h1>Sync folder</h1>
<p>
  You can use any of the following tools and
  services to sync your site's folder:
</p>

{{> client_list}}


<h2>Change method</h2>

<p>
  You can switch your site's folder from one method to another at any point. For
  example, if you want to use Git instead of Dropbox, Blot will seamlessly
  transition your folder's contents from one to the other, and you can pick up
  in Git where you left off in Dropbox.
</p>

<h2>Multiple sites</h2>

<p>
  Each of your sites is independent. You could use Dropbox with one site and Git with another. If you have multiple
  sites, they can all use the same Dropbox account, or different accounts.
</p>
