</div>
<script src="/js-jquery.js" type="text/javascript"></script>
<script src="/js-medium-zoom.js" type="text/javascript"></script>
<script src="/js-barba.js" type="text/javascript"></script>
<script src="/js-smoothscroll.js" type="text/javascript"></script>
<!-- For some reason Blot fucks up the rendering of this script so it's hosted offsite for now -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot.min.js" type="text/javascript"></script>
<script src="{{{scriptURL}}}" type="text/javascript"></script>
</body>
</html>