{{> header}}

<div style="display:flex">

<div style="flex-basis:40%;padding:1rem">
{{#entries}}
{{#first}}
<img src="{{thumbnail.medium.url}}">
<center>
<h1>{{title}}</h1>
<p>{{summary}}</p>
</center>
{{/first}}
{{/entries}}
</div>

<div style="flex-basis:30%;border:1px solid #f2f2f2;border-top:none;border-bottom:none;padding:1rem">
{{#entries}}
{{^first}}
<h3>{{title}}</h3>
<p>{{summary}}</p>
<hr>
{{/first}}
{{/entries}}
</div>

<div style="flex-basis:10%;padding:1rem">
{{#entries}}
{{^first}}
<h3>{{title}}</h3>
<p>{{summary}}</p>
{{/first}}
{{/entries}}
</div>
{{> footer}}