</div>
<script src="{{#asset}}js-jquery.js{{/asset}}" type="text/javascript"></script>
<script src="{{#asset}}js-medium-zoom.js{{/asset}}" type="text/javascript"></script>
<script src="{{#asset}}js-barba.js{{/asset}}" type="text/javascript"></script>
<script src="{{#asset}}js-smoothscroll.js{{/asset}}" type="text/javascript"></script>
<script src="{{#asset}}js-bigfoot.js{{/asset}}" type="text/javascript"></script>
<script src="{{#asset}}script.js{{/asset}}" type="text/javascript"></script>
<script type="text/javascript">$.bigfoot();</script>
</body>
</html>