</div>
<script src="{{#asset}}js-jquery.js{{/asset}}" type="text/javascript"></script>
<script src="{{#asset}}js-medium-zoom.js{{/asset}}" type="text/javascript"></script>
<script src="{{#asset}}js-barba.js{{/asset}}" type="text/javascript"></script>
<script src="{{#asset}}js-smoothscroll.js{{/asset}}" type="text/javascript"></script>
<!-- For some reason Blot fucks up the rendering of this script so it's hosted offsite for now -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot.min.js" type="text/javascript"></script>
<script src="{{#asset}}script.js{{/asset}}" type="text/javascript"></script>
</body>
</html>