<!DOCTYPE html>
<html>
  {{> head}}
	<body>
		
    <center style="height:1.3em;overflow:hidden">
      <a href="/">{{title}}</a>

            {{#menu}}
      <a href="{{url}}"  class="no-underline no-wrap db black-80 f6 fw6 "  title="{{label}}">{{label}}</a>
      {{/menu}}

      <hr>
      {{#popular_tags}}
        <a href="/tagged/{{slug}}"  class="no-underline no-wrap db f3 fw3 black-50"  title="{{slug}}">{{name}}</a>
      {{/popular_tags}}
      <hr>
    </center>
    <div>