{{> header}}

{{^archives.length}}
<div class="centered">
  <p>No posts yet.</p>
</div>
{{/archives.length}}

{{#archives.length}}
<div class="archives">
  <h1>Archives</h1>
  <div style="display:flex;flex-wrap:wrap;padding:0 1.3rem">
      <table class="hyper">
        <thead>
          <th></th>
          <th>Date</th>
          <th>Title</th>
          <th>Categories</th>
        </thead>
        {{#archives}}
        {{#months}}
        {{#entries}}
        {{> row_link}}
        {{/entries}}
        {{/months}}
        {{/archives}}
      </table>

  </div>
  {{/archives.length}}

  {{> footer}}
