{{> head}}

<div class="bio-container">

<div class="picture">
  <img src="/_Photo.jpg">
</div>

<div class="text">
  <h1>{{title}}</h1>
  {{> /Bio.txt}}
</div>
</div>

<div class="navigation">
{{#popular_tags}}
<a href="/tagged/{{slug}}" class="{{active}}">{{tag}}</a>
{{/popular_tags}}
</div>


<div class="masonry-grid">

<a class="grid-sizer" href="/"></a>

{{#allEntries}}
{{#tagged.paintings}}
<a class="grid-item" href="{{{url}}}">
<img src="{{{thumbnail.medium.url}}}" width="{{thumbnail.medium.width}}" height="{{thumbnail.medium.height}}">
<em>{{title}}</em>, {{date}}</a>
{{/tagged.paintings}}
{{/allEntries}}

</div>


{{> footer}}