<div style="padding: 11px 26px;">
<p style="max-width: 600px">The importer can turn a <a rel="nofollow" href="https://wordpress.com/support/export/">Wordpress export XML file</a> into an archive (.zip) containing markdown files. The importer downloads images in your posts and stores them with the markdown files.</p>
<br>

<form method="POST" enctype='multipart/form-data' action="{{{importBase}}}/wordpress">
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <label style="border-radius:4px;border:1px solid rgba(0,0,0,0.05);display:block;padding: 11px 20px;margin-bottom:6px;cursor:pointer;box-sizing: border-box;">
      
      <span style="margin-top:0;color:rgb(158, 154, 152);font-size:14px;display:inline;margin-right:10px">Select XML file:</span>

      <input type="file" id="exportUpload" name="exportUpload" accept=".xml" style="display:inline;margin:0;cursor: pointer;">
      </label>

  <div class="buttons">
    <button type="submit">Upload XML file</button>
    <a href="{{{importBase}}}">Cancel</a>
  </div>
</form>

</div>