###### System ######

*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

####### Blot #######

config/secrets/
config/flags.json

scripts/folder/dumps

*.rdb
*.log

blogs/*
cache/*
static/*
tmp/*

# Eventually ignore all node_modules directories
node_modules/*
app/dashboard/routes/importer/**/node_modules
app/models/blog/lock/node_modules
app/clients/**/node_modules

data
secrets