###### System ######

*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

####### Blot #######

.env
*.rdb
*.log

data

# Eventually merge into one 'data' folder
blogs/*
cache/*
static/*
tmp/*
scripts/deploy/out/*
config/nginx/server.conf

# Eventually ignore all node_modules directories
node_modules/*
config/openresty/node_modules/*