services:
  
  test-redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  tests:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    depends_on:
      - test-redis
    environment:
      - NODE_ENV=test
      - TEST_PATH=${TEST_PATH}
      - DEBUG=${DEBUG}
      - BLOT_REDIS_HOST=test-redis
      - BLOT_HOST=local.blot
      - BLOT_IP=${BLOT_IP}
      - BLOT_SESSION_SECRET=${BLOT_SESSION_SECRET}
      - BLOT_WEBHOOKS_SECRET=${BLOT_WEBHOOKS_SECRET}
      - BLOT_STRIPE_KEY=${BLOT_STRIPE_KEY}
      - BLOT_STRIPE_SECRET=${BLOT_STRIPE_SECRET}
      - BLOT_STRIPE_PRODUCT=${BLOT_STRIPE_PRODUCT}
      - BLOT_PAYPAL_CLIENT_ID=${BLOT_PAYPAL_CLIENT_ID}
      - BLOT_PAYPAL_SECRET=${BLOT_PAYPAL_SECRET}
      - BLOT_PAYPAL_MONTHLY_4=${BLOT_PAYPAL_MONTHLY_4}
      - BLOT_PAYPAL_YEARLY_44=${BLOT_PAYPAL_YEARLY_44}
      - BLOT_PAYPAL_MONTHLY_5=${BLOT_PAYPAL_MONTHLY_5}
      - BLOT_PAYPAL_YEARLY_55=${BLOT_PAYPAL_YEARLY_55}
      - BLOT_DROPBOX_APP_KEY=${BLOT_DROPBOX_APP_KEY}
      - BLOT_DROPBOX_APP_SECRET=${BLOT_DROPBOX_APP_SECRET}
      - BLOT_DROPBOX_FULL_KEY=${BLOT_DROPBOX_FULL_KEY}
      - BLOT_DROPBOX_FULL_SECRET=${BLOT_DROPBOX_FULL_SECRET}
      - BLOT_GOOGLEDRIVE_ID=${BLOT_GOOGLEDRIVE_ID}
      - BLOT_GOOGLEDRIVE_SECRET=${BLOT_GOOGLEDRIVE_SECRET}
    volumes:
      - ./app:/usr/src/app/app
      - ./tests:/usr/src/app/tests
      - ./config:/usr/src/app/config
    command: >
      sh -c "node tests $TEST_PATH"
