
    <label>
      What is your timezone?<br />
      <select name="timeZone" style="max-width:300px">
        {{#timeZones}}
          <option value="{{value}}" {{selected}}>{{time}} {{value}}</option>
        {{/timeZones}}
      </select>
    </label>

    <label>
      How do you write your dates?<br />
      <select name="dateFormat">
        {{#dateFormats}}
          <option value="{{value}}" {{selected}}>{{date}}</option>
        {{/dateFormats}}
      </select>
    </label>

    <label>
      How should the date appear on your blog?<br />
      <select name="dateDisplay">
        {{#displayFormats}}
          <option value="{{value}}" {{selected}}>{{date}}</option>
        {{/displayFormats}}
      </select>
    </label>

    <label>
      <input type='hidden' value='off' name='hideDates'>
      <input type="checkbox" name="hideDates" {{#blog.hideDates}}checked{{/blog.hideDates}}/> Hide the publish date for your posts
    </label>
