
    <label>
      Your username:<br>
      <input type="text" name="handle" value="{{blog.handle}}" style="width:50%;display:inline-block"/><span style="color:#888">.{{host}}</span>
      <span class="error">{{errors.handle}}</span>
    </label>

    <label>Personal domain:
    <div class="messageWrapper">
      <input type="text" id="customDomain" name="domain" value="{{blog.domain}}" placeholder="Your website's hostname"/>
      <span id="inputMessage" class="inputMessage"></span>
    </div>
    <span class="error">{{errors.domain}}</span>
    <span id="customHelper" class="lightText" style="position: absolute;right: -274px;width: 240px;top: 20px;line-height: 1.5;">
      To host your blog on a personal domain, create a CNAME record for the 'www' subdomain which points to <span class="selectable">{{host}}</span> <a href="/configuring/domain">Learn more</a>.</span>
    </label>

    {{#blog.domain}}
    <label>
      <input name='forceSSL' type='hidden' value='off' >
      <input name='forceSSL' type="checkbox" {{#blog.forceSSL}}checked{{/blog.forceSSL}}/> Redirect HTTP traffic to HTTPS
    </label>

 
    {{/blog.domain}}
