<a href="{{blog.url}}" style="width:100%;margin-left:-20px;" class="external" target="_blank" >Visit <b>{{blog.pretty.url}}</b> <span class="square">&rarr;</span></a>
<br>

<p>Your site comes with a Blot subdomain. You can also configure your site to use a domain you control. <a href="/configuring/domain">Read the guide</a>.</p>

  <input type="hidden" name="redirect" value="/settings/domain">
  


    <label>Your domain</label>
    <div class="messageWrapper">
      <input type="text" id="customDomain" name="domain" value="{{blog.domain}}" placeholder="Your website’s hostname"/>
      <span id="inputMessage" class="inputMessage"></span>
    </div>

    <span class="error" >{{errors.domain}}</span>

    {{#blog.domain}}
    <p class="mess error" style="    box-sizing: content-box;
border-radius:0;border:none;display:none;margin:20px -20px 0;padding: 8px 20px" id="warning">Please create a CNAME DNS record for the <b>www</b> subdomain which points to <b>{{host}}</b> or read the <a href="/configuring/domain">guide to using your own domain</a>.
    </p>

    <label>
      <input name='forceSSL' type='hidden' value='off' >
      <input name='forceSSL' type="checkbox" {{#blog.forceSSL}}checked{{/blog.forceSSL}}/> Redirect HTTP traffic to HTTPS
    </label>

{{#footer}}
<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script type="text/javascript">

  if ($('#customDomain').val()) {

   $.get('/verify-domain/' + $('#customDomain').val(), function(data) {

     if (data && data === 'true' || data === true) {

       $('#inputMessage').html('').addClass('success');

     } else {

       $('#inputMessage').html('!').addClass('warning');

       $('#warning').show();
     }
   });
  }

</script>
{{/footer}}
{{/blog.domain}}

    <label for="handle">
      Blot subdomain<br>
    </label>
    <div style="display:flex">
      <input type="text" name="handle" value="{{blog.handle}}" style="flex-grow:1;display:inline-block"/>
      <span style="color:#888;line-height:42px">&nbsp;.{{host}}</span>
    </div>