<p>Every blog comes with a Blot subdomain included. You can always access your site at this subdomain.</p>

<a href="{{blog.url}}" class="external" target="_blank" >Visit your blog <span class="square">&rarr;</span></a>

  <input type="hidden" name="redirect" value="/settings/domain">
  
    <label for="handle">
      Your username<br>
    </label>
    <div style="display:flex">
      <input type="text" name="handle" value="{{blog.handle}}" style="flex-grow:1;display:inline-block"/>
      <span style="color:#888">&nbsp;.{{host}}</span>
    </div>

    <label>Personal domain</label>

    <div class="messageWrapper">
      <input type="text" id="customDomain" name="domain" value="{{blog.domain}}" placeholder="Your website's hostname"/>
      <span id="inputMessage" class="inputMessage"></span>
    </div>

    <span class="error">{{errors.domain}}</span>

    {{#blog.domain}}
    <p class="mess error" style="    box-sizing: content-box;
border-radius:0;border:none;display:none;margin:0 -20px;padding: 8px 20px" id="warning">Please create a CNAME DNS record for the <b>www</b> subdomain which points to <b>{{host}}</b> or read the <a href="/configuring/domain">guide to using your own domain</a>.
    </p>

    <label>
      <input name='forceSSL' type='hidden' value='off' >
      <input name='forceSSL' type="checkbox" {{#blog.forceSSL}}checked{{/blog.forceSSL}}/> Redirect HTTP traffic to HTTPS
    </label>

{{#footer}}
<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script type="text/javascript">

  if ($('#customDomain').val()) {

   $.get('/verify-domain/' + $('#customDomain').val(), function(data) {

     if (data && data === 'true' || data === true) {

       $('#inputMessage').html('').addClass('success');

     } else {

       $('#inputMessage').html('!').addClass('warning');

       $('#warning').show();
     }
   });
  }

</script>
{{/footer}}
{{/blog.domain}}