{{> sub_nav}}

<form method='post' action='?_csrf={{csrftoken}}' enctype='multipart/form-data'>

{{^client}}

<a href="/settings/client" class="mess error">
     <span class="link">Select a client</span>
     Please select a client to sync your folder.
  </a>
{{/client}}

  <a class="line" href="/settings/title">
    <span class="label">Title</span>
    <span class="center">

      

      {{blog.title}}{{^blog.title}}<i>Untitled</i>{{/blog.title}}

    </span>
        <span class="right">Edit</span>

  </a>

  <a class="line" href="/settings/domain">
    <span class="label">Domain</span>
    <span class="center">{{blog.pretty.url}}</span>
    <span class="right">Edit</span>
  </a>


<a class="line" href="/settings/theme">
    <span class="label">Theme</span>
    <span class="center">{{#template.name}}
        {{template.name}}
        {{/template.name}}        {{^template.name}}<i>You are not using a theme</i>{{/template.name}}</span>
            <span class="right">Edit</span>

  </a>

  <a class="line" href="/settings/photo">
    <span class="label">Photo</span>
    <span class="center">

      {{^blog.avatar}}
      <span class="link">Choose a photo</span>
      {{/blog.avatar}}

      {{#blog.avatar}}
        <img style="max-width:64px;max-height:64px;margin:4px 8px 0 0;    vertical-align: baseline;
    display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
            <span class="link">Edit</span>    

      {{/blog.avatar}}
    </span>
      {{#blog.avatar}}
{{/blog.avatar}}
  </a>
  
  
  <a class="line" href="/settings/menu">
    <span class="label">Menu</span>
    <span class="center">
      {{#blog.menu}}<span class="tablet">{{label}}</span>{{/blog.menu}}

    {{^blog.menu.length}}<i>Your menu is empty</i>{{/blog.menu.length}}
    </span>
    <span class="right" style="padding-left:0">Edit</span>
  </a>


  



   <a class="line" href="/settings/date">
    <span class="label">Dates</span>
    <span class="center">
      {{^blog.hideDates}}{{#displayFormats}}{{#selected}}{{date}}{{/selected}}{{/displayFormats}}{{/blog.hideDates}}
      {{#blog.hideDates}}<i>Dates are hidden</i>{{/blog.hideDates}}
</span>
    <span class="right">Edit</span>

  </a>
  
  <a class="line" href="/settings/urls" >
    <span class="label">URLs</span>
    <span class="center">{{#permalinkFormats}}{{#checked}}{{example}}{{/checked}}{{/permalinkFormats}}</span>
    <span class="right">Edit</span>
  </a>

  <a class="line" href="/settings/services">
    <span class="label">Services</span>
    <span class="link">Configure analytics and other services
</span>

  </a>

{{#client}}
<a class="line" href="/settings/client/{{name}}">
    <span class="label">Client</span>
    <span class="center">{{display_name}}</span>
    <span class="right">Edit</span>
  </a>
  {{/client}}

  

</form>
