{{> sub_nav}}
<style type="text/css">
.plugin {width: 100%;padding:0;margin:0;float:none;}
input[type="checkbox"]{display:block;float:left;margin:0.2em 1em 0.2em 0}
form label {cursor: pointer;line-height: 1.5;}

.linkTo {color: black;display: block;padding:1em 0;text-decoration: none;}
.linkTo:hover {border:none;background: #eee}
</style>

<form method='post' action='?_csrf={{csrftoken}}' enctype='multipart/form-data'>



    <a class="linkTo" href="/settings/title">
      <b style="width:25%;display:block;float:left;font-weight:500">Title</b>
      <b style="color:gray;font-weight:500">{{blog.title}}</b>
      <span style="color:gray;float:right">Edit</span>
    </a>

    <hr style="margin: 0">
    
    <a class="linkTo" href="/settings/domain">
      <b style="width:25%;display:block;float:left;font-weight:500">Domain</b>
      <b style="color:gray;font-weight:500">{{blog.url}}</b>
      <span style="color:gray;float:right">Edit</span>
    </a>
    

    <hr style="margin: 0">
    
          <a class="linkTo" href="/clients">
      <b style="width:25%;display:block;float:left;font-weight:500">Folder</b>
      <b style="color:gray;font-weight:500">{{client.display_name}}</b>
      <span style="color:gray;float:right">Edit</span>
    </a>
    
    <hr style="margin: 0">
    
 <a class="linkTo" href="/theme">
      <b style="width:25%;display:block;float:left;font-weight:500">Theme</b>
      <b style="color:gray;font-weight:500">{{template.name}}</b>
      <span style="color:gray;float:right">Edit</span>
    </a>


    <hr style="margin: 0">

 <a class="linkTo" href="/settings/photo">
      <b style="width:25%;display:block;float:left;font-weight:500">Avatar</b>
      <b style="color:gray;font-weight:500">

        {{^blog.avatar}}<em>You have not uploaded a photo</em>{{/blog.avatar}}

        {{#blog.avatar}}
          <img src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
        {{/blog.avatar}}
      </b>
      <span style="color:gray;float:right">Edit</span>
    </a>
  
      <hr style="margin: 0">




    <hr style="margin: 0">
    
 <a class="linkTo" href="/settings/menu">
      <b style="width:25%;display:block;float:left;font-weight:500">Menu</b>
      <b style="color:gray;font-weight:500">{{#blog.menu}} {{label}}, {{/blog.menu}}</b>
      <span style="color:gray;float:right">Edit</span>
    </a>

  

  {{#categories}}

      <hr style="margin: 0">

  <b style="width:25%;padding-top:1em;display:block;float:left;font-weight:500">{{name}}</b>
  <div style="width:75%;float:left">
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label>
        <span style="width:7.5%;display:block;float:left;position:relative;top:1px">
        <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
        <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
      </span>
      <span style="width:92.5%;margin-top:-1em;margin-bottom:-0.5em;display:block;float:left">        {{{description}}}
</span>
      </label>

      <div class="pluginOptions" style="display:none;padding-left:2em">
        {{{formHTML}}}
      </div>
      <hr style="clear:both;margin:0;margin-bottom:0em">
    </div>
    {{/plugins}}
    <input type="submit" value="Save changes" class="button" style="margin:1em 0">
  </div>
<!--     <input class="button" type="submit" value="Save changes" style="margin:0 0 2em;"/>
    <br>
 -->  {{/categories}}

 <hr>
 <a class="linkTo" href="/settings/date">
      <b style="width:25%;display:block;float:left;font-weight:500">Timezone</b>
      <b style="color:gray;font-weight:500">

          {{#timeZones}}{{#selected}} {{time}} {{value}}{{/selected}}{{/timeZones}}

      </b>
      <span style="color:gray;float:right">Edit</span>
    </a>
    <hr style="margin:0">
 <a class="linkTo" href="/settings/urls">
      <b style="width:25%;display:block;float:left;font-weight:500">URLs</b>
      <b style="color:gray;font-weight:500">

         /title-of-post

      </b>
      <span style="color:gray;float:right">Edit</span>
    </a>

</form>
