<label style="margin-bottom:0">
  Links:
<button id="addLink" style="float:right">Add a link</button>
</label>

<!-- Neccessary to produce an empty menu -->
<input type="hidden" name="hasMenu" value="true">

<section id="menu" class="fullRow sortable"  style="max-width:100%">
  
{{^blog.menu.length}}
<i>Your menu is empty</i>
{{/blog.menu.length}}

{{#blog.menu}}
  <section style="padding: 8px 0;border:none" id="link_{{id}}" class="{{#isPage}}isPage{{/isPage}}">
    <span class="handle" >&#9776;</span>
    <input type="hidden" name="menu.{{index}}.id" value="{{id}}"/ >
      {{#isPage}}
        <a target="_blank" href="{{blog.blogURL}}{{url}}">
          <span class="link">{{label}}</span> page
        </a>
      {{/isPage}}
    <input placeholder="Label" type="text" name="menu.{{index}}.label" style="border-radius:0;margin-left:-1px" value="{{label}}"/>
    <input type="text" name="menu.{{index}}.url" style="border-radius:0 4px 4px 0;margin-left:-1px"  value="{{url}}"/>
    <button style="margin-left:12px;">Delete</button>
  </section>
{{/blog.menu}}
</section>

<div class="clear"></div>
<br>