<style type="text/css">
#redirects section {padding: 8px 0;border:none}
.lab[type="text"] {border-radius:0;margin-left:-1px}
.val[type="text"] {border-radius:0 4px 4px 0;margin-left:-1px}
#menu button {margin-left:12px;}
.pageLink {display: none;}
.isPage .pageLink {display: block;}
.removeLink {    line-height: 2.5;
    text-decoration: none;margin-left: 8px}
    code {background: #eee}
    .format:hover{background: rgba(0,0,0,.02)}
</style>
<input type="hidden" name="redirect" value="/settings/services/permalinks">

<p>Each post is assigned a URL according to the format below. You can override a post's URL in its <a href="/publishing/metadata">metadata</a>. If you change your URL format, Blot redirects the old URLs automatically.</p>



<br>

<label>URL format</label>
      {{#permalinkFormats}}
      <hr style="margin:0;">
      <label class="format" style="line-height:inherit;margin:0;text-transform:none;font-size:16px;letter-spacing:0;padding:9px 0 9px 10px">
      <input style="margin:5px 10px 20px 0;float:left" type="radio" name="permalink.format" value="{{value}}" {{checked}}>
        <b style="font-weight:500;display:block">{{name}}</b>

        {{#custom}}Read the <a href="/publishing/configuring/urls">guide to creating a custom URL format</a>.{{/custom}} 

        {{^custom}}<code style="background:none;font-size:14px;color:rgb(153, 153, 153)">{{example}}</code>{{/custom}}

        {{#custom}}
        <div style="margin: 4px 20px 4px 24px">
        <input type="text" style="margin:0" name="permalink.custom" value="{{blog.permalink.custom}}"/></div>
      {{/custom}}
      <div class="clear"></div>
      </label>
      {{/permalinkFormats}}



<br>

