<p>This photo can be used in your site’s theme and is used to generate your site’s favicon.</p>

<input type="hidden" name="redirect" value="/settings/photo">

<label>Photo</label>

{{#blog.avatar}}
<div style="float:left;margin-right:20px;border-right:1px solid rgba(0,0,0,0.03)">
    <img style="max-width:82px;max-height:82px;float:left" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />

  </div>
  
<div style="float:left;">

  <label style="margin-top:0">
<input type='hidden' value='off' name='roundAvatar'>
<input {{#blog.roundAvatar}}checked{{/blog.roundAvatar}} type="checkbox" name="roundAvatar"/> Make my photo rounded
</label>

      <button class="button small" name="avatar" value="" type="submit">Remove photo</button>

</div>

<div class="clear"></div><br>
  {{/blog.avatar}}

<section class="imageUpload" style="width:50%;float:left;">
{{#blog.avatar}}
  <span style="margin-top:0">Select new photo:</span>
{{/blog.avatar}}
  <input type='file' id="avatarUpload" name='avatar' />
{{#blog.avatar}}
{{/blog.avatar}}
</section>

<div class="clear"></div><br>
