<h1 style="font-size: 22px;font-weight: 700">Photo</h1>
<h2 style="font-size: 14px">Your photo is used on your site's template and to generate a favicon for your site.</h2>
<hr>

<input type="hidden" name="redirect" value="/settings/photo">

  {{#blog.avatar}} 
<div class="line" style="padding-left: 0">
  <span class="label">Current photo</span>
  <span class="center">
    <img style="max-width:64px;max-height:64px;margin:6px 6px 0 0 ;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
  </span>
  <button class="right" type="submit" style="height:1.3em;font-size:14px;color:#365899;" name="avatar" value="">Delete photo</button>
</div>
  {{/blog.avatar}}
<br>
  <section style="flex-grow:1">
    {{#blog.avatar}}
    <label style="border-radius:4px;border:1px solid rgba(0,0,0,0.05);display:block;padding: 11px 20px;margin-bottom:6px;cursor:pointer;box-sizing: border-box;">
    
    <span style="margin-top:0;color:rgb(158, 154, 152);font-size:14px;display:inline;margin-right:10px">Select new photo:</span>
    {{/blog.avatar}}

    <input type='file' id="avatarUpload" style="display:inline;margin:0;cursor: pointer;" name='avatar' />
    </label>
    
    {{#blog.avatar}}

    {{/blog.avatar}}
  </section>
