

<input type="hidden" name="redirect" value="/settings/services/redirects">
<input type="hidden" name="has_redirects" value="true">

<p>Use redirects to fix broken links to your site. You can use Regular Expressions to match multiple URLs in a single rule.</p>
      <a href="/settings/urls/404s" style="color:rgb(109, 109, 109);line-height:40px;text-decoration:none;display:block;border-top:1px solid rgba(0,0,0,.05)">View your 404 log <span style="float:right">&rarr;</span></a>


<label>
  <input name='forceSSL' type='hidden' value='off'>
  <input name='forceSSL' type="checkbox" {{#blog.forceSSL}} checked{{/blog.forceSSL}}/> Redirect HTTP traffic to HTTPS </label> <label>
  <input name='redirectSubdomain' type='hidden' value='off'>
  <input name='redirectSubdomain' type="checkbox" {{#blog.redirectSubdomain}} checked{{/blog.redirectSubdomain}}/> Redirect subdomain to custom domain </label> 


{{#warning}}
<p>Please note that redirect rules are evaluated last so if you have an existing post or file in your folder which matches a redirect, it will be returned.</p>
{{/warning}}

<br>
<label>Redirect rules</label>
  <span style="float:right">   
  {{^edit}}
 <a href="#!" id="addRedirect">Add redirect rule</a> &bull; <a href="?edit=true">Bulk edit</a>
 {{/edit}}
 {{#edit}}
 <a href="?edit=">Cancel</a>
 {{/edit}}
</span>

</p>
<hr>
  

    <section id="stage">

{{#edit}}
<textarea name="redirects" style="line-height:1.333;font-size:16px;margin-bottom:1.5em;padding:0.1em;font-family:monospace">
{{#redirects}}
{{from}} {{to}}
{{/redirects}}
</textarea>
{{/edit}}
{{^edit}}
    <section id="redirects" class="fullRow sortable" style="max-width:100%">

      {{^redirects.length}}
      <em id="emptyRedirects">You have not set any redirect rules</em>
      {{/redirects.length}}

    {{#redirects}}

<section >
  <span class="handle">&#9776;</span>
  <input  class="lab" placeholder="from" type="text" name="redirects.{{index}}.from" value="{{from}}"/>
  <input  class="val" placeholder="to" type="text" name="redirects.{{index}}.to" value="{{to}}"/>
  <a href="#!" class="removeLink">Delete</a>
</section>


    {{/redirects}}
    </section>
    {{/edit}}
  </section>

  <br><Br>    


<section id="new_redirect" style="display:none">
  <span class="handle">&#9776;</span>
  <input disabled class="lab" placeholder="from" type="text" name="redirects.{index}.from" value=""/>
  <input disabled class="val" placeholder="to" type="text" name="redirects.{index}.to" value=""/>
  <a href="#!" class="removeLink">Delete</a>
</section>


<div class="clear"></div>
{{#footer}}
<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/sortable.js?{{cacheID}}"></script>
<script type="text/javascript">


  Sortable.create($('.sortable')[0], {
    handle: ".handle",
    ghostClass: "sortable-ghost",
    onUpdate: function (){

      $('.sortable').find('section').each(function(){

        var index = $(this).index();

        $(this).find('input').each(function(){

          var name = $(this).attr('name');
          var newName = name.slice(0, name.indexOf('.') + 1) + index + name.slice(name.lastIndexOf('.'));

          $(this).attr('name', newName);

          console.log(name + ' > ' + newName);
        });

        console.log('');
      });
    }
  });

  $('#redirects').on('click', '.removeLink', function(e){
    $(this).parent().remove();
    e.preventDefault();

    if (!$('#redirects section').length) {
      $('#emptyRedirects').show();
    }

    return false;
  });

  function  createRedirect (from) {
    
    var index = $('#redirects section').length;
    var linkID = new Date().getTime();
    var newlink = $('#new_redirect').clone().removeAttr('style');

    $('#emptyRedirects').hide();
    
    newlink
      .attr('id', function(el, val){
        return val + linkID;
      })
      .find('input')
        .removeAttr('disabled')
        .end()
      .find('input[name*="from"]')
        .attr('value', from || '')
        .end()
      .find('input[name*="{index}"]')
        .attr('name', function(i, val){
          return val.split('{index}').join(index)
        })
        .end();


    newlink.appendTo("#redirects  ");

    if (from) {
      newlink.find('input[name*="to"]').focus();
    } else {
        newlink.find('input[name*="from"]').focus();
    
    }

    e.preventDefault();
    return false;

  }

  $('#addRedirect').click(function(e){
    createRedirect();
  });

var newRedirect = window.location.hash.slice(1);

if (newRedirect) {
  createRedirect(newRedirect);
}


  $('#toggleTextarea').click(function () {
    $('#stage').append($('#backstage').children().first());
    $('#backstage').append($('#stage').children().first());
  });

</script>
{{/footer}}