<div style="margin:-11px -20px">
  <input type="hidden" name="redirect" value="/settings/services">

<a class="line" href="/settings/services/date">
            <span class="label">Date and time</span>
            <span class="center">{{^blog.hideDates}}{{#displayFormats}}{{#selected}}{{date}}{{/selected}}{{/displayFormats}}{{/blog.hideDates}}
      {{#blog.hideDates}}<i>Dates are hidden</i>{{/blog.hideDates}}</span>
            <span class="right">Change</span>
          </a>



<a class="line" href="/settings/services/permalinks">
    <span class="label">Permalinks</span>
    <span class="center">
            {{#permalinkFormats}}
            {{#checked}}{{example}}{{/checked}}{{/permalinkFormats}}
    </span>
    <span class="right link">Change</span>
  </a>

  <a class="line" href="/settings/services/redirects">
            <span class="label">Redirects</span>
            <span class="link">Edit your redirect rules</span>
          </a>
<style type="text/css">
.plugin label,
.plugin p {
  margin: 0
}

.plugin label {
  padding: 0
}

.plugin {
margin-bottom: 6px;

padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03)
}

.plugin:last-child {border-bottom: none;padding-bottom: 0}

</style>
{{#categories.Services}}
<div class="line">
  <span class="label">External services</span>
  <span class="center">
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label style="margin:0">
        <span style="margin-right:0.5rem;display:block;float:left;position:relative;top:1px">
          <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
          <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        </span>
  <span style="width:92.5%;display:block;float:left">        {{{description}}}
        </span>
  <span class="clear"></span>
  </label>

  <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
    {{{formHTML}}}
  </div>

</div>
{{/plugins}}
</span>
</div>
{{/categories.Services}}

{{#categories.Typography}}
<div class="line">
  <span class="label">Typography</span>

  <span class="center">
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label>
        <span style="margin-right:0.5rem;display:block;float:left;position:relative;top:1px">
          <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
          <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        </span>
  <span style="width:92.5%;display:block;float:left">        {{{description}}}
        </span>
  <span class="clear"></span>
  </label>

  <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
    {{{formHTML}}}
  </div>

</div>
{{/plugins}}
</span>
</div>
{{/categories.Typography}}

{{#categories.Images}}
<div class="line">
  <span class="label">Images</span>

  <span class="center">

    {{#plugins}}
    <div class="plugin {{checked}}">

      <label>
        <span style="margin-right:0.5rem;display:block;float:left;position:relative;top:1px">
          <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
          <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        </span>
  <span style="width:92.5%;display:block;float:left">        {{{description}}}
        </span>
  <span class="clear"></span>
  </label>

  <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
    {{{formHTML}}}
  </div>

</div>
{{/plugins}}
</span>
</div>
{{/categories.Images}}

<br class="clear">
<br class="clear">

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script type="text/javascript">
$('.plugin > label input[type=checkbox]').click(function() {
  $(this).parent().parent().parent().toggleClass('checked')
});
// Simple Analytics doesn't require a tracking ID
if ($('#selectAnalytics').val() !== 'None' && $('#selectAnalytics').val() !== 'SimpleAnalytics') {
  $('#trackingIdInput').show();
} else {
  $('#trackingIdInput').hide();
}
$('#selectAnalytics').change(function() {
  if ($(this).val() !== 'None' && $(this).val() !== 'SimpleAnalytics') {
    $('#trackingIdInput').show();
  } else {
    $('#trackingIdInput').hide();
  }
});

</script>

</div>