<input type="hidden" name="redirect" value="/settings/services">


  <a class="line" href="/settings/urls" style="margin:0 -20px">
    <label>URLs</label>
    <span class="center">
      Edit URL rules.
    </span>
    <span class="right" style="padding-left:0">Edit</span>
  </a>

      <label>
      <input name='forceSSL' type='hidden' value='off' >
      <input name='forceSSL' type="checkbox" {{#blog.forceSSL}}checked{{/blog.forceSSL}}/> Redirect HTTP traffic to HTTPS
    </label>

     <label>
      <input name='redirectSubdomain' type='hidden' value='off' >
      <input name='redirectSubdomain' type="checkbox" {{#blog.redirectSubdomain}}checked{{/blog.redirectSubdomain}}/> Redirect subdomain to custom domain
    </label>

<style type="text/css">
  .plugin label,.plugin p  {margin: 0}
  .plugin label {line-height: 1.5}
  .plugin {padding: 6px 0;border-bottom: 1px solid rgba(0,0,0,0.03)}
</style>
{{#categories.Services}}
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label style="margin:0">
        <span style="width:7.5%;display:block;float:left;position:relative;top:1px">
          <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
          <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        </span>
        <span style="width:92.5%;display:block;float:left">        {{{description}}}
        </span>
        <span class="clear"></span>
      </label>

      <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
        {{{formHTML}}}
      </div>

    </div>
    {{/plugins}}
{{/categories.Services}}

{{#categories.Typography}}
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label>
        <span style="width:7.5%;display:block;float:left;position:relative;top:1px">
          <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
          <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        </span>
        <span style="width:92.5%;display:block;float:left">        {{{description}}}
        </span>
        <span class="clear"></span>
      </label>

      <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
        {{{formHTML}}}
      </div>

    </div>
    {{/plugins}}
{{/categories.Typography}}


{{#categories.Images}}
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label>
        <span style="width:7.5%;display:block;float:left;position:relative;top:1px">
          <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
          <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        </span>
        <span style="width:92.5%;display:block;float:left">        {{{description}}}
        </span>
        <span class="clear"></span>
      </label>

      <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
        {{{formHTML}}}
      </div>

    </div>
    {{/plugins}}
{{/categories.Images}}

<br class="clear">
<br class="clear">

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script type="text/javascript">

  $('.plugin > label input[type=checkbox]').click(function(){

    $(this).parent().parent().parent().toggleClass('checked')
  });

  // Simple Analytics doesn't require a tracking ID
  if ($('#selectAnalytics').val() !== 'None' && $('#selectAnalytics').val() !== 'SimpleAnalytics') {
    $('#trackingIdInput').show();
  } else {
    $('#trackingIdInput').hide();
  }

  $('#selectAnalytics').change(function(){

    if ($(this).val() !== 'None' && $(this).val() !== 'SimpleAnalytics') {
      $('#trackingIdInput').show();
    } else {
      $('#trackingIdInput').hide();
    }
  });</script>
