<style type="text/css">
form label {padding-top: 0} hr {margin: 20px 0} 
.shrinker {max-width:700px}
</style>
<form method='post' {{^setup}}style="padding: 11px 26px"{{/setup}} {{#setup}}style="padding:20px 0"{{/setup}} action='{{{base}}}' enctype='multipart/form-data'>


  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="setup" value="{{setup}}">
  <input type="hidden" name="redirect" value="{{{base}}}/{{subpage}}">
  
  <div class="shrinker">
  {{> subpage}}

  <div class="buttons">
    <button type="submit">Save changes</button>
    <a href="{{{base}}}">Cancel</a>
  </div>
  <br>
  </div>
</form>