<style type="text/css">
form {border: 1px solid #eee;border-radius: 3px;background:#fff;}
form label {padding-top: 0} hr {margin: 20px 0} 
</style>
<form method='post' {{^setup}}style="padding: 11px 20px"{{/setup}} {{#setup}}style="padding:20px 0"{{/setup}} action='/settings' enctype='multipart/form-data'>


  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="setup" value="{{setup}}">
  <input type="hidden" name="redirect" value="/settings/{{subpage_slug}}">
    
  {{> subpage}}
  <br>
  <div class="buttons">
    <button type="submit"onclick="this.form.submit();this.disabled=true">Save changes</button>
    <a href="/settings">Cancel</a>
  </div>
  <br>
</form>