
{{#categories.Typography}}
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label>
        <span style="width:7.5%;display:block;float:left;position:relative;top:1px">
          <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
          <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        </span>
        <span style="width:92.5%;margin-top:-1em;margin-bottom:-0.5em;display:block;float:left">        {{{description}}}
        </span>
      </label>

      <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
        {{{formHTML}}}
      </div>
      {{^last}}
      <hr style="clear:both;margin:0;margin-bottom:0em">
      {{/last}}
    </div>
    {{/plugins}}
{{/categories.Typography}}

<br class="clear">