<input type="hidden" name="redirect" value="/settings/urls">


<style type="text/css">
#redirects section {padding: 8px 0;border:none}
.lab[type="text"] {border-radius:0;margin-left:-1px}
.val[type="text"] {border-radius:0 4px 4px 0;margin-left:-1px}
#menu button {margin-left:12px;}
.pageLink {display: none;}
.isPage .pageLink {display: block;}
.removeLink {    line-height: 2.5;
    text-decoration: none;margin-left: 8px}
</style>
<p>URL format</p>
        <style type="text/css">code {background: #eee}</style>
      {{#permalinkFormats}}
      <hr style="margin:0;">
      <label style="margin:0;padding:4px 0">
      <input style="margin-right:0.5em" type="radio" name="permalink.format" value="{{value}}" {{checked}}>
        <b style="font-weight:500">{{name}}</b> {{^custom}}<code style="background:none;width:60%;float:right;margin:0">{{example}}</code>{{/custom}}

        {{#custom}}<input type="text" style="display:inline;float:right;line-height:2;width:60%;padding:0 0.25em;margin:0.2em 0 0" name="permalink.custom" value="{{blog.permalink.custom}}"/>

      {{/custom}}
      </label>
      {{/permalinkFormats}}
    <p>Read the guide to <a href="/configuring/permalinks">creating a custom URL format</a>. Note that if you change your URL settings, Blot will redirect the former URLs  for your existing posts automatically. You can also <a href="/settings/urls/redirects">configure your own redirect rules</a> based on missing items in your <a href="/settings/urls/404s">404 log</a>.</p>


<br>

