{{=[[ ]]=}}

<h1>Custom metadata</h1>
<p>You can create your own <a href="/how/metadata">metadata</a>. There's no configuration neccessary. Just choose a property that isn't already <a href="/how/metadata">used by Blot</a>, like <code>Author</code> for example:</p>

<pre class="text"><code>Author: Eric Blair

Metadata keys should be a single word. They are case insensitive


</code></pre>

<p>Once the property exists in a file, you can use it in your template:</p>
<pre class="code html"><code><html>
  <title>{{title}}</title>
  <body>
    {{#entry}}
    <p>Posted by {{metadata.author}}</p>
    ...
    {{/entry}}
  </body>
  </html>
</code></pre>

[[={{ }}=]]