{{=[[ ]]=}}

<h1>How Blot works</h1>

<p>In essence, Blot is a static file server. It serves your folder to your readers. When a request from one of your readers arrives at your blog, Blot follows these steps to work out what to send in response.</p>

<p><ol>
  <li>Check if there is a template whose route matches the request’s path. <a href="#rendering">Render the template</a> if it matches.</li>
  <li>Check if there is a file which matches the request’s path in your blog’s folder. <a href="/how#files-in-your-folder-are-public">Send the file</a> as a response if it matches.</li>
  <li>Check your site&apos;s list of <a href="/settings/urls/redirects">redirects</a>.</li>
  <li>Render your blog’s error page if it exists, if not render Blot's error page.</li>
</ol></p>

<h2>Routing</h2>

<p>When a request from one of your readers arrives at your blog, Blot follows these steps to work out what to send in response.</p>

<p><ol>
  <li>Check if there is a template whose route matches the request’s path. <a href="#rendering">Render the template</a> if it matches.</li>
  <li>Check if there is a file which matches the request’s path in your blog’s folder. <a href="/how#files-in-your-folder-are-public">Send the file</a> as a response if it matches.</li>
  <li>Check your site&apos;s list of <a href="/settings/urls/redirects">redirects</a>.</li>
  <li>Render your blog’s error page.</li>
</ol></p>

<h2>What if a blog post and a file share the same URL?</h2>
<p>Blot shows the blog post instead of the file. This is because Blot <a href="#routing">routes requests</a> from your readers to your blog’s template first. If you prefer, you can <a href="/settings/template">disable your blog’s template</a> on the dashboard and just use Blot as a static file server.</p>

<h2 id="rendering">Rendering</h2>
<p>Blot's templates are written in <a href="https://mustache.github.io/">Mustache</a>.
  <!-- You should read <a href="https://mustache.github.io/mustache.5.html">Mustache's documentation</a> carefully before designing your own template.  -->
Consider this example template, which produces a list of all of the posts on your blog:</p>

<pre class="code html"><code>
  <html>
  <title>{{title}}</title>
  <body>
    {{#all_posts}}
    <a href="{{{url}}}">{{title}}</a><br>
    {{/all_posts}}
  </body>
  </html>
</code></pre>

<p>Blot generates JSON containing the data for this template:</p>

<pre class="code json"><code>
  {
    "title": "Your blog's title",
    "all_posts": [
    {"title": "First post", "url": "/first-post"},
    {"title": "Second post", "url": "/second-post"},
    {"title": "Third post", "url": "/third-post"}
    ]
  }
</code></pre>

<p>Blot then renders the template to produce this HTML:</p>

<pre class="code html"><code>
  <html>
  <title>Your blog's title</title>
  <body>
    <a href="/first-post">First post</a><br>
    <a href="/second-post">Second post</a><br>
    <a href="/third-post">Third post</a><br>
  </body>
  </html>
</code></pre>

<h2>Retrieving the JSON used to render a template</h2>

<p>If you append the query string <code>?debug=true</code> to the URL of any page on your blog, you can see the JSON used to render its template.</p>

<h2>Using static files in your templates</h2>
<p>Remember that your blog's folder behaves like a static file server. This makes it possible to share assets between your templates.</p>

[[={{ }}=]]