{{> head}}

{{#entry.metadata.slides.length}}
<div class="collapse-on-mobile">

    <div class="slides">
        <div class="main-carousel fade-in" >
            {{#entry.metadata.slides}}
            <div class="carousel-cell" >
                {{#Image}}
                <img src="/{{{Image}}}" alt="{{Caption}}" title="{{Caption}}" />
                {{/Image}}
                {{#Video}}
                <video width="500" autoplay loop muted>
                    <source src="/{{{Video}}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {{/Video}}
                {{#Caption}}
                <span class="slide-caption">{{Caption}} <a href="{{Link}}">{{Credit}}</a></span>
                {{/Caption}}
            </div>
            {{/entry.metadata.slides}}
        </div>  
    </div>

    <div class="main">
        {{> navigation}}

        <div class="fade-in entry">
            {{{entry.html}}}
        </div>
    
        {{> footer}}    
    </div>
</div>
{{/entry.metadata.slides.length}}

{{^entry.metadata.slides.length}}
<div style="display: flex;">

<div style="width:50%;" class="main">
    <a href="/" style="text-decoration: none;padding: 1em 0;font-size: 0.9em;display: block;">{{title}}</a>
</div>
<div style="width:50%;" class="main">
    {{> navigation}}
 </div>
</div>
<div  class="main">
     <div class="fade-in entry">
        {{{entry.html}}}
     </div>
 </div> 
 {{/entry.metadata.slides.length}}
