{{> head}}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
<link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">
<style>
    .main-carousel {
        height: 100vh;
        width: 100%;
    }

    .carousel-cell {
        width: 100%;
        height: calc(100vh - 40px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-cell img {
       max-width: 100%;
        height: auto;
    }

    .flickity-page-dots {
      top: auto;
      bottom: auto;
      font-size: 0.6em;
    }

.flickity-page-dots .dot {
  background: transparent;
  margin:0;
  width: 1em;
    height: 1em;
    padding: 0.5em;
}

.flickity-page-dots .dot:after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: var(--text-color);
    transition: transform 0.2s;
}


.flickity-page-dots .dot:hover:after {
    transform: scale(1.2);
}

.flickity-prev-next-button.previous,
.flickity-prev-next-button.next {
  top: 0;
  width: auto;
  height: auto;
  bottom: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  transform: none;
}

.flickity-prev-next-button.previous svg,
.flickity-prev-next-button.next svg {
    display: none;
}

.flickity-prev-next-button.previous {
    cursor: w-resize;
    left: 0;
  right: 50%;
}

.flickity-prev-next-button.next {
    cursor: e-resize;
    right: 0;
  left: 50%;
}


</style>    
<div style="display: flex;">

    
<div style="position: sticky;
top: 0;
width: 50%;
box-sizing: border-box;
height: 100vh;border-right: 1px solid #ccc;">

{{#entry.metadata.link}}
<div class="main-carousel fade-in" >
    <div class="carousel-cell" >
        <img src="/_0.png" width="500" >
    </div>
    <div class="carousel-cell" >
            <img src="/_1.png" width="500" >
    </div>
    <div class="carousel-cell" >
            <img src="/_2.png" width="500">
    </div>
    <div class="carousel-cell" >
        <img src="/_3.png" width="500">
    </div>
    <div class="carousel-cell" >
        <img src="/_4.png" width="500">
    </div>
</div>  
{{/entry.metadata.link}}
</div>

<div style="width:50%" class="main">
    <div class="navigation" style="border-bottom: 1px solid;padding-bottom: 6px;">
        <a href="/" class="selected">Information</a>
        <a href="/speakers">Speakers</a>
        <a href="/faqs">FAQs</a>
        <a href="/updates">Updates</a>
    </div>
    <div class="fade-in entry">
    
    {{{entry.html}}}
    </div>
    
    {{> footer}}    
</div>

</div>
<script src="https://unpkg.com/flickity@2.2/dist/flickity.pkgd.js"></script>
<script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
<script>

var flkty = new Flickity( '.main-carousel', {
  fade: true,
  wrapAround: true,
});
</script>