@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/junicode/400.ttf?version=a5612c&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Junicode';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/junicode/400-italic.ttf?version=06fae0&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/junicode/700.ttf?version=baa8b8&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Junicode';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/junicode/700-italic.ttf?version=f223e0&extension=.ttf') format('truetype');
}
.pull-double {margin-left:-0.3701171875em}
.push-double{margin-right:0.3701171875em}
.pull-single{margin-left:-0.2060546875em}
.push-single{margin-right:0.2060546875em}
.push-double,.push-single{display:inline-block}
