<h1>Diary</h1>



<p>
	The Diary template is designed for a wide range of posts. It features an index
	page which displays each post in full.
</p>

<p>
	<a
		class="screenshot"
		href="{{{preview}}}/brief-encounters-with-jean-frédéric-maximilien-de-waldeck"
		><img src="/templates/diary/0.png?size=large&amp;extension=.png"
	/></a>
</p>

<p>
	<a class="screenshot" href="{{{preview}}}/search?q=polar+bears"
		><img src="/templates/diary/1.png?size=large&amp;extension=.png"
	/></a>
</p>

<p>
	View the
	<a
		href="https://github.com/davidmerfield/Blot/tree/master/app/templates/latest/diary"
		>source code for the Diary template</a
	>.
</p>

<h2>About the folder</h2>

<p>
	<a href="https://publicdomainreview.org/about/">The Public Domain Review</a>
	is an online journal and not-for-profit project dedicated to the exploration
	of curious and compelling works from the history of art, literature, and
	ideas.
</p>
