<h1>Photo template</h1>

<a class="bordered-button" href="{{{preview}}}" target="_blank">Preview this template</a>
<a class="bordered-button" href="/sign-up">Use template</a>

<style type="text/css">

	.in-use, .in-use li {padding: 0;margin:0;list-style-type: none}
	.in-use a {display: flex;align-items: center;text-decoration: none;color: inherit;margin-bottom: 0.5rem;padding-bottom:0.5rem;border-bottom: 1px solid rgba(0,0,0,0.1)}
	.in-use .image {margin-right: 0.75em;transform: scale(0.8);}
.in-use li:last-child a {border-bottom: none;}

		a.bordered-button {font-size:14px;margin-top:0;padding:0 2em;line-height:2em;color: var(--accent-color);margin-right:1em}

	a	.browser {margin-top:6px;border: 1px solid var(--light-border-color);border-radius: 6px;display: block;padding: 0.25rem 0.25rem 0;box-shadow: 0 0 10px rgba(0,0,0,0.03);transition: transform .1s ease;transform: scale(1)}

	a	.browser.mobile {
		padding: 0.8rem;
		border-radius: 12px;
	}
	a	.browser.mobile img {outline: 1px solid rgba(0,0,0,0.05)}

  a .browser:not(.mobile):before {content: "ooo";display: block;border-bottom: 1px solid var(--light-border-color);color: var(--dark-border-color);font-size: 14px;line-height: 12px;margin:0 -0.25rem;padding:0 0.5rem 0.3rem;}

		.devices {position: relative;width: 100%;}
		.devices img {max-width: 100%}
	.devices .desktop {
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 18px;
	}

	.screenshot img {cursor: zoom-in;}
	.devices .mobile {position: absolute;
		bottom: 0;right: 0;
		width: 400px;height: 400px}

		.sc {margin: 2rem 0}
</style>

<div style="display: flex">
<p class="sc" style="flex-basis: 75%">	<a style="text-decoration: none;cursor: zoom-in;" href="{{{preview}}}/"
		>
		<span class="browser"><img src="{{#cdn}}/images/templates/photo/0-medium.png{{/cdn}}"
	/></span></a>
</p>
<p class="sc" style="flex-basis: 25%;margin-left: 2rem">		<a style="text-decoration: none;cursor: zoom-in;" href="{{{preview}}}/search?q=polar+bears"
		>
		<span class="browser mobile"><img src="{{#cdn}}/images/templates/photo/0.mobile-medium.png{{/cdn}}"
	/></span></a>
</p></div>

<p>The <em>Photo</em> template is designed to display photos. Its navigation should get out of the way when you are looking at photos. The homepage shows a feed a of recently published photos. {{#featured.length}}These people use the <em>Photo</em> template:{{/featured.length}}</p>

 <ul class="in-use">
    {{#featured}}
      <li>
        	<a target="_blank" rel="noopener" href="{{{link}}}">
          {{#favicon.coordinates}}
            <span class="image" style="display:block;background:url('{{#cdn}}/images/featured.png{{/cdn}}');background-size: {{background_width}}px;
    background-position:-{{x}}px -{{y}}px;width:{{width}}px;height:{{height}}px;border-radius: 100px"></span>
    {{/favicon.coordinates}}
            <span><span style="color:{{color}};text-decoration: underline;">{{name}}</span> {{bio}}.</span>
        </a>
      </li>
    {{/featured}}  
  </ul>  


<h2>Customize this template</h2>

<p>You can adjust the colors and fonts of the <em>Photo</em> template using Blot's template editor: there's no coding required.</p>

<p> The source code of the <em>Photo</em> template is dedicated to the public domain, so you can make and distribute modifications to it as you please.</p>
	<p>
	<a class="bordered-button" style="border:1px solid;display: inline-block;" id="text_element" href="https://github.com/davidmerfield/Blot/tree/master/app/templates/latest/photo">View the source code</a>
</p>

<h2>About the folder</h2>
<div style="display: flex">  
  <div style="flex-basis: 66%">
	  <p>
	    The <a href="{{{preview}}}">preview</a> for the <em>Photo</em> template contains the botanical photography of William Copeland McCalla. You can get a full copy of the source folder used to generate this site.
	  </p>
  	<a class="bordered-button" style="border:1px solid;display: inline-block;" id="text_element" href="{{#cdn}}/templates/data/{{folder}}.zip{{/cdn}}">Download folder (.zip)</a>
	</div>
	<div style="flex-basis: 33%">
	{{> folder-viewer}}
	</div>
</div>

<h2>About</h2>

<p>
	Georgia Kareola’s <a href="https://notapipe.today">website</a> is the source
	of the layout for this template. I like the menu’s grid and the typography of
	the subpages in particular.
</p>
<p>
	Gavin Atkinson’s
	<a href="https://www.are.na/gavin-atkinson-1489764520/image-ui"
		>compilation of image user interfaces</a
	>
	was a useful source of interesting techniques to navigate and index images.
</p>
<p>
	Hofstede’s <a href="http://www.hofstede.com.au/">archives page</a> has a
	really pleasing hover effect, with the thumbnail for the hovered link
	displayed to the left.
</p>
<p>
	The good work of the people at <a href="https://are.na">Are.na</a> and
	<a href="https://cargocollective.com/">Cargo Collective</a> is a constant
	source of motivation.
</p>
<p>
	I tried to keep things as quiet as possible. When designing a theme, it’s easy
	to get lost in the ornamentation of the theme’s <em>chrome</em>, its menu bar,
	its search field. I tried to focus on the details. Here are a few things which
	I have done to this template which might not meet the eye:
</p>
<ul>
	<li>
		<p>
			Thumbnails are never cropped. They are always displayed in the aspect
			ratio chosen by the photographer. To do otherwise seemes rude. Of course,
			this complicates the layout but that is my job. I think that layouts which
			do not respect the aspect ratio chosen by the photographer are lazy.
		</p>
	</li>
	<li>
		<p>
			The pagination on the index page uses your system typeface’s
			<a
				href="https://www.fonts.com/content/learning/fontology/level-3/numbers/proportional-vs-tabular-figures"
				>tabular numbers</a
			>
			feature, where possible. This prevents the width of the page indicator
			changing.
		</p>
	</li>
	<li>
		<p>
			The years in the footer indicate the range of published works. It
			sometimes looks a little silly if you have only published this year but
			just be patient!
		</p>
	</li>
	<li>
		<p>
			When there is no pagination, we instead list the number of entries
			displayed on the page to maintain the balance of the navigation’s layout.
		</p>
	</li>
</ul>
<h2 id="technical-details">Technical details</h2>
<ul>
	<li>
		<p>
			This template just hides all of Blot’s search functionality, since it’s
			not as useful for photos.
		</p>
	</li>
	<li>
		<p>
			The thumbnail’s computed width and height is used to block out the layout
			of the index page before the images load. This means that nothing has to
			be recalculated as each image makes its way down the tubes. This prevents
			the layout<span class="push-single"></span>
			<span class="pull-single">‘</span>shifting’, something I think makes
			websites feel flimsy.
		</p>
	</li>
	<li>
		<p>
			The fade-on-load feature for the grid of images uses a tiny amount of
			JavaScript and a css class.
		</p>
	</li>
</ul>
