<html>
<body style="max-width:600px;margin:4rem auto">
  <h1>Import existing posts</h1>
    <p>Enter the URL to the site you want to import:</p>
  <form method="post">
    <input type="text" placeholer="http://" name="site" autofocus> <input type="submit">
    <p>You can also use the dedicated importer for {{#importers}}
      {{^last}}<a href="{{slug}}">{{title}}</a>, {{/last}}
      {{#last}}or <a href="{{slug}}">{{title}}</a>.{{/last}}
      {{/importers}}</p>
  </form>
  <script type="text/javascript">
  var source;
  
  source = new EventSource('/stream');
  source.onmessage = function(e) {
    alert(e.data);
  };

  </script>
</body>
</html>