{{> status-line}}

{{#error}}
<p class="box red" style="width:120%"> ... </p>
{{/error}}

<div class="line" >
  <span class="label">Repository URL</span>
  <span class="center">https://{{host}}/clients/git/end/{{blog.handle}}.git</span>
</div>  

<div class="line" >
  <span class="label">Repository username</span>
  <span class="center">{{user.email}}</span>
</div>  

<div class="line" >
  <span class="label">Repository password</span>
  <span class="center">{{token}}</span>
  <span class="right"> <form method="post" action="{{{base}}}/refresh-token">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <input type="submit" style="margin-top:11px" value="Refresh token">
  </form>
</span>
</div>  



<a class="line" href="{{{base}}}/disconnect">
  <span class="label">Disconnect</span>
  <span class="link">Disconnect your folder from Git</span>
</a>

