<style type="text/css">

a:hover .on-hover {text-decoration: underline;}
.menu button:hover .title {text-decoration: underline;}
</style>

<div class="dropdown">
  {{#blogs}}
    <a href="/dashboard/{{handle}}">
      <span class="photo-holder">
        {{#avatar}}<img src="{{avatar}}?handle={{handle}}">{{/avatar}}
        {{^avatar}}<img src="/images/folder-empty.svg" class="fallback" width="32">
{{/avatar}}
      </span>  
      <span style="color:#0070e8;font-weight:400;line-height: 1.4;">
          <span class="title" style="height:1.4em;overflow: hidden;display: block;">{{pretty.label}}</span>
          <span style="color:rgb(158, 154, 152);font-weight:400;height:1.4em;overflow:hidden">{{pretty.url}}</span>
        </span>
        <span class="fade-out"></span>
      </button>
    </a>
    {{/blogs}}
    
    <a href="/dashboard/account/create-blog">
      <span class="photo-holder plus" style="text-align:center;text-indent: 1px">+</span><span class="on-hover">New blog</span></span>
    </a>

</div>