

{{^contents.length}}
  <small style="display: flex;flex-grow: 1;min-height: 360px;
    color: var(--light-text-color);justify-content: center;">

  {{#root}}
  <span style="align-self: center;">This folder is empty.</span>
  
  {{/root}}
  {{^root}}
  <span style="align-self: center;">There is nothing here.</span>
  {{/root}}

</small>
  {{/contents.length}}

{{#contents.length}}
<div style="width:100;min-height: 360px;">

  

  {{#contents}}

    <a href="{{{base}}}/folder/{{{url}}}" style="align-items:baseline" class="line folder-item" style="padding:2px 20px;border:none{{#last}}border-bottom:none{{/last}}">
        
      {{#directory}}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 2.75C0 1.784.784 1 1.75 1H5c.55 0 1.07.26 1.4.7l.9 1.2a.25.25 0 0 0 .2.1h6.75c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25Zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H7.5c-.55 0-1.07-.26-1.4-.7l-.9-1.2a.25.25 0 0 0-.2-.1Z"></path></svg>
      {{/directory}}

      {{^directory}}
      {{#entry}}
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M2 1.75C2 .784 2.784 0 3.75 0h6.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v9.586A1.75 1.75 0 0 1 13.25 16h-9.5A1.75 1.75 0 0 1 2 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h9.5a.25.25 0 0 0 .25-.25V6h-2.75A1.75 1.75 0 0 1 9 4.25V1.5Zm6.75.062V4.25c0 .138.112.25.25.25h2.688l-.011-.013-2.914-2.914-.013-.011Z"></path></svg> 
      {{/entry}}
      {{^entry}}
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M2 1.75C2 .784 2.784 0 3.75 0h6.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v9.586A1.75 1.75 0 0 1 13.25 16h-9.5A1.75 1.75 0 0 1 2 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h9.5a.25.25 0 0 0 .25-.25V6h-2.75A1.75 1.75 0 0 1 9 4.25V1.5Zm6.75.062V4.25c0 .138.112.25.25.25h2.688l-.011-.013-2.914-2.914-.013-.011Z"></path></svg>
      {{/entry}}
      {{/directory}}
      
      <span class="link truncate" style="flex-grow:1;flex-basis:20%;display:block;margin-right:16px">{{name}}</span>
<!--       <span style="flex-basis:30%;flex-shrink:1;color:#111;padding-right:16px">{{entry.title}}</span>
 -->      <!-- <span class="right" style="color:#aaa">{{modified}}</span> -->
    </a>

  {{/contents}}
  <div class="clear"></div></div>
  {{/contents.length}}
    <style>
      .folder-item:nth-child(odd) {
        background-color: #f0f4ff70;
      }

      .folder-item {
        border-bottom: none;
        line-height: 1;
      }
    .folder-item svg {
      margin-right: 8px;
      vertical-align: middle;
      position: relative;
      top: 2px;
      fill: currentColor
    }
    </style>