
<style type="text/css">
  .connector {
    position: relative;
    margin-left: 1rem;
    padding-left: 2rem;
        color: rgb(158, 154, 152);

  }
  .connector:before {
    width: 1px;
    content: "";
    border-left: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: -1rem;
    bottom: -1rem;
  }

  .connector:after {
    content: "{{#entry}}↓{{/entry}}{{^entry}}✕{{/entry}}";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.75em;
    background: #fff;
    margin-left: -0.75em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
  }
</style>

{{#entry}}

<h1 style="color:var(--accent-color)">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M0 3.75C0 2.784.784 2 1.75 2h20.5c.966 0 1.75.784 1.75 1.75v16.5A1.75 1.75 0 0 1 22.25 22H1.75A1.75 1.75 0 0 1 0 20.25ZM22.5 7h-21v13.25c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25Zm-10-3.5v2h10V3.75a.25.25 0 0 0-.25-.25ZM7 3.5v2h4v-2Zm-5.25 0a.25.25 0 0 0-.25.25V5.5h4v-2Z"></path></svg>
  {{title}}
</h1>

  <table >


<tr>
  <td>Title:</td>
  <td>{{title}}</td>
</tr>

<tr>
  <td>Page:</td>
  <td>{{page}}</td>
</tr>

{{^draft}}{{^scheduled}}
<tr>
  <td>URL:</td>
  <td>{{blog.url}}{{{url}}}</td>
</tr>
{{/scheduled}}{{/draft}}

<tr>
  <td>Date:</td>
  <td>{{#scheduled}}Scheduled for publication {{toNow}} on {{date}}{{/scheduled}}{{^scheduled}}{{date}}{{/scheduled}}</td>
</tr>

<tr>
  <td>Draft:</td>
  <td>{{#draft}}Yes{{/draft}}{{^draft}}No{{/draft}}</td>
</tr>

<tr>
  <td>Comments:</td>
  <td>{{#search}}Yes{{/search}}{{^search}}No{{/search}}</td>
</tr>

<tr>
  <td>Summary:</td>
  <td>{{summary}}</td>
</tr>

<tr>
  <td>Thumbnail:</td>
  <td><img style="max-width: 80px;margin:6px 0;
    height: auto;vertical-align: middle;" height="{{thumbnail.small.height}}" width="{{thumbnail.small.width}}" src="{{thumbnail.small.url}}" /></td>
</tr>


<tr>
  <td>Slug:</td>
  <td>{{slug}}</td>
</tr>

<tr>
  <td>Search:</td>
  <td>{{#search}}Yes{{/search}}{{^search}}No{{/search}}</td>
</tr>

<tr> 
  <td>Tags:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}{{^tags.length}}<em>No tags</em>{{/tags.length}}</td>
</tr>

<tr> 
  <td>Backlinks:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}{{^tags.length}}<em>No tags</em>{{/tags.length}}</td>
</tr>

<tr> 
  <td>Internal links:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}{{^tags.length}}<em>No tags</em>{{/tags.length}}</td>
</tr>

<tr> 
  <td>Dependencies:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}{{^tags.length}}<em>No tags</em>{{/tags.length}}</td>
</tr>

<tr>
  <td>Metadata:</td>
  <td>
    {{#metadata}} {{key}}: {{value}}{{^last}},{{/last}} {{/metadata}}{{^metadata.length}}<em>No metadata</em>{{/metadata.length}}
  </td>
</tr>

<tr>
  <td>GUID:</td>
  <td><pre><code>{{guid}}</code></pre></td>
</tr>
</table>
{{/entry}}