
<style type="text/css">
  .connector {
    position: relative;
    margin-left: 1rem;
    padding-left: 2rem;
        color: rgb(158, 154, 152);

  }
  .connector:before {
    width: 1px;
    content: "";
    border-left: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: -1rem;
    bottom: -1rem;
  }

  .connector:after {
    content: "{{#entry}}↓{{/entry}}{{^entry}}✕{{/entry}}";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.75em;
    background: #fff;
    margin-left: -0.75em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
  }
</style>

{{#entry}}

  <table >


<tr>
  <td>Title:</td>
  <td>{{title}}</td>
</tr>

{{^draft}}{{^scheduled}}
<tr>
  <td>URL:</td>
  <td>{{blog.url}}{{{url}}}</td>
</tr>
{{/scheduled}}{{/draft}}

<tr>
  <td>Date:</td>
  <td>{{#scheduled}}Scheduled for publication {{toNow}} on {{date}}{{/scheduled}}{{^scheduled}}{{date}}{{/scheduled}}</td>
</tr>

<tr>
  <td>Draft:</td>
  <td>{{#draft}}Yes{{/draft}}{{^draft}}No{{/draft}}</td>
</tr>

<tr>
  <td>Comments:</td>
  <td>{{#search}}Yes{{/search}}{{^search}}No{{/search}}</td>
</tr>

<tr>
  <td>Summary:</td>
  <td>{{summary}}</td>
</tr>

<tr>
  <td>Thumbnail:</td>
  <td><img style="max-width: 80px;margin:6px 0;
    height: auto;vertical-align: middle;" height="{{thumbnail.small.height}}" width="{{thumbnail.small.width}}" src="{{thumbnail.small.url}}" /></td>
</tr>

<tr>
  <td>Search:</td>
  <td>{{#search}}Yes{{/search}}{{^search}}No{{/search}}</td>
</tr>

<tr> 
  <td>Tags:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}{{^tags.length}}<em>No tags</em>{{/tags.length}}</td>
</tr>

<tr> 
  <td>Backlinks:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}{{^tags.length}}<em>No tags</em>{{/tags.length}}</td>
</tr>

<tr> 
  <td>Internal links:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}{{^tags.length}}<em>No tags</em>{{/tags.length}}</td>
</tr>

<tr> 
  <td>Dependencies:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}{{^tags.length}}<em>No tags</em>{{/tags.length}}</td>
</tr>

</table>
{{/entry}}