{{> head}}
<link rel="stylesheet" href="/css/finder.css?{{cacheID}}">
<link rel="stylesheet" href="/css/katex.css?{{cacheID}}">


<link rel="stylesheet" href="/css/formatting.css?{{cacheID}}">
<link rel="stylesheet" href="/css/docs.css?{{cacheID}}">
<style type="text/css">
window {margin: 41px 0 60px}
window.folder {max-width: 400px}
window.text {max-width: 700px}
table {width: 100%}
h1 {    font-size: 32px;
}
.middle {flex-basis:700px;max-width: 700px}
</style>


<div class="wrapper">

  <div class="gap"></div>

  <div class="left-side" style="display:flex;flex-direction:column">
  {{#user.blogs.length}}
          <a href="/" style="color:#aaa;text-decoration:none" >&larr; Back to dashboard</a>
            {{/user.blogs.length}}
  {{^user.blogs.length}}
    <a href="/" >&larr; Back to your account</a>
            {{/user.blogs.length}}

    
                  {{> sidebar}}

  </div>

  <div class="gap-small"></div>

  <div class="middle">  
    <div style="display:flex;padding:0 40px 20px;width:500px">
    <a href="/account" style="color:#aaa;text-decoration:none" >Your account</a>
    <a href="/help" style="color:#aaa;text-decoration:none;flex-grow:1;text-align:center" >Documentation</a>
    <a href="/support" style="color:#aaa;text-decoration:none" >Contact support</a>
  </div>
    <div style="padding:0 40px">

{{> yield}}


    </div>
  </div>
  <div class="gap"></div>


  </div>
</body>
</html>