<form id="locals.{{key}}.form" method="post" style="display: flex;align-items: center;">
	<label for="locals.{{key}}" style="padding:5px 16px;font-size: 14px">{{label}}:</label>

	<input
	 style="margin:5px 0"
		type="range"
		id="locals.{{key}}"
		name="locals.{{key}}"
		value="{{value}}"
		min="{{min}}"
		max="{{max}}"
	/>

	<span id="locals.{{key}}.display"></span>
</form>
<script type="text/javascript">
		
	const input{{key}} = document.getElementById('locals.{{key}}');
	const result{{key}} = document.getElementById('locals.{{key}}.display');
	const form{{key}} = document.getElementById('locals.{{key}}.form');

	result{{key}}.innerHTML = input{{key}}.value;

	input{{key}}.addEventListener('change', (event) => {
  	result{{key}}.textContent = event.target.value;
  	form{{key}}.submit();
	});

	input{{key}}.addEventListener('input', (event) => {
  	result{{key}}.textContent = event.target.value;
	});
	
</script>