<div style="margin:1rem;background: #fff">
  <a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/local-editing">Edit template locally</a>
  <a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/rename">Rename template</a>
  <a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/share">Share template</a>
  <a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/delete">Delete template</a>
</div>
<div style="margin:1rem;">
<a style="font-size:14px;color:#666;text-decoration: none;display: block;" href="/support">Contact support</a>
        <a style="font-size:14px;color:#666;text-decoration: none;display: block;" href="/templates/developers">Developer documentation</a>   
</div>