<link rel="stylesheet" type="text/css" href="/css/dashboard/pickr/themes/monolith.min.css">
<script type="text/javascript" src="/js/pickr/es5.min.js"></script>

<style type="text/css">
button {background: white;border: 2px solid #ddd;border-radius: 4px;font:inherit;font-size: 14px;line-height: 1.45;margin: 6px 3px 0 0;cursor: pointer;}
button.selected {border:2px solid #0075ff;border-radius: 4px}

div[class^="color-picker-"]:hover {
	background: #fff
}

.pickr {
	z-index: auto;
}

.pcr-app .pcr-selection .pcr-picker {
	z-index: 1;
}

.pcr-app.visible {
	transition: none;
	visibility: visible;
	opacity: 1;
}

.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-chooser,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-opacity {
	height: .65em;
	margin-top: .65em;
}

.pcr-app {
	transition: none;
	box-shadow: 0 1.5em 1.5em 0 rgba(0, 0, 0, .1), 0 1em 1em 0 rgba(0, 0, 0, .03);
	border-radius: 0
}

.pcr-app[data-theme=monolith] {
	width: 16rem;
	padding: 1em;
	margin-top: -8px;
	box-shadow: 0 0 1px #000;
}

.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview {
	display: none;
}

.color-picker .previous {
	outline: 1px solid rgba(0,0,0,0.2);outline-offset:-1px;margin:0 16px;width:2rem;height:1.25rem;display: block;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-palette .pcr-palette,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-opacity .pcr-slider,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-current-color {
	border-radius: 0;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	outline-offset: -1px;

}

.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-opacity .pcr-slider {
	outline: 1px solid rgba(0, 0, 0, 0.3);
}

.pcr-app .pcr-interaction .pcr-save {
	background: #4285f4;
	flex-grow: 1;
}

.pcr-app .pcr-swatches,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-last-color {
	display: none;
}
</style>


	<div class="inputs">
		
	{{#color_schemes.length}}
	<h2>Color scheme</h2>
	<form method="post" style="padding: 0 1rem">
	{{#color_schemes}}
	<button type="submit" class="{{selected}}" name="locals.color_scheme" value="{{key}}">{{label}}</button> 
	{{/color_schemes}}
	</form>
	{{/color_schemes.length}}

{{#colors.length}}
	{{^color_schemes.length}}
		<h2>Colors</h2>
	{{/color_schemes.length}}
	{{/colors.length}}

	{{#colors}} {{> template-editor-color}} {{/colors}}

	
		{{#fonts.length}}
		{{#fonts}} {{> template-editor-font}} {{/fonts}} 
	{{/fonts.length}}


{{#layouts.length}}
		<h2>Layout</h2>
		{{#layouts}}

		{{#isBoolean}}
		{{> template-editor-boolean}}
		{{/isBoolean}}

		{{#isSelect}}
		{{> template-editor-select}}
		{{/isSelect}}

		{{#isRange}}
		{{> template-editor-range}} 
		{{/isRange}}

		{{/layouts}}
{{/layouts.length}}


  {{#show_date_options}}
		<h2>Date format</h2>
		<form
			id="dateSettings"
			method="post"
		>
			{{^hide_dates}}
			{{#displayFormats.length}}
			<label style="padding:0 1rem">
				<select style="width:257px;font-size:1rem;margin: 16px 0 8px;" id="date_display" name="locals.date_display">
					{{#displayFormats}}
					<option value="{{value}}" {{selected}}>{{date}}</option>
					{{/displayFormats}}
				</select>
			</label>
			{{/displayFormats.length}}
			{{/hide_dates}}
			

{{#show_hide_dates}}
			<label style="padding:5px 1rem;border-bottom: 1px solid #eee;display: block;">
				<input type="hidden" value="off" name="locals.hide_dates" />
				{{#hide_dates}}
				<input checked id="hide_dates" type="checkbox" name="locals.hide_dates"
				/>
				{{/hide_dates}}
				{{^hide_dates}}
				<input  id="hide_dates" type="checkbox" name="locals.hide_dates"
				/>
				{{/hide_dates}}
				 Hide dates
			</label>
			{{/show_hide_dates}}
						
			<script type="text/javascript">
				document.querySelectorAll('[type="checkbox"], select').forEach(function(node){
						if (node.style.display === 'none') return;
						let form;
						let parent = node.parentNode;

						while (parent && !form) {
							if (parent.tagName.toLowerCase() === 'form')
								form = parent;
							parent = parent.parentNode;
						}

						node.addEventListener("change", () => {
							form.submit();
						});
				});
			</script>
		</form>
	{{/show_date_options}}

		{{#syntax_themes}}
		{{> template-editor-highlighter}}
		{{/syntax_themes}}

	{{> template-editor-footer}}
</div>

<script type="text/javascript">

Array.from(document.querySelectorAll('form.color-picker')).forEach(form => {

	// Simple example, see optional options for more configuration.
    const pickr = Pickr.create({
        el: form.querySelector('.color-picker-popup'),
        theme: 'monolith', // or 'monolith', or 'nano'
        default: form.querySelector('input.value').value,
        useAsButton: true,
        position: 'bottom-end',
        components: {

            // Main components
            preview: true,
            opacity: true,
            hue: true,

            // Input / output Options
            interaction: {
                // hex: true,
                // rgba: true,
                // hsla: true,
                // hsva: true,
                // cmyk: true,
                input: true,
                // clear: true,
                save: true
            }
        }
    });

	pickr.on('save', (color, instance) => {
        form.querySelector('input.value').value = color.toHEXA().toString();
        fetch(window.location.href, {
            method: "post",
            body: new URLSearchParams(new FormData(form)) // for application/x-www-form-urlencoded
        }).then(function (response) {
            document.getElementById("preview").src += "";
        })

        // close pickr after save
        instance.hide();
    }).on('change', (color, instance) => {
        form.querySelector('.previous').style.background = color.toHEXA();
    });
});

</script>