{{> head}}

<br>
<style type="text/css">
.sidebar {
  list-style-type: none;
  margin-right: 4em
}

.sidebar a {
  color: rgb(158, 154, 152)
}

.no-underline {text-decoration: none;}
.breadcrumbs {
          font-weight: 400;
          color: #0b0c0c;
        }

        .breadcrumbs__list {
          margin: 0;
          padding: 0;
          list-style-type: none;
        }

        .breadcrumbs__list-item:first-child {
          margin-left: 0;
          padding-left: 0;
        }

        .breadcrumbs__list-item {
          display: inline-block;
          position: relative;
          margin-left: 13px;
          padding-left: 18.655px;
          float: left;
        }

        .breadcrumbs__list-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: -3.31px;
    width: 6px;
    height: 6px;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #5b6879;
        }

        .breadcrumbs__list-item:first-child:before {
          content: none;
          display: none
        }

        .breadcrumbs__link:link,
        .breadcrumbs__link:visited {
          color: #0070e8;
          text-decoration: none;

        }

        .breadcrumbs__link:hover,
        .no-underline:hover {
          text-decoration: underline;
        }

        .foot a {margin-right: 1rem;color: rgb(153, 153, 153);text-decoration: none;}
       

</style>
<div style="clear:both"></div>
<div style="display:flex;    align-items: center;padding: 0 2rem;">

  <div class="wrapper" style="margin:0 auto;width: 600px;display:flex;flex-direction:column;">

    <div style="display: flex;padding-bottom: 0.5rem;">
      <div style="display: flex;flex-basis: 600px;          padding: 16px 0 16px 20px
">
      <div class="breadcrumbs" style="flex-grow:1;flex-shrink:0;padding-left: 0;margin-top: 3px">
        <ol class="breadcrumbs__list">
          {{#breadcrumbs}}
          <li class="breadcrumbs__list-item">
            {{^last}}
            <a class="breadcrumbs__link" href="{{{url}}}"><strong>{{label}}</strong></a>
            {{/last}}
            {{#last}}
            <strong>{{label}}</strong>
            {{/last}}
          </li>
          {{/breadcrumbs}}
          
          <br>
        </ol>
      </div>
{{#selected.settings}}
<style type="text/css">
  .s {border-radius: 6px;padding: 4px 30px 4px 11px}
  .s.no-underline:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 14.31px;
    width: 6px;
    height: 6px;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #0070e8;
}
  }
</style>
     
{{/selected.settings}}      </div>
    </div>


    <div style="max-width:600px;flex-grow: 1;display: flex;flex-direction: column;">

      <div style="flex-grow: 1">
      
        {{#message}}
        {{^error}}
        <a href="" class="mess success" style="margin-bottom:0rem">
     <span class="link">Dismiss</span>
     {{text}}
    </a>
        {{/error}}
        {{/message}}

        {{#message.error}}
        <a href="" class="mess error" style="margin-bottom:0rem">
     <span class="link">Dismiss</span>
     {{message.text}}
    </a>
        {{/message.error}}

        {{> yield}}
      </div>

      <form class="foot" action="/dashboard/account/log-out" method="post" style="border:none;background:none;padding:11px 20px;font-size: 14px;color: #666">

<div style="display: flex">
<div style="flex-grow: 1">
<a href="/how">How to use Blot</a>
<a href="/support">Support</a>
</div>
  <button
    type="submit"
    style="background:none;font-size:14px;border:none;padding:0 0;margin:0;color:rgb(153, 153, 153);"
  >
    Log out &thinsp;&rarr;
  </button></div>
</form>
    </div>

  </div>

</div>

<div class="clear"></div>



{{#links_for_footer}}
{{{html}}}
{{/links_for_footer}}
</body>

</html>
