{{> head}}
{{> header}}

<br>
<style type="text/css">
.sidebar {
  list-style-type: none;
  margin-right: 4em
}

.sidebar a {
  color: rgb(158, 154, 152)
}

.no-underline {text-decoration: none;}

.breadcrumbs {
          font-weight: 400;
          color: #0b0c0c;
          flex-grow:1;
          display: flex;
          padding-left: 0;margin-top: 3px
        }


        .breadcrumbs a:first-child {
          margin-left: 0;
        }

        .breadcrumbs a {
          font-weight: 600;
          display: block;
          margin-left: 31.655px;
        }

        .breadcrumbs a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: -22px;
    width: 6px;
    height: 6px;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #5b6879;
        }

        .breadcrumbs a:first-child:before {
          content: none;
          display: none
        }


        .breadcrumbs a:link,
        .breadcrumbs a:visited {
          color: #0070e8;
          text-decoration: none;

        }

        .breadcrumbs a[href]:hover,
        .no-underline:hover {
          text-decoration: underline;
        }

        .foot a {margin-right: 2rem;color: rgb(153, 153, 153);text-decoration: none;}
       

</style>
<div style="clear:both"></div>
<div style="display:flex;    align-items: center;padding: 0 2rem;">

  <div class="wrapper" style="width:100%;margin:0 auto;display:flex;flex-direction:column;">

    <div style="display: flex;padding-bottom: 0.5rem;  
">
      <div style="display: flex;width: 100%;     align-items: baseline;         padding: 16px 0 16px 20px
">
      <div class="breadcrumbs truncate-all">
{{#breadcrumbs}}
            {{^last}}
            <a href="{{{url}}}">{{label}}</a>
            {{/last}}
            {{#last}}
            <a>{{label}}</a>
            {{/last}}
          {{/breadcrumbs}}

      
      </div>
{{#selected.settings}}
<style type="text/css">
  .s {border-radius: 6px;padding: 4px 30px 4px 11px}
  .s.no-underline:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 14.31px;
    width: 6px;
    height: 6px;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #0070e8;
}
  }
</style>
      <a href="{{{blog.url}}}" target="_blank" class="s no-underline" style="line-height:28px;font-weight:600;flex-shrink:0;color:#0070e8;border: 1px solid rgba(0,0,0,0.1)">Visit {{blog.pretty.url}}</a>
{{/selected.settings}}      </div>
    </div>


    <div style="flex-grow: 1;display: flex;flex-direction: column;">

      <div style="flex-grow: 1">
      
        {{> message}}
        
        {{> body}}
      </div>

      
    </div>

  </div>

</div>

<div class="clear"></div>



{{#links_for_footer}}
{{{html}}}
{{/links_for_footer}}
<script type="text/javascript">document.querySelectorAll(".buttons a, .buttons input, .buttons button").forEach(function(a){a.addEventListener("click",function(a){a.target.classList.add("disabled")})})
</script>

<script type="text/javascript" src="/js/truncate.js"></script>

</body>

</html>
