<!DOCTYPE html>
<html>
  {{> head}}
  <body style="padding: 2rem">
    <div class="header">
      {{#breadcrumbs}}
      {{^last}}
      <a href="{{{url}}}">{{ label }}</a> /
      {{/last}}
      {{#last}}
      <a>{{ label }}</a>
      {{/last}}
      {{/breadcrumbs}}
    </div>
    <br />
    {{> message}}

    {{> body}}

    <form class="foot" action="/dashboard/account/log-out" method="post">
      <button type="submit">Log out</button>
    </form>

    {{#links_for_footer}}
    {{{html}}}
    {{/links_for_footer}}

    <script type="text/javascript">
      document
        .querySelectorAll(".buttons a, .buttons input, .buttons button")
        .forEach(function (a) {
          a.addEventListener("click", function (a) {
            a.target.classList.add("disabled");
          });
        });
    </script>
    <script type="text/javascript" src="/js/truncate.js"></script>
  </body>
</html>
