<h1>Formatting guide</h1>

<p>Blot offers a variety of standard tools to add formatting to your blog posts. You can use <a href="#markdown">Markdown</a> to add links, headings, lists and much more. Blot also renders <a href="#math">mathematics</a> set in <a class="bn" href="#math">\(\TeX\)</a>and provides syntax highlighting for code snippets.</p>

<p>The formatting described below is available for blog posts created from Text files, Markdown and Word Documents.</p>

<ul>
  <li><a href="/formatting/markdown">Markdown</a></li>
  <li><a href="/formatting/tex">\(\TeX\)</a></li>
  <li><a href="/formatting/layout-tags">Layout</a></li>
</ul>