<h1>Formatting guide</h1>

<p>You can use a variety of standard tools to add formatting to your blog posts. Text files can include <a href="/formatting/markdown">Markdown</a> to add links, headings, lists and much more. You can mark up mathematics in <a href="/formatting/tex">\(\TeX\)</a>. Note that Blot can turn <a href="/documentation/publishing/posts">HTML files</a> into blog posts.</p>

<ul>
  <li><a href="/formatting/markdown">Markdown</a> A lightweight markup language with plain text formatting syntax.</li>
  <li><a href="/formatting/tex">\(\TeX\)</a> A math typesetting library.</li>
  <li><a href="/formatting/layout-tags">Layout</a> A custom Markdown extension which offers simple layout directives.</li>
</ul>