{{> head}}
<link rel="stylesheet" href="/css/tex.css">
<body>
<header>
  <container>
    <a href="/">Blot</a> / <a href="/formatting">Formatting guide</a>
  {{> nav}}
</container>
</header>
<main class="has-sidebar">
  <nav>
    <ul>
      <li class="{{selected.markdown}}">
        <a href="/formatting/markdown">Markdown</a>
      </li>
      <li class="{{selected.tex}}">
        <a href="/formatting/tex">\(\TeX\)</a>
      </li>
      <li class="{{selected.layout-tags}}">
        <a href="/formatting/layout-tags">Layout</a>
      </li>
    </ul>
  </nav>
  <content>
  {{{body}}}
  </content>
</main>

{{> footer}}
</body>

</html>