{{> head}}

<body>
  <link rel="stylesheet" href="/css/tex.css">

  <main class="has-sidebar">
    <ul class="sidebar">
      <a class="in" href="/">Blot</a> / <a class="in" href="/formatting"> Formatting guide</a>

      <li><a href="/formatting">Introduction</a></li>
      <li><a href="/formatting/markdown">Markdown</a></li>
      <li><a href="/formatting/markdown">\(\TeX\)</a></li>
      <li><a href="/formatting/layout">Layout</a></li>
    </ul>
    <content>
      {{{body}}}
    </content>
  </main>

  {{> footer}}
</body>

</html>