{{#folder}}

{{> preview-header}}

<p><a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/folders/{{slug}}">View source</a></p>

<p>This is a self-contained stand-alone site. If you <a href="{{#cdn}}{{{zip}}}{{/cdn}}"></a>download this folder</a> and place its contents in your own site's folder, you will get the same site. </p>
    
<p>Unlike Blot's <a href="/examples/templates">templates</a> which are general-purpose, this folder contain a template which is specific to the content in the folder.</p>

{{/folder}}