{{> header}}

<div class="entry align-{{navigation_alignment}}">
  
  <div class="nav">
    <a href="/" onclick="return lastIndexPage()">
      <svg viewBox="0 0 36 36">
        <line x1="10" y1="10" x2="26" y2="26"></line>
        <line x1="26" y1="10" x2="10" y2="26"></line>
      </svg>
    </a>
    {{^entry.page}}
    <div>
      <a {{#entry.next}}href="{{entry.next.url}}"{{/entry.next}}>
        <svg viewBox="0 0 36 36">
          <line x1="18" y1="18" x2="26" y2="10"></line>
          <line x1="18" y1="18" x2="26" y2="26"></line>
        </svg>
      </a>
    </div>
    <a>&nbsp;</a>
    {{/entry.page}}
  </div>    
  
  <div class="contents">
  {{#entry}}
    {{{html}}}
    {{> pluginHTML}}
  
  
    <script type="text/javascript">

document.onkeydown = checkKey;

function checkKey(e) {

    e = e || window.event;

    var nextURL = "{{{entry.next.url}}}";
    var previousURL = "{{{entry.previous.url}}}";
    
    if (previousURL && e.keyCode == '39') {
      window.location = previousURL
    }

     if (nextURL && e.keyCode == '37') {
      window.location = nextURL
    }

}
    </script>    
  {{/entry}}
  </div>

  <div class="nav">
    <a href="/" onclick="return lastIndexPage()">
      <svg viewBox="0 0 36 36">
        <line x1="10" y1="10" x2="26" y2="26"></line>
        <line x1="26" y1="10" x2="10" y2="26"></line>
      </svg>
    </a>
    {{^entry.page}}
    <div>
      <a {{#entry.previous}}href="{{entry.previous.url}}"{{/entry.previous}} >
        <svg viewBox="0 0 36 36">
          <line x1="10" y1="10" x2="18" y2="18"></line>
          <line x1="10" y1="26" x2="18" y2="18"></line>
        </svg>
      </a>
    </div>
    <a>&nbsp;</a>
    {{/entry.page}}
  </div>  
</div>

{{> footer}}