{{> header}}

<div class="archives">
  {{#entries}}
  <a href="{{{url}}}">
    <span class="thumbnail">
    {{#thumbnail.small.url}}
        <img loading="lazy" src="{{{thumbnail.small.url}}}" class="pre-loaded" onload="this.className+=' loaded';" />
      <noscript>  
      <img loading="lazy" src="{{{thumbnail.small.url}}}">
      </noscript>
    {{/thumbnail.small.url}}
    </span>
    <span class="title">{{title}}    <span class="date">{{date}}</span>
</span>
  </a>
  {{/entries}}
</div>

{{#pagination}}
<div class="pagination">
  <span>Page {{current}} of {{total}}</span>
  <span class="spacer"></span>
  <a {{#previous}}href="/page/{{previous}}"{{/previous}}>
    <span class="icon-holder margin-right">&larr;</span>Previous
  </a>
  <a {{#next}}href="/page/{{next}}"{{/next}}>
    Next<span class="icon-holder margin-left"><span>&rarr;</span></span>
  </a>

  <div style="flex-grow:1"></div>

  <a href="/archives">Browse the archives<span class="icon-holder margin-left"><span style="position:relative;top:-1px">+</span></span></a>
</div>
{{/pagination}}

{{> footer}}