<h1>Analytics</h1>

<p>Blot does not have a built-in analytics system for tracking visitors to your site. However, you can install any of the following analytics services with a few clicks on the <a href="/settings/services">Services page</a> of your site's dashboard.</p>

<ul class="clients">
  
    <li><a target="_blank" rel="noopener" href="https://analytics.google.com/">
    <img src="{{#cdn}}/images/configure/google-analytics.svg{{/cdn}}">
    <span class="a">Google Analytics</span><br></a></li>
    
    <li><a target="_blank" rel="noopener" href="https://heap.io/">
        <img src="{{#cdn}}/images/configure/heap.svg{{/cdn}}">
    <span class="a">Heap</span></li>
    
    <li><a target="_blank" rel="noopener"  href="https://clicky.com/">
	        <img src="{{#cdn}}/images/configure/clicky.svg{{/cdn}}">
<span class="a">Clicky</span></li>

    <li><a target="_blank" rel="noopener" href="https://simpleanalytics.com/">
        <img src="{{#cdn}}/images/configure/simple-analytics.svg{{/cdn}}">

    <span class="a">Simple Analytics</span></li>

    <li><a target="_blank" rel="noopener" href="https://usefathom.com/">
        <img src="{{#cdn}}/images/configure/fathom.svg{{/cdn}}">        
    <span class="a">Fathom</span></li>

    <li><a target="_blank" rel="noopener" href="https://plausible.io/">
                <img src="{{#cdn}}/images/configure/plausible.svg{{/cdn}}">        
<span class="a">Plausible</span></li>
</ul>

<h2>Switching analytics service</h2>
<p>You can replace the analytics service on your site with a few clicks on the <a href="/settings/services">Services page</a> of your site's dashboard.</p>