<h1>Comments</h1>

<p>
  Blot does not have a built-in commenting system. However, you can install any
  of the following comment services with a few clicks on the
  <a href="/settings/services">Services page</a> of your site's dashboard.
</p>

<ul class="clients">
  <li>
    <a rel="nofollow" href="https://commento.io">
      <img src="/images/configure/commento.svg" />
      <span class="a">Commento</span></a
    >
  </li>
  <li>
    <a rel="nofollow" href="https://disqus.com">
      <img src="/images/configure/disqus.svg" />
      <span class="a">Disqus</span></a
    >
  </li>
</ul>

<h2>Controlling comments on individual entries</h2>
<p>
  When enabled, comments are shown on posts and are not shown on pages. You can
  change this for individual posts and pages by setting the
  <code>Comments</code> to <code>Yes</code> or <code>No</code> in the
  <a href="/how/metadata">metadata</a>.
</p>

<h2>Switching commenting systems</h2>
<p>
  You can replace the commenting system on your site with a few clicks on the
  <a href="/settings/services">Services page</a> of your site's dashboard.
</p>
