<h1>Moving to Blot</h1>

<p>Blot comes with an importer on the dashboard under <a href="/settings/import">Settings &rarr; Import</a> which can
   import sites from the following platforms:</p>
<ul>
  <li>Wordpress</li>
  <li>Squarespace</li>
  <li>Are.na</li>
</ul>

<p>
  The importer generates a folder of <a href="/how/posts/markdown">Markdown</a> files which you can drag and into your site's folder. The importer will preserve the URLs of your posts and the dates they were published.
</p>

<h2>Transferring your domain</h2>

<p>
  You can switch an existing domain to Blot using the DNS records documented on
  the guide to <a href="/how/configure/domain">using your own domain</a>.
</p>
