<h1>Set up your site</h1>

<p>Your site settings are configured on <a href="/settings">your dashboard</a></p>

<ul class="clients">
  <li><a href="/how/configure/import"><span class="a">Import</span>Move an existing site.</li>
  <li><a href="/how/configure/domain"><span class="a">Domain</span>Use your own domain.</li>
  <li><a href="/how/configure/comments"><span class="a">Comments</span>Add comments to your site.</li>
  <li><a href="/how/configure/analytics"><span class="a">Analytics</span>Track visitors to your site.</li>
  <li><a href="/how/configure/redirects"><span class="a">Redirects</span>Set up redirects and prevent broken links.</li>
  <li><a href="/how/configure/link-format"><span class="a">Link format</span>Change the format of your post URLs.</li>
</ul>

