<h1>Redirects</h1>

<p>Use redirects to fix broken links to this site. You only need to set these up if you use your own domain and your site previously used a different publishing tool. The URLs of posts or pages which change within Blot redirect automatically.</p>

<p>
  You can <a href="/sites/default/settings/redirects"><span class="ui-action"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M2 1.75C2 .784 2.784 0 3.75 0h6.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v9.586A1.75 1.75 0 0 1 13.25 16h-3.5a.75.75 0 0 1 0-1.5h3.5a.25.25 0 0 0 .25-.25V4.664a.25.25 0 0 0-.073-.177l-2.914-2.914a.25.25 0 0 0-.177-.073H3.75a.25.25 0 0 0-.25.25v6.5a.75.75 0 0 1-1.5 0v-6.5Z"></path><path d="m5.427 15.573 3.146-3.146a.25.25 0 0 0 0-.354L5.427 8.927A.25.25 0 0 0 5 9.104V11.5H.75a.75.75 0 0 0 0 1.5H5v2.396c0 .223.27.335.427.177Z"></path></svg> Redirects</span></a> for
  missing or moved pages on your site. Your site’s
  <a href="/sites/default/settings/redirects/404s"><span class="ui-action"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M2 1.75C2 .784 2.784 0 3.75 0h6.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v9.586A1.75 1.75 0 0 1 13.25 16h-3.5a.75.75 0 0 1 0-1.5h3.5a.25.25 0 0 0 .25-.25V4.664a.25.25 0 0 0-.073-.177l-2.914-2.914a.25.25 0 0 0-.177-.073H3.75a.25.25 0 0 0-.25.25v6.5a.75.75 0 0 1-1.5 0v-6.5Z"></path><path d="m5.427 15.573 3.146-3.146a.25.25 0 0 0 0-.354L5.427 8.927A.25.25 0 0 0 5 9.104V11.5H.75a.75.75 0 0 0 0 1.5H5v2.396c0 .223.27.335.427.177Z"></path></svg> 404 log</span></a> will help you discover broken
  links.
</p>

<p>
  You can specify individual redirects or use a <em>regular expression</em> to
  match multiple URLs. Here are a few example redirects:
</p>

<small>
  <table>
    <thead>
      <th>From</th>
      <th>To</th>
      <th>Explanation</th>
    </thead>
    <tr>
      <td>
        <code>/apples</code>
      </td>
      <td>
        <code>/oranges</code>
      </td>
      <td>
        Will redirect the URL <code>/apples</code> to the URL
        <code>/oranges</code>, assuming there is no post or file with the URL
        <code>/apples</code>.
      </td>
    </tr>
    <tr>
      <td>
        <code>/posts/(.*)</code>
      </td>
      <td>
        <code>/blog/$1</code>
      </td>
      <td>
        Will redirect URLs starting with <code>/posts/</code> to URLs starting
        with <code>/blog/</code>.
      </td>
    </tr>
    <tr>
      <td>
        <code>/example</code>
      </td>
      <td>
        <code>http://example.com</code>
      </td>
      <td>
        Will the URL <code>/example</code> on your site to the external site
        <code>example.com</code>.
      </td>
    </tr>
  </table></small
>

<h2>Why isn't my redirect working?</h2>
<p>
  Redirects are evaluated last. This means that a redirect will not resolve if
  it matches an existing post’s URL, or the path to a file in your folder.
</p>
