{{#account}}
<div class="live-updates">

{{#error}}

    {{error}}

{{/error}}


{{> status-line}}


  

{{#email}}
   <div class="line">
    <span class="label">Account on iCloud</span>
    <span class="center">{{email}}</span>
  </div>
  {{/email}}

  {{> disconnect-line}}


</div>
<br><br>
{{/account}}

{{^account}}


<div class="inset">
  <p>
    <img width="16" height="16" src="{{#cdn}}/images/sync/icloud.svg{{/cdn}}" style="position: relative;top:2px;margin-right: 4px;width:16px" />
    iCloud
  </p>  
    <ol>
        <li>Please create a new folder in your iCloud Drive. </li>
        <li>Right-click the folder, select  “Share”, then “Invite with Link” and add the following as a collaborator:<br>
            <strong>link@blot.im</strong><button class="copy" data-copy="link@blot.im"><span class="icon-copy"></span> Copy</button></li>
        <li>Paste the link below:</li>
    </ol>
  <form class="dashboard-form" action="{{{base}}}/set-up-folder" method="post">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <label for="email">iCloud folder sharing link:</label>
    <input type="text" name="sharingLink" value="">
    <div class="buttons">
      <button type="submit">Save email</button> 
      <button type="submit" name="cancel" value="true">Cancel</button> 
    </div>
  </form>

</div>
{{/account}}