
    <ul class="steps">
    <li>Create a new folder in your iCloud Drive.</li>
    <li>Right-click the folder and select ‘<b>Share...</b>’, then choose ‘<b>Invite with Link</b>.
    <details>
         <summary><span class="icon-support"></span> Don't see Invite with Link?</summary>
         <p>
           Make sure to select 'Collaborate' rather than 'Send Copy' from the dropdown at the top of the share dialog.
         </p>
       </details>
    </li>
    <li>Add as a collaborator:<br>
        <strong>{{blotiCloudAccount}}</strong>  
        <button class="copy" data-copy="{{blotiCloudAccount}}">
            <span class="icon-copy"></span> Copy
        </button> 
    </li>
    <li>Paste the generated sharing link in the field below.
  <form class="dashboard-form" action="{{{base}}}/set-up-folder" method="post" style="margin-top: 12px;">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <input type="hidden" name="redirect" value="{{{base}}}/setup">
    <input type="hidden" name="blotiCloudAccount" value="{{blotiCloudAccount}}">

    <label for="email" style="margin-top:12px">iCloud folder sharing link:</label>
    <input type="text" name="sharingLink" value="">
    <div class="buttons">
      <button type="submit">Set up iCloud</button> 
      <button type="submit" name="cancel" value="true">Cancel</button> 
    </div>
     </form>

    </li>
</ul>
 