<script type="text/javascript">
  var createSwatches = function () { for (var t = document.querySelectorAll(".output"), e = 0; e < t.length; e++)for (var r = t[e], n = getAttribute(r, "count"), a = r.attributes, o = 0; o < n; o++) { for (var u = document.createElement("span"), l = 0; l < a.length; l++)u.setAttribute(a[l].name, a[l].value); u.className = "swatch", r.appendChild(u) } }; var renderDemo = function (t) { var e = document.querySelectorAll(".swatch"); for (var r in e) { var n = {}, a = e[r], o = a.attributes; if (o) for (var u = 0; u < o.length; u++)n[o[u].name] = o[u].value; n.count && delete n.count; var l = randomColor(n); a.style && (a.style.background = l), a.innerHTML = l.toString() } }; function getAttribute(t, e) { for (var r in t.attributes) if (e === t.attributes[r].name) return t.attributes[r].value }
</script>
<script src="https://randomcolor.lllllllllllllllll.com/randomColor.js"></script>
<style type="text/css">
  .swatch {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: block;
    text-indent: -1000px;
    float: left;
    overflow: hidden;
    background: #000;
    margin: 0 1em 1em 0;
    transition: all 0.2s ease-in-out;
  }
</style>
<h1>Scripts and HTML</h1>
<span class=output count=16 hue="blue" onclick="renderDemo()" style="cursor: pointer;"></span>
<div style="clear:both"></div>
<script>
  createSwatches();
  renderDemo(1234);
</script>