/* So I focus */
/*main {display: none!important;}
*/

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background: #f7f5f3;
}

body {
  color: rgb(4, 4, 2);
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  font-weight: 400;
  color: #000;
  background: #fff;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body.dark {
  background: #111;
  color: #e2e1df
}

small {
  font-size: 15px
}

code {
  font-family: 'IA Writer Duospace', Consolas, monaco, monospace;
}

a:visited {
  color: #330072;
}

.dark a {
  color: #64a0da
}

a {
  color: #005eb8;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p a:active,
p a:focus {
  text-decoration: none;
  outline: 2px solid;
}

p {
  max-width: 39em
}

h1 {
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 1.1em 0 0
}

h2 {
  font-size: 1em;
  margin: 2.8em 0 0.3375em;
  border-bottom: 1px solid;
  padding: 0.5rem 0 0.3375em;
  font-weight: 700;
}


h2+p {
  margin-top: 0
}


/* This keeps the footer off the main page */
main {
  min-height: calc(100vh - 2rem);
  padding: 2em 0;
}

main,
container {
  margin: 0 auto;
  max-width: 1060px;
}

content {
  width: 75%
}

main.has-sidebar {
  display: flex
}

main.has-sidebar nav {
  width: 25%
}

ul.templates {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  padding: 0
}

ul.templates li {
  list-style-type: none;
  min-width: 200px;
  width: 25%;
  box-sizing: border-box;
  padding: 1.5rem 0.5rem;
}

ul.templates li strong {
  display: block;
}

ul.templates img,
p img {
  width: 100%
}


table {
  width: 100%;
    margin-bottom: 3em;
    word-wrap: normal;
    table-layout: fixed;
    display: table;
    overflow: hidden;
        border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
}

th,
td {
  padding: 8px 0;
  text-align: left;
  border-bottom: 1px solid #eee
}

th {
  font-weight: 600;
  border-bottom-width: 1px;
  border-color: inherit
}

td,
th {
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
}

td:first-child,
th:first-child {
  padding-left: 0
}

td:last-child,
th:last-child {
  padding-right: 0
}


background {
  padding: 2em 4em 2.5em;
  display: block;
  background: #96deff
}

background+h2,
background+h3 {
  margin-top: 3em
}

/*
background:nth-of-type(1){background: #77d3fb}
background:nth-of-type(2){background: #faba40}
background:nth-of-type(3){background: #35cb4b}*/

background .folder {
  max-width: 300px;
  margin: 0 auto
}

/* Big link on homepage containing folder to play demo video */
a.video {
  text-decoration: none;
  background: #f7f5f3;
  padding: 6em 4em;
  margin: 0 3em 2.7em;
  display: block
}

a.video div {
  opacity: 1.0;
  transition: opacity 0.1s ease-out;
}

a.video:hover {
  box-shadow: none;
}

a.video:hover div {
  opacity: 0.5
}

overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: #f7f5f3;
  transition: opacity 0.1s ease-out;
}

overlay stage {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

overlay video {
  width: 100%;
  height: auto;
  max-height: 80vh
}

overlay.show {
  z-index: 1;
  opacity: 1
}

.sites {
  list-style-type: none;
  width: 200%;
  margin-left: -50%;
  display: flex;
  flex-wrap: wrap;
}

.sites li {
  width: 33%;
  padding: 0 3em;
  box-sizing: border-box;
  margin: 1.35em 0;
  position: relative;

}

.sites li img {
  position: absolute;
  top: 0.2em;
  left: 1.5em
}

.action-link {
  color: #aaa;
  text-decoration: none;
  display: inline-block;
  border: 2px solid;
  border-radius: 0.125em;
  padding: 0.5em 1em;
  margin: 0 1em;
}