/* So I focus */
/*main {display: none!important;}
*/

html,
body {
  padding: 0;
  margin: 0;
  background: #fffefc;
}

.dark main {
  background: #111;
}

main {
  background: #fffefc;
  padding-bottom: 14em !important;
}

body {
  color: rgb(4, 4, 2);
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  color: #111;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body.dark {
  background: #111;
  color: #b5c2c3;
}

.dark p,
.dark content a,
.dark ol,
.dark ul {
  color: #b5c2c3;
}

.dark content a {
  border-bottom-color: #444;
}

.dark content a:hover {
  border-bottom-color: #b5c2c3;
}

small {
  font-size: 15px;
}

code {
  font-family: "IA Writer Duospace", Consolas, monaco, monospace;
}

a {
  text-decoration: none;
}

mark {
  background-color: #fff0a8;
}

content p a,
content li a,
content table a,
content details a {
  color: #005eb8;
  text-decoration: underline;
}

content p a:focus,
content li a:focus,
content table a:focus,
content details a:focus {
  background-color: #eee;
  box-shadow: 0 0 0 4px #eee;
  color: #444;
  stroke: #444;
  outline: 4px solid transparent;
  outline-offset: 4px;
}

content p a:hover,
content li a:hover,
content table a:hover,
content details a:hover {
  background-color: #eee;
  box-shadow: 0 0 0 4px #eee;
  text-decoration: underline;
}

h1 {
font-size: 24px;
    font-weight: 600;
    margin: 36px 0 16px;
/*    border-bottom: 1px solid #eceff1;
*/    padding: 0 0 0.25em;
}

h2 {
  font-size: 17px;
  margin: 2.8rem 0 0.35rem;
  border-bottom: 1px solid #eceff1;
  padding: 0.5rem 0 0.3375em;
  font-weight: 600;
}

h2+p {
  margin-top: 0;
}

p,
background,
.window,
ul,
ol,
.clients,
ul.templates {
  max-width: 637px;
}

/* This keeps the footer off the main page */
main {
  min-height: 100vh;
  padding-bottom: 24em;
  box-sizing: border-box;
  display: flex;
}

main,
container {
  margin: 0 auto;
}

content {
  flex-grow: 1;
  padding: 0 4.2rem;
}

.sidebar+content {
  margin-left: 0;
}

main.has-sidebar {
  display: flex;
}

ul.templates {
  display: flex;
  margin: 2em 0;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

ul.templates small {
  display: none;
}

ul.templates li {
  list-style-type: none;
  min-width: 200px;
  width: 25%;
  box-sizing: border-box;
  padding: 1.5rem 0.5rem;
}

ul.templates li a {
  color: inherit;
  border: none;
}

ul.templates li strong {
  display: block;
}

ul.templates img {
  margin-left: -0.5em;
  margin-top: 0.5em;
}

ul.templates img,
p img {
  width: 100%;
}

table {
  width: 100%;
  margin-bottom: 3em;
  word-wrap: normal;
  table-layout: fixed;
  display: table;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
}

th,
td {
  padding: 8px 0;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  font-weight: 600;
  border-bottom-width: 1px;
  border-color: inherit;
}

td,
th {
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

.window {
  margin-top: 4.2em;
  margin-bottom: 4.2em;
}

background {
  display: flex;
  margin: 2rem 0;
  background: #96deff80;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

background+h2,
background+h3,
.window+h2,
.window+h3 {
  margin-top: 3em;
}

background.text+h2,
background.text+h3 {
  margin-top: 4em;
}

background.red {
  background: #fc615d38;
}

background.yellow {
  background: #fdbd416b;
}

/*#faba40*/
background.green {
  background: #35cb4b42;
}

/*#35cb4b*/

background .text {
  max-width: 600px;
  margin: 0 auto;
}

/* Big link on homepage containing folder to play demo video */
a.video {
  margin: 0;
  height: 0;
  background: #fdbd41;
  padding-bottom: 30%;
  min-height: 48px;
  margin: 0 0 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 288px;
  padding-bottom: 0;
  height: calc(100vh - 19.5em);
}

@media screen and (max-width: 800px) {
  .text pre {
    padding: 2.22rem 2.222rem;
  }
}

@media screen and (max-width: 600px) {
  .text pre {
    padding: 2.22rem 1.4rem;
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {

  a.video,
  background {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

a.video .window,
background .window {
  flex-grow: 1;
  max-width: 320px;
  min-width: 256px;
  margin: 2.8rem 1.4rem;
}

.action-link {
  color: #aaa;
  text-decoration: none;
  display: inline-block;
  border: 2px solid;
  border-radius: 0.125em;
  padding: 0.5em 1em;
  margin: 0 1em;
}

.clients {
  margin: 2em -0.7em;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.clients li {
  display: inline-block;
  flex-basis: 33%;
  box-sizing: border-box;
  margin: 0.7em;
  min-width: 256px;
  flex-grow: 1;
}

.clients li a {
  cursor: pointer;
  user-select: none;
  padding: 10px 12px 10px;
  border-radius: 3px;
  margin-bottom: 1.4 em;
  display: block;
  color: inherit;
  text-decoration: none;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  background: white;
}

.clients li a:hover {
  text-decoration: none;
  background: #f6f6f6;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

.clients li a:hover strong {
  text-decoration: underline;
}

.clients li a .a {
  color: #005eb8;
  text-decoration: underline;
}

.dark .clients li a {
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px, rgb(0, 0, 0) 0px 2px 4px;
  background: #171616;
  border: none;
}

.clients svg {
  width: 24px;
  float: left;
  margin-right: 1em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin-bottom: 2em;
}

p.back-link {
  margin: -1.4em 0 1.4em;
  border-top: 1px solid #eceff1;
  padding: 0.7em 0;
}

overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  padding: 3em;
  background: #fffefc;
}
