html,
body {
  padding: 0;
  margin: 0;
  background: #fffefc;
}

strong {
  font-weight: 600;
}

header {
  display: flex;
}
nav {
  width: 285px;
  flex-shrink: 0;
}
content {
  flex-grow: 1;
}

.container {
  padding: 36px;
}
main .container {
  padding-top: 9px;
}



main {
  background: #fffefc;
  padding-bottom: 14em !important;
}

body {
  color: #000;
  line-height: 1.45;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


small {
  font-size: 15px;
}

code {
  font-family: "IA Writer Duospace", Consolas, monaco, monospace;
}

a {
  text-decoration: none;
}

mark {
  background-color: #fff0a8;
}

content p a,
content li a,
content table a,
content details a {
  color: inherit;
  text-decoration: underline;
}

content p a:focus,
content li a:focus,
content table a:focus,
content details a:focus {
  background-color: #eee;
  box-shadow: 0 0 0 4px #eee;
  color: #444;
  stroke: #444;
  outline: 4px solid transparent;
  outline-offset: 4px;
}

content p a:hover,
content li a:hover,
content table a:hover,
content details a:hover {
  background-color: #eee;
  box-shadow: 0 0 0 4px #eee;
  text-decoration: underline;
}

h1 {
  font-size: 27px;
  font-weight: 600;
  margin: 36px 0 16px;
  padding: 0 0 0.25em;
}

h1:first-child {
  margin-top: 0;
  line-height: 1;
}

h2 {
  font-size: 17px;
  margin: 2.8rem 0 0.35rem;
  border-bottom: 1px solid #eceff1;
  padding: 0.5rem 0 0.3375em;
  font-weight: 600;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
  text-decoration: none;
}

h2 + p {
  margin-top: 0;
}

p,
background,
.window,
ul,
ol,
.clients,
ul.templates {
  max-width: 637px;
}

/* This keeps the footer off the main page */
main {
  min-height: 100vh;
  padding-bottom: 24em;
  box-sizing: border-box;
  display: flex;
}

main {
  margin: 0 auto;
}


ul.templates {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 2em -0.5em;
}

ul.templates small {
  display: none;
}

ul.templates li {
  list-style-type: none;
  width: 33%;
  padding: 1rem;
  box-sizing: border-box;
}

ul.templates li a {
  border: none;
  min-height: 180px;
  display: block;
}

ul.templates li a:hover {
  box-shadow: none;
  outline: none;
  background: none;
}

ul.templates li a:hover strong {
  background-color: #eee;
  box-shadow: 0 0 0 4px #eee;
}

ul.templates li strong {
  display: inline-block;
  text-decoration: underline;
  color: #005eb8;
  font-weight: 400;
}

ul.templates img {
  margin-left: -0.5em;
  margin-top: 0.5em;
}

ul.templates img,
p img {
  width: 100%;
  height: auto;
}

table {
  width: 100%;
  margin-bottom: 3em;
  word-wrap: normal;
  table-layout: fixed;
  display: table;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
}

div.tex table {
  table-layout: auto;
  margin-bottom: 1.5em;
}

div.tex p {
  margin-bottom: 3em;
}

div.tex table.reference td:nth-child(odd),
div.tex table.symbol td {
  font-family: KaTeX_Main, KaTeX_AMS;
}

div.tex table td.not-symbol {
  font-family: inherit !important;
}

th,
td {
  padding: 8px 0;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  font-weight: 600;
  border-bottom-width: 1px;
  border-color: inherit;
}

td,
th {
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

.window {
  margin-top: 4.2em;
  margin-bottom: 4.2em;
}

background {
  display: flex;
  margin: 3rem 0;
  background: #000;
  /*border:1px solid #000;*/
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

background + h2,
.window + h2 {
  margin-top: 3em;
}


background .text {
  max-width: 600px;
  margin: 0 auto;
}


@media screen and (max-width: 800px) {
  .text pre {
    padding: 2.22rem 2.222rem;
  }
}

@media screen and (max-width: 600px) {
  .text pre {
    padding: 2.22rem 1.4rem;
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  background {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

background .window {
  flex-grow: 1;
  max-width: 320px;
  min-width: 256px;
  margin: 2.8rem 1.4rem;
}


.clients {
  margin: 2em -0.7em;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.clients li {
  display: inline-block;
  flex-basis: 33%;
  box-sizing: border-box;
  margin: 0.7em;
  min-width: 256px;
  flex-grow: 1;
}

.clients li a {
  cursor: pointer;
  user-select: none;
  padding: 10px 12px 10px;
  border-radius: 3px;
  margin-bottom: 1.4 em;
  display: block;
  color: inherit;
  text-decoration: none;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  background: white;
}

.clients li a:hover {
  text-decoration: none;
  background: #f6f6f6;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

.clients li a:hover strong {
  text-decoration: underline;
}

.clients li a .a {
  color: #005eb8;
  text-decoration: underline;
}


.clients svg {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 1em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin-bottom: 2em;
}

p.back-link {
  margin: -1.4em 0 1.4em;
  padding: 0.7em 0;
}

overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  padding: 0;
  background: #fffefc;
}

.screenshot {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
}

.screenshot img {
  max-width: 100%;
  height: auto;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
}

a.screenshot:hover {
  outline: none;
}

figure {
  margin: 4em 0;
}

figcaption {
  font-size: 12px;
}

ul.side-links {
  list-style-type: none;
  float: right;
  border-left: 1px solid #eee;
  padding: 0 0 1.5em 1.5em;
  margin: 0 0 0 2em;
}

/* Paragraph tag containing form error messages */ 
.error {
  color: #a54846;
  display: block;
  background: #feeded;
  outline: 10px solid #feeded;
  margin-bottom: 2rem;
}

.error:empty {display: none;}

.form-container {
  display: inline-block;
  max-width: 360px;
}

form div:focus-within > label,
form p:focus-within > label {
  color: rgb(0, 122, 255);
}

a.bordered-button {
  border:1px solid #000;padding:0.5rem;text-decoration: none;margin-top: 18px;display: inline-block;
}

a.whitebutton,
button.whitebutton {
  cursor: pointer;
  padding: 10px 12px 10px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: rgb(15 15 15 / 10%) 0 0 0 1px, rgb(15 15 15 / 10%) 0 2px 4px;
  background: #fff;
  text-align: center;
  border: none;
  font-weight: bold;
}
a.whitebutton { color: inherit; }
a.whitebutton:hover,
button.whitebutton:hover:enabled {
  text-decoration: none;
  background: #f6f6f6;
  box-shadow: rgb(15 15 15 / 10%) 0 0 0 1px, rgb(15 15 15 / 10%) 0 2px 4px;
}
.secondary-text {
  color: #989694;
}

.smaller {
  font-size: 14px;
}

/* Questions (Q&A) */
.qa-section-header {
  max-width: 637px;
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: baseline;
}
.qa-question-header {
  display: flex;
  justify-content: space-between;
}
ul.qa-questions {
  margin: 0;
  list-style-type: none;
}
ul.qa-questions li {
  margin: .7em 0;
}
.qa-questions li a:hover strong { text-decoration: none; }
.qa-question-container {
  margin-bottom: 2em;
}
.qa-item-container {
  margin-bottom: 2em;
}
.qa-item-container :nth-last-child(2) {
  margin-bottom: 0.15em;
}
.qa-form ::placeholder,
.qa-form :focus::placeholder {
  color: #a09d9c;
}
.qa-form input,
.qa-form textarea {
  width: 100%;
}
.qa-form textarea {
  margin: 2px 0;
  font-size: 17px;
  padding: 10px;
  font-family: inherit;
  z-index: 1;
  position: relative;
  border: 1px solid #cccbca;
  border-top-color: rgba(0,0,0,.25);
  border-bottom-color: rgba(0,0,0,.15);
  box-sizing: border-box;
  background: 0 0;
  box-shadow: inset 0 1px 2px 0 rgb(0 0 0 / 8%);
  transition: border-color ease-in-out .1s,box-shadow ease-in-out .1s,-webkit-box-shadow ease-in-out .1s;
  resize: vertical;
  min-height: 100px;
  height: 100px;
}
.qa-form .qa-form-actionarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}