html,
body {
  padding: 0;
  margin: 0
}

body {
  color: rgb(4, 4, 2);
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  font-weight: 400;
  color: #000;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body.dark {
  background: #000;
  color: #fff
}

a:visited {
  color: #330072;
}

a {
  color: #005eb8;
}


a:active {
  color: #374047;
}

p {
  max-width: 37em
}

h1 {
  font-size: 32px;
  margin-top: 0rem;
  margin-bottom: 12px
}

h2 {
  font-size: 1.15em;
  margin: 2.8em 0 0.35em
}


h2+p {
  margin-top: 0
}



header,
footer {
  padding: 2em 1rem 1em;
  background: #f7f5f3
}

.dark header,
.dark footer {
  background: #111
}

header.transparent {
  background: none
}

header container,
footer container {
  display: flex;
}

header index {
  flex-grow: 1;
}

header a {
  text-decoration: none;
  fill: #aaa;
  transition: color 0.1s ease-out, fill 0.1s ease-out, background 0.1s ease-out, box-shadow 0.1s ease-out;
  box-shadow: 0 0 0 5px transparent;
}

header a,
header a:visited {
  color: #aaa;
}


header a:hover {
  color: #29201b;
  fill: #29201b;
  border-radius: 1px;
  background-color: #efeae5;
  box-shadow: 0 0 0 5px #efeae5;
}

header a:active {
  background-color: #e6e0da;
  box-shadow: 0 0 0 5px #e6e0da;
}

header.transparent a:hover {
  background-color: #f7f5f3;
  box-shadow: 0 0 0 5px #f7f5f3;
}

header.transparent a:active {
  background-color: #efeae5;
  box-shadow: 0 0 0 5px #efeae5;
}

header .spacer {
  height: 14px;
  margin: 5px 20px;
  border-right: 1px solid #ccc
}

header img {
  margin-right: 0.5rem
}

header * {
  margin: 0
}

header ul {
  display: flex
}

header ul a {
  margin: 0 14px
}

header ul > :last-child a {margin-right: 0}

header li {
  list-style-type: none;
}


/* This keeps the footer off the main page */
main {
  min-height: calc(100vh - 2rem);
  padding: 1em 0;
}

main,
container {
  margin: 0 auto;
  max-width: 1060px;
}

content {
  width: 75%
}

main.has-sidebar {
  display: flex
}

main.has-sidebar nav {
  width: 25%
}

ul.templates {
  display: flex;
  margin: 0;
  padding: 0
}

ul.templates li {
  list-style-type: none;
  padding: 1.5rem 0.5rem;
  background: #f6f6f6
}

ul.templates li strong {
  display: block;
}

ul.templates img,
p img {
  width: 100%
}


footer {
  display: flex;
  margin-top: 6em
}

th,
td {
  padding: 8px 0;
  border-bottom: 1px solid #eee
}

th {
  font-weight: 600;
  border-bottom-width: 2px;
}


background {
  padding: 2em 4em 2.5em;
  display: block;
  background: #96deff
}

background + h2, background + h3 {
margin-top: 3em
}
/*
background:nth-of-type(1){background: #77d3fb}
background:nth-of-type(2){background: #faba40}
background:nth-of-type(3){background: #35cb4b}*/

background .folder {
  max-width: 300px;
  margin: 0 auto
}

/* Big link on homepage containing folder to play demo video */
a.video {
  text-decoration: none;
  background: #f7f5f3;
  padding: 6em 4em;
  margin: 0 3em 2.7em;
  display: block
}

a.video div {
  opacity: 1.0;
  transition: opacity 0.1s ease-out;
}

a.video:hover {
  box-shadow: none;
}

a.video:hover div {
  opacity: 0.5
}

overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: #f7f5f3;
  transition: opacity 0.1s ease-out;
}

overlay stage {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

overlay video {
  width: 100%;
  height: auto;
  max-height: 80vh
}

overlay.show {
  z-index: 1;
  opacity: 1
}

.sites {
  list-style-type: none;
  width: 200%;
  margin-left: -50%;
  display: flex;
  flex-wrap: wrap;
}

.sites li {
  width: 33%;
  padding: 0 3em;
  box-sizing: border-box;
  margin: 1.35em 0;
  position: relative;

}

.sites li img {
  position: absolute;
  top: 0.2em;
  left: 1.5em
}

.action-link {
  color: #aaa;
  text-decoration: none;
  display: inline-block;
  border: 2px solid;
  border-radius: 0.125em;
  padding: 0.5em 1em;
  margin: 0 1em;
}