
.breadcrumbs {
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__list-item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs__link {
  text-decoration: none;
}

.breadcrumbs__list-item {
  display: inline-block;
  position: relative;
  margin-left: 13px;
  padding-left: 18.655px;
  float: left;
  color: grey;
}

.breadcrumbs__list-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: -3.31px;
  width: 6px;
  height: 6px;
  margin: auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: #929292;
}


.breadcrumbs__list-item a:hover {
  box-shadow: none;
  text-decoration: none;
  background: none;
  border: none;
}


.breadcrumbs__list-item:first-child:before {
  content: none;
  display: none;
}

.breadcrumbs__link:hover,
.no-underline:hover {
  color: #606060;
}

.breadcrumbs__link:active,
.breadcrumbs__link:focus {
  color: #000;
}