.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 14px;
  flex-grow: 1;
  border: 1px solid var(--light-border-color);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 0 0 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.breadcrumbs_link:first-child {
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs_link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs_link {
  display: inline-block;
  position: relative;
  margin-left: 0.7rem;
  padding-left: 0.7rem;
  color: var(--light-text-color); 
}

.breadcrumbs_link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: -4px;
  width: 4px;
  height: 4px;
  margin: auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: var(--light-text-color);
}

.breadcrumbs_link:first-child:before {
  content: none;
  display: none;
}

.breadcrumbs_link:hover {
  color: var(--accent-color);
}

.breadcrumbs_link:active {
  color: #999;
}
