
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 55px;
  padding: 0 0 .3375em;
}

.breadcrumbs__link:first-child {
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs__link:last-of-type {
  color: #000;
  font-weight: 600;
}

.breadcrumbs__link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs__link {
  display: inline-block;
  position: relative;
  margin-left: 13px;
  padding-left: 18.655px;
  float: left;
  color: #000;
}

.breadcrumbs__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: -3.31px;
  width: 6px;
  height: 6px;
  margin: auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: rgba(0,0,0,0.5);
}


.breadcrumbs__link a:hover {
  box-shadow: none;
  text-decoration: none;
  background: none;
  border: none;
}


.breadcrumbs__link:first-child:before {
  content: none;
  display: none;
}

.breadcrumbs__link:hover {
  color: #606060;
}

.breadcrumbs__link:active,
.breadcrumbs__link:focus {
  color: #000;
  font-weight: 600
}

.breadcrumbs__link:active ~ .breadcrumbs__link,
.breadcrumbs__link:focus ~ .breadcrumbs__link {
  display: none;
}