footer {
  display: flex;
  padding: 2em 2em 6em;
  border-top: 1px solid rgb(231, 231, 229);
  fill: #fff;
  stroke: #312c25;
  margin-bottom: -6em;
}

.dark footer {
  background: #0a0a0a
}

footer container {
  display: flex;
  flex-wrap: wrap;
}

footer a:active,
footer a:focus {opacity: 0.7}

footer li a:hover,
footer li a:active {
  background: none
}

footer a.action-button {border-color: #c3c1bd;height: 1.4em;margin: 1em 1em 1em 0}
footer a.action-button:hover {border-color: #000;color: #000}

footer container {
      width: 100%;
    justify-content: space-between;
}
footer container div {display: flex;flex-wrap: wrap;width: 25%}
footer container div > * {
  margin-right: 2em
}

footer container> :last-child {
  margin-right: 0
}

footer container div {margin-bottom: 2em}

footer ul {padding-left: 0}

footer svg {width: 30px;position: relative;top: 1em;}

footer p {
  max-width: 19em;
}

footer li {
  list-style-type: none;
}

footer ul a:hover {text-decoration: underline;}

footer a {
  color: #a09d9c;
  position: relative;
  text-decoration: none;
}