/* Paragraph tag containing form error messages */ 
.error {
  color: #a54846;
  display: block;
  background: #feeded;
  outline: 10px solid #feeded;
  margin-bottom: 2rem;
}

.form-container {
  display: inline-block;
  max-width: 360px;
}

form div:focus-within > label,
form p:focus-within > label {
  color: rgb(0, 122, 255);
}


input[type="submit"],
input[type="text"],
input[type="password"] {
  border-radius: 0;
}

input[type="submit"] {
  background: #0079fc;
  border-radius: 4px;
  padding: 0.75em 1em;
  color: white;
  margin: 1em 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

input[type="submit"]:focus {
  border: none;
  outline: none;
}

input[type="submit"].working {
  background: #ddd;
  color: #888;
}

form label {
  font-size: 14px;
  color: #444;
}

/* turn into tooltip */
label em {
  display: none;
}

input[name="email"],
input[name="password"] {
  width: 100%;
  display: block;
}

input[name="number"] {
  width: 100%;
  display: block;
}

input[name="cvc"] {
  display: block;
}

input[type="text"],
input[type="password"] {
  padding: 4px 3px;
  margin: 2px 0;
  font-size: 17px;
  padding: 10px;
  font-family: inherit;
  z-index: 1;
  position: relative;
  border: 1px solid #cccbca;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background: 0 0;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s,
    -webkit-box-shadow ease-in-out 0.1s;
}

input[name="exp-year"],
input[name="exp-month"],
input[name="cvc"] {
  text-align: center;
}

input[name="exp-month"] {
  width: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[name="cvc"] {
  width: 75px;
}

input[name="exp-year"] {
  width: 75px;
  margin-left: -1px;
  margin-right: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none !important;
  z-index: 2;
  border: 1px solid rgb(0, 122, 255);
  box-shadow: inset 0 0 1px rgb(0, 122, 255);
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a09d9c;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #a09d9c;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #a09d9c;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #a09d9c;
}

input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5c4c4;
}

input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5c4c4;
}

input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5c4c4;
}

input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #c5c4c4;
}

