main.form {
  display: flex;
  min-height: auto;
  padding: 0 2rem;
}

main.form content {
  max-width: 400px;
  padding: 0
}

input[type="submit"],
input[type="text"]  {border-radius: 3px}

input[type="submit"] {
  background: #333;
  padding: 0.75em 1em;
  color: white;
  margin: 1em 0;
  border: none;
  border-bottom: 2px solid #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500
}

input[type="submit"]:focus {
  border: none;
  position: relative;
  top: 2px;
  outline: none;
}

input[type="submit"].working {
  background: #aaa
}

form label {
  font-size: 14px;
  color: #666
}

/* turn into tooltip */
label em {
  display: none;
}

input[name="email"],
input[name="password"] {
  width: 100%;
  display: block;
}

input[name="number"] {
  width: 100%;
  display: block;
}

input[name="cvc"] {
  display: block;
}

input[type="text"],
input[type="password"] {
  padding: 4px 3px;
  margin: 2px 0;
  font-size: 17px;
  padding: 10px;
  font-family: inherit;
  z-index: 1;
  position: relative;
  border: 1px solid #cccbca;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-color: rgba(0, 0, 0, .15);
  box-sizing: border-box;
  background: 0 0;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.form p {
  margin-left: 0;
  margin-right: 0
}

input[name="exp-year"],
input[name="exp-month"],
input[name="cvc"] {
  text-align: center;
}

input[name="exp-month"] {
  width: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[name="cvc"] {
  width: 75px;
}

input[name="exp-year"] {
  width: 75px;
  margin-left: -1px;
  margin-right: 2em;
    border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none !important;
  z-index: 2;
  border: 1px solid #699ad2;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .075), 0 0 10px #bdcfe2;
}



::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a09d9c;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #a09d9c;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #a09d9c;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #a09d9c;
}

.form flex {
  display: flex
}

.form flex {
  -webkit-margin-collapse: discard;
}

.arrow {
  margin: 0 1em
}

.form form {
  margin: 2em 0;
  width: 330px
}


mark#success {
  background: #cceacc;
  color: green;
  outline: #cceacc solid 9px;
  margin-bottom: 2em;
  display: block;
}

.error:empty {
  display: none;
}

.error {
  color: #a54846;
  display: block;
  background: #feeded;
  outline: 10px solid #feeded
}
