header {
  padding: 2em 1.4em 1em;
  background: #f7f5f3
}

header container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header.transparent {
  background: none
}

.dark header {
  background: #0a0a0a
}

.dark header a[href="/"] {
  color: #fff;
}

.dark header a[href="/"] svg {
  fill: #000;
  stroke: #fff;
}

header a,
header label {
  text-decoration: none;
  fill: #aaa;
  white-space: nowrap;
  border-radius: 3px;
  padding: 0.55em .8em;
  margin: -0.55em -.8em;
}

header a,
header a:visited {
  color: #a09d9c;
}


header a:hover,
header label:hover {
  color: #312c25;
  fill: #312c25;
  background-color: #ece9e6;
}

/*
header ul :first-of-type a {background: #efeae5}
header ul :last-of-type a {background: #c3beb9}
*/
header a:active {
  background-color: #e2dfdb;
  color: #000;
}

header.transparent a:hover {
  background-color: #f7f5f3;
}

header.transparent a:active {
  background-color: #efeae5;
}


header a[href="/"],
header a[href="/"]:visited {
  color: #312c25;
  position: relative;
  padding-left: 3em
}

header a[href="/"] svg {
  width: 1.6em;
  position: absolute;
  top: 0.55em;
  left: 0.8em;
  fill: #fff;
  stroke: #312c25;
  enable-background: new 0 0 61.1004448 49.8005981;
}


header .spacer {
  height: 17px;
  margin: 3px 1em;
  border-right: 1px solid #ded8d3;
}

header img {
  margin-right: 0.5rem
}

header * {
  margin: 0
}

header ul {
  display: flex;
  list-style-type: none;
}



header ul a {
  margin: 0 0em
}

header ul> :last-child a {
  margin-right: 0
}


input[name="toggle"] {
  display: none;
}

label[for="toggle"] {
  line-height: 0.375;
  cursor: pointer;
  display: block;
  float: right;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}


@media screen and (max-width: 990px) {
  collapse {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  label[for="toggle"] {
    display: none;
  }
}

@media screen and (max-width: 700px) {


  input[name="toggle"]+ul {
    display: none;
  }

  input[name="toggle"]:checked+ul {
    display: block;
  }

  header ul {
    display: block;
    padding: 0;
    width: 100%;
    margin: 1em -0.8em 0;
    margin-top: 1em;
    padding: 0 0.8em;
  }

  header ul li {
    border-top: 1px solid #efeae5;
  }

  header ul li.spacer {
    display: none !important
  }

  header ul a {
    display: block;
    padding-left: 3em;
  }

}