header row {
  padding: 0 2rem;
}

.grid {
  padding: 0.7em;
}

.links {
  text-align: right;
  padding: 0 0.7em;
}

.links a {
  margin-left: 1.4em;
  color: #000;
  font-weight: 600;
}

.index .sidebar {
  display: none;
}

@media screen and (min-width: 800px) {
  label[for="toggle"] {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  ul.sidebar {
    min-height: auto;
  }

  .breadcrumbs {
    display: none;
  }
  main nav .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  ul.sidebar {
    position: initial;
    margin-bottom: 1.4em;
    width: 100%;
    display: none;
  }

  main {
    flex-wrap: wrap;
  }

  .nav {
    display: flex;
    flex-grow: 1;
  }

  .nav > * {
    width: 33.333%;
    padding-left: 0.7em;
    box-sizing: border-box;
  }

  .nav > *:first-child {
    padding-left: 0;
  }

  input[name="toggle"] + ul {
    display: none;
  }

  .links a {
    display: none;
  }
  .collapse {
    display: none;
  }

  input[name="toggle"]:checked + .sidebar {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  a.video,
  background {
    margin-right: -1rem;
    margin-left: -1rem;
  }
}

.sidebar a,
.links label {
  color: #989694;
  box-sizing: border-box;
  text-decoration: none;
}

.links a:focus,
.sidebar a:focus,
header label:focus {
  color: #bbb;
}

header a:hover,
.sidebar a:hover,
header label:hover {
  text-decoration: underline;
}

.links a:active,
.links label:active {
  color: #bbb;
}

header hr,
.sidebar hr {
  border: none;
  border-bottom: 1px solid #eceff1;
}

.dark .links,
.dark .sidebar hr,
.dark footer {
  border-color: #333;
}

.logo svg {
  width: 26px;
  margin: 0 10px 0 0;
  fill: #000;
  stroke: #000;
  vertical-align: text-bottom;
}

.dark header a svg,
.dark footer a svg {
  fill: #666;
  stroke: #666;
}

