header row {padding:0 2rem}

.grid {
  padding: 0.7em
}

.col-25,
.col-75,
.col-33,
.col-50 {
  padding: 0 0.7em;
  box-sizing: border-box;
}

.ml-25 {
  margin-left: 25%
}

.col-33 {
  width: 33.3333333%
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%
}

.col-75 {
  width: 75%
}

.links {
  text-align: right;
  flex-grow: 1;
  padding: 0 0.7em;
}

.links a {
  margin-left: 1.4em
}


@media screen and (min-width: 800px) {
  label[for="toggle"] {
    display: none;
  }
}

.mobile {
  display: none;
}

.index .sidebar {
  display: none;
}



@media screen and (max-width: 800px) {

  main.has-sidebar {
    display: block !important;
  }

  content {
    padding: 0 2rem;
  }

  ul.sidebar {
    position: initial;
    margin-top: 1.4em;
    width: 100%;
    display: none;
  }

  main {
    flex-wrap: wrap;
  }

  .mobile {
    display: block;
  }

  .nav {
    display: flex;
    flex-grow: 1;
  }

  .nav>* {
    width: 33.333%;
    padding-left: 0.7em;
    box-sizing: border-box;
  }

  .nav>*:first-child {
    padding-left: 0
  }

  input[name="toggle"]+ul {
    display: none;
  }

  .collapse {
    display: none;
  }

  input[name="toggle"]:checked+.sidebar {
    display: block;
  }

}

@media screen and (max-width: 600px) {
content {
    padding: 0 1rem;
  }
  a.video, background {margin-right: -1rem;margin-left: -1rem}
  header row {padding-left: 1rem;padding-right: 1rem}
  .sidebar a {padding-left:1rem;padding-right: 1rem}
}

.links a {line-height: 43px}

.links a,
.sidebar a,
.links label {
  /*  margin: 0 0.7em;
*/
  /*color: #005eb8;*/
  color: #989694;
  box-sizing: border-box;
  text-decoration: none;
}


.links a:focus,
.sidebar a:focus,
header label:focus {
  /*  background-color: #eee;
  box-shadow: 0 0 0 4px #eee;
*/
  color: #bbb;
  /*  outline: 4px solid transparent;
  outline-offset: 4px
*/
}


header a:hover,
.sidebar a:hover,
header label:hover {
  /*  background-color: #eee;
  box-shadow: 0 0 0 4px #eee;
*/
  /*color: black;
*/
  text-decoration: underline;
}


.links a:active,
.links label:active {
  color: #bbb;
  /*  color: #444;
  stroke: #444;
  text-decoration: none;
*/
}

/*header a.selected:hover {background: transparent;box-shadow: none;}

header a.selected {
  color: black;
  text-decoration: none;
}*/

header hr,
.sidebar hr {
  border: none;
  border-bottom: 1px solid #eceff1
}

.dark .links,
.dark .sidebar hr,
.dark footer {
  border-color: #333
}

.logo svg {
  width: 36px;
  margin: 16px 0;
  fill: #000;
  stroke: #000;
  vertical-align: text-bottom;
}

.dark header a svg,
.dark footer a svg {
  fill: #666;
  stroke: #666;
}


.header-button {
  background-color: #0070c9;
  box-shadow: 0 0 0 4px #0070c9;
  padding: 0 0.5em;
  color: white;
  margin-left: 1em;
  text-decoration: none
}

header .logo,
header .logo:focus {}
