header row {
  padding: 0 2rem;
}

.grid {
  padding: 0.7em;
}

.col-25,
.col-75,
.col-33,
.col-50 {
  padding: 0 0.7em;
  box-sizing: border-box;
}

.ml-25 {
  margin-left: 25%;
}

.col-33 {
  width: 33.3333333%;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

.links {
  text-align: right;
  padding: 0 0.7em;
}

.links a {
  margin-left: 1.4em;
  color: #000;
  font-weight: 600;
}

.mobile {
  display: none;
}

.index .sidebar {
  display: none;
}

@media screen and (min-width: 800px) {
  label[for="toggle"] {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  main.has-sidebar {
    display: block !important;
  }

  ul.sidebar {
    min-height: auto;
  }

  .breadcrumbs {
    display: none;
  }
  main nav .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  ul.sidebar {
    position: initial;
    margin-bottom: 1.4em;
    width: 100%;
    display: none;
  }

  main {
    flex-wrap: wrap;
  }

  .mobile {
    display: block;
  }

  .nav {
    display: flex;
    flex-grow: 1;
  }

  .nav > * {
    width: 33.333%;
    padding-left: 0.7em;
    box-sizing: border-box;
  }

  .nav > *:first-child {
    padding-left: 0;
  }

  input[name="toggle"] + ul {
    display: none;
  }

  .links a {
    display: none;
  }
  .collapse {
    display: none;
  }

  input[name="toggle"]:checked + .sidebar {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  a.video,
  background {
    margin-right: -1rem;
    margin-left: -1rem;
  }
}

.sidebar a,
.links label {
  color: #989694;
  box-sizing: border-box;
  text-decoration: none;
}

.links a:focus,
.sidebar a:focus,
header label:focus {
  color: #bbb;
}

header a:hover,
.sidebar a:hover,
header label:hover {
  text-decoration: underline;
}

.links a:active,
.links label:active {
  color: #bbb;
}

header hr,
.sidebar hr {
  border: none;
  border-bottom: 1px solid #eceff1;
}

.dark .links,
.dark .sidebar hr,
.dark footer {
  border-color: #333;
}

.logo svg {
  width: 26px;
  margin: 0 10px 0 0;
  fill: #000;
  stroke: #000;
  vertical-align: text-bottom;
}

.dark header a svg,
.dark footer a svg {
  fill: #666;
  stroke: #666;
}

.header-button {
  background-color: #0070c9;
  box-shadow: 0 0 0 4px #0070c9;
  padding: 0 0.5em;
  color: white;
  margin-left: 1em;
  text-decoration: none;
}

header .logo,
header .logo:focus {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-weight: 500;
  color: #000;
}

.breadcrumbs {
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__list-item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs__link {
  text-decoration: none;
}

.breadcrumbs__list-item {
  display: inline-block;
  position: relative;
  margin-left: 13px;
  padding-left: 18.655px;
  float: left;
  color: grey;
}

.breadcrumbs__list-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: -3.31px;
  width: 6px;
  height: 6px;
  margin: auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: #929292;
}


.breadcrumbs__list-item a:hover {
  box-shadow: none;
  text-decoration: none;
  background: none;
  border: none;
}


.breadcrumbs__list-item:first-child:before {
  content: none;
  display: none;
}

.breadcrumbs__link:hover,
.no-underline:hover {
  color: #606060;
}

.breadcrumbs__link:active,
.breadcrumbs__link:focus {
  color: #000;
}
