
.sidebar li a {display: block;}
ul.sidebar {
  margin-bottom: 1em;
  margin-left: -10px;
  margin: 0;
  padding: 0;
  margin-right: 8em;
  list-style: none;
  width: 25%;
  min-width: 236px;
  max-width: 236px;
  position: sticky;
  top: 0;
}

.sidebar a:hover{color: #222}
a.selected {color: black!important}


input[name="toggle"] {
  display: none;
}

.navigation,
label[for="toggle"] {
  padding: 1em;
}

label[for="toggle"] {
  line-height: 0.333;
  cursor: pointer;
  display: block;
  float: right;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

@media screen and (min-width: 800px) {
  label[for="toggle"] {
    display: none;
  }
}


@media screen and (max-width: 800px) {

  label[for="toggle"] {
    display: block;
  }

  main.has-sidebar {display: block!important;}

  input[name="toggle"]+.sidebar>*:not(.in) {
    display: none;
  }

  input[name="toggle"]:checked+.sidebar>*:not(.index) {
    display: block;
  }

}


.sidebar a {
  display: inline-block;
  position: relative;
  margin-left: 0.1em;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  cursor: pointer !important;
  color: #868480;
  text-decoration: none;
  word-wrap: break-word;
  background-color: transparent;
  transition: background-color .2s ease, color .2s ease;
}


.sidebar .has-list>a {
  margin-left: -1.37em;
  padding-left: 1.975em;
}

.sidebar img {
      max-width: 36px;
    float: left;
    display: none;
    margin-left: -1.5em;
    margin-right: 0.75em;
    margin: 0.2em 0.75em 0.2em -1.5em;
}

/*.sidebar .has-img li {line-height: 1.8}
*/
.sidebar li ul a,
.sidebar>li:not(.has-list)>a {
  padding-left: 0.5em;
  margin-left: 0;

}

.sidebar a:hover {
  color:#222;
}

.sidebar a:active {color:#000;}
.sidebar a:focus {color:#000;}


.sidebar .has-list>a:before {
  display: block;
    position: absolute;
    top: 50%;
    left:9px;
    width: 7px;
    height: 7px;
    margin: -4px -5px 0 0;
    border-top: solid 1px #d2cfc8;
    border-right: solid 1px #d2cfc8;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.sidebar .index>a:first-child:hover {
  background: transparent;
}

.sidebar .index>a:first-child:before {
  background: url('/images/logo-new.svg');
  transform: none;
  background-size: 1em;
  width: 1em;
  top: 0.5em;
  opacity: 0.3;
  left: 6px;
  height: 1em;
  background-repeat: no-repeat;
}

.sidebar input {
  display: none;
}

.sidebar label {
/*  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
*/}

.sidebar :checked~a:before {
  transform: rotate(135deg);
}

.sidebar .selected>a {
}



ul.sidebar ul {
  display: none;

}

.sidebar input:checked~ul {
  display: block;
}

.sidebar li {
  margin-bottom: 0.1em;
  border-bottom: 1px solid #f2f2f2
}

.sidebar li ul {border-top:  1px solid #f2f2f2}

.dark .sidebar li,
.dark .sidebar li ul {border-color: #222}

.sidebar li ul li:last-child {border-bottom: none;}

.sidebar li ul {
  list-style: none;
  padding-left: 0;
}


.sidebar li ul li {
  padding-left: 0.75em;

}

.sidebar hr {
  margin-top: 10px;
  margin-bottom: 8px;
  border: none;
  border-top: 1px solid #ddd;
}


.buttons {display: flex;margin-left: 8px;margin-top: -10px;margin-bottom: 0}

a.action-button {
    cursor: pointer;
    border-radius: 0;
    text-align: center;
    padding-right: 2em;
    padding-left: 1em;
    margin: 0 1em 0 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    border: 1px solid rgb(230, 230, 230);
}

a.action-button:after{
  display: block;
    position: absolute;
    top: 50%;
    right: 22px;
    width: 7px;
    height: 7px;
    margin: -4px -5px 0 0;
    border-top: solid 1px #d2cfc8;
    border-right: solid 1px #d2cfc8;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

a.action-button:hover {
  border-color: #222;
  color: #222;
  z-index: 1
}

a.action-button:hover:after {    border-color: #222;
color: #222;
} 

a.action-button + a.action-button {
  margin-right: 0;
}


.in {fill: white;stroke:#7b7774;position: relative;display: block;margin-bottom: 1.5em}
.in svg {display:none;width: 19px;position: absolute;left: -23px;top: 6px}

.in.selected {color: #000;stroke:#000;}
