ul.sidebar {
  margin-bottom: 1em;
  margin-left: -10px;
  margin: 0;
  padding: 0;
  margin-right: 8em;
  list-style: none;
  width: 25%;
  min-width: 233px;
  max-width: 233.333333333px;
  position: sticky;
  top: 0;
}

.sidebar a {
  display: inline-block;
  position: relative;
  margin-left: 0.1em;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  cursor: pointer !important;
  color: #7b7774;
  font-size: 15px;
  text-decoration: none;
  word-wrap: break-word;
  background-color: transparent;
  transition: background-color .2s ease, color .2s ease;
}


.sidebar .has-list>a {
  margin-left: -1.37em;
  padding-left: 1.975em;
}

.sidebar img {
      max-width: 36px;
    float: left;
    display: none;
    margin-left: -1.5em;
    margin-right: 0.75em;
    margin: 0.2em 0.75em 0.2em -1.5em;
}

/*.sidebar .has-img li {line-height: 1.8}
*/
.sidebar li ul a,
.sidebar>li:not(.has-list)>a {
  padding-left: 0.5em;
  margin-left: 0;

}

.sidebar a:hover {
  color: #292929;
}

.sidebar .has-list>a:before {
  background: url('/images/chevron.png');
  background-repeat: no-repeat;
  background-size: 12px 6px;
  content: '';
  position: absolute;
  top: 0.75em;
  left: 10px;
  display: block;
  transform: rotate(-90deg);
  opacity: 0.5;
  width: 12px;
  height: 6px;
}

.sidebar .index>a:first-child:hover {
  background: transparent;
}

.sidebar .index>a:first-child:before {
  background: url('/images/logo-new.svg');
  transform: none;
  background-size: 1em;
  width: 1em;
  top: 0.5em;
  opacity: 0.3;
  left: 6px;
  height: 1em;
  background-repeat: no-repeat;
}

.sidebar input {
  display: none;
}

.sidebar label {
/*  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
*/}

.sidebar :checked~a:before {
  transform: rotate(0);
}

.sidebar .selected>a {
  font-weight: 600
}



ul.sidebar ul {
  display: none;

}

.sidebar input:checked~ul {
  display: block;
}

.sidebar li {
  margin-bottom: 0.1em;
  border-bottom: 1px solid #f2f2f2
}

.sidebar li ul {border-top:  1px solid #f2f2f2}

.dark .sidebar li,
.dark .sidebar li ul {border-color: #222}

.sidebar li ul li:last-child {border-bottom: none;}

.sidebar li ul {
  list-style: none;
  padding-left: 0;
}


.sidebar li ul li {
  padding-left: 1.4em;

}

.sidebar hr {
  margin-top: 10px;
  margin-bottom: 8px;
  border: none;
  border-top: 1px solid #ddd;
}