.sidebar li {
  display: block;
}

/**
 * 1. good progressive enhancement: https://caniuse.com/#search=sticky
 * 2. to match the `main` padding
 * 3. since it's a flex child, this sets `height` to `auto` to be scrolled against: https://stackoverflow.com/questions/44446671
 */
ul.sidebar {
  margin: 0;
  min-height: 100vh;
  list-style: none;
  width: 16rem;

  padding: 0;
  box-sizing: border-box;
  max-width: none;
  flex-shrink: 0;
  position: sticky;
  /* [1] */
  top: 0;
  /* [2] */
  align-self: flex-start;
  /* [3] */
  border-right: 1px solid #eceff1  
}

/*ul.sidebar:hover a {color: black}*/
ul.sidebar a:hover {
  text-decoration: underline;
}

ul.sidebar a:active,
ul.sidebar a:focus {
  opacity: 0.7;
  text-decoration: none;
}

ul.sidebar>* {}

.sidebar a.selected {
  color: black !important
}


input[name="toggle"] {
  display: none;
}

label[for="toggle"] {
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}


.sidebar a {
  display: block;
  position: relative;
  cursor: pointer !important;
  color: #a09d9c;
  line-height: 1.3;
  padding: 0.15em 2rem;
  text-decoration: none;
  word-wrap: break-word;
  background-color: transparent;
}


.sidebar img {
  max-width: 36px;
  float: left;
  display: none;
  margin-left: -1.5em;
  margin-right: 0.75em;
  margin: 0.2em 0.75em 0.2em -1.5em;
}

/*.sidebar .has-img li {line-height: 1.8}
*/



.sidebar .has-list>a:before {
  display: block;
  position: absolute;
  top: 50%;
  left: -1.25em;
  width: 7px;
  height: 7px;
  margin: -4px -5px 0 0;
  border-top: solid 1px #a9a6a3;
  border-right: solid 1px #a9a6a3;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}

.sidebar .index>a:first-child:hover {
  background: transparent;
}

.sidebar .index>a:first-child:before {
  background: url('/images/logo-new.svg');
  transform: none;
  background-size: 1em;
  width: 1em;
  top: 0.5em;
  opacity: 0.3;
  left: 6px;
  height: 1em;
  background-repeat: no-repeat;
}

.sidebar input {
  display: none;
}

.sidebar label {
  /*  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
*/
}

.sidebar :checked~a:before {
  margin-top: -6px;
  transform: rotate(135deg);
}


ul.sidebar ul {
  display: none;

}

.sidebar input:checked~ul {
  display: block;
}



.dark .sidebar,
.dark .sidebar a,
.dark header a,
.dark footer a {
  border-color: #222;
  color: #839496
}

.sidebar li ul li:last-child {
  border-bottom: none;
}

.sidebar li ul {
  list-style: none;
  padding-left: 1em;
}


.sidebar li ul li {
  position: relative;
}

.sidebar li ul li:before {
  display: block;
  position: absolute;
  top: 50%;
  left: -1em;
  width: 7px;
  height: 7px;
  margin: 0 -5px 0 0;
  border-top: solid 1px #a9a6a3;

  content: "";
}



.buttons {
  display: flex;
}

.sidebar a.action-button:hover {
  border-color: #222;
  color: #222;
  text-decoration: none;
  z-index: 1
}

a.action-button:hover:after {
  border-color: #222;
  color: #222;
}

a.action-button+a.action-button {
  margin-right: 0;
}

.sidebar a.in {
  position: relative;
  display: block;
}
