

label[for="toggle"] {
  border:1px solid rgba(0,0,0,0.05);
  border-radius: 18px;
  display: none;cursor: pointer;position: absolute;top: 1rem;right: 1rem}

input[name="toggle"] {
  display: none;
}

@media screen and (max-width: 1000px) {

  .sidebar {display: none;}

   label[for="toggle"] {display: block;}
   label[for="toggle"] svg {width: 40px;height: 40px}
  
  #toggle:not(:checked) ~ .doc-wrapper label #hider {display: none;}
  #toggle:checked ~ .doc-wrapper  label #shower {display: none;}
  #toggle:checked ~ .doc-wrapper .sidebar {display: block;position: absolute;
    top: 4rem;left: 0;right: 0;bottom: 0}

#toggle:checked ~ .doc-wrapper .yiel, #toggle:checked ~ .footer {display: none;}
}
  


.sidebar li {
  display: block;
}

.sidebar > li > a:not([data-open="selected"]) {
  display: none;
}

.sidebar {
  margin: 0;
  list-style: none;
  border-right:1px solid rgba(0,0,0,0.1);
  padding: 0;
  box-sizing: border-box;
  max-width: none;
  flex-shrink: 0;
  top: 0;
  /*margin-top: 74px;*/
  align-self: flex-start;
  color: var(--light-text-color);  
}



.sidebar a:active,
.sidebar a:focus,
.top-level a:active,
.top-level a:focus {
  color: grey;
  /*font-weight: 600*/
}

.sidebar a:active,
.top-level a:active {opacity: 0.5}

nav {
  display: initial;
}

nav a {
  display: block;
  position: relative;
  cursor: pointer !important;
  text-decoration: none;
  word-wrap: break-word;
  background-color: transparent;
  color: inherit;
  box-sizing: border-box;
  text-decoration: none;
  transition: color 0.1s ease-out;
}

/*nav a:hover {
  color: grey;
}

nav a:active,
nav a:focus,
nav a.selected:hover {
  color: grey;
}*/

.sidebar a:hover, .sidebar a.selected, .top-level a:hover {
  color: var(--accent-color);
}

.sidebar li ul {
  padding: 0;
  margin: 0 0 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-sizing: border-box;
}
/*.sidebar ul ul {display: none;}
*/.sidebar > li > ul {
  /*padding-left: 1rem;*/
}

.sidebar a {
    /*padding-left: 16px;*/

}
.sidebar > li >  a {
/*  background: rgba(0,0,0,0.02);
*/  border-bottom: 1px solid rgba(0,0,0,.05);
  padding-top: 0.4rem;
  color: #666;
    padding-bottom: 0.4rem;

}

.sidebar li ul a {
  padding-top: 3px;
  padding-bottom: 3px;
}
.sidebar > li:last-of-type > a {
  border-bottom: none;
}



.sidebar > li > ul > li > ul > li > a {
  padding-left: 1rem;
}


.sidebar a + ul li:last-child {
  margin-bottom: 4px;
  padding-bottom: 6px;
}



.sidebar a + ul ul li:last-child {
  margin-bottom: 0
}

.sidebar a + ul li:last-child ul li:last-child {
  padding-bottom: 0
}

.sidebar a + ul ul li:first-child {
  border-top: 1px solid var(--light-border-color);
}

.sidebar [data-open="selected"] + ul,
.sidebar a:active + ul,
.sidebar a:focus + ul
 {
    max-height: 300px;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid var(--light-border-color);
    margin-top: -1px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}


.sidebar [data-open="selected"] + ul li:last-child ul {
  border-bottom: none;
}

.sidebar li ul li {
  position: relative;
}


.logbut {display: flex;justify-content: flex-start;}
.logbut a {color: grey}
  /*.logbut a {color:grey;text-align:center;border-radius:6px;border: 1px solid var(--light-border-color);position: relative;padding:6px 12px;margin: 0 0.5rem;}*/
  .logbut a:first-child {padding-right:1rem;border-right: 1px solid var(--light-border-color)}
  .logbut a:last-child {padding-left: 1rem}
  .logbut a:after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 2px;
  right: 2px;
  width: 5px;
  height: 5px;
  margin: auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: rgba(0,0,0,0.6);
}

.on-this-page {
  margin-left: 2.2rem
}
.on-this-page ul {
  list-style: none;
  padding: 0;
}

.on-this-page ul a {
  color: #888;
  text-decoration: none;
}

.on-this-page ul li.selected a {
/*  font-weight: bold;
*/}


.on-this-page ul li {
  padding-left: 1rem;
  position: relative;
  margin-bottom: 3px;
  border-left: 1px solid var(--light-border-color);
}

.on-this-page ul li a,
.sidebar li a,
.top-level a {position: relative;}


.on-this-page ul li a:before,
.sidebar li a:before,
.top-level a:before {
  content: " ";
  width: 3px;
  height: 3px;
  border-radius: 1em;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: -4px;
}

.on-this-page ul li a:before {
  left: -19px
}

.on-this-page ul .selected a {
  color: var(--accent-color);
}

.on-this-page .selected a:before {
  background: var(--accent-color);
}

.sidebar li a:before,
.top-level a:before {
right: 0;
left: auto;
}

.sidebar a.selected:before,
.sidebar a:hover:before,
.top-level a:hover:before {
  background: var(--accent-color);
  border-color: var(--accent-color);
}
.on-this-page ul li.selected:before {
  background: #000
}
.on-this-page {
  position: sticky;
  top: 2rem;
  margin-top: 2em;
}

