<div class="fl w-100 pv4 lh-copy">
  
<!--   <div class="">
    <a href="/" id="logo" >Blot is a blogging platform which<br> turns a folder into a website.</a>
  </div>
 -->
  {{#menu}}
  <div class="nav pt3 pb5 lh-copy">
    <a href="/" class="pr3 {{index}}">Introduction</a>
    <a href="/help" class="pr3 {{help}}">Documentation</a>
    <a href="/contact" class="pr3 {{contact}}">Contact</a>
    <a href="/log-in" class="pr3 {{log-in}} ">Log in</a>
    <a href="/sign-up" class="ph2 {{sign-up}} button primary">Sign up</a>
    </div>
  </div>
  {{/menu}}

</div>