<h1>Dropbox</h1>



<p><svg style="width:64px;float:right;margin-left:2em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75.1 63.8"  xml:space="preserve">

<path fill="#0061FF" class="st0" d="M37.6,12L18.8,24l18.8,12L18.8,48L0,35.9l18.8-12L0,12L18.8,0L37.6,12z M18.7,51.8l18.8-12l18.8,12l-18.8,12
  L18.7,51.8z M37.6,35.9l18.8-12L37.6,12L56.3,0l18.8,12L56.3,24l18.8,12L56.3,48L37.6,35.9z"/>
</svg>You can synchronize your blog's folder to Blot with <a href="https://www.dropbox.com">Dropbox</a>, a file hosting service available on most platforms. You can switch your blog seamlessly to another client at any point.</p>

<h2>Can Blot access all the files in my Dropbox?</h2>

<p>
  Blot only requests access to your blog’s folder in your Dropbox by default. However, you can choose to grant Blot <a href="/clients/dropbox">special access to your entire Dropbox</a>. Only ever do this if you want to move your blog’s folder, or share it with other people who use Dropbox.
</p>

<h2>Bandwidth limits</h2>

<p>Dropbox’s <a href="https://www.dropbox.com/help/security/banned-links#traffic">traffic limits</a> do not apply because Blot hosts the contents of your folder on its own server.</p>

<h2>Using your phone or tablet</h2>

<p>There are a number of text-editing apps for phones and tablets which integrate beautifully with Dropbox. I use <a href="https://ia.net/writer">iA Writer</a> and I've heard from a number of customers who use <a href="https://bear.app/">Bear</a> and <a href="https://ulysses.app/">Ulysses</a>.</p>