<h1>Clients</h1>

<p>Blot turns a folder into a blog. You can synchronize your blog's folder with any of the following clients. You can switch your blog seamlessly between clients at any point.</p>

<style type="text/css">
.clients {margin:2em 0;list-style-type: none;padding: 0}
.clients li {display: inline-block;width: 33%;margin-right: 1em;}
.clients li a {border: 2px solid #ddd;padding:1.4em;box-sizing:border-box;border-radius:4px;width: 100%;display: block;}
</style>
<ul class="clients">
  <li><a href="/clients/dropbox">Dropbox</a></li>
  <li><a href="/clients/git">Git</a></li>
</ul>

<p>Please <a href="/contact">contact me</a> if there's a client you'd like me to add. Blot can theoretically support any system which is able to synchronize a folder over the internet. I'll be working on supporting FTP next, then Google Drive and OneDrive.</p>
