  <div class="push"></div>
</div>
{{#menu}}
<div class="mw8 footer">
  <div class="nav fr w-75">
    <a href="/terms" class="pr4 {{terms}}">Terms of use</a>
    <a href="/privacy" class="pr4 pl4 {{privacy}}">Privacy policy</a>
    <a href="/changes" class="pr4 pl4 {{changes}}">Changes</a>
    <a href="/contact" class="pr4 pl4 {{contact}}">Contact</a>
  </div>
</div>
{{/menu}}

<!-- 
The empty script tag below fixes this insane CSS animation bug for pages with forms...
https://stackoverflow.com/questions/14389566/stop-css3-transition-from-firing-on-page-load
-->
<script type="text/javascript"> </script>
</body>
</html>