 {{#menu}}
<div class="nav fixed pv4" style='background:white'>

  <div class="mw8 center">
    <a href="/" class="db fl w-25 {{index}}">Blot</a>
    <a href="/sign-up"  class="db fl pr4 {{sign-up}}">Sign up</a>
    <a href="/help"     class="db fl pr4 pl4 {{help}}">Documentation</a>        
    <a href="/contact"  class="db fl pr4 pl4 {{contact}}">Contact</a>            
    <a href="/log-in"   class="db fl pr4 pl4 {{log-in}}">Log in</a>
  </div>

{{/menu}}
</div>


<div class="wrapper">
<div class="pv5"></div>
