{{> head}}
{{> header}}


<div class="w-75 fr">
  <p class="measure mt2 mb4">Blot is a blogging platform. It creates a folder inside your Dropbox and publishes files you put inside. This means you can use your favorite text editor to write your blog. </p>
</div>
<div class="cf"></div>
<a href="/" style="position:relative"  class="mv3 thumb">
<div class="round play button ma4">Watch the video</div>
<img src="/images/thum1.png" style="position:absolute;right:2rem;top:2rem;width:71.5%">
 </a>

<div class="w-75 fr">
  
  <div class="measure">

    <div id="posts-and-formatting">




<div id="posts"><div class="mt5 mb2 fw5">Publishing with Blot</div><window>

  <toolbar>
    <dots>
      <dot></dot>
      <dot></dot>
      <dot></dot>
    </dots>
    <icon class="dropbox"></icon> Your site
  </toolbar>

  <sorter>Name <icon class="chevron"></icon></sorter>

  <contents>
    <item class=" "><icon class="folder  "></icon> Drafts</item>
    <item class=" "><icon class="folder  "></icon> Pages</item>
    <item class=" open"><icon class="folder  "></icon> Posts</item>
    <item class="nested "><icon class=" file webloc"></icon> Bookmark.webloc</item>
    <item class="nested "><icon class=" file docx"></icon> Document.docx</item>
    <item class="nested "><icon class=" file img"></icon> Image.jpg</item>
    <item class="nested "><icon class=" file md"></icon> Markdown.md</item>
    <item class="nested "><icon class=" file img"></icon> Popcorn.gif</item>
    <item class="nested "><icon class=" file txt"></icon> Text.txt</item>
    <item class="nested "><icon class=" file html"></icon> Webpage.html</item>
    <item>&#xA0;</item>
    <item>&#xA0;</item>
    <item>&#xA0;</item>
  </contents>
  
  <border class="left"></border>
  <border class="right"></border>
  <border class="top"></border>
  <border class="bottom"></border>

  <corner class="top left"></corner>
  <corner class="top right"></corner>
  <corner class="bottom left"></corner>
  <corner class="bottom right"></corner>
</window><p>These files become blog posts when you put them somewhere in your site&#x2019;s folder:</p><ul>
<li><strong>Text</strong> .txt, .md</li>
<li><strong>Images</strong> .png, .jpeg, .gif</li>
<li><strong>Word documents</strong> .docx</li>
<li><strong>Bookmarks</strong> .webloc</li>
<li><strong>HTML</strong> .html </li>
</ul>
<p>There’s no interface. Just files and folders.</p></div>

<div class="mt5 mb2 fw5">Templates</div>
<p>Blot comes with seven templates. They are designed to be easy to customize. If you know a little HTML and CSS you can <a href="/help/templates">create your own template</a> from scratch.</p>

    <p>A site costs <a href="/sign-up">$20 per year</a>. Hosting is included and there are no ads. Here’s a handful of the sites hosted by Blot:</p>
    <br>
       <ul class="gallery">

    <a href="https://ylukem.com" target="_blank">
            ylukem.com
            <small>Blot’s Photo</small>
            <span class="new">New</span>
          </a>

    <a href="https://www.alexgibson.nyc/" target="_blank">
            alexgibson.nyc
            <small>Blot’s Default</small>
          </a>

          <a href="https://www.failuretolerated.com/" target="_blank">
            failuretolerated.com
            <small>a custom</small>
          </a>

          <a href="https://www.theliminal.co/" target="_blank">
            theliminal.co
            <small>a custom</small>
          </a>

          <a href="https://tomascat.com/" target="_blank">
            tomascat.com
            <small>Blot’s Essay</small>
          </a>

          <a href="http://kiefer.design/" target="_blank">
            kiefer.design
            <small>a custom</small>
          </a>

          <a href="https://www.okaythree.com/" target="_blank">
            okaythree.com
            <small>Blot’s Rosa</small>
          </a>

          <a href="https://www.kristianhjelle.com" target="_blank">
            kristianhjelle.com
            <small>a custom</small>
          </a>

          <a href="https://www.kitchinspirations.net/" target="_blank">
            kitchinspirations.net
            <small>Blot’s Blank</small>
          </a>

          <a href="https://invariances.org/" target="_blank">
            invariances.org
            <small>Blot’s Console</small>
          </a>

          <a href="https://www.storystadium.com" target="_blank">
            storystadium.com
            <small>Blot’s Grid</small>
          </a>

          <a href="https://mrfris.by/" target="_blank">
            mrfris.by
            <small>a custom</small>
          </a>

          <a href="https://bleachedsleet.com/" target="_blank">
            bleachedsleet.com
            <small>Blot’s Mono</small>
          </a>

          <a href="https://www.inthemargins.ca/" target="_blank">
            inthemargins.ca
            <small>a custom</small>
          </a>

          <a href="https://www.pavlusoffice.com/" target="_blank">
            pavlusoffice.com
            <small>a custom</small>
          </a>

          <a href="https://charleslehman.com/" target="_blank">
            charleslehman.com
            <small>Blot’s Default</small>
          </a>

          <a href="https://www.tristan.fyi/" target="_blank">
            tristan.fyi
            <small>Blot’s Mira</small>
          </a>

          <br>
        </ul>
</div>
</div>
</div>
{{> footer}}