
{{> head}}
{{> header}}

<div class="w-75 fr">

  <div class="measure mt2 pr5">

  Welcome! Enter your email address below or <a href="/contact">contact me</a> if you cannot remember it.
</div>

<form class="measure-narrow mv4" method="POST" action="?_csrf=">

  <p id="error" class="box red" style="margin-bottom:0;width:120%;display:none"></p>

  <label>Your email address:</label>
  <input class="w-100 mt1 mb4 br2 pa2 ba b--black-30" type="text" size="20" class="email" name="email" autofocus/>


  <input type="hidden" class="stripeToken" name="stripeToken" />
    <input type="submit" class="submit button pv2 ph4" value="Log in"  />
</form>
</div>
{{> footer}}