{{> head}}
{{> header}}

<div class="w-75 fr">

  <div class="measure mt2 mb5 pr5">
    A blog costs <span class="yellow">$30 per year</span>. You can cancel at any time. Hosting is included and there are no ads. You must agree to the <a href="/terms">terms of use</a> and  <a href="/privacy">privacy policy</a>.
  </div>

  <form class="measure-narrow mv4" style="max-width:18rem" method="POST" action="?_csrf=">

    <p id="error" class="box red" style="margin-bottom:0;width:120%;display:none"></p>

    <label>Your email address:</label>
    <input class="w-100 mt1 mb4 br2 pa2 ba b--black-30" type="text" size="20" class="email" name="email" autofocus/>

    <label>Card number:
      <span class="control-tool">
        <span class="help-icon lock"></span>
        <span class="tooltip">
          Blot does not store your card details. Stripe processes your payment.
        </span>
      </span>
    </label>
    <input class="w-100 mt1 mb4 br2 ba b--black-30" type="text"size="20" data-stripe="number" name="number" />

    <div class="w-two-thirds fl pr2">
    <label>Expiration date:</label><br>
    <input class="month di w-40 tc mt1 mb4 fl pa2 ph3 ba b--black-30" name="exp-month" maxlength="2" placeholder="MM" type="text" size="2" data-stripe="exp-month"/>
    <input class="year di w-50 tc mt1 mb4 pa2 ph3 fl ba b--black-30" name="exp-year" maxlength="4" placeholder="YYYY" type="text" size="4" data-stripe="exp-year"/>
    </div>

    <div class="w-third fl pl2">
    <label>CVC:
          <span class="control-tool">
            <span class="help-icon">?</span>
            <span class="tooltip">
            It’s the 3- or 4-digit code on your card, seperate from the 16-digit number.
            </span>
          </span>
    </label>
    <input class="di w-100 tc mt1 mb4 br2 pa2 ba b--black-30" type="text" size="4" data-stripe="cvc" name="cvc"/>
    </div>
    <div class="cf"></div>
    <input type="hidden" class="stripeToken" name="stripeToken" />
    <input type="submit" class="submit button pv2 ph4 mt2" value="Submit payment"  />
  </form>
</div>
{{> footer}}