html, body {
  {{#body_font}}
  font-family: {{{stack}}};
  font-size: {{{font_size}}}px;
  line-height: {{{line_height}}};
  {{/body_font}}
  color: {{text_color}};
  background: {{background_color}};
}

nav {
		background: {{background_color}};
}