
<h1>{{^category}}Tools{{/category}}{{#category}}{{title}}{{/category}}</h1>

<ul class="pill-navigation">

<li><a href="/how/tools" {{^category}}class="selected"{{/category}}>All tools</a></li>
{{#categories}}
<li><a href="/how/tools/{{slug}}" class="{{selected}}">{{title}}</a></li>
{{/categories}}
</ul>

<ul class="tool-list">
  {{#tools}}
  <li><a href="/how/tools/{{slug}}">{{#icon}}<img src="/how/tools/{{{icon}}}" width="16">{{/icon}}<span class="a">{{title}}</span></a></li>
  {{/tools}}  
</ul>
