<h1>Tools</h1>

<p></p>

<h2>Text editors</h2>

<ul>
  <li>
    <a href="/tools/atom">Atom</a>
  </li>
  <li>
    <a href="/tools/sublime">Sublime Text</a>
  </li>
  <li>
    <a href="/tools/vscode">Visual Studio Code</a>
  </li>
</ul>

<h2>Images</h2>

<ul>
  <li>
    <a href="/tools/darktable">Darktable</a>
  </li>
  <li>
    <a href="/tools/lightroom">Lightroom</a>
  </li>
</ul>

<h2>Automation</h2>

<ul>
  <li>
    <a href="/tools/automator">Automator</a>
  </li>
  <li>
    <a href="/tools/hazel">Hazel</a>
  </li>
  <li>
    <a href="/tools/launchbar">LaunchBar</a>
  </li>
  <li>
    <a href="/tools/keyboard-maestro">Keyboard Maestro</a>
  </li>
  <li>
    <a href="/tools/alfred">Alfred</a>
  </li>
  <li>
    <a href="/tools/shortcuts">Shortcuts</a>
  </li>
</ul>
