{{> header}}

<div style="flex-grow:1">
  <hr style="border:none;margin:0;border-top:1px solid #f2f2f2">
  <div style="padding:1.3rem 2rem">
    {{#query}}
    <h1>Search results for {{query}}</h1>
    {{^entries.length}}
    <p>Nothing found.</p>
    {{/entries.length}}
    {{#entries.length}}
    <small>{{entries.length}} entries found 
</small>
    {{/entries.length}}
    {{/query}}

    <div class="posts">

      {{#entries}}

      <a class="post {{^thumbnail.medium}}no-thumbnail{{/thumbnail.medium}}" href="{{{url}}}">

  <span class="thumbnail">
    <span style="top:0;left:0;right:0;bottom:0;position:absolute;display:flex;align-items:center">
      {{#thumbnail.medium}}<img src="{{{url}}}">{{/thumbnail.medium}}
      {{^thumbnail.medium}}
      <span>
        {{title}}
      </span>
      <br>
      {{date}}
      {{/thumbnail.medium}}
    </span>
  </span>

  <br>
  {{#thumbnail.medium}}
  <span>{{title}}</span>
  <span class="date">Added {{date}}</span>
  {{/thumbnail.medium}}
</a>

      {{/entries}}

    </div>
  </div>
</div>
{{> footer}}