<h1>Templates</h1>

<ul class="templates">
  <li>
    <a href="/templates/blog">
      <strong>Blog</strong><br />
      <img
        src="{{#cdn}}/images/templates/blog/0.square-small.png{{/cdn}}"
        width="100" />
    </a>
  </li>

  <li>
    <a href="/templates/magazine">
      <strong>Magazine</strong><br />
      <img
        width="100"
        src="{{#cdn}}/images/templates/magazine/0.square-small.png{{/cdn}}" />
    </a>
  </li>

  <li>
    <a href="/templates/photo">
      <strong>Photo</strong><br />
      <img
        width="100"
        src="{{#cdn}}/images/templates/photo/0.square-small.png{{/cdn}}" />
    </a>
  </li>

  <li>
    <a href="/templates/portfolio">
      <strong>Portfolio</strong><br />
      <img
        width="100"
        src="{{#cdn}}/images/templates/portfolio/0.square-small.png{{/cdn}}" />
    </a>
  </li>

  <li>
    <a href="/templates/reference">
      <strong>Reference</strong><br />
      <img
        width="100"
        src="{{#cdn}}/images/templates/reference/0.square-small.png{{/cdn}}" />
    </a>
  </li>
</ul>

<h2>Customizing a template</h2>

<p>
  You make modifications to your template's colors and fonts using Blot's
  template editor – no coding required.
</p>

<h2>Develop your own template</h2>

<p>
  You can fork any of the included templates and make modifications to their
  source code, or develop your own template from scratch.
</p>

<p>
  <a href="/templates/developers"
    ><span><code class="file txt"></code></span>
    <span><strong>Read the Developer guide</strong> </span>
  </a>
</p>
