<h1>Example sites</h1>

<div style="display: flex;align-items: baseline;background: var(--background-color);z-index:10;margin:0 0 0;font-size:16px;flex-wrap:wrap;position: sticky;top:0;border-bottom: 1px solid #eeeeec;padding-bottom: 24px;">
  <div class="question-sort-tabs" style="margin-right: 1rem;">
    <ul>
      <li><a class="selected" href="/questions?sort=newest">People</a></li>
      <li><a href="/questions?sort=replies">Templates</a></li>
    </ul>
  </div>
    
</div>



      {{#featured}}
<ul id="featured" style="list-style-type: none;
padding: 0;
margin: 0;font-size:16px" class="clients">
  {{#sites}}
  <li style="position: relative;padding-left: 4em;">
    <div class="preview" style="height: 40px;width: 60px;overflow: hidden;
			position: absolute;top:10px;left: 1em;
			margin:4px 0 10px;
			box-shadow: inset 0 1px 0 #f5f4f5,0 -1px 0 rgba(0,0,0,.11),0 1px 0 rgba(0,0,0,.26),-1px 0 0 rgba(0,0,0,.13),1px 0 0 rgba(0,0,0,.13);
			border-radius: var(--border-radius);border-radius: var(--border-radius);">
			  <iframe
			  id="preview"
			style="height:800px;width:1200px;background:var(--background-color);transform: scale(0.05);    transform-origin: top left;"
			src="{{{link}}}"
			></iframe>
			</div>
      
    <a target="_blank" style="margin-left:-4em;display:flex;padding:8px 0 12px 4em;align-items: center;" rel="noopener" href="{{{link}}}">
      <span
        style="display:block;flex-shrink:0;background: var(--light-background-color) url('{{#cdn}}{{{sprite}}}{{/cdn}}');background-size: {{width}}px;
  background-position:-{{x}}px -{{y}}px;width:{{thumbnail_width}}px;height:{{thumbnail_width}}px;border-radius: 4em;margin: 4px 1em 0 0;box-shadow: inset 0 0 0 1px var(--inset-image-border-color);
  transition: transform .1s ease;transform: scale(1);">
  </span>

  <span>
      <span class="color-on-hover" style="color:var(--accent-color)">{{name}}</span>
      <span style="font-size: var(--small-font-size);color:var(--light-text-color);display:block">{{bio}} who joined in {{joined}}</span>
  </span>
</a>
  </li>
  {{/sites}}
</ul>
{{/featured}}

<!-- shuffle the order of <li> sites in #featured and limit number to 24 sites -->
<script>
  var featured = document.getElementById("featured");
  var sites = featured.getElementsByTagName("li");
  var sitesArray = Array.prototype.slice.call(sites);
  var previousFirstSevenSites = [];

  const renderFeatured = () => {
  
    let firstSevenSiteCandidates = [...sitesArray];
    
    let index = previousFirstSevenSites.length - 1;

    while (firstSevenSiteCandidates.length > 7 && index >= 0) {
      firstSevenSiteCandidates = firstSevenSiteCandidates.filter(function(site) {
        return ! previousFirstSevenSites[index].includes(site);
      });
      index--;
    }

    firstSevenSiteCandidates.sort(function() {
      return 0.5 - Math.random();
    });

    const firstSevenSites = firstSevenSiteCandidates.slice(0, 7);

    let remainder = [...sitesArray].filter(function(site) {
      return ! firstSevenSites.includes(site);
    });

    // shuffle the remainder of the sites
    remainder.sort(function() {
      return 0.5 - Math.random();
    });

    // trim the number of sites
    remainder = remainder.slice(0, 6);

    featured.innerHTML = "";

    const result = [...firstSevenSites, ...remainder];

    result.forEach(function(site) {
      featured.appendChild(site);
    });

    // save the results for the next pass
    previousFirstSevenSites.push(firstSevenSites);

    // trim the history of previous results
    if (previousFirstSevenSites.length > 5) {
      previousFirstSevenSites.shift();
    }
  }

renderFeatured();

</script>
<div style="display: flex;">

  <div style="flex-basis: 66.666%;padding-right: 4rem;box-sizing: border-box;">
    {{> template-list}}  
    {{> folder-list}}
  </div>
  
</div>

<h2>Customizing a template</h2>

<p>You make modifications to your template's colors and fonts using Blot's template editor – no coding required.</p>

<p><a href="/examples/templates/fonts">View all fonts</a></p>

<h2>Develop your own template</h2>

<p>You can fork any of the included templates and make modifications to their source code, or develop your own template from scratch.</p>

<p><a href="/developers">Developer guide</a></p>

</div>
<style>
  span.color-on-hover,
  li[data-hue] a span.color-on-hover {
    color:var(--text-color)
    }
    a:hover span.color-on-hover,
  li[data-hue] a:hover span.color-on-hover {
    color: var(--accent-color)
  }
  h2 a[href="/examples"] {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  h2 a[href="/examples"] svg {
    fill: var(--light-text-color);
    height: 12px;
    width: 12px;
    stroke: var(--light-text-color)
  }

  h2 a[href="/examples"]:hover svg {
    fill: var(--text-color);
    stroke: var(--text-color)
  }

  /* fade in the children of id="featured" one after the other */
  #featured li {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  #featured li:nth-child(1) {
    animation-delay: 0.05s;
  }

  #featured li:nth-child(2) {
    animation-delay: 0.1s;
  }

  #featured li:nth-child(3) {
    animation-delay: 0.15s;
  }

  #featured li:nth-child(4) {
    animation-delay: 0.2s;
  }

  #featured li:nth-child(5) {
    animation-delay: 0.25s;
  }

  #featured li:nth-child(6) {
    animation-delay: 0.3s;
  }

  #featured li:nth-child(7) {
    animation-delay: 0.35s;
  }

  #featured li:nth-child(8) {
    animation-delay: 0.4s;
  }

  #featured li:nth-child(9) {
    animation-delay: 0.45s;
  }

  #featured li:nth-child(10) {
    animation-delay: 0.5s;
  }

  #featured li:nth-child(11) {
    animation-delay: 0.55s;
  }

  #featured li:nth-child(12) {
    animation-delay: 0.6s;
  }

  #featured li:nth-child(13) {
    animation-delay: 0.65s;
  }




</style>