<!-- <h1 style="padding:0">{{name}}</h1> -->
<div style="border-top: 1px solid var(--light-border-color);padding-top: 1rem;margin-top: 1rem;display: flex;">

	<a href="/sign-up" style="margin: 0;border:none;cursor: pointer; font-size:14px;display:  inline-block;border-radius: var(--border-radius);background-color: var(--accent-color);color:var(--background-color);padding:0.333em 0.66em;font-weight: 600;margin-right: 6px;">
		<svg style="fill:currentColor;vertical-align: middle;position:relative;top:-0.1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm4-2.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z"></path></svg>
		Install template
	</a>

	<a href="/templates" class="close-button">
	<span>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M5.72 5.72a.75.75 0 0 1 1.06 0L12 10.94l5.22-5.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L13.06 12l5.22 5.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L12 13.06l-5.22 5.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L10.94 12 5.72 6.78a.75.75 0 0 1 0-1.06Z"></path></svg>
	</span>
</a>

<a href="{{{preview}}}" target="_blank" class="template-button">
	<span class="icon-zoom"></span>&thinsp;
	Preview
</a>

<a href="{{#cdn}}{{{zip}}}{{/cdn}}" target="_blank" class="template-button">
	<span class="icon-download"></span>&thinsp;
	Download folder <span style="font-size: var(--small-font-size);color:var(--light-text-color)">{{zip_size}}</span>
</a>

<!-- <div style="flex-grow: 1;"></div>
<a href="{{{source}}}" class="template-button right-aligned">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z"></path></svg>
	View source
</a> -->

</div>

<br>

<style type="text/css">
a.bordered-button {
  margin-right: 1.4em;
  line-height: 1.1;
  padding: 10px 16px;
}

	a .browser {border: 1px solid var(--light-border-color);border-radius: 6px;display: block;padding: 1rem 1rem 0;}

	a	.browser.mobile {
		padding: 1rem;
		border-radius: 12px;
	}

		.devices {position: relative;width: 100%;}
		.devices img {max-width: 100%}
	
        .devices .desktop {
		border: 1px solid var(--light-border-color);
		border-radius: 18px;
	}

	
    .devices .mobile {position: absolute;
		bottom: 0;right: 0;
		width: 400px;height: 400px}

		.sc {margin: 2rem 0}
</style>

<div style="display: flex">
<p class="sc" style="flex-basis: 75%">	<a target="_blank" style="text-decoration: none;cursor: zoom-in;" href="{{{preview}}}/"
		>
		<span class="browser"><img src="{{#cdn}}/images/examples/{{slug}}/0.png{{/cdn}}"
	/></span></a>
</p>
<p class="sc" style="flex-basis: 25%;margin-left: 2rem">		<a target="_blank" style="text-decoration: none;cursor: zoom-in;" href="{{{preview}}}/"
		>
		<span class="browser mobile"><img src="{{#cdn}}/images/examples/{{slug}}/0.mobile.png{{/cdn}}"
	/></span></a>
</p></div>

