
<ul class="pill-navigation">

    <li><a href="/templates" class="{{^category}}selected{{/category}}">All</a></li>
    {{#categories}}
    <li><a href="/templates/for-{{slug}}" class="{{selected}}">{{name}}</a></li>
    {{/categories}}
    </ul>

    <ul class="clients templates">
    {{#allTemplates}}
    <li class="template-item">
      <a href="/templates/{{slug}}" class="template-link">
        <span class="template-name">
          {{name}}
          <span class="template-subtitle">Template</span>
        </span>
        <img
          src="{{#cdn}}/images/examples/{{slug}}/0-thumb.png{{/cdn}}"
          class="template-image"
          width="80" height="59" />
      </a>
    </li>
    {{/allTemplates}}
</ul>
