<ul class="clients templates">
    {{#allTemplates}}
    <li class="template-item">
      <a href="/templates/{{slug}}" class="template-link">
        <span class="template-name">
          {{name}}
          <span class="template-subtitle">Template</span>
        </span>
        <img
          src="{{#cdn}}/images/examples/{{slug}}/0-thumb.png{{/cdn}}"
          class="template-image"
          width="65" height="48" />
      </a>
    </li>
    {{/allTemplates}}
</ul>

<style>
  .clients.templates {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    margin: 0 -4px;
  }

    .template-item {
        width: 33.333%;
    }

    @media (max-width: 1148px) {
        .template-item {
            width: 50%;
        }
    }

    @media (max-width: 600px) {
        .template-item {
            width: 100%;
        }
    }


  .clients a.template-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px;
    padding-left: 32px;
  }

  .template-name {
    font-size: 16px;
    color: var(--accent-color);
  }

  .template-subtitle {
    display: block;
    color: var(--light-text-color);
    font-size: 14px;
  }

  .clients img.template-image {
    background-color: white;
    width: 65px;
    height: 48px;
    border-radius: var(--border-radius);
    margin: 4px 16px 6px;
    box-shadow: inset 0 1px 0 #f5f4f5, 0 -1px 0 rgba(0,0,0,.11), 0 1px 0 rgba(0,0,0,.26), -1px 0 0 rgba(0,0,0,.13), 1px 0 0 rgba(0,0,0,.13);
  }
</style>