<body style="max-width:30em;margin:2em auto"> 
<h1>Wordpress export</h1>
<p>The purpose of this template is to generate a <a href="https://en.support.wordpress.com/export/">Wordpress export file</a> for your blog. Since support for a Wordpress export file is so common, this template will allow you to transfer your blog to a wide variety of other platforms, including Squarespace, Micro.blog and many static site generators.</p>
<p>Features and known issues:</p>
<ul>
<li>Export includes all public posts</li>
<li>Tags are exported for each post as Wordpress categories</li>
<li>Pages are not exported</li>
<li>Drafts are not exported</li>
</ul>
<p><a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/past/wordpress-export">View the source for this template</a> if you would like to contribute.</p>
<p><a href="/export.xml">Download Wordpress export file for <b>{{title}}</b></p>
</body>