
span.icon-small-check {
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj48cGF0aCBkPSJNNiAwYTYgNiAwIDEgMSAwIDEyQTYgNiAwIDAgMSA2IDBabS0uNzA1IDguNzM3TDkuNjMgNC40MDMgOC4zOTIgMy4xNjYgNS4yOTUgNi4yNjNsLTEuNy0xLjcwMkwyLjM1NiA1LjhsMi45MzggMi45MzhaIj48L3BhdGg+PC9zdmc+")
}

span.icon-small-alert {
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj48cGF0aCBkPSJNNC44NTUuNzA4Yy41LS44OTYgMS43OS0uODk2IDIuMjkgMGw0LjY3NSA4LjM1MWExLjMxMiAxLjMxMiAwIDAgMS0xLjE0NiAxLjk1NEgxLjMzQTEuMzEzIDEuMzEzIDAgMCAxIC4xODMgOS4wNThaTTcgN1YzSDV2NFptLTEgM2ExIDEgMCAxIDAgMC0yIDEgMSAwIDAgMCAwIDJaIj48L3BhdGg+PC9zdmc+");
}

span.icon-small-no-entry {
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj48cGF0aCBkPSJNNiAwYTYgNiAwIDEgMSAwIDEyQTYgNiAwIDAgMSA2IDBabTMgNUgzdjJoNloiPjwvcGF0aD48L3N2Zz4=");
}


span.icon-refresh {
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNMS43MDUgOC4wMDVhLjc1Ljc1IDAgMCAxIC44MzQuNjU2IDUuNSA1LjUgMCAwIDAgOS41OTIgMi45N2wtMS4yMDQtMS4yMDRhLjI1LjI1IDAgMCAxIC4xNzctLjQyN2gzLjY0NmEuMjUuMjUgMCAwIDEgLjI1LjI1djMuNjQ2YS4yNS4yNSAwIDAgMS0uNDI3LjE3N2wtMS4zOC0xLjM4QTcuMDAyIDcuMDAyIDAgMCAxIDEuMDUgOC44NGEuNzUuNzUgMCAwIDEgLjY1Ni0uODM0Wk04IDIuNWE1LjQ4NyA1LjQ4NyAwIDAgMC00LjEzMSAxLjg2OWwxLjIwNCAxLjIwNEEuMjUuMjUgMCAwIDEgNC44OTYgNkgxLjI1QS4yNS4yNSAwIDAgMSAxIDUuNzVWMi4xMDRhLjI1LjI1IDAgMCAxIC40MjctLjE3N2wxLjM4IDEuMzhBNy4wMDIgNy4wMDIgMCAwIDEgMTQuOTUgNy4xNmEuNzUuNzUgMCAwIDEtMS40OS4xNzhBNS41IDUuNSAwIDAgMCA4IDIuNVoiPjwvcGF0aD48L3N2Zz4=");
}
