<a class="dim  pv4 db lh-copy no-underline   "  href="{{{url}}}">

      {{#summary}}
       <span class="db fr w-two-thirds">
        <span class="db" style="max-height:23.4375rem;overflow:hidden">
        {{#thumbnail.medium}}
       <img style="width:100%;outline: 1px solid rgba(0,0,0,.12); outline-offset: -1px;vertical-align:bottom" src="{{{url}}}">
        {{/thumbnail.medium}}
        </span>

      </span>
      
      <span class="db fl w-third" style="">
      <span class="mr4 fw9 black-80 db lh-title f3 mb3 tracked-tight" style="line-height:1.1675">{{title}}</span>
      <span class="mr4 black-50 mr3 f6 lh-copy db" style="text-overflow:ellipsis;max-height:9.1875rem;overflow:hidden">{{summary}}</span>      
     <span class=" db f6 mt4 " style="height:1.5em;overflow:hidden">
        {{#date}}<span date-from-now="{{dateStamp}}" class="dib black-50 mr2">{{#formatDate}}MMM D, YYYY{{/formatDate}}</span>{{/date}}
        <span class="dib fw6 clip-2 black-80">{{#tags}}<span class="dib">{{^first}} &amp; {{/first}}{{tag}}</span>{{/tags}}</span>
    </span>
      </span>
      {{/summary}}

      {{^summary}}
      <span class="w-100" style="">
        <span class=" fw9 black-80 db lh-title f3 tracked-tight" style="line-height:1.1675">{{title}}</span>

       <span class=" db f6 mt1 mb3" style="height:1.5em;overflow:hidden">
          {{#date}}<span date-from-now="{{dateStamp}}" class="dib black-50 mr2">{{#formatDate}}MMM D, YYYY{{/formatDate}}</span>{{/date}}
          <span class="dib fw6 clip-2 black-80">{{#tags}}<span class="dib">{{^first}} &amp; {{/first}}{{tag}}</span>{{/tags}}</span>
      </span>


        <span class="db">
        {{#thumbnail.large}}
       <img style="width:100%;outline: 1px solid rgba(0,0,0,.12); outline-offset: -1px;vertical-align:bottom" src="{{{url}}}">
        {{/thumbnail.large}}
        </span>
      </span>
      


      {{/summary}}


     
      </span>


      <span class="cf"></span>
      </a>