<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container">
    {{> header}}
    {{#entry}}
        {{{html}}}
        
        <br />
        {{#date}}
        <br />
        <i>Posted on {{date}}</i>
        <br /><br />       
        {{/date}}
        <br />

        {{#tags}}
        <a href="/tagged/{{slug}}">{{name}}</a>
        {{/tags}}
        <br />
        
        <hr/><br />

        {{#previous}}
        <a class="previousEntry" href="{{{url}}}">
          <span class="lightText">Previous post</span>
          <span class="title"><b class="link">{{title}}</b></span>
          <span class="summary">{{summary}}</span>
        </a>    
        {{/previous}}  

        {{#next}}
        <a class="nextEntry" href="{{{url}}}">
          <span class="lightText">Next post</span>
          <span class="title"><b class="link">{{title}}</b></span>
          <span class="summary">{{summary}}</span>
        </a>    
        {{/next}}
        
    {{/entry}}

    {{> pluginHTML}}        

    {{> footer}}    
    </div>    
  </body>
</html>