<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container">
      {{> header}}
        <form action='/search' style="margin:-0.66em 0 1em">
          <input placeholder="Type your search..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />
          <input type="submit" value="Search"/>
        </form>
        <div class="archives">
          {{#query}}
            {{^entries}}
            <p>Sorry, nothing found for “{{query}}”</p>
            {{/entries}}
          {{/query}}

          {{#entries}}
            <a href="{{{url}}}">{{title}}</a>
            <span class="small">{{date}}</span>
            <br />
          {{/entries}}
        </div>
    </div>
  </body>
</html>