<h1>Pages</h1>

<p>
  Files inside a sub-folder called <em>Pages</em> become pages instead of
  posts. Links to each page appear on your site’s menu. You can change the order of the pages on your menu and add external links under <a href="/settings/links">Settings &rarr; Links</a> on your site's dashboard.
</p>

  <pre class="folder" title="Your site"><code>Pages
  About.txt
  Contact.docx  
  Home.txt
  Link.webloc
  Secret.txt
Posts

</code></pre>

<h2>Hidden pages</h2>

<p>
  You can hide a page from your site’s menu with the <code>Menu</code>
  <a href="/how/metadata">metadata</a>.
</p>

<pre class="text with-chrome" title="Hidden.txt"><code>Menu: no
Link: /hidden

This page will not appear on your site‘s menu. It is accessible only by its URL, which is ‘/hidden’.

</code></pre>

<h2>Create a landing page</h2>
<p>
  You can create a landing page with the <code>Link</code>
  <a href="/how/metadata">metadata</a>.
</p>

<pre class="text with-chrome" title="Home.txt"><code>Link: /

This page will replace your site‘s homepage. 

If you still want your readers to access the list of your posts, consider adding a link to ‘/page/1’ to your site’s menu. You can edit your site's menu on the dashboard under ‘Settings &rarr; Links’.
</code></pre>

<h2>External links</h2>

<p>
  You can add external links to your menu on the
  <a href="/settings/links">Settings &rarr; Links</a> page of your site's dashboard.
</p>

<h2>Edit the order of the links on your menu</h2>

<p>
  You can change the order of the links on your menu on the
  <a href="/settings/links">Settings &rarr; Links</a> page of your site's dashboard.
</p>