<h1>About</h1>

<p>Blot is a blog­ging plat­form with no in­ter­face. It turns a folder into a blog. Files in­side your blog’s folder be­come blog posts au­to­mat­i­cally.  Blot exists so you can blog with your fa­vorite tools. Use your fa­vorite text-ed­i­tor to write and Blot does the rest.</p>

<h2>Why does Blot exist?</h2>

<p>I like the flexibility and simplicity of plain text files. For years I’ve used text files to store my notes. One day it occured to me that there is enough information encoded in the files—their content, metadata and location—to generate a blog, without interfering with the structure of the folder or my writing process.</p>

<h2>Why does Blot cost money?</h2>

<p>The fee pays for the servers which host your blog. It also covers the cost of providing support. Most importantly, it means Blot operates in your best interests alone, without balancing the needs of advertisers or investors.</p>

<h2>Can I host Blot on my own server?</h2>

<p>Yes, <a href="https://github.com/davidmerfield/Blot">Blot’s source code</a> is dedicated to the public domain.</p>

<h2>Alternatives to Blot</h2>

<p>
  <strike><a rel="nofollow" href="http://900dpi.com/">900dpi</a></strike>,
  <a rel="nofollow" href="https://amb-1.com">Amb-1</a>,
  <a rel="nofollow" href="https://asocialfolder.com/">asocialfolder</a>,
  <strike><a rel="nofollow" href="https://www.boxfolio.com/">Boxfolio</a></strike>,
  <strike><a rel="nofollow" href="http://brace.io/">Brace</a></strike>,
  <strike><a rel="nofollow" href="http://calepin.co/">Calepin</a></strike>,
  <a rel="nofollow" href="http://cloudcannon.com/">Cloud Cannon</a>,
  <a rel="nofollow" href="http://droppages.com/">Droppages</a>,
  <strike><a rel="nofollow" href="http://dropplets.com/">Dropplets</a></strike>,
  <a rel="nofollow" href="http://duet.to/">Duetto</a>,
  <strike><a rel="nofollow" href="http://fargo.io/">Fargo</a></strike>,
  <strike><a rel="nofollow" href="https://www.harp.io/">Harp</a></strike>,
  <a rel="nofollow" href="https://www.kissr.com/">Kissr</a>,
  <strike><a rel="nofollow" href="http://markbox.io/">Markbox</a></strike>,
  <strike><a rel="nofollow" href="https://www.pancake.io/">Pancake</a></strike>,
  <strike><a rel="nofollow" href="http://scriptogr.am/">Scriptogram</a></strike>,
  <a rel="nofollow" href="http://www.site44.com/">Site44</a>,
  <strike><a rel="nofollow" href="https://www.sitebox.io/">Sitebox</a></strike>,
  <strike><a rel="nofollow" href="http://skrivr.com/">Skrivr</a></strike>,
  <a rel="nofollow" href="https://www.smallvictori.es/">Small Victories</a>,
  <strike><a rel="nofollow" href="https://www.synkee.com/">Synkee</a></strike>,
  <a rel="nofollow" href="http://updog.co/">Updog</a>
</p>

<h2>Multiple blogs</h2>

<p>You can manage multiple blogs from the same account. Each blog is independent: you could use <a href="/publishing/clients/dropbox">Dropbox</a> with one and <a href="/publishing/clients/git">Git</a> with another. Your blogs can use the same Dropbox account, or different accounts. Each blog costs <a href="/sign-up">{{price}} per {{interval}}</a>.</p>

<h2>Subscription renewals</h2>
<p>
  I will email you one week before your subscription is renewed to give you time to cancel your subscription or update your billing information. If you forget to cancel in time, <a href="/contact">contact me</a> and I’ll send you a refund.
</p>

<h2>Bandwidth and storage limits</h2>
<p>
  There is a soft cap of 1TB of bandwidth + storage combined per year, per blog. If you exceed this, I will ask you to meet the cost of hosting your blog, or I will help you set up Blot on your own server. Dropbox’s <a href="https://www.dropbox.com/help/security/banned-links#traffic">traffic limits</a> do not apply because Blot hosts the contents of your folder on its own server.
</p>


<h2>Language support</h2>
<p>Blot’s dashboard, <a href="/publishing">documentation</a>, <a href="/contact">support</a> and <a href="/templates">templates</a> are available in English.</p>

<h2>Canceling your subscription</h2>
<p>
  You can cancel your subscription on the <a href="/account">account page</a>. You can choose to <a href="/account/delete">delete your account</a> immediately, or wait until the end of your billing period.</p>

<h2>Payment processing</h2>
<p>
  Blot uses <a href="https://stripe.com/">Stripe</a> to process subscription payments. This means your payment details do not touch Blot’s servers.
</p>

<h2>Is Blot still maintained?</h2>
<p>Yes, and there’s plenty to do. Take a look at <a href="/news">what I’m working on</a>.</p>

<h2>How long has Blot been around?</h2>
<p>I began work on Blot in the summer of 2013. Blot opened to the public a year later. Many thanks to Blot’s earliest customers for their help and their patience. In particular thank you Frank, Julie, Josh, Chris, Johannes and Angie.</p>

<h2>How long do you plan to run Blot?</h2>
<p>Decades, at least.</p>