<h1>Contact us</h1>

<p>Please send your inquiry to <a href="mailto:contact@blot.im">contact@blot.im</a> directly.  We provide prompt and personal support, so don't hesitate to ask if you have any questions.</p>

<p>Your feedback on any aspect of our service is always sincerely welcome. We set aside time each Wednesday afternoon to talk to you. If you have any issues, questions or feedback about Blot which would suit a conversation better than an email, contact us to arrange a time to talk.</p>

<style type="text/css">
  button:focus {outline: none;}
</style>
<p><a class="bordered-button" style="border:1px solid;display: inline-block;border-radius: 18px 0 0 18px;" id="text_element" href="mailto:contact@blot.im">contact@blot.im</a><button id="copier" style="border:1px solid var(--light-accent-color);cursor:pointer;background:var(--light-accent-color);color:white;font:inherit;line-height:36px;padding:0 2rem;border-radius: 0 18px 18px 0" onclick="copyToClipboard('text_element')">
    Copy
</button></p>

<script type="text/javascript">
  function copyToClipboard(elementId) {

  // Create an auxiliary hidden input
  var aux = document.createElement("input");

  // Get the text from the element passed into the input
  aux.setAttribute("value", document.getElementById(elementId).innerHTML);

  // Append the aux input to the body
  document.body.appendChild(aux);

  // Highlight the content
  aux.select();

  // Execute the copy command
  document.execCommand("copy");

  // Remove the input from the body
  document.body.removeChild(aux);
  document.querySelector('#copier').innerHTML = 'Copied'
  }

</script>