<h1>Featured sites</h1>
<p>Here is a small selection of some of the sites currently made with and hosted by Blot</p>

{{#featured}}
<p >
	<a  style="color:inherit;text-decoration: none;" target="_blank" rel="noopener" href="{{{link}}}"><img style="width:16px;height:16px;vertical-align: middle;" src="{{{favicon}}}" />
  
  <span style="border-bottom: 1px solid {{color}};color:{{color}}">{{name}}</span></a>
   {{bio}}. {{firstName}} uses the <a style="text-decoration:none;border-bottom: 1px solid {{color}};color:{{color}}" {{#template}}href="/templates{{#slug}}/{{slug}}{{/slug}}">{{label}}</a>{{/template}} template.
</a>
<br>
{{/featured}}