<h1>Featured sites</h1>
<p>Below is a small selection of some of the people who made and host their site with Blot.</p>

<style type="text/css">
	.clients img {
    width: 24px;
    height: 24px;
position: absolute;top: 13.2px;left: 15.2px}

.clients li {margin: 0;padding: 0.7rem}
.clients li a {position: relative;padding-left: 3.3rem;box-sizing: border-box;}
</style>
<ul class="clients" style="max-width: none">
{{#featured}}
  <li><a target="_blank" rel="noopener" href="{{{link}}}">
		<img src="{{{favicon}}}" />  	
  	<span class="a" style="color:{{color}}">{{name}}</span> {{bio}}. {{firstName}} uses {{#if template.custom}}a custom{{/if}}{{#unless template.custom}}the {{template.label}} template{{/unless}}.</li>
{{/featured}}  
</ul>

