<style type="text/css">
  .side {
    max-width: 660px;box-sizing:border-box;margin: 0 1.5rem; background: #fafafa;border-radius: 18px;padding:18px 36px;
    display: flex;
    margin-bottom: 3rem
  }

  .side .left {padding-right: 2rem}
  .side .right {padding-left: 2rem}
  .side .left, .side .right {flex-basis: 50%;box-sizing: border-box;}

  .sides-container {display: flex;flex-direction: column;align-items: center;}
 
</style>
    <div class="sides-container">

<div class="side">
  <div class="left">
    <h1 class="inline" style="font-size:20px;line-height: 30px;font-weight: 600">Blot is a blogging platform with no interface. It turns a folder into a website.</h1>
    <p>Because there are just files and folders, you can use your favorite text-editor to publish.</p>
      </div>

    <div class="right">
    <p>
      <a class="textli" href="/videos/publishing-with-blot.mp4">{{> playsvg}}Watch the video</a>
    </p>
    <ul class="top-level">
      {{> links}}
    </ul>
  </div>
</div>
  <div class="side" style="display: block;">
    <h2 style="margin-top: 0">Who uses Blot?</h2>
    <ul class="who">
      <li><a class="btn" href="/sign-up">Create a blog</a></li>
    {{#featured}}
      <li>
        <span class="contents"> 
          <span class="imag">
          <a target="_blank" rel="noopener" href="{{{link}}}">
          {{#favicon.coordinates}}
            <span style="display:block;background:url('/images/featured.png?cacheID={{../../cacheID}}&extension=.png');background-size: {{background_width}}px;
    background-position:-{{x}}px -{{y}}px;width:{{width}}px;height:{{height}}px;border-radius: 100px"></span>
    {{/favicon.coordinates}}
        </a>
          
          </span>
          <span class="tooltip" style="text-align: left;">
            <a target="_blank" rel="noopener" href="{{{link}}}"><span class="a" style="color:{{color}};">{{name}}</span></a> {{bio}}.
    <br>
            <span class="uses" style="font-size: 12px">Joined Blot in {{joined}} &bull; <!-- Updated last month  --><!-- <br>
               <a href="{{{link}}}"><span class="a" style="color:{{color}};">{{host}}</span></a> with  --> <!-- &bull; --> Uses {{#if template.custom}}a custom{{/if}}{{#unless template.custom}}the 
              <a href="{{#if template.custom}}/templates{{/if}}{{#unless template.custom}}/templates/{{template.slug}}{{/unless}}"><span class="a" style="color:{{color}};">{{template.label}}</span></a>
          {{/unless}} template</span>

          </span>
        </span>
      </li>
    {{/featured}}  
  </ul>  
</div>

</div>
    <!-- Randomizes links to member sites and limit total sites to 20 -->
<script type="text/javascript">
var ul = document.querySelector('ul.who');

var MAX_FEATURED = 28;

for (var i = ul.children.length; i >= 2; i--) {
  let index = 1 + (Math.floor(Math.random() * (i - 1)));
  ul.appendChild(ul.children[index]);
}

for (var x = ul.children.length - 1; x >= MAX_FEATURED; x--) {
  ul.children[x].remove();
}

ul.appendChild(ul.children[0]);

</script>