{{> head}}

<body>
  <link rel="stylesheet" href="/css/tex.css">
  <main class="has-sidebar">

    <label for="toggle">—<br>—<br>—</label>

    <input type="checkbox" name="toggle" id="toggle">

    <STYLE TYPE="text/css">
      ul.table {border: 1px solid;}
    ul.table,
    ul.table li,
    ul.table ul {margin: 0;padding: 0;list-style-type: none;}
    ul.table a {
      padding: 0.25em 1em;
      background:#f3eeea;
      display: block;
      border-bottom: 1px solid
    }

    ul.table ul a {background: white}

    .table input {display: none;}
    .table ul {display: none;}
    .table input:checked + a + ul {display: block;}
    </STYLE>
    <section>
      <ul class="table">

        {{^user}}
        <a class="in {{selected.index}}" href="/">Blot is a blogging platform<br>with no interface</a>
        <a href="/log-in">Log in</a>
        <a href="/sign-up">Sign up</a>
        {{/user}}
        {{#user}}
        <a class="in {{selected.index}}" href="/">←  Back to dashboard</a>
        {{/user}}
      </ul>
      <br>
      <ul class="table">

        <li class="has-list {{selected.publishing}}">
          <input type="checkbox" name="publishing" id="publishing" {{#selected.publishing}} checked{{/selected.publishing}}> <a href="{{{base}}}/publishing">How to use Blot<label for="publishing"></label>
          </a>
          <ul>
            <li class="{{selected.pages}}">
              <a href="{{{base}}}/publishing/pages">Getting started</a>
            </li>
            <!--         <li class="{{selected.drafts}}">
          <a href="{{{base}}}/publishing/drafts">Drafts</a>
        </li>
        <li class="{{selected.tags}}">
          <a href="{{{base}}}/publishing/tags">Tags</a>
        </li>
        <li class="{{selected.dates}}">
          <a href="{{{base}}}/publishing/dates">Dates</a>
        </li>
 -->
            <li class="{{selected.public-files}}">
              <a href="{{{base}}}/publishing/public-files">Public files</a>
            </li>
            <li class="{{selected.metadata}}">
              <a href="{{{base}}}/publishing/metadata">Metadata</a>
            </li>

            <li>
              <a href="/formatting">Formatting guide</a>
            </li>

            <li class="{{selected.domain}}">
              <a href="{{{base}}}/configuring/domain">Use your own domain</a>
            </li>

            <li class="{{selected.import}}">
              <a href="{{{base}}}/configuring/import">Moving your blog to Blot</a>
            </li>
            <!--           <li class="{{selected.redirects}}">
            <a href="{{{base}}}/configuring/redirects">Redirects</a>
          </li>
          <li class="{{selected.urls}}">
            <a href="{{{base}}}/configuring/urls">URLs</a>
          </li>
          <li class="{{selected.services}}">
            <a href="{{{base}}}/configuring/services">External services</a>
          </li>        
 -->
          </ul>
        </li>
        <li class="has-list {{selected.templates}}">
          <input type="checkbox" name="templates" id="templates" {{#selected.templates}} checked{{/selected.templates}}> <a href="{{{base}}}/templates">Templates<label for="templates"></label>
          </a>
          <ul>

            <li class="{{selected.console}}">
              <a href="{{{base}}}/templates/console">
      Console
    </a>
            </li>
            <li class="{{selected.default}}">
              <a href="{{{base}}}/templates/default">
      Default
    </a>
            </li>
            <li class="{{selected.grid}}">
              <a href="{{{base}}}/templates/grid">
      Grid
    </a>
            </li>
            <li class="{{selected.magazine}}">
              <a href="{{{base}}}/templates/magazine">
      Magazine
    </a>
            </li>
            <li class="{{selected.photos}}">
              <a href="{{{base}}}/templates/photos">
      Photos
    </a>
            </li>
            <li class="{{selected.portfolio}}">
              <a href="{{{base}}}/templates/portfolio">
      Portfolio
    </a>
            </li>
            <li class="{{selected.rosa}}">
              <a href="{{{base}}}/templates/rosa">
      Rosa
    </a>
            </li>
          </ul>
        </li>

        <li class="{{selected.account-billing}}">
          <a href="{{{base}}}/account-billing">Account and billing</a>
        </li>

      </ul>
      <br>
      <ul class="table">

        <li>
          <a href="/support">Support</a>
        </li>

        <li>
          <a href="/news">News</a>
        </li>

        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </section>
    <content>
      {{{body}}}
    </content>
  </main>

  {{> footer}}
</body>

</html>