{{> head}}

<body>

  <style type="text/css">.wrapper {max-width: 60rem}

content > p:first-of-type {font-size: 18px}

.buttt {position: relative;
    padding: 4px 1.65rem 4px 12px;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid #e0e0e0;
    color: #000;
    border-radius: 4px;font-weight: 600;
    text-decoration: none;
    color: inherit;}

    .buttt:hover {text-decoration: underline;}

    .buttt:after {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 10px;
    float: right;
    content: "\203A";
}

.on-this-page li a {
  text-indent: -12px;
margin-left: 12px
}
.underline-on-hover:hover {text-decoration: underline;}
</style>
<div >
  <div class="wrapper">
    <row  style="padding:1rem 0 1rem;display:flex;align-items:center;margin-bottom: 1rem">
      <section style="display: flex;
    align-items: center;width: 15rem">

        {{#unless user}}
        <a class="underline-on-hover {{selected.index}}" style="font-weight: 600;color:#000" title="Blot" href="/" >Blot</a>

        {{/unless}}
        {{#if user}}
        <a href="/" style="color:#aaa">&larr; &nbsp; Back to your blogs</a>

        {{/if}}

      </section>


      <section class="links" style="flex-grow:1;font-weight:600;color:#000">
        <label for="toggle">Menu</label>
        {{#unless user}}
        <a class="buttt" href="/sign-up">Sign up</a>
        <a class="buttt" href="/log-in">Log in</a>
        {{/unless}}
        {{#if user}}
        <a class="buttt" href="/">Your account</a>
        <a class="buttt" href="/how">How to use Blot</a>
        <a class="buttt" href="/contact">Contact</a>
        {{/if}}
      </section>
    </row>

</div>
</div>
<!--     <hr style="margin:0; border: none;
    border-bottom: 1px solid #eee;"> -->

  <div class="wrapper">
  <main  >

    <input type="checkbox" name="toggle" id="toggle">

    <ul class="sidebar col-25" style="border-top: 1px solid #eee;padding-top: 1rem">

      <li>
        <a class="{{selected.howIndex}}" href="{{{base}}}/how">How to use Blot</a>
        <ul>
          <li>
        <a class="{{selected.pages}}" href="{{{base}}}/how/pages">Pages</a>
      </li>
      <li>
        <a class="{{selected.public-files}}" href="{{{base}}}/how/public-files">Public files</a>
      </li>
      <li>
        <a class="{{selected.metadata}}" href="{{{base}}}/how/metadata">Metadata</a>
      </li>
            <li>
        <a class="{{selected.guides}}" href="/how/guides">Guides</a>
      </li>
    </ul>
      </li>
      


<li>
        <a class="{{selected.templatesIndex}}" href="{{{base}}}/templates">Templates</a>
        <ul>
          <li>
        <a class="{{selected.essay}}" href="{{{base}}}/templates/essay">Essay</a>
      </li>
      <li>
        <a class="{{selected.diary}}" href="{{{base}}}/templates/diary">Diary</a>
      </li>
      <li>
        <a class="{{selected.picture}}" href="{{{base}}}/templates/picture">Picture</a>
      </li>
      <li>
        <a class="{{selected.magazine}}" href="{{{base}}}/templates/magazine">Magazine</a>
      </li>
      <li>
        <a class="{{selected.scrapbook}}" href="{{{base}}}/templates/scrapbook">Scrapbook</a>
      </li>
        </ul>
      </li>
      
      <li>
        <a class="{{selected.clients}}" href="{{{base}}}/how/clients">Clients</a>
        <ul>
          <li>
        <a class="{{selected.dropbox}}" href="{{{base}}}/how/clients/dropbox">Dropbox</a>
      </li>

          <li>
        <a class="{{selected.dropbox}}" href="{{{base}}}/how/clients/git">Git</a>
      </li>
        </ul>
      </li>


      <hr>

              <li><a class="{{selected.about}}" href="/about">About</a></li>
        <li><a class="{{selected.news}}" href="/news">News</a></li>
        <li><a class="{{selected.contact}}" href="/contact">Contact</a></li>
        <hr>
                <li class="with-arrow"><a class="{{selected.developers}}" href="/developers">Developers</a></li>
                <li class="with-arrow"><a class="{{selected.notes}}" href="/notes">Notes</a></li>

    </ul>

    <content style="border-top: 1px solid #eee;padding-left: 0;margin-left: 4rem">
      {{{body}}}
    </content>
    <ul class="sidebar col-25" style="border-top: 1px solid #eee">

<p style="margin:0"><small>In this section:</small></p>
      <li>
        <a class="" href="{{{base}}}/how">How to use Blot</a>
      </li>
           <li>
        <a class="" href="{{{base}}}/how/pages">Pages</a>
      </li>

           <li>
        <a class="" href="{{{base}}}/how">Metadata</a>
      </li>

           <li>
        <a class="" href="{{{base}}}/how">Drafts</a>
      </li>

      <p style="margin:0"><small>On this page:</small></p>
      <li>
        <a class="" href="{{{base}}}/how">How to use Blot</a>
      </li>
           <li>
        <a class="" href="{{{base}}}/how">Files which become blog posts</a>
      </li>

           <li>
        <a class="" href="{{{base}}}/how">Prevent a ﬁle becoming a blog post</a>
      </li>

           <li>
        <a class="" href="{{{base}}}/how">Drafts</a>
      </li>

    </ul>
  </main>
</div>  
  {{> footer}}
</body>
</html>
