{{> head}}

<body>

  <div class="wrapper">
    <row  style="margin:0 0 ;display:flex;align-items:center;">
      <section style="display: flex;
    align-items: center;">

        {{#unless user}}
        <a style="font-weight: 600;color: inherit;" class=" {{selected.index}}" title="Blot" href="/" >Blot</a>
        {{/unless}}
        {{#if user}}
        <a href="/" style="color:#aaa">&larr; &nbsp; Back to your blogs</a>

        {{/if}}

      </section>

      <section class="links" style="font-weight:600;color:#000">
        <label for="toggle">Menu</label>
        {{#unless user}}
        <a href="/sign-up">Sign up</a>
        <a href="/log-in">Log in</a>
        {{/unless}}
        {{#if user}}
        <a href="/account">Your account</a>
        <a href="/publishing">How to use Blot</a>
        <a href="/contact">Contact</a>
        {{/if}}
      </section>
    </row>

</div>
<!--     <hr style="margin:0; border: none;
    border-bottom: 1px solid #eee;"> -->

  <div class="wrapper">
  <main  >

    <input type="checkbox" name="toggle" id="toggle">

    <ul class="sidebar col-25">

      <br><br>

      <li>
        <a class="{{selected.publishingIndex}}" href="{{{base}}}/publishing">How to use Blot</a>
      </li>
      <li>
        <a class="{{selected.pages}}" href="{{{base}}}/publishing/pages">Pages</a>
      </li>
      <li>
        <a class="{{selected.public-files}}" href="{{{base}}}/publishing/public-files">Public files</a>
      </li>
      <li>
        <a class="{{selected.metadata}}" href="{{{base}}}/publishing/metadata">Metadata</a>
      </li>
      <li>
        <a class="{{selected.clients}}" href="{{{base}}}/publishing/clients">Clients</a>
      </li>
      <li>
        <a class="{{selected.guides}}" href="/publishing/guides">Guides</a>
      </li>

      <br>
      <hr>
      <br>
<li>
        <a class="{{selected.templates}}" href="{{{base}}}/templates">Templates</a>
      </li>
      <li>
        <a class="{{selected.pages}}" href="{{{base}}}/publishing/pages">Diary</a>
      </li>
      <li>
        <a class="{{selected.public-files}}" href="{{{base}}}/publishing/public-files">Essay</a>
      </li>
      <li>
        <a class="{{selected.metadata}}" href="{{{base}}}/publishing/metadata">Portfolio</a>
      </li>
      <li>
        <a class="{{selected.clients}}" href="{{{base}}}/publishing/clients">Journal</a>
      </li>
      <li>
        <a class="{{selected.guides}}" href="/publishing/guides">Picture</a>
      </li>

      <br>
      <hr>
      <br>

              <li><a class="{{selected.about}}" href="/about">About</li>
        <li><a class="{{selected.news}}" href="/news">News</a></li>
        <li><a class="{{selected.contact}}" href="/contact">Source code</a></li>
        <li><a class="{{selected.contact}}" href="/contact">Contact</a></li>
    </ul>

    <content>
      {{{body}}}
    </content>
  </main>
</div>  
  {{> footer}}
</body>

</html>
