<h1>Pricing</h1>
<p>
	Blot costs <b>$4 per month</b> per blog. You can host as many
	blogs as you like. Each blog includes:
</p>

<ul>
<li>Hosting</li>
<li>Support</li>
<li>All of the templates</li>
</ul>
<h2>Why does Blot cost money?</h2>

<p>
	The fee pays for the servers which host your blog. It also covers the cost of
	providing support. Most importantly, it means Blot operates in your best
	interests alone, without care for the needs of advertisers or investors.
</p>

<h2>Multiple blogs</h2>

<p>
	You can manage multiple blogs from the same account. Each blog is independent:
	you could use <a href="/how/sync/dropbox">Dropbox</a> with one and
	<a href="/how/sync/git">Git</a> with another. Your blogs can use the same
	Dropbox account, or different accounts.
</p>

<h2>Can I host Blot on my own server?</h2>

<p>
	Yes, Blot’s <a href="https://github.com/davidmerfield/Blot">source code</a> is
	dedicated to the public domain.
</p>


<h2>Subscription renewals</h2>
<p>
	I will email you one week before your subscription is renewed to give you time
	to cancel your subscription or update your billing information. If you forget
	to cancel in time, <a href="/contact">contact me</a> and I’ll send you a
	refund.
</p>

<h2>Canceling your subscription</h2>
<p>
	You can cancel your subscription on the
	<a href="/account/subscription">account page</a>. You can choose to
	<a href="/account/subscription/delete">delete your account</a> immediately, or
	wait until the end of your billing period.
</p>

<h2>Can I pay annually instead of monthly?</h2>
<p>
	Yes, once you have signed up for Blot you can switch your billing interval from once per month to once per year on the <a href="/account/subscription">subscription page</a>.
</p>

<h2>Payment processing</h2>
<p>
	Blot uses <a href="https://stripe.com/">Stripe</a> to process subscription
	payments. This means your payment details do not touch Blot’s servers.
</p>
