<h1>Sign up</h1>
<p>A blog costs $20 per year and includes hosting and support. You can cancel at any point. You must agree to the terms of use.</p>

<form>

    <label for="card">Email address</label>
    <input type="text" name="card">   

  <fieldset>
    <legend>Payment information</legend>
    <label for="card">Card number</label>
    <input type="text" name="card">   
    <fieldset>
      <legend>Expiration date</legend>
      <label for="month">Month</label>
      <input type="text" name="month">    
      <label for="month">Year</label>
      <input type="text" name="year">    
    </fieldset> 
    <label for="card">CVC</label>
    <input type="text" name="cvc">   
  </fieldset>
  <input type="submit">
</form>