<ol>
  <li>You must not use Blot to break the laws of the State of Washington in the USA.</li>
  <li>You must read and agree to Blot’s <a href="/privacy">privacy policy</a>.</li>
  <li>Blot reserves the right to terminate your account without cause.</li>
  <li>Blot charges a fee in USD. Blot will close your account if your payment is late by more than 30 days. You can <a href="/account/subscription/cancel">cancel your subscription</a> at any time. </li>
  <li>You agree to indemnify and hold harmless Blot from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of Blot.</li>
</ol>