 {{#menu}}
<div class="nav fixed pa4">

  <div class=" center">

    <a href="/" class="db mb4 {{index}}">Blot</a>
    <a href="/"  class="db {{index}}">Introduction</a>
    <a href="/help"     class="db {{help}}">Documentation</a>     

    {{#help}}   
      <div class="ml3">
        <a href="/help/getting-started-with-blot" class="db selected">Getting started</a>
        <a href="/help/templates" class="db">Templates</a>
        <a href="/help/guides-and-resources" class="db">Guides and resources</a>
        <a href="/help/account-and-billing" class="db">Account and billing</a>
      </div>
     {{/help}}

    <a href="/updates"   class="db {{updates}}">Updates</a>
    <a href="/contact"   class="db {{contact}}">Contact</a>
    <a href="/log-in"   class="db {{log-in}}">Log in</a>
    <a href="/sign-up"   class="db {{sign-up}}">Sign up</a>

  </div>
{{/menu}}
</div>

<div class="wrapper measure-wide center">
<div class="pv4"></div>