{{> head}}
{{> header}}

<div class="mt2 mb4">Blot is a blogging platform. It creates a folder inside your Dropbox and publishes files you put inside automatically. This means you can <span class="yesllow">use your favorite text editor to write your blog</span>. </div>

<a href="/"><img src="/images/thumbnail.png"></a>

<br><Br><br>
<br><Br><br>

<window style="margin-top: -0.5em;margin-bottom:3em">

  <toolbar><dots><dot></dot><dot></dot><dot></dot></dots>
    <icon class="dropbox"></icon> Your blog
  </toolbar>

  <sorter>Name <icon class="chevron"></icon></sorter>

  <contents>
    <item class=" "><icon class="folder  "></icon> Drafts</item>
    <item class=" "><icon class="folder  "></icon> Pages</item>
    <item class=" open"><icon class="folder  "></icon> Posts</item>
    <item class="nested "><icon class=" file webloc"></icon> Bookmark.webloc</item>
    <item class="nested "><icon class=" file docx"></icon> Document.docx</item>
    <item class="nested "><icon class=" file img"></icon> Image.jpg</item>
    <item class="nested "><icon class=" file md"></icon> Markdown.md</item>
    <item class="nested "><icon class=" file txt"></icon> Text.txt</item>
    <item class="nested "><icon class=" file html"></icon> Webpage.html</item>
    <item>&#xA0;</item>
    <item>&#xA0;</item>
    <item>&#xA0;</item>
  </contents>
  
  <border class="left"></border>
  <border class="right"></border>
  <border class="top"></border>
  <border class="bottom"></border>

  <corner class="top left"></corner>
  <corner class="top right"></corner>
  <corner class="bottom left"></corner>
  <corner class="bottom right"></corner>
</window>

<p class="mt0 mb3">Blot creates a folder in your Dropbox and publishes files you put inside. These files become blog posts automatically:</p>

    <p class="mv3">
      <code><icon class="txt"></icon> <b class="fw6">Text and Markdown</b></code> .txt, .md<br>
      <code><icon class="txt"></icon> <b class="fw6">Word Documents™</b></code> .docx<br>
      <code><icon class="img"></icon> <b class="fw6">Images</b></code> .png, .jpeg, .gif<br>
      <code><icon class="webloc"></icon> <b class="fw6">Bookmarks</b></code> .webloc<br>
      <code><icon class="html"></icon> <b class="fw6">HTML</b></code> .html<br>
  </p>
<!--   <p class="mv5">
  <a href="/help" style="border:1px solid #aaa;border-radius:4px;padding:1rem">Read the documentation &nbsp;&rarr;</a></p>
 -->  
    <p class="mv3">All you have to do is drag‐and‐drop the files into your blog's folder and <a href="/help">Blot does the rest</a>. There's no interface, just files and folders.</p>
  </div>
</div>
<div class="cf"></div>


  <div class="cf mv5"></div>



<div class="mv4">
       
      <div class="w-25 fl"><div class="pl3 ml1 pr4">Featured websites</div></div>

       <ul class="gallery db w-75 fr">

          <a href="https://www.failuretolerated.com/" target="_blank">
            hannautkin.com
                  <span class="new">New</span>
    </a>

          <a href="https://ylukem.com" target="_blank">
            ylukem.com
          </a>

          <a href="https://www.alexgibson.nyc/" target="_blank">
            alexgibson.nyc
          </a>


          <a href="https://www.theliminal.co/" target="_blank">
            theliminal.co
          </a>

          <a href="https://tomascat.com/" target="_blank">
            tomascat.com
          </a>

          <a href="http://kiefer.design/" target="_blank">
            kiefer.design
          </a>

          <a href="https://www.okaythree.com/" target="_blank">
            okaythree.com
          </a>

          <a href="https://www.kristianhjelle.com" target="_blank">
            kristianhjelle.com
          </a>

          <a href="https://www.juicenews.com/" target="_blank">
            juicenews.com
          </a>

          <a href="https://www.inthemargins.ca/" target="_blank">
            inthemargins.ca
          </a>

          <a href="https://mrfris.by/" target="_blank">
            mrfris.by
          </a>

          <br>
        </ul>
        <div class="cf"></div>
      </div>

<div class="mv4 cf pt6">
       
      <div class="w-25 fl"><div class="pl3 ml1 pr4">Templates</div></div>

      <div class="w-75 fr">
        <!-- 
    <window style="margin-top: -1em;margin-bottom:6em">

      <toolbar><dots><dot></dot><dot></dot><dot></dot></dots>
        <icon class="textfile"></icon> index.html
      </toolbar>
<pre class="text" style="background:blue;padding:0 0.2rem;margin:0;color:white">
&lt;html&gt;
  {{> head}}
  &lt;body&gt;
  {{#posts}}
    &lt;a href="{{url}}"&gt;{{title}}&lt;/a&gt;
  {{/posts}}
  &lt;/body&gt;
&lt;/html&gt;
</pre>

      <border class="left"></border>
      <border class="right"></border>
      <border class="top"></border>
      <border class="bottom"></border>

      <corner class="top left"></corner>
      <corner class="top right"></corner>
      <corner class="bottom left"></corner>
      <corner class="bottom right"></corner>
    </window>
 -->
    <p class="w-50 fl mt0 mb3 pr4">Blot comes with seven templates. They're designed to work well on small and large screens. Here's the full selection:</p>

    <p class="w-50 fr mt0 mb3 pl3">You can customize an existing template or <a href="/help">design a template</a> for your blog from scratch if you know a little HTML and CSS.</p>

      </div>
  </div>

       <ul class="gallery dotted db w-75 fr">

          <a href="https://www.failuretolerated.com/" target="_blank">
            Index                  

    </a>

          <a href="https://ylukem.com" target="_blank">
            Photo
          </a>

          <a href="https://www.alexgibson.nyc/" target="_blank">
            Grid
          </a>


          <a href="https://www.theliminal.co/" target="_blank">
            Default
          </a>

          <a href="https://tomascat.com/" target="_blank">
            Essay
          </a>

          <a href="http://kiefer.design/" target="_blank">
            Mira
          </a>

          <a href="https://www.okaythree.com/" target="_blank">
            Rosa
          </a>

          <br>
        </ul>
        <div class="cf"></div>

      <div class="cf mv5"></div>
      <div class="w-25 fl mt4"><div class="pl3 mt4 pt3 ml1 pr4">About</div></div>

<div class="w-75 fr pt4">
  <div class="w-50 pr4 fl">

  <div class="mt4 pt3 fw6">How much does Blot cost?</div>
  <div class="">A blog costs <a href="/sign-up">$30 per year</a>. Hosting and support is included. There are no ads.</div>

  <div class="mt4 pt3 fw6">Why does Blot cost money?</div>
  <div class="">The fee covers the cost of tending the servers, hosting your blog and providing support. It also encourages me to make decisions in your best interests, as opposed to those of an investor or advertiser.</div>

  <div class="mt4 pt3 fw6">Is Blot still maintained?</div>
  <div class="">Yes, there are still bugs to fix and things to improve. Take a look at <a href="/changes">what I’m working on</a>.</div>


  <div class="mt4 pt3 fw6">How long has Blot been around?</div>
  <div class="">I began work on Blot in the summer of 2013. Many thanks to Blot’s earliest customers for their help. In particular thank you Frank, Julie, Josh, Chris, Johannes and Angie.</div>

  <div class="mt4 pt3 fw6">How long do you plan to run Blot?</div>
  <div class="">Decades, at least.</div>
  <br><br>
  <br><br>
  <br><br>
  <br><br>

  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>

  </div>
  <div class="w-50 pl3 pr2 fl">

  <div class="mt4 pt3 fw6">Does Blot censor anything?</div>
  <div class="">No, Blot <a href="https://www.dartmouth.edu/~milton/reading_room/areopagitica/text.html">will not censor anything</a> that is legal in the United States.</div>

  <div class="mt4 pt3 fw6">What are the alternatives to Blot?</div>
  <style type="text/css">li {display:inline;}</style>
  <ul>
  <li><strike><a rel="nofollow" href="http://900dpi.com/">900dpi</a></strike></li>, 
  <li><a rel="nofollow" href="https://amb-1.com">Amb-1</a></li>, 
  <li><a rel="nofollow" href="https://asocialfolder.com/">asocialfolder</a></li>, 
  <li><strike><a rel="nofollow" href="https://www.boxfolio.com/">Boxfolio</a></strike></li>, 
  <li><strike><a rel="nofollow" href="http://brace.io/">Brace</a></strike></li>, 
  <li><strike><a rel="nofollow" href="http://calepin.co/">Calepin</a></strike></li>, 
  <li><a rel="nofollow" href="http://cloudcannon.com/">Cloud Cannon</a></li>, 
  <li><a rel="nofollow" href="http://droppages.com/">Droppages</a></li>, 
  <li><strike><a rel="nofollow" href="http://dropplets.com/">Dropplets</a></strike></li>, 
  <li><a rel="nofollow" href="http://duet.to/">Duetto</a></li>, 
  <li><strike><a rel="nofollow" href="http://fargo.io/">Fargo</a></strike></li>, 
  <li><strike><a rel="nofollow" href="https://www.harp.io/">Harp</a></strike></li>, 
  <li><a rel="nofollow" href="https://www.kissr.com/">Kissr</a></li>, 
  <li><strike><a rel="nofollow" href="http://markbox.io/">Markbox</a></strike></li>, 
  <li><strike><a rel="nofollow" href="https://www.pancake.io/">Pancake</a></strike></li>, 
  <li><strike><a rel="nofollow" href="http://scriptogr.am/">Scriptogram</a></strike></li>, 
  <li><a rel="nofollow" href="http://www.site44.com/">Site44</a></li>, 
  <li><strike><a rel="nofollow" href="https://www.sitebox.io/">Sitebox</a></strike></li>, 
  <li><strike><a rel="nofollow" href="http://skrivr.com/">Skrivr</a></strike></li>, 
  <li><a rel="nofollow" href="https://www.smallvictori.es/">Small Victories</a></li>, 
  <li><strike><a rel="nofollow" href="https://www.synkee.com/">Synkee</a></strike></li>
  </ul>

  <div class="mt4 pt3 fw6">Can I host Blot on my own server?</div>
  <div class="mb3">Yes, <a href="https://github.com/davidmerfield/Blot">Blot's source code</a> is dedicated to the public domain and available to you.</div>



  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>

      
</div>
</div>
{{> footer}}