
{{> head}}
{{> header}}

<div class="w-75 fr mt2">

  <div class="measure pr5 mb4">
  Welcome back! Please enter your email address below. Don’t hesitate to <a href="/contact">contact me</a> if you’re having trouble.
  </div>

  <form style="max-width:18rem" method="POST" action="?_csrf=">

  <label class="pt3 db" for="email">Your email address</label>
  <input class="w-100 mt1 mb3 br2 pa2 ba b--black-30" id="email" type="text" size="20" class="email" name="email" autofocus/>

    <input type="submit" class="sans-serif submit button pv2 ph4 mt4" style="position:relative;top:-4px" value="Log in"  />
</form>
</div>
{{> footer}}