<style type="text/css">

.label {margin-top:11px}

.line {
  position: relative;
}

.preview-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.preview-button,
.line form button {
  margin: -12px 0;
  padding: 11px 0;
  color: #0070e8;
  display: inline-block;
}

.line form button.row {
    color:#0070e8;
    border-bottom: 1px solid rgba(0,0,0,0.05);padding:11px 20px;display:block;text-align:left;width:100%;
    margin: 0;
}

.line form button.row :hover {
    background: rgba(0, 0, 0, 0.02);
    outline: none;
  }

.preview-button {
  margin-right: -0;
}

.preview-button .square,
.line form button .square {
  padding: 4px 10px;
  border-radius: 4px;
  display: block;
}

.line form button:disabled .square,
.line form button:disabled:hover .square {
  background: rgba(0, 0, 0, 0.08);
  color: #999
}

/*.line.theme {border: 1px solid rgba(0,0,0,0.05);margin-bottom: 11px}
*/
.line.theme:hover {
  background: rgba(0, 0, 0, 0.02)
}


.preview-cover:hover+.preview-button .square,
.preview-button:hover .square,
.line form button:hover .square {
  background: #0070e8;
  color: white;
}

.butty {
  color: #0070e8;
  padding: 10px 20px;
  float: right;
  margin-right: -20px;
  margin-top: -10px
}

.butty:hover {
  background: rgba(0, 0, 0, .05)
}

.center {flex-grow: 1}
</style>
<div >




{{^blog.template}}
<div class="lisne" style="border-bottom:none">
  <span class="box orange fr" style="line-height:2.5;background:#f2f2f2;padding:0 1.33em;border:#aaa;margin:0 0">Your template is disabled. </span>

  <form method='post' style="display:inline">
    <input type="hidden" name="redirect" value="{{{base}}}/template">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <input type="hidden" name="template" value="SITE:blog">
<div class="buttons">
            <button type="submit" onclick="this.form.submit();this.disabled=true">Enable your template</button>
            <a href="{{{base}}}">Cancel</a>
          </div>  </form>
</div>
{{/blog.template}}

{{#blog.template}}
<div class="linse">

  <style type="text/css">
  form label {
    text-transform: none;
    letter-spacing: 0;
    color: rgb(158, 154, 152);
    font-size: 16px
  }

  p a {
    color: #0070e8;
    text-decoration: none
  }

  p a:hover {
    text-decoration: underline;
  }
  </style>
  <!-- <p style="margin:15px 0"><b>{{blog.title}}</b> uses the <b style="font-weight:500">{{#templates}} {{#checked}}{{name}}{{/checked}}{{/templates}}</b> theme. </p>
 -->

  </span>

</div>

<div class="line">
  <span class="label">Current template</span>
  <div class="center">
    {{#templates}}
    {{#checked}}
    <div class="line theme {{checked}}">

      <span style="flex-grow:1">{{name}}</span>
  
      <a class="preview-cover" href="{{editURL}}"></a>
    </div>    
    {{#isMine}}
    <a class="line" style="color:#0070e8" href="{{editURL}}">Edit template</a>
    {{/isMine}}
    {{^isMine}}
    <form method='post' action="{{{base}}}/template/new">
      <input type="hidden" name="openEditor" value="true">
      <input type="hidden" name="name" value="{{^isMine}}Copy of {{/isMine}}{{name}}" />
      <input type="hidden" name="cloneFrom" value="{{id}}" />
      <button class="row" type="submit" >Edit template</button>
    </form>
    {{/isMine}}

    <form method='post' action="{{{base}}}/template/new">
      <input type="hidden" name="redirect" value="{{{base}}}/template">
      <input type="hidden" name="name" value="{{^isMine}}Copy of {{/isMine}}{{name}}" />
      <input type="hidden" name="cloneFrom" value="{{id}}" />
      <button class="row" type="submit" >Duplicate template</button>
    </form>


    <form method='post' >
      <input type="hidden" name="redirect" value="{{{base}}}/template">
      <input name="template" value="" type="hidden" />
      <button class="row" type="submit" style="border-bottom: none;">Disable template</button>
    </form>
    
    
    {{/checked}}
    {{/templates}}
    </div> 
</div>

<div class="line">
  <span class="label">Your templates</span>
  <div class="center">
    {{#templates}}
    {{#isMine}}
    {{^localEditing}}
    {{> template-row}}
    {{/localEditing}}
    {{/isMine}}
    {{/templates}}
  </div>  
</div>

<div class="line">
  <span class="label">Templates</span>
  <div class="center">
    {{#templates}}
    {{^isMine}}
    {{> template-row}}
    {{/isMine}}
    {{/templates}}
    <a class="line" style="color:#0070e8" href="{{{base}}}/template/archive">View all templates</a>
    </div>
</div>



{{/blog.template}}
</div>