<html>
	<head>
		<title>{{title}}</title>
		
	</head>
	<body>
		<div style="display:flex;min-height:100vh;">
			<div
				style="width: 20rem;flex-shrink:0;display: flex;flex-direction: column;background: #f2f2f2;;"
			>
				<div style="flex-grow: 1;max-height: 100vh;overflow: hidden;">
					<div style="display: flex;align-items: baseline;">
						<a
							class="box-button"
							style="background: #000;font-size:14px;color: #aaa;flex-basis: 50%"
							href="{{{dashboardBase}}}"
							>← All templates</a
						>
												<a
							class="box-button"
							style="background: #000;font-size:14px;text-align:right;color: #aaa;flex-basis: 50%"
							href="{{{preview}}}" target="_blank">Preview ↗</a>

					</div>
					<div>

						<h1 >
							{{template.name}}
						</h1>
					</div>
					
					<div style="display: flex">
						<a
							class="box-button tab {{selected.settings}} {{selected.rename}} {{selected.delete}} {{selected.local-editing}}"
							style="flex-basis: 50%;"
							href="{{{base}}}"
							>Settings</a
						>
						<a
							class="box-button tab {{selected.source-code}}"
							style="flex-basis: 50%"
							href="{{{base}}}/source-code"
							>Source code</a
						>
					</div>

					<div style="max-height: calc(100vh - 121px);overflow-y: auto;overflow-x: hidden;">
				</div>
				</div>
			</div>
			{{> body}}
		</div>
	</body>
</html>
