<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    <div style="display: flex;padding: 1rem">
    <div style="flex-grow: 1;">
        {{> breadcrumbs}}
        <div style="display: flex;">
            <div>
                {{> body}}

            </div>
            <div>
                <h1>Options</h1>
                <a class="line" style="border-radius: var(--border-radius) var(--border-radius) 0 0;" href="{{{base}}}/links">
                    <span class="label">Navigation links</span>
                    <span class="center" style="margin-top: 4px;">
                        {{#blog.menu}}
                        <span class="tablet">{{label}}</span>
                        {{/blog.menu}}
                        
                        {{^blog.menu.length}}
                        <i>Your menu is empty</i>
                        {{/blog.menu.length}}
                    </span>
                      <span class="right" >Edit</span>
                    </span>
                  
                  </a>
                  
                  <a class="line" href="{{{base}}}/photo"  style="border-bottom: none;border-radius: 0 0 var(--border-radius) var(--border-radius);"> 
                    <span class="label" style="margin-bottom: 4px;">Photo</span>  
                    {{^blog.avatar}}
                    <span class="center" style="border: 1px dashed var(--border-color);width: 48px;height:48px;display:inline-block; vertical-align: middle;margin-right: 0.5rem;margin-bottom: 4px;">
                    </span>
                    <span class="link">Choose a photo</span>
                    {{/blog.avatar}}
                  
                    {{#blog.avatar}}
                    <span class="center" style="width: 48px;height:48px;display:inline-block; vertical-align: middle;">
                      <img style="max-width:48px;max-height:48px;vertical-align: baseline; display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
                    </span>
                    <span class="right" >Edit</span>    
                      {{/blog.avatar}}
                  
                  </a>
            </div>
        <div style="max-width: 300px;">
            <div class="preview" style="height: 40px;width: 60px;overflow: hidden;
			
			margin:4px 0 10px;
			box-shadow: inset 0 1px 0 #f5f4f5,0 -1px 0 rgba(0,0,0,.11),0 1px 0 rgba(0,0,0,.26),-1px 0 0 rgba(0,0,0,.13),1px 0 0 rgba(0,0,0,.13);
			border-radius: var(--border-radius);border-radius: var(--border-radius);">
			  <iframe
			  id="preview"
			style="height:800px;width:1200px;background:var(--background-color);transform: scale(0.05);    transform-origin: top left;"
			src="{{{previewURL}}}"
			></iframe>
			</div>
        </div>
    </div>

    </div>
    
    <a href="{{{base}}}">
        <span style="display: flex;flex-direction: column;justify-content: center;align-items: center;width: 40px;height: 40px;text-align: center;background: var(--light-background-color);border-radius: 40px;">
            <svg style="fill:currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M5.72 5.72a.75.75 0 0 1 1.06 0L12 10.94l5.22-5.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L13.06 12l5.22 5.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L12 13.06l-5.22 5.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L10.94 12 5.72 6.78a.75.75 0 0 1 0-1.06Z"></path></svg>
        </span>
         <span style="margin-top:4px;display: block;text-align: center;font-size: 11px;font-weight: 600;">ESC</span>
    </a>
</div>


    {{> footer}}
  </body>
</html>