<form class="number-input" id="locals.{{key}}.form" method="post" style="display: flex;align-items: center;">
	<label for="locals.{{key}}" style="flex-grow:1;padding:5px 16px;font-size: 14px">{{label}}:</label>

	<input
		type="number"
		id="locals.{{key}}"
		name="locals.{{key}}"
		value="{{value}}"
		min="{{min}}"
		max="{{max}}"
		step="1"
		style="width: 70px;
		margin-right: 16px;"
	/>

</form>

<script type="text/javascript">

Array.from(document.querySelectorAll('form.number-input')).forEach(function(form){
	
	form.querySelectorAll('input').forEach(function(node){
		node.addEventListener('change',  (event) => {

			// construct the body based on the single input or button that was clicked
			const body = new URLSearchParams();

			body.append(node.name, node.value);

			fetch(window.location.href, { method: "post", body }).then(function (response) {
				document.getElementById("full_size_preview").src += "";
			});

			event.preventDefault();
			return false;
			})
	})

});

</script>