<h2 class="template-heading">{{label}}</h2>
<form method="post">

  <label for="{{key}}-toggle">
    {{#value}}
      {{#name}}
      <span style="font-family: {{stack}};">{{name}}</span>
      {{/name}}
      {{^name}}
      Select a color scheme
      {{/name}}
    {{/value}}
  </label>    

  <input name="{{key}}-filter" type="radio" id="{{key}}-show-all" checked>
  <input name="{{key}}-filter" type="radio" id="{{key}}-show-light">
  <input name="{{key}}-filter" type="radio" id="{{key}}-show-dark">

  <input name="{{key}}-toggle" type="checkbox" id="{{key}}-toggle">

  <div class="options">
    <div class="filters">
      <label for="{{key}}-show-all">All</label>
      <label for="{{key}}-show-light">Light</label>
      <label for="{{key}}-show-dark">Dark</label>
    </div>
    {{#options}}
    <button 
      type="submit" 
      {{#tags}}
      data-tag="{{tag}}"
      {{/tags}}
      name="locals.{{key}}.id" 
      value="{{{id}}}" 
      style="background:{{background}};color:{{color}}" 
      {{selected}}>
      {{{name}}}
      {{#colors}}<span style="color:{{color}}">&bull;</span>{{/colors}}
    </button>
    {{/options}}
  </div>
</form>

{{#font}}
{{> template-editor-font}} 
{{/font}}

<style type="text/css">

[name="{{key}}-filter"],
[name="{{key}}-toggle"] {display: none;}

label[for="{{key}}-toggle"] {padding:0.333em 1em;cursor: pointer;border-bottom: 1px solid #ddd;display: block;margin:0;user-select: none;}

label[for="{{key}}-toggle"]:hover {background: #fff}

input[name="{{key}}-toggle"]:checked + .options {display: block;}

.options {display: none;margin:0.5em;border:1px solid #aaa;user-select: none;}
      
.filters {
  font-size:12px;
  padding:0.15em 0.5em;user-select: none;
}

.filters label {
  border-radius: 10px;padding: 0.15em 0.5em;
  cursor: pointer;
  color:#666;
}

.options button {
width: 100%;
text-align:left;margin:0;border-radius:0;border:none;outline:none;background:#fafafa;border-top: 1px solid #ddd;padding:0.333em 0.5em;       }

.options button:hover{background: #fff}

[id="{{key}}-show-all"]:checked ~
.options label[for="{{key}}-show-all"],
[id="{{key}}-show-light"]:checked ~
.options label[for="{{key}}-show-light"],
[id="{{key}}-show-dark"]:checked ~
.options label[for="{{key}}-show-dark"] {background: #e0e0e0;}

[id="{{key}}-show-dark"]:checked ~
 .options button:not([data-tag="dark"]),
[id="{{key}}-show-light"]:checked ~
 .options button:not([data-tag="light"]) {display: none;}
</style>