{{#show_date_options}}
<h2 class="template-heading">Date format</h2>
<form
    id="dateSettings"
    method="post"
>
    {{^hide_dates}}
    {{#displayFormats.length}}
    <label style="padding:0 1rem">
        <select style="width:257px;font-size:1rem;margin: 16px 0 8px;" id="date_display" name="locals.date_display">
            {{#displayFormats}}
            <option value="{{value}}" {{selected}}>{{date}}</option>
            {{/displayFormats}}
        </select>
    </label>
    {{/displayFormats.length}}
    {{/hide_dates}}
    

{{#show_hide_dates}}
    <label style="padding:5px 1rem;border-bottom: 1px solid #eee;display: block;">
        <input type="hidden" value="off" name="locals.hide_dates" />
        {{#hide_dates}}
        <input checked id="hide_dates" type="checkbox" name="locals.hide_dates"
        />
        {{/hide_dates}}
        {{^hide_dates}}
        <input  id="hide_dates" type="checkbox" name="locals.hide_dates"
        />
        {{/hide_dates}}
         Hide dates
    </label>
    {{/show_hide_dates}}								
</form>
{{/show_date_options}}
