<h2 class="template-heading">{{label}}</h2>

<form method="post" id="font_picker_{{key}}" style="width: 100%;overflow: hidden;">

	<!-- hidden inputs for controlling the font picker -->
	<input type="hidden" name="locals.{{key}}.id" value="{{{value.id}}}">
	<input type="radio" id="show_all_{{key}}" checked name="filter{{key}}" style="display: none">
	<input type="radio" id="show_sans_{{key}}" name="filter{{key}}" style="display: none">
	<input type="radio" id="show_serif_{{key}}" name="filter{{key}}" style="display: none">
	<input type="radio" id="show_mono_{{key}}" name="filter{{key}}" style="display: none">
	<input type="radio" id="show_other_{{key}}" name="filter{{key}}" style="display: none">
	<input type="checkbox" id="show_picker_{{key}}" style="display: none">
	
	<label for="show_picker_{{key}}">
		{{#value}}
		{{#name}}
			{{#svg}}
			{{{svg}}}
			{{/svg}}
			{{^svg}}
			<span style="font-family: {{stack}};">{{name}}</span>
			{{/svg}}
		{{/name}}
		{{^name}}Select a font{{/name}}
		{{/value}}
	</label>		

	<div class="options">
		<div class="filters">
			<label for="show_all_{{key}}">All</label>
			<label for="show_sans_{{key}}">Sans</label>
			<label for="show_serif_{{key}}">Serif</label>
			<label for="show_mono_{{key}}">Mono</label>
			<label for="show_other_{{key}}">Other</label>
		</div>
		{{#options}}
		<button 
			{{#tags}}data-tag="{{tag}}"{{/tags}}
			type="submit" 
			name="locals.{{key}}.id" 
			value="{{{id}}}">
			{{#svg}}
			{{{svg}}}
			{{/svg}}
			{{^svg}}
			<span style="font-family: {{stack}};">{{name}}</span>
			{{/svg}}
		</button>
		{{/options}}
	</div>

<div style="display: flex;font-size: 11px;border-bottom:1px solid #ddd">
	<div style="display: flex;padding: 8px 16px;border-right: 1px solid #ddd;">
		<label for="locals.{{key}}.font_size" style="flex-grow:1;">Size:</label>
		<input type="number" 
			id="locals.{{key}}.font_size" 
			name="locals.{{key}}.font_size"
			style="margin-left:8px;width:50px;font-variant-numeric: tabular-nums;flex-grow: 0;" 
			value="{{font_size}}"
			min="9"
			max="96">
	</div>
	<div style="display: flex;padding: 8px 16px">
		<label for="locals.{{key}}.line_height" style="flex-grow:1;">Line height:</label>
		<input type="number" 
		id="locals.{{key}}.line_height" 
		name="locals.{{key}}.line_height"
		style="margin-left:8px;width:60px;font-variant-numeric: tabular-nums;flex-grow: 0;" 
		value="{{line_height}}"
		min="0.9"
		step="0.05"
		max="2.4">
	</div>


</form>
</div>
