<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <section class="container">
      <section class="sidebar">
        <h4>Recent entries</h4>
        <section class="recentEntries">
          {{#recentEntries}}
            <a href="{{{url}}}">{{title}}</a>
          {{/recentEntries}}
        </section>
      </section>
      <section class="main">
        {{#entry}}
          <section class="entry">
            {{#date}}<a class="h4" href="{{{url}}}">{{date}}</a>{{/date}}
            {{#tags}} <a class="h4" href="/tagged/{{slug}}">{{name}}</a>{{/tags}}
            {{{html}}}
          </section>
          {{> pluginHTML}}          
          {{#adjacent}}
          <hr class="full">  
          <section class="adjacent">
            {{#previous}}
              <a class="halfWidth left" href="{{{url}}}">
                <h5>Previous post</h5>
                <span class="title">{{title}}</span>
                <span class="summary">{{summary}}</span>
              </a>    
            {{/previous}}  
            {{#next}}
              <a class="left halfWidth" href="{{{url}}}">
                <h5>Next post</h5>
                <span class="title">{{title}}</span>
                <span class="summary">{{summary}}</span>
              </a>    
            {{/next}}
          </section> 
          {{/adjacent}}
        {{/entry}}      
        {{> footer}}    
      </section>      
    </section>
  </body>
</html>
