<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <section class="container">
      <section class="sidebar">
        <h4>Recent entries</h4>
        <section class="recentEntries">
          {{#recentEntries}}
            <a href="{{{url}}}">{{title}}</a>
          {{/recentEntries}}
          <span class="clear"></span>
        </section>
      </section>
      <section class="main">
        {{#entries}}
          <section class="entry">
            {{#date}}<a class="h4" href="{{{url}}}">{{date}}</a>{{/date}}
            {{#tags}} <a class="h4" href="/tagged/{{slug}}">{{name}}</a>{{/tags}}
            {{{html}}}
          </section>
        {{/entries}}   
        {{#pagination}}
        <hr class="full">
        <section class="pagination">
          {{#pagination.previous}}
            <a class="left" href="/page/{{pagination.previous}}">&larr; Newer Entries</a>
          {{/pagination.previous}}
          {{#pagination.next}}
            <a class="right" href="/page/{{pagination.next}}">Older Entries &rarr;</a>
          {{/pagination.next}}
        </section>
        {{/pagination}}        
        {{> footer}}    
      </section>      
    </section>
  </body>
</html>