<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <section class="container">
      <section class="main">
        <form action='/search' style="margin:-0.66em 0 1em">
          <input placeholder="What are you looking for? Search for an entry..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />
        </form>
        {{#entries.length}}
        <h1>Search results</h1>
        {{/entries.length}}
        <section class="entry">
          {{#query}}
            {{^entries}}
            <p>Sorry, nothing found for “{{query}}”</p>
            {{/entries}}
          {{/query}}

          {{#entries}}
            <a href="{{{url}}}">{{title}}</a>
            <span class="small">{{date}}</span>
            <br />
          {{/entries}}
        </section>
        {{> footer}}
      </section>
    </section>
  </body>
</html>