<h1>Configure your site</h1>

<p>Your site settings are configured on <a href="/settings">your dashboard</a></p>

<ul class="clients">
  <li><a href="/how/configure/domain"><span class="a">Domain</span><br>How to use your own domain for your blog</li>
  <li><a href="/how/configure/comments"><span class="a">Comments</span><br>Add comments from external services to your site</li>
  <li><a href="/how/configure/analytics"><span class="a">Analytics</span><br>Install external analytics services on your site</li>
  <li><a href="/how/configure/redirects"><span class="a">Redirects</span><br>Set up redirects on your blog to prevent broken links.</li>
  <li><a href="/how/configure/link-format"><span class="a">Link Format</span><br>How to change the format of the URLs of each post</li>
</ul>

