@font-face {
    font-family: 'Abel';
    src: url('regular.eot');
    src: url('regular.eot?#iefix') format('embedded-opentype'),
         url('regular.woff2') format('woff2'),
         url('regular.woff') format('woff'),
         url('regular.ttf') format('truetype'),
         url('regular.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

