{{=[[ ]]=}}

1. Getting the source

2. Convert the _config.yml file using an online converter.

- map "paginate" integer to "page_size"

3. Move files in '_includes' to root directory, add an underscore at the start of their name.

4. Move layouts/default.html to entries.html

5. Move layouts/post.html to entry.html

6. Convert any sass into CSS, merge all CSS into a file 'style.css' in root directory.

7. Find and replace partials syntax:

  {% include navigation.html %} --> {{> navigation}}

  Regex:
  
  \{\% include (.*)\.html \%\}

  {{> $1}}

8. Fix pagination:

```
<nav id="post-nav">
  {% if paginator.previous_page %}
  <span class="prev">
    {% if paginator.previous_page == 1 %}
    <a href="{{ "/" | relative_url  }}" title="Previous Page">
      <span class="arrow">←</span> Newer Posts
    </a>
    {% else %}
    <a href="{{ paginator.previous_page_path }}">
      <span class="arrow">←</span> Newer Posts
    </a>
    {% endif %}
  </span>
  {% endif %}
{% if paginator.next_page %}
<span class="next">
  <a href="{{ paginator.next_page_path }}">
    Older Posts <span class="arrow">→</span>
  </a>
</span>
{% endif %}
</nav>
```

to:

```
{{#pagination}}
<nav id="post-nav">
  {{#previous}}
  <span class="prev">
    <a href="/page/{{previous}}" title="Previous Page">
      <span class="arrow">←</span> Newer Posts
  </a>
  </span>
  {{/previous}}
  {{#next}}
  <span class="next">
  <a href="/page/{{next}}">
    Older Posts <span class="arrow">→</span>
  </a>
  </span>
  {{/next}}
</nav>
{{/pagination}}
```

9. Fix menu links:

```
<nav class="main-nav">
  {% if page.url != "/" %}
  <a class="normal" href="{{ "/" | relative_url  }}"> <span class="arrow">←</span> Home</a>
  {% endif %}
  {% if page.url != "/about/" %}
  <a href="{{ "/" | relative_url  }}about">About</a>
  {% endif %}
  <a class="cta" href="https://micro.blog/{{ site.microblog_user }}" rel="me">Also on Micro.blog</a>
</nav>
```