<h1>Portfolio</h1>
<p class="back-link"><a href="/templates">View all templates</a></p>
<p>Designed for photos</p>

<ul>
  <li><a href="https://portfolio.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<p><a href="http://portfolio.blot.im"><img src="/templates/portfolio/one.png"></a></p>

<p>The Portfolio template is designed for images and links. It features an index on the left of the site.</p>

<p><a href="http://portfolio.blot.im"><img src="/templates/portfolio/two.png"></a></p>

<p>View the <a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/latest/portfolio">source code for the Portfolio template</a>.</p>

<h2>About the folder</h2>

<p><a href="https://www.flickr.com/photos/swedish_heritage_board/sets/72157650224763869/">Björn Allard</a> (1923-2006) was employed as a photographer at the Swedish National Heritage Board in the 1950s and 1960s. He took part in archaeological surveys and excavations to contribute documentary photographs.</p>