

@font-face {
  font-family: 'Cmu Bright';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/cmu-bright/oblique.eot'); 
  src: url('/fonts/cmu-bright/oblique.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cmu-bright/oblique.woff') format('woff'),
       url('/fonts/cmu-bright/oblique.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Cmu Bright';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/cmu-bright/roman.eot'); 
  src: url('/fonts/cmu-bright/roman.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cmu-bright/roman.woff') format('woff'),
       url('/fonts/cmu-bright/roman.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Cmu Bright';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/cmu-bright/semi-bold-oblique.eot'); 
  src: url('/fonts/cmu-bright/semi-bold-oblique.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cmu-bright/semi-bold-oblique.woff') format('woff'),
       url('/fonts/cmu-bright/semi-bold-oblique.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Cmu Bright';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/cmu-bright/semi-bold.eot'); 
  src: url('/fonts/cmu-bright/semi-bold.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cmu-bright/semi-bold.woff') format('woff'),
       url('/fonts/cmu-bright/semi-bold.ttf') format('truetype');
}
		