<div class="fl w-100 pt2 mb4 lh-copy">
  
{{#menu}}

  {{#sign-up}}

  <div class="nav fl w-third mv4">

    <a href="/" class="{{index}}" style="color:black">Blot is a blogging platform</a>

  </div>
  
  <div class="nav fl mv4">
    Sign up <span style="color:#aaa">&nbsp;→&nbsp; Connect to Dropbox</span></b>
  </div>
  </div>



  {{/sign-up}}

  {{^sign-up}}

  <div class="nav fl w-third mv4">
    <a href="/" class="{{index}}" style="color:black">Blot is a blogging platform{{#index}} which<br>turns a folder into a website.{{/index}}</a>
  </div>

  <div class="nav fl mv4">
    <a href="/" class="pr4 {{index}}">Introduction</a>
    <a href="/help" class="pr4 {{help}}">Documentation</a>
    <a href="/contact" class="pr4 {{contact}}">Contact</a>
    <a href="/log-in" class="pr4 {{log-in}} ">Log in</a>
    <a href="/sign-up" class="{{sign-up}} ph2 button">Sign up</a>
    </div>
  </div>
  {{/sign-up}}

{{/menu}}

</div>