{{> head}}
{{> header}}

<div class="w-two-thirds fr">

  <div class="measure pr5">
    A site costs $30 per year. You can cancel at any time. Hosting is included and there are no ads. You must agree to the <a href="/terms">terms of use</a> and  <a href="/privacy">privacy policy</a>.
  </div>

  <form class="measure-narrow mv4" method="POST" action="?_csrf=">

    <p id="error" class="box red" style="margin-bottom:0;width:120%;display:none"></p>

    <label>Your email address:</label>
    <input class="w-100 mt2 mb4 br2 pa2 ba b--black-30" type="text" size="20" class="email" name="email" autofocus/>

    <label>Card number: <span class="control-tool">
        <span class="help-icon lock"></span>
        <span class="tooltip">
          Blot does not store your card details. Stripe handles payments.
        </span>
      </span>
    </label>
    <input class="w-100 mt2 mb4 br2 pa2 ba b--black-30" type="text"size="20" data-stripe="number" name="number" />

    <label>Expiration date:</label><br>
    <input class="di w-50 mt2 mb4 br2 pa2 ba b--black-30" name="exp-month" maxlength="2" placeholder="MM" type="text" size="2" data-stripe="exp-month"/>
    <input class="di w-50 mt2 mb4 br2 pa2 ba b--black-30" name="exp-year" maxlength="4" placeholder="YYYY" type="text" size="4" data-stripe="exp-year"/>
    
    <label>CVC:
          <span class="control-tool">
            <span class="help-icon">?</span>
            <span class="tooltip">
            It’s the 3- or 4-digit code on your card, seperate from the 16-digit card number.
            </span>
          </span>
    </label>
    <input type="text" size="4" data-stripe="cvc" name="cvc"/>
    
    <input type="hidden" class="stripeToken" name="stripeToken" />
    <input type="submit" class="submit button" value="Submit payment"  />
  </form>

{{> footer}}