

@font-face {
  font-family: 'Cmu Concrete';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/cmu-concrete/bold-oblique.eot'); 
  src: url('/fonts/cmu-concrete/bold-oblique.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cmu-concrete/bold-oblique.woff') format('woff'),
       url('/fonts/cmu-concrete/bold-oblique.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Cmu Concrete';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/cmu-concrete/bold.eot'); 
  src: url('/fonts/cmu-concrete/bold.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cmu-concrete/bold.woff') format('woff'),
       url('/fonts/cmu-concrete/bold.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Cmu Concrete';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/cmu-concrete/oblique.eot'); 
  src: url('/fonts/cmu-concrete/oblique.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cmu-concrete/oblique.woff') format('woff'),
       url('/fonts/cmu-concrete/oblique.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Cmu Concrete';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/cmu-concrete/roman.eot'); 
  src: url('/fonts/cmu-concrete/roman.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cmu-concrete/roman.woff') format('woff'),
       url('/fonts/cmu-concrete/roman.ttf') format('truetype');
}
		