<style type="text/css">
  

#searchForm {width: 100%}
form input {
  padding-left: 0rem;
  padding-right: 2.7rem;
  font: inherit;
  font-size: 16px;
  border: none;
  line-height: inherit;
}

form input[type="text"] {
  flex-grow: 1;
  color: rgba(0, 0, 0, .85);
  background: url('/icons/search.svg') no-repeat 1rem center;
  background-size: 0.95rem;
  background-color: rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.03);
  border-radius: 3rem;
  cursor: text;
}

form input:focus,
.pag a[href]:focus {
  outline: none;
  background-color: transparent;
  border:1px solid {{link_color}};
}

.menu a[href="/search"] {
  display: none;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(0, 0, 0, .35);
}

#dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.05) 0px 3px 6px, rgba(15, 15, 15, 0.1) 0px 9px 24px;
  margin-top: 1px
}

#dropdown a {
  display: block;
  padding: 1rem 1.3rem 1rem 1.3rem;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
  color: rgba(0, 0, 0, .85);
  font-size: 16px;
  text-decoration: none;
}

/*#dropdown a:last-of-type {
    border-bottom: none;
}
 */
#dropdown a:focus {
  outline: none;
  background: #f0f0f0;
}

#dropdown a .thumbnail {
  vertical-align: middle;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.65rem 0 0;
}

#dropdown img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

#dropdown .date,
#results .title {
  height: 1.3rem;
  overflow: hidden;
}

#dropdown .date {
  color: rgba(0, 0, 0, .4);
  flex-shrink: 0;
}

</style>
<form id="searchForm" action="/search" style="margin:0;display:flex;position:relative;align-self: normal;">
  <input type="text" placeholder="Search" style="padding:0.333rem 1.3rem 0.3333rem 2.6rem;flex-grow:1;font-size:inherit" value="{{query}}" name="q">
  <div id="dropdown">
    <a href="/search?q=">
        <span class="thumbnail"><img src="/icons/search.svg"></span>
        <span id="link-to-search"></span><span style="color:rgba(0,0,0,.4)">&puncsp;–&puncsp;Search</span></a>
    <div id="results" style=""></div>
  </div>
</form>
<script type="text/javascript">

var searchInput = document.querySelectorAll('[name="q"]')[0];
var results = document.getElementById("results");
var searchForm = document.getElementById("searchForm");
var dropdown = document.getElementById("dropdown");
var linkToSearch = document.getElementById("link-to-search");

var index = null;

function moveFocusUp() {
  if (index === null) {
    index = 0;
  } else {
    index--;
  }

  setFocus();
}

function moveFocusDown() {
  if (index === null) {
    index = 0;
  } else {
    index++;
  }

  setFocus();
}

function setFocus() {
  var focussedLinks = document.querySelectorAll("#dropdown a");

  if (index > focussedLinks.length) {
    index = focussedLinks.length;
  }

  if (index < 0) {
    index = 0;
  }

  focussedLinks[index].focus();
}

// My take on jquery's $(node).parents(secondnode);
function parents(node, secondnode) {
  while (node.parentNode) {
    if (node.parentNode === secondnode) return true;
    node = node.parentNode;
  }
  return false;
}

document.onkeydown = function(e) {

  if (!parents(document.activeElement, searchForm)) return;

  if (e.keyCode === 37 && document.activeElement !== searchInput) {
    searchInput.focus();
    e.preventDefault();
    return false;
  }

  if (e.keyCode !== 40 && e.keyCode !== 38) return;

  if (e.keyCode === 40) {
    moveFocusDown();
  } else if (e.keyCode === 38) {
    moveFocusUp();
  }

  e.preventDefault();
  return false;
};

function close() {
  dropdown.style.display = "none";
  index = null;
}

if (searchInput) {
searchInput.oninput = loadResults;
searchInput.onclick = loadResults;
}

function loadResults() {
  dropdown.addEventListener("mousedown", function(e) {
    e.stopPropagation();
  });

  document.body.addEventListener("mousedown", close);

  var query = searchInput.value;

  if (!query) {
    dropdown.style.display = "none";
    return;
  }

  dropdown.style.display = "block";

  linkToSearch.innerHTML = searchInput.value;
  linkToSearch.parentNode.href =
    "/search?q=" + encodeURIComponent(searchInput.value);

  httpGetAsync("/search?q=" + query + "&debug=true", function(res) {
    if (searchInput.value !== query) return;

    res = JSON.parse(res);

    // limit number of results to 15
    res.entries = res.entries.slice(0, 15);

    var result, html;
    html = "";
    res.entries.forEach(function(entry) {
      result = "";

      result += '<a class="result" href="' + entry.url + '">';

      result += '<span class="thumbnail">';

      if (entry.thumbnail && entry.thumbnail.square)
        result += '<img src="' + entry.thumbnail.square.url + '">';

      result += "</span>";

      result +=
        '<span class="title">' +
        entry.title.split(query).join("<b>" + query + "</b>") +
        '</span>';

      if (entry.date)
        result += '<span class="date"> - ' +
        entry.date +
        "</span>";

      result += "</a>";

      html += result;
    });
    results.innerHTML = html;
  });
}

function httpGetAsync(theUrl, callback) {
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
      callback(xmlHttp.responseText);
  };
  xmlHttp.open("GET", theUrl, true); // true for asynchronous
  xmlHttp.send(null);
}

  
</script>