  <div class="cf"></div>
  <div class="spacer cf"></div>  
  <div class="push"></div>
</div>
</div>

{{#menu}}
{{^sign-up}}

{{#next}}
<a href="{{url}}" class="db bn footer_link" style="padding:5rem 0">
<span class="mw8 center db">
  <span class="w-right-offset db pl4">
    <span class="measure next bn db" style="border:none">
      <span class="light db">Next section</span>
      <span>{{title}}</span>
    </span>
  </span>
</span>
</a>
{{/next}}


<div class="footer {{#next}}darker{{/next}}">
  <div class="center mw8 ph4">
    <div class="nav fl w-right-offset" style="box-shadow:none;background:transparent">
      <a href="/terms" class="pr4 {{terms}}">Terms of use</a>
      <a href="/privacy" class="pr4 pl4 {{privacy}}">Privacy policy</a>
      <a href="/contact" class="pr4 pl4 {{contact}}">Contact</a>
      <a href="/developers" class="pl4  {{developers}}">Developers</a>    
    </div>
  </div>
</div>
{{/sign-up}}
{{/menu}}

<script type="text/javascript" src="/blot.js?{{cacheID}}"></script>
</body>
</html>