<br><br><br>
<br><br><br>
<br><br><br>
<small>
<a href="/">Home</a>&nbsp;·
<a href="/about">About</a>&nbsp;·
<a href="/terms">Terms of use</a>&nbsp;·
<a href="/privacy">Privacy policy</a>&nbsp;·
<a href="/help">Help</a>&nbsp;·
<a href="/contact">Contact</a>
<hr>
<a href="https://github.com/davidmerfield/Blot">Blot’s entire source code is dedicted to the public domain and available to you</a>. All prices are in USD. <a href="/contact">Don't hesitate to contact me if you have any questions</a>.
</small>
<br><br><br>