{{^menu.formatting}}
{{#menu}}
<div class="nav fixed">
  
  <div class="center mw8 ph4">

    {{#user}}
    {{^developers}}
    <a class="db fl w-left" href="/">&larr;&nbsp; Back to the dashboard</a>        
    {{/developers}}
    {{/user}}

    {{^user}}
    {{^developers}}
    <a class="db fw5 fl {{index}}" href="/"><img src="/images/logo-new.svg" style="vertical-align:text-bottom;{{^index}}opacity:0.3333{{/index}}" width=22>&thinsp; Blot</a>        
    {{/developers}}
    {{/user}}

    {{#developers}}
    <div class="fl w-left">
    <a class="{{help}}" href="/">Blot</a><span style="color:#666">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span><a href="/developers" class="{{developers}}">Developers</a>
    </div>
    {{/developers}}






    <div >

    {{^user}}
    {{#sign-up}}
    <a class="db fl {{index}}"><span style="color:#111">Sign up</span><span style="color:#a7a7a7">&nbsp;&nbsp;&nbsp;&nbsp;→&nbsp;&nbsp;&nbsp;&nbsp;Create your blog</span></a>
    {{/sign-up}}
    {{/user}}

    {{#user}}
    {{#help}}
    <a class="db fl {{help}}" href="/help">Documentation</a>        
    {{/help}}
    {{/user}}

    {{#user}}
    {{#contact}}
    <a class="db fl {{contact}}" href="/contact">Contact support</a>        
    {{/contact}}
    {{/user}}

    {{#terms}}
    <a class="db fl {{terms}}" href="/terms">Terms of use</a>        
    {{/terms}}

    {{#privacy}}
    <a class="db fl {{privacy}}" href="/privacy">Privacy policy</a>        
    {{/privacy}}

    {{#developers}}
    <a class="db fl pr5 {{index}}" href="/developers">Overview</a>        
    <a class="db fl pr5 {{documentation}}" href="/developers/documentation">Documentation</a>        
    <a class="db fl pr5 {{reference}}" href="/developers/reference">Reference</a>        
    <a class="db fl pr5 {{support}}" href="/developers/support">Support</a>        
    {{/developers}}

    {{^user}}
    {{^sign-up}}
    {{^terms}}
    {{^privacy}}
    {{^developers}}
    <div class="measure center">
    <a class="db fl ph4 ml-4 {{sign-up}}" href="/sign-up">Sign up</a>
    <a class="db fl ph4 {{help}}" href="/help">Documentation</a>
    <a class="db fl pl4 {{contact}}" href="/contact">Contact</a>
</div>
    <a class="db fr ph4 mr-4 {{log-in}}" href="/log-in">Log in</a>
    {{/developers}}
    {{/privacy}}
    {{/terms}}
    {{/sign-up}}
    {{/user}}

    <div class="cf"></div>
  </div>
</div>
</div>
{{/menu}}

<div class="wrapper">
<div class="center mw8 ph4"  style="padding-top:160px;">
{{/menu.formatting}}
