{{^menu.formatting}}
{{#menu}}
<div class="mw8 center" >
    <style type="text/css">
    b {font-weight: 500}
    .footer {height: auto;}
    .footer li {list-style-type:none;}
    .footer a {border: none;color: #86817d}
    .footer ul {margin: 0 20px;flex-grow:0.5;}
    </style>

      <div style="display:flex" class=" b--black-10 footer pv5 ph3">
        {{#index}}
        <a href="/" style="display:flex;flex-basis:240px;margin-right:5em">
          <img src="/images/logo-new.svg" style="margin-top:4px;margin-right:1em;align-self: flex-start;" width=32/>
          <span>
            <b style="display:block;color:#111">Blot</b>
            <span style="color:#111">A blogging platform with no interface. Blot turns a folder into a blog.</span>
          </span>
        </a>
        {{/index}}
        {{^index}}
        <a href="/" style="display:flex;opacity:0.444;flex-basis:240px;margin-right:5em">
          <img src="/images/logo-new.svg" style="margin-top:4px;margin-right:1em;align-self: flex-start;" width=32/>
          <span>
            <b style="display:block;color:#111">Blot</b>
            <span style="color:#111">A blogging platform with no interface. Blot turns a folder into a blog.</span>
          </span>
        </a>
        {{/index}}

        {{#index}}
        <ul>
          <li><a href="/help"><b>How to use Blot</b></a></li>
          <li><a href="/help">Configuring your blog</a></li>
          <li><a href="/configuring">Templates</a></li>
          <li><a href="/help/account">Account and billing</a></li>
        </ul>
        <ul>
          <li><a href="/about"><b>About</b></a></li>
          <li><a href="/updates">Changes<!-- <small>Updated 2 hours ago</small> --></a></li>
          <li><a href="/terms">Terms of use</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
          <a href="/sign-up" style="height:30px;line-height:30px;padding:0 12px;background:#000;color:white;border-radius:4em;margin:0;display:inline-block">Sign&nbsp;up for Blot</a><br>
          <a href="/log-in" style="height:30px;line-height:30px;padding:0 12px ;background:#000;color:white;border-radius:4em;margin:0 0 0 30px;display:inline-block">Log&nbsp;in</a>
          {{/index}}
      </div>
        <div class="cf "></div>

  </div>
{{/menu}}
{{/menu.formatting}}
