{{#menu}}
<div class="pt4 mt4 fl sidebar fixed">
  <ul><a href="/help/" class="{{started}}">Getting started</a></ul>
  <ul><a href="/help/templates" class="{{templates}}">Designing templates</a></ul>
  <ul><a href="/help/account" class="{{account}}">Account and billing</a></ul>
  <ul><a href="/help/guides" class="{{guides}}">Guides and reference</a></ul>
</div>
{{/menu}}


<style type="text/css">
h1, h2 {font-size: 1rem;font-weight:600;line-height: 1.5;margin: 1.5rem 0}
p {margin: 1.5rem 0}
h1 {margin-top: 0}
h2 {margin-top: 4.5rem}
    window.text {margin: 1.5rem 0 1.5rem 0}
    window.text pre {padding: 2rem 4rem;}

</style>