{{> head}}
{{> header}}


<div class="w-right-offset fl">

    <p class="measure mt0 mb5">Blot is a blogging platform with no interface. It creates a special folder in your Dropbox and publishes files you put inside. The point of all this — the reason Blot exists — is so you can use your favorite tools to create whatever you publish.

</p>

  <div class="measure">

    <h2>Why does Blot exist?</h2>
    <p>I like the flexibility and simplicity of plain text files. For years I’ve used text files to store my notes. One day it occured to me that there is enough information encoded in the files—their content, metadata and location—to generate a blog, without interfering with the structure of the folder or my writing process.</p>

<!--     <h2>How much does Blot cost?</h2>

    <p>A blog costs <a href="/sign-up">{{price}} per year</a>. Hosting and support is included.</p>
 -->
    <h2>Why does Blot cost money?</h2>
    <p>The annual fee pays for the servers which host your blog. It also covers the cost of providing support. Most importantly, it encourages Blot to operate in your best interests, as opposed to those of an advertiser or investor.</p>

    <h2>Can I host Blot on my own server?</h2>
    <p>Yes, <a href="https://github.com/davidmerfield/Blot">Blot’s source code</a> is dedicated to the public domain.</p>

    <h2>What are the alternatives to Blot?</h2>
    <p>
    <strike><a rel="nofollow" href="http://900dpi.com/">900dpi</a></strike>,
    <a rel="nofollow" href="https://amb-1.com">Amb-1</a>,
    <a rel="nofollow" href="https://asocialfolder.com/">asocialfolder</a>, 
    <strike><a rel="nofollow" href="https://www.boxfolio.com/">Boxfolio</a></strike>, 
    <strike><a rel="nofollow" href="http://brace.io/">Brace</a></strike>, 
    <strike><a rel="nofollow" href="http://calepin.co/">Calepin</a></strike>, 
    <a rel="nofollow" href="http://cloudcannon.com/">Cloud Cannon</a>, 
    <a rel="nofollow" href="http://droppages.com/">Droppages</a>, 
    <strike><a rel="nofollow" href="http://dropplets.com/">Dropplets</a></strike>, 
    <a rel="nofollow" href="http://duet.to/">Duetto</a>, 
    <strike><a rel="nofollow" href="http://fargo.io/">Fargo</a></strike>, 
    <strike><a rel="nofollow" href="https://www.harp.io/">Harp</a></strike>, 
    <a rel="nofollow" href="https://www.kissr.com/">Kissr</a>, 
    <strike><a rel="nofollow" href="http://markbox.io/">Markbox</a></strike>, 
    <strike><a rel="nofollow" href="https://www.pancake.io/">Pancake</a></strike>, 
    <strike><a rel="nofollow" href="http://scriptogr.am/">Scriptogram</a></strike>, 
    <a rel="nofollow" href="http://www.site44.com/">Site44</a>, 
    <strike><a rel="nofollow" href="https://www.sitebox.io/">Sitebox</a></strike>, 
    <strike><a rel="nofollow" href="http://skrivr.com/">Skrivr</a></strike>, 
    <a rel="nofollow" href="https://www.smallvictori.es/">Small Victories</a>, 
    <strike><a rel="nofollow" href="https://www.synkee.com/">Synkee</a></strike>
    </p>

    <h2>Does Blot censor anything?</h2>
    <p>No, Blot does not censor anything that it can legally host.</p>

    <h2>Is Blot still maintained?</h2>
    <p>Yes, and there’s plenty to do. Take a look at <a href="/updates">what I’m working on</a>.</p>

    <h2>How long has Blot been around?</h2>
    <p>I began work on Blot in the summer of 2013. Blot opened to the public a year later. Many thanks to Blot’s earliest customers for their help and their patience. In particular thank you Frank, Julie, Josh, Chris, Johannes and Angie.</p>

    <h2>How long do you plan to run Blot?</h2>
    <p>Decades, at least.</p>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
  </div>
</div>
{{> footer}}      