
<h1>Updates</h1>

<p>Blot is actively maintained. The lists below give you a idea of what I'm working on. I sometimes post news on <a href="https://twitter.com/blot__">Twitter</a>. Please don't hesitate to <a href="/contact">contact me</a> if you have any questions.</p>

<div style="width: 140%">

<br>
<style type="text/css">

body {-webkit-font-smoothing: antialiased;}
.todo p, .commits p {position: relative;}
.todo p:before,
.commits p:before {
  content:"";
  position: absolute;
  left: 0;
  top: 0.4em;
  left: -1.5em;
  font-size:1em;
  width:0.6em;height:0.6em;
  border:1px solid #aaa;
  line-height: 0.3;
  text-indent: 0.1em;
}

.commits p:before{content:"✔";}

ul {list-style-type: circle;}
</style>
<div class="todo" style="width: 50%;float: left;box-sizing:border-box;padding-right:2.5em">
<h1>To do</h1>
<hr style="position:relative;top:-0.5em;margin-bottom:-2px">

<div style="padding-left: 1.5em;width:100%;box-sizing:border-box;">
{{{todo}}}
</div>

</div>

<div class="commits" style="width: 50%;padding-left:2.5em;box-sizing:border-box;float: right;">
<h1>Done</h1>
<hr style="position:relative;top:-0.5em;margin-bottom:-2px">


<div style="padding-left: 1.5em;width:100%;box-sizing:border-box;">
{{#commits}}
<p>{{message}}<br><a href="https://github.com/davidmerfield/Blot/commit/{{hash}}" style="color:#aaa;border:none">{{date}}</a></p>
{{/commits}}
</div>
</div>

<br>
</div>