<h1>Redirects</h1>
<div class="measure">
<p>You can <a href="/preferences">set up redirects</a> for missing or moved pages on your blog. Your blog&#x2019;s <a href="/preferences">404 log</a> will help you discover URLs which need redirects. You can use RegEx to match multiple routes. For example, this rule redirects URLs starting with <code>/post</code> to <code>/blog</code>:</p>

<pre><code>\/post\/(.*)  &#x2192;  /blog/$1
</code></pre>

<p>Redirects are evaluated last in the order of <a href="/developers#routing">Blot's routing</a>. So if there is a blog post or file which matches the URL of a redirect, the redirect will not be evaluated.</p>
</div>