<html>
  {{> head}}
  <body>
    <br />
    <br />
    <div class="nav">
      <span id="logo">Blot</span>

      {{^isNewUser}}
      <span style="color:black">Log in</span>
      {{/isNewUser}}

      {{#isNewUser}}
      <span>Sign up &nbsp;→&nbsp; <span style="color:black">Connect to Dropbox</span></span>
      {{/isNewUser}}

    </div>
    <br />
    <div style="width:300px">

      {{^error}}
        {{#isNewUser}}
          {{^freeUser}}
      <p class="box yellow" style="width:120%">Success! I just sent a receipt for your subscription to {{email}}</p>
        {{/isNewUser}}
          {{/freeUser}}
      {{/error}}

      {{^error}}
        {{#isNewUser}}
          {{#freeUser}}
            <p class="box yellow" style="width:120%">Success! You're about to set up an account with the email address {{email}}</p>
        {{/isNewUser}}
          {{/freeUser}}
      {{/error}}

      {{#error}}
       <p class="box red" style="width:120%">Blot was unable to connect to your Dropbox. Please try again. <a class="link" href="/contact">Contact me</a> if this error keeps happening.</p>
      {{/error}}

      <p style="width:130%;">Blot uses Dropbox to sync your blog. Blot can only access a single folder in your Dropbox.</p><br />
      <a href="/auth" class="button">Connect to Dropbox</a>
    </div>
    <br />
  </body>
</html>