<h2 id="markdown">Markdown</h2>

<p class="measure">Markdown is a text-to-HTML conversion tool for web writers. Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML).</p>

<div class="spacer half"></div>

<h3  class="measure">Bold and italics</h3>

<p>Surrounding text with two asterisks makes text bold:</p>

<p><code>**This text will be bold.**</code></p>

<p class="measure">To create italics, use a single asterix (*) on either side of the text:</p>

<p><code>*This text will be italic.*</code></p>

<p class="measure">Both * or _ symbols work to make text bold or italic. This way you can combine bold and italic in the same sentence. For example:</p>

<p><code>**Everyone _must_ listen.**</code></p>




<h3 class="measure">Headings</h3>

<p>You can create headings using the octothorpe (#).</p>

<p><code># Largest heading</code></p>

<p>Use two octothropes to create a subheading.</p>

<p><code>## Subheading</code></p>

<p>Alternatively, for H1 and H2, an underline-ish style:</p>

<p><pre>Alternative heading
===================

Alternative subheading
----------------------</pre></p>


<h3 class="measure">Links</h3>

<p class="measure">Create a text link by wrapping the linked text in brackets [ ], and then wrapping the link in parenthesis ( ). For example:</p>

<style type="text/css">
.out {float: right;margin-right: -30rem}
.in:before{
      content: "→";
    border-bottom: 1px solid #111;
    position: absolute;
    top: 0.75rem;
    right: 0;
    width: 100%;
    z-index: 0;
    text-align: right;
    line-height: 0;
    color: #111;
    text-indent: 3rem;
}

.in {position: relative;}
.in code {background: #fffefc;z-index: 1;
    position: relative;padding-right: 0.75rem}

</style>
<p class="out"><a href="/">Wikipedia</a></p>

<p class="in measure"><code data-input>[Wikipedia](https://wikipedia.org)</code></p>


<h3 class="measure">Images</h3>

<div class="measure">

<p>There are a few ways to insert an image into a blog post. The best way will depend on the location of the image and the type of file you’d like to use to create the blog post. Using a Word Document, just drag and drop the image into the Word Document.</p>
<p>You can use <a href="/formatting">Markdown</a> to embed an image in your blog's folder. Here’s the Markdown to embed an image:</p>

<p><code>![Image title](/path/to/the/_image.jpg)</code></p>

<p>Blot resolves paths relative to the location of this file. Blot resolves absolute paths with your blog’s folder as the root directory. Paths are case-insensitive. You can embed an image that’s already on the internet:</p>

<p><code>![Image title](https://url.of/the/image.jpg)</code></p>
</code></pre>

<p>Please note that any image in your blog’s folder becomes a blog post by default. You can tell Blot <a href="/help#ignoring-files">not to turn a particular image into a blog post</a> by starting its name with an underscore, or by putting it in a folder whose name begins with an underscore.</p>

</div>

<h3 class="measure">Lists</h3>
<p class="measure">Make a bulleted list by preceding list items with a single asterix (*) or a hyphen (-). You need a space between the asterix and the text.</p>

<pre>- Round
- Shell
- Projectile</pre>

<p class="measure">Create a numbered list by preceding list items with a number.</p>

<pre>1. Eins
2. Deux
3. Tres</pre>



<h3 class="measure">Footnotes</h3>
<p class="measure">Use square brackets and a caret (^) to mark the position of a footnote in your text:</p>

<pre class="measure">Use this syntax.[^1] Another line with a different footnote.[^2]</pre>

<p class="measure">And then declare the footnotes themselves at the bottom of your file like this:</p>

<pre>[^1]: And the note goes here.
[^2]: And the second goes here too.</pre>


<h3 class="measure">Strike out text</h3>
<p class="measure">Put a double tilde (~) on either side of the text you want to strikethrough:</p>

<p><code>~~Strike out mistakes~~</code></p>



<h3 class="measure">Videos</h3>
<p class="measure">Blot converts URLs to YouTube and Vimeo into videos. You can embed a YouTube video like this:</p>

<p class="measure"><code>https://www.youtube.com/watch?v=cmaNByqIeeQ</code></p>

<p class="measure">You can paste the HTML for a video player directly into the post if you prefer.</p>




<h3 class="measure">Code</h3>
<p class="measure">Indent code with four spaces:</p>

<pre>
    var foo = &#x201C;bar&#x201D;;
</pre>

<p class="measure">You can also wrap code with three backticks (`) and specify the language to enable syntax highlighting:</p>

<pre>```javascript
var foo = "bar";
```</pre>

<p class="measure">You can customize your code's syntax highlighting by modifying the highlight.js CSS file which comes with <a href="/developers">your blog's template.</a></p>

<h3 class="measure">Horizontal rules</h3>

<p class="measure">Use three or more hyphens (-), asterisks (*) or underscores (_) to create a horizontal rule.</p>

<p><code>---</code></p>
<p><code>***</code></p>
<p><code>___</code></p>



<h3 class="measure">Blockquotes</h3>

<p  class="measure">Markdown uses email-style > characters for block quoting. They are presented as:</p>

<pre class="measure">> This is a blockquote with two paragraphs. This is first paragraph.
>
> This is second pragraph.Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.</pre>





<h3>Reference</h3>
<table class="w-100 md">
  <tr>
    <td></td>
    <td class="light">Markdown</td>
    <td></td>
    <td class="light">Result</td>
  </tr>
  <tr>
    <td>Bold</td>
    <td><code data-input>**This text is bold.**</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>
  <tr>
    <td>Italic</td>
    <td><code data-input>*This text is italic.*</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>
  <tr>
    <td>Struck</td>
    <td><code data-input>~~This text is struck out~~</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>  
<!--   <tr>
    <td>Headings</td>
    <td><pre># This is a heading

Lorem ipsum dolor sit amet, consectetur adipiscing elit...
    </pre><pre data-input style="display:none"># This is a heading

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</pre></td>
    <td class="light">&rarr;</td>
    <td><div class="browser" style="max-width:14rem">
      <div data-output>
      </div>
      <dots><dot></dot><dot></dot><dot></dot></dots></div></td>
  </tr>     -->
  <tr>
    <td>Links</td>
    <td><code data-input>[A link](https://example.com)</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>    
  <tr>
    <td>Lists</td>
    <td><pre><code data-input>This is a list:
- One item
- Another item
- Third item</code></pre></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>  
  <tr>
    <td>Image</td>
    <td><code>![Image title](/image.jpg)</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>  
   <tr>
    <td>Footnotes</td>
    <td><pre data-input>You can insert footnotes like this.[^1] Another line, another footnote.[^2]

[^1]: And the note goes here.
[^2]: The second note too.</pre></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>  
</table>



