<h2 id="markdown">Markdown</h2>

<p class="measure">Markdown is a text-to-HTML conversion tool for web writers. Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML).</p>

<div class="spacer half"></div>

<h3>Bold and italics</h3>

<pre class="file"><code>Surrounding text with two asterisks makes text bold:

**This text will be bold.**

To create italics, use a single asterix (*) on either side of the text:

*This text will be italic.*

Both * or _ symbols work to make text bold or italic. This way you can combine bold and italic in the same sentence. For example:

**Everyone _must_ listen.**</code></pre>


<h3 class="measure">Headings</h3>

<pre class="file"><code>You can create headings using the octothorpe (#).

# Largest heading

This paragraph is under the largest heading, usually the blog post's title.

## Subheading

This paragraph is under the subheading.

Alternatively, for H1 and H2, an underline-ish style:

Alt-H1
======

Alt-H2
------
</code></pre>


<h3>Links</h3>
<pre class="file"><code>Create a text link by wrapping the linked text in brackets [ ], and then wrapping the link in parenthesis ( ). For example:

[Wikipedia](https://wikipedia.org)</code></pre>


<h3>Images</h3>
<p>Read the full <a href="/help/images">guide to inserting an image into a post</a>.</p>
<pre class="file"><code>Here's the basic Markdown to embed an image:

![Image title](https://url.of/the/image.jpg)</code></pre>

<h3>Lists</h3>
<pre class="file"><code>Make a bulleted list by preceding list items with a single asterix (*) or a hyphen (-). You need a space between the asterix and the text.

- Round
- Shell
- Projectile

Create a numbered list by preceding list items with a number.

1. Eins
2. Deux
3. Tres</code></pre>


<h3>Footnotes</h3>
<pre class="file"><code>You can specify footnotes using this syntax.[^1] Another line with a different footnote.[^2]

[^1]: And the note goes here.
[^2]: And the second goes here too.</code></pre>


<h3>Strike out text</h3>
<pre class="file"><code>
Put a double tilde (~) on either side of the text you want to strikethrough:

~~Strike out mistakes~~</code></pre>



<h3>Videos</h3>
<pre class="file"><code>Blot converts URLs to YouTube and Vimeo into videos. You can embed a YouTube video like this:

https://www.youtube.com/watch?v=cmaNByqIeeQ

You can paste the HTML for a video player directly into the post if you prefer.</code></pre>




<h3>Code</h3>
<pre class="file"><code>Indent code with four spaces:

    var foo = &#x201C;bar&#x201D;;

You can also wrap code with three backticks (`) and specify the language to enable syntax highlighting:

```javascript
var foo = "bar";
```
</code></pre>
<div class="measure"><Br>
<p>You can customize your code's syntax highlighting by modifying the highlight.js CSS file which comes with <a href="/developers">your blog's template.</a></p>
</div>

<h3>Horizontal rules</h3>

<pre class="file"><code>Three or more...

---

Hyphens

***

Asterisks

___

Underscores</code></pre>


<h3>Blockquotes</h3>

<pre class="file"><code>Markdown uses email-style > characters for block quoting. They are presented as:

> This is a blockquote with two paragraphs. This is first paragraph.
>
> This is second pragraph.Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.


</code></pre>





<h3>Reference</h3>
<table class="w-100 md">
  <tr>
    <td></td>
    <td class="light">Markdown</td>
    <td></td>
    <td class="light">Result</td>
  </tr>
  <tr>
    <td>Bold</td>
    <td><code data-input>**This text is bold.**</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>
  <tr>
    <td>Italic</td>
    <td><code data-input>*This text is italic.*</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>
  <tr>
    <td>Struck</td>
    <td><code data-input>~~This text is struck out~~</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>  
<!--   <tr>
    <td>Headings</td>
    <td><pre># This is a heading

Lorem ipsum dolor sit amet, consectetur adipiscing elit...
    </pre><pre data-input style="display:none"># This is a heading

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</pre></td>
    <td class="light">&rarr;</td>
    <td><div class="browser" style="max-width:14rem">
      <div data-output>
      </div>
      <dots><dot></dot><dot></dot><dot></dot></dots></div></td>
  </tr>     -->
  <tr>
    <td>Links</td>
    <td><code data-input>[A link](https://example.com)</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>    
  <tr>
    <td>Lists</td>
    <td><pre><code data-input>This is a list:
- One item
- Another item
- Third item</code></pre></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>  
  <tr>
    <td>Image</td>
    <td><code>![Image title](/image.jpg)</code></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>  
   <tr>
    <td>Footnotes</td>
    <td><pre data-input>You can insert footnotes like this.[^1] Another line, another footnote.[^2]

[^1]: And the note goes here.
[^2]: The second note too.</pre></td>
    <td class="light">&rarr;</td>
    <td data-output></td>
  </tr>  
</table>



