{{> head}}
{{> header}}
{{> sidebar}}
<style type="text/css">

window.text, window.folder {margin: 0 0 0}
window.text pre {padding: 1rem;font-size: 14px}
window.text pre code {font-size: 14px}
window.right {width: 50%;float: right;margin-right: -10%}
window.right:after {width: 8rem;position: absolute;top:-2rem;bottom: -3rem;right: -2rem;content: ""; background:linear-gradient(to right, transparent, #fff 70%)}
window.right pre {padding-left: 2.5rem;font-size: 14px;padding-right: 0}

table nobr icon {margin-left: -3px}
td{padding-right: 0;text-align: right;}
td:first-child {padding-right: 0;text-align: left;}

.spacer {margin-bottom: 10rem}
.spacer.half {margin-bottom: 7.5rem}

.fr.pc {padding-left: 2.5rem}
.fl.pc {padding-right: 2.5rem}
</style>

<div class=" w-right-offset">

  <p class="mt0 measure">Blot is a blogging platform. It creates a folder in your Dropbox and publishes files you put inside automatically. There’s no publishing interface, just files and a folder. This means you can use your favorite text‐editor to write your blog.</p>

  <div class="spacer half"></div>
  
  <div class="w-50 fr pc">
    <pre class="folder"><code>Drafts
Pages
Posts
  Bookmark.webloc
  Document.docx
  Image.jpg
  Markdown.md
  Text.txt
  Webpage.html</code>
    </pre>
  </div>

  <div class="w-50 fl pc">
    <h2 style="margin-top:0">Blog posts</h2>
    <p class="mb0">These files become blog posts when you put them inside your blog’s folder:</p>
    <table class="bt b--black-10" style="margin-top:0.75rem">
      <tbody>
        <tr>
        <td><code class="file md">Text and Markdown</a></code></td>
        <td><span style="color:#aaa">.txt&nbsp; .md</span></td>
        </tr>
        <tr>
        <td><code class="file txt">Word Documents</a></code></td>
        <td><span style="color:#aaa">.docx &nbsp;.odt</span></td>
        </tr>
        <tr>
        <td><code class="file webloc">Bookmarks</a></code></td>
        <td><span style="color:#aaa">.webloc&nbsp; .url</span></td>
        </tr>
        <tr>
        <td><code class="file img" style="margin-left:-3px">Images</a></code></td>
        <td><span style="color:#aaa">.png&nbsp; .jpeg&nbsp; .gif</span></td>
        </tr>
        <tr>
        <td style="border:none"><code class="file html">HTML</a></code></td>
        <td style="border:none"><span style="color:#aaa">.html &nbsp; .htm</span></td>
        </tr>
      </tbody>
    </table>
    <div class="cf"></div>
  </div>

  <div class="spacer cf"></div>

  <div class="w-50 fl pc">  
    <h2 class="mt0" >Formatting your blog posts</h2>
    <p class="measure mb0">Blot supports Markdown, including some of the features of its variants. Blot comes with a simple layout extension too. Blot also supports syntax highlighting for code. It knows how to render mathemtatics set in LaTeX.</p>

    <a href="/guides/formatting" class="next small db bt b--black-10">
      Read the formatting guide
    </a>
  </div>

  <div class="w-50 fr pc">
    <pre class="file"><code># Formatting

You can use *Markdown*, a lightweight markup language for plain text files.

Use it for links, lists, headings, tables and more.</code>
    </pre>
  </div>

  <div class="spacer cf"></div>

  <div class="w-50 fr pc">
    <pre class="folder"><code>Drafts
  Anecdote.txt
  Anecdote.txt.html
  Unpublished.txt
  Unpublished.txt.html
Pages
  About.txt
  Contact.txt
  Home.txt
  Now.txt
Posts</code>
    </pre>
  </div>

  <div class="w-50 fl pc"> 
    <h2 class="mt0">Drafts</h2>
    <p class="measure" style="margin-bottom:0.75rem">Files in a folder called ‘Drafts’ are not published. Instead, Blot creates a preview which you can open in your browser.</p>
    <br>
    <h2 class="mt0">Pages</h2>
    <p class="measure mb0">Files in a folder called ‘Pages’ become pages instead of blog posts. They are added to your blog’s menu.</p>
  </div>

  <div class="cf spacer"></div>

  <div class="w-50 fl pc">
    <h2 class="mt0" >Metadata</h2>
    <p class="measure">Each blog post’s permalink and date is generated automatically from the file&#x2019;s contents and location. You can override this <a href="/guides/metadata">metadata</a> at the start of a file.</p>
    <a href="/guides/dates" class="next small db bt b--black-10">
      How to change a post’s date
    </a>
<!--     <a href="/guides/url" class="next small db bt b--black-10">
      Change a blog post’s URL
    </a>
 -->    <a href="/guides/tags" class="next small db bt b--black-10">
      How to add tags to a post
    </a>
    <a href="/guides/metadata" class="next small db bt b--black-10">
      View the metadata reference
    </a>
  </div>

  <div class="w-50 fr pc">
    <pre class="file"><code>Date: {{#date}}MMMM Do, YYYY{{/date}}
Permalink: /metadata

Metadata must start on the file&#x2019;s first line and must be separated from the rest of the post by at least one blank line.

Make sure you leave a space after the colon.</code>
    </pre>
  </div>
  
  <div class="cf spacer"></div>

  <div class="w-50 fr pc">
    <pre class="folder"><code>
_Public
  Image.jpg
  Movie.mpf
  Archive.zip
Posts
  Bookmark.webloc
  Document.docx
  Image.jpg
  Markdown.md
  Text.txt
  Webpage.html      
    </code>
    </pre>
  </div>

  <div class="w-50 fl pc"> 
 <h2 class="mt0">Public files</h2>
<p class="measure" style="margin-bottom:0.75rem">All the files in your blog's folder are public and accessible to your readers. This makes Blot useful for <a href="/guides/static-server">serving static files</a>.</p>
 <br>

      <h2 class="mt0">Ignored files</h2>
<p class="measure mb0">Files in a folder called ‘Pages’ become pages instead of blog posts. They are added to your blog’s menu.</p>

</div><div class="cf"></div>
<br><Br><Br><br><br>
<p class="measure"> 
<a href="/configuring" class="next db bt">
  <span class="light db">Next section</span>
  Configuring your blog
</a>
</p>
<br><br>
<br><br><br>
<br><br><br>
</div>
<br><br>

{{> footer}}