<h1>Tags</h1>
    
<p class="measure">You can group posts which cover similar subjects using tags. You can tag a post in the <a href="/help#metadata">metadata</a> at the top of a file:</p>
<bR>
<pre class="text with-chrome"><code>Tags: Getting started, Documentation

Tags are case-insensitive and may contain whitespace. Blot uses the most recent case when displaying a tag on your blog.


</code></pre>
<bR>
<p class="measure">You can use brackets in a file or folder&#x2019;s name to add additional tags to a blog post. For example, if you put <code class="file md">Ada.txt</code> inside the folder <code class="folder">[Books]</code>, it will have the tag &apos;Books&apos;.</p>
<br>
<div class="w-50"><pre class="folder"><code>[Books]
  Ada.txt
[Films]
  Thief.txt
</code></pre></div>