<div class=" w-right-offset">

<h1>Tags</h1>
    
<p class="measure">Tags are used to connect blog posts by subject. You can add tags to a blog post in the file’s <a href="#metadata">metadata</a> or in its <a href="#path">path</a>.</p>
<p class="measure">Tags are case-insensitive. For example, blog posts tagged ’Apple’ are merged under the same tag as those tagged ’aPpLe’. It is good practice to use consistent capitalization: when displaying a tag on your blog, Blot picks the case you used last.</p>
<h2 id="metadata">Using metadata</h2>
<p class="measure">You can specify a list of tags in the <a href="/help/metadata">metadata</a> at the start of a file. Here’s an example blog post with two tags in its metadata:</p>
<br>

<pre class="text with-chrome" title="Post.txt"><code>Tags: Getting started, Documentation

Tags are case-insensitive and may contain whitespace. Blot uses the most recent case when displaying a tag on your blog.



</code></pre>
<h2 id="path">Using the file’s path</h2>
<p class="measure">You can add tags to a post in the file’s name or path. Include the tag, wrapped in brackets. Here’s a few examples:</p>

    <table class="bt" style="margin-top:0.75rem">
      <tbody>
        <tr>
        <td>
          <code class="folder">&nbsp;[Photos]<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="folder">&nbsp;[Holiday]<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="file img">&nbsp;Picture.jpg</a></code>          
        </td>
        <td class="light">...&puncsp;is tagged&puncsp;...</td>
        <td>Photos, Holiday</td>
        </tr>
        <tr>
        <td>
          <code class="folder">&nbsp;[Book notes]<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="file md">&nbsp;Thief.txt</a></code>          
        </td>
        <td class="light">...&puncsp;is tagged&puncsp;...</td>
        <td>Book notes</td>
        </tr>
        <tr>
        <td>
          <code class="file md">&nbsp;[Reviews] Pnin.txt</a></code>          
        </td>
        <td class="light">...&puncsp;is tagged&puncsp;...</td>
        <td>Reviews</td>
        </tr>


      </tbody>
    </table>
  </div>