

<style type="text/css">
  td {
    padding-right: 0;
    text-align: right;
  }
  td:first-child {
    padding-right: 0;
    text-align: left;
  }
</style>

<div class="measure center">
  <h1 style="font-size:36px;font-weight:500;margin-bottom:1rem">How to use Blot
  </h1>
  <p>Blot is a blogging platform with no interface. It creates a special folder in your Dropbox and publishes files you put inside. The point of all this — the reason Blot exists — is so you can use your favorite tools to create whatever you publish.
  </p>
  <h2>Blog posts</h2>
  <p>All of these files become blog posts automatically when you put them somewhere inside your blog’s folder:
  </p>

  <table class="bt"
    style="margin-top:0.75rem">

    <tbody>

      <tr>
        <td>
          <code class="file md">Text and Markdown</code>
        </td>
        <td>
          <span class="light">.txt .md</span>
        </td>
      </tr>

      <tr>
        <td>
          <code class="file txt">Word Documents</code>
        </td>
        <td>
          <span class="light">.docx .odt</span>
        </td>
      </tr>

      <tr>
        <td>
          <code class="file webloc">Bookmarks</code>
        </td>
        <td>
          <span class="light">.webloc .url</span>
        </td>
      </tr>

      <tr>
        <td>
          <code class="file img" style="margin-left:-3px">Images</code>
        </td>
        <td>
          <span class="light">.png .jpeg .gif</span>
        </td>
      </tr>

      <tr>
        <td style="border:none">
          <code class="file html">HTML</code>
        </td>
        <td style="border:none">
          <span class="light">.html .htm</span>
        </td>
      </tr>
    </tbody>
  </table>
  <p>Blot ignores files and folders whose name starts with an underscore. Ignored files are
    <a href="/help/public-files">public</a>but don’t become blog posts.
  </p>
  <div class="cf" />

</div>

<div class="w-50 fr pc">

  <pre class="folder"
    title="Your blog">

    <code>Drafts Pages Posts Bookmark.webloc Document.docx Image.jpg Markdown.md Text.txt Webpage.html
    </code>
  </pre>
</div>
<div class="spacer cf" />


<div class="w-50 fl pc">
  <h2 class="mt0">Formatting your blog posts</h2>
  <p class="measure mb0">Blot supports a variety of standard tools to add formatting to your blog posts. You can use
    <a href="/formatting">Markdown
    </a>to add links, headings, lists and much more. Blot also renders mathematics set in
    <a class="bn"
      href="/formatting">\(\TeX\)
    </a>and provides syntax highlighting for code snippets.
  </p>

  <a href="/formatting"
    class="next small db bt b--black-10">Read the formatting guide
  </a>
</div>

<div class="w-50 fr pc">

  <pre class="text with-chrome narrow"
    title="Post">

    <code>
      <b># Formatting</b>You can use
      <em>*Markdown*
      </em>, a lightweight markup language for plain text files. Use it for links, headings, lists and much more.
    </code>
  </pre>
</div>
<div class="spacer cf" />


<div class="w-50 fl pc">
  <h2 class="mt0">Drafts</h2>
  <p class="measure"
    style="margin-bottom:0.75rem">Files in a folder called ‘Drafts’ are not published. Instead, Blot creates a preview file which updates as you make edits.
  </p>
  <br>

  <h2 class="mt0">Pages</h2>
  <p class="measure mb0">Files in a folder called ‘Pages’ become pages instead of blog posts. They are added to your blog’s menu.
  </p>
</div>

<div class="w-50 fr pc">

  <pre class="folder"
    title="Your blog">

    <code>Drafts Anecdote.txt Anecdote.txt.html Unpublished.txt Unpublished.txt.html Pages About.txt Contact.txt Home.txt Posts
    </code>
  </pre>
</div>
<div class="cf spacer" />


<div class="w-50 fl pc">
  <h2 class="mt0">Metadata</h2>
  <p class="measure">Each blog post’s permalink and date is generated automatically from the file’s contents and location. You can override this
    <a href="/help/metadata">metadata</a>at the start of a file.
  </p>

  <a href="/help/dates"
    class="next small db bt b--black-10">How to change a post’s date
  </a>
  <!-- <a href="/help/url" class="next small db bt b--black-10">
      Change a blog post’s URL
    </a> -->

  <a href="/help/tags"
    class="next small db bt b--black-10">How to add tags to a post
  </a>

  <a href="/help/metadata"
    class="next small db bt b--black-10">View the metadata reference
  </a>
</div>

<div class="w-50 fr pc">

  <pre class="text with-chrome narrow"
    title="Post">

    <code>Date: {{#date}}MMMM Do, YYYY{{/date}} Permalink: /metadata Metadata must start on the file’s first line and must be separated from the rest of the post by at least one blank line. You must leave a space after the colon.
    </code>
  </pre>
</div>
<div class="cf spacer" />


<div class="w-50 fl pc">
  <h2 class="mt0">Public files</h2>
  <p class="measure mb0">Every file in your blog’s folder is public. Use this feature to distribute files to your readers and embed media in blog posts.
  </p>

  <a href="/help/public-files"
    class="next small db bt b--black-10">Guide to public files
  </a>
  <br>

</div>

<div class="w-50 fr pc">

  <pre class="folder"
    title="Your blog">

    <code>_Assets Archive.zip Index.html Photo.jpg Posts
    </code>
  </pre>
</div>
