<div class=" w-right-offset">

<h1>Dates</h1>

<p class="measure">A blog post’s publish date is the same as the file’s creation date by default. You can specify a different  date in the file’s <a href="#metadata">metadata</a> or in its <a href="#path">path</a>. Blot will schedule a blog post for future publication if you specify a date in the future. <!-- You can adjust your blog’s <a href="/preferences">time zone</a> and other date‐related settings on the dashboard. --></p>
<h2 id="metadata">Using metadata</h2>
<p class="measure">The publish date is one of the properties of a blog post you can modify in the <a href="/help/metadata">metadata</a> at the start of a file. Here’s an example blog post with a modified publish date:</p>
<br>
<pre class="text with-chrome" title="Post.txt"><code>Date: {{#date}}MMMM Do, YYYY{{/date}}

Blot supports a variety of date formats. The following all produce a blog post with the same date:

{{#date}}MM/DD/YYYY{{/date}}   {{#date}}MMMM D, YYYY{{/date}}
{{#date}}M.D.YYYY{{/date}}     {{#date}}YYYY-MM-DD 00:00{{/date}}


</code></pre>
<div class="cf pv3"></div>

<h2 id="path">Using the file’s path</h2>
<p class="measure">You can modify a post’s publish date using the file’s name or path. For example, all four of these posts share the same publish date:</p>
    <table class="bt" style="margin-top:0.75rem">
      <tbody>
        <tr>
        <td>
          <code class="folder">&nbsp;{{#date}}YYYY{{/date}}<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="folder">&nbsp;{{#date}}MM{{/date}}<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="folder">&nbsp;{{#date}}DD{{/date}}<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="file md">&nbsp;Post.txt</a></code>          
        </td>
        </tr>
        <tr>
        <td>
          <code class="folder">&nbsp;{{#date}}YYYY{{/date}}<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="folder">&nbsp;{{#date}}MM{{/date}}<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="file md">&nbsp;{{#date}}DD-[Post.txt]{{/date}}</code>
        </td>
        </tr>        
        <tr>
        <td>
          <code class="folder">&nbsp;{{#date}}YYYY{{/date}}<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
          <code class="file md">&nbsp;{{#date}}MM-DD-[Post.txt]{{/date}}</code>
        </td>
        </tr>         <tr>
        <td><code class="file md">&nbsp;{{#date}}YYYY-MM-DD-00:00[-Post.txt]{{/date}}</a></code></td>
        </tr>

      </tbody>
    </table>
<p class="measure">You can use underscores, dashes and dots to seperate the components of the date. Please note that a date specified in the file’s <a href="#metadata">metadata</a> takes precedence over one specified by its path.</p>

</div>