<h1>Public files</h1><div class="measure">

<p>All the files in your blog’s folder are public and can be accessed by your readers. This is useful if you want to <a href="/help/images">embed media</a> in your blog posts or distribute files to your readers. For example, let’s say this is your blog’s folder:</p>

<div class="w-80 center">
  <br>
<pre class="folder" title="Your blog"><code>Files
  Archive.zip
  index.html
Posts


</code></pre>
</div>

<br><br>
<p style="margin-top:1rem">Your readers can download&nbsp;<code class="file zip">&nbsp;Archive.zip&nbsp;</code>if they visit&nbsp;<code class="file webloc">&nbsp;your.blog.com/files/archive.zip</code>. Blot also serves index files. Your readers will see the contents of&nbsp;<code class="file html">&nbsp;index.html</code>&nbsp;if they visit&nbsp;<code class="file webloc">&nbsp;your.blog.com/files</code>.</p> 

<h2>What if a blog post and a file share the same URL?</h2>
<p>Blot shows the blog post instead of the file. This is because Blot <a href="/developers#routing">routes requests</a> from your readers to your blog’s template first. If you prefer, you can <a href="/theme">disable your blog’s template</a> on the dashboard and just use Blot as a static file server.</p> 