{{> head}}

<div class="mw8 center pt4" style="margin:0 auto">
    <style type="text/css">
    b {font-weight: 500}
    .footer li {list-style-type:none;}
    .footer a {border: none;}
    .footer ul {margin: 0 20px;flex-grow:0.5;}
    </style>
      <hr style="    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));border:none;height:2px;margin:20px 0">

      <div style="display:flex" class=" footer">
        <a href="" style="display:flex;flex-basis:240px;margin-right:5em">
          <img src="/images/logo-new.svg" style="margin-top:4px;margin-right:1em;align-self: flex-start;" width=32/>
          <span>
            <b style="display:block">Blot</b>
            <span style="color:#777">A blogging platform with no interface. Blot turns a folder into a blog.</span>
          </span>
        </a>
        <ul>
          <li><a href="/"><b>How to use Blot</b></a></li>
          <li><a href="/">Templates</a></li>
          <li><a href="/">Configuring your blog</a></li>
          <li><a href="/">Formatting</a></li>
        </ul>
        <ul>
          <li><a href="/about"><b>About</b></a></li>
          <li><a href="/updates">Changes<!-- <small>Updated 2 hours ago</small> --></a></li>
          <li><a href="/terms">Terms of use</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
          <a href="/sign-up" style="height:30px;line-height:30px;padding:0 12px;background:#000;color:white;border-radius:4em;margin:0;display:inline-block">Sign&nbsp;up for $20 a year</a><br>
          <a href="/log-in" style="height:30px;line-height:30px;padding:0 12px ;background:#000;color:white;border-radius:4em;margin:0 0 0 30px;display:inline-block">Log&nbsp;in</a>
      </div>
  </div>
  <div class="cf mb6"></div>

    
  <div id="background" class="bg">
    <a id="closer" href="/" class="">
        <div class="mw8 center ph4 tr " style="line-height:80px"><span class=""><svg style="width:0.65rem;margin-right: 0.65rem" viewBox="0 0 50 50">
  <path d="M50 5l-5-5-20 20L5 0 0 5l20 20L0 45l5 5 20-20 20 20 5-5-20-20z"/>
</svg>Close</span></div>
      </a>
    <div class="mw8 center v-mid" style="margin-top:5rem">

    <div class="ph4 ">
    <div id="thumb">
    <iframe id="video" class="" src="" frameborder="0" allowfullscreen=""></iframe>
  </div>
  </div>
</div>
  </div>

  <div style="margin-top:5rem;" class="bg mw7 center">
    <div id="thumb" style="padding-bottom:55%">

      <a id="play" href="https://www.youtube.com/watch?v=_k2NQNj9-LE" target="_blank" class="mw8 center thumb pv5 db">
        
<!--         <span class="view">Watch</span>
 -->        
        <div class="buts"><img src="/images/play.png" width="17"></div>

        <div class="measure-narrow center" style="">
          <div style="">
            <pre class="folder" title="Your blog"><code>Drafts
Pages
Posts
  Bookmark.webloc
  Document.docx
  Image.jpg
  Markdown.md
  Text.txt
  Webpage.html


</code>
                </pre></div>

           
        </div>
      </a>
  </div>
</div>
<div class="measure mt5 center">

  <p class="mt0 measure">Blot is a blogging platform with no interface. It turns a folder into a blog. If you put files inside, Blot publishes them.</p>
  <p class="measure">Why does Blot exist? So that you can blog with your favorite text-editor. Because Blot is file and folder-based, you can use your favourite creative tools.</p>
</div>


  
<div class="measure center">
<h2>How to use Blot</h2>
  <p class="measure mb0">Blot automatically creates blog posts from&nbsp;<nobr><icon class="md"></icon>Text and Markdown</nobr>,&nbsp;<nobr style="margin-left:-3px"><icon class="txt"></icon>&nbsp;Word Documents</nobr>,&nbsp;<nobr><icon class="img"></icon>&nbsp;Images</nobr>,&nbsp;<nobr><icon class="webloc"></icon>&nbsp;Bookmarks</nobr>&nbsp;and&nbsp;<nobr><icon class="html"></icon>&nbsp;HTML</nobr>. Just put the files inside your blog’s folder and <a id="other_play" href="https://www.youtube.com/watch?v=_k2NQNj9-LE">Blot does the rest</a>.</p>
  <a href="/formatting" class="next small db bt b--black-10">Read the documentation</a>

<h2>Templates</h2>  
  <p class="measure">Blot comes with <a href="/configuring">seven templates</a>. They’re easy to customize, lightweight  and designed to fit both small and large screens. You can also <a href="/developers">develop your own template</a> from scratch. </p>

  <p class="measure">Blot comes with a number of features to refine the typography of your blog. This includes true hanging punctuation and common typographic substitutions with <a href="https://github.com/davidmerfield/typeset">Typeset</a>. Blot also renders mathematics in <a class="bn" href="/formatting">\(\TeX\)</a>and provides syntax highlighting for code.</p>


</div>
<div class="fr" style="width:46rem">
<ul class="gallery dotted db">      
  <a href="https://o9s.xyz/" target="_blank">Index<dots><dot></dot><dot></dot><dot></dot></dots></a>
  <a href="https://ylukem.com" target="_blank">Photo<dots><dot></dot><dot></dot><dot></dot></dots></a>
  <a href="https://www.storystadium.com/" target="_blank">Grid<dots><dot></dot><dot></dot><dot></dot></dots></a>
  <a href="https://www.alexgibson.nyc/" target="_blank">Default<dots><dot></dot><dot></dot><dot></dot></dots></a>
  <a href="https://preview.essay.news.blot.im/" target="_blank">Essay<dots><dot></dot><dot></dot><dot></dot></dots></a>
  <a href="https://invariances.org/" target="_blank">Console<dots><dot></dot><dot></dot><dot></dot></dots></a>
  <a href="https://bleachedsleet.com/" target="_blank">Mono<dots><dot></dot><dot></dot><dot></dot></dots></a>
</ul>
</div>
<div class="cf"></div>
<div class="measure center">

<h2>Customers</h2>  
  <p class="measure mb0">A blog costs <a href="/sign-up">{{price}} per year</a> and includes hosting and support. Here’s a handful of the people who host their website on Blot:</p>
</div>

  <div class="sites mw7 center" style="margin-top:5rem">
  {{#sites}}
  <div class="fl">
  <a href="{{url}}" target="_blank" class="browser"><span class="tc db" style="line-height:103px">{{display_url}}</span>{{#first}}<span class="new">New</span>{{/first}}<dots><dot></dot><dot></dot><dot></dot></dots></a>
  <p class="mb0">{{{description}}}</p>
  </div>
  {{#clear}}<div class="cf"></div>{{/clear}}
  {{/sites}}
</div>

  </ul>
  <div class="cf"></div>
</div>
{{> footer}}