<html>
  <head>
    <meta charset="utf-8">
    <title>Blot</title>
    <link rel="icon" href="/images/favicon.png?{{cacheID}}" type="image/x-icon">
    <link rel="stylesheet" media="all" href="/css/style.css?{{cacheID}}" />
  </head>
  <body>

    {{> header}}

      <p>Blot turns a Dropbox folder into a blog.</p>

      <p>Use your favourite app to write. Just drag-and-drop files into Blot’s folder to publish them. Images, text files, Markdown and <A href="/help/publishing-with-blot">more</a> become blog posts automatically. There’s no interface. Just files and folders.</p>

      <iframe width="760" height="460" src="https://www.youtube.com/embed/_k2NQNj9-LE?rel=0&amp;wmode=transparent&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;theme=light&amp;modestbranding=1&amp;color=white" frameborder="0" allowfullscreen=""></iframe>

     <p>You can use one of Blot’s themes or <a href="/help/templates">design your own</a>. Hosting is included and there are no ads.</p>

     <p>Members pay <a href="/sign-up">$20 per blog</a>, per year. This fee keeps Blot fast and reliable. Here’s a handful of the sites hosted by Blot:</p>
     <style type="text/css">.gallery li {width: 35%}.gallery li:nth-child(3n){width: 20%}</style>
      <ul class="gallery">
        <li><a href="https://www.storystadium.com" target="_blank">storystadium.com</a> <span class="new">New</span></li>
        <li><a href="https://www.kristianhjelle.com" target="_blank">kristianhjelle.com</a></li>
        <li><a href="https://www.2080.co/">2080.co</a></li>
        <li><a href="https://chrbutler.com/" target="_blank">chrbutler.com</a></li>
        <li><a href="https://www.20sidedpixel.blog/" target="_blank">20sidedpixel.blog</a></li>
        <li><a href="https://blog.aurynn.com/" target="_blank">aurynn.com</a> </li>
        <li><a href="https://thingstoclick.com/" target="_blank">thingstoclick.com</a></li>
        <li><a href="https://blog.marcell.me/" target="_blank">blog.marcell.me</a></li>
        <li><a href="https://mrfris.by/" target="_blank">mrfris.by</a> </li>
        <li><a href="https://www.inthemargins.ca/" target="_blank">inthemargins.ca</a> </li>
        <li><a href="https://makebeings.net/" target="_blank">makebeings.net</a></li>
        <li><a href="https://iiiiiiiii.in/" target="_blank">iiiiiiiii.in</a> </li>
        <li><a href="https://ryanmack.me/" target="_blank">ryanmack.me</a></li>
        <li><a href="https://www.pavlusoffice.com/" target="_blank">pavlusoffice.com</a></li>
      </ul>

      {{> footer}}
      <br /><Br /><Br /><BR /><Br />
  </body>
</html>