{{> head}}
{{> header}}
{{> sidebar}}
<style type="text/css">
window.text, window.folder {margin: 2rem 0 4rem}

window.right {width: 50%;float: right;margin-right: -10%}
window.right:after {width: 8rem;position: absolute;top:-2rem;bottom: -3rem;right: -2rem;content: ""; background:linear-gradient(to right, transparent, #fff 70%)}
window.right pre {padding-left: 2.5rem;font-size: 14px;padding-right: 0}
#background {display: none;position: fixed;top: 80px;left: 0;right: 0;bottom: 0;z-index: 1}
#background.open {display:block;}
.bg {background:#f3eeea;}
#closer {float: right;position: absolute;top: 0;left: 0;right: 0;bottom: 0}
</style>

<div class="w-right-offset">

  <p class="mt0 measure">Blot is a blogging platform. It creates a folder in your Dropbox and publishes files you put inside automatically. There’s no publishing interface, just files and a folder. This means you can use your favorite text‐editor to write your blog.</p>
    <p class="measure mb0">Blot creates blog posts automatically from 
      <nobr><icon class="md"></icon> Text and Markdown</nobr>, <nobr style="margin-left:-3px"><icon class="txt"></icon> Word Documents</nobr>, <nobr><icon class="img"></icon> Images</nobr>, <nobr><icon class="webloc"></icon> Bookmarks</nobr> and <nobr><icon class="html"></icon> HTML</nobr>. Drag‐and-drop the files into your folder and <a id="other_play" href="https://www.youtube.com/watch?v=_k2NQNj9-LE">Blot does the rest</a>.</p>

  <div id="background" class="bg">
    <a id="closer" href="/foo" class="">
        <div class="mw8 center ph4 tr " style="line-height:80px"><span class=""><svg style="width:0.65rem;margin-right: 0.65rem" viewBox="0 0 50 50">
  <path d="M50 5l-5-5-20 20L5 0 0 5l20 20L0 45l5 5 20-20 20 20 5-5-20-20z"/>
</svg>Close</span></div>
      </a>
    <div class="mw8 center v-mid" style="margin-top:5rem">

    <div class="ph4 ">
    <div id="thumb">
    <iframe id="video" class="" src="" frameborder="0" allowfullscreen=""></iframe>
  </div>
  </div>
</div>
  </div>

  <div style="margin-top:5rem;" class="bg">
    <div id="thumb" >

      <a id="play" href="https://www.youtube.com/watch?v=_k2NQNj9-LE" target="_blank" class="mw8 center thumb pv5 db">
        
        <div class="buts"><img src="/images/play.png" width="17"></div>

        <div class="measure" style="">
            
            <window style="width:58%;float:right">

      <toolbar><dots><dot></dot><dot></dot><dot></dot></dots>
        <icon class="dropbox"></icon> Your blog
      </toolbar>

      <sorter>Name <icon class="chevron"></icon></sorter>

      <contents>
        <item class=" "><icon class="folder  "></icon> Drafts</item>
        <item class=" "><icon class="folder  "></icon> Pages</item>
        <item class=" open"><icon class="folder  "></icon> Posts</item>
        <item class="nested "><icon class=" file webloc"></icon> Bookmark.webloc</item>
        <item class="nested "><icon class=" file docx"></icon> Document.docx</item>
        <item class="nested "><icon class=" file md"></icon> Markdown.md</item>
        <item class="nested "><icon class=" file img"></icon> Picture.jpg</item>
        <item class="nested "><icon class=" file txt"></icon> Text.txt</item>
        <item class="nested "><icon class=" file html"></icon> Webpage.html</item>
        <item>&#xA0;</item>
        <item>&#xA0;</item>
        <item>&#xA0;</item>
      </contents>
      
      <border class="left"></border>
      <border class="right"></border>
      <border class="top"></border>
      <border class="bottom"></border>

      <corner class="top left"></corner>
      <corner class="top right"></corner>
      <corner class="bottom left"></corner>
      <corner class="bottom right"></corner>
    </window>
        </div>
      </a>
  </div>
</div>
  

  <p class="measure" style="margin-top:5rem">Blot comes with <a href="/configuring">seven templates</a>. They’re easy to customize, lightweight  and designed to fit both small and large screens. You can also <a href="/developers">develop your own template</a> from scratch. Here’s a handful of the websites hosted on Blot:</p>
  <br>
  <ul class="gallery large">
    <a href="https://www.matthewbattles.org/" target="_blank">matthewbattles.org<span class="new">New</span></a>
    <a href="https://hannautkin.com/" target="_blank">hannautkin.com</a>
    <a href="https://juicenews.com/" target="_blank">juicenews.com</a>    
    <a href="https://ylukem.com" target="_blank">ylukem.com</a>
    <a href="https://www.alexgibson.nyc/" target="_blank">alexgibson.nyc</a>
    <a href="https://www.theliminal.co/" target="_blank">theliminal.co</a>
    <a href="http://johnpavlus.com/" target="_blank">johnpavlus.com</a>
    <a href="http://kiefer.design/" target="_blank">kiefer.design</a>
    <a href="https://www.2080.co/" target="_blank">2080.co</a>
    <a href="https://www.kristianhjelle.com" target="_blank">kristianhjelle.com</a>
    <a href="https://mrfris.by/" target="_blank">mrfris.by</a>
  </ul>
  <div class="cf"></div>
  <p style="margin-top:2.5rem;margin-bottom:5rem" class="measure">A blog costs <a href="/sign-up">{{price}} per year</a>. The annual fee pays for the servers which host your blog. It also covers the cost of providing support.  Most importantly, it encourages Blot to operate in your best interests, as opposed to those of an advertiser or investor.

</p>

<br><Br><Br><br>
<p class="measure">
<a href="/getting-started" class="next db bt">
  <span class="light db">Next section</span>
  How to use Blot
</a>
</p>
<br><br>
<br><br>
<br><br>
</div>
<br><br>

<script type="text/javascript">

closer.onclick = function(e) {
  background.classList.remove('open');
  video.src = '';
  e.preventDefault();
  return false;
}

play.onclick = other_play.onclick = function (e) {
  background.classList.add('open');
  video.src = 'https://www.youtube.com/embed/_k2NQNj9-LE?rel=0&amp;wmode=transparent&amp;rel=0&amp;autohide=1&amp;controls=0&amp;showinfo=0&amp;theme=light&amp;modestbranding=1&amp;color=white&amp;autoplay=1';
  e.preventDefault();
  return false;
}

</script>

{{> footer}}