{{> head}}
{{> header}}

<div class="w-right-offset pt4 mt4">

  <div class="measure pr5 mb4">
   
    {{^error}}
    Welcome back! Please enter your email address below. Don’t hesitate to <a href="/contact">contact me</a> if you’re having trouble.
    {{/error}}

  {{#error}}
  <div class="red" style="margin:-0.6rem;border:none">

    {{#BADTOKEN}}
    That link had expired or had already been clicked. Please try again or <a href="/contact">contact me</a> if you’re having trouble logging in.
    {{/BADTOKEN}}

    {{#BADEMAIL}}
    This email address is not associated with a Blot account. Please <a href="/contact">contact me</a> if you have you don’t know your account’s email.
    {{/BADEMAIL}}

    {{#NOEMAIL}}
    Please enter an email address. If you don’t know your account’s email address, please <a href="/contact">contact me</a>.
    {{/NOEMAIL}}

  </div>
  {{/error}}
  </div>

  <form style="max-width:18rem" method="POST" action="?_csrf={{csrf}}">

  <label class="pt3 db" for="email">Your email address</label>
  <input class="w-100 mt1 mb3 br2 pa2 ba b--black-30" id="email" type="text" size="20" class="email" name="email" autofocus/>

  <input type="submit" class="sans-serif submit button pv2 ph4 mt4" style="position:relative;top:-4px" value="Log in"  />
  </form>
</div>
{{> footer}}