<html>
  {{> head}}
    <body style="margin-top:1.5em">


    <nav style="background:none;box-shadow:none">
      <a href="/" id="logo">Blot is a blogging platform</a>
    </nav>

    Log in <span style="color:#aaa">&nbsp;→&nbsp; Dashboard</span></b>
    <br><br><br>

    <form method="POST">

      <input type="hidden" name="email" value="{{email}}" />

      <p class="" style="width:120%">You're about to log in as <b>{{email}}</b></p>

      {{^error}}
      <p style="width:120%">You can enter your password below or <input type="submit" class="link" name="reset" value="reset your password"> if you've forgotten it.</p>
      {{/error}}

      {{#error}}
      <p style="width:120%" class="box red">That was not your password. Would you like to <input type="submit" class="link" name="reset" value="reset your password">?</p>
      {{/error}}

      <br>

    </form>

    <form method="POST">

      <label>Your password:</label>
      <input type="hidden" name="email" value="{{email}}" />
      <input type="password" autofocus name="password" value="" />
      <br>
      <input type="submit" class="submit button" value="Log in" />
    </form>

    {{> footer}}

  </body>
</html>