<html>
  {{> head}}
  <body>
        <br />
    <br />
    <div class="nav">
     <a id="logo" href="/">Blot</a>
     <a href="" ><span>Log in</span></a>
      <span style="margin: 0 0.5em 0 -1em">→</span>
      <span style="color:black;">Password</span>
    </span>
    </div>
    <br />


    <form method="POST">

      <input type="hidden" name="email" value="{{email}}" />

      <p style="width:120%">Welcome! You're about to log in as: <b>{{email}}</b></p>

      {{^error}}
      <p style="width:120%">You can enter your password below or <input type="submit" class="link" name="reset" value="reset your password"> if you've forgotten it.</p>
      {{/error}}

      {{#error}}
      <p style="width:120%" class="box red">That was not your password. Would you like to <input type="submit" class="link" name="reset" value="reset your password">?</p>
      {{/error}}

      <br>

    </form>

    <form method="POST">

      <label>Your password:</label>
      <input type="hidden" name="email" value="{{email}}" />
      <input type="password" autofocus name="password" value="" />
      <br>
      <input type="submit" class="submit button" value="Log in" />
    </form>
  </body>
</html>