<h1>Privacy policy</h1>

<p>Do not store sensitive information on Blot.</p>

<p>The contents of Blot's folder are public, hosted on Blot's servers and can be accessed by visitors to your blog.</p>

<p>Blot does not store your payment information. Blot uses <a href="http://stripe.com">Stripe</a> to process subscription payments.</p>

<p>Blot does not and never will show ads. Blot does not and and never will share your usage data with third parties unless compelled by law.</p>

<p>Blot stores a Dropbox access token which can be used to read and write to Blot's folder in your Dropbox. You can revoke Blot's access at any point on <a href="https://www.dropbox.com/account">Dropbox's settings page</a>.</p>

<p>You can disable your Blot account at any point.</p>

<p>You can <a href="/contact">contact me</a> to request the removal of all your account's data. It is not possible to remove your data from Blot's daily database backups, which are stored for 6 months.</p>

<p>Wherever possible, Blot uses SSL.</p>

<p><span class="box yellow">If you spot a security breach, please <a href="/contact">report it to me</a> discreetly. If there is a security breach, I promise to disclose it on <a href="http://twitter.com/Blot__">Twitter</a>.</span></p>