{{> head}}
{{> header}}

<div class="w-right-offset">

  <div class="measure pr5 mb4">

    {{#error}}
    <div class="red mv3" style="margin:-0.6rem;border:none">{{error}}</div>    
    {{/error}}

    {{^error}}
    <div class="yellow mv3" style="margin:-0.6rem;border:none">Success! I just sent you a receipt.</div>
    {{/error}}
    
    {{^change_email}}
    </div>
    <div class="measure mt4 mb3">
    You’re about to create an account for <b>{{email}}</b>. Want to <a href="?change_email=true">use a different email address</a>?
    </div>
    <div class="measure pr5 mb4">    
    {{/change_email}}
  </div>
  <form style="max-width:18rem" method="POST" action="?_csrf=">

    {{^change_email}}
    <input type="hidden" name="email" value="{{email}}" />
    {{/change_email}}

    {{#change_email}}
    <label class="db pt3 pb1" for="email">Your email address</label>
    <input class="w-100 mb1 br2 pa2 ba b--black-30" type="text" size="20" id="email" class="email" name="email" value="{{email}}" autofocus/>
    {{/change_email}}

    <label class="db pt3 pb1" for="email">Choose a password</label>
    <input class="w-100 mt1 mb3 br2 pa2 ba b--black-30" id="password" type="password" name="password" autofocus/>

    <input type="submit"  class="sans-serif submit button pv2 ph4 mt4" style="position:relative;top:-4px" value="Create your account"  />
    </form>
{{> footer}}