<html>
  {{> head}}
  <body>
        <br />
    <br />
    <div class="nav">
     <a id="logo" href="/">Blot</a>
     <span>
      <span style="color:black">Sign up</span>
      <span style="width:1.5em;display:inline-block;text-align:center">→</span>
      Connect to Dropbox
    </span>
    </div>
    <br />


    <form method="POST">

      {{#error}}
      <p style="width:120%" class="box red">{{error}}</p>
      {{/error}}

      {{^error}}
        <p style="width:120%" class="box yellow">Success! I just sent you a receipt.</p>
      {{/error}}


      {{^change_email}}
      <input type="hidden" name="email" value="{{email}}" />

      <p style="width:130%">You're about to create an account for <b>{{email}}</b>. Want to <a href="?change_email=true">use a different email address</a>?</p>
      <br />

      {{/change_email}}

      {{#change_email}}
      <label>Your email address:</label>
      <input type="text" name="email" value="{{email}}" autofocus />
      <br />
      <br />
      {{/change_email}}

      <label>Choose a password:</label>
      <input type="password" name="password" value="" autofocus />
      <br />
      <br />
      <input type="submit" class="submit button" value="Create your account" />
    </form>
  </body>
</html>