<html>
  {{> head}}
  <body style="margin-top:1.5em">


    <nav style="background:none;box-shadow:none">
      <a href="/" id="logo">Blot is a blogging platform</a>
    </nav>

    Sign up <span style="color:#aaa">&nbsp;→&nbsp; Connect to Dropbox</span></b>
    <br><br><br>
    
    <form method="POST">

      {{#error}}
      <p style="width:120%" class="box red">{{error}}</p>
      {{/error}}

      {{^error}}
        <p style="width:120%" class="box yellow">Success! I just sent you a receipt.</p>
      {{/error}}


      {{^change_email}}
      <input type="hidden" name="email" value="{{email}}" />

      <p style="width:130%">You're about to create an account for <b>{{email}}</b>. Want to <a href="?change_email=true">use a different email address</a>?</p>
      <br />

      {{/change_email}}

      {{#change_email}}
      <label>Your email address:</label>
      <input type="text" name="email" value="{{email}}" autofocus />
      <br />
      <br />
      {{/change_email}}

      <label>Choose a password:</label>
      <input type="password" name="password" value="" autofocus />
      <br />
      <br />
      <input type="submit" class="submit button" value="Create your account" />
    </form>
  </body>
</html>