{{> head}}
{{> header}}

<div class="w-right-offset">

  <div class="mb4" style="max-width:416px">
    A blog costs <span class="yellow">{{price}} per year</span>. You can cancel at any time. Hosting and support is included. There are no ads. You must agree to the <a href="/terms">terms of use</a> and  <a href="/privacy">privacy policy</a>.
  </div>

  <div class="red mv3 measure-narrow" id="error" style="display:none"></div>

  {{#error}}
  <div class="red mv3 measure-narrow">{{error}}</div>    
  {{/error}}

  <form style="max-width:18rem" method="POST" action="?_csrf=">

    <label class="db pt3 pb1" for="email">Your email address</label>
    <input class="w-100 mb2 br2 pa2 ba b--black-30" type="text" size="20" id="email" class="email" name="email" autofocus/>

    <label class="db pt3 pb1" for="number">Card number 
      <span class="control-tool">
        <span class="lock"></span>
        <span class="tooltip">
          Blot does not store your card details. Stripe processes your payment.
        </span>
      </span>
    </label>
    <input class="w-100 mb2 br2 ba b--black-30"  type="text"size="20" id="number" data-stripe="number" name="number" />

    <div>

      <div class="fl pr3" style="width:65%;">
        <label class="pt3 db pb1" for="month">Expiration date</label>
        <input style="width:43%;" id="month" class="month di mb2 tc fl pa2 ph3 ba b--black-30" name="exp-month" maxlength="2" placeholder="MM" type="text" size="2" data-stripe="exp-month"/>
        <input style="width:57%;" class="year di tc pa2 mb2 ph3 fl ba b--black-30" name="exp-year" maxlength="4" placeholder="YYYY" type="text" size="4" data-stripe="exp-year"/>
      </div>

      <div class="fl pl3" style="width:35%;">
        <label class="pt3 db pb1" for="cvc">CVC
          <span class="control-tool">
            <span class="help-icon">?</span>
            <span class="tooltip">
            The CVC is the 3- or 4-digit code on your card, separate from the 16-digit number.
            </span>
          </span>
        </label>
        <input class="di w-100 mb2 tc br2 pa2 ba b--black-30" type="text" size="4" data-stripe="cvc" id="cvc" name="cvc"/>
      </div>

      <div class="cf"></div>
    </div>

    <input type="submit" class="sans-serif submit button pv2 ph4 mt4" style="position:relative;top:-4px" value="Submit payment"  />
    <dots><dot></dot> Processing</dots>
    
    <input type="hidden" class="stripeToken" name="stripeToken" />
  </form>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
// This identifies your website in the createToken call below
if (typeof Stripe !== 'undefined') Stripe.setPublishableKey('{{stripe_key}}');
</script>
{{> footer}}
