{{> head}}
{{> header}}

<div class="">

<div class="w-right-offset  fl ">
  <div class="measure">
  <ol class="mb3" style="margin-left:-1rem">
        <li class="mb3 pl3">You must not use Blot to break the laws of the State of Washington in the USA.</li>
        <li class="mv3 pl3">Blot reserves the right to terminate your account without cause.</li>

        <li class="mv3 pl3">Blot charges an annual fee in USD. Blot will close your account if your payment is late by more than 30 days. You can <a href="/account/cancel">cancel your subscription</a> at any time. </li>
        <li class="mv3 pl3"><span class="db yellow">You agree to indemnify and hold harmless Blot from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of Blot.</span></li>
      </ol>
    </div>
  </div>
</div>

{{> footer}}