<h1>Terms of use</h1>
<style type="text/css">ol {padding-left:1.5em;width:100%;list-style: upper-roman }ol li {margin: 1em 0;padding-left: 0.5em}</style>
<ol>
<li>You must not use Blot to break the laws of the State of Washington in the USA.</li>
<li>Blot reserves the right to terminate your account immediately and without cause.</li>
<li>Blot charges an annual fee. You can <a href="/account/cancel">cancel your subscription</a> at any time. Blot will disable your account if your payment is late by more than 30 days.</li>
<li class="yellow">You agree to indemnify and hold harmless Blot from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of Blot.</li>
</ol>