<h1>Terms of use</h1>
<p>Don't use Blot to publish material which is illegal in the state of Washington, USA.</p>
<p>You understand that the contents of Blot's folder are public, hosted on Blot's servers and can be accessed by visitors to your blog.<p>
<p>Blot can terminate your account immediately and without cause.</p>
<p>You will pay a subscription fee annually. You can <a href="/account">cancel your subscription</a> at any time.</p>
<p>If your fee is late by more than 4 weeks, Blot will disable your account until your payment arrives.</p>
<p><span class="box yellow">You agree to indemnify and hold harmless Blot from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of Blot.</p>