{{> head}}
{{> header}}
<style type="text/css">

p, ul {position: relative;margin: 0;padding-left:1.8rem}

hr {margin: 3rem 0}

p:before {
  content: "";
  width: 15px;height: 15px;
  box-sizing: border-box;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0.3rem;
}


ul {list-style-type: circle;}
* + p {margin-top: 1.5rem}

li {list-style-type: none;position: relative;}
li:before {content: "–";position: absolute;left: -1.4rem;color: #000}

.check {position: absolute;left: 1px;top: 6px}
.check:before,
.check:after {content: "";
    background-color: #000;
    content: '';
    height: 2px;
    left: 2px;
    position: absolute;
    top: 6px;
    transform: rotate(45deg);
    width: 4px;
    }

    .check:after {
    left: 3px;
    top: 5px;
    transform: rotate(-45deg);
    width: 9px;
    }
</style>

<div class="w-right-offset mt2 fl pt4 mt4">
  <div class="measure">
    <div class="mb5">The lists below give you a idea of what I’m working on. I tend to announce significant news on <a href="https://twitter.com/blot__">Blot’s Twitter account</a>. Please don’t hesitate to <a href="/contact">contact me</a> if you have any questions.</div>
  </div>

</div>
  



  <div class="w-left fl pr4">

    <div class="mv3 bb pb3 b--black">Done</div>

    {{#commits}}
    <p class="done"><span class="check"></span>{{message}}<br><a href="https://github.com/davidmerfield/Blot/commit/{{hash}}" style="color:#aaa;border:none">{{date}}</a></p>
    {{/commits}}
</div>

  <div class="w-right fl pr4">
  
    <div class="mv3 bb pb3 b--black">To do</div>

    {{{todo}}}
  </div>

  <div class="cf"></div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
{{> footer}}