<h1>Get started</h1>

<p>You can fork an editable copy of an existing template on the <a href="/settings/template">Template page</a> of your blog’s dashboard. You can make changes to a template using the online editor, or you can edit the template’s source files locally from your blog’s folder.</p>

<h2>Becoming proficient</h2>

<p>After you have browsed the developer documentation, consider forking a copy of one of Blot's templates and reading its source code.</p>

<p class="tip">
  TIP: You can inspect the JSON data used to render a template if you append the query string <code>?debug=true</code> to any URL on your blog.
</p>