{{^hidebreadcrumbs}}
<div id="breadcrumbs">
  {{#breadcrumbs}}
  <a href="{{{url}}}">{{ label }}</a> {{^last}} <span style="color:var(--border-color)">&puncsp;/&puncsp;</span> {{/last}}
  {{/breadcrumbs}}
</div>
<br />
{{/hidebreadcrumbs}}

<style>

  #breadcrumbs a {
  color: var(--light-text-color);
  font-size: 16px;

  text-decoration: none;
  }
  #breadcrumbs a:hover {
  color: var(--text-color);
  }


  {{#user}}
  #breadcrumbs a:first-child {
  padding-left: 1em;}

  #breadcrumbs a {
    padding: 0.5em 0.2em;
    display: inline-block;
    font-size: var(--large-font-size);
  }

  {{/user}}
</style>