#breadcrumbs-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 2em;
}

#breadcrumbs {
  min-width: 0;
  display: flex;
  align-items: center;
}

#breadcrumbs a {
  max-width: 300px;
  overflow: hidden;
  color: var(--medium-text-color);
  text-decoration: none;
  transition: color 0.2s;
}

#breadcrumbs .breadcrumb-item {
  display: flex;
  align-items: center;
  position: relative;
}

#breadcrumbs .breadcrumb-separator {
  color: var(--border-color);
  font-size: 0.75em;
  margin: 0 0.4em;
  position: relative;
  top: 0.05em;
}

#breadcrumbs .breadcrumb-separator:last-child {
  display: none;
}

#breadcrumbs .breadcrumb-item > .icon-small-chevron-right {
  display: none;
  color: var(--medium-text-color);
}

#breadcrumbs a:hover {
  color: var(--accent-color);
}

@media (max-width: 700px) {
  #breadcrumbs .breadcrumb-separator {
    display: none;
  }

  #breadcrumbs .breadcrumb-item {
    display: none;
  }

  #breadcrumbs .breadcrumb-item:nth-last-of-type(2) {
    display: flex;
  }

  #breadcrumbs .breadcrumb-item:nth-last-of-type(2) a {
    max-width: none !important;
    overflow: visible !important;
    white-space: normal !important;
    width: 100%;
    padding-left: 1.5em;
  }

  #breadcrumbs .breadcrumb-item:nth-last-of-type(2) > .icon-small-chevron-right {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
}
