<div class="sub-header" style="padding: 2em 1em">

  <div class="menu-links" >

    <a href="/how">Documentation</a>
    <a href="/examples">Examples</a>
    <a href="/questions">Questions</a>
    <a href="/about">About</a>
    <a href="/contact">Support</a>
  </div>
</div>

<style type="text/css">
 .sub-header a {
    display: block;
    color: var(--text-color);
font-size: 24px}
    .sub-header .menu-links a {
        color: var(--light-text-color)
    }
    .sub-header .menu-links a:hover {
        color: var(--dark-border-color)
    }
  </style>