<div class="sub-header" style="max-width: 800px;margin: 0 auto;display:flex;justify-content: space-between;font-size: 20px;padding: 2em 0">
    <a href="/" style="justify-content: center;font-weight:bold">Blot</a> 

  <div class="menu-links" >

    <a href="/how">Documentation</a>
    <a href="/examples">Examples</a>
    <a href="/questions">Questions</a>
    <!-- <a href="/news">News</a> -->
    <a href="/about">About</a>
    <a href="/contact">Support</a>
  </div>
</div>
<style type="text/css">
 .sub-header a {
    color: #000}
    .sub-header .menu-links a {
        opacity: 0.5;
    }
  </style>