<div style="padding:2rem 0;margin:1rem 0;border-top: 1px solid var(--border-color);border-bottom:1px solid var(--border-color)">
  <p style="margin: 0 0 12px;color:var(--light-text-color);font-size: 14px;">
    
    <a href="/updates" style="font-weight:600;color:var(--light-text-color);text-decoration: none;">Newsletter</a><br>Get updates on Blot’s latest features and changes. Delivered every three months.
<form action="/news/sign-up" method="POST" style="margin:0;display: flex; align-items: flex-end;max-width: 580px;">
        <input type="text" required="" id="email" name="email" placeholder="Email" style="font-size: 14px;">
    <input style="
        flex-basis: 25%;
        width: auto;
        margin: 0;
        font-size: 14px;
        border-radius: 0 4px 4px 0;
        padding: 0 1em;
        line-height: 39px;
        margin-bottom: 2px;
        background-color: var(--light-background-color);
        color: var(--accent-color);
      " type="submit" value="Subscribe">
  </form>
</div>
</div>

<footer style="max-width: 1060px;margin: 0 auto">
  <ul>
    <li><a href="/feedback">Feedback</a></li>
    <li><a href="/status">Status</a></li>
    {{#sourceFile}}
    <li><a href="https://github.com/davidmerfield/Blot/tree/master{{{sourceFile}}}">Edit this page</a></li> 
    {{/sourceFile}}
    <li><a href="/updates">Updates</a></li>
    <li><a href="/support" >Support</a></li>
  </ul>
  <ul>
    <li><a href="/contact" >Contact</a></li>
    <li><a href="/terms" >Terms of use</a></li>
    <li><a href="/privacy" >Privacy policy</a></li>
  </ul>
</footer>
<script defer src="{{#cdn}}/documentation.min.js{{/cdn}}"></script>
{{#user}}
<script defer src="{{#cdn}}/dashboard.min.js{{/cdn}}"></script>
{{/user}}