<footer style="max-width: 1060px;margin: 0 auto">
  <ul>
    <li><a href="/feedback">Feedback</a></li>
    {{#sourceFile}}

 
    <li><a href="https://github.com/davidmerfield/Blot/tree/master{{{sourceFile}}}">
    Edit this page
    </a></li> 

  {{/sourceFile}}

  <li><a href="/status">Status</a></li>
  </ul>
  <ul>
    <li><a href="/contact" >Contact</a></li>
    <li><a href="/terms" >Terms of use</a></li>
    <li><a href="/privacy" >Privacy policy</a></li>
  </ul>
</footer>
<script defer type="text/javascript" src="{{#cdn}}/documentation.min.js{{/cdn}}"></script>
{{#user}}
<script defer type="text/javascript" src="{{#cdn}}/dashboard.min.js{{/cdn}}"></script>
{{/user}}