<meta charset="utf-8" />
{{#cdnURL}}
<link rel="preconnect" href="{{{cdnURL}}}" />
{{/cdnURL}}
<title>{{ title }}{{^hide_title_suffix}} - Blot{{/hide_title_suffix}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="{{ description }}" />
<link rel="icon" sizes="180x180" href="{{#cdn}}/favicon-180x180.png{{/cdn}}" />
<link rel="apple-touch-icon" href="{{#cdn}}/favicon-180x180.png{{/cdn}}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{#cdn}}/favicon-32x32.png{{/cdn}}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{#cdn}}/favicon-16x16.png{{/cdn}}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{{#cdn}}/css.min.css{{/cdn}}" />
{{#cookie_redirect}}
<meta http-equiv="refresh" content="0;URL='{{{cookie_redirect}}}'" />
<script type="text/javascript">
  window.location = "{{{cookie_redirect}}}";
</script>
{{/cookie_redirect}}
