<style>
  .header a svg {width:1.5em;fill: var(--text-color);
    transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
  stroke: var(--text-color)}
  .header a:hover {color: var(--accent-color);}
  .header a:hover svg {fill: var(--accent-color);stroke: var(--accent-color);}
</style>

<div
  class="header"
  style="
    padding: 1em 2em;
  ">
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
      margin: 0 auto;
    ">
          <a href="/" style="justify-content: center;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 30"><path d="M35.1 13.3s-2.3-2.4-6.7-2.4H7.6c-4.4 0-6.7 2.4-6.7 2.4" fill="none" stroke-width="1.75" stroke-miterlimit="10"/><path stroke-width="0" d="M15.1 2.8l2.1 1.6.5.4H33c.7 0 1.2.6 1.2 1.2v21c0 .7-.6 1.2-1.2 1.2H3c-.7 0-1.2-.6-1.2-1.2V4c0-.7.6-1.2 1.2-1.2h12.1m.7-1.8H3a3.01 3.01 0 0 0-3 3v23a3.01 3.01 0 0 0 3 3h30a3.01 3.01 0 0 0 3-3V6a3.01 3.01 0 0 0-3-3H18.3l-2.5-2z"/></svg></a> 

     
      
      

    <div style="width: 33.333%;display: flex;justify-content: flex-end;" class="cta">
      <a class="signed-in" href="/dashboard">Your sites</a>
      <a class="signed-out" href="/log-in">Log in</a>
      <a class="signed-out" href="/sign-up">Sign up</a>
      <script type="text/javascript">
        if (document.cookie.indexOf("signed_into_blot") > -1) {
          document.querySelectorAll(".signed-out").forEach(function (node) {
            node.style.display = "none";
          });
          document.querySelectorAll(".signed-in").forEach(function(node){
            node.style.display = "block";
          })
        }
      </script>
    </div>
  </div>
</div>

<style type="text/css">
  .header a {
  color: black}
  
  .signed-in {
    display: none;
  }

  .menu-links a {
    margin: 0 0.4em;
  }

  .cta a {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-left: 12px;
    padding: 4px 12px
  }
</style>