<div class="header" >
  <a href="/" class="lig" style="font-size: 22px;margin-left: 1rem;" >
<style type="text/css">
  svg#logo {fill:black;width: 24px;height: 24px;vertical-align: sub;margin-right: 6px}
  svg#logo .st0{fill:none;stroke:black;stroke-width:1.75;stroke-miterlimit:10;}
  a:hover #logo {fill: var(--accent-color);}
  a:hover #logo .st0 {stroke: var(--accent-color);}
</style>
<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 36 30" style="enable-background:new 0 0 36 30;" xml:space="preserve">
<path class="st0" d="M35.1,13.3c0,0-2.3-2.4-6.7-2.4H7.6c-4.4,0-6.7,2.4-6.7,2.4"/>
<g>
  <path d="M15.1,2.8l2.1,1.6l0.5,0.4h0.6H33c0.7,0,1.2,0.6,1.2,1.2v21c0,0.7-0.6,1.2-1.2,1.2H3c-0.7,0-1.2-0.6-1.2-1.2V4
    c0-0.7,0.6-1.2,1.2-1.2H15.1 M15.8,1H3C1.3,1,0,2.4,0,4v23c0,1.6,1.3,3,3,3h30c1.7,0,3-1.4,3-3V6c0-1.6-1.3-3-3-3H18.3L15.8,1
    L15.8,1z"/>
</g>
</svg>
<span style="">Blot</span>

</a>

  <div style="flex-grow:1">
  </div>
  {{> header-buttons}}
</div>    