<div class="header-buttons" style="flex-basis:300px;margin-left: calc(var(--spacing)*3)">
    <a id="signed-in" href="/dashboard" style="border:none;background: var(--dark-accent-color);border-radius: 10px;color:white;display: none;">Open your dashboard</a>
    <a class="signed-out" href="/log-in">Log in</a>
    <a class="signed-out" href="/sign-up">Sign up</a>
    <script type="text/javascript">
      console.log(document.cookie);

      if (document.cookie.indexOf('signed_into_blot') > -1) {

        document.querySelectorAll('.signed-out').forEach(function(node){
          node.style.display = 'none';
        })
        document.getElementById('signed-in').style.display = 'block';

      } 
    </script>
</div>