<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
<meta name="description" content="{{ description }}" />
<title>{{ title }}{{^hide_title_suffix}} - Blot{{/hide_title_suffix}}</title>
{{#cdnURL}}
<link rel="preconnect" href="{{{cdnURL}}}" />
{{/cdnURL}}
<link rel="icon" sizes="180x180" href="{{#cdn}}/favicon-180x180.png{{/cdn}}" />
<link rel="stylesheet" type="text/css" href="{{#cdn}}/documentation.min.css{{/cdn}}" />
{{#selected.dashboard}}
<link rel="stylesheet" type="text/css" href="{{#cdn}}/dashboard.min.css{{/cdn}}" />
{{/selected.dashboard}}
{{#cookie_redirect}}
<meta http-equiv="refresh" content="0;URL='{{{cookie_redirect}}}'" />
<script type="text/javascript">
  window.location = "{{{cookie_redirect}}}";
</script>
{{/cookie_redirect}}
