 <div class="otp" style="flex-shrink:0;flex-grow:1;max-width:240px;margin: calc(var(--spacing)*2) 0 0 calc(var(--spacing)*3)">
   
  <style type="text/css">
    a.module-link {
      display:block;margin: 0;border:none;background:var(--module-background-color);padding:16px;border-radius: 10px;margin:16px 0
    }
    a.module-link:hover {
      background-color: rgba(0,0,0,0.03)
    }

    li.toc-list-item {padding: 0}
    .module {
      padding:16px;background:var(--module-background-color);border-radius: var(--large-border-radius);margin:16px 0
    }
 .module a {padding: 4px 6px;margin:0 -6px;display: block;border-radius: 4px}
     .module a:hover  {
            background-color: rgba(0,0,0,.03);

     }
  </style>
   





  