<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}
    {{> docs-header}}

    {{> breadcrumbs}}
    <section style="display: flex; min-height: 100vh">
      <section style="flex-basis: 240px; padding: 2rem; flex-shrink: 0">
        {{> sidebar}}
      </section>
      <section style="flex-grow: 1; padding: 2rem">
        {{> body}}

        {{#sourceFile}}

        <p>
          <a
            href="https://github.com/davidmerfield/Blot/tree/master{{{sourceFile}}}">
            Improve this page </a
          ><br />

          <a
            href="https://github.com/davidmerfield/Blot/commits/master{{{sourceFile}}}">
            Last updated {{ sourceFileUpdated }}
          </a>
        </p>

        {{/sourceFile}}

        {{^fullWidth}}
        {{> internal-sidebar}}
        {{/fullWidth}}
      </section>
    </section>
    {{> footer}}
  </body>
</html>
