<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}
    <div style="display: flex;">
    {{> docs-header}}
    <section style="width: 200px;flex-shrink: 0;padding:2em 2em 0 4em">

      {{> sidebar}}
    </section>

    <section style="padding: 2em 2em;">
      {{> breadcrumbs}}
      {{> body}}

      {{#sourceFile}}

      <p>
        <a
          href="https://github.com/davidmerfield/Blot/tree/master{{{sourceFile}}}">
          Improve this page </a
        ><br />

        <a
          href="https://github.com/davidmerfield/Blot/commits/master{{{sourceFile}}}">
          Last updated {{ sourceFileUpdated }}
        </a>
      </p>

      {{/sourceFile}}
    </section>
    {{> footer}}
  </div>
  </body>
</html>

