<li>
  <a
    style="border-top: none"
    class="{{ selected.howIndex }}"
    data-open="{{ selected.how }}"
    href="/how"
    >Documentation</a
  >
  <ul>
    <li>
      <a
        class="{{ selected.posts }}"
        data-open="{{ selected.posts }}"
        href="/how/posts"
        >Files and posts</a
      >
      <ul>
        <li><a class="{{ selected.pages }}" href="/how/pages">Pages</a></li>
        <li>
          <a class="{{ selected.metadata }}" href="/how/metadata">Metadata</a>
        </li>

        <!-- <li>
          <a class="{{ selected.markdown }}" href="/how/posts/markdown"
            >Markdown</a
          >
        </li>
        <li>
          <a class="{{ selected.layout - tags }}" href="/how/posts/layout-tags"
            >Layout</a
          >
        </li>
        <li>
          <a class="{{ selected.tex }}" href="/how/posts/tex">\(\TeX\)</a>
        </li>
        <li>
          <a class="{{ selected.embedding }}" href="/how/posts/embedding"
            >Embedding</a
          >
        </li>
        <li>
          <a class="{{ selected.citations }}" href="/how/posts/citations"
            >Citations</a
          >
        </li> -->
      </ul>
    </li>
    <li>
      <a
        class="{{ selected.sync }}"
        data-open="{{ selected.sync }}"
        href="/how/sync"
        >Sync your folder</a
      >
      <ul>
        <li>
          <a class="{{ selected.dropbox }}" href="/how/sync/dropbox">Dropbox</a>
        </li>
        <li><a class="{{ selected.git }}" href="/how/sync/git">Git</a></li>
        <li>
          <a class="{{ selected.google - drive }}" href="/how/sync/google-drive"
            >Google Drive</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        class="{{ selected.configure }}"
        data-open="{{ selected.configure }}"
        href="/how/configure"
        >Set up your site</a
      >
      <ul>
        <li>
          <a class="{{ selected.import }}" href="/how/configure/import"
            >Moving to Blot</a
          >
        </li>

        <li>
          <a class="{{ selected.domain }}" href="/how/configure/domain"
            >Domain</a
          >
        </li>
        <li>
          <a class="{{ selected.analytics }}" href="/how/configure/analytics"
            >Analytics</a
          >
        </li>
        <li>
          <a class="{{ selected.comments }}" href="/how/configure/comments"
            >Comments</a
          >
        </li>
        <li>
          <a class="{{ selected.redirects }}" href="/how/configure/redirects"
            >Redirects</a
          >
        </li>
        <li>
          <a
            class="{{ selected.link - format }}"
            href="/how/configure/link-format"
            >Link format</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        class="{{ selected.toolsIndex }}"
        data-open="{{ selected.tools }}"
        href="/how/tools"
        >Tools</a
      >
      <ul>
        <li>
          <a
            class="{{ selected.text - editors }}"
            href="/how/tools/text-editors"
            >Text editors</a
          >
        </li>
        <li>
          <a class="{{ selected.images }}" href="/how/tools/images">Images</a>
        </li>
        <li>
          <a class="{{ selected.automation }}" href="/how/tools/automation"
            >Automation</a
          >
        </li>
      </ul>
    </li>
  </ul>
</li>

<!-- <li>
  <a
    class="{{ selected.templatesIndex }}"
    data-open="{{ selected.templsates }}"
    href="/templates"
    >Templates</a
  >
  <ul>
    <li><a class="{{ selected.blog }}" href="/templates/blog">Blog</a></li>
    <li>
      <a class="{{ selected.photo }}" href="/templates/photo">Photo</a>
    </li>
    <li>
      <a class="{{ selected.magazine }}" href="/templates/magazine">Magazine</a>
    </li>
    <li>
      <a class="{{ selected.portfolio }}" href="/templates/portfolio"
        >Portfolio</a
      >
    </li>
    <li>
      <a class="{{ selected.reference }}" href="/templates/reference"
        >Reference</a
      >
    </li>
    <li>
      <a
        class="{{ selected.developers }}"
        data-open="{{ selected.developers }}"
        href="/templates/developers"
        ><span>Developers</span></a
      >
    </li>
  </ul>
</li> -->
<!-- <li>
  <a
    class="{{ selected.examples }}"
    data-open="{{ selected.examples }}"
    href="/examples"
    >Examples</a
  >
</li> -->
<li>
  <a
    class="{{ selected.questionsIndex }}"
    data-opens="{{ selected.questions }}"
    href="/questions"
    >Questions</a
  >
  <ul>
    <li>
      <a class="{{ selected.ask }}" href="/questions/ask">Ask a question</a>
    </li>
    <!-- <li><a class="{{selected.tags}}" href="/questions/tags">Tags</a></li> -->
  </ul>
</li>
<li><a class="{{ selected.news }}" href="/news">News</a></li>

<li>
  <a class="{{ selected.aboutIndex }}" data-open="{{ selected }}" href="/about"
    >About</a
  >
  <ul>
    <li>
      <a class="{{ selected.source - code }}" href="/about/source-code"
        >Source code</a
      >
    </li>
    <li>
      <a
        class="{{ selected.notes }}"
        href="/about/notes"
        data-open="{{ selected.notes }}"
        >Notes</a
      >
    </li>
    <li><a class="{{ selected.contact }}" href="/status">Status</a></li>
    <li><a class="{{ selected.contact }}" href="/notes">Notes</a></li>
    <li><a class="{{ selected.terms }}"href="/terms">Terms of use</li>
 <li><a class="{{ selected.privacy }}" href="/privacy">Privacy policy </li>
     <li>
      <a class="{{ selected.status }}" href="/about/status">Status</a>
    </li>
  </ul>
</li>
<li><a class="{{ selected.contact }}" href="/contact">Contact</a></li>

