<ul class="doc-nav" style="list-style: none;padding: 0 0 0 3rem;font-size: 15px;">
  <li>
    <a class="{{ selected.howIndex }}" href="/how">Getting started</a>
  </li>
  <li>
    <a
      class="{{ selected.syncIndex }}"
      data-open="{{ selected.sync }}"
      href="/how/sync"
      >Sync your folder</a
    >
    <ul>
      <li>
        <a class="{{ selected.dropbox }}" href="/how/sync/dropbox">Dropbox</a>
      </li>
      <li><a class="{{selected.git }}" href="/how/sync/git">Git</a></li>
      <li>
        <a class="{{selected.google-drive}}" href="/how/sync/google-drive"
          >Google Drive</a
        >
      </li>
    </ul>
  </li>
    <li>
      <a href="">Sub-folders</a>
      <ul>
        <li>
          <a class="{{ selected.pages }}" href="/how/posts/pages"
            >Pages</a
          >
        </li>
        <li>
          <a class="{{ selected.drafts }}" href="/how/posts/drafts"
            >Drafts</a
          >
        </li>
        <li>
          <a class="{{ selected.media }}" href="/how/posts/media"
            >Tags</a
          >
        </li>  
      </ul>
    </li>
    <li>
      <a
        class="{{ selected.postsIndex }}"
        data-open="{{ selected.posts }}"
        href="/how/posts"
        >Files</a
      >
      <ul>

       
        
          <li><a href="/how/posts/markdown">Markdown</a></li>
          
          <li><a href="/how/posts/images">Images</a></li>
     
          <li><a href="/how/posts/word-documents">Word Documents</a></li>
          
          <li><a href="/how/posts/google-docs">Google Docs</a></li>
          
          <li><a href="/how/posts/bookmarks">Bookmarks</a></li>
     
          <li><a href="/how/posts/html">HTML</a></li>
     
           <li><a href="/how/posts/org">Org Mode</a></li>
        
         
      </ul>
    </li>
    <li>
      <a class="{{ selected.metadata }}" href="/how/posts/metadata"
        >Metadata</a
      >
    </li>
  
    <li>
      <a href="">Formatting</a>
      <ul>
        <li><a href="/how/posts/tex">\(\TeX\)</a> </li>
        <li><a href="/how/posts/layout-tags">Layout</a> </li>
        <li><a href="/how/posts/embedding">Embedding</a> </li>
        <li><a href="/how/posts/citations">Citations</a> </li>
        <li><a href="/how/posts/wikilinks">Wikilinks</a> </li>
      </ul>
    </li>
    
    
    
    <li>
      <a
        class="{{ selected.configureIndex }}"
        data-open="{{ selected.configure }}"
        href="/how/configure"
        >Set up your site</a
      >
      <ul>
        
        <li>
          <a class="{{ selected.import }}" href="/how/configure/import"
            >Import</a
          >
        </li>
        <li>
          <a class="{{ selected.domain }}" href="/how/configure/domain"
            >Domain</a
          >
        </li>
        <li>
          <a class="{{ selected.analytics }}" href="/how/configure/analytics"
            >Analytics</a
          >
        </li>
        <li>
          <a class="{{ selected.comments }}" href="/how/configure/comments"
            >Comments</a
          >
        </li>
        <li>
          <a class="{{ selected.redirects }}" href="/how/configure/redirects"
            >Redirects</a
          >
        </li>
        <li>
          <a
            class="{{ selected.link - format }}"
            href="/how/configure/link-format"
            >Link format</a
          >
        </li>
      </ul>
    </li>
    

    </ul> 
    <style>
      .doc-nav .selected {
        text-decoration: none;
        color: var(--text-color)
      }
    </style>