nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .menu {
    backdrop-filter: blur(24px);
    background-color: oklab(0.946105 -1.19209e-7 0 / 0.5);
    border-radius: var(--border-radius);
    display: flex;
    --link-spacing: 0.6rem
}

nav .menu a {
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.2s ease;
    padding: var(--link-spacing);
}

nav .menu a.selected {
    color: var(--light-text-color);
}

nav .menu a .icon-folder {
    position: relative;
    top: -0.1em;
    margin-right: 0.2rem;
}

nav .menu a:hover {
    color: var(--light-text-color);
}

nav .menu a:first-child {
    padding-left: calc(var(--link-spacing) * 2);
}

nav .menu a:last-child {
    padding-right: calc(var(--link-spacing) * 2);
}

nav .cta a {
    font-size: var(--small-font-size);
    font-weight: 500;
    padding: 0.33rem 0.666rem;
    border-radius: 2rem;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--dark-border-color);
    transition: opacity 0.2s ease;
}

nav .cta a.main {
    background-color: var(--text-color);
    color: var(--background-color);
    border: 1px solid var(--text-color);
}

nav .cta a:hover {
    opacity: 0.6;
}

nav .cta a.main:hover {
    opacity: 0.8;
}
