<section class="navigation">
    <ul class="navigation-primary">
        <li class="minor signed-out">
            <a href="/templates" class="{{selected.templates}}">
                Templates
            </a>
        </li>
        <li class="minor signed-out">
            <a href="/examples" class="{{selected.examples}}">
                Examples
            </a>
        </li>
        <li class="minor signed-out">
            <a href="/pricing" class="{{selected.pricing}}">
                Pricing
            </a>
        </li>
        <li class="minor">
            <a href="/how" class="{{selected.how}}">
                Documentation
            </a>
        </li>
    </ul>
</section>
