<section class="navigation">
    <ul>
        <li class="minor signed-out">
            <a href="/" class="{{selected.index}}">
                <span class="icon-folder"></span>Blot
            </a>
        </li>
        <li class="minor signed-in">
            <a href="/sites" class="{{selected.dashboard}}">
                <span  class="icon-folder"></span>Sites
            </a>
        </li>
        <li class="minor break">
            <a href="/how" class="{{selected.how}}">
                <span class="icon-book"></span>Documentation
            </a>
        </li>
        <li class="minor">
            <a href="/templates" class="{{selected.templates}}">
                <span class="icon-website"></span>Templates
            </a>
        </li>
        <li class="minor ">
            <a href="/support" class="{{selected.support}}">
                <span class="icon-support"></span>Support
            </a>
        </li>
        <li class="minor">
            <a href="/questions" class="{{selected.questions}}">
                <span class="icon-questions" style="-webkit-transform: scale(-1, -1);
                -moz-transform: scale(-1, -1);
                -o-transform: scale(-1, -1);
                transform: scale(-1, 1);
              }"></span>Questions
            </a>
        </li>
        <li class="minor ">
            <a href="/examples" class="{{selected.examples}}">
                <span class="icon-bookmark"></span>Example sites
            </a>
        </li>
        <li class="minor break">
            <a href="/pricing" class="{{selected.pricing}}">
                <span class="icon-pricing"></span>Pricing
            </a>
        </li>    
        <li class="minor ">
            <a href="/tools" class="{{selected.tools}}">
                <span class="icon-tool"></span>Tools
            </a>
        </li>
        <li class="minor">
            <a href="/about" class="{{selected.about}}">
                <span class="icon-about"></span>About
            </a>
        </li>
        <li class="minor">
            <a href="/news" class="{{selected.news}}">
                <span class="icon-updates"></span>Updates
            </a>
        </li>
        <li class="minor">
            <a href="/developers" class="{{selected.developers}}">
                <span class="icon-developers"></span>Developers
            </a>
        </li> 
    </ul>
</section>