<header class="header public-header">
  <div class="header-inner">
    <a class="site-brand {{selected.index}}" href="/">
      <svg class="site-brand-logo" xmlns="http://www.w3.org/2000/svg" width="29" height="23" viewBox="0 0 29 23" fill="none" aria-hidden="true">
        <path d="M1 5.25V3.5C1 2.11929 2.11929 1 3.5 1H9.15C9.81274 1 10.4489 1.26339 10.9178 1.73223L13.1855 3.5H25.5C26.8807 3.5 28 4.61929 28 6V19.5C28 20.8807 26.8807 22 25.5 22H3.5C2.11929 22 1 20.8807 1 19.5V5.25Z" stroke="#006DF2" stroke-width="2" stroke-linejoin="round"/>
        <path d="M1 8H28" stroke="#006DF2" stroke-width="2" stroke-linecap="round"/>
      </svg>
      <span>Blot</span>
    </a>

    <input type="checkbox" id="navbar-toggle" aria-label="Toggle navigation">
    <label class="navigation-toggle" for="navbar-toggle" aria-controls="site-navigation">
      <span class="icon-menu" aria-hidden="true"></span>
      <span class="visually-hidden">Toggle navigation</span>
    </label>

    <nav class="site-navigation" id="site-navigation" aria-label="Main navigation">
      <div class="signed-out">
        {{> navigation}}
      </div>
      <div class="signed-in dashboard-navigation">
        {{> dashboard-navigation}}
      </div>
    </nav>

    <div class="call-to-action">
      {{^user}}
      <a class="signed-out" href="/sites/log-in">Log in</a>
      <a class="signed-out" href="/sites/sign-up">Sign up</a>
      {{/user}}
      <a class="signed-in" href="/sites">Dashboard</a>
    </div>
  </div>
</header>
