<style type="text/css">
  .paginator {
    display: flex;
    align-items: baseline;
    padding: 0 0 calc(var(--spacing)*3) 0;
  }

  .paginator a {
    line-height: 1;
    border: 1px solid var(--dark-border-color);
    border-radius: 4px;
    padding: calc(var(--spacing)*0.5) calc(var(--spacing));
    color: var(--accent-color);
    margin-right: var(--spacing)
  }
  .paginator a.true {
    background-color: var(--accent-color);
    color:white;
  }

    .paginator a:hover {border-color: var(--accent-color)}

</style>

{{#paginator}}
<div class="paginator">

  {{#previous_page}}
    <a href="{{{base}}}/page/{{previous_page}}">Previous</a>
  {{/previous_page}}

  {{#pages}}

    {{^elipsis}}
      <a class="{{current}}" href="{{{base}}}/page/{{page}}">{{page}}</a>
    {{/elipsis}}

    {{#elipsis}}
    <span style="margin-right: var(--spacing);">...</span>
    {{/elipsis}}
      
  {{/pages}}

  {{#next_page}}
    <a href="{{{base}}}/page/{{next_page}}">Next</a>
  {{/next_page}}


</div>
{{/paginator}}