<li>
  <a
    style="border-top: none;"
    class="{{selected.howIndex}}"
    data-open="{{selected.how}}"
    href="/how"
    >How to use Blot</a
  >
  <ul>
    <li>
      <a
        class="{{selected.posts-and-pages}}"
        data-open="{{selected.format}}"
        href="/how/posts-and-pages"
        >Posts and pages</a
      >
    </li>
    <li>
      <a
        class="{{selected.sync}}"
        data-open="{{selected.sync}}"
        href="/how/sync"
        >Sync your folder</a
      >
    </li>

    <li>
      <a
        class="{{selected.configure}}"
        data-open="{{selected.configure}}"
        href="/how/configure"
        >Configure your site</a
      >
    </li>
    <li>
      <a
        class="{{selected.tools}}"
        data-open="{{selected.tools}}"
        href="/how/tools"
        >Tools</a
      >
    </li>
  </ul>
</li>
<li>
  <a
    class="{{selected.templates}}"
    data-open="{{selected.templates}}"
    href="/templates"
    >Templates</a
  >
</li>
<li>
  <a
    class="{{selected.questions}}"
    data-open="{{selected.questions}}"
    href="/questions"
    >Questions</a
  >
</li>

<li>
  <a
    class="{{selected.about}}"
    data-open="{{selected.about}}"
    href="/about"
    >About</a
  >
</li>
<li><a class="{{selected.news}}" href="/news">News</a></li>

<li><a class="{{selected.contact}}" href="/contact">Contact us</a></li>
