
<li>
   <a style="border-top:none" class="{{selected.howIndex}}" data-open="{{selected.how}}" href="/how">How to use Blot</a>
   <ul>
<li>
         <a class="{{selected.posts}}" data-open="{{selected.format}}" href="/how/posts-and-pages">Posts and pages</a>
         <ul>
      <li><a class="{{selected.metadata}}" href="/how/metadata">Metadata</a></li>      
            <li><a class="{{selected.markdown}}" href="/how/posts-and-pages/markdown">Markdown</a></li>
            <li><a class="{{selected.layout-tags}}" href="/how/posts-and-pages/layout-tags">Layout</a></li>
            <li><a class="{{selected.tex}}" href="/how/posts-and-pages/tex">\(\TeX\)</a></li>
            <li><a class="{{selected.embedding}}" href="/how/posts-and-pages/embedding">Embedding</a></li>
            <li><a class="{{selected.citations}}" href="/how/posts-and-pages/citations">Citations</a></li>
         </ul>
      </li>       
      <li>
         <a class="{{selected.sync}}" data-open="{{selected.sync}}"  href="/how/sync">Sync your folder</a>
         <ul>
            <li><a class="{{selected.dropbox}}" href="/how/sync/dropbox">Dropbox</a></li>
            <li><a class="{{selected.git}}" href="/how/sync/git">Git</a></li>
         </ul>
      </li>
      
      <li>
         <a class="{{selected.configure}}" data-open="{{selected.configure}}" href="/how/configure">Configure your site</a>
         <ul>
            <li><a class="{{selected.domain}}" href="/how/configure/domain">Domain</a></li>
            <li><a class="{{selected.analytics}}" href="/how/configure/analytics">Analytics</a></li>
            <li><a class="{{selected.comments}}" href="/how/configure/comments">Comments</a></li>
            <li><a class="{{selected.redirects}}" href="/how/configure/redirects">Redirects</a></li>
            <li><a class="{{selected.link-format}}" href="/how/configure/link-format">Link format</a></li>
         </ul>
      </li>
      <li>
         <a class="{{selected.tools}}" data-open="{{selected.tools}}" href="/how/tools">Tools</a></li>
   </ul>
</li>
<li>
   <a class="{{selected.templatesIndex}}" data-open="{{selected.templates}}" href="/templates">Templates</a>
   <!-- <ul>
      <li><a class="{{selected.blog}}" href="/templates/blog">Blog</a></li>
      <li><a class="{{selected.photo}}" href="/templates/photo">Image</a></li>
      <li><a class="{{selected.magazine}}" href="/templates/magazine">Magazine</a></li>
      <li><a class="{{selected.magazine}}" href="/templates/portfolio">Portfolio</a></li>
      <li><a class="{{selected.reference}}" href="/templates/reference">Documentation</a></li>
   </ul> -->
</li>
<li><a class="{{selected.questionsIndex}}" data-open="{{selected.questions}}" href="/questions">Questions</a>
   <!-- <ul>
            <li><a class="{{selected.ask}}" href="/questions/ask">Ask a question</a></li>
            <li><a class="{{selected.tags}}" href="/questions/tags">Tags</a></li>
         </ul>
 -->
</li>

<li>
   <a class="{{selected.aboutIndex}}" data-open="{{selected.about}}" href="/about">About</a>
      </li>
      <li><a class="{{selected.news}}" href="/about/news">News</a></li>
<!--       <li><a class="{{selected.source-code}}" href="/about/source-code">Source code</a></li> -->
         <!--  <li>
         <a class="{{selected.notes}}" href="/about/notes" data-open="{{selected.notes}}">Notes</a>
         
      </li> -->

<!--       <li >
         <a  class="{{selected.developers}}" data-open="{{selected.developers}}" href="/templates/developers"><span>Developer guide</span></a>
      </li> -->

<li><a class="{{selected.contact}}" href="/contact">Contact us</a></li>

