<nav>
   <ul class="sidebar">
     {{> sidebar-links}}
   </ul>
   {{#headers.length}}
   {{#show-on-this-page}}
   <section class="on-this-page">
      On this page
      <ul>
         {{#headers}}
         <li class="{{#first}}selected{{/first}}">
            <a href="#{{id}}" class="scroll" style="border-bottom: none;">{{text}}</a>
         </li>
         {{/headers}}
      </ul>
   </section>
   {{/show-on-this-page}}
   {{/headers.length}}

   {{^hide-on-this-page}}
   <div style="position: sticky;top:1em;padding:var(--spacing);margin:var(--spacing)">
    <span style="margin: 0;font-size:14px;color:#999;border:none">On this page</span>
    <div class="toc linked-list"></div>
   </div>
   {{/hide-on-this-page}}  
</nav>
