 <ul class="clients files">
     <li><a href="/how/posts/text-and-markdown"><nobr><span class="icon md"></span> &nbsp;
       <span class="a">Text and Markdown</span><span class="light">.txt&nbsp; .md&nbsp; .rtf</span></nobr></a></li>
     
     <li><a href="/how/posts/images"><nobr><span class="icon img"></span> &nbsp;<span class="a">Images</span></nobr><span class="light">.png&nbsp;&nbsp;.jpeg&nbsp;&nbsp;.gif</span></a></li>

     <li><a href="/how/posts/word-documents"><nobr><span class="icon txt"></span> &nbsp;<span class="a">Word Documents</span></nobr><span class="light">.docx &nbsp;.odt</span></a></li>
     
     <li><a href="/how/posts/bookmarks"><nobr><span class="icon webloc"></span> &nbsp;<span class="a">Bookmarks</span></nobr><span class="light">.webloc&nbsp;&nbsp;.url</span></a></li>

     <li><a href="/how/posts/html"><nobr><span class="icon html"></span> &nbsp;<span class="a">HTML</span></nobr><span class="light">.html <!-- &nbsp; .htm --></span></a></li>

      <li><a href="/how/posts/google-docs"><nobr><span class="icon txt"></span> &nbsp;<span class="a">Google Docs</span></nobr><span class="light">.gdoc</span></a></li>
     
      <li><a href="/how/posts/org"><nobr><span class="icon txt"></span> &nbsp;<span class="a">Org Mode</span></nobr><span class="light">.org</span></a></li>
     
   </ul>