<div class="sync-illustration" role="img" aria-label="{{#selected.dropbox}}Dropbox{{/selected.dropbox}}{{#selected.git}}Git{{/selected.git}}{{#selected.google-drive}}Google Drive{{/selected.google-drive}}{{#selected.icloud}}iCloud{{/selected.icloud}} syncs with Blot">
  {{#selected.dropbox}}
  <img class="sync-illustration-client" src="{{#cdn}}/images/sync/dropbox.svg{{/cdn}}" alt="" aria-hidden="true" />
  {{/selected.dropbox}}
  {{#selected.git}}
  <img class="sync-illustration-client" src="{{#cdn}}/images/sync/git.svg{{/cdn}}" alt="" aria-hidden="true" />
  {{/selected.git}}
  {{#selected.google-drive}}
  <img class="sync-illustration-client" src="{{#cdn}}/images/sync/google-drive.svg{{/cdn}}" alt="" aria-hidden="true" />
  {{/selected.google-drive}}
  {{#selected.icloud}}
  <img class="sync-illustration-client" src="{{#cdn}}/images/sync/icloud.svg{{/cdn}}" alt="" aria-hidden="true" />
  {{/selected.icloud}}
  <span class="icon-arrow-both sync-illustration-arrow" aria-hidden="true"></span>
  <img class="sync-illustration-logo" src="{{#cdn}}/images/logo.svg{{/cdn}}" alt="" aria-hidden="true" />
</div>
