<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}

    <div class="index-container">

      {{#entries}}
      <p class="index-row">
        <span  class="index-cell light">{{date}}</span>
        <span class="index-cell">
          <a href="{{{url}}}">{{title}}</a>
        </span>
      </p>
      {{/entries}}

    </div>

    <br /><Br />

      {{#pagination}}
      <p>

        {{#previous}}
        <span class="margin left">
          <a href="/page/{{previous}}">&larr; Newer posts</a>
        </span>
        {{/previous}}

        <span class="light" style="margin-right:30px">page {{current}} of {{total}}</span>

        {{#next}}
        <a href="/page/{{next}}">Older posts &rarr;</a>
        {{/next}}

      </p>
      {{/pagination}}
    </div>
    {{> footer}}
  </body>
</html>