<p
  style="
    margin: 0;
    color: grey; /*background:rgba(0,0,0,0.02);*/ /*border-bottom: 1px solid var(--light-border-color);*/
    padding-bottom: 16px;
    margin: -17px -25px 0;
    padding: 16px 24px;
    border-radius: 6px 6px 0 0;
  ">
  <strong style="display: block; color: #000">Sign up</strong
  ><span style="font-size: 14px">Create a blog</span>
</p>


<p style="margin: 24px 0 -8px">
  A blog costs <strong>{{ price }} per {{ interval }}</strong> and includes
  hosting and support. You can cancel at any point. You must agree to the
  <a href="/terms" style="color: inherit; text-decoration: underline"
    >terms of use</a
  >.
</p>

<noscript>
  <p class="error">
    <mark>Enable JavaScript to purchase an account.</mark> Payments are
    processed by Stripe without touching Blot's servers. This requires
    JavaScript.
  </p>
</noscript>

<form method="POST" style="margin-top: 2em">
  <div class="tabs">
    <span style="font-size:14px;color:rgb(68, 68, 68)">Payment method</span>
    <div>
   <input type="radio" id="card-radio" name="payment_method" value="card" checked>
    <label for="card-radio" style="cursor:pointer">Credit or Debit card</label>
  </div>
  <div>
    <input type="radio" id="paypal-radio" name="payment_method" value="paypal">
    <label for="paypal-radio" style="cursor:pointer">PayPal</label>
  </div>
   
<div id="card_method">

  {{#error}}
<p id="error" class="error">{{ error }}</p>
{{/error}}
{{^error}}
<p id="error" class="error" style="display: none"></p>
{{/error}}


        <p>
          <label for="email">Your email address</label>
          <input type="text" class="email" name="email" autofocus />
        </p>

        <p style="margin-bottom: 0">
          <label for="number"
            >Card number
            <em
              >Blot does not store your card details. Stripe processes your
              payment.</em
            >
          </label>
          <input type="text" data-stripe="number" name="number" />
        </p>

        <div style="display: flex; margin: 1em 0 1em 0">
          <div>
            <label for="month">Expiration date</label>
            <div style="display: flex">
              <input
                name="exp-month"
                maxlength="2"
                placeholder="MM"
                type="text"
                data-stripe="exp-month" />
              <input
                name="exp-year"
                maxlength="4"
                placeholder="YYYY"
                type="text"
                size="4"
                data-stripe="exp-year" />
            </div>
          </div>

          <div>
            <label for="cvc"
              >CVC
              <em
                >The CVC is the 3- or 4-digit code on your card, separate from the
                16-digit number.</em
              >
            </label>
            <input type="text" size="4" data-stripe="cvc" id="cvc" name="cvc" />
          </div>
        </div>

        <p style="margin: 0">
          <label>Amount due today</label>
        </p>
        <hr
          style="
            margin: 2px 0;
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 0.25);
          " />
        <p style="margin-top: 4px">{{ price }}</p>
        <input
          type="submit"
          value="Sign up"
          onclick="this.classList.add('working')" />
        </div>
        <input type="hidden" name="_csrf" value="{{ csrf }}" />
        <input type="hidden" class="stripeToken" name="stripeToken" />
        <div id="paypal_method" style="display: none">
          <br>
          <div id="paypal-button-container"></div>
        </div>  
      </form>

      <script src="https://www.paypal.com/sdk/js?client-id={{
          paypal_client_id
        }}&vault=true&intent=subscription">
    </script>


    <script>
        // show or hide the card or paypal method based on the radio button selected
        const cardMethod = document.getElementById("card_method");
      const paypalMethod = document.getElementById("paypal_method");
      const cardRadio = document.getElementById("card-radio");
      const paypalRadio = document.getElementById("paypal-radio");

      // when the page loads, detect which radio button is selected and show the appropriate method
      window.onload = function () {
        if (cardRadio.checked) {
          cardMethod.style.display = "block";
          paypalMethod.style.display = "none";
        } else if (paypalRadio.checked) {
          cardMethod.style.display = "none";
          paypalMethod.style.display = "block";
        }
      };

      cardRadio.addEventListener("click", () => {
        cardMethod.style.display = "block";
        paypalMethod.style.display = "none";
      });
      paypalRadio.addEventListener("click", () => {
        cardMethod.style.display = "none";
        paypalMethod.style.display = "block";
      });        

      paypal
        .Buttons({
          createSubscription: function (data, actions) {
            return actions.subscription.create({
              plan_id: "{{paypal_plan}}" // Creates the subscription
            });
          },
          onApprove: function (data, actions) {
            // replace the contents of the form with a loading message
            const form = document.querySelector("form");
            form.innerHTML = "<p>Loading your payment...</p>";
            // redirect to /sign-up/paypal/redirect?subscription_id=${data.subscriptionID}
            window.location.href =
              "/sign-up/paypal?subscriptionID=" + data.subscriptionID;
          }
        })
        .render("#paypal-button-container"); // Renders the PayPal button
    </script>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      if (typeof Stripe !== "undefined")
        Stripe.setPublishableKey("{{stripe_key}}");
      $("form").submit(function (event) {
        var $form = $(this);
        // Disable the submit button
        // to prevent repeated clicks
        $form.find('[type="submit"]').prop("disabled", true);

        $("#error").hide();

        // Validate the email address
        var email = $('[name="email"]').val() || "";
        var emailRegex = /[^\s@]+@[^\s@]+\.[^\s@]+/;
        var email = email.replace(" ", "");
        if (email === "" || !emailRegex.test(email)) {
          $("#error").text("Please enter your email address.").show();
          $('[type="submit"]').removeClass("working").prop("disabled", false);
          $('[name="email"]').focus();
          return false;
        } else {
          $('[name="email"]').val(email);
        }
        Stripe.card.createToken($form, function (status, response) {
          if (response.error) {
            $("#error").text(response.error.message).show();
            $('[type="submit"]').removeClass("working").prop("disabled", false);
          } else {
            var token = response.id;
            // response also contains card,
            // which has additional card details
            // Insert the token into the form so
            // it gets submitted to the server
            $form.find(".stripeToken").val(token);
            $form.get(0).submit();
          }
        });
        // Prevent the form from submitting with the default action
        return false;
      });
    </script>
  </div>
</form>
