<p id="error" class="error">{{ error }}</p>

<form method="POST">
  {{#subscription}}
  <br />
  <p class="mess success">Thank you for your payment</p>
  {{/subscription}}

  <input type="hidden" name="_csrf" value="{{ csrf }}" />
  {{^change_email}}
  <p>
    <label
      style="
        display: block;
        padding: 2px 0 4px;
        border-bottom: 1px solid #eee;
        margin-bottom: 6px;
      "
      >Your email address</label
    >
    <strong>{{ email }}</strong> &nbsp;<a
      href="?change_email=true"
      style="color: inherit; text-decoration: underline"
      >Edit</a
    >
  </p>
  <input type="hidden" name="email" value="{{ email }}" />
  {{/change_email}}

  {{#change_email}}
  <p>
    <label for="email">Your email address</label>
    <input type="text" size="20" name="email" value="{{ email }}" autofocus />
  </p>
  {{/change_email}}

  <p>
    <label for="password">Choose a password</label>
    <input type="password" name="password" autofocus />
  </p>

  <input
    type="submit"
    value="Create your account"
    onclick="this.classList.add('working')" />
</form>
