<div style="max-width: 840px;margin:4em auto;;">



    <style>
      .tabs {
        margin: 0 0 2em 0;
        display: flex;
        border-bottom: 1px solid var(--light-border-color);
      }
      .tabs input {
        display: none;
      }
    
      .tabs label {
        display: inline-block;
        box-sizing: border-box;
        font-size: var(--small-font-size);
        padding: 0 0 0.5em;
        margin: 0 1.4em -1px 0;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        color: var(--medium-text-color);
      }
      .tabs label:hover {
        color: var(--text-color);
      }
    
      .tabs input:checked + label {
        color: var(--text-color);
        border-bottom-color: var(--text-color)
      }
    
      svg.Footer-PoweredBy-Icon {
        width: 33px;
        height: 15px;
        vertical-align: middle;
        position: relative;
      }
    
      svg.Footer-PoweredBy-Icon path {
        fill: var(--light-text-color);
      }
    
      .wrap-when-narrow {
        display: flex;justify-content: space-between;padding:var(--spacing) calc(2.5*var(--spacing))  }
    
        @media (max-width: 840px) {
          .wrap-when-narrow {
            flex-direction: column;
          }
        }
    </style>
    
    
    <div class="wrap-when-narrow"">
    
      <div style="margin:0 4em 2em 0;max-width: 300px;">
    
    <p
    style="
      margin: 0;
      color: var(--light-text-color); 
      padding-bottom: 16px;
    ">
    <strong style="color: var(--text-color)">Sign up</strong
    > <span>&nbsp;&rarr;&nbsp; Create a site</span>
    </p>

   
    {{^subscription}}
      <p style="font-size: 16px;"><span style="font-size:24px;">{{price}}</span>&thinsp; <span style="color:var(--medium-text-color)">per month per site <br><Br>Includes hosting and support. You can cancel at any point. You must agree to the
          <a href="/terms" style="color: inherit; text-decoration: underline"
            >terms of use</a>.
            </span>
        </p>
    {{/subscription}}
        </div>
    