{{> header}}

<h1>{{tag}}</h1>
<div class="archives">
  {{#entries}}
  <a href="{{{url}}}">
    <span class="thumbnail">
    {{#thumbnail.small.url}}
        <img loading="lazy" src="{{{thumbnail.small.url}}}" class="pre-loaded" onload="this.className+=' loaded';" />
      <noscript>  
      <img loading="lazy" src="{{{thumbnail.small.url}}}">
      </noscript>
    {{/thumbnail.small.url}}
    </span>
    <span class="title">{{title}}    <span class="date">{{date}}</span>
</span>
  </a>
  {{/entries}}
</div>
{{> footer}}