<h1>Photos</h1>
<p>Designed for photos</p>

<ul>
  <li><a href="http://preview.photos.portfolio.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<p><a href="http://preview.photos.portfolio.blot.im"><img src="/templates/photos/one.png"></a></p>

<p>The Photos template features a feed of recently published images on its index page.</p>

<p><a href="http://preview.photos.portfolio.blot.im"><img src="/templates/photos/two.png"></a></p>

<p>The purpose of the 'Photos' template is to display photos. Its navigation should get out of the way when you are looking at photos. It should offer a way to browse photos at different sizes. The homepage shows a feed a of recently published photos. The <a href="http://preview.photos.portfolio.blot.im/archives">archives</a> give an overview of all the photos published on this site.</p>
<p></p>
<p>

<p>Georgia Kareola’s <a href="https://notapipe.today">website</a> is the source of the layout for this template. I like the menu’s grid and the typography of the subpages in particular.</p>
<p>Gavin Atkinson’s <a href="https://www.are.na/gavin-atkinson-1489764520/image-ui">compilation of image user interfaces</a> was a useful source of interesting techniques to navigate and index images.</p>
<p>Hofstede’s <a href="http://www.hofstede.com.au/">archives page</a> has a really pleasing hover effect, with the thumbnail for the hovered link displayed to the left.</p>
<p>The good work of the people at <a href="https://are.na">Are.na</a> and <a href="https://cargocollective.com/">Cargo Collective</a> is a constant source of motivation.</p>
<p>I tried to keep things as quiet as possible. When designing a theme, it’s easy to get lost in the ornamentation of the theme’s <em>chrome</em>, its menu bar, its search field. I tried to focus on the details. Here are a few things which I have done to this template which might not meet the eye:</p>
<ul>
<li><p>Thumbnails are never cropped. They are always displayed in the aspect ratio chosen by the photographer. To do otherwise seemes rude. Of course, this complicates the layout but that is my job. I think that layouts which do not respect the aspect ratio chosen by the photographer are lazy.</p></li>
<li><p>The pagination on the index page uses your system typeface’s <a href="https://www.fonts.com/content/learning/fontology/level-3/numbers/proportional-vs-tabular-figures">tabular numbers</a> feature, where possible. This prevents the width of the page indicator changing.</p></li>
<li><p>The years in the footer indicate the range of published works. It sometimes looks a little silly if you have only published this year but just be patient!</p></li>
<li><p>When there is no pagination, we instead list the number of entries displayed on the page to maintain the balance of the navigation’s layout.</p></li>
</ul>
<h2 id="technical-details">Technical details</h2>
<ul>
<li><p>This template just hides all of Blot’s search functionality, since it’s not as useful for photos.</p></li>
<li><p>The thumbnail’s computed width and height is used to block out the layout of the index page before the images load. This means that nothing has to be recalculated as each image makes its way down the tubes. This prevents the layout<span class="push-single"></span> <span class="pull-single">‘</span>shifting’, something I think makes websites feel flimsy.</p></li>
<li><p>The fade-on-load feature for the grid of images uses a tiny amount of JavaScript and a css class.</p></li>
</ul>

<p>View the <a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/photos">source code for the Photos template</a>.</p>

<h2>About the folder</h2>

<p><a href="https://www.flickr.com/photos/swedish_heritage_board/sets/72157650224763869/">Björn Allard</a> (1923-2006) was employed as a photographer at the Swedish National Heritage Board in the 1950s and 1960s. He took part in archaeological surveys and excavations to contribute documentary photographs.</p>

