<h1>Business</h1>

<ul class="guides">
  <li><a href="{{section}}/branding"><span class="a">Branding</span>Is all branding bad? </a>
  </li>
  <li><a href="{{section}}/dashboard"><span class="a">Marketing</span>Is all marketing bad? </a></li>
  <li><a href="{{section}}/settings"><span class="a">Pricing</span>How I decide how much to charge for Blot</a></li>
  <li><a href="{{section}}/investors"><span class="a">Investors</span>Thoughts about investors</a></li>
  <li><a href="{{section}}/advertising"><span class="a">Advertising</span>Does Blot advertise? Could Blot make money advertising?</a></li>
</ul>
