<h1>Magazine</h1>
<p>Designed for long essays</p>

<ul>
  <li><a href="https://magazine.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<p><a href="https://magazine.blot.im"><img src="/templates/magazine/one.png"></a></p>

<p>The Magazine template is designed for long articles with high-resolution images. It features an index page which displays a feed of new posts. The sidebar features the most popular <a href="/publishing/metadata">tags</a> used across your the site.</p>

<p><a href="https://magazine.blot.im"><img src="/templates/magazine/two.png"></a></p>

<p>View the <a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/magazine">source code for the Magazine template</a>.</p>

<h2>About the folder</h2>

<p><a href="https://publicdomainreview.org/about/">The Public Domain Review</a> is an online journal and not-for-profit project dedicated to the exploration of curious and compelling works from the history of art, literature, and ideas.</p>