<h1>Magazine template</h1>

<ul>
  <li><a href="http://magazine.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<p>The Magazine template is designed for long articles with high-resolution images. It features an index page which displays a feed of now posts. It highlights tags on the sidebar.</p>

<a href="http://magazine.blot.im"><img src="/templates/magazine/one.png"></a>

<a href="http://magazine.blot.im"><img src="/templates/magazine/two.png"></a>

<ul>
  <li><a href="/folders/magazine.zip">Download the folder</a></li>
  <li><a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/magazine">View the source</a></li>
</ul>


<a href="https://publicdomainreview.org/about/">Public Domain Review</a>
<p>Founded in 2011, The Public Domain Review is an online journal and not-for-profit project dedicated to the exploration of curious and compelling works from the history of art, literature, and ideas.</p>

<a href="">Download folder</a>
<a href="">Preview folder</a>
