<h1>Magazine</h1>

<h2>Designed to suit longform writing with high-resolution
	imagery</h2>

<style type="text/css">
		
	a	.browser {margin-top:6px;border: 1px solid var(--light-border-color);border-radius: 6px;display: block;padding: 0.25rem 0.25rem 0;box-shadow: 0 0 10px rgba(0,0,0,0.03);transition: transform .1s ease;transform: scale(1)}

  a .browser:before {content: "ooo";display: block;border-bottom: 1px solid var(--light-border-color);color: var(--dark-border-color);font-size: 14px;line-height: 12px;margin:0 -0.25rem;padding:0 0.5rem 0.3rem;}

		.devices {position: relative;width: 100%;}
		.devices img {max-width: 100%}
	.devices .desktop {
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 18px;
	}

	.screenshot img {cursor: zoom-in;}
	.devices .mobile {position: absolute;
		bottom: 0;right: 0;
		width: 400px;height: 400px}

		.sc {margin: 3rem 0}
</style>


<p class="sc">	<a style="text-decoration: none;cursor: zoom-in;" href="{{{preview}}}/"
		>
		<span class="browser"><img src="/templates/magazine/0-medium.png"
	/></span></a>
</p>


<p>
	<a class="screenshot" href="https://magazine.blot.im"
		><img src="/templates/magazine/1-medium.png"
	/></a>
</p>

<p>. The sidebar features the most popular <a href="/how/metadata">tags</a> used across
	your the site</p>
<p>
	View the
	<a
		href="https://github.com/davidmerfield/Blot/tree/master/app/templates/latest/magazine"
		>source code for the Magazine template</a
	>.
</p>

<h2>About the folder</h2>

<p>
	Wikinews interviews.
</p>

<ul class="document-list with-subtitle with-border">

  <li>
    <a href="https://github.com/davidmerfield/folders/releases/latest/download/interviews.zip"><span><nobr><span class="icon folder"></span> </nobr></span>
    <span><strong>Download the folder</strong>
      <span class="subtitle">.zip</span>
    </span>
    </a>
  </li>
  
</ul>
