[Unit]
Description=Node server

[Service]
PermissionsStartOnly=true
ExecStart=/var/www/blot/scripts/production/start_blot.sh
RestartSec=10
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target