<h1>Default template</h1>

<ul>
  <li><a href="http://preview.default.portfolio.blot.im">Preview</a></li>
</ul>

<p>The console template is designed for code, short posts and links. It features a simple index page with links to the full posts. It's easy to customize.</p>

<ul>
  <li><a href="/folders/bjorn.zip">Download the folder</a></li>
  <li><a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/console">View the source</a></li>
</ul>


<a href="http://iems-ferox.com/">IEMS Ferox</a>
<p>The International Exploration for the Mars Surroundings (IEMS) is a united program responsible for the civilian space program as well as aeronautics and aerospace research for the Mars surroundings. Director of EESA Dwight M. Müller established IEMS in 1976 with a distinctly civilian (rather than military) orientation encouraging peaceful applications in space science. The different National Aeronautics and Space agencies from around the world decided to create in secret an international mission in order to create a peaceful conquest of the Mars surroundings shifting from individual and separate programs to IEMS in July 29, 1976.</p>
<a href="">Download folder</a>
<a href="">Preview folder</a>
