<h1>Folders</h1>
<p>Blot's templates are shown using some folders created from public domain resources. You can download these folders:</p>

<a href="https://www.flickr.com/photos/swedish_heritage_board/sets/72157650224763869/">Bjorn Allard</a>
<p>Björn Allard (1923-2006) was employed as a photographer at the Swedish National Heritage Board in the 1950s and 1960s. He took part in archaeological surveys and excavations to contribute documentary photographs.</p>
<a href="">Download folder</a>
<a href="">Preview folder</a>

<hr>

<a href="http://iems-ferox.com/">IEMS Ferox</a>
<p>The International Exploration for the Mars Surroundings (IEMS) is a united program responsible for the civilian space program as well as aeronautics and aerospace research for the Mars surroundings. Director of EESA Dwight M. Müller established IEMS in 1976 with a distinctly civilian (rather than military) orientation encouraging peaceful applications in space science. The different National Aeronautics and Space agencies from around the world decided to create in secret an international mission in order to create a peaceful conquest of the Mars surroundings shifting from individual and separate programs to IEMS in July 29, 1976.</p>
<a href="">Download folder</a>
<a href="">Preview folder</a>
