 
<h1>Templates</h1>

<p>Your blog comes with seven templates. Each is designed for a particular kind of post. They're designed to be customized. You can also <a href="/developers">develop your own template</a>.<!--  from scratch: you have control over every line of CSS, HTML and JavaScript delivered to your readers. The <a href="https://github.com/davidmerfield/Blot/tree/master/app/templates">source code</a> for these templates is dedicated to the public domain.  --></p>

 
<ul class="templates">
  <li>
    <a href="/templates/scrapbook">
      <strong>Scrapbook</strong>
      <small>For photos and links</small>
      <img src="/templates/scrapbook/one.png?size=thumbnail&amp;extension=.png">
    </a>
  </li>
  
  <li>
    <a href="/templates/essay">
      <strong>Essay</strong>
      <small>For essays and code</small>
      <img src="/templates/essay/one.png?size=thumbnail&amp;extension=.png">
    </a>
  </li>
  <li>
    <a href="/templates/diary">
      <strong>Diary</strong>
      <small>For short posts, photos and links</small>
      <img src="/templates/diary/one.png?size=thumbnail&amp;extension=.png">
    </a>
  </li>
  <li>
    <a href="/templates/magazine">
      <strong>Magazine</strong>
      <small>For long essays</small>
      <img src="/templates/magazine/one.png?size=thumbnail&amp;extension=.png">
    </a>
  </li>
  <li>
    <a href="/templates/picture">
      <strong>Picture</strong>
      <small>For photos</small>
      <img src="/templates/picture/one.png?size=thumbnail&amp;extension=.png">
    </a>
  </li>
</ul>

