<h1>Templates</h1>

<p>Blot comes with seven templates. All of these templates are designed to be customized. Their full <a href="https://github.com/davidmerfield/Blot/tree/master/app/templates">source code</a> is available to you and dedicated to the public domain. You can <a href="/documentation/configuring/template">adjust an existing template</a> or <a href="/developers">develop your own template</a> from scratch.</p>


<ul class="templates">
  <li>
    <a href="/templates/console">
      <strong>Console</strong>
      <small>Designed for essays and code</small>
      <img src="/templates/console/one.png">
    </a>
  </li>
  <li>
    <a href="/templates/default">
      <strong>Default</strong>
      <small>Designed for short posts, photos and links</small>
      <img src="/templates/default/one.png">
    </a>
  </li>
  <li>
    <a href="/templates/grid">
      <strong>Grid</strong>
      <small>Designed for photos and links</small>
      <img src="/templates/grid/one.png">
    </a>
  </li>
  <li>
    <a href="/templates/magazine">
      <strong>Magazine</strong>
      <small>Designed for long essays</small>
      <img src="/templates/magazine/one.png">
    </a>
  </li>
  <li>
    <a href="/templates/photos">
      <strong>Photos</strong>
      <small>Designed for photos</small>
      <img src="/templates/photos/one.png">
    </a>
  </li>
  <li>
    <a href="/templates/portfolio">
      <strong>Portfolio</strong>
      <small>Designed for photos</small>
      <img src="/templates/portfolio/one.png">
    </a>
  </li>
  <li>
    <a href="/templates/rosa">
      <strong>Rosa</strong>
      <small>Designed for short posts, photos and links</small>
      <img src="/templates/rosa/one.png">
    </a>
  </li>
</ul>

