<h1>Templates</h1>

<p>Blot comes with seven templates. They are designed to be customized. Their source code is available to you. You can also develop your own template from scratch.</p>

<ul>
  <li><a href="/templates/console">Console</a></li>    
  <li><a href="/templates/default">Default</a></li>    
  <li><a href="/templates/grid">Grid</a></li>    
  <li><a href="/templates/magazine">Magazine</a></li>  
  <li><a href="/templates/photos">Photos</a></li>  
  <li><a href="/templates/portfolio">Portfolio</a></li>    
  <li><a href="/templates/rosa">Rosa</a></li>
</ul>