{{> header}}
<style type="text/css">
.sidebar img {
  max-width: 48px;
  float: left;
  margin-right: 1em
}

content {width: 75%}

.sidebar a {width: 100%}
.sidebar strong {font-size: 400}
.sidebar small {
  display: none;
}


section {
  background: #eae7e3
}

</style>

<main class="has-sidebar" style="padding-top:3em">
  <ul class="sidebar">
    <li class="{{selected.console}}">
      <a href="/templates/console">
      <img src="/templates/console/one.png">
      Console
    </a>
    </li>
    <li class="{{selected.default}}">
      <a href="/templates/default">
      <img src="/templates/default/one.png">
      Default
    </a>
    </li>
    <li class="{{selected.grid}}">
      <a href="/templates/grid">
      <img src="/templates/grid/one.png">
      Grid
    </a>
    </li>
    <li class="{{selected.magazine}}">
      <a href="/templates/magazine">
      <img src="/templates/magazine/one.png">
      Magazine
    </a>
    </li>
    <li class="{{selected.photos}}">
      <a href="/templates/photos">
      <img src="/templates/photos/one.png">
      Photos
    </a>
    </li>
    <li class="{{selected.portfolio}}">
      <a href="/templates/portfolio">
      <img src="/templates/portfolio/one.png">
      Portfolio
    </a>
    </li>
    <li class="{{selected.rosa}}">
      <a href="/templates/rosa">
      <img src="/templates/rosa/one.png">
      Rosa
    </a>
    </li>
  </ul>

  <content>
    {{{body}}}
  </content>
</main>

{{> footer}}
</body>

</html>