{{> header}}
<style type="text/css">
.sidebar img {
  max-width: 48px;
  float: left;
  margin-right: 1em
}

content {width: 75%}

.sidebar a {width: 100%}
.sidebar strong {font-size: 400}
.sidebar small {
  display: none;
}


section {
  background: #eae7e3
}

</style>

<main class="has-sidebar" style="padding-top:3em">
  <ul class="sidebar">
    <li class="{{selected.essay}}">
      <a href="/templates/essay">
      <img src="/templates/essay/one.png">
      Essay
    </a>
    </li>
    <li class="{{selected.diary}}">
      <a href="/templates/diary">
      <img src="/templates/diary/one.png">
      Diary
    </a>
    </li>
    <li class="{{selected.magazine}}">
      <a href="/templates/magazine">
      <img src="/templates/magazine/one.png">
      Magazine
    </a>
    </li>
    <li class="{{selected.picture}}">
      <a href="/templates/picture">
      <img src="/templates/picture/one.png">
      Picture
    </a>
    </li>
    <li class="{{selected.scrapbook}}">
      <a href="/templates/scrapbook">
      <img src="/templates/scrapbook/one.png">
      Scrapbook
    </a>
    </li>
  </ul>

  <content>
    {{{body}}}
  </content>
</main>

{{> footer}}
</body>

</html>