{{> header}}

<main class="has-sidebar">
  <ul>
    <li><a href="/templates/console">Console</a></li>
    <li><a href="/templates/default">Default</a></li>
    <li><a href="/templates/grid">Grid</a></li>
    <li><a href="/templates/magazine">Magazine</a></li>
    <li><a href="/templates/photos">Photos</a></li>
    <li><a href="/templates/portfolio">Portfolio</a></li>
    <li><a href="/templates/rosa">Rosa</a></li>
  </ul>
  <content>
    {{{body}}}
  </content>
</main>

{{> footer}}
</body>

</html>