<h1>Formatting guide</h1>

<p style="margin-top:0">You can use a variety of standard tools to add formatting to your blog posts. Text files can include <a href="/publishing/formatting/markdown">Markdown</a> to add links, headings, lists and much more. You can mark up mathematics in <a style="border:none;text-decoration:none;margin-right:-4px" href="/publishing/formatting/tex">\(\TeX\)</a>. Note that Blot can turn <a href="/publishing">HTML files</a> into blog posts.</p>


<ul class="clients">
  <li><a href="/publishing/formatting/markdown"><strong>Markdown</strong><br>  A lightweight markup language with plain text formatting syntax.</a> </li>
  <li><a href="/publishing/formatting/tex"><strong>\(\TeX\)</strong><br> A math typesetting library with powerful formatting features.</a> </li>
  <li><a href="/publishing/formatting/layout-tags"><strong>Layout</strong><br> A custom Markdown extension which offers simple layout directives.</a> </li>
</ul>


