.copier {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--light-text-color);
    cursor: pointer;
    font-size: 14px;
    border-radius: 1em;
    padding: 4px 8px;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  }
  .copier:hover {
    background-color: var(--light-background-color);
  }
  .copier.copied {
    color: green;
    border-color: green;
    background-color: var(--background-color);
  }

  .copier svg {
    margin: 0 2px 0 4px;
    width: 0.9em;
    height: 0.9em;
    fill: currentColor;
    vertical-align: middle;
    position: absolute;
    top: -1px;
    left: 0;
}
  .copier.copied:before {
    background-color: var(--secondary-accent-color);
    
  }