.email-card {
  max-width: 600px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
}

.email-card__row {
  margin: 0;
  padding: 24px;
}

.email-card__row--border {
  border-bottom: 1px solid var(--border-color);
}
