.header {
  padding: 1.5rem;
  font-size: var(--small-font-size);
  display: flex
}

.grid {
  padding: 0.7em;
}

.links {
  text-align: right;
  padding: 0 0.7em;
}

.links a {
  margin-left: 1.4em;
  color: #000;
  font-weight: 600;
}



@media screen and (min-width: 800px) {
  label[for="toggle"] {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  ul.sidebar {
    min-height: auto;
  }

    label[for=toggle] svg#hider {display: none;}

  main nav .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  ul.sidebar {
    position: initial;
    margin-bottom: 1.4em;
    width: 100%;
  }

  main {
    flex-wrap: wrap;
  }

  input[name="toggle"] + ul {
    display: none;
  }

  .links a {
    display: none;
  }


}

@media screen and (max-width: 600px) {
  background {
    margin-right: -1rem;
    margin-left: -1rem;
  }
}

.sidebar a,
.links label {
  color: #989694;
  box-sizing: border-box;
  text-decoration: none;
}

.links a:focus,
.sidebar a:focus,
header label:focus {
  color: #bbb;
}

header a:hover,
.sidebar a:hover,
header label:hover {
  text-decoration: underline;
}

.links a:active,
.links label:active {
  color: #bbb;
}

.breadcrumbs {
  margin: 5px 0 0;
  padding: 0;
  height: 1.4rem;
  display: flex;
}

.breadcrumbs_link:first-child {
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs_link {
  text-decoration: none;
  color: inherit;
  color: var(--light-text-color);
}

.lig {
    white-space: nowrap;

}
.breadcrumbs_link {
  display: inline-block;
  position: relative;
  margin-left: 0.85em;
  white-space: nowrap;
  padding-left: 0.85em;
}

.breadcrumbs_link:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  bottom: 0px;
  left: -4px;
  width: 6px;
  height: 6px;
  margin: auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: var(--light-text-color);
}

.breadcrumbs_link:first-child:before {
  content: none;
  display: none;
}

.breadcrumbs_link:hover {
  color: var(--accent-color);
}

.breadcrumbs_link:active {
  color: #999;
}


  .header-buttons a {
    box-sizing:border-box;
    display:inline-block;font-weight: 600;
    color:#000;
    height:32px;
    line-height:30px;
    border:1px solid var(--dark-border-color);
    background: var(--background-color);
    font-size: var(--small-font-size);
    border-radius: var(--border-radius);
    padding: 0 2rem 0 1rem;
    margin-left: 0.8rem;
    position: relative;
  }

  .header-buttons a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    width: 6px;
    height: 6px;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    opacity: 0.5;
    border-color: var(--text-color);
  }

  .header-buttons a:hover {
    border-color: var(--light-text-color)
  }

  .header-buttons a:active {opacity: 0.6}

.header-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 32px
}

a.lig {color: inherit;}
a.lig:hover {color: var(--accent-color);}