input[type="submit"],
input[type="text"],
input[type="password"] {
  border-radius: 0;
}

input[type="submit"] {
  background: var(--light-accent-color);
  border-radius: 4px;
  -webkit-appearance: none; 
  padding: 0.75em 1em;
  color: var(--background-color);
  margin: 1em 0;
  width: 100%;
  border: none;
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  font-weight: 600;
}

input[type="submit"]:focus {
  border: none;
  outline: none;
}

input[type="submit"].working,
input[type="submit"]:disabled {
  cursor: wait;
  background: var(--light-background-color);
  color: var(--light-text-color);
}

form label {
  font-size: 14px;
  color: var(--medium-text-color);
}


input[name="email"],
input[name="password"] {
  width: 100%;
  display: block;
}

input[type="text"],
input[type="password"] {
  padding: 4px 3px;
  margin: 2px 0;
  font-size: 17px;
  padding: 10px;
  font-family: inherit;
  z-index: 1;
  color: var(--text-color);
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  background: var(--background-color);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s,
    -webkit-box-shadow ease-in-out 0.1s;
}


input[type="text"]:focus,
input[type="password"]:focus {
  outline: none !important;
  z-index: 2;
  border: 1px solid var(--accent-color);
  box-shadow: inset 0 0 1px var(--accent-color);
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a09d9c;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #a09d9c;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #a09d9c;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #a09d9c;
}

input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5c4c4;
}

input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5c4c4;
}

input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5c4c4;
}

input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #c5c4c4;
}

input#email {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}