.layout-wrapper {
    min-height: 100vh;
    display: flex;
}

label[for="toggle"],
a#homepage{
  color: var(--text-color);
border:1px solid var(--light-border-color);
border-radius: var(--border-radius);
cursor: pointer;
padding: calc(var(--spacing)*0.5) calc(var(--spacing)*1);
}

label[for="toggle"] svg,
a#homepage svg {
width: 1em;
margin-right: 0.5em
}
.main-container {
  padding: 0 2em;
  flex-grow: 1;
}

.sidebar-container {width: 30vw;min-width:200px;max-width:256px;flex-shrink: 0;
padding: 0 2em;}

.sidebar {
  font-size: 14px
}

.sidebar svg {width: 1em}

.sidebar-container ul, .sidebar-container li {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.sidebar ul {margin-bottom: 1em}
.sidebar ul ul {display: none;}

.sidebar li a {
  text-decoration: none;
  display: block;
  padding: 0.33em 0.5em;
  border-bottom: 1px solid var(--light-border-color);
}

.sidebar a:hover {
    background: #f2f8ff;
    text-decoration: underline;
}

.sidebar li a.selected,
.sidebar li a.selected:hover,
.sidebar li a:focus {
  background: #edf6ff;
} 

.sidebar > li > a {
  font-weight: 600
}