

.sidebar {
  font-size: var(--small-font-size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 300px;
  list-style: none;
  color: var(--light-text-color);
  padding: calc(var(--spacing)*1.5) 0;
}

/* Top level links */ 
.sidebar > li > a {
  color: var(--text-color);
  font-size: var(--font-size);
}

/* Sub level links */ 
.sidebar  li li a {
  color: var(--medium-text-color);
}

.sidebar li {
  display: block;
}


.sidebar a:active,
.sidebar a:focus {
  color: var(--text-color);
}


nav {
  display: initial;
}

nav a {
  display: block;
  position: relative;
  cursor: pointer !important;
  text-decoration: none;
  word-wrap: break-word;
  background-color: transparent;
  color: inherit;
  box-sizing: border-box;
  text-decoration: none;
}


.sidebar a:hover,
.sidebar a.selected,
.top-level a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.sidebar li ul {
  padding: 0;
  margin: 0;
  padding-left: 1em;
  overflow: hidden;
  box-sizing: border-box;
  display: none;
}
.sidebar ul ul {
  display: none;
}


.sidebar a + ul li:last-child {
  margin-bottom: calc(var(--spacing)*1.5);
}

.sidebar a + ul ul li:last-child {
  margin-bottom: 0;
}

.sidebar a + ul li:last-child ul li:last-child {
  padding-bottom: 0;
}



.sidebar [data-open="selected"] + ul {
  display: block;}




.sidebar li ul li {
  position: relative;
}

.sidebar li a,
.top-level a {
  position: relative;
}
