html {
  --sidebar-width: 256px;
}


.layout-wrapper {
  min-height: 101vh;
  display: flex;
  padding: 0 var(--spacing);
}


a#homepage {
  color: var(--text-color);
  display: flex;
  line-height: 1;
  letter-spacing: 0.02em;
  align-items: center;
}


.header-buttons a {
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing));
  color: var(--background-color);
  border-radius: var(--border-radius);
  background: var(--dark-accent-color);
  line-height: 1;
  font-size: 16px;
}

a#homepage svg {
  width: 1.5em;
}

    label[for="toggle"] {display: none;cursor: pointer;}

.main-container {
  flex-grow: 1;
  min-width: 400px;
  flex-basis: 637px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 calc(4*var(--spacing));
}

.main-page {width: 100%;padding-right: calc(var(--spacing)*4)}

@media screen and (max-width: 1200px) {
  .second-sidebar {display: none;}
}

@media screen and (max-width: 1000px) {
  label[for="toggle"] {
    display: block;
  }
  .breadcrumbs a:not(:first-child) {display: none;}
  .sidebar {display: none;}
  :checked ~ .layout-wrapper .sidebar {display: block}

  .main-container {padding: 0 var(--spacing)}

  :checked ~ .layout-wrapper .main-container {display: none;}
}



label[for="toggle"] svg {
  width: 1em;
  margin-right: 0.5em;
}


.second-sidebar {
  flex-shrink: 0;  flex-basis: var(--sidebar-width);
  max-width: var(--sidebar-width);
}

.second-sidebar:empty{display: none;}




.sidebar {
  font-size: 14px;
  background: #fafafa;
  border-radius: var(--border-radius);
  padding: var(--spacing);
  min-width: var(--sidebar-width);
  width: var(--sidebar-width);
  flex-shrink: 0;
  padding: calc(var(--spacing)*0.5);
  margin: 0 calc(var(--spacing)*2);
  align-self: flex-start;
  flex-basis: var(--sidebar-width);
  box-sizing: border-box;
}

.sidebar svg {
  width: 1em;
}

.sidebar,
.sidebar ul,
.sidebar li {
  list-style-type: none;
}

.sidebar ul,
.sidebar li {
  margin: 0;
  padding: 0;
}


.sidebar ul {
  margin-bottom: 1em;
}
.sidebar ul ul {
  display: none;
}

.sidebar li a {
  text-decoration: none;
  display: block;
  padding: calc(var(--spacing) * 0.25) calc(var(--spacing)*0.666);
  margin:4px 0;
  color: #666;
  border-radius: var(--border-radius);
}

 

.sidebar li a.selected,
.sidebar a:hover,
.sidebar li a.selected:hover,
.sidebar li a:focus {
  background: var(--accent-background-color);
  color: var(--dark-accent-color);
}

.sidebar > li > a {
  font-weight: 600;
}
