.site-preview {
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 66.6666666667%;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5),
        0 -1px 0 rgba(0, 0, 0, .11),
        0 1px 0 rgba(0, 0, 0, .26),
        -1px 0 0 rgba(0, 0, 0, .13),
        1px 0 0 rgba(0, 0, 0, .13);
    border-radius: var(--border-radius);
}


.site-preview iframe {
    visibility: hidden;
    background: var(--background-color);
}

.site-preview img {
    width: 100%;
    position: relative;
    height: auto;
    opacity: 0;
    transition: opacity 1s;
}

.site-preview img.fade-in {
    opacity: 1;
}
