ol.steps {
    padding: 0 0 0 1.2rem;
}

ol.steps li {
    padding: 4px 1rem;
    position: relative;
}

ol.steps li::marker {
    font-size: 12px;
    color: var(--accent-color);
}

ol.steps li::before {
    content: "";
    position: absolute;
    top: 0.4em;
    font-size: 20px;
    z-index: -1;
    left: -1em;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: var(--light-background-color);
}

ol.steps li:first-child::after {
    top: 0.55em;
}

ol.steps li:last-child::after {
    bottom: 0.55em;
}

ol.steps li::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 2px;
    left: -0.666em;
    bottom: 0;
    background: var(--light-background-color);
}