/* Numbered steps: <div class="steps"><ol>…</ol></div> */
.steps ol {
  list-style: none;
  counter-reset: steps;
  padding-left: 32px;
  position: relative;
}

.steps ol li {
  counter-increment: steps;
  margin: 0 0 1em 0;
  position: relative;
}

.steps ol li::before {
  content: counter(steps);
  border: 1px solid var(--border-color);
  color: var(--light-text-color);
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -32px;
  font-weight: bold;
  font-size: 0.75rem;
}

.steps ol li::after {
  content: "";
  position: absolute;
  left: calc(1.25rem / 2 - 32px);
  top: calc(1.25rem + 1px);
  width: 1px;
  bottom: calc(-1.25rem + 3px);
  background: var(--border-color);
}

.steps ol li:last-child::after {
  display: none;
}

/* Vertical timeline steps (client setup, etc.) */
ul.steps {
  border-left: 2px solid var(--border-color);
  padding: 0;
  margin-left: 6px;
  list-style: none;
}

ul.steps li {
  position: relative;
  padding-left: 1.5em;
  margin: 0 0 1.5em 0;
  box-sizing: border-box;
}

ul.steps li:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  display: block;
  position: absolute;
  left: -7px;
  top: 0.35em;
  background: var(--background-color);
}

/* cover the border-left above/below the circle */
ul.steps li:first-child:before,
ul.steps li:last-child:before {
  content: "";
  width: 2px;
  height: 0.3em;
  background: var(--background-color);
  display: block;
  position: absolute;
  left: -2px;
  top: 0;
}

ul.steps li:last-child:before {
  top: 0.35em;
  bottom: 0;
  height: auto;
}
