<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{> title}}</title>

  <link rel="alternate" type="application/rss+xml" title="{{title}}" href="{{{blogURL}}}{{{feedURL}}}" />

  {{#avatar}}
  <link rel="icon" href="{{{avatar}}}" type="image/x-icon" />
  {{/avatar}}

  <link rel="stylesheet" href="{{{cssURL}}}" />

  <meta name="description" content="{{> description}}" />

  <!-- Meta tags for sharing on social media platforms -->
  <meta property="og:title" content="{{> title}}" />
  <meta property="og:description" content="{{> description}}" />
  <meta property="og:type" content="website" />
  {{#entry}}
  {{#thumbnail.large}}
  <meta property="og:image" content="{{{url}}}" />
  <meta name="twitter:card" content="summary_large_image" />
  {{/thumbnail.large}}
  <meta property="og:url" content="{{{absoluteURL}}}" />
  {{/entry}}
</head>