<!DOCTYPE html>
<html>
{{> head}}

<body class="navigation-location-{{navigation_location}}">
  {{> header}}
  <div class="container">
    <div class="main">
      <h1>Archives</h1>
      <form action='/search'>
        <input placeholder="Search..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />
      </form>
      {{#popular_tags.length}}
      <hr class="minimal">
      <p class="small">Tags</p>
      <div class="tags">
        <div>
          {{#popular_tags}}
          <a href="/tagged/{{slug}}" {{#active}}style="font-weight:600" {{/active}}
            title="{{tag}}">{{tag}}</a>{{^last}}, {{/last}}
          {{/popular_tags}}
        </div>
      </div>
      {{/popular_tags.length}}

      <hr class="minimal">
      <p class="small">Newest</p>
      <div>
        {{#allEntries}}
        <a class="full-line" href="{{{url}}}"><em>{{title}}</em> &nbsp;<span class="small">{{date}}</span></a>
        {{/allEntries}}
      </div>
      {{> footer}}
    </div>
  </div>
</body>

</html>