<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        <h1>Archives</h1>
        <form action='/search'>
          <input placeholder="Search..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />
        </form>
        <br>
{{#popular_tags.length}}        
            <div class="tags" >
      <div >
      {{#popular_tags}}
      <a href="/tagged/{{slug}}" {{#active}}style="font-weight:600"{{/active}} title="{{tag}}">{{tag}}</a>
      {{/popular_tags}}
    </div>
    </div>
    <hr><br>
{{/popular_tags.length}}        

        <div>
          {{#allEntries}}
          <a href="{{{url}}}">{{title}}</a>&nbsp;<span class="small">{{date}}</span>
          <br />
          {{/allEntries}}
        </div>
        {{> footer}}
      </div>
    </div>
  </body>
</html>