<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        {{#entries}}

          {{#is.index_layout.just_titles}}
            <p><a href="{{{url}}}">{{title}}</a><br>
            <a class="small date" href="{{{url}}}">{{date}}</a>
            {{#tags}}
            <a class="small tag" href="/tagged/{{slug}}">{{name}}</a>
            {{/tags}}
            </p>
            <div class="clear"></div>
          {{/is.index_layout.just_titles}}

          {{#is.index_layout.full_posts}}
           <div class="entry on-index-page" data-url="{{{url}}}">

            {{{html}}}
            <p>
            <a class="small date" href="{{{url}}}">{{date}}</a>
            {{#tags}}
            <a class="small tag" href="/tagged/{{slug}}">{{name}}</a>
            {{/tags}}
            </p>
            <div class="clear"></div>
            </div>
 
          {{/is.index_layout.full_posts}}            

        {{/entries}}

        {{#pagination}}
        <div class="pagination">
          {{#previous}}
            <a href="/page/{{previous}}">&larr; Newer</a>
          {{/previous}}
          Page {{current}} of {{total}}
          {{#next}}
            <a href="/page/{{next}}">Older &rarr;</a>
          {{/next}}
        </div>
        {{/pagination}}
        {{> footer}}
      </div>
    </div>
  </body>
</html>