<!DOCTYPE html>
<html>
{{> head}}

<body>
  {{> header}}
  <div class="container">
    <div class="main">
      <form action='/search'>
        <input placeholder="Search" value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />
      </form>
      <div>

        <p>
          {{#entries}}
          <a href="{{{url}}}">{{title}}</a>
          <span class="small">{{date}}</span>
          <br />
          {{/entries}}
        </p>

        {{#entries.length}}
        <p><span class="small">
            {{#entries}}
            {{#first}}
            {{#last}}
            {{entries.length}} result
            {{/last}}
            {{^last}}
            {{entries.length}} results
            {{/last}}
            {{/first}}
            {{/entries}}
          </span></p>
        {{/entries.length}}
        {{^entries}}
        {{#query}}
        <p>No results</p>
        {{/query}}
        {{/entries}}

        {{#query}}
        <p><a class="small date" href="/archives">View the archives &rarr;</a></p>
        {{/query}}
      </div>
      {{> footer}}
    </div>
  </div>
  <script type="text/javascript">
    var search = document.getElementById('search');
    search.focus();
  </script>
</body>

</html>