<h1>Politics</h1>

<p>First, a note of self-congratulation: this is a dangerous section for a service like Blot to have. Running a service like Blot involves making decisions that are intensely political. I do try to read deeply and think deeply about everything I do with Blot.</p>

<p>If there's something you think I ought to read, or something you ought to tell me, please <a href="/contact">contact me</a>.</p>

<ul class="guides">
  <li><a href="{{base}}/politics/speech"><span class="a">Speech</span>How I designed the landing page and documentation for Blot.</a>
  </li>
  <li><a href="{{base}}/politics/privacy"><span class="a">Privacy</span>Thoughts about forms</a></li>
</ul>