{{> head}}

<a class="full-row-back" href="/">← Back to {{title}}</a>

{{#entry.tagged.paintings}}
<div class="painting-container">

<div class="image">
<img src="{{{entry.thumbnail.large.url}}}">

<h3>About the work</h3>
<hr>
<table>
<tr>
	<td>Materials</td>
	<td>{{entry.metadata.medium}}</td>
</tr>
<tr>
	<td>Size</td>
	<td>{{entry.metadata.dimensions}}</td>
</tr>
</table>
</div>

<div class="metadata">
<h1><a href="/">{{title}}</a></h1>
<p><em>{{entry.title}}</em>, {{entry.date}}</p>
<p>{{entry.metadata.medium}}</p>
<p>
</div>

</div>
{{/entry.tagged.paintings}}

{{> footer}}
