@font-face {
  font-family: 'Violet Sans';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/violet-sans/400.eot?version=0a645b&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/violet-sans/400.eot?version=0a645b&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/violet-sans/400.woff?version=31fd8e&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/violet-sans/400.ttf?version=aac0e7&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/violet-sans/400.otf?version=4c3122&extension=.otf') format('opentype');
}
.pull-double {margin-left:-0.379em}
.push-double{margin-right:0.379em}
.pull-single{margin-left:-0.2em}
.push-single{margin-right:0.2em}
.push-double,.push-single{display:inline-block}
