{{> head}}

<body class="home blog wp-embed-responsive full-width custom-font-enabled single-author">
  <div id="page" class="hfeed site">
    {{> header}}

    <div id="main" class="wrapper">

      <div id="primary" class="site-content">
        <div id="content" role="main">

          {{#entry}}
          <article id="{{id}}" class="post type-post status-publish format-standard hentry category-uncategorized {{#tags}}tag-{{slug}} {{/tags}}">

            <header class="entry-header">
              <h1 class="entry-title"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
            </header>

            <div class="entry-content">
              {{{body}}}
            </div>

            <footer class="entry-meta">
              This entry was posted on <a href="{{{url}}}" title="{{#formatDate}}H:MM a{{/formatDate}}" rel="bookmark"><time class="entry-date" datetime="{{#formatDate}}YYYY-MM-DD-THH:MM:SSZ{{/formatDate}}">{{#formatDate}}MMMM DD, YYYY{{/formatDate}}</time></a>{{#tags.length}} and tagged {{#tags}}<a href="/tagged/{{slug}}" rel="tag">{{tag}}</a>{{^last}}, {{/last}}{{/tags}}{{/tags.length}}. </footer><!-- .entry-meta -->
          </article><!-- #post -->

          <nav class="nav-single">
            <h3 class="assistive-text">Post navigation</h3>

            <span class="nav-previous">{{#previous}}<a href="{{{url}}}" rel="previous">&larr; {{title}} <span class="meta-nav"></span></a>{{/previous}}</span>
            <span class="nav-next">{{#next}}<a href="{{{url}}}" rel="next">{{title}} <span class="meta-nav">&rarr;</span></a>{{/next}}</span>
          </nav>
          <br><br><br>

          {{/entry}}

        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='{{{scriptURL}}}'></script>
</body>

</html>