<header id="masthead" class="site-header" role="banner">
  <hgroup>
    <h1 class="site-title"><a href="/" title="{{title}}" rel="home">{{title}}</a></h1>
    <h2 class="site-description">{{description}}</h2>
  </hgroup>

  <nav id="site-navigation" class="main-navigation" role="navigation">
    <button class="menu-toggle">Menu</button>
    <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
    <div class="nav-menu">
      <ul>
        {{#menu}}
        <li class="{{#active}}current_page_item{{/active}}"><a href="{{{url}}}">{{label}}</a></li>
        {{/menu}}
      </ul>
    </div>
  </nav>
</header>