<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{> title}}</title>
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />
  <link rel='dns-prefetch' href='//s.w.org' />
  <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />
  <link rel="alternate" type="application/rss+xml" title="Theme Preview &raquo; Feed" href="/feed.rss" />
  <link rel='stylesheet' href='{{{cssURL}}}' type='text/css' media='all' />
  <link rel='stylesheet' id='twentytwelve-fonts-css' href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext' type='text/css' media='all' />
</head>