{{> head}}

<body class="home blog wp-embed-responsive full-width custom-font-enabled single-author">
  <div id="page" class="hfeed site">
    {{> header}}

    <div id="main" class="wrapper">

      <div id="primary" class="site-content">
        <div id="content" role="main" class="entry-content">

              <h1>{{tag}}</h1>


          {{#entries}}
          <a href="{{{url}}}">{{title}}</a> <small>{{date}}</small><br>
          {{/entries}}
          
          <br><br><br>

        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='{{{scriptURL}}}'></script>
</body>

</html>