<h1>Citations</h1>

<p>
  Citations go inside square brackets and are separated by semicolons. Each
  citation must have a key, composed of ‘@’ + the citation identifier and may
  optionally have a prefix, a locator, and a suffix.
</p>

<p>
  In order to use this feature, you will need to specify a bibliography file
  using the <em>bibliography</em> <a href="/how/metadata">metadata field</a>.
  Here are some examples:
</p>

<pre
  class="text with-chrome"
  title="Post.txt"
><code>Bibliography: bibliography.bib

Blah blah [see @item1, pp. 33-35; also @item2, chap. 1].

Blah blah [@item1, pp. 33-35, 38-39 and *passim*].

Blah blah [@item1; @item2].</code></pre>

<p>Here's an example bibliography file:</p>

<pre class="text with-chrome" title="bibliography.bib"><code>@Book{item1,
author="John Doe",
title="First Book",
year="2005",
address="Cambridge",
publisher="Cambridge University Press"
}

@Article{item2,
author="John Doe",
title="Article",
year="2006",
journal="Journal of Generic Studies",
volume="6",
pages="33-34"
}</code></pre>

<p>
  A minus sign (<span class="nowrap"><code>-</code></span
  >) before the <span class="nowrap"><code>@</code></span> will suppress mention
  of the author in the citation. This can be useful when the author is already
  mentioned in the text:
</p>

<pre><code>Smith says blah [-@smith04].</code></pre>

<p>You can also write an in-text citation, as follows:</p>

<pre><code>@smith04 says blah.

@smith04 [p. 33] says blah.</code></pre>

<p>
  Read more about
  <a rel="nofollow" href="https://en.wikipedia.org/wiki/Citation_Style_Language"
    >CSL</a
  >
  and <a rel="nofollow" href="https://en.wikipedia.org/wiki/BibTeX">BibTeX</a>.
</p>

<h2>Citation key requirements</h2>

The citation key must begin with a letter, digit, or
<span class="nowrap"><code>_</code></span
>, and may contain alphanumerics, <span class="nowrap"><code>_</code></span
>, and internal punctuation characters (<span class="nowrap"
  ><code>:.#$%&amp;-+?&lt;&gt;~/</code></span
>).

<h2>Supported bibliography formats</h2>

<p>
  The bibliography may have any of these formats. Note that
  <span class="nowrap"><code>.bib</code></span> can be used with both BibTeX and
  BibLaTeX files; use <span class="nowrap"><code>.bibtex</code></span> to force
  BibTeX.
</p>

<table>
  <thead>
    <tr class="header">
      <th style="text-align: left;">Format</th>
      <th>File extension</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td style="text-align: left;">BibLaTeX</td>
      <td>.bib</td>
    </tr>
    <tr class="even">
      <td style="text-align: left;">BibTeX</td>
      <td>.bibtex</td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;">Copac</td>
      <td>.copac</td>
    </tr>
    <tr class="even">
      <td style="text-align: left;">CSL JSON</td>
      <td>.json</td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;">CSL YAML</td>
      <td>.yaml</td>
    </tr>
    <tr class="even">
      <td style="text-align: left;">EndNote</td>
      <td>.enl</td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;">EndNote XML</td>
      <td>.xml</td>
    </tr>
    <tr class="even">
      <td style="text-align: left;">ISI</td>
      <td>.wos</td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;">MEDLINE</td>
      <td>.medline</td>
    </tr>
    <tr class="even">
      <td style="text-align: left;">MODS</td>
      <td>.mods</td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;">RIS</td>
      <td>.ris</td>
    </tr>
  </tbody>
</table>

<h2>Citation styles</h2>

<p>
  By default, your citations will use the
  <a href="https://chicagomanualofstyle.org">Chicago Manual of Style</a>
  author-date format. Citations and references can be formatted using any style
  supported by the
  <a href="https://citationstyles.org">Citation Style Language</a>, listed in
  the <a href="https://www.zotero.org/styles">Zotero Style Repository</a>.
</p>
<p>
  You can specify a custom file using the <em>csl</em>
  <a href="/how/metadata">metadata field</a>. The CSL project provides further
  information on
  <a href="https://citationstyles.org/authors/">finding and editing styles</a>.
</p>
