<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container">
    {{> header}}
    <br />
    {{#entry}}
        {{#date}}
        <a href="{{{url}}}" class="lightText">{{date}} </a>
        {{/date}}
        
        {{{html}}}
        
        {{#tags}}
        <a href="/tagged/{{slug}}">{{name}}</a>
        {{/tags}}
        <Br />
        <Br />
        <Br />
        
        {{#previous}}
        <a class="previousEntry" href="{{{url}}}">
          <span class="lightText">Previous post</span>
          <span class="title"><b class="link">{{title}}</b></span>
          <span class="summary">{{summary}}</span>
        </a>    
        {{/previous}}  

        {{#next}}
        <a class="nextEntry" href="{{{url}}}">
          <span class="lightText">Next post</span>
          <span class="title"><b class="link">{{title}}</b></span>
          <span class="summary">{{summary}}</span>
        </a>    
        {{/next}}

    {{/entry}}
    


    {{> pluginHTML}}        

    {{> footer}}    
    </div>    
  </body>
</html>