<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container">
      {{> header}}
      <form action='/search'>
        <input placeholder="Search {{title}}..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />
        <input type="submit" value="Search"/>
      </form>
      <Br /><br />
      <div class="results">
        {{#query}}
          {{^entries}}
          <p>Sorry, nothing found for “{{query}}”</p>
          {{/entries}}
        {{/query}}

        {{#entries}}
          <a href="{{{url}}}">{{title}}</a>
          <span class="small">{{date}}</span>
          <br />
        {{/entries}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>