{{{appCSS}}}

body {
    font-family: 'Cousine', monospace;
    line-height: 150%;
    color: rgb(51,51,51);
    background: #fafafa;
    padding:0;
    margin:0;
}

img {max-width: 100%;height: auto;vertical-align: middle;}

.clear {width: 100%;clear: both;display: block;}

pre, code {
    font-family: 'Cousine', monospace;
}

pre {background:#fff;
    padding: 0.33em 0.66em 0.22em;
    margin: -0.33em 0 0 -0.66em;
    border-radius:0.33em;
    border:1px solid rgba(0,0,0,0.1);
}

#logo {
    text-transform: uppercase;
    letter-spacing:0.1em;
    font-weight: bold;
    display: block;
    background-image:none;color:#000;position:relative;margin-bottom:0;}
#logo img {width: 42px;height:42px;position:absolute;left: -54px;border-radius:50%;}

/*#logo:after {content:"|";color:#afafaf;font-size:0.9em;margin:0 0.33em;}*/

#header{font-size:16px;margin-bottom:1em;}
#header a:not(#logo):not(.right) {font-size:14px;margin-right: 0.2em;letter-spacing:0.05em;}
#header a.right {position: relative;float:right;margin-left:1em;line-height:14px;overflow:visible;font-size:14px;}

#header a.search,
#header a.feed {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1icm9hZGNhc3QiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIwIDEyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Y2lyY2xlIGN4PSIxOC4zODUiIGN5PSIxMDEuNjE1IiByPSIxOC4zODUiLz4NCjxnPg0KCTxwYXRoIGQ9Ik0tMS4wMzEsNjFjMzIuNTMzLDAsNTksMjYuNDY4LDU5LDU5cy0yNi40NjcsNTktNTksNTlzLTU5LTI2LjQ2OC01OS01OVMtMzMuNTY0LDYxLTEuMDMxLDYxIE0tMS4wMzEsMzgNCgkJYy00NS4yODgsMC04MiwzNi43MTMtODIsODJzMzYuNzEyLDgyLDgyLDgyczgyLTM2LjcxMyw4Mi04MlM0NC4yNTcsMzgtMS4wMzEsMzhMLTEuMDMxLDM4eiIvPg0KPC9nPg0KPGc+DQoJPHBhdGggZD0iTTAuMTU0LDIzLjA0MWM1My4zNDksMCw5Ni43NSw0My40MDIsOTYuNzUsOTYuNzVzLTQzLjQwMiw5Ni43NS05Ni43NSw5Ni43NWMtNTMuMzQ4LDAtOTYuNzUtNDMuNDAyLTk2Ljc1LTk2Ljc1DQoJCVMtNTMuMTk0LDIzLjA0MSwwLjE1NCwyMy4wNDEgTTAuMTU0LDAuMDQxYy02Ni4xMzYsMC0xMTkuNzUsNTMuNjE1LTExOS43NSwxMTkuNzVzNTMuNjE0LDExOS43NSwxMTkuNzUsMTE5Ljc1DQoJCWM2Ni4xMzUsMCwxMTkuNzUtNTMuNjE1LDExOS43NS0xMTkuNzVTNjYuMjg5LDAuMDQxLDAuMTU0LDAuMDQxTDAuMTU0LDAuMDQxeiIvPg0KPC9nPg0KPC9zdmc+) left center/.75em no-repeat;
    background-size:0.78em;
    padding-left: 1.1em;
    color: #000;
}

#header a.search {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=);
    background-size:0.88em;
    padding-left:1.15em;
}

h1 {font-size:24px;line-height:30px;font-weight:normal;font-weight:bold;margin-top:9px;}
h1 {color:#000;margin-bottom: 0.66em;}
h2, h3, h4, h5, h6 {font-size: 16px;font-weight: bold;}
p {font-size: 16px;line-height: 23px;}

.small-caps {}

a, .link {
  text-decoration: none;
  color: inherit;
  text-shadow: .03em 0 #f6f5ed, -.03em 0 #f6f5ed, 0 .03em #f6f5ed, 0 -.03em #f6f5ed, .06em 0 #f6f5ed, -.06em 0 #f6f5ed, .09em 0 #f6f5ed, -.09em 0 #f6f5ed, .12em 0 #f6f5ed, -.12em 0 #f6f5ed, 0 0.03em #f6f5ed, 0 -.03em #f6f5ed, 0 .06em #f6f5ed, 0 -.06em #f6f5ed, 0 .08em #f6f5ed, 0 -.08em #f6f5ed;
  background-image: linear-gradient(#f6f5ed, #f6f5ed), linear-gradient(#f6f5ed, #f6f5ed), linear-gradient(#000, #000);
  background-size: 0 0,0 0,0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 88%;
}

b.link {
    background-size:0 0,0 0,0.12em 0.12em;
  background-position: 0% 90%, 100% 90%, 0% 97%;
}

a:hover, .link:hover {
  color: #468CC7;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#5599D2, #5599D2);
}

a::selection, .link::selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

a::-moz-selection, .link::-moz-selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

/* LAYOUT */


.container {
    max-width: 600px;
    margin:0 auto;
    position: relative;
}

.small {font-size:12px;margin-top:0.33em;display:block;}

.entryLink {
    display: block;
    margin-bottom: 2em;
    background: none;
}

.entryLink:hover{
    text-shadow:none;
    background: none;

}

.lightText {font-size:14px;color:#aaa;}
.lightText a {background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#aaa, #aaa);}




.caption {
  line-height: 18px;
  display: block;
  margin: 6px auto 24px;
  max-width: 600px;
  font-style: normal;
}

.margin {
  position: absolute;
  box-sizing: border-box;
  width: 29.3333%;
}

.margin blockquote {margin: 3px 0;padding: 3px 6px;font-size: 14px;line-height:18px}
.margin blockquote p {margin: 0}

.margin img,
.column img {margin-top: 6px}

.margin p {font-style: italic;font-family: Georgia;font-size: 0.9em;margin-top: 0}

.left.margin {
  left: -29.3333%;
  padding-right: 24px;
  text-align: right;
}

.right.margin {
  right: -29.3333%;
  padding-left: 24px;
}

.wide {
  width: 158.6666667%;
  margin-left: -29.3333333%
}

.wide.left, .wide.right {width: 129.3333333%}
.wide.left {margin: 0 0 0 -29.3333333%}
.wide.right {margin: 0 -29.3333333% 0 0}

.column {
  box-sizing: border-box;
  float: left;
}

.column .caption {margin-bottom: 6px}

.column.two {
  width: 50%;
  padding-right: 12px;
}

.column.three {
  width: 33%;
  padding-right: 24px;
}

.column.two + .column.two {
  padding: 0 0 0 12px;
}

.column h1,
.column h2,
.column h3 {margin-bottom: -12px}

/* Center images when they're meant to extend
   into both margins. Otherwise it aligns left
*/
.wide .image_container {margin: 0 auto}

.image {
  position: relative;
  height: 0;
  padding: 0 0 35.504201681%;
  overflow: hidden;
  max-width: 100%;margin: 0 auto;display: block;
}

.image img {width: 100%}

.image_container {display: block}


/* VIDEOS */

iframe {margin: 23px 0!important;width: 100%;}

/* TWEETS */

.twitter-tweet {margin-left:-16px!important}

/* MATH */

.katex  {font-size: 1.05em;}



/* Pagination */

.previousEntry,
.nextEntry {
  text-decoration: none;
  background: none;
  text-shadow: none;
  font-size: 0.88em;
  line-height: 1.33em;
  width: 48%;
  margin: 3em 0 6em 2%;
  color: #000;
  display: block;
  float: left;
}

.previousEntry:hover,
.nextEntry:hover {
  text-decoration: none;
  background: none;
  text-shadow: none;
}

.previousEntry {margin: 3em 2% 6em 0;}

.previousEntry .title,
.nextEntry .title {
  display: block;
  font-size: 1.156em;
  line-height: 20px;
  margin: 9px 0
}


input[type="submit"] {
font-size: 1em;
  padding: .68em 1em 0.58em;
  background: #D7D6C8;
  margin-left: 0.66em;
  font-family: Helvetica;
  vertical-align: top;
  color: #454432;
  cursor: pointer;
  }

input#search {
  font-size: 1em;
  padding: .58em 1em .58em 2.3em;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=) 1em center/0.8em no-repeat;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #D7D6C8;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fff;
}

input#search:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(100, 169, 226, 0.51);
  border: 2px solid #A1ADB6;
}

/*
Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>
*/

pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
    color: #839496;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-doctype,
.hljs-pi,
.lisp .hljs-string,
.hljs-javadoc {
  color: #586e75;
}

/* Solarized Green */
.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function,
.hljs-name {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference {
  color: #b58900;
}

/* Solarized Orange */
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.css .hljs-pseudo,
.hljs-header {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-deletion,
.hljs-important {
  color: #dc322f;
}

/* Solarized Violet */
.hljs-link_label {
  color: #6c71c4;
}

.tex .hljs-formula {
  background: #073642;
}


input[type="submit"] {
font-size: 1em;
  padding: .68em 1em 0.58em;
  background: #E7E7E7;
  margin-left: 0.66em;
  font-family: Helvetica;
  vertical-align: top;
  color: #454432;
  cursor: pointer;
  }

input#search {
  font-size: 1em;
  padding: .58em 1em .58em 2.3em;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=) 1em center/0.8em no-repeat;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #D7D6C8;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fff;
}

input#search:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(100, 169, 226, 0.51);
  border: 2px solid #A1ADB6;
}


{{#plugins.codeHighlighting.enabled}}
/* The theme used by the syntax highlighting app */
.hljs {display: block;overflow-x: auto;}
.hljs-comment, .hljs-quote, .hljs-variable {color: #008000;}
.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag {color: #00f;}
.hljs-string, .hljs-title, .hljs-section, .hljs-attribute, .hljs-literal, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-addition {color: #a31515;}
.hljs-deletion, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-meta {color: #2b91af;}
.hljs-doctag {color: #808080;}
.hljs-attr {color: #f00;}
.hljs-symbol, .hljs-bullet, .hljs-link {color: #00b0e8;}
.hljs-emphasis {font-style: italic;}
.hljs-strong {font-weight: bold;}
{{/plugins.codeHighlighting.enabled}}