/* BASICS */

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #fffefc;
  display: flex
}

a {
  color: blue;
  text-decoration: none;
}


#header {
  z-index: 1;
  display: flex;
  background: #f6f3f1;
}

#header>* {
  padding: 11px 20px
}

h1 {
  font-size: 18px;
  margin: 0;
  color: #111;
  font-weight: 500
}


#tabs {
  z-index: 1;
  padding: 0;

  float: left;

  overflow: hidden;
  display: inline-block
}

#tabs .button {
  margin: 0 0.5em 0 1em;
  width: 5rem;
  text-align: center;
}

.tab {
  display: inline-block;
  padding: 11px 20px
}

.tab.true {
  background: #fff
}

.view-wrapper {
  /*  border-left: 2px solid rgba(50,67,88,.07);
  border-top: 2px solid rgba(50,67,88,.07);
*/
  border-right: none;
  border-bottom: none;
  display: flex
}

#editor {
  font-size: 14px;
  overflow: hidden;
}

#delete-button {
  margin: 0;
  text-shadow: none;
  box-shadow: none;
  background: none;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}


.back {
  margin: 0 0 0 0.5rem
}

#sidebar {
  z-index: 1;
  flex-shrink: 0;
  min-width: 240px;
  font-size: 14px;
  background: #fbf8f6;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .03);
}

#sidebar>* {
  padding: 0 1.5rem;
}

#sidebar .close {
  background: rgba(0, 0, 0, .02);
  padding: 11px 20px;
  color: rgb(158, 154, 152)
}

#sidebar hr {
  padding: 0;
  margin: 11px 20px;
  width: 50%;
}

#sidebar h3 {
  margin: 2em 0 1em;
  position: relative;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: rgb(158, 154, 152);
  font-weight: 400;
  margin-bottom: 4px;

}

#sidebar a {
  background: none;
  color: #365899
}

#sidebar a:hover {
  background: rgba(50, 67, 88, .07)
}

#sidebar a.active {
  background: rgba(213, 213, 213, 0.41);
}

#sidebar .button {
  margin-left: 1.5em
}


form .box.green.success,
form .box.orange.error {
  display: inline-block;
  padding: 0.33em 0.66em;
  width: auto;
  max-width: 20rem;
  font-size: 14px;
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  margin: 0 0 0 1.33em;
}



.CodeMirror {
  height: auto;
  flex-grow: 1;
    min-height: calc(100vh - 2.875rem);
  font-family: monospace;
}

.CodeMirror-gutters {
  background-color: #fbf8f6;
}

.CodeMirror-linenumber {
  color: rgb(158, 154, 152)
}