/* BASICS */

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #fffefc;
  display: flex
}

a {
  color: blue;
  text-decoration: none;
}


#header {
  z-index: 1;
  display: flex;
  background: #f6f3f1;
}

#header>* {
  padding: 11px 20px
}

h1 {
  font-size: 18px;
  margin: 0;
  color: #111;
  font-weight: 500
}


#tabs {
  z-index: 1;
  padding: 0;

  float: left;

  overflow: hidden;
  display: inline-block
}

#tabs .button {
  margin: 0 0.5em 0 1em;
  width: 5rem;
  text-align: center;
}

.tab {
  display: inline-block;
  padding: 11px 20px
}

.tab.true {
  background: #fff
}

.view-wrapper {
  /*  border-left: 2px solid rgba(50,67,88,.07);
  border-top: 2px solid rgba(50,67,88,.07);
*/
  border-right: none;
  border-bottom: none;
  display: flex
}

#editor {
  font-size: 14px;
  overflow: hidden;
}

#delete-button {
  margin: 0;
  text-shadow: none;
  box-shadow: none;
  background: none;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}


.back {
  margin: 0 0 0 0.5rem
}

#sidebar {
  z-index: 1;
  flex-shrink: 0;
  min-width: 240px;
  font-size: 14px;
  background: #fbf8f6;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .03);
}

#sidebar>* {
  padding: 0 1.5rem;
}

#sidebar .close {
  background: rgba(0, 0, 0, .02);
  padding: 11px 20px;
  color: rgb(158, 154, 152)
}

#sidebar hr {
  padding: 0;
  margin: 11px 20px;
  width: 50%;
}

#sidebar h3 {
  margin: 2em 0 1em;
  position: relative;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: rgb(158, 154, 152);
  font-weight: 400;
  margin-bottom: 4px;

}

#sidebar a {
  background: none;
  color: #365899
}

#sidebar a:hover {
  background: rgba(50, 67, 88, .07)
}

#sidebar a.active {
  background: rgba(213, 213, 213, 0.41);
}

#sidebar .button {
  margin-left: 1.5em
}


form .box.green.success,
form .box.orange.error {
  display: inline-block;
  padding: 0.33em 0.66em;
  width: auto;
  max-width: 20rem;
  font-size: 14px;
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  margin: 0 0 0 1.33em;
}










.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  height: 100%;
  color: black;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT TEMPLATE */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */


.CodeMirror {
  height: auto;
  flex-grow: 1;
    min-height: calc(100vh - 2.875rem);
  font-family: monospace;
}

.CodeMirror-gutters {
  background-color: #fbf8f6;
}

.CodeMirror-linenumber {
  color: rgb(158, 154, 152)
}