			html,
			body {
				margin: 0;
				padding: 0;
				  font: 400 16px / 150% -apple-system, BlinkMacSystemFont, Roboto, "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
			}


.inputs form {border-top: 1px solid #eee;margin: 0}