<h1>Google Docs</h1>

<p>Supports files created by <a href="https://en.wikipedia.org/wiki/Google_Docs">Google Docs</a>. You must sync your folder with <a href="/how/sync/google-drive">Google Drive</a> in order to publish Google Docs.</p>

<h2>Metadata</h2>

<p>Blot reads <a href="/how/metadata">metadata</a> at the very top of your Google Doc. For example:</p>

<pre>Title: October Newsletter
Tags: announcements, fall

The rest of your post goes here.
</pre>

<h2>Embed images and other files</h2>

<p>Insert images directly in Google Docs. They will be downloaded and stored beside the post. Alt and title text are preserved if they are part of the image in Google Docs.</p>

<h2>Headings</h2>

<p>Use the Google Docs heading styles (<code>Heading 1</code>, <code>Heading 2</code>, etc.) for in-post structure.</p>

<h2>Text formatting</h2>

<p>Bold, italic, superscript, subscript, underline and strikethrough text are preserved. Other inline styles are removed so the post inherits your theme's typography.</p>

<h2>Links</h2>

<p>Links in your Google Doc are cleaned automatically. Google's tracking redirects are removed so each link on your blog points directly to the original URL.</p>

<h2>Lists</h2>

<p>Use the Google Docs feature 'Insert > List' to create lists. These are preserved in the published post.</p>

<h2>Tables</h2>

<p>Use the Google Docs feature 'Insert > Table' to create tables. These are preserved in the published post.</p>

<h2>Footnotes</h2>

<p>Footnotes in your Google Doc are preserved in the published post.</p>

<h2>Line breaks</h2>

<p>Single line breaks are preserved by default so poetry or addresses appear as expected.</p>

<h2>Blockquotes</h2>

<p>You can use Markdown or email-style &gt; characters for block quoting. They are presented as:</p>

<pre>&gt; This is a blockquote with two paragraphs.
&gt;
&gt; This is the second paragraph. Vestibulum enim wisi.</pre>

<h2>Comments</h2>

<p>Comments in the document are removed from the post or page before publishing.</p>

<h2>Columns</h2>

<p>Google Docs cannot export columns.</p>

<h2>Size limits</h2>

<p>Google Docs must be smaller than 5&nbsp;MB. Larger documents should be split or simplified before they can be published.</p>
