<h1>Images</h1>

<p>
  Put images directly into your site's folder and Blot will publish them as
  individual posts. Blot generates optimized versions to deliver to your
  readers. Use the path to add <a href="/how/metadata">tags</a> or change the
  <a href="/how/metadata">publication date</a>.
</p>

<h2>Compression and color profile</h2>
<p>Blot aims to compress your images as little as possible to preserve its quality. Blot also preserves the color profile of images when publishing them to your site and generating thumbnails.</p>

<background class="green">
  <pre class="folder" title="Your site"><code>Apple.jpeg
Banana.png  
Cherry.gif
Trip to France
  _image.png  
  post.txt

</code></pre>
</background>

<h2>Prevent an image becoming a post</h2>
<p>
  You can make Blot
  <a href="/how/posts#prevent-a-file-becoming-a-post">ignore a file</a> if you
  start its name with an underscore. This is useful if you want to embed an
  image in <a href="/how/posts/markdown#images">Markdown post</a>.
</p>

<h2>Captioning an image</h2>
<p>
  Blot uses the image's filename, without its extension to generate a caption
  for the image.
</p>

<h2>Change the date of an image post</h2>

<p>
  You can use the
  <a href="/how/metadata#set-the-publish-date-using-your-folder"
    >image's file name or its path</a
  >
  to set its date.
</p>
