<h1>Org Mode</h1>

<p>
  Use the full range of <a href="https://orgmode.org/">Org Mode</a> features to
  format your posts.
</p>

<h2>Metadata</h2>


<p>You can add <a href="/how/metadata">metadata</a> to your posts using the following syntax:
</p>

<pre class="text with-chrome" title="Post.org">Date: February 28th, 2024
Tags: test, org-mode, blot

* Heading Level 1

Your post content goes here.</pre>
  
<p>You can also use YAML style metadata:</p>
<pre class="text with-chrome" title="Post.org">#+BEGIN_SRC yaml
Date: February 28th, 2024
Tags: test, org-mode, blot
#+END_SRC

* Your Post Title
</pre>

<h2>Links</h2>

<p>Use the following syntax to create links:</p>

<pre class="text with-chrome" title="Post.org">[[https://blot.im/][Blot]]</pre>

<h2>Images</h2>

<p>Use the following syntax to add images:</p>

<pre class="text with-chrome" title="Post.org">[[file:_image.jpg]]</pre>

<h2>Code blocks</h2>

<p>Use the following syntax to add code blocks:</p>

<pre class="text with-chrome" title="Post.org">#+BEGIN_SRC python
print("Hello, World!")
#+END_SRC</pre>

