<div class="header">
    <a id="logo" href="/">
      <!-- {{#avatar}}
      <img class="avatar {{#roundAvatar}}rounded{{/roundAvatar}}" src="{{avatar}}" alt="{{title}}"/>
      {{/avatar}} -->
      <strong>{{title}}</strong>
    </a>
    <div class="tags">
      <div style="overflow: hidden;height: 1.45em">
      {{#popular_tags}}
      <a href="/tagged/{{slug}}" {{#active}}style="font-weight:600"{{/active}} title="{{tag}}">{{tag}}</a>
      {{/popular_tags}}
    </div>
    </div>
    <div class="nav">
      {{#menu}}
      <a href="{{{url}}}" title="{{label}}">{{label}}</a>
      {{/menu}}
    </div>
</div>