<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        {{#entries}}
        <div class="entry">
          {{{html}}}
          <a class="small date" href="{{{url}}}">{{date}}</a>
          {{#tags}}
          <a class="small tag" href="/tagged/{{slug}}">{{name}}</a>
          {{/tags}}
          <div class="clear"></div>
        </div>
        {{/entries}}
        {{#pagination}}
        <div class="pagination">
          {{#previous}}
            <a href="/page/{{previous}}">&larr; Newer</a>
          {{/previous}}
          Page {{current}} of {{total}}
          {{#next}}
            <a href="/page/{{next}}">Older &rarr;</a>
          {{/next}}
        </div>
        {{/pagination}}
        {{> footer}}
      </div>
    </div>
  </body>
</html>