<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        <form action='/search' style="margin:-0.66em 0 1em">
          <input placeholder="What are you looking for? Search for an entry..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />
        </form>
        <div class="archives">
          {{#query}}
            {{^entries}}
            <p>Sorry, nothing found for “{{query}}”</p>
            {{/entries}}
          {{/query}}

          {{#entries}}
            <a href="{{{url}}}">{{title}}</a>
            <span class="small">{{date}}</span>
            <br />
          {{/entries}}
        </div>
        {{> footer}}
      </div>
    </div>
    <script type="text/javascript">
    var search = document.getElementById('search');
    search.focus();
    </script>
  </body>
</html>