/* Inserts the styles required by various options
on the services page of the dashboard */
{{{appCSS}}}

/* Will be replaced with the @font-face rules required
to load which font is selected as the main body font */
{{{body_font.styles}}}

/* Will be replaced with the @font-face rules required
to load which font is selected as the main body font */
{{{coding_font.styles}}}

body {
  {{#body_font}}
  font-family: {{{stack}}};
  font-size: {{{font_size}}}px;
  line-height: {{{line_height}}};
  {{/body_font}}
  text-rendering: optimizeLegibility;
  color: {{text_color}};
  background: {{background_color}};
  word-wrap: break-word;
  margin: 10px 15px;
}

.clear {width: 100%;clear: both;float: none;display: block;height: 0}

.small,
.caption {font-size: 13px;color: {{text_color}};font-weight: 500;opacity:0.5}

.caption {
  line-height: 18px;
  display: block;
  margin: 9px auto 24px;
  max-width: 600px;
  font-style: normal;
}

/* 29.3333 / 1.2933333 */
.wide.left .caption {margin-left: 22.680412113%}
.wide.right .caption {margin-right: 22.680412113%}


.right {float: right;}
.left {float: left;}

div {
  margin: 0 auto;
  overflow: visible;
  position: relative;
}

div.header {padding: 1.45rem;margin:1.4rem;display: flex;align-items:baseline;position: sticky;top:0;background: {{background_color}};z-index: 100}
.main {max-width: 60%;min-width: 720px}
.container {max-width: 1000px}
.entry {margin: 72px 0 120px}

/* LAYOUT */

.margin {
  position: absolute;
  box-sizing: border-box;
  width: 29.3333%;
}

.margin blockquote {margin: 3px 0;padding: 3px 6px;font-size: 14px;line-height:18px;}
.margin blockquote p {margin: 0}

.margin img,
.column img {margin-top: 6px}

.margin p {font-style: italic;font-size: 0.9em;margin-top: 0}
.column p {margin-top: 0}
.margin h1, .margin h2, .margin h3 {margin-top:0}

.left.margin {
  left: -29.3333%;
  padding-right: 30px;
  text-align: right;
}

.right.margin {
  right: -29.3333%;
  padding-left: 30px;
}

.wide {
  width: 158.6666667%;
  margin-left: -29.3333333%;
  overflow: auto; /* collapse internal margins */
}

.wide.left, .wide.right {width: 129.3333333%;float: none;}
.wide.left {margin: 0 0 0 -29.3333333%}
.wide.right {margin: 0 -29.3333333% 0 0}

.column {
  box-sizing: border-box;
  float: left;
}

.column .caption {margin-bottom: 6px}

.column.two {
  width: 50%;
  padding-right: 12px;
}


.column.two + .column.two {
  padding: 0 0 0 12px;
}

.column.three {width: 33.333333%;padding: 0 16px 0 0;}
.column.three + .column.three {padding: 0 8px}
.column.three + .column.three + .column.three {padding: 0 0 0 16px}

.column.four {width: 25%;padding-right: 18px;}
.column.four + .column.four {padding: 0 12px 0 6px;}
.column.four + .column.four + .column.four {padding: 0 6px 0 12px;}
.column.four + .column.four + .column.four + .column.four {padding: 0 0 0 18px;}


.column h1,
.column h2,
.column h3 {margin-bottom: -12px}

/* TEXT */

p, li {
  position: relative;
  margin: 24px 0;
}

h1 {font-size: 25px;line-height: 36px;font-weight: bold;margin-bottom: 24px}

h2, h3, h4, h5, h6 {font-size: 17px;font-weight: bold;line-height: 24px;margin: 48px 0 24px}

blockquote {
  padding: 0 0 0 12px;
  color: {{text_color}};
  opacity: 0.666;
}

/*
p .small-caps,
li .small-caps {
  font-family: "Georgia Pro SC";
}*/

big {color: {{text_color}};font-size: 32px;line-height: 48px;display: block;}

/* LINKS */

a {
  color: {{link_color}}; /* 02569B */
  text-decoration: none;
  text-shadow: .03em 0 {{background_color}}, -.03em 0 {{background_color}}, 0 .03em {{background_color}}, 0 -.03em {{background_color}}, .06em 0 {{background_color}}, -.06em 0 {{background_color}}, .09em 0 {{background_color}}, -.09em 0 {{background_color}}, .12em 0 {{background_color}}, -.12em 0 {{background_color}}, 0 0.03em {{background_color}}, 0 -.03em {{background_color}}, 0 .06em {{background_color}}, 0 -.06em {{background_color}}, 0 .08em {{background_color}}, 0 -.08em {{background_color}};
  background-image: linear-gradient({{background_color}}, {{background_color}}), linear-gradient({{background_color}}, {{background_color}}), linear-gradient({{link_color}}, {{link_color}});
  background-size: 0 0,0 0,0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 95%;
}

a:hover {
  opacity: 0.75
}

a::selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

a::-moz-selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

h1 a {
  background-size: 0 0,0 0,0.07em 0.07em;
  background-position: 0% 90%, 100% 90%, 0% 98%;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
  background-size: 0 0,0 0,0.07em 0.07em;
  background-position: 0% 90%, 100% 90%, 0% 97%;
}

a.tag {
  padding-left: 1.33em;
  margin-right: 1em;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIyMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyMyAyMiIgd2lkdGg9IjIzcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZWZzPjxwYXRoIGQ9Ik0xMy4xMjgwNzM4LC0xLjg2ODA4NjcyIEw2LDQuMjk4NjQzMjcgTDYsMTkuNTY2ODc3NSBDNiwxOS44MzY4NjU4IDYuMjIzNjgyNiwyMC4wNTU3MzQ1IDYuNDk5MDc2ODUsMjAuMDU1NzM0NSBMMjAuNTAwOTIzMiwyMC4wNTU3MzQ1IEMyMC43NzY1NTU3LDIwLjA1NTczNDUgMjEsMTkuODMyOTg3MyAyMSwxOS41NjY4Nzc1IEwyMSw0LjI5ODY0MzI3IEwxMy44NzE5MjYyLC0xLjg2ODA4NjcyIEMxMy42NjY1MTcxLC0yLjA0NTc5MjkgMTMuMzI5MjYwNCwtMi4wNDIxMzk4MSAxMy4xMjgwNzM4LC0xLjg2ODA4NjcyIFogTTEzLjUsNy44MzM1MTIzMiBDMTQuNjA0NTY5Niw3LjgzMzUxMjMyIDE1LjUsNi45NTc5ODAzMiAxNS41LDUuODc3OTU2NzYgQzE1LjUsNC43OTc5MzMyMSAxNC42MDQ1Njk2LDMuOTIyNDAxMjEgMTMuNSwzLjkyMjQwMTIxIEMxMi4zOTU0MzA1LDMuOTIyNDAxMjEgMTEuNSw0Ljc5NzkzMzIxIDExLjUsNS44Nzc5NTY3NiBDMTEuNSw2Ljk1Nzk4MDMyIDEyLjM5NTQzMDUsNy44MzM1MTIzMiAxMy41LDcuODMzNTEyMzIgTDEzLjUsNy44MzM1MTIzMiBaIiBpZD0icGF0aC0xIi8+PC9kZWZzPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9Im1pdSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGlkPSJjb21tb25fdGFnXzJfZ2VuZXJhbF9wcmljZV9nbHlwaCI+PHVzZSBmaWxsPSIjOTk5OTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzLjUwMDAwMCwgOS4wMDAwMDApIHJvdGF0ZSg0NS4wMDAwMDApIHRyYW5zbGF0ZSgtMTMuNTAwMDAwLCAtOS4wMDAwMDApICIgeGxpbms6aHJlZj0iI3BhdGgtMSIvPjx1c2UgZmlsbD0ibm9uZSIgeGxpbms6aHJlZj0iI3BhdGgtMSIvPjwvZz48L2c+PC9zdmc+) left center/0.94em no-repeat;
}

/* RULE */

hr {width: 100%;opacity:0.1;margin: 24px auto -1px;border: none;border-bottom: 3px double {{text_color}}; padding-bottom: 1.4em;text-shadow: none;box-shadow: none;}

/* CODE */

code {
  font-family: {{{coding_font.stack}}};
  margin: 0;
  font-size: 85%;
  background: rgba(0,0,0,.03);
  border-radius: 3px;
  line-height: 24px;
}

p code {
  line-height: 1em;
  padding: 2px;
  margin-left: -2px;
  display: inline-block;
}

/*
p code:before,
p code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}*/

pre code {
  display: block;padding: 12px 18px;
  margin: -11px 0 -13px -18px;
  background-color: rgba(0,0,0,.02)
}

/* TABLES */

table {
  display: block;
  width: auto;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 24px;
}

tr {box-sizing: border-box;border-top: 1px solid {{text_color}};padding: 0}
th, td {box-sizing: border-box;border: 1px solid {{text_color}};padding: 5px 12px 6px}

/* LISTS */

ul, ol {
  margin-left: 0;
  padding-left: 0;
  list-style-position: outside;
  margin-bottom: 24px;
}

ul {list-style: circle;}
ul.task-list { list-style-type: none; }

ul ul, ol ul, ol ol, ul ol {margin-left: 1.33em;margin-bottom: 0}

li {margin: 0}

/* IMAGES */

img {vertical-align: middle;max-width: 100%;height: auto;}

.image {
  position: relative;
  height: 0;
  padding: 0 0 35.504201681%;
  max-width: 100%;margin: 0 auto;display: block;
}

.image img {width: 100%}

.image_container {display: block}


.wide .image_container {margin: 0 auto}
.wide p {margin-top: 0}

/* VIDEOS & tweets */

iframe {width: 100%;}

/* Only apply vertical margin to direct
   descendants, prevents multi margins */
.entry > iframe {margin: 24px 0!important;}

/* TWEETS */

.entry .twitter-tweet {margin-left:-16px!important}

/* MATH */

.katex  {font-size: 1.05em;}



#logo {
  color: {{text_color}};

}


#logo img {max-width: 48px;max-height: 48px;margin-right: 1rem}
#logo:hover {opacity: 0.8}

#logo img.rounded {width: 52px;border-radius: 50%;top: -2px;left: -64px}
#logo img:active {margin-top: 1px}

/* Nav links are underlined which affects their optical lineheight */
div.header a {margin-right: 1rem;font-size: 15px;background: none;text-shadow: none;color: {{text_color}};}
div.header a:hover {text-decoration: underline;}
div.header .tags a {opacity: 1.0}
div.header .nav a {opacity: 0.4}

div.header .nav {
  display: flex;
  flex-grow: 1;
  align-content: baseline;
  justify-content: flex-end;
  flex-shrink: 0;
}
div.header .tags {margin:0 2rem;flex-grow: 1}

.nav a[href="/feed.rss"],
.nav a[href="/search"] {
  float: right;
  color: {{text_color}};
  text-indent: -1000px;
  overflow: hidden;
  font-weight: 500;
  font-size: 13px;
  padding-left: 1.25em;
  background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1icm9hZGNhc3QiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIwIDEyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Y2lyY2xlIGN4PSIxOC4zODUiIGN5PSIxMDEuNjE1IiByPSIxOC4zODUiLz4NCjxnPg0KCTxwYXRoIGQ9Ik0tMS4wMzEsNjFjMzIuNTMzLDAsNTksMjYuNDY4LDU5LDU5cy0yNi40NjcsNTktNTksNTlzLTU5LTI2LjQ2OC01OS01OVMtMzMuNTY0LDYxLTEuMDMxLDYxIE0tMS4wMzEsMzgNCgkJYy00NS4yODgsMC04MiwzNi43MTMtODIsODJzMzYuNzEyLDgyLDgyLDgyczgyLTM2LjcxMyw4Mi04MlM0NC4yNTcsMzgtMS4wMzEsMzhMLTEuMDMxLDM4eiIvPg0KPC9nPg0KPGc+DQoJPHBhdGggZD0iTTAuMTU0LDIzLjA0MWM1My4zNDksMCw5Ni43NSw0My40MDIsOTYuNzUsOTYuNzVzLTQzLjQwMiw5Ni43NS05Ni43NSw5Ni43NWMtNTMuMzQ4LDAtOTYuNzUtNDMuNDAyLTk2Ljc1LTk2Ljc1DQoJCVMtNTMuMTk0LDIzLjA0MSwwLjE1NCwyMy4wNDEgTTAuMTU0LDAuMDQxYy02Ni4xMzYsMC0xMTkuNzUsNTMuNjE1LTExOS43NSwxMTkuNzVzNTMuNjE0LDExOS43NSwxMTkuNzUsMTE5Ljc1DQoJCWM2Ni4xMzUsMCwxMTkuNzUtNTMuNjE1LDExOS43NS0xMTkuNzVTNjYuMjg5LDAuMDQxLDAuMTU0LDAuMDQxTDAuMTU0LDAuMDQxeiIvPg0KPC9nPg0KPC9zdmc+') no-repeat left center / 100%;
  background-size: 0.88em;
  margin-left: 1em
}

.nav a[href="/search"] {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=);
  background-size: 0.94em;
}

a.feed:hover,
a.search:hover {opacity: 1}

input#search {
  font-size: 1.2em;
  padding: .5em 1em .5em 2.3em;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=) 1em center/0.8em no-repeat;
  border-radius: 3em;
  width: 103.5%;
  box-sizing: border-box;
  margin: .33em .66em 2em -1em;
  border: 1px solid {{text_color}};
}

input#search:focus {
  outline: none;
  box-shadow: 0 0 5px {{link_color}};
  border: 1px solid {{link_color}};
}

::-webkit-input-placeholder {
   color: #A4A9B0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A4A9B0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A4A9B0;
}

:-ms-input-placeholder {
   color: #A4A9B0;
}

.date {margin-top: 10px;background: none;text-shadow: none;}
.date:empty {display: none;}

/* Reset the spacing when date is not followed by an h1 tag */
.entry .date + p,
.entry .date + ul,
.entry .date + ol {position: relative;top: 9px;padding-bottom: 9px}

.entry .date + .wide {position: relative;top: 2.66em;padding-bottom: 2.66em}
.entry .date + .wide.right {position: relative;top: 0.66em;padding-bottom: 0.66em}
.entry .date + h2,
.entry .date + h3,
.entry .date + h4,
.entry .date + h5,
.entry .date + h6
 {position: relative;top: 9px;}

/* Pagination */
.pagination {
  text-align: center;
  margin: 72px 0 144px;
  font-size: 14px;color: {{text_color}};opacity:0.5
}

.pagination a {margin: 0 1em;background: none}

.previousEntry,
.nextEntry {
  text-decoration: none;
  background: none;
  text-shadow: none;
  font-size: 0.88em;
  line-height: 1.33em;
  width: 48%;
  margin: 1em 0 6em 2%;
  color: {{text_color}};
  display: block;
  float: left;
}

.previousEntry {margin: 1em 2% 6em 0;}

.adjacent a h5 {margin-bottom: 3px;color: {{text_color}}}
.adjacent a .summary {color: {{text_color}};font-size: 13px;line-height: 17px;opacity:0.6}

.previousEntry .title,
.nextEntry .title {
  display: block;
  font-size: 1.156em;
  line-height: 20px;
  margin-bottom: 3px
}

@media screen and (max-width: 976px) {

  .main {max-width: 600px;min-width: 0}

  .entry .margin {position: relative;top: auto;left: auto;right: auto;bottom: auto;}

  .entry .margin.right {
    float: right;
  }

  .entry .margin.left {
    text-align: left;
    display: block;
    float: left;
  }

  .entry .date {width: 100%;}

  .entry .margin .caption,
  .entry .margin p {margin-bottom: 6px;text-align: left;}

  .wide, .wide.left, .wide.right {width: 100%;margin: 0}
  .wide.left .caption {margin-left: 0}

  .date {position: absolute;top: -24px;left: 0;text-align: left;margin: 0}
}

@media screen and (max-width: 730px) {
  div.header {
    padding-left: 0; 
    padding-right: 0; 
    max-width: 600px;
    min-width: 0;
    margin: auto;
  }
  ul, li {margin-left: 24px}
  ul ul, ol ul, ol ol, ul ol {margin-left: 0}
  .nav .right {clear: both;float: none;margin-top: 3px}
  a.search {margin-left: 0}
}

@media screen and (max-width: 400px) {
  .entry .twitter-tweet {margin-left: 0!important}
  div.header {
    margin: 9px auto -12px;
    display: flex;
    flex-direction: column;
    padding: 0.25em 0 1em;
  }
  div.header #logo, div.header .tags, div.header .nav {margin: 0 0 0.5em 0;}
}

{{#plugins.codeHighlighting.enabled}}
/* The theme used by the syntax highlighting app */
.hljs {display: block;overflow-x: auto;}
.hljs-comment, .hljs-quote, .hljs-variable {color: #008000;}
.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag {color: #00f;}
.hljs-string, .hljs-title, .hljs-section, .hljs-attribute, .hljs-literal, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-addition {color: #a31515;}
.hljs-deletion, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-meta {color: #2b91af;}
.hljs-doctag {color: #808080;}
.hljs-attr {color: #f00;}
.hljs-symbol, .hljs-bullet, .hljs-link {color: #00b0e8;}
.hljs-emphasis {font-style: italic;}
.hljs-strong {font-weight: bold;}
{{/plugins.codeHighlighting.enabled}}