<h1>Drafts</h1>

<p>Files in a sub-folder called <em>Drafts</em> are not published to your site. Instead, Blot creates a preview file which updates as you make changes.  You can share the preview file with others. Preview files should be opened in your web browser and require an internet connection.</p>

<pre class="folder" title="Your site"><code>Drafts
  Anecdote.txt
  Anecdote.txt.html
  Unpublished.txt
  Unpublished.txt.html
Pages
Posts

</code></pre>

<p>In the folder above, <em>Anecdote.txt.html</em> and <em>Unpublished.txt.html</em> are previews of the draft posts <em>Anecdote.txt</em> and <em>Unpublished.txt</em>.</p>

<h2>Do previews work offline?</h2>

<p>No, preview files require an internet connection to update. However, you can work offline on the draft file and sync it to Blot at a later time.</p>