@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/300.eot?version=04ae5a&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/300.eot?version=04ae5a&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/300.woff?version=25c0a3&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/300.ttf?version=1131e1&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/300.otf?version=30765d&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/400.eot?version=fcbf0b&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/400.eot?version=fcbf0b&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/400.woff?version=13efa8&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/400.ttf?version=174da2&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/400.otf?version=b32a15&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/500.eot?version=2123b2&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/500.eot?version=2123b2&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/500.woff?version=da3380&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/500.ttf?version=078227&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/500.otf?version=0880ab&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/600.eot?version=4fe3a4&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/600.eot?version=4fe3a4&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/600.woff?version=4824c1&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/600.ttf?version=598cfe&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/600.otf?version=0b9dc2&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/700.eot?version=21fa41&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/700.eot?version=21fa41&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/700.woff?version=1d5109&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/700.ttf?version=751731&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/700.otf?version=8c54ce&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/800.eot?version=540f96&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/800.eot?version=540f96&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/800.woff?version=47ca16&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/800.ttf?version=6df405&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/800.otf?version=a2b50d&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/900.eot?version=6bb8f2&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/900.eot?version=6bb8f2&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/900.woff?version=17f6eb&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/900.ttf?version=56c8bd&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/900.otf?version=38bfd0&extension=.otf') format('opentype');
}
.pull-double {margin-left:-0.49em}
.push-double{margin-right:0.49em}
.pull-single{margin-left:-0.27em}
.push-single{margin-right:0.27em}
.push-double,.push-single{display:inline-block}
