
<style type="text/css">
button {background: none;border: none;color:rgb(153, 153, 153);padding: 0;margin: 0;line-height: inherit;}
button:focus {outline: none;}
</style>
<div style="    
    line-height: 41px;padding:0 20px;border-bottom:1px solid rgba(0,0,0,0.05)">
{{#breadcrumbs.length}}

    {{#breadcrumbs}}

      <button type="submit" style="color:#aaa;" name="path" value="{{path}}" >{{name}}</button>

      {{^last}}
                <span style="margin:0 0.3em">/</span>
      {{/last}}

    {{/breadcrumbs}}
<!--     <span style="float:right;background:green;width:1em;height:1em;display:inline-block;border-radius:4em;font-size:9px;margin-top:15px"></span>
 --></div>
{{/breadcrumbs.length}}