
<style type="text/css">
button {background: none;border: none;color:rgb(153, 153, 153);padding: 0;margin: 0;line-height: inherit;}
button:focus {outline: none;}
</style>
<div style="    
    line-height: 41px;">
{{#breadcrumbs.length}}

    {{#breadcrumbs}}

      <button type="submit" style="color:#aaa;" name="path" value="{{path}}" >{{name}}</button>

      {{^last}}
                <span style="margin:0 0.3em">/</span>
      {{/last}}

    {{/breadcrumbs}}
    <hr style="margin:0">
</div>
{{/breadcrumbs.length}}