<STYLE TYPE="text/css">
button.content-line {
  padding:0 17px;
  line-height: 36px;
}

button.content-line:hover {
  background: #f7f4f2
}
button.content-line .folder,
button.content-line .file {float: none}


</STYLE>
<form method='post' class="files" action='/path?_csrf={{csrftoken}}'>

  <input type="hidden" name="redirect" value="{{redirect}}">

  {{#contents}}

    <button class="content-line" type="submit" name="path" value="{{path}}">
        
      {{#directory}}
      <span class="
      {{#directory}}folder{{/directory}}
      {{^directory}}file{{/directory}}
      "></span>  
      {{/directory}}

      {{^directory}}
      <img src="/images/file-empty.svg" style="vertical-align:text-bottom;margin-right:3px" width="16">
      {{/directory}}
      
      <span >{{name}}</span>
      
      <span class="clear"></span>
    </button>

  {{/contents}}
  <div class="clear"></div>

</form>