<form method='post' style="background:#f1edea;min-height:527px"  action='/path?_csrf={{csrftoken}}'>

  <input type="hidden" name="redirect" value="{{redirect}}">

  {{> breadcrumbs}}

{{^contents.length}}

    <p style="padding:0 0;line-height:41px;border-bottom:1px solid #eee;margin:0">This folder is empty</p>
  {{/contents.length}}
        
        
<div class="files">

  
  {{#contents}}


    <button style="padding:9px 1em" type="submit" name="path" value="{{path}}">
      
      <span class="
      {{#directory}}folder{{/directory}}
      {{^directory}}file{{/directory}}
      "></span>     
      
      <span >{{name}}</span>
      
      <span class="clear"></span>
    </button>


  {{/contents}}
  <div class="clear"></div>
</div>

</form>