{{^entry}}
<tr>
  <td>Ignored:</td>
  <td>This file is not a post because {{ignored}}.</td>
</tr>
{{/entry}}

{{#entry}}

<tr>
  <td>Title:</td>
  <td><a href="{{blog.url}}{{{url}}}">{{title}}</a></td>
</tr>

{{^draft}}{{^scheduled}}
<tr>
  <td>URL:</td>
  <td>{{{url}}}</td>
</tr>
{{/scheduled}}{{/draft}}

<tr>
  <td>Date:</td>
  <td>{{#scheduled}}Scheduled for publication {{toNow}} on {{date}}{{/scheduled}}{{^scheduled}}{{date}}{{/scheduled}}</td>
</tr>

<tr>
  <td>Draft:</td>
  <td>{{#draft}}Yes{{/draft}}{{^draft}}No{{/draft}}</td>
</tr>

<tr class="break">
  <td>Page:</td>
  <td>{{#page}}Yes {{/page}}{{^page}}No{{/page}}</td>
</tr>

{{/entry}}