{{^entry}}
<tr>
  <td>Ignored:</td>
  <td>This file did not become a post because {{ignored}}.</td>
</tr>
{{/entry}}

{{#entry}}
<tr>
  <td>{{#page}}Page{{/page}}{{^page}}Post{{/page}}:</td>
  <td>Yes</td>
</tr>

<tr>
  <td>Title:</td>
  <td>{{title}}</td>
</tr>

{{^draft}}{{^scheduled}}
<tr>
  <td>URL:</td>
  <td>{{{url}}}</td>
</tr>
{{/scheduled}}{{/draft}}

<tr>
  <td>Date:</td>
  <td>{{#scheduled}}Scheduled for publication {{toNow}} on {{date}}{{/scheduled}}{{^scheduled}}{{date}}{{/scheduled}}</td>
</tr>

<tr>
  <td>Draft:</td>
  <td>{{#draft}}Yes{{/draft}}{{^draft}}No{{/draft}}</td>
</tr>

<tr > 
  <td>Tags:</td>
  <td>{{#tags}} {{tag}}{{^last}},{{/last}} {{/tags}}</td>
</tr>


{{/entry}}