<style type="text/css">
table {
  display: table;
  width: 100%
}

tr {
  border: none;
}

tr.break {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

tr.break td {
  padding-bottom: 11px
}

tr.break+tr td {
  padding-top: 11px
}

td {
  vertical-align: top;
}

td:first-child {
  color: rgb(158, 154, 152);
  padding-right: 20px;
  min-width: 100px
}

td a {
  color: #0070e8
}

td:nth-child(2) {
  width: 100%;
}
</style>
<div style="padding:0 20px">

  {{#folder.stat}}

  <h1 style="line-height:48px;border-bottom:1px solid rgba(0,0,0,0.05);padding-bottom:16px;margin-top:16px;margin-bottom:11px;font-size: 32px;font-weight: 700">
    {{name}}
  </h1>

  <table>
    {{> stat}}
  </table>
  <hr>
  <table style="background: rgba(0,0,0,0.03);">
    {{> entry}}
  </table>

  {{/folder.stat}}
</div>