<style type="text/css">
table {
  display: table;
  width: 100%
}

tr {
  border: none;
}

tr.break {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

tr.break td {
  padding-bottom: 11px
}

tr.break+tr td {
  padding-top: 11px
}

td {
  vertical-align: top;
}

td:first-child {
  color: rgb(158, 154, 152);
  padding-right: 20px
}

td a {
  color: #365899
}

td:nth-child(2) {
  width: 100%;
}
</style>
<div style="padding:0 20px">

  {{#folder.stat}}

  <div style="line-height:36px;border-bottom:1px solid rgba(0,0,0,0.05);padding-bottom:11px;margin-bottom:11px">
      {{#entry}}
      <img src="/images/file-post.svg" style="margin-right:4px;vertical-align:text-bottom;" width="16">
      {{/entry}}
      {{^entry}}
      <img src="/images/file-empty.svg" style="margin-right:4px;vertical-align:text-bottom;" width="16">
      {{/entry}}
    {{name}}
  </div>

  <table>
    {{> entry}}
    {{> stat}}
  </table>

  {{/folder.stat}}
</div>