<style type="text/css">
table {
  display: table;
  width: 100%
}

tr {
  border: none;
}

td {
  vertical-align: top;
}

td:first-child {
  color: rgb(158, 154, 152);
  padding-right: 20px
}

td a {
  color: #365899
}

td:nth-child(2) {
  width: 100%;
}
</style>
<div style="padding:0 20px">

  {{#folder.stat}}

  <span style="line-height:36px">
      {{#entry}}
      <img src="/images/file-post.svg" style="margin-right:4px;vertical-align:text-bottom;" width="16">
      {{/entry}}
      {{^entry}}
      <img src="/images/file-empty.svg" style="margin-right:4px;vertical-align:text-bottom;" width="16">
      {{/entry}}

  <span>{{name}}</span>
  <br>
  <div class="clear" style="margin:11px 0;border-bottom:1px solid rgba(0,0,0,0.05)"></div>

  </span>

  <table>
    {{> entry}}
    {{> stat}}
  </table>

  {{/folder.stat}}
</div>