{{#stat}}

<span class="line-item">
    <span class="lab">Kind:</span>
<span class="val">{{kind}}</span>
</span>

<span class="line-item">
    <span class="lab">Size:</span>
<span class="val">{{size}}</span>
</span>

<span class="line-item">
    <span class="lab">Where:</span>
<span class="val">{{path}}</span>
</span>

<span class="line-item">
    <span class="lab">Created:</span>
<span class="val">{{created}}</span>
</span>

<span class="line-item">
    <span class="lab">Modified:</span>
<span class="val">{{modified}}</span>
</span>

{{/stat}}