{{#folder}}

  <div style="overflow:hidden;display:flex;flex-direction:column; box-shadow: rgba(15,15,15,.1) 0 0 0 1px, rgba(15,15,15,.1) 0 2px 4px;
    background: #fff;
    border-radius: 4px;">
{{#root}}<a class="line" href="/settings/client/{{client.name}}">
<span class="label">Folder</span>
{{^blog.client}}
      <span class="link">Set up a client</span>
    {{/blog.client}}
    {{#blog.client}}
    <span class="center">{{client.display_name}}</span>
    {{/blog.client}}
    </a>{{/root}}

<div class="folder-box" style="min-height: 25vh;">

{{#directory}}
{{> directory}}
{{/directory}}

{{#file}}
{{> file}}
{{/file}}

</div>
<div class="line" style="border-bottom: none;border-top: 1px solid #f0f0f0">
<span class="label" style="font-size:12px;flex-basis: 50%" id="status">Synced {{blog.updated}}</span>
</div>
</div>
{{/folder}}

<script type="text/javascript">
	
	var evtSource = new EventSource("/status");

		console.log('registered event source for /status');

	evtSource.onmessage = function(event) {
		console.log(event);
		document.getElementById('status').innerHTML = event.data
	}


</script>


