{{#folder}}

  <div style="display:flex;flex-direction:column; box-shadow: rgba(15,15,15,.1) 0 0 0 1px, rgba(15,15,15,.1) 0 2px 4px;
    background: #fff;
    border-radius: 4px;">
{{#root}}<a class="line" href="/settings/client/{{client.name}}">
<span class="label">Folder</span>
{{^blog.client}}
      <span class="link">Set up a client</span>
    {{/blog.client}}
    {{#blog.client}}
    <span class="center">{{client.display_name}}</span>
    {{/blog.client}}
    </a>{{/root}}

<div class="folder-box" style="min-height: 25vh;">

{{#directory}}
{{> directory}}
{{/directory}}

{{#file}}
{{> file}}
{{/file}}

</div>
</div>
<br><br>
{{/folder}}



