<div style="max-width:465px;margin: 0 auto;display: flex;flex-direction: column;justify-content: center;min-height: 100vh">


  {{#out}}
   <p style="margin:2rem 0" class="mess success" >
     You have been logged out
    </p>
  {{/out}}

<div class="form-container" style="padding-top: 16px;color:;position: relative;">
  
  <p style="margin:0;color:var(--light-text-color);padding-bottom: 16px;margin:-18px -36px 0;padding: 18px 36px;border-radius: 18px 18px 0 0"><strong style="display: block;color: var(--text-color);">Log in</strong>
    {{^then}}Manage your sites{{/then}}
    {{#then}}
      {{#then_description}}To {{then_description}}{{/then_description}}
      {{^then_description}}To access your dashboard{{/then_description}}
    {{/then}}</p>

<style type="text/css">
  input[type="submit"].link {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    display: inline;
    border-radius: 0;
    margin: 0;
    width: auto;
    text-decoration: underline;
    transition-property: color, border-color;
    transition-duration: .1s;
    transition-timing-function: ease-out;
  }

  input[type="submit"].link:active {
    margin: 0;
    padding: 0
  }
</style>



  {{#BADTOKEN}}
  <p class="error">The link to set your password has expired</p>
  {{/BADTOKEN}}

  {{#BADEMAIL}}
  <p class="error">That email address does not match a Blot account.</p>
  {{/BADEMAIL}}

  {{#NOEMAIL}}
  <p class="error">Please enter your email address.</p>
  {{/NOEMAIL}}

  {{#NOPASSWORD}}
  <p class="error">Please enter your password.</p>
  {{/NOPASSWORD}}

  {{#BADPASSWORD}}
  <p class="error">That was not your password.</p>
  {{/BADPASSWORD}}





<form method="POST">
  <input type="hidden" name="_csrf" value="{{csrf}}" />

  <p>
    <label for="email">Your email address</label>
    {{#validemail}}
    <input name="email" required="" onchange="updateReset(this)" type="text" value="{{email}}" />
    {{/validemail}}
    {{^validemail}}
    <input name="email" required="" onchange="updateReset(this)" type="text" value="{{email}}" autofocus />
    {{/validemail}}
  </p>
  <p>
    <label for="password">Password <a style="color:inherit;float:right;" id="reset" href="/log-in/reset{{#email}}?email={{email}}{{/email}}">Reset your password</a></label>
    {{#validemail}} 
    <input name="password" required="" type="password" autofocus />
    {{/validemail}}
    {{^validemail}} 
    <input name="password" required="" type="password" />
    {{/validemail}}
  </p>
  <input type="submit" value="Log in" style="margin-bottom: 8px" />
</form>
<script type="text/javascript">
  
function updateReset(node){
  document.getElementById('reset').href='/log-in/reset?email=' + node.value
}
</script>


</div>
</div>