<section class="authenticate-container">

  <form method="POST">

    
  
  <p style="margin-top: 0;margin-bottom: 2em;">
    <strong style="font-weight: 600;">Log in</strong>
    <span style="color: var(--medium-text-color);">
      &thinsp;&nbsp;&rarr;&nbsp;&thinsp; {{^then}}Sites{{/then}}
    {{#then}}
      {{#then_description}}To {{then_description}}{{/then_description}}
      {{^then_description}}To access your dashboard{{/then_description}}
    {{/then}}
    </span>
  </p>
  
  {{#BADTOKEN}}
  <p class="error">The link to set your password has expired</p>
  {{/BADTOKEN}}

  {{#BADEMAIL}}
  <p class="error">That email address does not match a Blot account.</p>
  {{/BADEMAIL}}

  {{#NOEMAIL}}
  <p class="error">Please enter your email address.</p>
  {{/NOEMAIL}}

  {{#NOPASSWORD}}
  <p class="error">Please enter your password.</p>
  {{/NOPASSWORD}}

  {{#BADPASSWORD}}
  <p class="error">That was not your password.</p>
  {{/BADPASSWORD}}

    <input type="hidden" name="_csrf" value="{{csrf}}" />

    <p>
      <label for="email">Your email address</label>
      {{#validemail}}
      <input name="email" required="" onchange="updateReset(this)" type="text" value="{{email}}" />
      {{/validemail}}
      {{^validemail}}
      <input name="email" required="" onchange="updateReset(this)" type="text" value="{{email}}" autofocus />
      {{/validemail}}
    </p>
    <p>
      <label for="password">Password <a style="float:right;" id="reset" href="/log-in/reset{{#email}}?email={{email}}{{/email}}">Reset your password</a></label>
      {{#validemail}} 
      <input name="password" required="" type="password" autofocus />
      {{/validemail}}
      {{^validemail}} 
      <input name="password" required="" type="password" />
      {{/validemail}}
    </p>
    <input type="submit" value="Log in" style="margin-bottom: 8px" />
    <p>Do you not have an account? <a href="/sites/sign-up">Sign up</a></p>
  </form>
</section>

<script type="text/javascript">
  
function updateReset(node){
  document.getElementById('reset').href='/log-in/reset?email=' + node.value
}
</script>