<div class="inputs">
	
	{{#colors.length}}
	<div style="margin:1rem;background: #fff">
		<h2>Color scheme</h2>
		{{#colors}} {{> color}} {{/colors}}
	</div>
	{{/colors.length}}

	{{#fonts.length}}
		{{#fonts}} {{> font}} {{/fonts}} 
	{{/fonts.length}}

	<div style="margin:1rem;background: #fff">
		<h2>Date and time</h2>
		<form
			id="dateSettings"
			method="post"
		>

			<label style="padding:5px 1rem;border-bottom: 1px solid #eee;display: block;">
				<input type="hidden" value="off" name="locals.hideDates" />
				<input id="hideDates" type="checkbox" name="locals.hideDates"
				{{#hideDates}}checked{{/hideDates}}/> Hide dates
			</label>
			<label style="padding:0 1rem">
				Date format<br />
				<select style="margin: 0 1rem" id="dateDisplay" name="locals.dateDisplay">
					{{#displayFormats}}
					<option value="{{value}}" {{selected}}>{{date}}</option>
					{{/displayFormats}}
				</select>
			</label>
			<hr />
			<script type="text/javascript">
				const dateSettings = document.getElementById("dateSettings");
				const dateDisplay = document.getElementById("dateDisplay");
				const hideDates = document.getElementById("hideDates");

				hideDates.addEventListener("change", () => {
					dateSettings.submit();
				});

				dateDisplay.addEventListener("change", () => {
					dateSettings.submit();
				});
			</script>
		</form>
	</div>

	{{#layouts.length}}
	<div style="margin:1rem;background: #fff">
		<h2>Layout</h2>
		{{#layouts}}

		{{#isRange}}
		{{> range}} 
		{{/isRange}}

		{{/layouts}}
	</div>
{{/layouts.length}}
</div>
<div style="margin:1rem;background: #fff">
	<a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/local-editing">Edit template locally</a>
	<a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/rename">Rename template</a>
	<a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/delete">Delete template</a>
</div>