<div class="inputs">
	
	{{#colors.length}}
	<div style="margin:1rem;background: #fff">
		<h2>Color scheme</h2>
		{{#colors}} {{> color}} {{/colors}}
	</div>
	{{/colors.length}}

	{{#fonts.length}}
		{{#fonts}} {{> font}} {{/fonts}} 
	{{/fonts.length}}
  
  {{#show_date_options}}
	<div style="margin:1rem;background: #fff">
		<h2>Date and time</h2>
		<form
			id="dateSettings"
			method="post"
		>
			{{#show_hide_dates}}
			<label style="padding:5px 1rem;border-bottom: 1px solid #eee;display: block;">
				<input type="hidden" value="off" name="locals.hide_dates" />
				<input id="hide_dates" type="checkbox" name="locals.hide_dates"
				{{#hide_dates}}checked{{/hide_dates}}/> Hide dates
			</label>
			{{/show_hide_dates}}
			{{#displayFormats.length}}
			<label style="padding:0 1rem">
				Date format<br />
				<select style="margin: 0 1rem" id="date_display" name="locals.date_display">
					{{#displayFormats}}
					<option value="{{value}}" {{selected}}>{{date}}</option>
					{{/displayFormats}}
				</select>
			</label>
			{{/displayFormats.length}}
			<hr />
			<script type="text/javascript">
				const dateSettings = document.getElementById("dateSettings");
				const date_display = document.getElementById("date_display");
				const hide_dates = document.getElementById("hide_dates");

				hide_dates.addEventListener("change", () => {
					dateSettings.submit();
				});

				date_display.addEventListener("change", () => {
					dateSettings.submit();
				});
			</script>
		</form>
	</div>
	{{/show_date_options}}

	{{#layouts.length}}
	<div style="margin:1rem;background: #fff">
		<h2>Layout</h2>
		{{#layouts}}

		{{#isRange}}
		{{> range}} 
		{{/isRange}}

		{{/layouts}}
	</div>
{{/layouts.length}}
</div>
<div style="margin:1rem;background: #fff">
	<a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/local-editing">Edit template locally</a>
	<a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/rename">Rename template</a>
	<a style="text-decoration:none;border-bottom:1px solid #eee;display: block;padding: 5px 20px;color:#666;font-size: 14px" href="{{{base}}}/delete">Delete template</a>
</div>