<div class="inputs">
	<div style="margin:1rem;background: #fff">
		<h2>Color scheme</h2>
		{{#colors}} {{> color}} {{/colors}}
	</div>

	<div style="margin:1rem;background: #fff">
		<h2>Type</h2>
		{{#fonts}} {{> font}} {{/fonts}} {{#ranges}} {{> range}}
		{{/ranges}}
	</div>

	<h2>Layout</h2>
	{{#layout}} {{/layout}}
	<hr />
	<h2>Date and time</h2>
</div>

	<div style="margin:1rem;background: #fff">
													<a href="{{{base}}}/rename">Rename template</a>
													<hr>
				<a  href="{{{base}}}/delete">Delete template</a>

	</div>