{{{appCSS}}}



body {
    font-family: Georgia, serif;
    color: rgb(51,51,51);
    background: #f6f5ed;
    padding:0;
    margin:0;
}

img {max-width: 100%;vertical-align: middle;height: auto;}

.clear {width: 100%;clear: both;display: block;}

.container {
    max-width: 600px;
    margin:0 auto;
    position: relative;
}

.small {font-size:12px;text-transform: uppercase;margin-top:0.33em;display:block;}

.entryLink {
    display: block;
    margin-bottom: 1.666em;
    background: none;
}

.entryLink:hover{
    text-shadow:none;
    background: none;

}

.lightText {font-size:12px;}
.lightText a {background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#aaa, #aaa);}

#header{font-size:17px;}
#header a:not(#logo):not(.right) {font-size:12px;text-transform: uppercase;margin-right: 0.33em;letter-spacing:0.05em;}
#header a.right {position: relative;overflow:visible;float:right;font-size:14px;margin-left:1em;margin-top:0.18em;}

#header a.search,
#header a.feed {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1icm9hZGNhc3QiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIwIDEyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Y2lyY2xlIGN4PSIxOC4zODUiIGN5PSIxMDEuNjE1IiByPSIxOC4zODUiLz4NCjxnPg0KCTxwYXRoIGQ9Ik0tMS4wMzEsNjFjMzIuNTMzLDAsNTksMjYuNDY4LDU5LDU5cy0yNi40NjcsNTktNTksNTlzLTU5LTI2LjQ2OC01OS01OVMtMzMuNTY0LDYxLTEuMDMxLDYxIE0tMS4wMzEsMzgNCgkJYy00NS4yODgsMC04MiwzNi43MTMtODIsODJzMzYuNzEyLDgyLDgyLDgyczgyLTM2LjcxMyw4Mi04MlM0NC4yNTcsMzgtMS4wMzEsMzhMLTEuMDMxLDM4eiIvPg0KPC9nPg0KPGc+DQoJPHBhdGggZD0iTTAuMTU0LDIzLjA0MWM1My4zNDksMCw5Ni43NSw0My40MDIsOTYuNzUsOTYuNzVzLTQzLjQwMiw5Ni43NS05Ni43NSw5Ni43NWMtNTMuMzQ4LDAtOTYuNzUtNDMuNDAyLTk2Ljc1LTk2Ljc1DQoJCVMtNTMuMTk0LDIzLjA0MSwwLjE1NCwyMy4wNDEgTTAuMTU0LDAuMDQxYy02Ni4xMzYsMC0xMTkuNzUsNTMuNjE1LTExOS43NSwxMTkuNzVzNTMuNjE0LDExOS43NSwxMTkuNzUsMTE5Ljc1DQoJCWM2Ni4xMzUsMCwxMTkuNzUtNTMuNjE1LDExOS43NS0xMTkuNzVTNjYuMjg5LDAuMDQxLDAuMTU0LDAuMDQxTDAuMTU0LDAuMDQxeiIvPg0KPC9nPg0KPC9zdmc+) left center/.75em no-repeat;
    padding-left: 1em;
}

#header a.search {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=);
    background-size:0.85em;
    padding-left:1.05em;
}

#logo {background-image:none;color:#000;position:relative;margin-bottom:0.165em;}
#logo img {width: 36px;height:36px;position:absolute;left: -48px;top:-0.5em;border-radius:50%;}

#logo:after {content:"|";color:#bbb;font-size:0.9em;margin:0 0.33em;}

h1 {font-size:36px;font-weight:normal;}
h2, h3, h4, h5, h6 {
  font-size: 20px;
  font-weight: normal;
  font-weight: 400;
  border-bottom: 1px solid rgba(145, 145, 117, 0.3);
  padding-bottom: 6px;
}

.entryLink h2 {font-size: 18px;border: none;}

h1 {color:#000;margin-bottom: 0.66em;}
p {font-size: 16px;line-height: 23px;}

h1:first-of-type {margin-top:0.155em;}

.small-caps {font-size:0.9em;}

a {
  color: #000; /* 02569B */
  text-decoration: none;
  text-shadow: .03em 0 #f6f5ed, -.03em 0 #f6f5ed, 0 .03em #f6f5ed, 0 -.03em #f6f5ed, .06em 0 #f6f5ed, -.06em 0 #f6f5ed, .09em 0 #f6f5ed, -.09em 0 #f6f5ed, .12em 0 #f6f5ed, -.12em 0 #f6f5ed, 0 0.03em #f6f5ed, 0 -.03em #f6f5ed, 0 .06em #f6f5ed, 0 -.06em #f6f5ed, 0 .08em #f6f5ed, 0 -.08em #f6f5ed;
  background-image: linear-gradient(#f6f5ed, #f6f5ed), linear-gradient(#f6f5ed, #f6f5ed), linear-gradient(#000, #000);
  background-size: 0 0,0 0,0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 95%;
}


a:hover {
  color: #468CC7;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#5599D2, #5599D2);
}

a::selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

a::-moz-selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

/* LAYOUT */

.caption {
  line-height: 18px;
  display: block;
  margin: 6px auto 24px;
  max-width: 600px;
  font-style: normal;
}

.margin {
  position: absolute;
  box-sizing: border-box;
  width: 29.3333%;
}

.margin blockquote {margin: 3px 0;color:#232323;padding: 3px 6px;font-size: 14px;line-height:18px;border: 1px solid rgba(0,0,0,0.1);border-left:4px solid rgba(0,0,0,0.2);background: rgba(0,0,0,0.05);}
.margin blockquote p {margin: 0}

.margin img,
.column img {margin-top: 6px}

.margin p {font-style: italic;font-family: Georgia;font-size: 0.9em;margin-top: 0}

.left.margin {
  left: -29.3333%;
  padding-right: 36px;
  text-align: right;
}

.right.margin {
  right: -29.3333%;
  padding-left: 36px;
}

.wide {
  width: 158.6666667%;
  margin-left: -29.3333333%
}

.wide.left, .wide.right {width: 129.3333333%}
.wide.left {margin: 0 0 0 -29.3333333%}
.wide.right {margin: 0 -29.3333333% 0 0}

.column {
  box-sizing: border-box;
  float: left;
}

.column .caption {margin-bottom: 6px}

.column.two {
  width: 50%;
  padding-right: 12px;
}

.column.three {
  width: 33%;
  padding-right: 24px;
}

.column.two + .column.two {
  padding: 0 0 0 12px;
}

.column h1,
.column h2,
.column h3 {margin-bottom: -12px}

/* Center images when they're meant to extend
   into both margins. Otherwise it aligns left
*/
.wide .image_container {margin: 0 auto}

.image {
  position: relative;
  height: 0;
  padding: 0 0 35.504201681%;
  overflow: hidden;
  max-width: 100%;margin: 0 auto;display: block;
}

.image img {width: 100%}

.image_container {display: block}


/* VIDEOS */

.entry iframe {margin: 23px 0!important;width: 100%;}

/* TWEETS */

.entry .twitter-tweet {margin-left:-16px!important}

/* MATH */

.katex  {font-size: 1.05em;}



/* Pagination */

.previousEntry,
.nextEntry {
  text-decoration: none;
  background: none;
  text-shadow: none;
  font-size: 0.88em;
  line-height: 1.33em;
  width: 48%;
  margin: 3em 0 6em 2%;
  color: #000;
  display: block;
  float: left;
}

.previousEntry:hover,
.nextEntry:hover {
  text-decoration: none;
  background: none;
  text-shadow: none;
}

.previousEntry {margin: 3em 2% 6em 0;}

.adjacent a h5 {margin-bottom: 3px;color: #000}
.adjacent a .summary {color: #6B6B6B;font-size: 13px;line-height: 17px;}

.previousEntry .title,
.nextEntry .title {
  display: block;
  font-size: 1.156em;
  font-family: sans-serif;
  line-height: 20px;
  margin-bottom: 3px
}


input[type="submit"] {
font-size: 1em;
  padding: .68em 1em 0.58em;
  background: #D7D6C8;
  margin-left: 0.66em;
  font-family: Helvetica;
  vertical-align: top;
  color: #454432;
  cursor: pointer;
  }

input#search {
  font-size: 1em;
  padding: .58em 1em .58em 2.3em;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=) 1em center/0.8em no-repeat;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #D7D6C8;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fff;
}

input#search:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(100, 169, 226, 0.51);
  border: 2px solid #A1ADB6;
}

{{#plugins.codeHighlighting.enabled}}
/* The theme used by the syntax highlighting app */
.hljs {display: block;overflow-x: auto;}
.hljs-comment, .hljs-quote, .hljs-variable {color: #008000;}
.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag {color: #00f;}
.hljs-string, .hljs-title, .hljs-section, .hljs-attribute, .hljs-literal, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-addition {color: #a31515;}
.hljs-deletion, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-meta {color: #2b91af;}
.hljs-doctag {color: #808080;}
.hljs-attr {color: #f00;}
.hljs-symbol, .hljs-bullet, .hljs-link {color: #00b0e8;}
.hljs-emphasis {font-style: italic;}
.hljs-strong {font-weight: bold;}
{{/plugins.codeHighlighting.enabled}}