<h1>Dates</h1>

<p class="measure">Blot uses the file&#x2019;s creation date as its publish date by default. You can specify a different date in the file&#x2019;s <a href="#metadata">metadata</a>. If you prefer to write your dates in a different order, please update your <a href="/preferences">date preferences</a> on your blog’s dashboard.</p>

<pre class="file"><code>Date: {{#date}}MMMM Do, YYYY{{/date}}

You can schedule a blog post for publication if you specify a date that's in the future. Blot will wait until then to publish it.

Blot supports a variety of date formats. The following all produce a post with the same date:

{{#date}}MM/DD/YYYY{{/date}}    {{#date}}MMMM D, YYYY{{/date}}
{{#date}}M.D.YYYY{{/date}}     {{#date}}YYYY-MM-DD 00:00{{/date}}

You can also use the file&#x2019;s name or its path:

{{#date}}YYYY-MM-DD-00:00[-Post.txt]{{/date}}    {{#date}}YYYY/MM/DD/[Post.txt]{{/date}} 
{{#date}}YYYY/M.D.[Post.txt]{{/date}}           {{#date}}YYYY/M.D/[Post.txt]{{/date}} 
 
</code></pre>
