<style type="text/css">h2 {margin-top:0;}</style>
<div class="w-50 pr4 fl">
  <h2>Publishing</h2>
  <p>
  <a href="/help/guides/formatting">Formatting blog posts</a><br>
  <a href="/help/guides/images">Embedding images in blog posts</a><br>
  <a href="/help/guides/static-server">Serving static files</a><br>
</p>
</div>
<div class="w-50 pl4 fl">
  <h2>Configuring your site</h2>
  <p>
  <a href="/help/guides/personal-domain">Using your own domain</a><br>
  <a href="/help/guides/importing-posts">Importing posts</a><br>
  <a href="/help/guides/redirects">Creating redirects</a><br>
  <a href="/help/guides/permalinks">Customizing the default permalinks</a><br>
  </p>
</div>
<div class="cf mv5"></div>
<div class="w-50 pr4 fl">
  <h2>Reference</h2>
  <p>
  <a href="/help/guides/metadata">Post metadata</a><br>
  <a href="/help/guides/date-tokens">Date tokens</a><br>
</p>
</div>
<div class="w-50 pl4 fl">
  <h2>Templates</h2>
  <p>
  <a href="/help/guides/post-properties">Post properties</a><br>
  <a href="/help/guides/blog-properties">Blog properties</a><br>
  <a href="/help/guides/lists-of-posts">Lists of posts</a><br>
  <a href="/help/guides/thumbnails">Thumbnails</a><br>
  </p>
</div>