<div class="measure">

<h1 class="fw4"><span class="light">Getting started &nbsp;/&nbsp;</span> Serving static files</h1>
<p>Blot is both a blogging platform and a static file server. You can use this feature to <a href="/help/guides/images">embed media</a> and distribute files to your readers. For example, let's say your blog's folder looks like this:</p>

<div class="w-80 center">
  <br>
<pre class="folder"><code>
Files
  Archive.zip
  index.html
Posts
</code></pre>
</div>

<br><br>
<p style="margin-top:1rem">Your readers can download <code class="file zip">Archive.zip</code> if they visit <code class="file webloc">your.blog.com/files/archive.zip</code>. Blot also serves index files. Your readers will see the contents of <code class="file html">index.html</code> if they visit <code class="file webloc">your.blog.com/files</code>.</p> 

<h2>What if a blog post and a file share the same URL?</h2>
<p>Blot shows the blog post instead of the file. This is because Blot <a href="/help/templates#routing">routes requests</a> from your readers to your blog's template first. If you prefer, you can <a href="/theme">disable your blog's template</a> on the dashboard and just use Blot as a static file server.</p>