
    <h2>Teasers</h2>

    {{=[[ ]]=}}

    <p class="measure">Some of Blot&#x2019;s templates show a teaser for each post on the homepage, and include a link to the read full post. Blot creates a teaser from the first few paragraphs in the post by default.
      You can specify the breakpoint using the <code>{{more}}</code> tag:</p>


      <pre class="file"><code>Everything above the ’more’ tag, including this line, will be in the post’s teaser.

{{more}}

Anything after the ’more’ tag, including this line, will not be in the post’s teaser.</code></pre>

</p>[[={{ }}=]]
