set logfile /var/www/blot/logs/monit.log

# the route which responds to this check is
# located in app/index.js
check process nodejs with pidfile "/var/run/blot.pid"
    start program = "/sbin/start blot"
    stop program  = "/sbin/stop blot"
    if failed port 8080 protocol HTTP
        request /health
        with timeout 10 seconds
        then restart

# the route which responds to this status check
# is in config/nginx/server.conf
check process nginx with pidfile "/var/run/nginx.pid"
    start program = "/sbin/start nginx"
    stop program  = "/sbin/stop nginx"
    if failed port 80 protocol HTTP
        request /health
        with timeout 10 seconds
        then restart