:root {
  --sidebar-width: 280px;
  --main-width: 800px;
}

.column:first-child {
  position: sticky;
  min-width: var(--sidebar-width); 
  flex-basis: calc((100vw - var(--main-width)) / 2);
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  top:0;
}

.navigation {
    width: calc(var(--sidebar-width)); /* Fixed width for sidebars */
    overflow: hidden;
    margin-left: 12px;
}

.navigation .sidebar {
  visibility: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(var(--sidebar-width) + 17px); /* Fixed width for sidebars */
  height: calc(100vh - 82px);
}

.navigation .sidebar > :last-child {
  margin-bottom: 40px;
}
.sidebar.initialized {
  visibility: visible;
  transition: visibility 0s;
}

.navigation > a {
  margin: 12px 0 24px;
  opacity: 1.0;
  transition: opacity 0.2s;
}

.navigation > a:hover {
  opacity: 0.7;
}


.column a {
  color: var(--text-color);
  text-decoration: none;
}

.column a.active {
  color: var(--link-color);
}


.navigation h2 {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: {{text_color}};
  font-weight: 600;
  margin: 0
}

.navigation h2 img {
  margin-right: 7px;
}


.sidebar, .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
  }


.sidebar {
  padding-left: 6px;
}

  .sidebar ul {
    margin-top:3px;
    margin-bottom: 3px;
    padding-left: 16px;
  }

  .sidebar li {
    margin: 0;
    margin-right: 11px;
    padding: 0;
    cursor: pointer;
  }
  
  .sidebar a,
  .sidebar button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    padding: 6px 12px 6px 18px;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.2s;
    border: none;
    background: none;
    line-height: 1.3;
  }

  .sidebar .submenu a:before {
    width: 1px;
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    bottom: 0;
    background-color: #eee;
  }

    .sidebar .submenu a:hover:before { 
    background-color: {{text_color}};
  }

  .sidebar .submenu a.active:before { 
    background-color: {{link_color}};
  }
  
  
  .sidebar button {
    font-weight: 500;
  }
  
   .sidebar button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
  background: no-repeat center / contain
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(0,0,0,0.3)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='svg-icon right-triangle'><path d='M3 8L12 17L21 8'/></svg>");
  }

   .sidebar button:hover {
    color: rgba(0,0,0,0.8)
   }
  .sidebar button:hover:before {
background: no-repeat center / contain
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(0,0,0,0.8)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='svg-icon right-triangle'><path d='M3 8L12 17L21 8'/></svg>");
    }

.sidebar [aria-expanded="true"] > button::before {
  transform: rotate(0deg);
  transition: transform 0.1s ease;
}

.sidebar button::before {
  transition: transform 0.1s ease;
}

  .sidebar a:hover {
    color: var(--text-color);
  }
  
  .sidebar a.active {
    color: var(--link-color);
  }

  .sidebar .submenu {
    transition: height 0.3s ease-out;
  }
  
  .sidebar .submenu.expanded {
    height: auto;
  }
  
  .sidebar .has-submenu > a::after {
    content: "›";
    float: right;
    transition: transform 0.3s;
  }
  
  .sidebar .has-submenu.expanded > a::after {
    transform: rotate(90deg);
  }
  
  
  .sidebar > li.menu-separator {
  border-top: 1px solid var(--border, #ddd);
  margin-top: .75rem;
  padding-top: .5rem;
}