<section id="wrapper">
  <ul>
    <li><a href="/feed.rss">RSS</a></li>
    <li><a href="/feed.json">JSON Feed</a></li>
    {{#microblog_user}}
    <li><a href="https://micro.blog/{{microblog_user}}" rel="me">Micro.blog</a></li>
    {{/microblog_user}}
    {{#email}}
    <li><a class="u-email" href="mailto:{{email}}" rel="me">Email</a></li>
    {{/email}}
  </ul>
  {{^hide_footer_search}}
  <form method="get" id="search" action="/search">
    <input class="field" type="text" name="q" maxlength="255" placeholder="To search, type and hit Enter&hellip;" />
    <input type="submit" value="Search" style="display: none;" />
  </form>
  {{/hide_footer_search}}
</section>
<script src="{{{scriptURL}}}" type="text/javascript"></script>