<ul id="post-list">
  {{#entries}}
  <li>
    <article>
      {{^titleTag}}
      <section class="post-body">
        {{{html}}}
      </section>
      {{/titleTag}}
      {{#titleTag}}
      <header>
        <h2><a href="{{{url}}}">{{title}}</a></h2>
      </header>
      <section class="post-body">
        {{{body}}}
      </section>
      {{/titleTag}}
      <a href="{{{url}}}" class="u-url">
        <aside class="dates">
          <time datetime="{{date}}" class="dt-published">→ {{date}}</time>
        </aside>
      </a>
    </article>
  </li>
  <span class="separator"><span class="divider"></span></span>
  {{/entries}}
</ul>

{{> pagination}}