<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{author}}" name="author">
  <meta content="{{description}}" name="description">
  <title>{{> title}}</title>
  <link rel="stylesheet" href="{{{cssURL}}}">
  <link href="{{{avatar}}}" rel="icon">
  <link href="/feed.json" title="{{title}}" type="application/json" rel="alternate">
  <link href="/feed.rss" title="{{title}}" type="application/rss+xml" rel="alternate">
</head>

<body>
  {{> navigation}}

  <section id="wrapper">
    {{#archives}}{{#months}}{{#entries}}

    <p class="h-entry">
      <a href="{{{url}}}" class="u-url"><span class="dt-published" datetime="{{date}}">{{date}}</span></a>:
      <span class="p-name"><b></b></span>
      <span class="p-summary">{{title}}</span>
    </p>
    {{/entries}}{{/months}}{{/archives}}
  </section>

  <footer id="footer">
    {{> footer}}
  </footer>

</body>

</html>