<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          <title>Archive</title>
        </div>
        <div class="home-title">
          <p class="home-heading">Archive</p>
          <p class="home-sub-heading">{{> description}}</p>
        </div>

        {{#archives}}
        <ul class="post-list">
          <h2 id="{{year}}-ref" class="post-year">{{year}}</h2>
          {{#months}}
          <h3 class="post-month">{{month}}</h3>
          <ul>
            {{#entries}}
            <li>
              <span class="post-meta">
                {{#formatDate}} MMM Do {{/formatDate}}
              </span>
              <a class="black-link post-link-layout" href="{{{url}}}">{{title}}</a>
            </li>
            {{/entries}}
          </ul>
          {{/months}}
        </ul>
        {{/archives}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>

