<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          <title>{{title}}</title>
        </div>
        <div class="home-title">
          <p class="home-heading">{{title}}</p>
          <p class="home-sub-heading">{{> description}}</p>
        </div>

        <ul class="post-list">
          <ul>
            {{#entries}}
            <li>
              <span class="post-meta">
                {{#formatDate}} MMM DD {{/formatDate}}
              </span>
                <a class="black-link post-link-layout" href="{{{url}}}">
                  {{title}}
                </a>
            </li>
            {{/entries}}
          </ul>
        </ul>

        {{#pagination}}
        <p>
          {{#previous}}
          <span>
            <a href="/page/{{previous}}">&larr; Newer posts</a>
          </span>
          {{/previous}}
          <span style="margin:0 1.75em;">page {{current}} of {{total}}</span>
          {{#next}}
          <a href="/page/{{next}}">Older posts &rarr;</a>
          {{/next}}
        </p>
        {{/pagination}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>