<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{#entry}}
        <article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
          <title>{{title}}</title>
          <header class="post-header">
            <div class="post-back">
              <a class="black-link" href="{{blogURL}}">
                ← Home
              </a>
            </div>
    
            <h1 class="post-title p-name" itemprop="name headline">
              {{title}}
            </h1>

            <p class="post-meta">
              <time class="dt-published" datetime="{{date}}" itemprop="datePublished">{{date}}
              </time></p>
              {{#tags.length}}
                {{#tags}}
                • <a class="light" href="/tagged/{{slug}}">{{name}}</a>
                {{/tags}}
              {{/tags.length}}
          </header>
    
          <div class="post-content e-content" itemprop="articleBody">
            {{{body}}}
          </div>
    
          <a class="u-url" href="{{{url}}}" hidden=""></a>
        </article>
        {{> pluginHTML}}
        {{/entry}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>

