<head>
    <meta charset="utf-8">
    <title>{{> title}}</title>
    <meta name="description" content="{{> description}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{title}}" href="{{{blogURL}}}{{{feedURL}}}">
    {{#avatar}}
    <link rel="icon" href="{{{avatar}}}" type="image/x-icon">{{/avatar}}

    <meta property="og:title" content="{{title}}">
    <link rel="canonical" href="{{{absoluteURL}}}">
    
    <link rel="stylesheet" href="{{{cssURL}}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <link type="application/atom+xml" rel="alternate" href="http://huangyz.name/moving//moving/feed.xml" title="Moving">
    <style></style>
</head>