@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

/* Inserts the styles required by various options
on the services page of the dashboard */
{{{appCSS}}}

/* Will be replaced with the @font-face rules required
to load which font is selected as the main body font */
{{{body_font.styles}}}

/* Will be replaced with the @font-face rules required
to load which font is selected as the main body font */
{{{coding_font.styles}}}


body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0
}

body {
  {{#body_font}}
  font-family: {{{stack}}};
  font-size: {{{font_size}}}px;
  line-height: {{{line_height}}};
  {{/body_font}}
  color: {{text_color}};
  background-color: {{background_color}};
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 2%
}

@media screen and (min-width: 600px) {
  body {
    padding: 0 5%;
    font: 400 18px/1.8 "Bitter", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", "Bitter", sans-serif
  }
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
  margin-bottom: 15px
}

main {
  display: block
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent)
}

img {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px 2px;
  border-radius: 3px;
  background-color: #f0f0f0;
  max-width: 100%;
  height: auto;
  vertical-align: middle
}

figure>img {
  display: block
}

figcaption {
  font-size: 15.3px
}

ul, ol {
  margin-left: 30px
}

li>ul, li>ol {
  margin-bottom: 0
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  font-weight: 400
}

a {
  color: #2a7ae2;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px
}

@media (max-width: 600px) {
  blockquote {
    font-size: 14.4px
  }
}

blockquote>:last-child {
  margin-bottom: 0
}

pre, code {
  font-size: 16.2px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: #f0f0f0
}

code {
  padding: 1px 1px
}

pre {
  padding: 2px 2px;
  overflow-x: auto
}

pre>code {
  border: 0;
  padding-right: 0;
  padding-left: 0
}

.wrapper {
  max-width: -webkit-calc(800px - (30px));
  max-width: calc(800px - (30px));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px
}

@media screen and (min-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    padding-right: 30px;
    padding-left: 30px
  }
}

.wrapper:after {
  content: "";
  display: table;
  clear: both
}

.orange {
  color: #f66a0a
}

.grey {
  color: #828282
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom
}

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8
}

table tr:nth-child(even) {
  background-color: #f7f7f7
}

table th, table td {
  padding: 10px 15px
}

table th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-bottom-color: #c9c9c9
}

table td {
  border: 1px solid #e8e8e8
}

.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  line-height: 72.9px;
  position: relative
}

.site-nav {
  position: absolute;
  top: 9px;
  right: 15px;
  background-color: #fdfdfd;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  text-align: right
}

.site-nav .nav-trigger {
  display: none
}

.site-nav .menu-icon {
  float: right;
  width: 36px;
  height: 26px;
  line-height: 0;
  padding-top: 10px;
  text-align: center
}

.site-nav .menu-icon>svg path {
  fill: #424242
}

.site-nav label[for="nav-trigger"] {
  display: block;
  float: right;
  width: 36px;
  height: 36px;
  z-index: 2;
  cursor: pointer
}

.site-nav input~.trigger {
  clear: both;
  display: none
}

.site-nav input:checked~.trigger {
  display: block;
  padding-bottom: 5px
}

.site-nav .page-link {
  color: #111;
  line-height: 1.8;
  display: block;
  padding: 5px 10px;
  margin-left: 20px
}

.site-nav .page-link:not(:last-child) {
  margin-right: 0
}

@media screen and (min-width: 600px) {
  .site-nav {
    position: static;
    float: right;
    border: none;
    background-color: inherit
  }
  .site-nav label[for="nav-trigger"] {
    display: none
  }
  .site-nav .menu-icon {
    display: none
  }
  .site-nav input~.trigger {
    display: block
  }
  .site-nav .page-link {
    display: inline;
    padding: 0;
    margin-left: auto
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 20px
  }
}

.site-footer {
  padding: 20px 0
}

.footer-heading {
  font-size: 20.25px;
  margin-bottom: 15px
}

footer .p-name {
  margin-right: 1em;
}

@media (max-width: 500px) {
  .p-name {
    font-size: 16.2px
  }
}

@media (max-width: 500px) {
  .u-email {
    font-size: 16.2px
  }
}

.contact-list, .social-media-list {
  list-style: none;
  margin-left: 0
}

.page-content {
  padding: 30px 0;
  flex: 1 0 auto
}

.page-heading {
  font-size: 36px
}

.home-title {
  margin-top: -10px
}

.home-heading {
  font-weight: 1000;
  color: #373737;
  font-size: 39.6px
}

@media (max-width: 500px) {
  .home-heading {
    margin-top: 20px;
    font-size: 30.6px
  }
}

.home-sub-heading {
  margin-top: -0.6rem;
  color: #515151;
  font-size: 18px
}

@media (max-width: 500px) {
  .home-sub-heading {
    font-size: 14.4px
  }
}

.post-list {
  margin-top: 2.5rem;
  margin-left: 0;
  list-style: none
}

.post-list li {
  margin-bottom: 2.5px
}

.post-year {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
  color: #373737;
  font-size: 27px
}

@media (max-width: 500px) {
  .post-year {
    font-size: 21.6px
  }
}

.post-meta {
  display: inline-block;
  min-width: 60px;
  font-size: 18px;
  color: #515151
}

@media (max-width: 500px) {
  .post-meta {
    font-size: 14.4px
  }
}

.post-link-layout {
  margin-left: 10%;
  display: inline;
  font-size: 21.6px
}

@media (max-width: 500px) {
  .post-link-layout {
    font-size: 18px
  }
}

.black-link {
  color: #111;
  text-decoration: none
}

.black-link:hover {
  color: #111;
  text-decoration: underline
}

.post-back {
  margin-bottom: 20px;
  color: #515151
}

.post-header {
  margin-bottom: 30px
}

.post-title, .post-content h1 {
  font-size: 39.6px;
  line-height: 1.3;
  font-weight: 1000;
  margin-top: -0.5rem
}

@media (max-width: 500px) {
  .post-title, .post-content h1 {
    font-size: 32.4px
  }
}

@media screen and (min-width: 800px) {
  .post-title, .post-content h1 {
    font-size: 39.6px
  }
}

.post-content {
  margin-top: 3.2rem;
  margin-bottom: 30px;
  position: relative;
}

.post-content h2 {
  font-size: 31.5px
}

@media screen and (min-width: 800px) {
  .post-content h2 {
    font-size: 36px
  }
}

.post-content h3 {
  font-size: 24.75px
}

@media screen and (min-width: 800px) {
  .post-content h3 {
    font-size: 29.25px
  }
}

.post-content h4 {
  font-size: 20.25px
}

@media screen and (min-width: 800px) {
  .post-content h4 {
    font-size: 22.5px
  }
}

.social-media-list {
  margin-top: -1rem;
  display: flex;
  font-size: 18px
}

.social-media-list li {
  float: left
}

.social-media-list li a {
  padding-right: 6px
}

@media screen and (min-width: 800px) {
  .one-half {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2))
  }
}

.about-page {
  display: inline-block
}

.about-page .about-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.about-page .about-header .about-avatar {
  padding: 1px;
  border: 1px solid #e8e8e8;
  width: 10rem;
  height: 10rem;
  margin: 0 2rem 0 0
}

.about-page .about-header .about-info {
  align-self: center
}

.about-page .about-header .about-info .about-your-name {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  font-size: 27px
}

.about-page .about-header .about-info .about-description {
  margin-top: -0.6rem;
  font-size: 18px;
  color: #515151
}

.about-page .about-content {
  margin-top: 2rem
}

/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}

.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}

.hljs-tag {
  color: #62c8f3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: #ade5fc;
}

.hljs-string,
.hljs-bullet {
  color: #a2fca2;
}

.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: #ffa;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet {
  color: #d36363;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #fcc28c;
}

.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: #888;
}

.hljs-regexp,
.hljs-link {
  color: #c6b4f0;
}

.hljs-meta {
  color: #fc9b9b;
}

.hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}

.hljs-addition {
  background-color: #a2fca2;
  color: #333;
}

.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}

/* Blot Layout */

.wide {
  width: 158.6666667%;
  margin-left: -29.3333333%;
  max-width: 100vw;
}
.wide.left, .wide.right {width: 129.3333333%;float: none;}
.wide.left {margin: 0 0 0 -29.3333333%}
.wide.right {margin: 0 -29.3333333% 0 0}

.margin {
  position: absolute;
  box-sizing: border-box;
  width: 29.3333%;
}
.margin p {font-style: italic;}
.left.margin {
  left: -29.3333%;
  padding-right: 30px;
  text-align: right;
}
.right.margin {
  right: -29.3333%;
  padding-left: 30px;
}
.margin p {margin-top: 2px}
.margin h1, .margin h2, .margin h3 {margin-top:0}


.column {
  box-sizing: border-box;
  float: left;
}
.column.two {
  width: 50%;
  padding-right: 12px;
}
.column.three {
  width: 33%;
  padding-right: 24px;
}
.column.two + .column.two {
  padding: 0 0 0 12px;
}

.right.inside {float: right;}
.left.inside {float: left;}

@media screen and (max-width: 1060px) {
  .margin,
  .margin.right,
  .margin.left {position: relative;display: block;top: auto;left: auto;right: auto;bottom: auto;}
  .margin.right {float: right;}
  .margin.left {text-align: left;float: left;}
  .wide, .wide.left, .wide.right {width: 100%;margin: 0}
}
@media screen and (max-width: 600px) {
  .margin {width: 40%;}
  .margin.right {padding-left: 16px;}
  .margin.left {padding-right: 16px;}
}

/* VIDEOS & tweets */

iframe {width: 100%;}

/* Only apply vertical margin to direct
   descendants, prevents multi margins */
.entry > iframe {margin: 24px 0!important;}

/* TWEETS */
.entry .twitter-tweet {margin-left:-16px!important}

/* MATH */
.katex  {font-size: 1.05em;}

.nav a[href="/search"] {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=);
  background-size: 0.94em;
}

a.feed:hover,
a.search:hover {opacity: 1}

input#search {
  font-size: 1.2em;
  padding: .5em 1em .5em 2.3em;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=) 1em center/0.8em no-repeat;
  border-radius: 3em;
  width: 103.5%;
  box-sizing: border-box;
  margin: .33em .66em 2em -1em;
  border: 1px solid {{text_color}};
}

input#search:focus {
  outline: none;
  box-shadow: 0 0 5px {{link_color}};
  border: 1px solid {{link_color}};
}

::-webkit-input-placeholder {
   color: #A4A9B0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A4A9B0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A4A9B0;
}

:-ms-input-placeholder {
   color: #A4A9B0;
}

/* ===== */

/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */

 .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}

.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}

.hljs-tag {
  color: #62c8f3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: #ade5fc;
}

.hljs-string,
.hljs-bullet {
  color: #a2fca2;
}

.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: #ffa;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet {
  color: #d36363;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #fcc28c;
}

.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: #888;
}

.hljs-regexp,
.hljs-link {
  color: #c6b4f0;
}

.hljs-meta {
  color: #fc9b9b;
}

.hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}

.hljs-addition {
  background-color: #a2fca2;
  color: #333;
}

.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}