@font-face {
  font-family: 'Charter';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/charter/regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/charter/regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/charter/regular.woff') format('woff'); /* Very modern */
}
 @font-face {
  font-family: 'Charter';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/charter/italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/charter/italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/charter/italic.woff') format('woff'); /* Very modern */
}
 @font-face {
  font-family: 'Charter';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/charter/bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/charter/bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/charter/bold.woff') format('woff'); /* Very modern */
}

 @font-face {
  font-family: 'Charter';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/charter/bold-italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/charter/bold-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/charter/bold-italic.woff') format('woff'); /* Very modern */
}