<h4>{{title}}</h4>

{{#warning}}
<p class="box orange">{{warning}}</p>
{{/warning}}

<p>1. Visit <a href="https://www.dropbox.com" target="_blank">Dropbox.com</a> and make sure you are logged in to the account you'd like to use with Blot. At the moment, Blot is connected to {{dropbox_name}}’s Dropbox account ({{dropbox_email}}).</p>
<p>2. Press the button below and give Blot access to your new Dropbox account. Blot will copy all the files in Blot’s folder to your new Dropbox account.</p>

<a href="/auth?change_account=true" class="button">Connect to Dropbox</a>
