{{#menu}}
<div class="nav fixed">
  
  <div class="center mw8 ph4">

    <a class="db fl pv4 w-left {{index}}" href="/" style="color:#fc615d"><img src="/images/logo.svg" width=14 style="position:relative;top:0px"> Blot</a>

    <div class="fl">
    {{#sign-up}}
    <a class="db fl pv4 {{index}}"><span style="color:black">Sign up</span><span style="color:#aaa">&nbsp;&nbsp;&nbsp;→&nbsp;&nbsp;&nbsp;Connect to Dropbox</span></a>
    {{/sign-up}}

    {{^sign-up}}
    <a class="db fl pv4 pr5 f6 fw6 {{sign-up}}" href="/sign-up">Sign up</a>
    <a class="db fl pv4 pr5 f6 fw6 {{log-in}}" href="/log-in">Log in</a>
    {{/sign-up}}
  </div>
</div>

  <!-- 
  <div class="center" style="max-width:650px">
  </div>
 -->
</div>
{{/menu}}

<div class="wrapper">
<div class="center mw8 ph4"  style="padding-top:88px;">
