{{> head}}
{{> header}}

<div class="pt4 mt4">

  <div class="w-right-offset">
    <div class="measure pr5">
    You can email <a href="mailto:support@blot.im" style="border:none"><span class="yellow">support@blot.im</span></a> directly. Feel free to send a message through <a href="https://twitter.com/blot__">Twitter</a> for short or less urgent inquiries. I'm <a href="https://llllll.li">David</a>, by the way.

  <br><br>  

    <!-- 
  <form  method="POST" action="?_csrf=">
  <textarea placeholder="Type your message here..." class="w-100 sans-serif mt5 br2 pa2 ba b--black-30" id="email" type="text" size="20" class="email" name="email" autofocus></textarea>

    <input type="submit" class="sans-serif submit button pv2 ph4 mt4" style="position:relative;top:-4px" value="Send message"  />
</form> -->
  </div>


</div>
</div>

{{> footer}}