<form method="POST" class="account">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <p>If you <b>cancel your subscription</b>, {{#blogs.length}} your site{{user.s}} will stop working and{{/blogs.length}} your account will permanently close on {{user.pretty.expiry}}. Until that date, you will be able to use your account.</p>

  <p>If you would rather close your account immediately, consider <a href="/dashboard/account/subscription/delete">deleting your account</a> instead.</p>

  <div class="buttons">
    <button type="submit" class="red" onclick="this.form.submit();this.disabled=true">Cancel your subscription</button>
    <a href="/dashboard/account/subscription">Do not cancel</a>
  </div>
  <br>
<br>

</form>