<style>

    #card {
      border: 1px solid var(--border-color);
      border-radius: 4px;
      padding: 12px 10px;
      height: 16px;
    }
    </style>
  
  
  <input type="hidden" name="stripeToken" class="stripeToken" value="">

<p id="error" style="display: none;"></p>
<label for="card">
  Your card
</label>
<div id="card" class="field"></div>



<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
var stripe = Stripe('{{stripe_key}}');  // Use your actual publishable key
  var elements = stripe.elements();

  var style = {
    base: {
      fontSize: '16px',
      color: "#000",
      iconColor: "#909bb0",
      '::placeholder': {
        color: "#909bb0"
      },
    }
  };


  // Create a single card input
  var card = elements.create('card', {style: style});

  card.mount('#card');

  function setFocusColor(elementId) {
    document.getElementById(elementId).style.borderColor = 'var(--accent-color)';
    document.querySelector('label[for="' + elementId + '"]').style.color = 'var(--accent-color)';
  }

  function resetFocusColor(elementId) {
    document.getElementById(elementId).style.borderColor = 'var(--border-color)';
    document.querySelector('label[for="' + elementId + '"]').style.color = '';
  }

  card.on('focus', function () {
      // reset the error message and enable the submit button
      document.getElementById('error').style.display = 'none';
      document.querySelector('button[type="submit"]').classList.remove('working');
      setFocusColor(card._parent.id);
    });
    card.on('blur', function () {
      resetFocusColor(card._parent.id);
    });

  function renderError(message){
    var errorElement = document.getElementById('error');
        errorElement.textContent = message;
        errorElement.style.display = 'block';
        document.querySelector('button[type="submit"]').classList.remove('working');

  }

  var form = document.getElementById('payment-form');

  form.addEventListener('submit', function(event) {

    // update the class on the submit button to show that it is working
    document.querySelector('button[type="submit"]').classList.add('working');

    event.preventDefault();

    stripe.createToken(card).then(function(result) {

      if (result.error) {
        // Inform the user if there was an error
        renderError(result.error.message);
      } else {
        // Assume function stripeTokenHandler exists to handle the received token
        stripeTokenHandler(result.token);
      }
    });
  });


  function stripeTokenHandler(token) {
    var form = document.getElementById('payment-form');
    var hiddenInput = document.querySelector('input.stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.submit();
  }

</script>