<form method="post" class="dashboard-form" style="padding: 0;"> 
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="timeZone" value="">  
  <input type="hidden" name="title" value="Untitled site">
  <div style="max-width:600px">

    <p style="border: 1px solid;border-radius: 12px;padding: 24px;margin:48px 0 0;border-color: #eeeeec;">
      <span style="/*! font-size:var(--large-font-size); */">{{price}}</span> 
      <span style="font-size:var(--medium-font-size);/*! color:var(--medium-text-color) */">per {{interval}} per site</span>
    </p>

        <p>
          
          {{^user.isMonthly}}If you create a new site, you will be charged {{now}} today.{{/user.isMonthly}}
        
        {{#user.isMonthly}}If you create another site today, your next monthly bill will increase by {{price}}. You can add or delete sites at any point. You can create as many sites as you like. {{/user.isMonthly}}
        
      </p>

      <!-- Add a checkbox to not show this message in future 
      {{^user.paypal.status}}
      <label for="hide" style="font-size: 16px;color:var(--accent-color);"> <input type="checkbox" name="hide" id="hide" checked>
         Don't show this message again</label>
      {{/user.paypal.status}} -->
  
      {{#user.paypal.status}}
      <p>
      Authorize this change to your next bill on PayPal. You will not be charged until your next bill.
      </p>



      <br>

      <div id="paypal-button-container"></div>
  
      <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&vault=true&intent=subscription&disable-funding=card"></script>
      <script>
  
      paypal
        .Buttons({
          createSubscription: function (data, actions) {
            return actions.subscription.revise("{{{user.paypal.id}}}", {
              plan_id: "{{{user.paypal.plan_id}}}",
              quantity: "{{new_quantity}}"
            });
          },
          onApprove: function (data, actions) {
            // replace the contents of the form with a loading message
            const form = document.querySelector("form");
            form.innerHTML = "<p>Loading...</p>";
            window.location.href = "/sites/account/create-site/paypal";
          }
        })
        .render("#paypal-button-container"); // Renders the PayPal button
      </script>

    {{/user.paypal.status}}
    {{^user.paypal.status}}
    <div  style="margin-top:2.5rem">
      {{^monthly}}
      <hr style="margin:0 0 1rem">
    <div style="display:flex;">
      <span style="Color:#a09d9c">Amount due today:</span>
      <span style="flex-grow:1;text-align:right">{{now}}</span>
    </div>
    {{/monthly}}
  <div class="buttons" style="width:100%">
    <button type="submit" onclick="this.form.submit();this.disabled=true">{{#user.isMonthly}}Create site{{/user.isMonthly}}{{^user.isMonthly}}Submit payment{{/user.isMonthly}}</button>
    <a href="/sites">Cancel</a>
  </div>
  {{/user.paypal.status}}
</div></div>
</form>