
    <p style="border: 1px solid;border-radius: 12px;padding: 24px;margin:48px 0 0;border-color: #eeeeec;">
      <span style="/*! font-size:var(--large-font-size); */">{{price}}</span> 
      <span style="font-size:var(--medium-font-size);/*! color:var(--medium-text-color) */">per {{interval}} per site</span>
    </p>
  
      {{#user.paypal.status}}
      <p>
      If you wish to proceed, please authorize this change on PayPal. You will not be charged until your next bill.
      </p>



      <br>

      <div
        id="create-site-paypal"
        data-paypal-subscription-id="{{{user.paypal.id}}}"
        data-paypal-plan-id="{{{user.paypal.plan_id}}}"
        data-paypal-new-quantity="{{new_quantity}}"
        data-paypal-redirect-url="/sites/account/create-site/paypal"
      >
        <div id="paypal-button-container"></div>
      </div>
  
      <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&vault=true&intent=subscription&disable-funding=card"></script>

    {{/user.paypal.status}}

     


  <div class="buttons" style="width:100%">
    <button type="submit" >{{#user.isMonthly}}Create site{{/user.isMonthly}}{{^user.isMonthly}}Submit payment{{/user.isMonthly}}</button>
    <a href="/sites">Cancel</a>
  </div>
</div></div>
</form>
