<form method="post" class="account"> 
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="timeZone" value="">  
  <div style="max-width:440px">

    {{#user.paypal.status}}
    <p>Each blog costs <b>{{price}} per {{interval}}</b></span>.  
            
      If you create another blog, your next bill on {{user.pretty.expiry}} will increase by {{price}}.
      </p>
  
      <p>
      Authorize this change to your next bill on PayPal:
    </p>

      <br>

      <div id="paypal-button-container"></div>
  
    <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&vault=true&intent=subscription&disable-funding=card"></script>
  
  
    <script>
  
      paypal
        .Buttons({
          createSubscription: function (data, actions) {
            return actions.subscription.revise("{{{user.paypal.id}}}", {
              plan_id: "{{{user.paypal.plan_id}}}",
              quantity: "{{new_quantity}}"
            });
          },
          onApprove: function (data, actions) {
            // replace the contents of the form with a loading message
            const form = document.querySelector("form");
            form.innerHTML = "<p>Loading...</p>";
            window.location.href = "/dashboard/account/create-blog/paypal";
          }
        })
        .render("#paypal-button-container"); // Renders the PayPal button
    </script>

    {{/user.paypal.status}}
    {{^user.paypal.status}}
      <p>Each blog costs <b>{{price}} per {{interval}}</b></span>.  {{^monthly}}If you create another today, you will be charged {{now}} to cover its cost until your next bill on <b>{{user.pretty.expiry}}</b>.{{/monthly}}{{#monthly}}If you create another blog, your next bill on {{user.pretty.expiry}} will increase by {{price}}.{{/monthly}}</p>
    <!-- <p>Each blog is independent:
  you could use Dropbox with one and Git with another. Your blogs can use the
  same Dropbox account, or different accounts.</p> -->
    <div  style="margin-top:2.5rem">
      {{^monthly}}
      <hr style="margin:0 0 1rem">
    <div style="display:flex;">
      <span style="Color:#a09d9c">Amount due today:</span>
      <span style="flex-grow:1;text-align:right">{{now}}</span>
    </div>
    {{/monthly}}
  <div class="buttons" style="width:100%">
    <button type="submit" onclick="this.form.submit();this.disabled=true">{{#monthly}}Create blog{{/monthly}}{{^monthly}}Submit payment{{/monthly}}</button>
    <a href="/dashboard">Cancel</a>
  </div>
  {{/user.paypal.status}}
</div></div>
</form>