<form method="POST" class="account">
  <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
  <input type="hidden" name="timeZone" value="" />
  <p style="margin: 11px 0 11px">
    Choose a title for your new site. You can change this later.
  </p>

  <div>
    <label for="title">Title</label>
    <input type="text" autofocus name="title" value="Untitled" />

    <div class="buttons">
      <button type="submit" onclick="this.form.submit();this.disabled=true">
        Save title
      </button>
      <input type="submit" name="no_title" value="Skip for now" />
    </div>
  </div>

  <br />
</form>

{{#footer}}

<script src="/js/jquery.js?{{ cacheID }}"></script>
<script src="/js/tz_detect.js?{{ cacheID }}"></script>
<script type="text/javascript">
  $("form").submit(function (event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $(this)
      .find(".button")
      .prop("disabled", true)
      .addClass("working")
      .val("Creating your site...");

    $(this).submit();
  });

  var timezone = jstz.determine();

  if (timezone) {
    $('input[name="timeZone"]').val(timezone.name());
  }
</script>
{{/footer}}
