<a href="" class="mess error" style="display:none">
         {{text}}
         <span class="link">Dismiss</span>
        </a>




<form id="payment-form" method="POST" style="max-width: 500px" id="payment-form">

  <p style="margin-top:0;padding:11px 0 0;margin-bottom:0">Would you like to pay <span class="yellow" style="background:#fff0a8">{{price}} per {{interval}}</span> to activate your subscription? If you have any questions please <a href="/support">contact support</a>.</p>

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <br>

  <div class="clear"></div>


  {{> card-form}}

  <div class="buttons">
    <button type="submit">Subscribe</button>
    <a href="/">Cancel</a>
  </div>


</form>

