<form method="post" class="account"> 
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <input type="hidden" name="timeZone" value="">  
    <div style="max-width:440px">
  
      {{#user.paypal.status}}
      <p>Reduce the quantity of your subscription on PayPal:
      </p>
  
        <br>
  
        <div
          id="paypal-button-container"
          data-paypal-subscription-id="{{{user.paypal.id}}}"
          data-paypal-plan-id="{{{user.paypal.plan_id}}}"
          data-paypal-revise-quantity="{{new_quantity}}"
          data-paypal-redirect-url="/sites/account/delete-blog-paypal/update"
        ></div>
    
      <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&vault=true&intent=subscription&disable-funding=card"></script>
    

      {{/user.paypal.status}}
  </div></div>
  </form>
