
<style type="text/css">
a {color: rgb(54, 88, 153);text-decoration: none;}
a:hover {text-decoration: underline;}
</style>


<a href="" class="mess error" style="display:none">
         {{text}}
         <span class="link">Dismiss</span>
        </a>


<p style="margin-top:0;padding:33px 20px 0;max-width:600px;margin-bottom:0">The subscription fee for <b>{{user.email}}</b> is overdue. Please pay your unpaid invoice if you would like to continue using Blot. If you do not want to continue using Blot, please <a href="/sites/account/subscription/delete"> delete your account</a>.<br><br>If you have any questions please <a href="/contact">contact support</a>.</p>

<form id="payment-form" method="POST" style="max-width: 500px;padding:11px 20px" id="payment-form">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">


  <div class="clear"></div>
<div class="line" style="margin-top: 20px;padding-left: 0 ">
<span class="label" style="padding-left: 0">Amount due:</span>
<span class="center">{{amountDue}}</span>
</div>


  {{> card-form}}

  <div class="buttons">
    <button type="submit">Submit payment</button>
    <a href="/">Cancel</a>
  </div>
  <br>
  <br>

</form>



<form action="/sites/account/log-out" method="post">
  <button type="submit" style="background:none;border:none;line-height:41px;padding:0 20px;margin:0;color:rgb(153, 153, 153);">Log out &thinsp;&rarr;</button>
</form>