<form class="account" method="post" style="padding: 0;max-width: none">
  <input type="hidden" name="_csrf" value="{{csrftoken}}" />

    {{#user.isFreeForLife}}
    <p style="padding:0em 2em 0 0;margin:11px 0 20px;line-height:1.5">You can use Blot <b>for free</b> for as long as Blot exists.</p>
    {{/user.isFreeForLife}}

    {{#user.cancel_at_period_end}}
    <div class="line"
      ><span class="label">Cancelled</span
      ><span class="center">Your
    subscription has been cancelled and you won’t be charged again. On
    <b>{{user.pretty.expiry}}</b> your account will close and your
    site{{user.s}} will shut down.</span></div
    >
    {{/user.cancel_at_period_end}}
    
    {{#user.isSubscribed}} 

    {{#user.subscription.quantity}}

    <div class="line"
      ><span class="label">Next bill</span
      ><span class="center"><b>{{user.pretty.price}}</b> for {{user.pretty.amount_in_words}} blog{{user.pretty.s}} on {{user.pretty.expiry}}.
      </span></div
    >

    {{#balance}}
    {{#credit}}
<div class="line"
      ><span class="label">Credit</span
      ><span class="center">Your account has a credit of <b>{{amount}}</b> which will apply to your next bill.
      </span></div
    >
    {{/credit}}
    {{/balance}}
        
    
    

    {{/user.subscription.quantity}} 

    {{/user.isSubscribed}}

    {{#user.isFreeForLife}}
    <a class="line" href="/dashboard/account/subscription/create"
      ><span class="label">Subscribe</span
      ><span class="center"><span class="link">Create a subscription</span></span></a
    >
    {{/user.isFreeForLife}}

    {{#user.cancel_at_period_end}}
    <a class="line" href="/dashboard/account/subscription/restart"
      ><span class="label">Restart</span
      ><span class="center"
        ><span class="link">Restart your subscription</span></span
      ></a
    >
    {{/user.cancel_at_period_end}}

    {{#user.isSubscribed}}

    <div class="clear"></div>

    <a class="line" href="/dashboard/account/subscription/billing-interval"
      ><span class="label">Billing interval</span
      ><span class="center"
        >Once per {{#monthly}}month{{/monthly}}{{^monthly}}year{{/monthly}}</span
      >
      <span class="right">Switch to {{#monthly}}annual{{/monthly}}{{^monthly}}monthly{{/monthly}} billing</span>
    </a>


    <a class="line" href="/dashboard/account/subscription/payment-method"
      ><span class="label">Payment method</span
      ><span class="center"
        ><span class="link">Update payment method</span></span
      ></a
    >

    <a class="line" href="/dashboard/account/subscription/cancel"
      ><span class="label">Cancel</span
      ><span class="center"
        ><span class="link">Cancel your subscription</span></span
      ></a
    >

    {{/user.isSubscribed}}
    <a class="line" href="/dashboard/account/subscription/delete" style="border-bottom: none">
      <span class="label">Delete</span>
      <span class="center"
        ><span class="link">Delete your account</span></span
      >
    </a>
  </div>
</form>
