<h1>Rosa template</h1>

<ul>
  <li><a href="http://preview.rosa.portfolio.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<p>The Rosa template is designed for long articles with high-resolution images. It features an index page which displays a feed of now posts. It highlights tags on the sidebar.</p>

<a href="http://preview.rosa.portfolio.blot.im"><img src="/templates/rosa/one.png"></a>

<a href="http://preview.rosa.portfolio.blot.im"><img src="/templates/rosa/two.png"></a>

<ul>
  <li><a href="/folders/portfolio.zip">Download the folder</a></li>
  <li><a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/portfolio">View the source</a></li>
</ul>

<a href="https://www.flickr.com/photos/swedish_heritage_board/sets/72157650224763869/">Bjorn Allard</a>

<p>Björn Allard (1923-2006) was employed as a photographer at the Swedish National Heritage Board in the 1950s and 1960s. He took part in archaeological surveys and excavations to contribute documentary photographs.</p>

<a href="./folder.zip">Download folder used to generate this site</a>
