<style type="text/css">

  {{#sticky_navigation}}
  .yield > h1:first-child,
  .yield style:first-child + .posts {
    padding-top: calc({{spacing}}rem + 1.4em);
  }
  {{/sticky_navigation}}

  

  .posts {
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    position: relative;
    padding: 0.8rem;
    margin-bottom: 2rem;
    width: 25%;
    cursor: zoom-in;
    box-sizing: border-box;
    font-size: 13px;
    color: #aaa;
    text-decoration: none;
    text-align: center;

  }
  {{#is.thumbnail_size}}
    {{#small}}
    .post {width: 33.3333%;}
    @media screen and (min-width: 540px) {.post {width: 25%;}}
    @media screen and (min-width: 800px) {.post {width: 20%;}}
    @media screen and (min-width: 1000px) {.post {width: 16.666667%;}}
    @media screen and (min-width: 1200px) {.post {width: 14.285714%;}}
    {{/small}}
    {{#medium}}
    .post {width: 50%;}
    @media screen and (min-width: 540px) {.post {width: 33.3333%;}}
    @media screen and (min-width: 800px) {.post {width: 33.3333%%;}}
    @media screen and (min-width: 1000px) {.post {width: 25%;}}
    @media screen and (min-width: 1200px) {.post {width: 20%;}}
    {{/medium}}
    {{#large}}
    .post {width: 100%;}
    @media screen and (min-width: 540px) {.post {width: 100%;}}
    @media screen and (min-width: 800px) {.post {width: 50%;}}
    @media screen and (min-width: 1000px) {.post {width: 50%;}}
    @media screen and (min-width: 1200px) {.post {width: 33.3333%;}}
    {{/large}}
    {{#huge}}
    .post {width: 100%;}
    {{/huge}}
  {{/is.thumbnail_size}}


  .post .thumbnail .container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center
  }


  .post .date {
    visibility: hidden;
    display: block;
  }

  .post .thumbnail {
    box-sizing: border-box;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.3rem
  }

  .post .thumbnail:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent
  }

  .post:active,
  .opac:active {
    opacity: 0.7
  }

  .post img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 0 auto
  }

  .post.no-thumbnail .thumbnail:after {
    border-color: rgba(0, 0, 0, .15);
    border-width: 2px
  }

  .post.no-thumbnail:hover .thumbnail:after {
    border-color: rgba(0, 0, 0, 0.4);
  }

  .post.no-thumbnail .thumbnail {
    color: rgba(0, 0, 0, .4);
    text-align: center;
  }

  .post.no-thumbnail .date {
    display: block;
  }

  .pre-loaded {
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .loaded {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
  }
</style>
<div class="posts">
  {{#entries}}
  <a
    href="{{{url}}}"
    class="post {{#thumbnail.medium}}zoomable{{/thumbnail.medium}} {{^thumbnail.medium}}no-thumbnail{{/thumbnail.medium}}">
    <span class="thumbnail">
      <span class="container">
        {{#thumbnail.medium}}
        <img
          class="pre-loaded"
          onload="this.className='loaded'"
          alt="{{ title }}"
          srcset="
          {{{thumbnail.small.url}}}  {{thumbnail.small.width}}w,
          {{{thumbnail.medium.url}}}  {{thumbnail.medium.width}}w,
          {{{thumbnail.large.url}}}  {{thumbnail.large.width}}w
        "
          src="{{{thumbnail.large.url}}}"
          sizes="calc(100vw / {{ thumbnails_per_row }})" />
        <noscript>
          <img
            alt="{{ title }}"
            srcset="
          {{{thumbnail.small.url}}}  {{thumbnail.small.width}}w,
          {{{thumbnail.medium.url}}}  {{thumbnail.medium.width}}w,
          {{{thumbnail.large.url}}}  {{thumbnail.large.width}}w
        "
            src="{{{thumbnail.large.url}}}"
            sizes="calc(100vw / {{ thumbnails_per_row }})" />
        </noscript>
        {{/thumbnail.medium}}
        {{^thumbnail.medium}}
        <span style="width: 100%">
          <span
            style="
              display: block;
              margin: 0.65em 1.3rem;
              box-sizing: border-box;
              overflow: hidden;
              color: rgba(0, 0, 0, 0.5);
              font-size: 24px;
            ">
            {{ title }}
          </span>
          <span style="font-size: 13px; display: block"
            >Added <span date-from-now="{{ dateStamp }}">{{ date }}</span></span
          >
        </span>
        {{/thumbnail.medium}}
      </span>
    </span>
  </a>
  {{/entries}}
</div>
