<input type="checkbox" name="hidden-toggle" id="hidden-toggle">
<header>
  <a href="/">{{title}}</a>
  <label id="toggle" for="hidden-toggle">
    <span class="hamburger-box">
          <span class="hamburger-inner"></span>
    </span>
  </label>
  <nav>
    {{#menu}}
    <a href="{{{url}}}" class="{{active}}">{{label}}</a>
    {{/menu}}

    {{#pagination}}
    <span class="spacer"></span>
    <span class="tabular-numerals"><span id="current-page">{{current}}</span> of {{total}}</span>
    <a href="/page/{{previous}}">&larr; </a>
    <a class="next-page" href="/page/{{next}}"> &rarr;</a>
    {{/pagination}}

    {{#entry}}
    {{^page}}
    <span class="spacer"></span>
    <a href="{{{next.url}}}">&larr; </a>
    <a href="{{{previous.url}}}"> &rarr;</a>
    <span class="spacer"></span>
    <a href="/">✕ Close</a>
    {{/page}}
    {{/entry}}
  </nav>
</header>
