{{> header}}

  <div class="yield flex">

    <div style="flex-grow:1;min-height:100vh" class="entry  {{#entry.page}} page {{/entry.page}}">

      <div class="body {{^entry.page}}post{{/entry.page}}" style="position:relative">
        {{{entry.body}}}

        {{> pluginHTML}}
      </div>
    </div>

    
    <script type="text/javascript">

document.onkeydown = checkKey;

function checkKey(e) {

    e = e || window.event;

    var nextURL = "{{{entry.next.url}}}";
    var previousURL = "{{{entry.previous.url}}}";
    
    if (previousURL && e.keyCode == '39') {
      window.location = previousURL
    }

     if (nextURL && e.keyCode == '37') {
      window.location = nextURL
    }

}
    </script>
    {{> footer}}