<div class="navigation-container">

  <input type="checkbox" name="toggle" id="toggle">

  <div class="navigation">

    <a href="/" class="index">{{title}}</a>
    <br>
    <div class="shrink">
    
      <div class="clip-7">

        {{#recentEntries}}
        {{#title}}
        <a href="{{{url}}}" class="{{active}}">{{title}}</a>
        {{/title}}
        {{/recentEntries}}

      </div>

    </div>
    <br>
    <div class="menu">
      {{#menu}}
      <a href="{{{url}}}" class="light {{active}}">{{label}}</a>
      {{/menu}}
    </div>

  </div>

  <label for="toggle">—<br>—<br>—</label>

</div>