{{> header}}

<div class="entry">
  <div class="nav">
    {{^entry.page}}
    <div>
      <a {{#entry.next}}href="{{entry.next.url}}"{{/entry.next}}><span style="font-size:32px;font-weight:200"><</span></a>
    </div>
    {{/entry.page}}
  </div>    
  <div class="contents">
  {{#entry}}
  {{{html}}}

  {{> pluginHTML}}

  {{/entry}}
  </div>
  <div class="nav">
    <a href="/" onclick="return lastIndexPage()">✕</a>
    {{^entry.page}}
    <div>
      <a {{#entry.previous}}href="{{entry.previous.url}}"{{/entry.previous}} style="font-size:32px;font-weight:200">></a>
    </div>
    {{/entry.page}}
  </div>  
</div>



{{> footer}}