<div class="posts">
  {{#entries}}

  <!-- These posts have photos -->
  {{#thumbnail.large.url}}
  <a class="post photo" href="{{{url}}}" style="
    max-width:{{thumbnail.large.width}};
    max-height:{{thumbnail.large.height}};
    width:calc({{thumbnail.large.width}}px*{{thumbnail_size}}/{{thumbnail.large.height}});
    flex-grow:calc({{thumbnail.large.width}}*{{thumbnail_size}}/{{thumbnail.large.height}})">
    <i style="padding-bottom:{{thumbnail.large.ratio}}"></i>
    <img src="{{{thumbnail.large.url}}}" class="pre-loaded" onload="this.className+=' loaded';" />
    <noscript>  
    <img src="{{{thumbnail.large.url}}}">
    </noscript>
    {{#show_title}}
    <span class="title">{{title}}</span>
    {{/show_title}}
  </a>
  {{/thumbnail.large.url}}

  <!-- These posts do not have photos -->
  {{^thumbnail.large.url}}
  <a class="post text" href="{{{url}}}" style="flex-grow:{{thumbnail_size}}">
    <span class="title">{{title}}</span>
    <span class="date">{{date}}</span>
  </a>
  {{/thumbnail.large.url}}
  
  {{/entries}}
</div>