{
    {
    appCSS
  }
}

html,
body {
  margin: 0;
  padding: 0
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga";
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.3;
  display: flex
}

input[name="toggle"] {
  display: none;
}

.navigation,
label[for="toggle"] {
  padding: 3.5rem 2rem;
}

label[for="toggle"] {
  line-height: 0.333;
  cursor: pointer;
  display: block;
  float: right;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.entries {
  padding: 1rem 2rem;
}

.clip-7> :nth-child(n+18) {
  display: none;
}

.clip-5> :nth-child(n+6) {
  display: none;
}

.navigation-container {
  flex-shrink: 0;
}

.navigation {
  max-width: 12em
}

.navigation a {
  display: block;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  transition: color 0.1s;
}

.navigation a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.pagination {
  padding: 1.3rem 2.6rem 1.3rem 2.6rem;
  margin: 0.65em;
  color: rgba(0, 0, 0, .4);
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .pagination {
    padding: 1.3rem 1.35rem;
  }
}

.pagination .spacer {
  border-right: 1px solid rgb(0, 0, 0, 0.1);
  height: 22px;
  margin-left: 1.3em;
  margin-right: 1.3em;
}

.pagination a {
  text-decoration: none;
  color: rgba(0, 0, 0, .1);
}

.pagination>* {
  margin: 0.65em 0
}

.navigation a:focus,
.navigation a.active,
.navigation a.index,
.navigation a.light,
.pagination a[href] {
  color: rgba(0, 0, 0, .4);
}

.navigation a.light:hover,
.pagination a[href]:hover {
  color: rgba(0, 0, 0, 0.3);
}

.menu[href="/feed.rss"],
.menu[href="/search"] {
  display: none;
}


@media screen and (min-width: 800px) {
  label[for="toggle"] {
    display: none;
  }
}


@media screen and (max-width: 800px) {

  .navigation {
    max-width: 100%;
    flex-grow: 1;
  }

  body {
    flex-direction: column;
  }

  .navigation-container {
    width: 100%;
    display: flex
  }

  input[name="toggle"]+.navigation>*:not(.index) {
    display: none;
  }

  input[name="toggle"]:checked+.navigation>*:not(.index) {
    display: block;
  }

}


.entries {
  display: flex;
  flex-wrap: wrap;
}

.entries a {
  width: 15%;
  padding: 1rem;
  box-sizing: border-box;
}

.entries a .box {
  border: 1px solid;
  display: flex;
  align-items: center;
}

.entries a img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}


.pre-loaded {
  visibility: hidden;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s, visibility 0.3s;
}

.loaded {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}



.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 1.3rem 2.6rem 1.3rem 2.6rem;
}

.post {
  margin: 0.65rem;
  position: relative;
}

.post.photo {
  cursor: zoom-in;
}

.post.text {
  border: 2px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  padding: 3.9rem 2.6rem;
}

.post.text:hover {
  border-color: rgba(0, 0, 0, .5)
}

.post.text .title {
  font-size: 22px;
  max-width: 15em;
  text-align: center;
  color: rgba(0, 0, 0, .75);
  margin: 0.65rem 0 0.15rem;
}

.post.text .date {
  font-size: 14px;
  color: rgba(0, 0, 0, .4)
}

/* When navigation is collapsed into toggle */
@media screen and (max-width: 800px) {
  .posts {
    padding: 0 1.35rem;
  }

  .post {
    margin: 1rem 0.65rem;
  }
}

/*.posts::after {
  content: '';
  flex-grow: 999999999;
}*/


.post:hover {
  opacity: 0.93
}

.post:active {
  opacity: 0.87
}

.post i {
  display: block;
}

.post img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}

.icon-holder {
  border: 1px solid;
  display: inline-block;
  border-radius: 100%;
  width: 1.25em;
  line-height: 1.25;
  height: 1.25em;
  text-align: center;
  position: relative;
  top: 0px
}

.icon-holder.margin-right {
  margin-right: 0.5rem
}

.icon-holder.margin-left {
  margin-left: 0.5rem
}

.entry {
  padding: 1.95rem 0 1.95rem 3.25rem;
  /*  flex-grow: 1;
*/
  margin: 0 auto;
  font-size: 22px
}

.entry hr {
  margin: 2.6em 0;
  border: none;
  border-top: 2px solid #f2f2f2;
}

.entry h1 {
  font-size: 32px;
  margin: 0.65em 0
}

.entry p {
  margin: 1.3em 0
}

.entry a {
  color: darkblue
}

.entry a:visited {
  color: purple
}

.entry .videoContainer {
  position: relative;
}

.entry iframe {
  width: 100%;
}

.entry>* {
  max-width: 40em
}



.footnotes,
blockquote {
  color: rgba(0, 0, 0, 0.6);
}

blockquote {
  padding-left: 2.6em;
  box-sizing: border-box;
}

.footnotes {
  font-size: 18px
}

@media screen and (max-width: 800px) {
  .entry {
    padding: 0 0;
  }
}

.entry img {
  max-width: 100%;
  max-height: calc(100vh - 4rem);
  height: auto;
  width: auto;
}

.nav {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .nav {
    flex-direction: row;
  }
}

.nav>* {
  display: block;
  padding: 2rem;
  font-size: 20px
}

.nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.1)
}

.nav a[href] {
  color: rgba(0, 0, 0, .4);
}

.nav a[href]:hover {
  color: rgba(0, 0, 0, 0.3);
}

.nav a[href]:focus {
  color: rgba(0, 0, 0, 0.2);
}