<ul class="clients">
  {{^selected.dropbox}}
  <li>
    <a href="/how/sync/dropbox">
      <img src="{{#cdn}}/images/sync/dropbox.svg{{/cdn}}" />
      <span class="a">Dropbox</span>Use a folder in Dropbox. {{> chevron}}</a
    >
  </li>
  {{/selected.dropbox}}
  {{^selected.git}}
  <li>
    <a href="/how/sync/git">
      <img src="{{#cdn}}/images/sync/git.svg{{/cdn}}" />
      <span class="a">Git</span>Use a git repository. {{> chevron}}
    </a>
  </li>
  {{/selected.git}}
  {{^selected.google-drive}}
  <li>
    <a href="/how/sync/google-drive">
      <img src="{{#cdn}}/images/sync/google-drive.svg{{/cdn}}" />
      <span class="a">Google Drive</span>Use a folder in Drive. {{> chevron}}</a
    >
  </li>
  {{/selected.google-drive}}
  {{^selected.icloud}}
  <li>
    <a href="/how/sync/icloud">
      <img src="{{#cdn}}/images/sync/icloud.svg{{/cdn}}" />
      <span class="a">iCloud</span>Use a folder in iCloud Drive. {{> chevron}}</a
    >
  </li>
  {{/selected.icloud}}

</ul>