<ul>
  {{^selected.dropbox}}
  <li>
    <a href="/how/sync/dropbox">
      <img src="/images/sync/dropbox.svg" width="16" />
      <span class="a">Dropbox</span> Use a folder in your Dropbox</a
    >
  </li>
  {{/selected.dropbox}}
  {{^selected.git}}
  <li>
    <a href="/how/sync/git">
      <img src="/images/sync/git.svg" width="16" />
      <span class="a">Git</span> Use a git repository
    </a>
  </li>
  {{/selected.git}}
  {{^selected.google-drive}}
  <li>
    <a href="/how/sync/google-drive">
      <img src="/images/sync/google-drive.svg" width="16" />
      <span class="a">Google Drive</span> Use a folder in your Drive</a
    >
  </li>
  {{/selected.google-drive}}
</ul>
