<h1>Drafts</h1>

<p>Files in a sub-folder called <em>Drafts</em> are not published to your site. Instead, Blot creates a preview file which updates as you make changes.  You can share the preview file with others. Preview files should be opened in your web browser and require an internet connection.</p>

<pre class="folder" title="Your site"><code>Drafts
  Anecdote.txt
  Anecdote.txt.html
  Unpublished.txt
  Unpublished.txt.html
Pages
Posts

</code></pre>

<p>In the folder above, Anecdote.txt.html and Unpublished.txt.html are previews of the draft posts Anecdote.txt and Unpublished.txt.</p>
