<h1>Moving to Blot</h1>

<p>Blot can import sites from the following platforms:</p>
<ul>
  <li>Wordpress</li>
  <li>Squarespace</li>
  <li>Are.na</li>
</ul>

<p>
  The importer generates a folder full of markdown files which you can drag and
  drop to publish immediately.
</p>

<h2>Transferring your domain</h2>

<p>
  You can switch an existing domain to Blot using the DNS records documented on
  the domain page.
</p>

<h2>Exporting your site</h2>

<p>
  You can also export your site to the Wordpress format, which is generally
  useful for migrating a site to another platform.
</p>
