<h1>Getting started</h1>

<p style="margin-top: 0;">Blot turns a folder into a website. Files become posts on your site. Drag-and-drop to publish. There’s no interface, just files, so you can use your favorite tools. You can create all sorts of sites with Blot: blogs, photography sites, portfolios and much more. Fundamentally, they all work the same way.</p>

<p ><a href="/watch"><svg style="margin:0 4px;vertical-align: middle;fill:currentColor;position:relative;left:-4px;top:-1px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm4.879-2.773 4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559V5.442a.25.25 0 0 1 .379-.215Z"></path></svg>Watch demonstration (6:25)</a></p> 

<h2>Overview</h2>
<ol class="steps">
<li><a href="/sign-up">Sign up</a> and create a site.</li>
<li>Choose a way to <a href="/how/sync">sync the folder</a> for your site.</li>
<li><a href="/how/files">Add files</a> to your site's folder. Blot publishes them to your site.</li>
</ol>

<h2 >Sync your folder</h2>
{{> client_list}}

<h2>Sub-folders</h2>
<p>You can organize your folder however you like. By default, files inside becomes posts. However, Blot treats files in the following folders differently:</p>
<ul class="clients files">
  <li><a href="/how/sub-folders/drafts"><span class="a"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 2.75C0 1.784.784 1 1.75 1H5c.55 0 1.07.26 1.4.7l.9 1.2a.25.25 0 0 0 .2.1h6.75c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25Zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H7.5c-.55 0-1.07-.26-1.4-.7l-.9-1.2a.25.25 0 0 0-.2-.1Z"></path></svg> Drafts</span></span> {{> chevron}}</a></li>

  <li><a href="/how/sub-folders/pages"><span class="a"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 2.75C0 1.784.784 1 1.75 1H5c.55 0 1.07.26 1.4.7l.9 1.2a.25.25 0 0 0 .2.1h6.75c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25Zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H7.5c-.55 0-1.07-.26-1.4-.7l-.9-1.2a.25.25 0 0 0-.2-.1Z"></path></svg> Pages</span></span> {{> chevron}}</a></li>
  <li><a href="/how/sub-folders/templates"><span class="a"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 2.75C0 1.784.784 1 1.75 1H5c.55 0 1.07.26 1.4.7l.9 1.2a.25.25 0 0 0 .2.1h6.75c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25Zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H7.5c-.55 0-1.07-.26-1.4-.7l-.9-1.2a.25.25 0 0 0-.2-.1Z"></path></svg> Templates</span></span> {{> chevron}}</a></li>

  
</ul>
<h2><a href="/how/posts">Files</a></h2>
{{> supported_file_list}}


<h2>Prevent a file becoming a post</h2>
<p> Files and folders whose names start with an underscore do not become posts or pages. You can link to or <a href="#files-in-your-folder-are-public">embed them in posts</a>.</p>

<h2>Your folder is public</h2>

<p>The files in your site’s folder are public. This is useful if you want to embed an image, a video or an audio file in a post. You can also use this to share files with your readers. For example, given the folder below, your readers can download <em>Archive.zip</em> if they visit <em>/Files/Archive.zip</em> on your site.</p>

<background>
  <pre class="folder" title="Your site"><code>Files
  Archive.zip
  index.html
Posts




</code></pre>
</background>