<h1>Pages</h1>

<p>
  Files inside a sub-folder called <em>Pages</em> become pages instead of site
  posts. Links to each page appear on your site’s menu. Pages are not added to
  the list of posts on your homepage.
</p>

<p>
  You can change the order of the pages on your menu and add external links on
  the <a href="/settings/links">Links</a> page of your site's dashboard.
</p>

  <pre class="folder" title="Your site"><code>Pages
  About.txt
  Contact.docx  
  Home.txt
  Secret.txt
Posts

</code></pre>

<h2>Hidden pages</h2>

<p>
  You can hide a page from your site’s menu with the <em>Menu</em>
  <a href="./metadata">metadata</a>.
</p>

<pre class="text with-chrome" title="Hidden.txt"><code>Menu: no

This page will not appear on your site‘s menu.

</code></pre>

<h2>Create a landing page</h2>
<p>
  You can create a landing page with the <em>Link</em>
  <a href="./metadata">metadata</a>.
</p>

<pre class="text with-chrome" title="Home.txt"><code>Link: /

This page will replace your site‘s homepage. If you still want your readers to access the list of your posts, consider adding a link to ‘/page/1’ to your site’s menu.
</code></pre>

<h2>External links</h2>

<p>
  You can add external links to your menu on the
  <a href="/settings/links">Links</a> page of your site's dashboard.
</p>
