<ul>
  <li>
    <a href="/how/posts/text-and-markdown"
      ><span class="icon md"></span>Text and Markdown</span
        ><span class="light">.txt&nbsp; .md&nbsp; .rtf</span></a
    >
  </li>

  <li>
    <a href="/how/posts/images"
      ><span class="icon img"></span>Images<span class="light">.png&nbsp;&nbsp;.jpeg&nbsp;&nbsp;.gif</span></a
    >
  </li>

  <li>
    <a href="/how/posts/word-documents"
      ><span class="icon txt"></span>Word Documents<span class="light">.docx.odt</span></a
    >
  </li>

  <li>
    <a href="/how/posts/bookmarks"
      ><span class="icon webloc"></span>Bookmarks<span class="light">.webloc&nbsp;&nbsp;.url</span></a
    >
  </li>

  <li>
    <a href="/how/posts/html"
      ><span class="icon html"></span>HTML</span><span class="light"
        >.html
        <!-- .htm --></span
      ></a
    >
  </li>

  <li>
    <a href="/how/posts/google-docs"
      ><span class="icon txt"></span>Google Docs<span class="light">.gdoc</span></a
    >
  </li>

  <li>
    <a href="/how/posts/org"
      ><span class="icon txt"></span>Org Mode<span class="light">.org</span></a
    >
  </li>
</ul>
