 <ul class="clients files">
     <li><a href="/how/files/markdown"><span class="a"><span class="icon-file-check"></span> Markdown </span>.txt&nbsp; .md&nbsp; .rtf {{> chevron}}</a></li>
     
     <li><a href="/how/files/images"><span class="a"><span class="icon-file-check"></span> Images </span>.png&nbsp;&nbsp;.jpeg&nbsp;&nbsp;.gif&nbsp;&nbsp;.tiff&nbsp;&nbsp;.webp&nbsp;&nbsp;.avif {{> chevron}}</a></li>

     <li><a href="/how/files/word-documents"><span class="a"><span class="icon-file-check"></span> Word Documents </span>.docx &nbsp;.odt {{> chevron}}</a></li>
     
     <li><a href="/how/files/google-docs"><span class="a"><span class="icon-file-check"></span> Google Docs </span>.gdoc {{> chevron}}</a></li>
     
     <li><a href="/how/files/bookmarks"><span class="a"><span class="icon-file-check"></span> Bookmarks </span>.webloc&nbsp;&nbsp;.url {{> chevron}} </a></li>

     <li><a href="/how/files/html"><span class="a"><span class="icon-file-check"></span> HTML </span>.html{{> chevron}} <!-- &nbsp; .htm --></a></li>

    <li><a href="/how/files/org"><span class="a"><span class="icon-file-check"></span> Org Mode </span>.org {{> chevron}}</a></li>
</ul>