 <ul class="clients files">
     <li><a href="/how/posts/markdown"><span class="a"><span class="file-icon">Markdown</span></span>.txt&nbsp; .md&nbsp; .rtf</a></li>
     
     <li><a href="/how/posts/images"><span class="a"><span class="file-icon">Images</span></span>.png&nbsp;&nbsp;.jpeg&nbsp;&nbsp;.gif</a></li>

     <li><a href="/how/posts/word-documents"><span class="a"><span class="file-icon">Word Documents</span></span>.docx &nbsp;.odt</a></li>
     
     <li><a href="/how/posts/google-docs"><span class="a"><span class="file-icon">Google Docs</span></span>.gdoc</a></li>
     
     <li><a href="/how/posts/bookmarks"><span class="a"><span class="file-icon">Bookmarks</span></span>.webloc&nbsp;&nbsp;.url</a></li>

     <li><a href="/how/posts/html"><span class="a"><span class="file-icon">HTML</span></span>.html <!-- &nbsp; .htm --></a></li>

      <li><a href="/how/posts/org"><span class="a"><span class="file-icon">Org Mode</span></span>.org</a></li>
     
   </ul>