{{^entry.page}}

<body style="display:flex;flex-direction:column;min-height:100%;">
    {{#entry}}

  <div class="top">
    <a class="close" style="float:right" href="/" onclick="return lastIndexPage()"></a>
      <a class="right" style="margin-left:0;{{^previous}}visibility:hidden{{/previous}}" href="{{{previous.url}}}"> </a>
      <a class="left" style="{{^next}}visibility:hidden{{/next}}" href="{{{next.url}}}"></a>

  </div>

  <div class="main" style="display:flex;">

    <style type="text/css">

    .main {align-items: center;min-height:calc(100vh - 2rem);flex-grow:1;}
    .top  > * {float: right;}

    .top .right, .top .left {padding: 1.3rem}

    .left, .right, .close {
      text-align: center;
      display: inline-block;
      margin: 1.3rem;
      border: 1px solid rgba(0,0,0,.25);
      padding: 2.6rem 1.3rem;
      text-decoration: none;
      box-sizing: border-box;
      position: relative;
    }

    .close {padding: 1.3rem}

    .left:focus, .right:focus, .close:focus {opacity: 0.6}

    .left:before, .right:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 17px;
      right: auto;
      width: 9px;
      height: 9px;
      margin: auto 0;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      border: solid;
      border-width: 1px 1px 0 0;
      border-color: rgba(0,0,0,.4);
    }

 .right:before{      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
            left: 13px;

}

.close:before, .close:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: auto;
      width: 1px;
      background: rgba(0,0,0,.4);
      height: 16px;
      margin: auto 0;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      left: 20px
    }

.close:after {      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.side {}
.right-side {justify-content:space-between;flex-grow:0;min-height:100vh;flex-shrink:0;display:flex;flex-direction:column}
.top {display: none;}
@media screen and (max-width: 600px) {
  .top {display: block}
  .main {align-items: normal;min-height: initial;flex-grow:0;}
  .side {
    display: none;
  }
}
    </style>
    <div class="side" style="">
      <a class="left" style="{{^next}}visibility:hidden{{/next}}" href="{{{next.url}}}"></a>
    </div>
    <div class="entry" style="flex-grow:1">
      {{{body}}}
    </div>
    <div class="side right-side" style="">
      <a class="close" href="/" onclick="return lastIndexPage()"></a>
      <a class="right" style="{{^previous}}visibility:hidden{{/previous}}" href="{{{previous.url}}}"> </a>
      <a class="close" href="/" style="visibility:hidden"></a>
    </div>
  </div>
  <div>
    {{> pluginHTML}}
  </div>

  <div class="bottom">
  </div>
      {{/entry}}

  {{/entry.page}}

  <script type="text/javascript">
  document.onkeydown = function(e) {
    alert(e);
  };

  </script>
