{{^entry.page}}

<body style="display:flex;flex-direction:column;min-height:100%;">

  <div style="display:flex;flex-grow:1;min-height:calc(100vh - 2rem);align-items: center;">

    {{#entry}}

    <div style="">
      <a class="light" href="/" onclick="return randomArticle()" style="text-transform:uppercase;font-size:11px;"><img width="16" style="vertical-align:bottom" src="/icons/shuffle.svg">&puncsp;&puncsp; Random</a>

      <a style="padding:1.3rem;text-align:center;display:inline-block;color:rgba(0,0,0,.4);text-decoration:none;box-sizing:border-box;font-size:11px;text-transform:uppercase" {{#previous}}href="{{{url}}}"{{/previous}}>
                    <svg style="display:block;margin:0 auto" width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19" stroke="rgba(0,0,0,.4)" stroke-width="2"></circle><path d="M12.6298 27.3702L27.3701 12.6299" stroke="rgba(0,0,0,.4)" stroke-width="2"></path><path d="M12.6298 12.6298L27.3701 27.3701" stroke="rgba(0,0,0,.4)" stroke-width="2"></path></svg>

          <!-- Previous --> </a>
    </div>

    <div class="entry" style="flex-grow:1">
      {{{body}}}
    </div>

    <div style="flex-grow:0;min-height:100vh;flex-shrink:0;display:flex;justify-content:space-between;flex-direction:column">

      <a href="/" onclick="return lastIndexPage()" style="float:right;text-transform:uppercase;padding:1.3rem;color:rgba(0,0,0,.4);text-decoration:none;display:block;width:100%;text-align:right;position:relative;">

                    <svg style="display:block" width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19" stroke="rgba(0,0,0,.4)" stroke-width="2"></circle><path d="M12.6298 27.3702L27.3701 12.6299" stroke="rgba(0,0,0,.4)" stroke-width="2"></path><path d="M12.6298 12.6298L27.3701 27.3701" stroke="rgba(0,0,0,.4)" stroke-width="2"></path></svg>
<!-- 
                    <span style="color:rgba(0,0,0,.4);text-decoration:none;font-size:11px;text-transform:uppercase">Close</span>  --> </a>

      <a style="display:inline-block;padding:1.3rem;color:rgba(0,0,0,.4);text-decoration:none;box-sizing:border-box;font-size:11px;text-transform:uppercase" {{#next}}href="{{{url}}}"{{/next}}>
                    <svg style="display:block" width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19" stroke="rgba(0,0,0,.4)" stroke-width="2"></circle><path d="M12.6298 27.3702L27.3701 12.6299" stroke="rgba(0,0,0,.4)" stroke-width="2"></path><path d="M12.6298 12.6298L27.3701 27.3701" stroke="rgba(0,0,0,.4)" stroke-width="2"></path></svg>

          <!-- Next --> </a>

      <!--    {{#entry}}
      <div style="max-width:15em;font-size:14px;float:right">

        <h1 style="font-size:20px">{{title}}</h1>
        {{#tags.length}}
        <hr style="margin:0.65em 0"> <span style="font-size:11px;text-transform:uppercase;color:rgba(0,0,0,.4);display:inline-block">Tags</span>{{#tags}}<a style="color:rgba(0,0,0,0.4);text-decoration:none;padding:0 0.325em;margin:0.325em;display:inline-block;background:#f2f2f2;" href="/tagged/{{slug}}">{{tag}}</a>{{/tags}}
        {{/tags.length}}
        <hr style="margin:0.65em 0"><span style="font-size:11px;text-transform:uppercase;color:rgba(0,0,0,.4);display:inline-block">Added</span> <span style="color:rgba(0,0,0,.4)">{{date}}</span>

      </div>{{/entry}}
 -->
      <div style="text-align:right">
      </div>
    </div>
    {{/entry}}
  </div>
  <div>
    {{> pluginHTML}}
  </div>
  {{/entry.page}}

  <script type="text/javascript">
  document.onkeydown = function(e) {
    alert(e);
  };

  </script>
