<html>
{{> head}}
<body style="display:flex;flex-direction:column;min-height:100%;">
  <div class="header">
    {{> index_link}}

    {{#tag}}
     <h1 style="margin-left:1.4rem;margin:0;flex-basis:50%;font-size:1.85em">{{tag}}</h1>
     {{/tag}}
     {{^tag}}
    {{> search_field}}
     {{/tag}}
    
    <div class="w-25" style="display:flex;justify-content: flex-end;    align-items: center;">
      {{#menu}}
      <a class="light" title="{{label}}" style="padding:0.5rem 0.75rem;{{#last}}padding-right:1.3rem{{/last}}" href="{{{url}}}">{{label}}</a>
      {{/menu}}
    </div>
  </div>
  <div style="flex-grow:1;display:flex;flex-direction:column">