<form id="searchForm" action="/search" style="margin:0;display:flex;position:relative;align-self: normal;">
  <input type="text" placeholder="Search {{title}}" style="padding:0 1.3rem 0 2.6rem;flex-grow:1;font-size:inherit" value="{{query}}" name="q">
  <div id="dropdown">
    <a href="/search?q=">
        <span class="thumbnail"><img src="/icons/search.svg"></span>
        <span id="link-to-search"></span><span style="color:rgba(0,0,0,.4)">&puncsp;–&puncsp;Search {{title}}</span></a>
    <div id="results" style=""></div>
  </div>
</form>