<div class="toolbar" style="  border-top: 1px solid #f2f2f2">

  <div style="    padding: 0.325rem 1.3rem;
    flex-basis: 25%;
    flex-grow:1;white-space: nowrap;
    box-sizing: border-box;    display: flex;
    align-items: center;">

    <span class="upper">
  {{#pagination}}Page {{current}} of {{total}} {{/pagination}}
  {{^pagination}}All {{entries.length}} posts{{/pagination}}</span>
  </div>

  <div style="display:flex;flex-basis:42rem;flex-shrink:0;padding:0.325rem 0 0;overflow:hidden;font-size:14px;flex-grow: 0;">

    {{#popular_tags.length}}
    <div id="tags" style="padding-left:0.325rem">
      {{#popular_tags}}<a href="/tagged/{{slug}}" class="{{active}}"><strong>{{tag}}</strong><span>{{tag}}</span></a>{{/popular_tags}}
    </div>

    <a href="/tags" class="opac upper" style="position:relative;top:2px;flex-shrink:0">All&nbsp;categories&puncsp;&rarr;</a>

    {{/popular_tags.length}}
  </div>

  <div style="    padding: 0.325rem 1.3rem;
    flex-basis: 25%;
    flex-grow:1;
    box-sizing: border-box;">
    <div style="padding-left:6rem;height:0;visibility:hidden">
      {{#menu}}
      <a class="light" title="{{label}}" style="margin:0.5rem 0.75rem;" href="{{{url}}}">{{label}}</a>
      {{/menu}}
    </div>
    <div style="text-align:right;position:relative;top:-2px">
      <a class="upper opac" style="{{^previous}}opacity:0.25{{/previous}}" {{#previous}}href="/page/{{previous}}"{{/previous}}>← PREVIOUS</a>
      <a class="upper opac" style="{{^next}}opacity:0.25;{{/next}}margin-left:0.7rem" {{#next}}href="/page/{{pagination.next}}"{{/next}}>NEXT PAGE →</a>
    </div>
  </div>
</div>
