{{> header}}

<hr>

{{^archives.length}}
<div class="centered">
  <p>No posts yet.</p>
</div>
{{/archives.length}}

{{#archives.length}}
<div class="archives">
  <h1 style="margin-left:1.3rem">Archives</h1>
  <hr>
  <div style="display:flex;flex-wrap:wrap;padding:0 1.3rem">
    <div style="flex-basis:50%">

      <style type="text/css">
      table {
        width: 100%;
      }

      table a {
        text-decoration: none;
        color: inherit;
      }

      table {
        border-collapse: collapse
      }

      tr:hover {
        background: #eee
      }

      td,
      th {
        padding: 0.35rem 0.7rem;
      }

      th {
        font-size: 12px;
        text-align: left;
        color: #aaa;
        font-weight: normal;
        text-transform: uppercase;
      }

      </style>
      <table>
        <thead>
          <th></th>
          <th>Date</th>
          <th>Title</th>
          <th>Categories</th>
        </thead>
        {{#archives}}
        {{#months}}
        {{#entries}}
        {{> row_link}}
        {{/entries}}
        {{/months}}
        {{/archives}}
      </table>
    </div>

  </div>
  {{/archives.length}}

  {{> footer}}
