{{> header}}

<hr>

{{^archives.length}}
<div class="centered">
  <p>No posts yet.</p>
</div>
{{/archives.length}}

{{#archives.length}}
<div class="archives">
  <h1 style="margin-left:1.3rem">Archives</h1>
  <hr>
<div style="display:flex">
  <div style="    padding: 0.325rem 1.3rem;
    flex-basis: 50%;
    box-sizing: border-box;">
      <span style="text-decoration:none;color:rgba(0,0,0,.25);margin-top:2px;display:inline-block;text-transform:uppercase;font-size:11px">

All {{entries.length}} posts</span>
  </div>
  <div style="    padding: 0.325rem 1.3rem;
    flex-basis: 50%;
    box-sizing: border-box;">
      <span style="text-decoration:none;color:rgba(0,0,0,.25);margin-top:2px;display:inline-block;text-transform:uppercase;font-size:11px">

All categories</span>
  </div>
</div>
      
  <div class="links" style="max-width:50%">
    {{#archives}}
    {{#months}}
    {{#entries}}
    {{> row_link}}
    {{/entries}}
    {{/months}}
    {{/archives}}
  </div>
</div>
{{/archives.length}}

{{> footer}}