html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons
    /*!System*/
  ;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  font-size: 16px;
  margin: 0;
  padding: 0
}

.header {
  display: flex;
  min-height: 3.4rem;
}

.header>* {
  display: flex;
  align-items: center;
}

.header .w-25 {
  flex-basis: 25%;
}

.header .w-50 {
  flex-basis: 50%;
}

hr {
  border: none;
  margin: 0;
  border-top: 1px solid #eceff1
}

a.light {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

a.light:hover {
  color: rgba(0, 0, 0, .8);
}

a.light:hover img {
  opacity: 0.8
}

a.light:active {
  color: rgba(0, 0, 0, .25);
}

a.light:active img {
  opacity: 0.666
}

.header input {
  margin: 0 0;
  display: inline-block;
  padding: 0.65rem 0
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 20%;
}

.pag a,
.pag span,
.pag a[href]:hover {
  padding: 0.65rem 1.3rem;
  margin: 0 0.35rem;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .4);
}

.pag a[href] {
  background: #f2f2f2;
}

.pag a[href] {
  color: rgba(0, 0, 0, 0.4);
}

.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 2.6rem
}

.post {
  position: relative;
  padding: 0.8rem;
  margin-bottom: 2rem;
  width: 25%;
  box-sizing: border-box;
  font-size: 13px;
  color: #aaa;
  text-decoration: none;
  text-align: center;
}

.post .thumbnail .container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center
}

@media screen and (max-width: 1200px) {
  .post {
    width: 33.3333%
  }
}

@media screen and (max-width: 900px) {
  .post {
    width: 50%
  }
}

@media screen and (max-width: 500px) {
  .post {
    width: 100%
  }

  .post:hover .thumbnail:after {
    border: none !important;
  }

  .posts {
    padding-left: 0;
    padding-right: 0
  }
}

.post .date {
  visibility: hidden;
  display: block;
}

.post .thumbnail {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.3rem
}

.post .thumbnail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent
}

.post:hover .thumbnail:after {
  border-color: rgba(0, 0, 0, .15)
}

.post:hover .date {
  visibility: visible;
}

.post:active,
.opac:active {
  opacity: 0.7
}

.post img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0 auto
}

.post.no-thumbnail .thumbnail:after {
  border-color: rgba(0, 0, 0, .15);
  border-width: 2px
}

.post.no-thumbnail:hover .thumbnail:after {
  border-color: rgba(0, 0, 0, 0.4);
}

.post.no-thumbnail .thumbnail {
  color: rgba(0, 0, 0, .4);
  text-align: center;
}

.post.no-thumbnail .date {
  display: block;
}

.fadeMe {
  visibility: hidden;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s, visibility 0.3s;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

#searchForm {width: 100%}
form input {
  padding-left: 0rem;
  padding-right: 2.7rem;
  font: inherit;
  font-size: 16px;
  border: none;
  line-height: inherit;
}

form input[type="text"] {
  flex-grow: 1;
  color: rgba(0, 0, 0, .85);
  background: url('/icons/search.svg') no-repeat 1rem center;
  background-size: 0.95rem;
  /*  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
*/
  cursor: text;
}

form input:focus,
.pag a[href]:focus {
  outline: none;
  background-color: transparent;
}

.menu a[href="/search"] {
  display: none;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(0, 0, 0, .35);
}

#dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.05) 0px 3px 6px, rgba(15, 15, 15, 0.1) 0px 9px 24px;
  margin-top: 1px
}

#dropdown a {
  display: block;
  padding: 1rem 1.3rem 1rem 1.3rem;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
  color: rgba(0, 0, 0, .85);
  font-size: 16px;
  text-decoration: none;
}

/*#dropdown a:last-of-type {
    border-bottom: none;
}
 */
#dropdown a:focus {
  outline: none;
  background: #f0f0f0;
}

#dropdown a .thumbnail {
  vertical-align: middle;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.65rem 0 0;
}

#dropdown img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

#dropdown .date,
#results .title {
  height: 1.3rem;
  overflow: hidden;
}

#dropdown .date {
  color: rgba(0, 0, 0, .4);
  flex-shrink: 0;
}

.pagination hr {
  border: none;
  margin: 0;
  border-top: 1px solid #f2f2f2
}

.pagination .button {
  text-decoration: none;
  color: inherit;
  padding: 0.65rem 1.3rem 0.65rem 1.3rem;
  margin: 0 0.8rem;
  display: inline-block;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.1);
}

.pagination .button[href] {
  background: #f2f2f2;
  color: #666
}

.entry h1 {
  font-size: 32px;
  line-height: 1.2;
  margin: 2rem 0
}

.entry img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: calc(100vh - 2.6rem)
}

.entry>img {
  margin: 0 auto;
  display: block;
}

.entry {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: rgb(88, 88, 88);
}

.entry a {
  color: inherit;
}

.entry h2 {
  font-size: 1.5rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: .75em 0;
  line-height: 1.6em;
}

.entry blockquote {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 2em auto;
  border-left: 3px #e7e7e5 solid;
  padding-left: 1em;
  font-style: italic;
}

.entry p {
  margin: 2rem 0
}

.entry hr {
  background-color: #e7e7e5;
  border: none;
  height: 2px;
  margin: 3em 0;
}



.light {
  display: inline-block
}

.light[href="/"],
.light[href="/search"] {
  display: none;
}

#tags {
  height: 1.2rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

#tags.open {
  height: auto;
  overflow: visible;
}

#tags a {
  display: inline-block;
  margin: 0 0.1625rem;
  padding: 0 0.325rem;
  white-space: nowrap;
  color: inherit;
  position: relative;
  text-decoration: none
}


#tags a strong {
  visibility: hidden;
  font-weight: 500;
  color: black
}

#tags a span {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}


#tags a:focus strong,
#tags a.active strong {
  visibility: visible;
}

#tags a:focus span,
#tags a.active span {
  display: none;
}

#tags a:active {
  opacity: 0.6
}

#tags a:active strong {
  visibility: hidden;
}

#tags a:active:focus span {
  display: block;
}

.paginator {
  display: flex;
  justify-content: flex-end
}

.paginator .arrow {
  text-decoration: none;
}

.paginator a {
  min-width: 1.5em;
  text-align: center;
  display: inline-block;
  padding: 0.325rem 0;
  margin: 0 0.1rem;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.05);
}

.paginator a[href] {
  color: rgba(0, 0, 0, 0.25);
}

.paginator a:before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.75rem;
  z-index: -1
}

.paginator a[href]:hover:before {
  background: #f8f8f8;
}

.paginator a.true:before {
  background: #f2f2f2;
}



/* Used on the index and archives page when the site is empty */
.centered {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

.centered p {
  width: 100%
}

/* Grid of links on archives page */
.archives .links {
  padding: 1.9rem;
  text-align: left;
  display: block;
  white-space: nowrap;
}

.archives a.item {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, .4);
  text-decoration: none;
}

.archives a:visited {
  background: red;
  color: rgba(0, 0, 0, 0.2);
}

.archives a.item:hover {
  background: #fafafa;
  color: rgba(0, 0, 0, .85)
}

.archives a.item span {
  vertical-align: middle;
  display: inline-block;
}

.zoomable {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}


.upper {
  text-decoration: none;
  color: rgba(0, 0, 0, .25);
  margin-top: 1px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 11px
}

.toolbar {
  display: flex;
  color: rgba(0, 0, 0, .4);
}

label {
  display: none !important;
}

@media screen and (max-width: 960px) {
  label {
    display: block !important;
    position: absolute;
    top: 0;
    padding: 0.7rem 1.3rem;
    cursor: pointer;
    right: 0;
  }

  .header .hide,
  .toolbar,
  .header+div>hr:first-child,
  #tags a {
    display: none !important;
  }

  input:checked~.header .hide {
    display: block !important;
  }

  .nav {
    display: block;
  }

  .nav a {
    display: block;

    border-bottom: 1px solid #f2f2f2;
  }


  .header .search {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 0.65rem 0;
    z-index: 2;
    min-height: auto
  }

  .header {
    flex-wrap: wrap;
    align-items: normal;
  }

  .header>*,
  .header {
    z-index: 1;
    flex-shrink: 0;
    max-width: none !important;
    width: 100% !important;
    min-height: 3.4rem;
    flex-basis: 100% !important;
  }

  label {
    min-height: 3.4rem;
    line-height: 2rem
  }

  .header label {
    width: auto !important;
    z-index: 100;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-basis: 25%;
  flex-grow: 1;
  align-items: center;
}

input#toggle {
  position: absolute;
  top: 0;
  left: -1em;
  visibility: hidden;
}
