{{> header}}

<hr>

{{^allTags.length}}
<div class="centered">
  <p>No categories yet.</p>
</div>
{{/allTags.length}}

{{#allTags.length}}

<h1 style="margin-left:1.3rem">All categories</h1>
{{#allTags}}
<hr>
<a href="/tagged/{{slug}}" style="color:inherit;text-decoration:none;padding:0 1.3rem 1.3rem">

  <h3 style="margin:1.3rem 0 0rem">{{tag}}</h3>
  <p style="margin:0"><small>{{entries.length}} posts</small></p>
  <div style="clear:both"></div>
</a>
{{/allTags}}

</div>
{{/allTags.length}}

{{> footer}}
