{{> header}}

<hr>

{{^allTags.length}}
<div class="centered">
  <p>No categories yet.</p>
</div>
{{/allTags.length}}

{{#allTags.length}}
<div class="archives">
  <h1 style="margin-left:2rem">Categories</h1>
  {{#allTags}}
  <hr>
  <h2>{{tag}}</h2>
  <div class="links">
    {{#entries}}
    <a class="item" style="" href="{{{url}}}"><span style="display:inline-block;margin-right:0.5em;width:1em;height:1em;flex-shrink:0">{{#thumbnail.square}}
<img src="{{{url}}}" style="max-width:1em;max-height:1em;width:auto;height:auto" class="fadeMe" onload="this.className+=' fadeIn';" />
      <noscript>  
      <img src="{{{url}}}">
      </noscript>

  {{/thumbnail.square}}</span> <span style="flex-grow:1;overflow:hidden"><span style="    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;display:block;      height: 1.4em;
    
">{{title}}</span></span> <span style="flex-shrink:0">{{#formatDate}}MMM YYYY{{/formatDate}}</span></a>
    {{/entries}}
  </div>
  {{/allTags}}  
</div>
{{/allTags.length}}

{{> footer}}