{{> header}}


<hr>

{{^allTags.length}}
<div class="centered">
  <p>No categories yet.</p>
</div>
{{/allTags.length}}

{{#allTags.length}} <style type="text/css">
  .stack .inset {position: absolute;top:0;bottom:0;right:0;left: 0;width: 1em;height: 1em;display: flex;justify-content: center;align-content:center;}
  .stack img {max-width: 100%;max-height: 100%;width: auto;height: auto;}
  .stack img:nth-child(n+4) {display: none;}</style>

  <h1 style="margin-left:1.3rem">All categories</h1>
  <hr>   
   {{#allTags}}
  <hr>
  <a href="/tagged/{{slug}}" style="text-decoration:none;padding:0 1.3rem">
    <span class="stack" style="margin:0 1.3rem ;width:1em;height:1em;font-size:5em;float:right;position:relative">
    {{#entries}}
    {{#thumbnail.small}}
    <span class="inset"><span style="display:block"><img width="{{width}}" height="{{height}}" src="{{{url}}}"></span></span>
    {{/thumbnail.small}}
    {{/entries}}
  </span>
  <h3 style="margin:1.3rem 0 0rem">{{tag}}</h3>
  <p style="margin:0"><small>{{entries.length}} posts</small></p>
  <div style="clear:both"></div>
</a>
  {{/allTags}}  

  </div>
{{/allTags.length}}

{{> footer}}