
/*

TO DO:

- fix issue with long lines of code (see rnorth)
- tweak alignment of header for blogs with no avatar
- fix huge text bug on mobile safari
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
  @media screen and (max-device-width: 480px){
    body{
      -webkit-text-size-adjust: none;
    }
  }
- move away from weird background hack for links
- add :visited :hover states for links
- consolidate and abstract colors to make this themeable
- move from pixels to percent for font size

*/

body {
  font: 11px / 1.8 Verdana, 'Bitstream Vera Sans', sans-serif;
  color: #111;
  word-wrap: break-word; /* for long words & urls */
  position: relative;
  width: 425px;
  margin: 7em auto;
  padding: 0 74px 0 222px;
}

.sidebar {
  width:160px;
  position:absolute;
  left:0;
  text-align:right;
}

.light {color: #8a8a8a}

.entry + .light {margin: 1.7em 0}

h1 + .light {margin-top: -1em}
h1 + .light:empty {display: none;}

.sidebar, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 1em;
  font-family: 'Gill Sans MT', 'Gill Sans', 'Gill Sans Std', Verdana, 'Bitstream Vera Sans', sans-serif;
}

.sidebar, h1 a, h2, h3, h4, h5, h6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.7325px;
}

.sidebar a {display: block;}

h1 a {font-size: 13px;position:relative}

h1 a:after {
  content: "→";
  margin: 0 -1em 0 0;
  line-height: 1.3;
  position: relative;
  left: 0.33em;
}

.adjacent {
  font-size: .91em;
  display: inline-block;
  width: 91px;
  text-align: right;
  margin-right: 11px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h1 {
  font-size: 1.55em;
  line-height: 1.3;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
}

h2, h3, h4, h5, h6 {
  margin-top: 2em;
  font-size: 11px;
  font-weight: 600;
}

a {color: inherit;text-decoration: none;}


hr {
  width: 142px;
  margin: 2.55em auto;
  border: none;
  border-top: 1px solid #cacaca;
  display: block;
}



.logo {
  display:block;
  text-align: right;
  margin-bottom: 3em;
}

/* We want each word on its own
   line if theres an image */
.logo.hasAvatar {word-spacing:160px}

.avatar {margin: -0.1em 0.1em 0 0}

/* Make round avatars slightly bigger for balance */
.avatar.round {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: -4px -4px 0;
}






/* This is used between articles in list view */
hr.full {
  color: #ccc;
  margin: 7em 0 11em 1em; /* We add 1em to the left due to letter spacing*/
  height: 0;
  width: 100%;
  text-align: center;
  border: none;
  letter-spacing: 2em;
}

hr.full:after {content: "··•··";}




.caption, blockquote {color: #676767}

ul, ol {padding-left: 1.5em;}

ul {list-style-type: circle}

blockquote {
  margin: 0 1em 0 0.25em;
  padding: 0 .75em 0 1em;
  border-left: 1px solid #dadada
}


/* Styles specific to entry content */

.entry p, .entry > ul, .entry > ol {
  margin: 1.6em 0;
}

.entry a {
  text-decoration: none;
  text-shadow: .03em 0 #fff,-.03em 0 #fff,0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,0 .03em #fff,0 -.03em #fff,0 .06em #fff,0 -.06em #fff;
  background-image: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient(#555,#555);
  background-size: 0 0,0 0,.1em .1em;
  background-repeat: no-repeat,no-repeat,repeat-x;
  background-position: 0 90%,100% 100%,0 100%;
}

.entry a:hover {
  color: blue;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(blue, blue);
}

.entry a::selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}

.entry a::-moz-selection {
  background: #b3d4fd;
  text-shadow: .03em 0 #b3d4fd, -.03em 0 #b3d4fd, 0 .03em #b3d4fd, 0 -.03em #b3d4fd, .06em 0 #b3d4fd, -.06em 0 #b3d4fd, .09em 0 #b3d4fd, -.09em 0 #b3d4fd, .12em 0 #b3d4fd, -.12em 0 #b3d4fd;
}


/* Tables */

table {
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
}

tr {box-sizing: border-box;border-top: 1px solid #dadada;padding: 0}
th, td {box-sizing: border-box;border: 1px solid #dadada;padding: 5px 12px 6px}

/* Search box */

input[type="text"],
input[type="submit"] {
  font:inherit;
  font-size:12px;
  padding: 3px 6px;
  margin: 1em 0;
  border: 1px solid #cacaca;
}

input[type="text"] {
  background: none;
  max-width: 100%;
  min-width: 200px;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.075);
}

input[type="submit"] {
  padding: 3px 12px;
  color: #000;
  background: none;
  border: 1px solid #000;
  cursor: pointer;
}

{{> plugin}}