<h1>Formatting</h1>

<ul class="clients">
  <li><a href="/how/posts/markdown"><span class="a">Markdown</span><br>  A lightweight plain text markup language.</a> </li>
  <li><a href="/how/posts/tex"><span class="a">\(\TeX\)</span><br> A math typesetting library with powerful formatting features.</a> </li>
  <li><a href="/how/posts/layout-tags"><span class="a">Layout</span><br> A custom Markdown extension which offers simple layout directives.</a> </li>
  <li><a href="/how/posts/embedding"><span class="a">Embedding</span><br> Automatically generate embedded widgets from Youtube urls and other links.</a> </li>
  <li><a href="/how/posts/citations"><span class="a">Citations</span><br>  For external citations and bibliographies.</a> </li>
  <li><a href="/how/posts/wikilinks"><span class="a">Wikilinks</span><br>  For simple internal links between posts.</a> </li>
</ul>

<h2>Update a post</h2>

<p>To edit a post, update its file. </p>

<h2>Remove a post</h2>

<p>To delete a post, delete its file.</p>