<style type="text/css">
hr {margin: 0;margin-top: -0.6666em;margin-bottom: 0.3333em}
b{font-weight: 400}
</style>
<div style="max-width:32em">

{{^account}}
<h2>Dropbox</h2>
<hr>
  <p >Blot will request access to a single folder inside your <a href="https://www.dropbox.com/">Dropbox</a> folder. You can revoke Blot’s access to this folder at any point.</p><br />

  <a href="/clients/dropbox/authenticate/redirect" class="button">Connect to Dropbox</a>
  <form style="display:inline" action="/clients/dropbox/disconnect" method="post">
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="submit" class="borderButton secondary" value="Cancel">
  </form>{{/account}}

{{#account}}


<!-- 
<span style="">Updated {{last_sync}} <span class="icon success" style="position:relative;top:4px;margin:0 0 0 0.3em"></span> 
</span> -->




<h2>Settings</h2>




{{^error_code}}
<span style="font-size:1em;color:#03b334;float:right;margin-top:-0.15em;display:block">
<span class="icon success" style="font-size:0.8em;position:relative;top:2px;margin:0 0.4em 0 0.35em"></span> Synced 
{{last_sync}} 

</span>
{{/error_code}}

<p>

  <b>Your blog’s folder</b><hr>




{{#error_code}}


<span class="icon warning">!</span>&nbsp;&nbsp; 
  {{#folder_missing}}

    Your blog’s folder has been removed. &nbsp;&nbsp;

      <a href="/clients/dropbox/select-folder" style="" class="button">Choose a folder</a>

    {{/folder_missing}}

    {{#revoked}}

      Please reconnect to Dropbox to allow Blot to sync your folder.


    {{/revoked}}
  </p>
      <a href="/clients/dropbox/authenticate/redirect{{#full_access}}?full_access=true{{/full_access}}" class="button">Re-connect to Dropbox</a>
  {{/error_code}}

{{^error_code}}

<span style="margin-top:0.5em;display:block">
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 91 80" style="width:1.3em;margin:0 0.3em;position:relative;top:2px;enable-background:new 0 0 91 80;" xml:space="preserve">
<path fill="#000" d="M41,13L31.8,1.1L31,0H0v80h91V13H41z M87,17v10H51.1l-7.2-10H87z M4,76V4h25l10,13h0l9.4,13.1
  c0.4,0.5,1,0.8,1.6,0.8V31h37v45H4z"/>
</svg> 

   {{#breadcrumbs}}
   <span style="color:#000">{{name}} {{^last}}<span style="margin-left:0.3em"><svg width="12" height="10" style="transform:rotate(270deg)" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="#000"></path></svg>{{/last}}</span>
   {{/breadcrumbs}}
</span>
   <br>


{{/error_code}}
 </p>



       {{^full_access}}
          <p style="margin-top:2em"><b>Permissions</b><hr>Blot has partial access to your Dropbox folder. <a href="/clients/dropbox/change-permission">Switch to full access</a></p>
      {{/full_access}}

      {{#full_access}}
    <p style="margin-top:2em"><b>Permissions</b><br>Blot has full access to your Dropbox folder. <a  href="/clients/dropbox/change-permission">Switch to partial access</a></p>

      {{/full_access}}


 
    <p style="margin-top:2em"><b>Account</b><hr> You have connected <strong>{{email}}</strong>’s Dropbox.</p>
      <br>
<form method='post' action="/clients/dropbox/disconnect">
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input class="button" type="submit" value="Disconnect from Dropbox">
  </form>


    </p>
    <br>


  <br><br>

</div>

{{/account}}

</div>