<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div style="margin:0 -1em">

      <div class="grid">

        <div class="grid-sizer"></div>

      {{#entries}}
        <div class="grid-item">

          <a href="{{{url}}}" style="line-height:1.5;display:block;margin:1em 0;font-size:16px">

          {{#thumbnail.medium}}
          <span style="width:100%;display:block;height:0;padding-bottom:{{ratio}};margin: 0 0 1em 0;">
            <img src="{{{url}}}"/>
          </span>
          {{/thumbnail.medium}}


          {{title}} <span style="color:gray">  – {{summary}}</span>
          </a>

        </div>

      {{/entries}}

      </div>

      <br /><Br />

      {{#pagination}}
      <p>

        {{#previous}}
        <span class="margin left">
          <a href="/page/{{previous}}">&larr; Newer posts</a>
        </span>
        {{/previous}}

        <span class="light" style="margin-right:30px">page {{current}} of {{total}}</span>

        {{#next}}
        <a href="/page/{{next}}">Older posts &rarr;</a>
        {{/next}}

      </p>
      {{/pagination}}
    </div>
    {{> footer}}
  </body>
</html>