{{{appCSS}}}

/* FOOTNOTES */
.footnote-ref {
  font-size: 12px;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

/* MATHS */
.katex {font-size: 1.2em}

/* IMAGE CAPTION */
.caption {display: block;}

/* TWITTER PLUGIN */
blockquote.twitter-tweet {padding: 2em;}
blockquote.twitter-tweet p {margin: 0}

/* IMAGE SIZE */
img {max-width: 100%;height: auto;}

/* CODE HIGHLIGHTING */

pre {
  padding: 0.7em 1em;
  margin: 0 -1em;
}

pre, code {font-family: 'Roboto Mono', Menlo;font-size: 0.95em}


/* LAYOUT */

.container {position: relative;}

.margin {
  position: absolute;
  box-sizing: border-box;
  width: 29.3333%;
  overflow: auto;
}

.margin p {font-style: italic;}

.left.margin {
  left: -29.3333%;
  padding-right: 30px;
  text-align: right;
}

.right.margin {
  right: -29.3333%;
  padding-left: 30px;
}

.wide {
  width: 158.6666667%;
  margin-left: -29.3333333%;
  overflow: auto; /* collapse internal margins */
}

.wide.left, .wide.right {width: 129.3333333%;float: none;}
.wide.left {margin: 0 0 0 -29.3333333%}
.wide.right {margin: 0 -29.3333333% 0 0}

.margin p {margin-top: 2px}

.column {
  box-sizing: border-box;
  float: left;
}

.column.two {
  width: 50%;
  padding-right: 12px;
}

.column.three {
  width: 33%;
  padding-right: 24px;
}

.column.two + .column.two {
  padding: 0 0 0 12px;
}

@media screen and (max-width: 1060px) {

  .margin,
  .margin.right,
  .margin.left {position: relative;display: block;top: auto;left: auto;right: auto;bottom: auto;}

  .margin.right {float: right;}
  .margin.left {text-align: left;float: left;}

  .wide, .wide.left, .wide.right {width: 100%;margin: 0}
}


@media screen and (max-width: 600px) {
  .margin {width: 40%;}
  .margin.right {padding-left: 16px;}
  .margin.left {padding-right: 16px;}
}


/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  color: #b8bebf;
}

.hljs-comment,
.hljs-quote {
  color: #586e75;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #59b75c;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #d18d61;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #da3c40;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
