{{{appCSS}}}

body {
  font: 20px / 1.7 sans-serif;
  -webkit-font-smoothing: antialiased;
  background: black;
  color: gray;
  padding: 3em 4em 5em;
  word-wrap: break-word; /* for long words & urls */
}

.container {
  max-width: 960px;
  min-width: 320px;
  margin: 4em auto 2em;
}

.clear {width: 100%;clear: both;}

h1, h2, h3, h4, h5, h6 {font-weight: 400}

h2, h3 {margin-top: 2em}

h1 {line-height: 1.4}

a {color: white;text-decoration: none;}

.nav {float: right;}
.nav a {margin: 0 0 0 2em}

hr {
  width: 200px;
  margin: 1.5em auto;
  border: none;
  border-top: 1px solid #aaa;
  display: block;
}

table {
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 24px;
}

tr {box-sizing: border-box;border-top: 1px solid #aaa;padding: 0}
th, td {box-sizing: border-box;border: 1px solid #aaa;padding: 5px 12px 6px}

input[type="text"],
input[type="submit"] {
  font: inherit;
  padding: 0 1em;
  color: inherit;
  line-height: 3;
  margin: 1em 0;
  border: 1px solid #aaa;
}

input[type="text"] {
  background: none;
  max-width: 100%;
  min-width: 300px;
}

input[type="submit"] {
  color: black;
  background: white;
  cursor: pointer;
  margin-left: -1px;
  border-color: white;
}

input:focus {outline: none;}

{{> plugin}}

.grid-sizer,
.grid-item { width: 20%;padding:0em 1em;box-sizing:border-box; }

/*.grid-item:nth-child(4n) {width: 40%}*/