<input type="checkbox" name="hidden-toggle" id="hidden-toggle">
<header>
  <a href="/">{{title}}</a>
  
  <nav>
    {{^is.navigation_alignment.justified}}
    <span class="spacer"></span>
    {{/is.navigation_alignment.justified}}

    {{#menu}}
    <a href="{{{url}}}" class="{{active}}">{{label}}</a>
    {{/menu}}



    {{#entry}}
    {{^page}}
    <span class="spacer"></span>
    <a {{#next}}href="{{{next.url}}}"{{/next}}>&larr; </a>
    <a {{#previous}}href="{{{previous.url}}}"{{/previous}}> &rarr;</a>
    <span class="spacer"></span>
    <a href="/">✕ Close</a>
    {{/page}}
    {{/entry}}
  </nav>
</header>