
<div class="dropdown">
    
  
  
  {{! The opener link floats to the right so we need a clearfix}}
  <div class="clear"></div>

  <div class="menu">
    {{#blogs}}
    <form action="/account/switch-blog" method="POST" > 
      <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <input type="hidden" name="to" value="{{id}}"> 
      <button type="submit" style="display:flex;line-height:inherit;padding:11px 30px 11px 20px;color:#111;font-weight:500">
        <span class="photo-holder">
          {{#avatar}}<img src="{{avatar}}?handle={{handle}}">{{/avatar}}
          {{^avatar}}<span class="file" style="width:16px;height:16px;opacity:0.4"></span>{{/avatar}}
        </span>  
        <span style="font-weight:400">
          {{title}}{{^title}}{{pretty.url}}{{/title}}<br>
          {{! Why include the hostname underneath the blog's title? Increased click area}}
          <span style="color:rgba(158, 154, 152, 0.66);font-weight:400">{{pretty.url}}</span>
        </span>

      </button>
    </form>
    {{/blogs}}
    
    <div class="clear"></div>

    <a href="/account/create-blog" style="color:rgb(158, 154, 152);padding-right:40px;border-bottom:0"><span class="photo-holder plus" style="text-align:center">+</span>Create new blog</a>

    <div class="clear"></div>

  </div>
</div>