<br><br>
</div>
<div class="clear"></div>
<div class="push"></div>
</div>


<div class="footer">

  <div class="wrapper">

    <a href="/help">Help</a>
    <a href="/terms">Terms of use</a>
    <a href="/privacy">Privacy policy</a>
    <a href="/updates">Updates</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    
  </div>
</div>

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/dashboard.js?{{cacheID}}"></script>
<script src="/scripts/integrations.js?{{cacheID}}"></script>
<script src="/scripts/design.js?{{cacheID}}"></script>
<script src="/scripts/sortable.js?{{cacheID}}"></script>
<script src="/scripts/settings.js?{{cacheID}}"></script>
<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/design.js?{{cacheID}}"></script>

</body>
</html>