<style type="text/css">body{}

hr {border-color: #eee}
.nav a:hover {border-bottom: 1px solid black;color: black}

h1 {margin-top: 1em}
h2 {margin-top: 1em}

.sub.nav {border: none;}
.nav a {margin-right: 2em}
.sub.nav a {font-size: 15px;margin-right: 2em;color: gray;line-height: }
.sub.nav a.selected {border-color:transparent; }

.w-right-offset {
    width: inherit;
    margin-left: 0
}

.sidebar.fixed {display: block;border: 1px solid #aaa;position: relative!important;}
</style>


{{> nav}}

      {{#user.cancel_at_period_end}}
      <br />

      <section class="box orange">
        Your subscription will expire on <b>{{user.pretty.expiry}}</b>. <a class="link" href="/account/restart-subscription">Restart your subscription</a>.
      </section>
      {{/user.cancel_at_period_end}}
      
<section class="wrapper" style="max-width:540px;margin:1em auto">
