<div class="page">

{{#user.cancel_at_period_end}}
<section class="box orange" style="border-radius:0;border-left:none;border-right:none;border-top:none;margin-top:0">
  Your subscription will expire on <b>{{user.pretty.expiry}}</b>. <a class="link" href="/account/restart">Restart your subscription</a>.
</section>
{{/user.cancel_at_period_end}}

{{! We can't just check for a blog because the context switch messes up the list of blogs in the dropdown menu for some reason. Is blog.blogs also a property? }}
{{^blog.isDisabled}}
{{> nav}}
{{/blog.isDisabled}}

{{^blog}}

<div class="wrapper">
  <div class="sub nav" style="margin-bottom:1.3em;">
    <a href="/account" style="font-size:16px">Account</a> 
  </div>
</div>

<hr>
{{/blog}}

<div class="wrapper">

{{#success}}
<span class="box green success">{{{success}}}</span>
{{/success}}

{{#error}}
<span class="box orange error">{{{error}}}</span>
{{/error}}