<div style="max-width:480px;margin:0 auto;padding:1em 0 0;font-size:15px" style="background:#f2f2f2">



  <style type="text/css">
    .foo {border: 1px solid #ddd;display:inline-block;margin: 0 auto;float:right;}
    .foo a {color:#444;text-decoration:none;display: block;float: left;border: none;border-right:1px solid #ddd;padding: 0.25em 1em;}
    .foo a:last-of-type {border-right: none;}
    .foo a.selected {background: #eee}
    </style>
  <div class="foo">
<!--     <a id="logo" href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
 -->
 <a class="{{tab.folder}}" href="/">Your folder</a>
 <a class="{{tab.settings}}" href="/settings">Settings</a>

  </div>
  <div class="dropdown closed" style="float:left;">

    <a href="#!" class="opener" style="font-weight:600">{{blog.title}} <svg width="12" height="10" style="top:0;position:relative" viewBox="0 0 12 10" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="black"></path></svg></a>

    <div class="menu">

      <a href="{{blog.url}}" target="_blank">Go to your blog</a>

      {{#blogs}}

        {{^isCurrent}}

        <a href="/account/swap?to={{id}}"><span style="color:black;">Switch to</span> {{title}}</a>

        {{/isCurrent}}

      {{/blogs}}

      <a href="/account/create-blog">Create another blog</a>

      <a href="/account">Account &amp; billing</a>

      <a href="/account/log-out">Log out</a>

    </div>
  </div>
  <div style="clear:both"></div>
</div>
  <hr>
