{{#menu}}
<style type="text/css">
.index {float: right;}
.index ul, .index li {padding: 0;margin: 0}
.index ul {margin: 41px 0}
.index a {text-decoration: none;font-size: 14px;padding-left: 3em;line-height:1.4;color: grey}
.index li {list-style-type: none;}
.index ul li:first-child a {color: black;font-weight: 500;padding-left: 2em}
h1 {font-size: 1.3333em;font-weight: 500;display: inline-block;}
h1.fl {float: left;}
h1 span.light {font-weight: 400;color: gray}
h1 a {text-decoration: none;font-weight: 400}
.formatting .main {margin-left: 0}
</style>
<link rel="stylesheet" type="text/css" href="/css/katex.css">
<div class="index">
  <ul>
    <li><a href="/help" class="{{started}}">How to use Blot</a></li>
    <li><a href="/help/metadata">Metadata</a></li>
    <li><a href="/help/dates">Dates</a></li>
    <li><a href="/help/tags">Tags</a></li>
    <li><a href="/help/public-files">Public files</a></li>
    <li><a href="/formatting" class="{{started}}">Formatting guide</a></li>
  </ul>
  <ul>
    <li><a href="/configuring" class="{{config}}">Configuring your blog</a></li>
    <li><a href="/configuring/domain">Custom domain</a></li>
    <li><a href="/configuring/permalinks">Permalinks</a></li>
    <li><a href="/configuring/redirects">Redirects</a></li>
    <li><a href="/help/account" class="{{account}}">Account and billing</a></li>

  </ul>
  <ul>
        <li><a href="/developers" class="{{config}}">Developing themes</a></li>
    <li><a href="/developers/reference">Reference</a></li>
    <li><a href="/developers/documentation">Documentation</a></li>
    <li><a href="/developers/support">Support</a></li>
    
  </ul>
</div>
{{/menu}}