{{#menu}}
<style type="text/css">
.index a {text-decoration: none;font-size: 14px;line-height:1.4;color: grey}
.index li {list-style-type: none;}
.index ul li:first-child a {color: black;font-weight: 500}
h1 {font-size: 1.3333em;font-weight: 500;display: inline-block;}
.fl {float: left;}
h1 span.light {font-weight: 400;color: gray}
h1 a {text-decoration: none;font-weight: 400}
</style>
<link rel="stylesheet" type="text/css" href="/css/formatting.css">
<div class="index">
  <ul style="padding:0;margin:0;width:33%;display:block;float:left">
    <li><a href="/help" class="{{started}}">How to use Blot</a></li>
    <li><a href="/formatting">Formatting guide</a></li>
    <li><a href="/help/metadata">Metadata</a></li>
    <li><a href="/help/dates">Dates</a></li>
    <li><a href="/help/tags">Tags</a></li>
    <li><a href="/help/public-files">Public files</a></li>
  </ul>
  <ul style="padding:0;margin:0;width:33%;display:block;float:left">
    <li><a href="/configuring" class="{{config}}">Configuring your blog</a></li>
    <li><a href="/configuring/domain">Custom domain</a></li>
    <li><a href="/configuring/permalinks">Permalinks</a></li>
    <li><a href="/configuring/redirects">Redirects</a></li>
    <li><a href="/help/account" class="{{account}}">Account and billing</a></li>

  </ul>
  <ul style="padding:0;margin:0;width:33%;display:block;float:left">
        <li><a href="/developers" class="{{config}}">Developing themes</a></li>
    <li><a href="/developers/reference">Reference</a></li>
    <li><a href="/configuring/permalinks">Permalinks</a></li>
    <li><a href="/configuring/redirects">Redirects</a></li>
    <li><a href="/help/account" class="{{account}}">Account and billing</a></li>
    
  </ul>
  <div class="clear"></div>
  <hr>
</div>
{{/menu}}