{{> head}}

<div class="wrapper">

  <div class="gap"></div>

  <div class="middle" >  
    

      <b>Set up your new blog</b><br>
<span style="color:rgb(153, 153, 153)">You can adjust all of these settings later.</span>
<br><br><br><br>
      <div style="line-height:41px;color:rgb(153, 153, 153);display:block;text-decoration:none;color:rgb(153, 153, 153);border-bottom:1px solid rgba(0,0,0,.05)" ><a style="color:inherit;text-decoration:none" href="/settings/title?setup=true">Choose a title</a> <span style="margin:0 10px">&rarr;</span> <a style="color:inherit;text-decoration:none" href="/settings/client?setup=true">Select your client</a></div>


    {{#message}}{{^error}}
    <a href="" class="mess success">
     <span class="link">Dismiss</span>
     {{text}}
    </a>
    {{/error}}{{#error}}
    <a href="" class="mess error" style="margin-bottom:19px">
     <span class="link">Dismiss</span>
     {{message.text}}
    </a>
    {{/error}}{{/message}}

    {{> yield}}
  </div>
  <div class="gap"></div>
</div>
<div class="clear"></div>
<script type="text/javascript">

// $('input.button:not(.small)').each(function(){

//     $(this).click(function(){
//       $(this).addClass('working').val('Saving changes');
//     });
// });

var opener = document.querySelector('.dropdown .opener');
var closer = document.querySelector('.dropdown .closer');
var dropdown = document.querySelector('.dropdown');

opener.addEventListener('click', function(e){ //say this is an anchor
  
  function close (e) {

    if (dropdown.className.split(' ').indexOf('closed') === -1)
      dropdown.className += ' closed';

    document.body.removeEventListener('click', close);
  }

  if (dropdown.className.split(' ').indexOf('closed') === -1) {
    
    dropdown.className += ' closed';
    document.body.removeEventListener('click', close);

  } else {
  
    dropdown.className = dropdown.className.split('closed').join('');
    document.body.addEventListener('click', close);
  }
  
  e.preventDefault();
  e.stopPropagation();
});
</script>
</body>
</html>