
{{> head}}
<STYLE TYPE="text/css">body {background:#fffefc}</STYLE>

<div style="height:80px;    background: #fdfaf8;
    box-shadow: inset 0 -16px 16px #fbf8f6;"><div style="margin:0 auto;max-width: 64rem;padding:0 2rem">


  {{#first_blog}}
  <span style="    color: #a09d9c;
    text-decoration: none;
    border-bottom: none;
    line-height: 80px;display:block;float:left;width:30%;">

    Blot is a blogging platform
  </span>
  {{/first_blog}}

    {{^first_blog}}
  <a href="/" style="    color: #a09d9c;
    text-decoration: none;
    border-bottom: none;
    line-height: 80px;display:block;float:left;width:30%;">

    &larr;&nbsp; Back to the dashboard
  </a>
    {{/first_blog}}

  <div><a style="    color: #a09d9c;
    text-decoration: none;
    border-bottom: none;
    line-height: 80px;display:block;float:left"><span {{#not_paid}}style="color:#111"{{/not_paid}}>{{#first_blog}}Sign up{{/first_blog}}{{^first_blog}}Payment{{/first_blog}}</span><span style="color:#a7a7a7">&nbsp;&nbsp;&nbsp;&nbsp;→&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#111;{{#not_paid}}color:#a09d9c{{/not_paid}}">Create new blog</span></span></a><div class="cf"></div></div></div></div>

<div>


  <div class="middle" style="margin:0 auto;max-width: 64rem;padding:0 2rem;padding-top:80px">  
    
    <div style="margin-left:18rem">

    {{#message}}{{^error}}
    <a href="" class="mess success" style="max-width:32rem;margin: 0 0 1rem -20px">
     <span class="link">Dismiss</span>
     {{text}}
    </a>
    {{/error}}{{#error}}
    <a href="" class="mess error" style="max-width:32rem;margin: 0 0 1rem -20px">
     <span class="link">Dismiss</span>
     {{message.text}}
    </a>
    {{/error}}{{/message}}

    <div style="max-width:475px">
    {{> yield}}
    </div>
  </div></div>

</div>
<div class="clear"></div>
<script type="text/javascript">

// $('input.button:not(.small)').each(function(){

//     $(this).click(function(){
//       $(this).addClass('working').val('Saving changes');
//     });
// });

var opener = document.querySelector('.dropdown .opener');
var closer = document.querySelector('.dropdown .closer');
var dropdown = document.querySelector('.dropdown');

opener.addEventListener('click', function(e){ //say this is an anchor
  
  function close (e) {

    if (dropdown.className.split(' ').indexOf('closed') === -1)
      dropdown.className += ' closed';

    document.body.removeEventListener('click', close);
  }

  if (dropdown.className.split(' ').indexOf('closed') === -1) {
    
    dropdown.className += ' closed';
    document.body.removeEventListener('click', close);

  } else {
  
    dropdown.className = dropdown.className.split('closed').join('');
    document.body.addEventListener('click', close);
  }
  
  e.preventDefault();
  e.stopPropagation();
});
</script>
</body>
</html>