{{> head}}

<div class="wrapper">
    
  <div class="left-side">
    <br><Br><Br>
    <div class="dropdown closed">

      <a href="#!" class="opener nav-bar" style="font-weight:500;border:none;color:#111;opacity: .99;border:none;padding:0 0 0 20px;">
        
        {{#blog.avatar}}<img src="{{blog.avatar}}" style="vertical-align:text-bottom;margin:0em 8px 0 0;max-width:16px;max-height:16px">{{/blog.avatar}}

        {{blog.title}}

        <svg style="margin-right:6px;transform:rotate(0deg)" width="12" height="10"  viewBox="0 0 12 10" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="rgb(153, 153, 153)"></path></svg> 
      </a>

      <div class="menu">
        {{#blogs}}{{^isCurrent}}
        <form style="display: inline-block;width: 100%;" action="/account/switch-blog" method="POST"> 
          <input type="hidden" name="_csrf" value="{{csrftoken}}">
          <input type="hidden" name="to" value="{{id}}"> 
          <button type="submit">
            {{#avatar}}<img src="{{avatar}}" style="vertical-align:text-bottom;margin:0em 0.4em;max-width:16px;max-height:16px">{{/avatar}}
            {{title}}
          </button>
        </form>
        {{/isCurrent}}{{/blogs}}
        <a href="/account/create-blog">Create another blog</a>
      </div>
    </div>
  </div>
  <div class="right-side">

    <br>
  <!--                   <a href="{{blog.url}}" class="line" target="_blank" style="margin-top:-16px;color:rgb(153, 153, 153);text-decoration:none"><span class="link">{{blog.pretty.url}}</span></a><br>
   -->

      <a style="color:rgb(158, 154, 152);text-decoration:none;padding-left:20px" href="/account">Your account</a>
      <a style="color:rgb(158, 154, 152);text-decoration:none;padding-left:20px" href="/help">Documentation</a>
      <a style="color:rgb(158, 154, 152);text-decoration:none;padding-left:20px" href="/contact">Contact support</a>
  </div>
</div>
<br><Br><Br>
<div class="wrapper">

  <div class="side-dark">
    
    <a href="/" style="padding: 0 20px;line-height:41px;color:rgb(153, 153, 153);display:block;text-decoration:none;color:rgb(153, 153, 153);border-bottom:1px solid #eee;">

      Settings 

      {{#subpage_title}}
      <span style="margin:0 0.3em">/</span>
      <span style="text-decoration:none;color: rgb(109, 109, 109);font-weight:500">
        {{subpage_title}}
      {{/subpage_title}}
    </a>
    
    {{#message}}
    <a href="" class="mess {{#error}}error{{/error}} {{^error}}success{{/error}}">
     {{text}}
     <span class="link">Dismiss</span>
    </a>
    {{/message}}
         
    {{> yield}}
  </div>
  <div class="side-light">
    {{> folder}}
  </div>
</div>
<div class="clear"></div>

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/dashboard.js?{{cacheID}}"></script>
<script src="/scripts/integrations.js?{{cacheID}}"></script>
<script src="/scripts/design.js?{{cacheID}}"></script>
<script src="/scripts/sortable.js?{{cacheID}}"></script>
<script src="/scripts/settings.js?{{cacheID}}"></script>
<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/design.js?{{cacheID}}"></script>
</body>
</html>