<!DOCTYPE html>
<html class="{{dark}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/blot.{{cacheID}}.css">
  </head>
  <body class="sans-serif f5 lh-copy">
{{#menu}}
<div class="nav fixed">
  
  <div class="center mw8 ph4">

    <a class="db fw5 fl {{index}}" href="/"><img src="/images/logo-new.svg" style="vertical-align:text-bottom;{{^index}}opacity:0.3333{{/index}}" width=22>&thinsp; Blot</a>             

    <div class="measure center">

    {{#sign-up}}
    <a class="db fl {{index}}"><span style="color:#111">Sign up</span><span style="color:#a7a7a7">&nbsp;&nbsp;&nbsp;&nbsp;→&nbsp;&nbsp;&nbsp;&nbsp;Create your blog</span></a>
    {{/sign-up}}

    {{^sign-up}}
        <a class="db fl {{index}}"><span style="color:#111">Log in</span><span style="color:#a7a7a7">&nbsp;&nbsp;&nbsp;&nbsp;→&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span></a>
 {{/sign-up}}
    <div class="cf"></div>
  </div>
</div>
</div>
{{/menu}}

<div class="wrapper">
<div class="center mw8 ph4"  style="padding-top:160px;">

  {{> yield}}

  <div class="cf"></div>
  <div class="spacer cf half"></div>  
  <div class="push"></div>
</div>
</div>

{{#menu}}
{{/menu}}

<script type="text/javascript" src="/blot.{{cacheID}}.js"></script>
</body>
</html>