<h1>Console</h1>
<p class="back-link"><a href="/templates">View all templates</a></p>

<ul class="side-links">
  <li><a target="_blank" href="{{{preview}}}">Preview</a></li>
  <li><a href="#folder">About the folder</a></li>
</ul>

<p>The Console template is designed for long essays and posts with code. It features a minimal index page. The color scheme is easy to customize.</p>

<figure>
  <p class="screenshot" style="padding-bottom:70.3791469%"><a target="_blank" href="{{{preview}}}"><img src="/templates/console/one.png?size=large&amp;extension=.png" width="1266" height="871"></a></p>
  <figcaption>The homepage of the Console template features a list of recent posts with links to view the post in full.</figcaption>
</figure>

<p>The Console template is designed for code, short posts and links. It features a simple index page with links to the full posts.</p>

<p><a href="http://preview.console.portfolio.blot.im/lappland"><img src="/templates/console/two.png"></a></p>

<h2 id="folder">About the folder</h2>

<p><a href="https://www.flickr.com/photos/swedish_heritage_board/sets/72157650224763869/">Björn Allard</a> (1923-2006) was employed as a photographer at the Swedish National Heritage Board in the 1950s and 1960s. He took part in archaeological surveys and excavations to contribute documentary photographs.</p>
