<h1>Console template</h1>
<p>Designed for essays and code</p>

<ul>
  <li><a href="http://preview.console.portfolio.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<a href="http://preview.console.portfolio.blot.im"><img src="/templates/console/one.png"></a>

<p>The Console template is designed for code, short posts and links. It features a simple index page with links to the full posts.</p>

<a href="http://preview.console.portfolio.blot.im/lappland"><img src="/templates/console/two.png"></a>

<p>View the <a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/console">source code for the Console template</a>.</p>

<h2>About the folder</h2>

<p><a href="https://www.flickr.com/photos/swedish_heritage_board/sets/72157650224763869/">Björn Allard</a> (1923-2006) was employed as a photographer at the Swedish National Heritage Board in the 1950s and 1960s. He took part in archaeological surveys and excavations to contribute documentary photographs.</p>

