<h1>How to use Blot</h1>

<p>Blot turns a folder into a blog. The point of Blot is to let you use your favorite tools to blog. All of these files become blog posts automatically when you put them somewhere inside your blog’s folder:</p>
<!-- 
<style type="text/css">
overlap {position: relative;margin:0em 0;display: block;padding: 3em 0;max-width: 39em}
overlap window {width: 65.5%}
overlap window:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 75%
}
</style>
<overlap>

<overlap style="height:20em"><pre class="folder" title="Your blog"><code>Drafts
Pages
  About.txt
  Contact.docx  
  Hidden.txt
Posts


</code></pre><pre class="text with-chrome narrow" title="Post"><code><b># Formatting</b>

You can use <em>*Markdown*</em>, a lightweight markup language for plain text files.

Use it for links, headings, lists and much more.




</code>
    </pre></overlap>

<style type="text/css">.light {opacity: 0.5}</style>

 -->
 <h2>Supported files</h2>
<table style="table-layout:auto;border-top:1px solid #eee;margin-top:-5px;max-width:39em">
  <tbody>
    <tr>
      <td><code class="file md">&nbsp;Text and Markdown</a></code></td>
      <td><span class="light">.txt&nbsp; .md</span></td>
      <td>Use the full range of <a href="/publishing/formatting/markdown">Markdown</a> features to add formatting to text files.</td>
    </tr>
    <tr>
      <td><code class="file txt">&nbsp;Word Documents</a></code></td>
      <td><span class="light">.docx &nbsp;.odt</span></td>
      <td>Supports files created by <a href="https://en.wikipedia.org/wiki/Microsoft_Word">Microsoft Word</a>, <a href="https://en.wikipedia.org/wiki/Pages_(word_processor)">Pages</a>, <a href="https://en.wikipedia.org/wiki/Google_Docs">Google Docs</a> and <a href="https://en.wikipedia.org/wiki/OpenOffice.org">OpenOffice</a>.</td>
    </tr>
    <tr>
      <td><code class="file webloc">&nbsp;Bookmarks</a></code></td>
      <td><span class="light">.webloc&nbsp; .url</span></td>
      <td>Drag URLs from your browser's address bar to create blog posts from bookmark files.</td>
    </tr>
    <tr>
      <td><code class="file img" style="margin-left:-3px">&nbsp;Images</a></code></td>
      <td><span class="light">.png&nbsp; .jpeg&nbsp; .gif</span></td>
      <td>You can put images directly from your camera into your blog's folder. Use the file's path to add <a href="/publishing/tags">tags</a> or change the <a href="/publishing/dates">date</a> of a post created from an image. Blot generates thumbnails and optimized versions to deliver to your readers automatically.</td>
    </tr>
    <tr>
      <td><code class="file html">&nbsp;HTML</a></code></td>
      <td><span class="light">.html &nbsp; .htm</span></td>
      <td>Published as-is. <a href="/publishing/metadata">Metadata</a> can be parsed from a comment at the start of a file.</td>

    </tr>
  </tbody>
</table>

<h2>Add formatting to your posts</h2>
<p>You can use a variety of standard tools to add formatting to your blog posts.</b> <a href="/publishing/formatting/markdown">Markdown</a> to add links, headings, lists and much more. Blot also renders mathematics set in <a class="bn" href="/publishing/formatting/tex">\(\TeX\)</a> and</span> provides syntax highlighting for code snippets.</p>

<background><pre class="text with-chrome narrow" title="Post"><code><b># Formatting</b>

You can use <em>*Markdown*</em>, a lightweight markup language for plain text files.

Use it for links, headings, lists and much more.

</code>
    </pre>
</background>



<h2>Prevent a file becoming a blog post</h2>
<p> Files and folders whose name starts with an underscore are ignored. Ignored files don’t become blog posts themselves but they can be <a href="/publishing/public-files">embedded in other posts</a>.</p>

<background>
  <pre class="folder" title="Your blog"><code>Drafts
Pages
Posts
  _not_a_blog_post.txt
  blog_post.txt
</code>
    </pre>
</background>
