<h1>How to use Blot</h1>
<p>Blot turns a folder into a blog. When you put files inside your blog's folder Blot turns them into blog posts.  The point of Blot is to let you use your favorite tools to blog. </p>


<background class="green"><pre class="folder" title="Your blog"><code>Apple.txt
Banana.doc
Cherry.jpg
Durian.md
Egg.webloc
Fruit.html


</code></pre>
</background>

<p>Blot synchronizes your blog's folder using either <a href="/publishing/clients/dropbox">Dropbox</a> or <a href="/publishing/clients/git">Git</a>. You can organize the files inside however you like.</p>

<style type="text/css">

.light {opacity: 0.5;margin-left: 1.7em}

.flex-table {max-width: 637px;}
.flex-table row {display: flex;flex-wrap:wrap;    }
.flex-table row > :first-child {min-width:190px;flex-shrink:0;padding-right: 1.4em;margin-bottom: 0}
.flex-table row > :last-child {flex-shrink: 1;
    flex-basis: 100px;
    min-width: 256px;
    flex-grow: 1;
    margin-left: 1.7em;}

.flex-table hr {    border: none;    
    border-bottom: 1px solid #eceff1;margin: 0}

</style>

<h2 style="margin-bottom:0">Files which become blog posts</h2>
<section class="flex-table">
<row>
  <p><code class="file md">&nbsp;Text and Markdown</a></code><br><span class="light">.txt&nbsp; .md</span></p>
  <p>Use the full range of <a href="/publishing/formatting/markdown">Markdown</a> features to add formatting to your blog posts. Blot also renders <a href="/publishing/formatting/tex">mathematics</a>  and provides syntax highlighting for code snippets.</p>
</row>
<hr>
<row>
  <p><code class="file img" style="margin-left:-3px">&nbsp;Images</a></code><br><span class="light">.png&nbsp; .jpeg&nbsp; .gif</span></p>
  <p>Put images directly into your blog's folder. Blot generates optimized versions to deliver to your readers. Use the path to add <a href="/publishing/metadata">tags</a> or change the <a href="/publishing/metadata">publish date</a>. </p>
</row>
<hr>    
<row>
  <p><code class="file txt">&nbsp;Word Documents</a></code><br><span class="light">.docx &nbsp;.odt</span></p>
  <p>Supports files created by <a href="https://en.wikipedia.org/wiki/Microsoft_Word">Microsoft Word</a>, <a href="https://en.wikipedia.org/wiki/Pages_(word_processor)">Pages</a>, <a href="https://en.wikipedia.org/wiki/Google_Docs">Google Docs</a> and <a href="https://en.wikipedia.org/wiki/OpenOffice.org">OpenOffice</a>. Much formatting is stripped so posts match the style of your blog.</p>
</row>
<hr>    
<row>
  <p><code class="file webloc">&nbsp;Bookmarks</a></code><br><span class="light">.webloc&nbsp; .url</span></p>
  <p>Drag URLs from your browser's address bar to create blog posts from bookmark files. Use the file's path to add <a href="/publishing/metadata">tags</a> or change the <a href="/publishing/metadata">publish date</a>.</p>
    </row>
<hr>    
<row>
  <p><code class="file html">&nbsp;HTML</a></code><br><span class="light">.html <!-- &nbsp; .htm --></span></p>
  <p>Published as-is. <a href="/publishing/metadata">Metadata</a> can be parsed from a comment at the start of a file.</p>

</row>
</section>


<h2>Prevent a file becoming a blog post</h2>
<p> Files and folders whose name starts with an underscore are ignored. Ignored files don’t become blog posts themselves but they can be <a href="/publishing/public-files">embedded in other posts</a>.</p>

<background class="green">
  <pre class="folder" title="Your blog"><code>Drafts
Pages
Posts
  _Not_a_Post.txt
  Post.txt


</code>
    </pre>
</background>





<h2>Drafts</h2>

<p>Files in a folder called <em>Drafts</em> are not published. Instead, Blot creates a preview file which updates as you make changes to your draft. You can share the preview file with others. Preview files work on other computers that are connected to the internet.</p>

<background class="green"><pre class="folder" title="Your blog"><code>Drafts
  Anecdote.txt
  Anecdote.txt.html
  Unpublished.txt
  Unpublished.txt.html
Pages
Posts

</code></pre></background>



<h2>Importing posts</h2>
<p>Blot comes with scripts to turn your site on <a href="https://github.com/davidmerfield/Blot/tree/master/app/dashboard/routes/importer/sources/tumblr">Tumblr</a>, <a href="https://github.com/davidmerfield/Blot/tree/master/app/dashboard/routes/importer/sources/wordpress">Wordpress</a>, <a href="https://github.com/davidmerfield/Blot/tree/master/app/dashboard/routes/importer/sources/jekyll">Jekyll</a> or <a href="https://github.com/davidmerfield/Blot/tree/master/app/dashboard/routes/importer/sources/squarespace">Squarespace</a> into a folder of files which are friendly to Blot. These scripts preserve your URLs to prevent broken links if you decide to switch to Blot. Please <a href="/contact">contact me</a> and I will run them for you.</p>

<!-- 
<h2>Redirects</h2>
<p>You can set up redirects to prevent broken links on your blog. Your blog’s 404 log will help you discover URLs which need redirects.<a href="/publishing/configuring/redirects" class="measure next small db bt b--black-10">
      Guide to setting up redirects
    </a>
</p>

<h2>Permalinks</h2>
<p>You can change the format of the permalinks generated automatically for each blog post. <a href="/publishing/configuring/urls" class="measure next small db bt b--black-10">
      Guide to changing your blog’s permalinks
    </a></p>
 -->
<!-- 
<h2>Importing posts</h2>

<p>I’ve written scripts to generate a folder of files from sites built on <a href="https://github.com/davidmerfield/Blot/tree/master/app/dashboard/routes/importer/sources/tumblr">Tumblr</a>, <a href="https://github.com/davidmerfield/Blot/tree/master/app/dashboard/routes/importer/sources/wordpress">Wordpress</a>, <a href="https://github.com/davidmerfield/Blot/tree/master/app/dashboard/routes/importer/sources/jekyll">Jekyll</a> and <a href="https://github.com/davidmerfield/Blot/tree/master/app/dashboard/routes/importer/sources/squarespace">Squarespace</a>. If you <a href="/contact">contact me</a>, I will run them for you.</p>
 -->
<!-- 
<h2>Typography</h2>
<p>Blot comes with a number of features to refine the typography of your blog. This includes true hanging punctuation and common typographic substitutions with <a href="https://github.com/davidmerfield/typeset">Typeset</a>. Blot also renders mathematics in <a class="bn" href="/publishing/formatting">\(\TeX\)</a>and provides syntax highlighting for code.</p>

<h2>Analytics</h2>
<p>Blot makes it easy to set up Google Analytics, Heap and Clicky.</p>

<h2>Comments</h2>
<p>Blot makes it easy to set up Disqus.</p>

<h2>Videos</h2>
<p>Blot converts URLs to YouTube and Vimeo into videos. You can embed a YouTube video like this:</p>

<p><code>https://www.youtube.com/watch?v=cmaNByqIeeQ</code></p>

<p>You can paste the HTML for a video player directly into the post if you prefer.</p>


<h2>Typography</h2>

<p>Blot comes with a number of features to refine the typography of your blog. This includes true hanging punctuation and common typographic substitutions with <a href="https://github.com/davidmerfield/typeset">Typeset</a>. Blot also renders mathematics in <a class="bn" href="/publishing/formatting">\(\TeX\)</a>and provides syntax highlighting for code.</p>
<ul>
<li>Real hang­ing punc­tu­a­tion</li>
<li>Soft hy­phen in­ser­tion</li>
<li>Optical mar­gin align­ment</li>
<li>Small caps de­tec­tion</li>
<li>Punctuation sub­sti­tu­tion</li>
</ul>
 -->
