<h1>Metadata</h1>

<p>Each blog post’s permalink, title and publish date is generated automatically. You can override some or all of this metadata on the file’s first line.</p>

  <pre class="text with-chrome" title="Post.txt"><code>Date: {{#date}}MMMM Do, YYYY{{/date}}
Permalink: /metadata

You must leave a space after the colon between the metadata property (e.g. Date) and its value. Metadata must be separated from the rest of the post by at least one blank line. 

</code></pre>


<h2 id="dates">Dates</h2>

<p>A blog post’s publish date is the same as the file’s creation date by default. You can specify a different date in the file’s <a href="#dates-path">path</a> or in its <em>metadata</em>:</p>
  <pre class="text with-chrome" title="Post.txt"><code>Date: {{#date}}MMMM Do, YYYY{{/date}}

Blot supports a variety of date formats. These all produce a post with the same date:

{{#date}}MM/DD/YYYY{{/date}}   {{#date}}MMMM D, YYYY{{/date}}
{{#date}}M.D.YYYY{{/date}}     {{#date}}YYYY-MM-DD 00:00{{/date}}

You can use underscores, dashes, slashes and dots to seperate the numbers in the date.
</code></pre>
<p id="dates-path">You can specify a post’s publish date in its path. For example, all four of these posts share the same publish date:</p>


<style type="text/css">icon.folder {position: relative;
    top: 1px;}
    table icon {margin-right: 3px}
    .light {margin: 0 10px 0 12px;color:#777}</style>
<table style="max-width:637px">
  <tbody>
    <tr>
      <td>
        <code class="folder">{{#date}}YYYY{{/date}}<span class="light">›</span></code><code class="folder">{{#date}}MM{{/date}}<span class="light">›</span></code><code class="folder">{{#date}}DD{{/date}}<span class="light">›</span></code><code class="file md">Post.txt</a></code>
      </td>
    </tr>
    <tr>
      <td>
        <code class="folder">{{#date}}YYYY{{/date}}<span class="light">›</span></code><code class="folder">{{#date}}MM{{/date}}<span class="light">›</span></code><code class="file md">{{#date}}DD-[Post.txt]{{/date}}</code>
      </td>
    </tr>
    <tr>
      <td>
        <code class="folder">{{#date}}YYYY{{/date}}<span class="light">›</span></code><code class="file md">{{#date}}MM-DD-[Post.txt]{{/date}}</code>
      </td>
    </tr>
    <tr>
      <td><code class="file md">{{#date}}YYYY-MM-DD-00-00[-Post.txt]{{/date}}</a></code></td>
    </tr>

  </tbody>
</table>
<p>Please note that a date specified inside a file overrides a date specified in its path. If you specify a date in the future, your post will be published then.</p>

</div>

<h2 id="tags">Tags</h2>

<p>Use tags to connect posts by similar subject. Specify tags in the file’s <em>metadata</em> or in its <a href="#tags-path">path</a>. Here’s an example blog post with two tags in its metadata:</p>
<pre class="text with-chrome" title="Post.txt"><code>Tags: Getting started, Documentation

Tags are case-insensitive and may contain whitespace. Blot picks the case you used last when displaying the tag on your blog.



</code></pre>

<p id="tags-path">You can add tags to a post in the file’s name or path. Include the tag, wrapped in brackets. Here’s a few examples:</p>

<table style="max-width:637px;table-layout: auto;">
  <thead>
    <tr>
      <th>Path</th>
      <th>Tagged</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <code class="folder">[Pictures]<span class="light">›</span></code><code class="folder">[Holiday]<span class="light">›</span></code><code class="file img">Picture.jpg</a></code>
      </td>
      <td>Pictures, Holiday</td>
    </tr>
    <tr>
      <td>
        <code class="folder">[Reviews]<span class="light">›</span></code><code class="file md">Thief.txt</a></code>
      </td>
      <td>Reviews</td>
    </tr>
    <tr>
      <td>
        <code class="file md">[Notes] Pnin.txt</a></code>
      </td>
      <td>Notes</td>
    </tr>

  </tbody>
</table>

<h2>Metadata reference</h2>
<table style="max-width:39em;table-layout:auto">
  <tbody>
    <tr>
      <td>Title</td>
      <td>Defaults to the text of the first heading in the blog post or the file’s name.
        <!-- Specifying a title in the file’s metadata does not insert a heading into the blog post itself. -->
      </td>
    </tr>
    <tr>
      <td>Date</td>
      <td>Defaults to the file’s creation date. Specify a different date in the file’s metadata with one of the <a href="#dates">supported formats</a>. You can also change a post's publish date <a href="#dates-path">using the file’s path</a>.
        <!-- <br><a class="next small db bt b--black-10" style="margin-bottom:0" href="/publishing/dates">Read more about dates</a>
 -->
      </td>
    </tr>
    <tr>
      <td>Permalink</td>
      <td>Defaults to a URL-friendly version of the post’s title. Specify a different permalink in the file’s metadata, or adjust the <a href="/publishing/configuring/urls">default permalink format</a>.
        <!-- <br><a class="next small db bt b--black-10" style="margin-bottom:0" href="/publishing/dates">Read more about permalinks</a>
 -->
      </td>
    </tr>
    <tr>
      <td>Summary</td>
      <td>Defaults to the text of the first sentence of the first paragraph in the file.</td>
    </tr>
    <tr>
      <td>Teaser</td>
      <td>Defaults to the first few paragraphs of the blog post. You can specify a teaser in the file’s metadata or insert the breakpoint <code>\{{more}}</code> yourself.You can specify the end of the teaser using the <code>\{{more}}</code> tag somewhere in the file.</p>
        Everything above the <code>\{{more}}</code> tag, including this line, will be in the post’s teaser.</td>
    </tr>
    <tr>
      <td>Tags</td>
      <td>You can tag a blog post <a href="#tags">in the file’s metadata</a> or using the <a href="#tags-path">file’s path</a>.</td>
    </tr>
    <tr>
      <td>Thumbnail</td>
      <td>Defaults to the largest image in the blog post. You can specify a URL, or a path to an image in your blog’s folder.</td>
    </tr>
    <tr>
      <td>Draft</td>
      <td>Determines whether a file becomes a draft. Can be ’Yes’ or ’No’. Defaults to ’No’ unless the file is inside a folder called ’Drafts’.</td>
    </tr>
    <tr>
      <td>Page</td>
      <td>Determines whether a file becomes a page or a blog post. Can be ’Yes’ or ’No’. Defaults to ’No’ unless the file is inside a folder called ’Pages’.</td>
    </tr>
    <tr>
      <td>Menu</td>
      <td>Determines whether a file appears on your blog’s menu. Can be ’Yes’ or ’No’. Defaults to ’Yes’ for pages and ’No’ for blog posts.</td>
    </tr>
  </tbody>
</table>

</div>

<h2>Custom metadata</h2>
<p>You can also <a href="/developers">define your own metadata</a> for use in your template. Blot uses </p>

<h2>Metadata in HTML files</h2>
<p>You can use a comment at the start of an HTML file to specify metadata.</p>

<div style="max-width:39em;margin:3em 0 4em">
  <pre class="code html" title="Post.html"><code><!--
Date: {{#date}}MMMM Do, YYYY{{/date}}
Permalink: /metadata
-->

The comment containing metadata in an HTML file
<b>must</b> start on the file's first line.

</code></pre>
</div>