<h1>Metadata</h1>

<p>Each post’s permalink, title and publish date is generated automatically. You can override some or all of this metadata on the file’s first line. Metadata must be separated from the rest of the post by at least one blank line. </p>

<div style="max-width:39em;margin:3em 0 4em">
  <pre class="text with-chrome" title="Post.txt"><code>Date: {{#date}}MMMM Do, YYYY{{/date}}
Permalink: /metadata

You must leave a space after the colon between the metadata property (e.g. Date) and its value. Metadata must be separated from the rest of the post by at least one blank line. 

</code></pre>
</div>

<h2>Metadata reference</h2>
<table style="max-width:39em;table-layout:auto">
  <tbody>
    <tr>
      <td>Title</td>
      <td>Defaults to the text of the first heading in the blog post or the file’s name.
        <!-- Specifying a title in the file’s metadata does not insert a heading into the blog post itself. -->
      </td>
    </tr>
    <tr>
      <td>Date</td>
      <td>Defaults to the file’s creation date. Specify a different date in the file’s metadata with one of the <a href="/publishing/dates">supported formats</a>. You can also change a post's publish date <a href="/publishing/dates">using the file’s path</a>.
        <!-- <br><a class="next small db bt b--black-10" style="margin-bottom:0" href="/publishing/dates">Read more about dates</a>
 -->
      </td>
    </tr>
    <tr>
      <td>Permalink</td>
      <td>Defaults to a URL-friendly version of the post’s title. Specify a different permalink in the file’s metadata, or adjust the <a href="/configuring/urls">default permalink format</a>.
        <!-- <br><a class="next small db bt b--black-10" style="margin-bottom:0" href="/publishing/dates">Read more about permalinks</a>
 -->
      </td>
    </tr>
    <tr>
      <td>Summary</td>
      <td>Defaults to the text of the first sentence of the first paragraph in the file.</td>
    </tr>
    <tr>
      <td>Teaser</td>
      <td>Defaults to the first few paragraphs of the blog post. You can specify a teaser in the file’s metadata or insert the breakpoint <code>\{{more}}</code> yourself.You can specify the end of the teaser using the <code>\{{more}}</code> tag somewhere in the file.</p>
        Everything above the <code>\{{more}}</code> tag, including this line, will be in the post’s teaser.</td>
    </tr>
    <tr>
      <td>Tags</td>
      <td>You can tag a blog post <a href="/publishing/tags">in the file’s metadata</a> or using the <a href="/publishing/tags">file’s path</a>.</td>
    </tr>
    <tr>
      <td>Thumbnail</td>
      <td>Defaults to the largest image in the blog post. You can specify a URL, or a path to an image in your blog’s folder.</td>
    </tr>
    <tr>
      <td>Draft</td>
      <td>Determines whether a file becomes a draft. Can be ’Yes’ or ’No’. Defaults to ’No’ unless the file is inside a folder called ’Drafts’.</td>
    </tr>
    <tr>
      <td>Page</td>
      <td>Determines whether a file becomes a page or a blog post. Can be ’Yes’ or ’No’. Defaults to ’No’ unless the file is inside a folder called ’Pages’.</td>
    </tr>
    <tr>
      <td>Menu</td>
      <td>Determines whether a file appears on your blog’s menu. Can be ’Yes’ or ’No’. Defaults to ’Yes’ for pages and ’No’ for blog posts.</td>
    </tr>
  </tbody>
</table>

</div>

<h2>Custom metadata</h2>
<p>You can also <a href="/developers">define your own metadata</a> for use in your template. Blot uses </p>

<h2>Metadata in HTML files</h2>
<p>You can use a comment at the start of an HTML file to specify metadata.</p>

<div style="max-width:39em;margin:3em 0 4em">
  <pre class="code html" title="Post.html"><code><!--
Date: {{#date}}MMMM Do, YYYY{{/date}}
Permalink: /metadata
-->

The comment containing metadata in an HTML file
<b>must</b> start on the file's first line.

</code></pre>
</div>