<h1>Public files</h1>
<p>All the files in your blog’s folder are public and can be accessed by your readers. This is useful if you want to embed an image in your blog posts or distribute files. </p>

<p>For example, given the following folder, your readers can download <code class="file zip">Archive.zip</code> if they visit <em>/files/archive.zip</em> on your blog. Blot also serves index files. Your readers will see <code class="file html">index.html</code> if they visit <em>/files</em>. </p>

<background><pre class="folder" title="Your blog"><code>Files
  Archive.zip
  index.html
Posts


</code></pre>
</background>

<p>Paths to files are case-insensitive.</p>

<h2>Embedding images in posts</h2>

<p>An image in your blog’s folder becomes its own blog post by default. However, files and fold­ers whose name starts with an un­der­score are ig­nored. Ignored ﬁles don’t be­come blog posts them­selves but they can be em­bed­ded in other posts. You can use <a href="/formatting">Markdown</a> to embed an image in your post:</p>

<background><pre class="text with-chrome" title="Post.txt"><code>Here’s how to embed an image in your folder:

![Image title](/path/to/the/_image.jpg)

Absolute paths are resolved with your blog’s folder as root. Relative paths are resolved from the location of this file.

You can also embed an image that’s already on the internet:

![Image title](https://url.of/the/image.jpg)
</code></pre></background>