<h1>Public files</h1>

<p>All the files in your blog’s folder are public and can be accessed by your readers. This is useful if you want to embed an image in a blog post or distribute files. </p>


<background class="green"><pre class="folder" title="Your blog"><code>Files
  Archive.zip
  index.html
Posts




</code></pre>
</background>

<p>For example, given the folder above, your readers can download <em>Archive.zip</em> if they visit <em>/files/archive.zip</em> on your blog. Blot also serves index files. Your readers will see <em>index.html</em> if they visit <em>/files</em>. Paths to files are case-insensitive.</p>


<h2 id="prevent">Prevent a file becoming a blog post</h2>
<p> Files and folders whose name starts with an underscore are ignored. Ignored files don’t become blog posts themselves but they can be embedded in other posts.</p>

<background class="green">
  <pre class="folder" title="Your blog"><code>Drafts
Pages
Posts
  _Not_a_Post.txt
  Post.txt


</code>
    </pre>
</background>



<h2>Embed an image in a post</h2>

<p>An image in your blog’s folder becomes its own blog post by default. However, you can <a href="#prevent">prevent a ﬁle becoming a blog post</a> if you start its name starts with an un­der­score. Then you can use <a href="/publishing/guides">Markdown</a> to embed the image in a text file:</p>

<pre class="text with-chrome" title="Post.txt"><code>Here’s how to embed an image in your folder. Note the image’s name starts with an underscore to prevent it becoming its own blog post:

![Image title](/path/to/the/_image.jpg)

Absolute paths are resolved with your blog’s folder as root. Relative paths are resolved from the location of this file. You can also embed an image that’s already on the internet:

![Image title](https://url.of/the/image.jpg)
</code></pre>