<h1>Tags</h1>

<p>Use tags to connect posts by similar subject. Specify tags in the file’s <a href="{{{base}}}/publishing/metadata">metadata</a> or in its <a href="#path">path</a>. Here’s an example blog post with two tags in its metadata:</p>

<background><pre class="text with-chrome" title="Post.txt"><code>Tags: Getting started, Documentation

Tags are case-insensitive and may contain whitespace. Blot picks the case you used last when displaying the tag on your blog.



</code></pre>
</background>

<h2 id="path">Using the file’s path</h2>
<p>You can add tags to a post in the file’s name or path. Include the tag, wrapped in brackets. Here’s a few examples:</p>

<table style="    table-layout: auto;">
  <tbody>
    <tr>
      <td>
        <code class="folder">&nbsp;[Photos]<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
        <code class="folder">&nbsp;[Holiday]<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
        <code class="file img">&nbsp;Picture.jpg</a></code>
      </td>
      <td class="light">...&puncsp;is tagged&puncsp;...</td>
      <td>Photos, Holiday</td>
    </tr>
    <tr>
      <td>
        <code class="folder">&nbsp;[Book notes]<span class="light">&nbsp;/&nbsp;</span></code>&nbsp;
        <code class="file md">&nbsp;Thief.txt</a></code>
      </td>
      <td class="light">...&puncsp;is tagged&puncsp;...</td>
      <td>Book notes</td>
    </tr>
    <tr>
      <td>
        <code class="file md">&nbsp;[Reviews] Pnin.txt</a></code>
      </td>
      <td class="light">...&puncsp;is tagged&puncsp;...</td>
      <td>Reviews</td>
    </tr>

  </tbody>
</table>