{{> head}}

<body>

  <header>
    <row style="display:flex;align-items:center;">
      <section style="display: flex;
    align-items: center;">

        {{#unless user}}
        <a class="logo {{selected.index}}" title="Blot" href="/" >{{> logo}}</a>
        <span style="color:#aaa;padding:0 0.7em">/</span> <a  style="min-width:auto;color:inherit"href="/notes"> Notes</a>
        {{/unless}}
        {{#if user}}
        <a href="/" style="color:#aaa">&larr; &nbsp; Back to your blogs</a>

        {{/if}}

      </section>

      <section class="links">
        <label for="toggle">Menu</label>
        {{#unless user}}
        <a href="/sign-up">Sign up</a>
        <a href="/log-in">Log in</a>
        {{/unless}}
        {{#if user}}
        <a href="/account">Your account</a>
        <a href="/publishing">How to use Blot</a>
        <a href="/contact">Contact</a>
        {{/if}}
      </section>
    </row>

    <hr style="margin:0">
  </header>

  <main style="padding-top:0">

    <input type="checkbox" name="toggle" id="toggle">

    <ul class="sidebar col-25">
      <br><Br>
      <li class="has-list {{selected.design}}">
        <input type="checkbox" name="design" id="design" {{#selected.design}} checked{{/selected.design}}> <a href="/notes/design">Design<label for="design"></label>
        </a>
        <ul>
          <li class="{{selected.dashboard}}">
            <a href="/notes/design/dashboard">Dashboard</a>
          </li>
          <li class="{{selected.drafts}}">
            <a href="/notes/design/drafts">Drafts</a>
          </li>
          <li class="{{selected.references}}">
            <a href="/notes/design/references">References</a>
          </li>
          <li class="{{selected.templates}}">
            <a href="/notes/design/templates">Templates</a>
          </li>
        </ul>
      </li>
      <li class="has-list {{selected.programming}}">
        <input type="checkbox" name="programming" id="programming" {{#selected.programming}} checked{{/selected.programming}}> <a href="/notes/programming">Programming<label for="programming"></label>
        </a>
        <ul>
          <li class="{{selected.caching-strategies}}">
            <a href="/notes/programming/caching-strategies">Caching strategies</a>
          </li>
          <li class="{{selected.code-architecture}}">
            <a href="/notes/programming/code-architecture">Code architecture</a>
          </li>
          <li class="{{selected.git-mistakes}}">
            <a href="/notes/programming/git-mistakes">Git mistakes</a>
          </li>
          <li class="{{selected.generating-titles}}">
            <a href="/notes/programming/generating-titles">Generating titles</a>
          </li>
          <li class="{{selected.templates}}">
            <a href="/notes/programming/templates">Templates</a>
          </li>
          <li class="{{selected.zero-downtime-deployments}}">
            <a href="/notes/programming/zero-downtime-deployments">Zero downtime deployments</a>
          </li>

        </ul>
      </li>
      <li class="has-list {{selected.business}}">
        <input type="checkbox" name="business" id="business" {{#selected.business}} checked{{/selected.business}}> <a href="/notes/business">Business<label for="business"></label>
        </a>
        <ul>
         
          <li class="{{selected.social-media}}">
            <a href="/notes/business/social-media">Social media</a>
          </li>
        </ul>
      </li>
        <li class="has-list {{selected.politics}}">
        <input type="checkbox" name="politics" id="politics" {{#selected.politics}} checked{{/selected.politics}}> <a href="/notes/politics">Politics<label for="politics"></label>
        </a>
        <ul>
         
          <li class="{{selected.social-media}}">
            <a href="/notes/politics/free-speech">Free speech</a>
          </li>
        </ul>
      </li>
      <li class="has-list {{selected.guides}}">
        <input type="checkbox" name="guides" id="guides" {{#selected.guides}} checked{{/selected.guides}}> <a href="/notes/guides">Guides<label for="guides"></label></a>
        <ul>
          <li class="{{selected.aws-instance-notes}}">
            <a href="/notes/guides/aws-instance-notes">AWS notes</a>
          </li>
        </ul>
      </li>
      <br>
      <hr>

      <br>
      <div style="font-size:14px">
        <li><a class="{{selected.contact}}" href="/contact">Contact</a></li>
      </div>
    </ul>

    <content>
      {{{body}}}
    </content>
  </main>

  {{> footer}}
</body>

</html>
