{{#account}}

{{> status-line}}

<div class="live-updates">

{{#error}}
<a href="{{{base}}}/redirect" class="mess error">
Blot cannot connect to your <b>Google Drive</b>. Please re-connect to give Blot access so you can sync your folder.<br><br>
<span class="button">Re-connect to Google Drive</span>
</a>
{{/error}}

  {{#folderId}}
  <div class="line">
    <span class="label">Location</span>
    <span class="center"><span style="margin-top:0em;display:inline-block;">
      <img src="/images/folder-empty.svg" style="position:relative;top:2px;flex-shrink:0;margin-right:6px" width="16">
    
    {{#folderParents}}
       <span style="color:#000">{{name}} {{^last}}<span style="margin-left:0.3em"><svg width="12" height="10" style="transform:rotate(270deg)" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="#000"></path></svg>{{/last}}</span>
      {{/folderParents}}
    
    
       <span style="color:rgb(158, 154, 152);max-width:500px;display: block;margin-top: 10px">
          {{#preparing}}
          Please wait to make any changes to this folder until the set-up is complete.
          {{/preparing}}
          {{^preparing}}
           You can rename and move this folder anywhere within Google Drive.
          {{/preparing}}
          </span>
 </span>


</div>


  {{/folderId}}

   <div class="line">
    <span class="label">Account on Google Drive</span>
    <span class="center">{{email}}</span>
  </div>

  {{> disconnect-line}}


</div>
<br><br>
{{/account}}

{{^account}}
<div class="inset">
  <p>Sync folder using <strong>Google Drive</strong></p>
  
  <ul>
    <li>Blot will create a new folder in your Drive.</li>
    <li>You can revoke Blot’s access to your Drive at any time.</li>
  </ul>

  <form  action="{{{base}}}/disconnect" method="post">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <div class="buttons">
      <a href="{{{base}}}/redirect">Connect to Google Drive</a>
      <input type="submit" value="Cancel">
    </div>
  </form>
</div>
{{/account}}