{{#account}}

{{> status-line}}

<div class="live-updates">

{{#error}}
<a href="{{{base}}}/redirect" class="mess error">
Blot cannot connect to your <b>Google Drive</b>. Please re-connect to give Blot access so you can sync your folder.<br><br>
<span class="button">Re-connect to Google Drive</span>
</a>
{{/error}}

  {{#folderId}}
  <div class="line">
    <span class="label">Location</span>
    <span class="center"><span style="margin-top:0em;display:inline-block;">
        {{#folderName}}
           <span style="color:#000"> <span class="icon-folder"></span> {{folderName}} </span>
        {{/folderName}}
    
    
       <span style="color:rgb(158, 154, 152);max-width:500px;display: block;margin-top: 10px">
          {{#preparing}}
          Please wait to make any changes to this folder until the set-up is complete.
          {{/preparing}}
          {{^preparing}}
           You can rename and move this folder anywhere within Google Drive.
          {{/preparing}}
          </span>
 </span>


</div>


  {{/folderId}}

  {{^folderId}}
  <div class="line">
    <span class="label">Location</span>
    <span class="center">Please create a new folder in your Google Drive and share the new folder with the following:
    <b>{{blot_googledrive_client_email}}</b><button class="copy" data-copy="{{blot_googledrive_client_email}}"><span class="icon-copy"></span> Copy</button>
    </span>
  </div>
  {{/folderId}}

   <div class="line">
    <span class="label">Account on Google Drive</span>
    <span class="center">{{email}}</span>
  </div>

  {{> disconnect-line}}


</div>
<br><br>
{{/account}}

{{^account}}


<div class="inset">
  <p>Sync folder using <strong>Google Drive</strong></p>
  
  <ul>
    <li>Create a new folder in your Google Drive</li>
    <li>Share this folder with Blot: {{blot_googledrive_client_email}}</li>
  </ul>

  <form class="dashboard-form" action="{{{base}}}/set-up-folder" method="post">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <label for="email">Google Drive email address</label>
    <input type="text" name="email">
    <div class="buttons">
      <button type="submit">Submit</button> 
      <button type="submit" name="cancel" value="true">Cancel</button> 
    </div>
  </form>

</div>
{{/account}}