{{#account}}

{{^settingUp}}

<div class="line" style="border-bottom: none;">
  <p>Blot will create a new folder for <b>{{blog.title}}</b> inside your <b>Google Drive</b>. {{^emptyFolder}}
The files currently in your folder on Blot will be copied automatically into Google Drive.{{/emptyFolder}}</p>
</div>

{{/settingUp}}


{{#settingUp}}

<div style="padding: 0 20PX">
  <p>Blot is setting up a new folder inside your <b>Google Drive</b>. Please <b>do not make any changes</b> to the new folder until all of your files have been copied.</p>

</div>
{{/settingUp}}


<div  class="line" >
    <span class="label">Google account</span>
    <span class="center">{{email}}</span>
  </div>



<div class="line">
    <span class="label">New folder</span>
    <span class="center"> <span style="margin-top:0em;margin-left:-0.25em;display:inline-block;">
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 91 80" style="width:1.3em;margin:0 0.3em;position:relative;top:2px;enable-background:new 0 0 91 80;" xml:space="preserve">
<path fill="#000" d="M41,13L31.8,1.1L31,0H0v80h91V13H41z M87,17v10H51.1l-7.2-10H87z M4,76V4h25l10,13h0l9.4,13.1
  c0.4,0.5,1,0.8,1.6,0.8V31h37v45H4z"/>
</svg> 

 
</span>
   <span style="color:#000">My Drive <span style="margin-left:0.3em"><svg width="12" height="10" style="transform:rotate(270deg)" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="#000"></path></svg></span>

<span style="color:#000">{{nameOfFolderToCreate}}</span>

   </span>
 </span>


</div>

{{^settingUp}}

<form method="post" class="account" style="border-top:none;padding-top: 0; margin-top: 0;">
  <input type="hidden" name="_csrf" value="{{csrftoken}}" />
  <div class="buttons">
    <input class="button" type="submit" value="Create folder {{^emptyFolder}}and transfer files{{/emptyFolder}}" />
    <a href="{{{base}}}">Cancel</a>
  </div>
</form>

{{/settingUp}}


{{#settingUp}}


<style type="text/css">
  .spinner {
  width: 2em;
  text-align: center;
}

.spinner > span {
  width: 0.4em;
  height: 0.4em;
  background-color: #02b333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

</style>
<div id="status-container" class="line" >
    <span class="label" >Status</span>
    <span class="center" id="status">
    </span>
    <span class="right"><span class="spinner">
  <span class="bounce1"></span>
  <span class="bounce2"></span>
  <span class="bounce3"></span>
</span></span>
</div>

<a class="line" href="{{base}}/set-up-folder/cancel" style="border-bottom: none;">
    <span class="label" >Cancel</span>
    <span class="center" ><span class="link">Stop setting up this folder</span>
    </span>
</a>





<script type="text/javascript">
    
  // Will 'live reload' the contents of the folder 
  // on the screen as syncs take place. In future 
  // we should send the new folder contents down with
  // the sync status server-sent-events, right now
  // we hackily refetch the whole page contents and
  // extract the folder from that response, injecting
  // it into the page as-is.
  var evtSource = new EventSource("{{{base}}}/set-up-folder/progress");

  // I should use a proper async queue to accomplish
  // this but for now these flags seem to work.
  var checkAgain = false;
  var currentlyLoading = false;
  var visible = false;

  evtSource.onmessage = function(event) {
      
    if (event.data == 'All files transferred') {
      window.location.reload();
    }

    if (!visible) {
      document.getElementById('status-container').style.display = 'flex';
      visible = true;
    }

    document.getElementById('status').innerHTML = event.data;
  }
</script>
{{/settingUp}}


{{/account}}
