{{#account}}


<div class="line" style="border-bottom: none;">
  <p>Blot will create a new folder for your site inside your <b>Google Drive</b>. {{^emptyFolder}}
The files currently in your folder on Blot will be copied automatically into Google Drive.{{/emptyFolder}}</p>
</div>

<div class="line">
    <span class="label">Location</span>
    <span class="center"> <span style="margin-top:0em;margin-left:-0.25em;display:inline-block;">
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 91 80" style="width:1.3em;margin:0 0.3em;position:relative;top:2px;enable-background:new 0 0 91 80;" xml:space="preserve">
<path fill="#000" d="M41,13L31.8,1.1L31,0H0v80h91V13H41z M87,17v10H51.1l-7.2-10H87z M4,76V4h25l10,13h0l9.4,13.1
  c0.4,0.5,1,0.8,1.6,0.8V31h37v45H4z"/>
</svg> 

 
</span>
   <span style="color:#000">My Drive <span style="margin-left:0.3em"><svg width="12" height="10" style="transform:rotate(270deg)" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="#000"></path></svg></span>

<span style="color:#000">{{nameOfFolderToCreate}}</span>

   </span>
 </span>


</div>


<div class="line" style="border-bottom: none">
    <span class="label">Account on Google</span>
    <span class="center">{{email}}</span>
  </div>


<div id="status-container" class="line" style="display:none;border:1px solid rgba(0,0,0,0.1);margin: 2rem 20px;border-radius: 6px">
    <span class="label" style="flex-basis: 120px">Status</span>
    <span class="center" id="status">
    </span>
</div>

<style type="text/css">
  /* Loader 4 */
.loader-4 {
  height: 16px;
  width: 16px;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -8px;
}
.loader-4::after {
  content: "";
  display: block;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  top: 0; left: 0;
  bottom: 0; right: 0;
  margin: auto;
  background: #aaa;
  border-radius: 50%;
  -webkit-animation: loader-4-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
          animation: loader-4-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-4-1 {
  0%   { -webkit-transform: scale(0); opacity: 0; }
  50%  { -webkit-transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0); opacity: 0; }
}
@keyframes loader-4-1 {
  0%   { transform: scale(0); opacity: 0; }
  50%  { transform: scale(1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}
.loader-4 span {
  display: block;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  -webkit-animation: loader-4-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
          animation: loader-4-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-4-2 {
  0%   { -webkit-transform: rotate(0deg); }
  50%  { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-4-2 {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
.loader-4 span::before,
.loader-4 span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  margin: auto;
  height: 12px;
  width: 12px;
  background: #aaa;
  border-radius: 50%;
  -webkit-animation: loader-4-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
          animation: loader-4-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-4-3 {
  0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
  50%  { -webkit-transform: translate3d(-16px, 0, 0) scale(.5); }
  100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-4-3 {
  0%   { transform: translate3d(0, 0, 0) scale(1); }
  50%  { transform: translate3d(-16px, 0, 0) scale(.5); }
  100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-4 span::after {
  -webkit-animation: loader-4-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
          animation: loader-4-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-4-4 {
  0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
  50%  { -webkit-transform: translate3d(16px, 0, 0) scale(.5); }
  100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-4-4 {
  0%   { transform: translate3d(0, 0, 0) scale(1); }
  50%  { transform: translate3d(16px, 0, 0) scale(.5); }
  100% { transform: translate3d(0, 0, 0) scale(1); }
}


</style>
  
<form method="post" class="account" style="border-top:none;padding-top: 0; margin-top: 0;">
  <input type="hidden" name="_csrf" value="{{csrftoken}}" />
  <div class="buttons">
    <input class="button" type="submit" value="Create folder {{^emptyFolder}}and copy files from Blot{{/emptyFolder}}" />
    <a href="{{{base}}}">Cancel</a>
  </div>
</form>


{{/account}}

<script type="text/javascript">
    
  // Will 'live reload' the contents of the folder 
  // on the screen as syncs take place. In future 
  // we should send the new folder contents down with
  // the sync status server-sent-events, right now
  // we hackily refetch the whole page contents and
  // extract the folder from that response, injecting
  // it into the page as-is.
  var evtSource = new EventSource("{{{base}}}/set-up-folder/status");

  // I should use a proper async queue to accomplish
  // this but for now these flags seem to work.
  var checkAgain = false;
  var currentlyLoading = false;
  var visible = false;

  evtSource.onmessage = function(event) {
    
    if (!visible) {
      document.getElementById('status-container').style.display = 'flex';
      visible = true;
    }
    document.querySelector('.button[type=submit]').disabled=true;
    document.querySelector('.button[type=submit]').value = 'Setting up folder';
    if (document.querySelector('.button[type=submit]').className.indexOf(' working') === -1)
      document.querySelector('.button[type=submit]').className += ' working';

    document.getElementById('status').innerHTML = event.data;
  }
</script>
