@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/karla/200.ttf?version=0b928d&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/karla/200-italic.ttf?version=f88057&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/karla/300.ttf?version=a11615&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/karla/300-italic.ttf?version=2de582&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/karla/400.ttf?version=871b31&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/karla/400-italic.ttf?version=fef8a5&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/karla/500.ttf?version=b2df7a&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/karla/500-italic.ttf?version=e55db7&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/karla/600.ttf?version=6ef19b&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/karla/600-italic.ttf?version=d792c4&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/karla/700.ttf?version=886c86&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/karla/700-italic.ttf?version=a54dac&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/karla/800.ttf?version=b025bf&extension=.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/karla/800-italic.ttf?version=914610&extension=.ttf') format('truetype');
}
.pull-double {margin-left:-0.3045em}
.push-double{margin-right:0.3045em}
.pull-single{margin-left:-0.1355em}
.push-single{margin-right:0.1355em}
.push-double,.push-single{display:inline-block}
