<label>{{label}}</label>
<input class="name" placeholder="e.g. background" type="hidden" value="{{name}}"/>
<input class="value" name="locals.{{name}}" placeholder="e.g. #FFFFFF" type="hidden" value="{{content}}"/>
<div class="color-picker"></div>
<hr style="margin-bottom:0">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.js"></script>
<style type="text/css">
.pcr-app.visible {z-index: 1} /* fixes bug with sidebar */
</style>
<script>// Simple example, see optional options for more configuration.
var pickr{{name}} = Pickr.create({
    el: '.color-picker',
 onSave: function onSave(hsva, instance) {
      document.querySelector('input[name="locals.{{name}}"]').value = hsva.toRGBA().toString();
    },
    default: '{{content}}',

    components: {

        // Main components
        preview: true,
        opacity: true,
        hue: true,

   

        // Input / output Options
        interaction: {
            hex: true,
            rgba: true,
            hsla: true,
            hsva: true,
            cmyk: true,
            input: true,
            clear: true,
            save: true
        }
    }
});
</script>
