<div>

<b>{{label}}</b><br>

<label style="width:25%;float:left;margin-right:3.5%">
  <input class="name" placeholder="e.g. background" type="hidden" value="{{name}}"/>
</label>
<label style="width:55.5%;float:left">
  <input class="value" name="locals.{{name}}" placeholder="e.g. #FFFFFF" type="hidden" value="{{content}}"/>
</label>

<div class="color-picker"></div>

<!-- <a style="margin-top:1.5rem" class="button right small secondary delete" class="right">Delete</a>
 --><span class="clear"></span>

</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.js"></script>

<script>// Simple example, see optional options for more configuration.
var pickr{{name}} = Pickr.create({
    el: '.color-picker',
 onSave: function onSave(hsva, instance) {
      document.querySelector('input[name="locals.{{name}}"]').value = hsva.toRGBA().toString();
    },
    default: '{{content}}',

    components: {

        // Main components
        preview: true,
        opacity: true,
        hue: true,

   

        // Input / output Options
        interaction: {
            hex: true,
            rgba: true,
            hsla: true,
            hsva: true,
            cmyk: true,
            input: true,
            clear: true,
            save: true
        }
    }
});
</script>
