<div id="sidebar">

  <a class="close" href="/settings/theme"> ⨉ Close</a>


  <br>
  <a class="link {{settings_active}}" href="{{{template.baseUrl}}}/settings">Settings</a>
  <h3>Source code</h3>

  {{#sidebar}}

  {{#is_title}}
  <br />{{/is_title}}

  {{^is_title}}
  <a class="file {{active}}" href="{{{url}}}">
      <img src="/images/file-empty.svg" width="14"> {{name}}
    </a>
  {{/is_title}}

  {{/sidebar}}

  <hr>

  <a href="{{{template.baseUrl}}}/view"><span style="position:relative;top:-1px">&thinsp;+&thinsp;</span> Create new view </a>

  <div style="flex-grow:1"></div>

  <a style="color:rgb(158, 154, 152)" href="/contact" target="_blank">Contact support</a>
  <a style="color:rgb(158, 154, 152)" href="/developers" target="_blank">Developer documentation</a>
  <a style="color:rgb(158, 154, 152)" href="/publishing" target="_blank">How to use Blot</a>
  <br>
</div>