{{#template}}


<input type="hidden" name="redirect" value="/settings/template">  

<div class="line" style="border-bottom:none">
      <p>


    <b style="font-weight:500">{{name}}</b> template</p>
    <p>{{description}}</p>

    <hr>

<form method='post' action="/settings/template" style="display:inline">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <input type="hidden" name="redirect" value="/settings/template/{{slug}}"> 
    <input type="hidden"  name="template" value="{{id}}" > 
<div class="buttons">

        <button type="submit" onclick="this.form.submit();this.disabled=true">Install</button>
        <a href="{{previewURL}}"  target="_blank">Preview</a>
      </div>  </form>

      {{#isMine}}
  <a href="{{editURL}}/settings" style="margin-right:0;padding-right:11px" class="preview-button" ><span class="square">Edit</span></a>
{{/isMine}}

{{^isMine}}
<p>Edit the source</p>
{{/isMine}}
</div>

  

  
  
  <a class="line" href="/settings/menu">
    <span class="label">Menu</span>
    <span class="center">
      {{#blog.menu}}<span class="tablet">{{label}}</span>{{/blog.menu}}

    {{^blog.menu.length}}<i>Your menu is empty</i>{{/blog.menu.length}}
    </span>
    <span class="right" style="padding-left:0">Edit</span>
  </a>



  
{{/template}}