<a target="_blank" class="preview-cover" href="{{previewURL}}"></a>
  <a href="{{previewURL}}" class="preview-button" target="_blank" ><span class="square">Preview</span></a>
  <form method='post' style="display:inline">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <input type="hidden"  name="template" value="{{id}}" > 
    <button {{#checked}}disabled{{/checked}} type="submit"><span class="square">Install</span></button>
  </form>
  <a href="{{editURL}}/settings" style="margin-right:0;padding-right:11px" class="preview-button" ><span class="square">Edit</span></a>

  
  
  <a class="line" href="/settings/menu" style="margin:0 -20px">
    <span class="label">Menu</span>
    <span class="center">
      {{#blog.menu}}<span class="tablet">{{label}}</span>{{/blog.menu}}

    {{^blog.menu.length}}<i>Your menu is empty</i>{{/blog.menu.length}}
    </span>
    <span class="right" style="padding-left:0">Edit</span>
  </a>


  <a class="line" href="/settings/services" style="margin:0 -20px">
    <span class="label">Services</span>
    <span class="link">Configure analytics and other services
</span>

  </a>
  