<!DOCTYPE html>
<html>
{{> head}}
<body>
<div style="display:flex;height:100%">
  <div style="flex-basis:400px;background:#eee">

    {{> header}}



  {{> sidebar}}

<script type="text/javascript">

var opener = document.querySelector('.opener');
var closer = document.querySelector('.dropdown .closer');
var dropdown = document.querySelector('.dropdown');

opener.addEventListener('click', function(e){ //say this is an anchor
  
  function close (e) {

    if (dropdown.className.split(' ').indexOf('closed') === -1)
      dropdown.className += ' closed';

    document.body.removeEventListener('click', close);
  }

  if (dropdown.className.split(' ').indexOf('closed') === -1) {
    
    dropdown.className += ' closed';
    document.body.removeEventListener('click', close);

  } else {
  
    dropdown.className = dropdown.className.split('closed').join('');
    document.body.addEventListener('click', close);
  }
  
  e.preventDefault();
  e.stopPropagation();
});</script>
  </div>
  <div style="flex-grow:1">
    {{> text-editor}}
  </div>
</div>

</body></html>