<!DOCTYPE html>
<html>

  {{> head}}

  <body>
    {{#template}}

    <style type="text/css">
    @import url("/scripts/codemirror/codemirror.css?{{cacheID}}");
    @import url("/scripts/codemirror/theme.css?{{cacheID}}");
    @import url("/css/editor.css?{{cacheID}}");
    </style>


    {{> sidebar}}

    <form method="POST" style="flex-grow:1" class="form" action='?_csrf={{csrftoken}}'>

      <div id="header">


        <h1>{{name}}</h1>


        {{#view}}

        <div id="tabs">

      

          <a class="tab {{active.editor}}" href="{{{baseUrl}}}/editor">{{name}}</a>
          <a class="tab {{active.settings}}" href="{{{baseUrl}}}/settings" >

            {{^active.settings}}<span class="link">{{/active.settings}}

            Settings

            {{^active.settings}}</span>{{/active.settings}}

          </a>

          <input id="save"  class="button disabled small" type="submit" value="Save">

        </div>
        {{/view}}


        <span class="box green success" {{^success}}style="display:none"{{/success}}>{{success}}</span>


          <span class="box orange error" {{^error}}style="display:none"{{/error}}>{{error}}</span>


          <div style="flex-grow:1"></div>

        <a href="{{preview}}" target="_blank">Preview this template</a>


      </div>

      <div>

      {{> yield}}

      </div>

    </form>


    <script type="text/javascript">

    // var $ = '';

    var template = $('#variable-template')
      .find('.value')
        .val('')
        .attr('name', '')
        .end()
      .find('.name')
        .val('')
        .end()
      .children()
      .first()


    $('#variable-add').click(function(){

      var newRow = template.clone().show();

      $('#variable-list').append(newRow);

    });

    $("#variable-list").on("keyup", ".name", function() {

      $(this)
        .parent()
        .parent()
        .find('.value')
        .attr('name', 'locals.' + $(this).val());

    });

    $("#variable-list").on("click", ".delete", function() {

      $(this).parent().remove();

    });


    var partialTemplate = $('#partial-template')
      .find('.value')
        .val('')
        .attr('name', '')
        .end()
      .find('.name')
        .val('')
        .end()
      .children()
      .first()


    $('#partial-add').click(function(){

      var newRow = partialTemplate.clone().show();

      $('#partial-list').append(newRow);

    });

    $("#partial-list").on("keyup", ".name", function() {

      $(this)
        .parent()
        .parent()
        .find('.value')
        .attr('name', 'partials.' + $(this).val());

    });

    $("#partial-list").on("click", ".delete", function() {

      $(this).parent().remove();

    });
    </script>
    {{/template}}
  </body>
</html>