<style type="text/css">

.line {position: relative;}
.preview-cover {position: absolute;top:0;left: 0;right: 0;bottom: 0}

.preview-button, .line form button {
  margin: -12px 0;
  padding: 11px 0;
  color: #365899;
  display: inline-block;
}

.preview-button {margin-right: -9px;margin-left: 11px}

.preview-button .square, .line form button .square {
  padding: 4px 10px;
  border-radius: 4px;
  display: block;
}

.line form button:disabled .square,
.line form button:disabled:hover .square {
  background: rgba(0,0,0,0.08);
  color: #999
}

.line.theme:hover {background: rgba(0,0,0,0.02)}
.preview-button, .line form {float: right;}

.preview-cover:hover + .preview-button .square,
.preview-button:hover .square,
.line form button:hover .square {background: #365899;color:white;}

.butty {color:#365899;padding: 10px 20px;float: right;margin-right: -20px;margin-top: -10px}
.butty:hover {background: rgba(0,0,0,.05)}
</style>

<input type="hidden" name="redirect" value="/settings/template">  

{{^blog.template}}
<div class="line" style="border-bottom:none">
      <p>


    <b style="font-weight:500">{{blog.title}}</b> does not use a template.</p>


</div>

 <form method='post' class="account" style>
      <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <input type="hidden"  name="template" value="SITE:default" > 
      <div class="buttons" style="margin:0">
    <button type="submit"onclick="this.form.submit();this.disabled=true">Enable your template</button>
    <a href="/">Cancel</a>
  </div>
  </form>
{{/blog.template}}


{{#blog.template}}
<div class="line">



  <p>


    <b style="font-weight:500">{{blog.title}}</b> uses the <b style="font-weight:500">{{#template}} {{#checked}}{{name}}{{/checked}}{{/template}}</b> template.</p>
<a href="/settings/template/{{template.slug}}">Edit your template</a>

<a href="/settings/template/disable" style="margin-left:40px">Disable your template</a>





<hr style="margin-bottom:0">
 <a href="/settings/template/new" class="line" style="margin-left:-20px;padding-right:40px;border-bottom:0"><span class="photo-holder plus">+</span> Create a new template</a>
 
 <br>

{{#templates}}

<span style="color:rgb(153, 153, 153)">Available templates</span>
</div>


{{#yours}}
<a class="line theme {{checked}}" href="/settings/template/yours/{{slug}}">
  <span class="link">{{name}}</span>
  <span class="right" style="float:right">
<!-- {{#checked}}<span style="background:rgba(0,0,0,0.05);border-radius:4px;margin:0 11px;color:rgb(109, 109, 109);padding:4px">Installed</span>{{/checked}} --><svg width="11" height="9" style="transform:rotate(270deg)" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="#365899"></path></svg></span>
</a>
{{/yours}}

{{#blots}}
<a class="line theme {{checked}}" href="/settings/template/{{slug}}">
  <span class="link">{{name}}</span>
  <span class="right" style="float:right">
<!-- {{#checked}}<span style="background:rgba(0,0,0,0.05);border-radius:4px;margin:0 11px;color:rgb(109, 109, 109);padding:4px">Installed</span>{{/checked}} --><svg width="11" height="9" style="transform:rotate(270deg)" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="#365899"></path></svg></span>

  </a>
{{/blots}}
{{/templates}}


<br>
<br>
<br>
<br>
<br>
<br>
{{/blog.template}}



