<!DOCTYPE html>
<html>
{{> head}}
<body>
<div style="display:flex;height:100%">
  <div style="flex-basis:400px;background:#eee">

    {{> header}}


  <a class="line" href="{{base}}/settings/name">
    <span class="label">Name</span>
    <span class="center">{{template.name}}</span>
    <span class="right">Edit</span>
  </a>

  {{> locals}}




  <a class="line" href="{{base}}/settings/delete">
    <span class="label">Delete</span>
    <span class="center">Delete {{template.name}} template </span>
    <span class="right">Edit</span>
  </a>
<script type="text/javascript">

var opener = document.querySelector('.opener');
var closer = document.querySelector('.dropdown .closer');
var dropdown = document.querySelector('.dropdown');

opener.addEventListener('click', function(e){ //say this is an anchor
  
  function close (e) {

    if (dropdown.className.split(' ').indexOf('closed') === -1)
      dropdown.className += ' closed';

    document.body.removeEventListener('click', close);
  }

  if (dropdown.className.split(' ').indexOf('closed') === -1) {
    
    dropdown.className += ' closed';
    document.body.removeEventListener('click', close);

  } else {
  
    dropdown.className = dropdown.className.split('closed').join('');
    document.body.addEventListener('click', close);
  }
  
  e.preventDefault();
  e.stopPropagation();
});</script>
  </div>
  <div style="flex-grow:1">
    {{> preview}}
  </div>
</div>

</body></html>