<div style="max-width:400px;margin-left:1.33em">

<label>Name:
 <input type="text" name="name" value="{{name}}"/>
</label>

{{> locals}}

<br /><br />

<input type="submit" class="button left" value="Save changes">

<br /><br /><br />
<hr class="full"/>

<p><b>Local editing</b></p>
<p>You can edit this template on your own computer. Blot will create a new directory and put these template files inside.</p>

<input type="submit" name="localEditing" class="button secondary" value="Switch to local editing"/>


<br /><br /><br />
<hr class="full"/>

{{#isCurrent}}
<p>
 This is your current template. If you would like to delete it, first select another template for your blog on the <a href="/theme" class="link">design page</a> then return here.
</p>
{{/isCurrent}}


{{^isCurrent}}

  <label id="verify-form" style="display:none">

    This action CANNOT be undone. This will permanently delete the template <b>{{name}}</b>.<br /><br />

    Please type in the name of the template to confirm:

    <input type="text" id="verify-name">
  </label>

  <input name="delete" type="submit" id="delete-button" class="button red" value="Delete this template">



{{/isCurrent}}

  <br /><Br /><Br /><Br /><Br />
</div>

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/template.js?{{cacheID}}"></script>

<script type="text/javascript">

  $('#delete-button').click(function(e){

    var name = $('#verify-name').val();

    if (name !== "{{name}}") {

      $('#verify-form').show();
      $('#delete-button').addClass('disabled');

      e.preventDefault();
      return false;
    }

    console.log('SUBMITTING');
  });

  $('#verify-name').keyup(function(){

    var name = $('#verify-name').val();

    if (name !== "{{name}}") {
      $('#delete-button').removeClass('disabled');
    } else {
      $('#delete-button').addClass('disabled');
    }

  });


</script>