{{#view}}

<div class="view-wrapper">

  <div id="editor"></div>

  <textarea id="source" style="display:none" data-mode="{{editorMode}}" name="content">{{{content}}}</textarea>

</div>

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/codemirror.js?{{cacheID}}"></script>
<script type="text/javascript">

  $('#source').hide();

  // Editor
  var editor = CodeMirror($('#editor')[0], {
    mode: $('#source').attr('data-mode'),
    value: $('#source').val(),
    inputStyle: "contenteditable",
    autofocus: true
  });

  $('.deleteVar').click(function(){
    $('#save').removeClass('disabled')
  });

  $('#editor').keyup(function(){
    $('#save').removeClass('disabled')
  });

  $('#editor').keyup(function(){

    $('#save')
      .removeClass('disabled')
      .val('Save');

  }).change(function(){
    $('#save').removeClass('disabled').val('Save');

  });

  $(".form").submit(function() {

    $.ajax({
       type: "POST",
       url: $('.form').attr('action'),
       data: $(".form").serialize(),
       error: function(res) {

        var message = $(res.responseText).find('.error').text();

        $('#save')
          .removeClass('working')
          .removeClass('disabled')
          .val('Save');

        $('.error')
          .text(message).fadeIn();


       },

       success: function(data, status, res, body) {

        console.log('SUCCESS!');

        $('#save')
          .addClass('disabled')
          .removeClass('working')
          .val('Saved!');

        $('.success')
          .text('Changes saved successfully!').fadeIn();

        $('.error')
          .hide()

        setTimeout(function(){

          $('.success')
            .fadeOut();

        }, 3000);

       }
    });

    return false; // avoid to execute the actual submit of the form.
  });

  $('#save').click(function(e){

    if ($(this).hasClass('disabled')){
      e.preventDefault()
      return false;
    }

    $(this)
      .addClass('working')
      .addClass('disabled')
      .val('Saving');

    $('#source').val(editor.getValue());
    $('.form').submit();

    return false;
  });

</script>
{{/view}}