{{#view}}

<div class="view-wrapper">

  <div style="max-width:400px;margin: 1em 0 0 1.33em">

    <label>Name:
      <input name="name" value="{{name}}" type="text"  />
    </label>

    <label>Route:
      <input name="url" value="{{url}}" type="text"  />
    </label>

    <Br />

    <label><b>Variables</b></label>

    {{> locals}}

    <label><b>Partials</b></label>

    {{> partials}}

  <Br /><Br /><br />

  <hr class="full" />

  <input type="submit" class="button left" value="Save changes">

  <input name="delete" type="submit" id="delete-button" class="button right red" value="Delete {{name}}">
</div>
</div>

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/template.js?{{cacheID}}"></script>
{{/view}}
