{{> header}}




<div class="mt4 pt3 pb4 mb5 bb b--black-10">
  <div class="w-two-thirds pl2 fr">{{> search_form}}</div>
	<p class="fw5 pt2 mt0 mb0 black-80">Archives</p>
</div>

{{> tag_list}}

<div class="cf pb5 lh-copy"></div>
{{#archives}}
	<h2 style="width:16.667335%;position:sticky;top:-1px" class="pv2-5 fl mv0 bt f5 lh-title fw6 b--black-10 bg-background">{{year}}</h2>
	<div style="width:83.332665%" class=" fr">
    {{#months}}
    	<h3 class="mv0 pv2-5 black-50 bg-background bt b--black-10 fw3 f6 ttu w-20 fl pr4" style="position:sticky;top:-1px"><span style="position:relative;top:1px" class=" relative">{{month}}</span></h3>
	    <div class="w-80  bt b--black-10 fl ">
        {{#entries}}
    	    <a href="{{{url}}}" class="b--black-10 bb pv2-5 db pl2" style="border-color:rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.05);margin-bottom:-1px">{{title}}</a>
        {{/entries}}
        </div>
        <div class="cf"></div>
    {{/months}}
</div>
<div class="cf"></div>
{{/archives}}
{{^archives.length}}
<p class="black-50 pt3">Nothing published yet.</p>
{{/archives.length}}
  
{{> footer}}