{{> header}}

  
{{! Image zoom plugin depends on .entry selector}}
{{#entry}}


  <div style="min-height:6rem;flex-direction:row;align-items:center" class="flex mt3 pt3 mb5 ">
    <div class="w-100">
      <div class="w-20 bl pt5 nt5 fr pl3 lh-copy  b--black-10">
 
    {{^page}}
	{{#date}}<a href="{{{url}}}" class="db black-30 f5 pr4 no-underline"><span  date-from-now="{{dateStamp}}">{{#formatDate}}MMM D, YYYY{{/formatDate}}</span></a>{{/date}}
    <span class="db black-50 f5">{{#tags}}<a href="/tagged/{{slug}}" class="no-underline">{{tag}}</a>{{^last}}, {{/last}}{{/tags}}</span>
{{/page}}
    
  		</div> 
      <div class="w-80 pr4" >{{{titleTag}}}</div>
    </div>
      
    </div>

  <div class="entry pv0  w-80 b--black-10" >
    

    <div class="measure-wide lh-copy f5 black-90" style="position:relative">
    {{{body}}}
    </div>

</div>

{{/entry}}

<div class="bt b--black-10 mv4"></div>

{{> pluginHTML}}

{{^entry.page}}  


<div class="cf mt6"></div>

<div class="w-50 fl pr4">

<span class="db f6 bt b--black-10 black-50 pv3">Up next</span>

{{#entry}}  
{{#previous}}
<a href="{{{url}}}" class="db pb3 lh-title  dim no-underline">
<span class="db">
  {{#previous.thumbnail.medium}}
  <span class="db" style="outline: 1px solid rgba(0,0,0,.12);
    outline-offset: -1px;max-height:14rem;overflow:hidden">
    <img style="width:100%" src="{{{url}}}">
   </span>
  </span>
  {{/previous.thumbnail.medium}}
  {{^previous.thumbnail.medium}}
  <span class="db bt b--black-10"></span>
  {{/previous.thumbnail.medium}}  
  <span class="mt3 fw6 black-80 db f5 pb2 tracked-tight" >{{title}}</span>
  {{^previous.thumbnail.medium}}
  <span class="black-50 db f6" >{{summary}}</span>
  {{/previous.thumbnail.medium}}  
</a>
{{/previous}}

{{#next}}
<a href="{{{url}}}" class="db pb3 lh-title  dim no-underline">
<span class="db">
  {{#next.thumbnail.medium}}
  <span class="db" style="outline: 1px solid rgba(0,0,0,.12);
    outline-offset: -1px;max-height:14rem;overflow:hidden">
    <img style="width:100%" src="{{{url}}}">
   </span>
  </span>
  {{/next.thumbnail.medium}}
  {{^next.thumbnail.medium}}
  <span class="db bt b--black-10"></span>
  {{/next.thumbnail.medium}}  
  <span class="mt3 fw6 black-80 db f5 pb2 tracked-tight" >{{title}}</span>
  {{^next.thumbnail.medium}}
  <span class="black-50 db f6" >{{summary}}</span>
  {{/next.thumbnail.medium}}  
</a>
{{/next}}
{{/entry}}
</div>
  
  
<div class="w-50 fr pl2 f6 clip-10 lh-title">
  <span class="db  bt b--black-10 black-50 pv3">Latest posts</span>
{{#recent_entries}}
  <a href="{{{url}}}" class=" dim no-underline db pv2 bt b--black-10" style="position:relative">
    <span class="w-10 fr db" style="background: no-repeat url({{thumbnail.medium.url}}) 0 0 / cover">
      <span class=" db" style="height:0;padding-bottom:100%;overflow:hidden">
       </span>
    </span>
    <span class="fl w-80 db black-80 flex" style="display: flex;
  flex-direction: column;
  justify-content: center;"><span >{{title}}</span></span>
      
    <span class="cf"></span>
  </a>
{{/recent_entries}}
</div>
{{/entry.page}}


<div class="cf"></div>

{{> footer}}
