<a class="entry-line dim pb4 db lh-copy no-underline w-100" href="{{{url}}}">
    
  
  <span class="{{^first}}bt{{/first}} mb4 db b--black-10"></span>
  
    
  <span class="w-third fl db mb2 title-block">
      <span class="mr4 db fw9 black-80  lh-title tracked-tight f4 pb2">{{title}}</span>
      <span class="mr3 db f6 " style="height:1.5em;overflow:hidden">
          {{#date}}<span date-from-now="{{dateStamp}}" class="dib black-50 mr2">{{#formatDate}}MMM D, YYYY{{/formatDate}}</span>{{/date}} 
          <span class="fw6 clip-2 black-80">{{#tags}}<span class="dib">{{^first}} &amp; {{/first}}{{tag}}</span>{{/tags}}</span>
      </span>
    </span>

  
  {{#summary}}

  <span class="w-third db fr">
    <span class="ml3 db" style="max-height:10rem;overflow:hidden;outline: 1px solid rgba(0,0,0,.12); outline-offset: -1px;">
    {{#thumbnail.medium}}
    <img style="width:100%;vertical-align:bottom" src="{{{url}}}">
    {{/thumbnail.medium}}
    </span>
   </span>
    
  <span class="w-third fl db">
    <span class="mr3 black-50 f6 db" style="text-overflow:ellipsis;max-height:9.1875rem;overflow:hidden">
      {{summary}}  
    </span>
  </span>
  {{/summary}}

  {{^summary}}

  <span class="w-two-thirds db fr">
    <span class="db" style="overflow:hidden;outline: 1px solid rgba(0,0,0,.12); outline-offset: -1px;">
    {{#thumbnail.large}}
    <img style="width:100%;vertical-align:bottom" src="{{{url}}}">
    {{/thumbnail.large}}
    </span>
   </span>
    
  {{/summary}}


   

  <span class="cf"></span>
</a> 
  
  
   
  <!--<span class="db fl" style="width:29.8975741%;margin-right:3.58225%">-->
    <!-- style="width:31.9407008%;margin-right:3.58225%">-->
<!--   style="width:30.9973046%"
    <span class="db fl" style="width:66.5202554%;">

-->
  