<!DOCTYPE html>
<html>
	
  {{> head}}

	<body class="bg-background f5 center collapse-menu" id="barba-wrapper">
		
    <div id="top"></div>
      	
		<div id="open-nav-container" class="no-underline db cf bb b--black-10  nl3 nr3 ">
          {{#avatar}}
          <a href="/" class="dib fl pa3 no-underline"><img class="fl w2" src="{{avatar}}"></a>
          {{/avatar}}
          {{^avatar}}
<a href="/" class="lh-copy fl no-underline pa3 dim dib f3 fw3 black-80" title="The homepage of {{title}}">
        {{#avatar}}<img class="avatar v-btm" src="{{{avatar}}}">{{/avatar}}
        {{^avatar}}{{title}}{{/avatar}}
      </a>
                {{/avatar}}
          <a href="/"  id="open-nav" class="dib no-underline pa3 fr" style="transform:rotate(90deg);"><span class="bg-background black-50  w2 h2 lh2 tc black relative db fr f2 fw2" style="box-sizing:border-box"><span class="tc" style="">|||</span></span></a>
      </div>
      
		<div class="nav fixed bg-sidebar br b--black-10 lh-copy pr5 " style="top:-10rem;bottom:-10rem;padding-top:10rem;padding-bottom:10rem;">
			<a href="/" id="close-nav" style="z-index:2" class="relative no-underline fixed black-50 mt3  w2 h2 tc black db fl f2 fw1">✕</a>
			<a href="/" class="no-underline dim mv4 db f3 fw3 black-80" title="The homepage of {{title}}">
				{{#avatar}}<img class="avatar v-btm" src="{{{avatar}}}">{{/avatar}}
				{{^avatar}}{{title}}{{/avatar}}
			</a>
			<div class="clip-tags mt5 mb5">
			{{#popular_tags}}
				<a href="/tagged/{{slug}}"  class="no-underline no-wrap db f3 fw3 black-50"  title="{{slug}}">{{name}}</a>
			{{/popular_tags}}
			</div>
			{{#menu}}
			<a href="{{{url}}}"  class="no-underline no-wrap db black-80 f6 fw6 "  title="{{label}}">{{label}}</a>
			{{/menu}}
			<a id="top_button" style="position:absolute;bottom:0;width:3rem;height:3rem;line-height:3rem;" class="mb3 white bg-black-20 lh-title br-100 f3 db tc bn no-underline" href="#top">↑</a>
		</div>
		<div class="page-container barba-container b--black-10 relative" >