{{> header}}
<div class="mt4 pt3 mb4">
  <div class="w-two-thirds fr" style="z-index: 1">
  {{> search_form}}
  </div>
  <p class="fw5 pt2 mv0 pb4 black-80 bb b--black-10">Search</p>
</div>

  {{#entries.length}}
  <p class="w-third fl mt0 black-50"></p>
  <p class="mt0   w-two-thirds fr black-50 ">Found {{entries.length}} results</p>
<div class="cf"></div>
  {{/entries.length}}

<!--
{{> tag_list}}

<div class="cf pb4"></div>
-->

{{#query}}
  {{^entries}}
  <p class="black-50">No results for “{{query}}”</p>
  {{/entries}}
{{/query}}

{{#entries}}
  {{> entry_line}}
{{/entries}}

{{> footer}}
