{{> header}}

<div class="mt4 pt3"></div>
{{> tag_list}}

{{#all_tags}}
<span class="cf db pb5"></span>

<a class="fr  pt2 black-50 no-underline " href="/tagged/{{slug}}">All in {{tag}} →</a>
<span class="db fw5 black-80 b--black-05 pv2 bb">Latest in {{tag}}</span>
<span class="cf db"></span>
<div class="clip-3 nl3 nr3">
  {{#entries}}
  <a href="{{{url}}}" class="pa3  lh-title w-third fl dim no-underline">
<span class="db">
  <span class="db" style="outline: 1px solid rgba(0,0,0,.12);
    outline-offset: -1px;max-height:10rem;overflow:hidden">
    {{#thumbnail.medium}}
    <img style="width:100%" src="{{{url}}}">
    {{/thumbnail.medium}}
   </span>
</span>
    <span class="mt3 fw6 black-80 db f5 pb2 tracked-tight" >{{title}}</span>
  
</a>
  {{/entries}}
</div>

{{/all_tags}}
</div>

{{> footer}}
