        {{=[[ ]]=}}

<h1>Examples</h1>

<ul class="clients">
  <li>
    <a href="/developers/examples/all-posts-with-a-tag">
      <span><span class="a">Posts with a tag</span>
        <span class="icon-small-chevron-right align-right"></span>
      </span>
    </a>
  </li>
  <li>
    <a href="/developers/examples/group-posts-by-dates">
      <span><span class="a">Group posts by date</span>
        <span class="icon-small-chevron-right align-right"></span>
      </span>
    </a>
  </li>
  <li>
    <a href="/developers/examples/embed-file">
      <span><span class="a">Embed a file</span>
        <span class="icon-small-chevron-right align-right"></span>
      </span>
    </a>
  </li>
  <li>
    <a href="/developers/examples/json-feed">
      <span><span class="a">JSON feed</span>
        <span class="icon-small-chevron-right align-right"></span>
      </span>
    </a>
  </li>
</ul>

        [[={{ }}=]]
