        {{=[[ ]]=}}

<h1>JSON feed</h1>

<p>The <a href="https://jsonfeed.org">JSON feed</a> format is a syndication format, like RSS and Atom, but it’s JSON instead of XML.</p>

<p>To expose a JSON feed on your site:</p>
<div class="steps">
  <ol>
    <li>Add a new view to your template. <div class="guide-callout guide-callout--warning">
      <b>Warning:</b> If you have an existing view called <b>feed.rss</b> or <b>feed.xml</b>, please name your JSON feed something other than <b>feed.json</b>. Two template views cannot share the same name, even if they have different extensions.
    </div>
    </li>
    <li>Paste in the following code: <pre class="html" data-file="json-feed.json"><code>{ 
  "version": "https://jsonfeed.org/version/1",
  "title": "{{#encode_json}}{{{title}}}{{/encode_json}}",
  "description": "{{#encode_json}}Feed for {{{title}}}{{/encode_json}}",
  "home_page_url": "{{{siteURL}}}",
  "feed_url": "{{{siteURL}}}/jsonfeed.json",
  "items": [
    {{#recent_entries}}
    { 
      "id": "{{{absoluteURL}}}",
      "title": "{{#encode_json}}{{{title}}}{{/encode_json}}",
      {{#summary}}
      "summary": "{{#encode_json}}{{{summary}}}{{/encode_json}}",
      {{/summary}}
      {{#thumbnail.large}}
      "image": "{{{siteURL}}}{{{url}}}",
      {{/thumbnail.large}}
      "content_html": "{{#encode_json}}{{#absolute_urls}}{{{body}}}{{/absolute_urls}}{{/encode_json}}",
      "date_published": "{{#formatDate}}YYYY-MM-DDTHH:mm:ssZ{{/formatDate}}",
      "url": "{{{absoluteURL}}}"
    }{{^last}},{{/last}}
    {{/recent_entries}}
  ]
}
</code></pre>
</li>
  </ol>
</div>

 add a new view to your template and paste in the following code.</p>

<p>You can verify your feed is correctly formed using the <a href="http://validator.jsonfeed.org/">JSON feed validator</a>.</p>



<br><br>
<p><em>Thanks to <a href="https://www.amitgawande.com/">Amit Gawande</a> and <a href="https://www.thingelstad.com/">Jamie Thingelstad</a> for their help with this guide. And thanks to <a href="https://manton.org">Manton Reece</a> and <a href="http://inessential.com/">Brent Simmons</a> for writing the JSON feed spec.</em></p>

        [[={{ }}=]]
