<style type="text/css">.no-break a {white-space: nowrap;}</style>

<h1>Acknowledgements</h1>
<p>Work on Blot began in the summer of 2013. Blot opened to the public a year later. Many thanks to Blot’s earliest customers for their patience. In particular thank you Frank, Julie, Josh, Chris, Johannes and Angie. A number of people deserve particular thanks for their help and encouragement over the past few years:</p>

<p class="no-break"><a href="https://paulisaweso.me/">Paul Esch-Laurent</a>, <a href="http://sharedmemorydump.net/">Frank Meus</a>, <a href="https://nashp.com/">Nash Pitre</a>, <a href=" https://ecraep.com ">Jack Pearce</a>, <a href="https://aupiff.com">Roy Blankman</a>, <a href="https://shawn.medero.net">Shawn Medero</a>, <a href="http://pickletheory.com/">Shibel K. Mansour</a></p>

<p>The source code for Blot depends on the hard work of countless people who chose to dedicate their software to the benefit of the public. These are some of their names:</p>

<p class="no-break">
{{#contributors}}
<a href="{{{link}}}">{{name}}</a>{{^last}}, {{/last}}
{{/contributors}}
</p>

<h2>Software</h2>

<p>
{{#dependencies}}
<a href="{{{link}}}">{{name}}</a>{{^last}}, {{/last}}
{{/dependencies}}
</p>