

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/fira-sans/100.eot'); 
  src: url('/fonts/fira-sans/100.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/100.woff2') format('woff2'),
       url('/fonts/fira-sans/100.woff') format('woff'),
       url('/fonts/fira-sans/100.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/fira-sans/200.eot'); 
  src: url('/fonts/fira-sans/200.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/200.woff2') format('woff2'),
       url('/fonts/fira-sans/200.woff') format('woff'),
       url('/fonts/fira-sans/200.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/fira-sans/300.eot'); 
  src: url('/fonts/fira-sans/300.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/300.woff2') format('woff2'),
       url('/fonts/fira-sans/300.woff') format('woff'),
       url('/fonts/fira-sans/300.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/fira-sans/500.eot'); 
  src: url('/fonts/fira-sans/500.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/500.woff2') format('woff2'),
       url('/fonts/fira-sans/500.woff') format('woff'),
       url('/fonts/fira-sans/500.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/fira-sans/600.eot'); 
  src: url('/fonts/fira-sans/600.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/600.woff2') format('woff2'),
       url('/fonts/fira-sans/600.woff') format('woff'),
       url('/fonts/fira-sans/600.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/fira-sans/700.eot'); 
  src: url('/fonts/fira-sans/700.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/700.woff2') format('woff2'),
       url('/fonts/fira-sans/700.woff') format('woff'),
       url('/fonts/fira-sans/700.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/fira-sans/800.eot'); 
  src: url('/fonts/fira-sans/800.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/800.woff2') format('woff2'),
       url('/fonts/fira-sans/800.woff') format('woff'),
       url('/fonts/fira-sans/800.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/fira-sans/900.eot'); 
  src: url('/fonts/fira-sans/900.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/900.woff2') format('woff2'),
       url('/fonts/fira-sans/900.woff') format('woff'),
       url('/fonts/fira-sans/900.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/fira-sans/100italic.eot'); 
  src: url('/fonts/fira-sans/100italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/100italic.woff2') format('woff2'),
       url('/fonts/fira-sans/100italic.woff') format('woff'),
       url('/fonts/fira-sans/100italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/fira-sans/200italic.eot'); 
  src: url('/fonts/fira-sans/200italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/200italic.woff2') format('woff2'),
       url('/fonts/fira-sans/200italic.woff') format('woff'),
       url('/fonts/fira-sans/200italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/fira-sans/300italic.eot'); 
  src: url('/fonts/fira-sans/300italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/300italic.woff2') format('woff2'),
       url('/fonts/fira-sans/300italic.woff') format('woff'),
       url('/fonts/fira-sans/300italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/fira-sans/500italic.eot'); 
  src: url('/fonts/fira-sans/500italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/500italic.woff2') format('woff2'),
       url('/fonts/fira-sans/500italic.woff') format('woff'),
       url('/fonts/fira-sans/500italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/fira-sans/600italic.eot'); 
  src: url('/fonts/fira-sans/600italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/600italic.woff2') format('woff2'),
       url('/fonts/fira-sans/600italic.woff') format('woff'),
       url('/fonts/fira-sans/600italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/fira-sans/700italic.eot'); 
  src: url('/fonts/fira-sans/700italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/700italic.woff2') format('woff2'),
       url('/fonts/fira-sans/700italic.woff') format('woff'),
       url('/fonts/fira-sans/700italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/fira-sans/800italic.eot'); 
  src: url('/fonts/fira-sans/800italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/800italic.woff2') format('woff2'),
       url('/fonts/fira-sans/800italic.woff') format('woff'),
       url('/fonts/fira-sans/800italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/fira-sans/900italic.eot'); 
  src: url('/fonts/fira-sans/900italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/900italic.woff2') format('woff2'),
       url('/fonts/fira-sans/900italic.woff') format('woff'),
       url('/fonts/fira-sans/900italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/fira-sans/italic.eot'); 
  src: url('/fonts/fira-sans/italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/italic.woff2') format('woff2'),
       url('/fonts/fira-sans/italic.woff') format('woff'),
       url('/fonts/fira-sans/italic.ttf') format('truetype');
}
		

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/fira-sans/regular.eot'); 
  src: url('/fonts/fira-sans/regular.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/fira-sans/regular.woff2') format('woff2'),
       url('/fonts/fira-sans/regular.woff') format('woff'),
       url('/fonts/fira-sans/regular.ttf') format('truetype');
}
		