<script type="text/javascript">
  var syncStatusURL = "{{{base}}}/status";
</script>

<div class="line">
  <div class="label">Activity</div>
  <div class="center live-updates" style="flex-grow: 1">

    {{#blog.status}}
    <span id="status" style="display:block" class="{{state}} truncate status">{{message}} {{fromNow}}</span>
  {{/blog.status}}
  <br>

  {{#statuses}}
  <ul class="statuses">
    {{#messages}}
    {{#path}}
    <li><a href="{{{url}}}"><span class="link">{{base}}</span><small style="display: block;color:#aaa">{{verb}} {{fromNow}} <!-- &bull; {{syncID}} --></small></a> </li>
    {{/path}}
    {{^path}}
    <li>{{message}}<small style="display: block;color:#aaa">{{fromNow}} <!-- &bull; {{syncID}} --></small></li>
    {{/path}}
    {{/messages}}       
  </ul>
  {{/statuses}}
</div>
</div>
<style type="text/css">
  ul.statuses {
    list-style-type: none;
    padding: 11px 0;
  }

  ul.statuses li:last-child:after,
  ul.statuses li:first-child:after
   {
    content: "";
    width: 1px;
    background: white;
    position: absolute;
    left: -1px;
  }

  ul.statuses li:last-child:after {
    top: 50%;
    bottom: 0;
  }
  ul.statuses li:first-child:after {
        top: 0;
    bottom: 50%;
  }

  ul.statuses li:first-child:last-child:after {
        top: 0;
    bottom: 0;
  }

  ul.statuses li:not(:last-child) a {
        border-bottom: 1px solid rgba(0,0,0,0.05);
  }

  ul.statuses li:before {
    width: 1em;
    height: 1em;
    font-size: 0.5rem;
    outline: 1px solid rgba(0,0,0,0.1);
    border-radius: 1em;
    background: #fff;
    content:  "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -0.5em;
    margin-top: -0.5em;
  }

  ul.statuses li {
    position: relative;
    padding: 11px 0 11px 1rem;
    border-left: 1px solid rgba(0,0,0,0.1);
    display: block;
  }

  ul.statuses li a {
    display: block;
    text-decoration: none;
  }

  ul.statuses li a:hover {
    background: rgba(0,0,0,0.01)
  }


</style>
</div>


