
<a class="line" href="{{{dashboardBase}}}/client/activity" style="flex-wrap: nowrap;">
  <span class="label"  style="flex-shrink: 0;">Activity</span>
  <span class="center" style="height:1.5em;overflow: hidden;text-wrap: nowrap;">  
    <span class="sync-status" data-sync-status-url="{{{dashboardBase}}}/status">{{blog.status.message}} {{blog.status.fromNow}}</span>
  </span>
  <span class="right" style="flex-shrink: 0;">View recent activity</span>
</a>

<a class="line" href="{{{dashboardBase}}}/client/reset">
    <span class="label">Reset</span>
    <span class="link">Reset folder</span>
</a>

<a class="line" href="{{{base}}}/disconnect">
  <span class="label">Disconnect</span>
  <span class="link">Disconnect {{client.display_name}}</span>
</a>

<div class="buttons">
  <a href="{{{dashboardBase}}}" class="button"><span class="icon-small-chevron-right"></span> Back to dashboard</a>
</div>