<form method='post' class="dashboard-form">

<style type="text/css">

button[type="submit"] {font-size:inherit;border:none;max-width:475px;margin-bottom: 0;padding: 10px 0;border-top:1px solid var(--border-color);text-align: left;display: block;width: 100%;color:var(--accent-color);padding: 11px 20px;background:transparent}
button[name="client"] b {
  display: block;
}
button[type="submit"]:after {
  content: "→";
  float: right;
}
button[type="submit"]:hover {background: rgba(0,0,0,0.03);cursor: pointer;}
</style>

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <p><B>Reset your folder</B></p>

  <p style="max-width: 500px">Use the tools on this page to resync your folder or rebuild your site. If everything works as it should, you shouldn't need to use them. Please don't hestiate to <a href="/contact">contact support</a>.</p>

<p class="sync-status" data-sync-status-url="{{{base}}}/status">{{blog.status.message}} {{blog.status.fromNow}}</p>
</form>


{{#client.canResync}}
<form style="padding-top:0;padding-bottom: 0" method='post' class="dashboard-form"  action="{{{base}}}/client/reset/resync">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <button type="submit">Resync your folder from {{client.display_name}}</button>

</form>
{{/client.canResync}}

<form style="padding-top:0;padding-bottom: 0" method='post' class="dashboard-form"  action="{{{base}}}/client/reset/rebuild">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <button type="submit">Rebuild all posts and pages</button>

</form>
<form style="padding-top:0;padding-bottom: 0" method='post' class="dashboard-form"  action="{{{base}}}/client/reset/rebuild?thumbnails=true">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <button type="submit">Regenerate all thumbnails</button>

</form>

<form style="padding-top:0;padding-bottom: 0" method='post' class="dashboard-form"  action="{{{base}}}/client/reset/rebuild?imageCache=true">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <button type="submit">Remove and re-fetch cached images</button>

</form>

<form style="padding-top:0;padding-bottom: 0" method='post' action="{{{base}}}/client/reset/resync" class="dashboard-form">

  <div class="buttons">
    <a href="{{{base}}}/client/{{blog.client}}">Cancel</a>
  </div>
  <br>
</form>


