
  <form method='post' class="dashboard-form" style="padding: 0;margin: 0;">


  <p>The folder for <b>{{blog.title}}</b> syncs with <b>{{client.display_name}}</b>. You can choose another way and Blot will transfer the contents of your folder automatically so you can pick up where you left off.
  </p>

  <p>How would you like to sync the folder for <b>{{blog.title}}</b>? </p>


    <style type="text/css">
  
  button[name="client"] {
    background: none;max-width:475px;margin-bottom: 0;
    padding: 10px 0;border:none;border-top:1px solid #eeeeec;
    text-align: left;display: block;width: 100%;color:var(--accent-color);padding: 12px;font-size:var(--font-size)
  }
  button[name="client"] b {
    display: block;
  }
  button[name="client"]:hover {background: #f0f4ff70;cursor: pointer;}
  </style>
  
    <p style="max-width: 400px;">Choose a way to sync the folder for this site. Blot turns files inside this folder into posts and pages.</p>
  
  
  {{#clients}}
  
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
  
    <button type="submit" name="client" value="{{name}}">
      <img width="16" height="16" src="{{#cdn}}/images/sync/{{name}}.svg{{/cdn}}" style="position: relative;top:1px;margin-right: 4px;" />
     {{display_name}}
    </button>
  
  {{/clients}}
  
  <div class="buttons">
    <a href="{{{base}}}">Cancel</a>
  </div>
  
  </form>
  