

<form method='post' class="dashboard-form">

  <p>The folder for <b>{{blog.title}}</b> syncs with <b>{{client.display_name}}</b>. You can choose another way and Blot will transfer the contents of your folder automatically so you can pick up where you left off.
  </p>

  <p>How would you like to sync the folder for <b>{{blog.title}}</b>? </p>
  <style type="text/css">

button[name="client"] {background:var(--light-background-color);max-width:475px;margin-bottom: 0;padding: 10px 0;border:none;border-top:1px solid var(--light-border-color);text-align: left;display: block;width: 100%;color:var(--accent-color);padding: 11px 20px;font-size:var(--font-size)}
button[name="client"] b {
  display: block;
}
button[name="client"]:after {
  content: "→";
  float: right;
}
button[name="client"]:hover {background: rgba(0,0,0,0.03);cursor: pointer;}
</style>


{{#clients}}

  {{#setup}}
  <input type="hidden" name="setup" value="true">
  {{/setup}}

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <button type="submit" name="client" value="{{name}}">
   {{display_name}}
  </button>

{{/clients}}

<div class="buttons">
  {{#setup}}
  <a href="{{{base}}}">Set up later</a>
  {{/setup}}
  {{^setup}}
  <a href="{{{base}}}">Cancel</a>
  {{/setup}}
</div>
</form>
