{{> head}}

<body class="dark">
  <header>
    <container style="justify-content: normal;">
    {{> home_link}} &nbsp;&nbsp;  / &nbsp;&nbsp; <a href="/developers"><code>Developers</code></a>
  </container>
  </header>

  <main class="has-sidebar">
      <ul class="sidebar">
        <li><a href="/developers">Introduction</a></li>
        <li><a href="/developers/how-blot-works">How Blot works</a></li>
        <li><a href="/developers/rendering-templates">Rendering templates</a></li>
        <li class="has-list {{selected.reference}}">
          <input type="checkbox" name="reference" id="reference" {{#selected.reference}} checked{{/selected.reference}}> <a href="/developers/reference">Reference<label for="reference"></label></a>
          <ul>
            <li class="{{selected.blog}}">
              <a href="/developers/reference/blog">Blog</a>
            </li>
            <li class="{{selected.entry}}">
              <a href="/developers/reference/lists-of-entries">Lists of entries</a>
            </li>
            <li class="{{selected.entry}}">
              <a href="/developers/reference/entry">Entry</a>
            </li>
            <li class="{{selected.tags}}">
              <a href="/developers/reference/tags">Tags</a>
            </li>
            <li class="{{selected.date-tokens}}">
              <a href="/developers/reference/date-tokens">Date tokens</a>
            </li>
          </ul>
        </li>
        <li class="has-list {{selected.guides}}">
          <input type="checkbox" name="guides" id="guides" {{#selected.guides}} checked{{/selected.guides}}> <a href="/developers/guides">Guides<label for="guides"></label></a>
          <ul>
            <li class="{{selected.posts-tagged}}">
              <a href="/developers/guides/posts-tagged">Page showing all posts with a tag</a>
            </li>
            <li class="{{selected.embedding-a-file}}">
              <a href="/developers/guides/embedding-a-file">Embedding a file in a template</a>
            </li>
          </ul>
        </li>
      </ul>
    <content>
    {{{body}}}
  </content>
  </main>

  {{> footer}}
</body>

</html>