{{> head}}

<body>
  <header>
    <a href="/">Blot</a> / <a href="/developers">Developers</a>
    {{> nav}}
  </header>

  <main>
    <ul>
      <li><a href="/developers/">How Blot works</a></li>
      <li><a href="/developers/reference">Reference</a></li>
      <li><a href="/developers/date-tokens">Date tokens</a></li>
      <li><a href="/developers/templates">Templates</a></li>
      <li><a href="/developers/thumbnails">Thumbnails</a></li>
    </ul>
    
    {{{body}}}
  </main>

  {{> footer}}
</body>

</html>