<h1>Wikilinks</h1>

<p>You can use wikilinks to create internal links between your posts. You can enable or disable wikilinks on the <a href="/settings/services">services page of your dashboard</a> under <em>Typography</em>.</p>


<pre class="text with-chrome" title="Post.md"><code>This is a wikilink to a file called *Other post.md* in the same directory: 

[[Other post]]

The wikilink above is equivalent to this Markdown:

[Other post](/other-post)
</code></pre>


<h2>Why use Wikilinks?</h2>

<p>You don't need to know the URL of the linked post to create a wikilink, just the filename. Also, some note-taking applications, like <a href="https://obsidian.md/">Obsidian</a>, create and update wikilinks automatically.</p>

<h2>How are Wikilinks resolved?</h2>
<p>At the moment, Blot will first append the extension <code>.md</code> to what is between the brackets, then resolve it against the path to the file. For example, consider this folder below:</p>

<ul>
  <li>
<p>You could create a link in Introduction.md to Apple.md like so: <code>[[Posts/apple]]</code>
</p>

  </li>
  <li>
<p>You could create a link in Apple.md to Introduction.md like so:<code>[[../Introduction]]</code>
</p>

  </li>
</ul>

<background class="green"><pre class="folder" title="Your blog"><code>Introduction.md
Posts
  Apple.md  

</code></pre></background>
<h2>
Changing the link text</h2>

You can optionally specify the link's text after a pipe inside the brackets:

[[Other post|Link text]]

<h2>Tip for Obsidian</h2>

<p>For those who use <a href="https://obsidian.md/">Obsidian</a> to manage their notes, I recommend setting the <em>New link format</em> set to <em>relative path to file</em>.</p>
