---
Link: https://www.youtube.com/
Platforms: Web
---

<h1>YouTube</h1>

<h2>Embed videos on your site</h2>

<p>YouTube is a video-hosting service. You can embed videos from YouTube into your website, and you can also use YouTube to host your own videos.</p>

<p>You can paste the URL to a YouTube video into one of the <a href="/how/posts">files which Blot can publish</a>, and Blot will embed the video into your website.</p>

<pre class="text with-chrome" title="Post.txt"><code>
https://www.youtube.com/watch?v=3JZ_D3ELwOQ

</code></pre>