<h1>{{name}}</h1>

<a class="bordered-button" href="{{{preview}}}" target="_blank">Preview this folder</a>
<a class="bordered-button" href="/sign-up">Download this folder</a>

<style type="text/css">

	.in-use, .in-use li {padding: 0;margin:0;list-style-type: none}
	.in-use a {display: flex;align-items: center;text-decoration: none;color: inherit;margin-bottom: 0.5rem;padding-bottom:0.5rem;border-bottom: 1px solid rgba(0,0,0,0.1)}
	.in-use .image {margin-right: 0.75em;transform: scale(0.8);}
.in-use li:last-child a {border-bottom: none;}

		a.bordered-button {font-size:14px;margin-top:0;padding:0 2em;line-height:2em;color: var(--accent-color);margin-right:1em}

	a	.browser {margin-top:6px;border: 1px solid var(--light-border-color);border-radius: 6px;display: block;padding: 0.25rem 0.25rem 0;box-shadow: 0 0 10px rgba(0,0,0,0.03);transition: transform .1s ease;transform: scale(1)}

	a	.browser.mobile {
		padding: 0.8rem;
		border-radius: 12px;
	}
	a	.browser.mobile img {outline: 1px solid rgba(0,0,0,0.05)}

  a .browser:not(.mobile):before {content: "ooo";display: block;border-bottom: 1px solid var(--light-border-color);color: var(--dark-border-color);font-size: 14px;line-height: 12px;margin:0 -0.25rem;padding:0 0.5rem 0.3rem;}

		.devices {position: relative;width: 100%;}
		.devices img {max-width: 100%}
	.devices .desktop {
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 18px;
	}

	.screenshot img {cursor: zoom-in;}
	.devices .mobile {position: absolute;
		bottom: 0;right: 0;
		width: 400px;height: 400px}

		.sc {margin: 2rem 0}
</style>

<div style="display: flex">
<p class="sc" style="flex-basis: 75%">	<a style="text-decoration: none;cursor: zoom-in;" href="{{{preview}}}/"
		>
		<span class="browser"><img src="{{#cdn}}/images/examples/{{slug}}/0.png{{/cdn}}"
	/></span></a>
</p>
<p class="sc" style="flex-basis: 25%;margin-left: 2rem">		<a style="text-decoration: none;cursor: zoom-in;" href="{{{preview}}}/"
		>
		<span class="browser mobile"><img src="{{#cdn}}/images/examples/{{slug}}/0.mobile.png{{/cdn}}"
	/></span></a>
</p></div>