<h1>Example sites</h1>

<div style="display: flex;">

    <div style="flex-basis:50%;margin-right:2em;">
      <h2><a href="/examples" onclick="renderFeatured();return false;">People who use Blot</a></h2>
      {{#featured}}
<ul id="featured" style="list-style-type: none;
padding: 0;
margin: 0;font-size:16px" class="clients">
  {{#sites}}
  <li>
    <a target="_blank" style="display:flex;padding:8px 0" rel="noopener" href="{{{link}}}">
      <span
        style="display:block;flex-shrink:0;background: var(--light-background-color) url('{{#cdn}}{{sprite}}{{/cdn}}');background-size: {{width}}px;
  background-position:-{{x}}px -{{y}}px;width:{{thumbnail_width}}px;height:{{thumbnail_width}}px;border-radius: 4em;margin: 4px 1em 4px 0;box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05);
  transition: transform .1s ease;transform: scale(1);">
  </span>

  <span>

      <span class="color-on-hover">{{name}}</span>

      <span style="color:var(--light-text-color)">{{bio}}</span><br>

    <span style="font-size: var(--small-font-size);color:var(--light-text-color)">{{host}} &bull; Joined {{joined}}</span>
  </span>
</a>
  </li>
  {{/sites}}
</ul>
{{/featured}}

<!-- shuffle the order of <li> sites in #featured and limit number to 24 sites -->
<script>
  var featured = document.getElementById("featured");
  var sites = featured.getElementsByTagName("li");
  var sitesArray = Array.prototype.slice.call(sites);
   
  const renderFeatured = () => {
  
  var result = [...sitesArray];

  result.sort(function() {
    return 0.5 - Math.random();
  });

    featured.innerHTML = "";

    // trim the number of sites
    result.slice(0, 13).forEach(function(site) {
    featured.appendChild(site);
  });
}
renderFeatured();

</script>
</div>

<div style="flex-basis:50%;margin-left:2em">
  <h2><a href="/examples/templates">Templates</a></h2>
  
  <ul class="clients">
    {{#allTemplates}}
    <li>
      <a href="/examples/templates/{{slug}}" style="display: flex;align-items: center;justify-content: space-between">
          <span class="color-on-hover" style="font-size: 24px;">{{name}}</span>
          <img
          src="{{#cdn}}/images/examples/{{slug}}/0-thumb.png{{/cdn}}"
          style="width:48px;height:48px;border-radius: 4px;margin: 4px 0 6px;"
            width="100" />
        </a>
    </li>
    {{/allTemplates}}
  </ul>
  
  <h2><a href="/examples/folders">Folders</a></h2>
  
  <ul class="clients">
    {{#allFolders}}
    <li>
      <a href="/examples/folders/{{slug}}" style="display: flex;align-items: center;justify-content: space-between;">
          <span class="color-on-hover" style="font-size: 24px;">{{name}}</span>
          <img
          src="{{#cdn}}/images/examples/{{slug}}/0-thumb.png{{/cdn}}"
          style="width:48px;height:48px;border-radius: 4px;margin: 4px 0 6px;"
          width="100" />
      </a>
    </li>
    {{/allFolders}}
  </ul>
  </div>

</div>
<style>
  span.color-on-hover,
  li[data-hue] a span.color-on-hover {
    color:var(--text-color)
    }
    a:hover span.color-on-hover,
  li[data-hue] a:hover span.color-on-hover {
    color: var(--accent-color)
  }
</style>