<h1>Examples</h1>

<div style="display: flex;">

    <div style="flex-basis:50%;margin-right:2em;">
      <h2>People who use Blot</h2>
      {{#featured}}
<ul id="featured" style="list-style-type: none;
padding: 0;
margin: 0;font-size:16px" class="clients">
  {{#sites}}
  <li data-hue="{{hue}}">
    <a target="_blank" style="display:flex" rel="noopener" href="{{{link}}}">
      <span
        style="display:block;flex-shrink:0;background:url('{{#cdn}}/images/featured.png{{/cdn}}');background-size: {{background_width}}px;
  background-position:-{{x}}px -{{y}}px;width:{{width}}px;height:{{height}}px;border-radius: 100px;margin: 4px 1em 4px 0"></span>

  <span>

      <span class="underline-on-hover" style="color:{{color}};">{{name}}</span>

      {{bio}}<br>

    <span style="font-size: var(--small-font-size);color:var(--light-text-color)">{{host}} &bull; Joined {{joined}}</span>
  </span>
</a>
  </li>
  {{/sites}}
</ul>
{{/featured}}
<!-- shuffle the order of <li> sites in #featured and limit number to 24 sites -->
<script>
  var featured = document.getElementById("featured");
  var sites = featured.getElementsByTagName("li");
  var sitesArray = Array.prototype.slice.call(sites);
  

  // now we want to reorder the sites so that no two sites
  // with similar hues are adjacent. the hue can be calculated
  // from [data-hue], which is the h value in hsl

  // first we sort by hue
  sitesArray.sort(function(a, b) {
    var aHue = a.getAttribute("data-hue");
    var bHue = b.getAttribute("data-hue");
    return aHue - bHue;
  });  

  // then we create an array of pairs picking from start and end respectively
  const pairs = [];

  while (sitesArray.length) {
    pairs.push(sitesArray.shift());
    pairs.push(sitesArray.pop());
  }

  // then we shuffle the pairs
  pairs.sort(function() {
    return 0.5 - Math.random();
  });
  
  // then we flatten the pairs
  sitesArray = pairs.reduce(function(a, b) {
    return a.concat(b);
  }, []);

  // trim the number of sites
  sitesArray = sitesArray.slice(0, 18);

  featured.innerHTML = "";
  sitesArray.forEach(function(site) {
    featured.appendChild(site);
  });
</script>
</div>

<div style="flex-basis:30%;margin-left:2em">
  <h2><a href="/examples/templates">Templates</a></h2>
  
  <ul class="clients">
    {{#allTemplates}}
    {{> template-or-folder}}
    {{/allTemplates}}
  </ul>
  
  <h2><a href="/examples/folders">Folders</a></h2>
  
  <ul class="clients">
    {{#allFolders}}
    {{> template-or-folder}}
    {{/allFolders}}
  </ul>
  </div>

</div>
