<head>
    <meta charset="utf-8">
    <title>{{> title}}</title>
    <meta name="description" content="{{> description}}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{title}}" href="{{{feedURL}}}">
    {{#avatar}}<link rel="icon" href="{{{avatar}}}" type="image/x-icon">{{/avatar}}
    <link rel="stylesheet" href="{{{cssURL}}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
</head>