<h1>Design</h1>

<p>First, a note of self-congratulation: this is a dangerous section for a service like Blot to have. Running a service like Blot involves making decisions that are intensely political. I do try to read deeply and think deeply about everything I do with Blot, and I hope you will be charitable. </p>


<ul class="guides">
  <li><a href="{{section}}/sign-up"><span class="a">Sign up</span>The design of the sign up page.</a>
  </li>
  <li><a href="{{section}}/dashboard"><span class="a">Dashboard</span>Thoughts about forms</a></li>
  <li><a href="{{section}}/settings"><span class="a">Settings page</span>The design of the sign up page.</a>
  </li>
  <li><a href="{{section}}/dashboard"><span class="a">Dashboard</span>Thoughts about forms</a></li>
</ul>