<style type="text/css">

input[type="submit"] {
    background: #333;
    padding: 0.75em 1em;
    color: white;
    border: none;
    border-bottom: 2px solid #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 2px 0
  }

  input[type="submit"]:focus {
    border: none;
    position: relative;
    top: 2px
  }

  label {
    font-size: 14px;
    color: #666
  }

  /* turn into tooltip */
  label em {
    display: none;
  }

  input[name="email"],
  input[name="password"] {
    width: 100%;
    display: block;
  }

  input[name="number"] {
    width: 100%;
    display: block;
  }

  input[name="cvc"] {
    display: block;
  }

  input[type="text"],
  input[type="password"] {
    padding: 4px 3px;
    margin: 2px 0;
    font-size: 17px;
    padding: 10px;
    font-family: inherit;
    z-index: 1;
    position: relative;
    border: 1px solid #cccbca;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-color: rgba(0, 0, 0, .15);
    box-sizing: border-box;
    background: 0 0;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  }

</style>
<h1>Cancel newsletter subscription</h1>
{{^email}}
<p>You can immediately cancel your subscription to Blot's quarterly newsletter. You will not recieve any future newsletters.</p>

<p>
<form action="/news/cancel" method="POST" style="max-width:24em;">
  <label for="email">Your email</label>
  <input type="text" required id="email" name="email">
  <br>
  <input type="submit" value="Cancel newsletter subscription">
</div>
</form>
{{/email}}

{{#email}}
<p>A confirmation email has been sent to <b>{{.}}</b>. Please click the link inside to cancel your subscription to Blot's newsletter.</p>
{{/email}}
