<style type="text/css">

input[type="submit"] {
    background: #333;
    padding: 0.75em 1em;
    color: white;
    border: none;
    border-bottom: 2px solid #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 2px 0
  }

  input[type="submit"]:focus {
    border: none;
    position: relative;
    top: 2px
  }

  label {
    font-size: 14px;
    color: #666
  }

  /* turn into tooltip */
  label em {
    display: none;
  }

  input[name="email"],
  input[name="password"] {
    width: 100%;
    display: block;
  }

  input[name="number"] {
    width: 100%;
    display: block;
  }

  input[name="cvc"] {
    display: block;
  }

  input[type="text"],
  input[type="password"] {
    padding: 4px 3px;
    margin: 2px 0;
    font-size: 17px;
    padding: 10px;
    font-family: inherit;
    z-index: 1;
    position: relative;
    border: 1px solid #cccbca;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-color: rgba(0, 0, 0, .15);
    box-sizing: border-box;
    background: 0 0;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  }


ol {
  list-style-type: none;
  width: 300px
}

ol {
  margin: 0 0 0 8px;
  padding: 0;
}

ol li {
  margin-bottom: 1em
}

ol li a {
  position: relative;
  display: block;
  padding-left: 1.3em;
  border: none;
  color: inherit;
  text-decoration: none;
}

ol li p {
  margin: 0;
}

ol li small {
  color: #aaa;
}

section {position: relative;width:50%;}
ol li a,
section > p,
section > details {padding-left: 2em;position: relative;}

content hr {border: none;border-bottom: 1px solid #eee;margin: 2em 0}

ol li a:before,
section > p:before,
section > details:before {
  width: 0.66em;
  border:1px solid;
  height: 0.666em;
  content: " ";
  position: absolute;
  left: 0;
  top: 0.25em
}

ol li a:before {content: "✖";text-align: center;text-indent: -0.15em;line-height: 0.8}

ol li a:hover {
  background: none
}

flex {display: flex}

details {
margin: 1em 0;
display: block;position: relative;color: inherit;
}

details summary {
        list-style: none;
    list-style-type: none;

    display: list-item;
    touch-action: manipulation;
    box-sizing: border-box;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index: 1;
    top: 0;

    padding-right: 2rem;
    cursor: pointer;
    background-size: 16px auto;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .2s;
}

details[open] summary::before {
    transform: rotate(-180deg);
  }

details > summary::-webkit-details-marker {
  display: none;
}

details summary:before {
    content: "";
    transform-box: fill-box;
    position: absolute;
    top: 12px;
    margin-top: -4px;
    right: 12px;
    width: 12px;
    height: 8px;
    transform: rotate(-90deg);
    transition: transform .2s ease-out;
    transform-origin: 50% center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="612" height="612"><path d="M604.501 440.509L325.398 134.956c-5.331-5.357-12.423-7.627-19.386-7.27-6.989-.357-14.056 1.913-19.387 7.27L7.499 440.509c-9.999 10.024-9.999 26.298 0 36.323s26.223 10.024 36.222 0l262.293-287.164L568.28 476.832c9.999 10.024 26.222 10.024 36.221 0 9.999-10.023 9.999-26.298 0-36.323z"/></svg>');
}
</style>
<h1>News</h1>
<p>This page explains what I'm working on and what I have planned. You can subscribe to the newsletter below to recieve a summary <!-- of new features, templates, fixed bugs and future plans --> at the start of each season. <!-- See <a href="/news/archive">past newsletters</a> for a sense of what I send out. --> Please don't hesitate to <a href="/contact">contact me</a> if you have any questions.</p>

<br>
<form action="/news/sign-up" method="POST" style="max-width:608px;">
  <label for="email">Your email address</label>
  <div style="display:flex">
  <input type="text" required id="email" name="email">
  <input type="submit" style="margin-left:1.5em" value="Subscribe to the newsletter">
</div>
</form>
</div>
<br>

<flex>
  
  <section style="flex-grow:1">
    <h2 style="margin-bottom:1.5em">To do</h2>
    {{{todo}}}
  </section>
  <section style="margin:0 3em;flex-basis:33%">
    <h2 style="margin-bottom:1.5em">Done</h2>
    <ol>
      {{#commits}}
      <li>
        <a href="https://github.com/davidmerfield/Blot/commit/{{hash}}">
      <p>{{message}}</p>
      <p><small>{{date}}</small></p>
      </a>
      </li>
      {{/commits}}
    </ol>
  </section>
</flex>