

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/cooper-hewitt/bold-italic.eot'); 
  src: url('/fonts/cooper-hewitt/bold-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/bold-italic.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/cooper-hewitt/bold.eot'); 
  src: url('/fonts/cooper-hewitt/bold.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/bold.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/cooper-hewitt/book-italic.eot'); 
  src: url('/fonts/cooper-hewitt/book-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/book-italic.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/cooper-hewitt/book.eot'); 
  src: url('/fonts/cooper-hewitt/book.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/book.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/cooper-hewitt/heavy-italic.eot'); 
  src: url('/fonts/cooper-hewitt/heavy-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/heavy-italic.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/cooper-hewitt/heavy.eot'); 
  src: url('/fonts/cooper-hewitt/heavy.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/heavy.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/cooper-hewitt/light-italic.eot'); 
  src: url('/fonts/cooper-hewitt/light-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/light-italic.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/cooper-hewitt/light.eot'); 
  src: url('/fonts/cooper-hewitt/light.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/light.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/cooper-hewitt/medium-italic.eot'); 
  src: url('/fonts/cooper-hewitt/medium-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/medium-italic.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/cooper-hewitt/medium.eot'); 
  src: url('/fonts/cooper-hewitt/medium.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/medium.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/cooper-hewitt/semibold-italic.eot'); 
  src: url('/fonts/cooper-hewitt/semibold-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/semibold-italic.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/cooper-hewitt/semibold.eot'); 
  src: url('/fonts/cooper-hewitt/semibold.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/semibold.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/cooper-hewitt/thin-italic.eot'); 
  src: url('/fonts/cooper-hewitt/thin-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/thin-italic.woff') format('woff');
}
		

@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/cooper-hewitt/thin.eot'); 
  src: url('/fonts/cooper-hewitt/thin.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/cooper-hewitt/thin.woff') format('woff');
}
		