@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin.eot?version=b0c585&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin.eot?version=b0c585&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin.woff?version=022618&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin-italic.eot?version=59944a&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin-italic.eot?version=59944a&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin-italic.woff?version=6ace91&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light.eot?version=d227db&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light.eot?version=d227db&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light.woff?version=c5a464&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light-italic.eot?version=b589ae&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light-italic.eot?version=b589ae&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light-italic.woff?version=feae6c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book.eot?version=10bc80&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book.eot?version=10bc80&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book.woff?version=6575a5&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book-italic.eot?version=05c0aa&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book-italic.eot?version=05c0aa&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book-italic.woff?version=2fcfdd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium.eot?version=dbbc29&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium.eot?version=dbbc29&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium.woff?version=51cfff&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold.eot?version=0e4302&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold.eot?version=0e4302&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold.woff?version=b266c3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium-italic.eot?version=406168&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium-italic.eot?version=406168&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium-italic.woff?version=c84337&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold-italic.eot?version=fe71d0&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold-italic.eot?version=fe71d0&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold-italic.woff?version=ac9aa9&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold.eot?version=61a4ff&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold.eot?version=61a4ff&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold.woff?version=ccd41c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold-italic.eot?version=e38769&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold-italic.eot?version=e38769&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold-italic.woff?version=edf557&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy.eot?version=ee2da5&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy.eot?version=ee2da5&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy.woff?version=7c379a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy-italic.eot?version=32f398&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy-italic.eot?version=32f398&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy-italic.woff?version=b7004b&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.338em}
.push-double{margin-right:0.338em}
.pull-single{margin-left:-0.217em}
.push-single{margin-right:0.217em}
.push-double,.push-single{display:inline-block}
