
<!DOCTYPE html>
<html>
  {{> head}}
  <body>

    {{> sidebar}}

    {{#entry}}

      <div class="entry">
        {{{html}}}
      </div>

      <div class="light">{{#date}}
        <a href="{{{url}}}" title="Permalink for {{title}}">{{date}}</a>
        {{/date}}{{#tags}}
        · <a title="Everything tagged {{name}}" href="/tagged/{{slug}}">{{name}}</a>
      {{/tags}}</div>

      <br />

      {{#adjacent}}
      <br />
      <p class="entry">

      {{#previous}}
      <span class="light adjacent">Previous:</span><a href="{{{url}}}" title="{{title}}">{{title}}</a><br />
      {{/previous}}

      {{#next}}
      <span class="light adjacent">Next:</span><a href="{{{url}}}" title="{{title}}">{{title}}</a>
      {{/next}}

      </p>
      <br />
      <br />
      <br />
      {{/adjacent}}

      {{> pluginHTML}}

    {{/entry}}

    {{> footer}}
  </body>
</html>