<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> sidebar}}


      <form>
        <input placeholder="Search for an entry..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />&nbsp; <input type="submit" value="Go"/>
      </form>

      <Br />
      <div class="entry">
      {{#query}}
        {{^entries}}
        <p>Sorry, no results for “{{query}}”</p>
        {{/entries}}
      {{/query}}

      {{#entries}}
        <a href="{{{url}}}">{{title}}</a>
        <span class="light">{{date}}</span>
        <br />
      {{/entries}}
      </div>

    <script type="text/javascript">document.getElementById('search').focus();</script>
    {{> footer}}
  </body>
</html>