

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/source-code/black-italic.eot'); 
  src: url('/fonts/source-code/black-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/black-italic.ttf') format('truetype'),
       url('/fonts/source-code/black-italic.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/black-italic.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/black-italic.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/source-code/black.eot'); 
  src: url('/fonts/source-code/black.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/black.ttf') format('truetype'),
       url('/fonts/source-code/black.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/black.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/black.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/source-code/bold-italic.eot'); 
  src: url('/fonts/source-code/bold-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/bold-italic.ttf') format('truetype'),
       url('/fonts/source-code/bold-italic.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/bold-italic.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/bold-italic.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/source-code/bold.eot'); 
  src: url('/fonts/source-code/bold.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/bold.ttf') format('truetype'),
       url('/fonts/source-code/bold.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/bold.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/bold.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/source-code/extra-light-italic.eot'); 
  src: url('/fonts/source-code/extra-light-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/extra-light-italic.ttf') format('truetype'),
       url('/fonts/source-code/extra-light-italic.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/extra-light-italic.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/extra-light-italic.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/source-code/extra-light.eot'); 
  src: url('/fonts/source-code/extra-light.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/extra-light.ttf') format('truetype'),
       url('/fonts/source-code/extra-light.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/extra-light.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/extra-light.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/source-code/italic.eot'); 
  src: url('/fonts/source-code/italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/italic.ttf') format('truetype'),
       url('/fonts/source-code/italic.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/italic.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/italic.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/source-code/light-italic.eot'); 
  src: url('/fonts/source-code/light-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/light-italic.ttf') format('truetype'),
       url('/fonts/source-code/light-italic.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/light-italic.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/light-italic.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/source-code/light.eot'); 
  src: url('/fonts/source-code/light.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/light.ttf') format('truetype'),
       url('/fonts/source-code/light.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/light.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/light.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/source-code/medium-italic.eot'); 
  src: url('/fonts/source-code/medium-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/medium-italic.ttf') format('truetype'),
       url('/fonts/source-code/medium-italic.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/medium-italic.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/medium-italic.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/source-code/medium.eot'); 
  src: url('/fonts/source-code/medium.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/medium.ttf') format('truetype'),
       url('/fonts/source-code/medium.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/medium.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/medium.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-code/regular.eot'); 
  src: url('/fonts/source-code/regular.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/regular.ttf') format('truetype'),
       url('/fonts/source-code/regular.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/regular.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/regular.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/source-code/semi-bold-italic.eot'); 
  src: url('/fonts/source-code/semi-bold-italic.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/semi-bold-italic.ttf') format('truetype'),
       url('/fonts/source-code/semi-bold-italic.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/semi-bold-italic.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: undefined;
  src: url('/fonts/source-code/semi-bold-italic.ttf.woff2') format('woff2');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/source-code/semi-bold.eot'); 
  src: url('/fonts/source-code/semi-bold.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/source-code/semi-bold.ttf') format('truetype'),
       url('/fonts/source-code/semi-bold.otf') format('opentype');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/semi-bold.otf.woff') format('woff');
}
		

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: undefined;
  src: url('/fonts/source-code/semi-bold.ttf.woff2') format('woff2');
}
		