<p id="error" class="error">{{error}}</p>

<p style="max-width:380px">A blog costs <span style="    background: #fff0a8;">{{price}} per {{interval}}</span> and includes hosting and support. You can cancel your subscription at any point. You must agree to the <a href="/terms">terms of use</a>.</p>

<noscript>
  <p class="error"><mark>Enable JavaScript to purchase an account.</mark> Payments are processed by Stripe without touching Blot's servers. This requires JavaScript.</p>
</noscript>

<form method="POST" style="width:330px">

  <p>
    <label for="email">Your email address</label>
    <input type="text" class="email" name="email" autofocus />
  </p>


  <p >
    <label for="number">Card number
      <em>Blot does not store your card details. Stripe processes your payment.</em>
    </label>
    <input type="text" data-stripe="number" name="number" />
  </p>

  <flex>

  <p>
    <label for="month">Expiration date</label>
    <flex>
    <input name="exp-month" maxlength="2" placeholder="MM" type="text" data-stripe="exp-month" />
    <input name="exp-year" maxlength="4" placeholder="YYYY" type="text" size="4" data-stripe="exp-year" />
    </flex>
  </p>

  <p >
    <label for="cvc">CVC
      <em>The CVC is the 3- or 4-digit code on your card, separate from the 16-digit number.</em>
    </label>
    <input type="text" size="4" data-stripe="cvc" id="cvc" name="cvc" />
  </p>
  </flex>
    <div style="flex-grow:1;margin-right:2em">
  <p style="margin-bottom:0">
    <label>Amount due today</label>
  </p>
    <hr style="margin:2px 0;border:none;border-top:1px solid rgba(0, 0, 0, .25)">
    <p style="margin-top:4px">$3</p>
  </div>
  <input type="submit" value="Submit payment" />
</flex>
  <input type="hidden" class="stripeToken" name="stripeToken" />
</form>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
// This identifies your website in the createToken call below
if (typeof Stripe !== 'undefined') Stripe.setPublishableKey('{{stripe_key}}');
$('form').submit(function(event) {
  var $form = $(this);
  // Disable the submit button
  // to prevent repeated clicks
  $form
    .find('[type="submit"]')
    .prop('disabled', true);
  // Validate the email address
  var email = $('[name="email"]').val() || '';
  var emailRegex = /[^\s@]+@[^\s@]+\.[^\s@]+/;
  var email = email.replace(' ', '');
  if (email === '' || !emailRegex.test(email)) {
    $('#error')
      .text('Please enter your email address.')
      .show();
    $('[type="submit"]')
      .prop('disabled', false)
    return false;
  } else {
    $('[name="email"]').val(email)
  }
  Stripe.card.createToken($form, function(status, response) {
    if (response.error) {
      $('#error')
        .text(response.error.message)
        .show();
      $('[type="submit"]')
        .prop('disabled', false);
    } else {
      var token = response.id;
      // response also contains card,
      // which has additional card details
      // Insert the token into the form so
      // it gets submitted to the server
      $form.find('.stripeToken').val(token);
      $form.get(0).submit();
    }
  });
  // Prevent the form from submitting with the default action
  return false;
});
</script>