{{^error}}
<p><mark id="success">Success! {{^already_paid}}I just sent you a receipt.{{/already_paid}}</mark></p>
{{/error}}

<p><mark id="error">{{error}}</mark></p>



{{^change_email}}
<p>You’re about to create an account for <b>{{email}}</b>. Want to <a href="?change_email=true">use a different email address</a>?
</p>
{{/change_email}}

<form method="POST">

  {{^change_email}}
  <input type="hidden" name="email" value="{{email}}" />
  {{/change_email}}

  {{#change_email}}
  <p>
    <label for="email">Your email address</label>
    <input type="text" size="20" name="email" value="{{email}}" autofocus />
  </p>
  {{/change_email}}

  <p>
    <label for="password">Choose a password</label>
    <input type="password" name="password" autofocus />
  </p>

  <input type="submit" value="Create your account" />

</form>