<article
	id="post-{{index}}"
	class="post-{{index}} post type-post status-publish format-standard hentry {{#tags}}tag-{{slug}} {{/tags}}"
>
	<header class="entry-header">
		<h1 class="entry-title">
			<a href="{{{url}}}" rel="bookmark">{{title}}</a>
		</h1>
	</header>
	<!-- .entry-header -->
	{{#metadata.thumbnail}}
	<figure class="entry-thumbnail">
		<a href="{{{url}}}"
			><img
				width="1200"
				src="{{{metadata.thumbnail}}}"
				class="attachment-isola-featured size-isola-featured wp-post-image"
				alt="{{{metadata.thumbnail caption}}}"
		/></a>
	</figure>
	{{/metadata.thumbnail}}	
	<div class="entry-content">
		{{{body}}}
	</div>
	<!-- .entry-content -->

	<footer class="entry-footer">
		<div class="entry-meta">
			<span class="posted-on"
				><a href="{{{url}}}" rel="bookmark"
					><time
						class="entry-date published"
						datetime="{{#formatDate}}YYYY-MM-DD[T]HH:mm:ssZ{{/formatDate}}"
						>{{#formatDate}}MMMM D, YYYY{{/formatDate}}</time
					><time
						class="updated"
						datetime="{{#formatUpdated}}YYYY-MM-DD[T]HH:mm:ssZ{{/formatUpdated}}"
						>{{#formatUpdated}}MMMM D, YYYY{{/formatUpdated}}</time
					></a
				></span
			>
		</div>
		{{#tags.length}}
		<span class="tags-links">
			{{#tags}}
			<a href="/tagged/{{slug}}" rel="tag">{{tag}}</a>
			{{/tags}} {{/tags.length}}
		</span>
	</footer>
	<!-- .entry-footer -->
</article>
<!-- #post-## -->
