<!DOCTYPE html>
<html lang="{{lang}}">
{{> head}}
<body class="home blog">
<div id="page" class="hfeed site">
	{{> header}}	
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
				{{#entries}}						
				{{> article}}
				{{/entries}}
				<nav class="navigation paging-navigation" role="navigation">
					<h1 class="screen-reader-text">Posts navigation</h1>
					<div class="nav-links">
						{{#pagination}}
						{{#next}}
						<div class="nav-previous">
							<a href="/page/{{next}}"><span class="meta-nav">&larr;</span> Older posts</a>
						</div>
						{{/next}}
						{{#previous}}
						<div class="nav-next">
							<a href="/page/{{previous}}">Newer posts <span class="meta-nav">&rarr;</span> </a>
						</div>
						{{/previous}}
						{{/pagination}}
					</div><!-- .nav-links -->
				</nav><!-- .navigation -->	
			</main><!-- #main -->
			<script type="text/javascript">
				var init = {{pagination.next}};

				jQuery('main nav').remove();

jQuery(window).on("scroll", function() {
	var scrollHeight = jQuery(document).height();
	var scrollPosition = jQuery(window).height() + jQuery(window).scrollTop();
	if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
	    load();
	}
});

				function load () {
					jQuery.get( "/page/"+ init, function( data ) {
					  jQuery('main').append(jQuery(data).find('main article'));
					  init++;
					});
				}
</script>
		</div><!-- #primary -->
	</div><!-- #content -->
	{{> footer}}
</body>
</html>
