<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}
	<body class="error404">
		<div id="page" class="hfeed site">
			{{> header}}
			<div id="content" class="site-content">
				<div id="primary" class="content-area">
					<main id="main" class="site-main" role="main">
						<section class="error-404 not-found">
							<header class="page-header">
								<h1 class="page-title">Oops! That page can’t be found.</h1>
							</header>
							<!-- .page-header -->

							<div class="page-content">
								<p>
									Looks like what you were looking for has been misplaced, or
									was never here at all. Not all of
									<a href="{{{blogURL}}}">{{title}}</a> is well-organized,
									though, so please try again. If something seems seriously
									broken, please let me know.
								</p>

								<form
									role="search"
									method="get"
									class="search-form"
									action="/search"
								>
									<label>
										<span class="screen-reader-text">Search for:</span>
										<span class="search-icon">
											<svg
												version="1.1"
												xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink"
												x="0px"
												y="0px"
												width="24px"
												height="24px"
												viewBox="0 0 24 24"
												enable-background="new 0 0 24 24"
												xml:space="preserve"
											>
												<g id="search">
													<path
														class="icon"
														d="M15.846,13.846C16.573,12.742,17,11.421,17,10c0-3.866-3.134-7-7-7s-7,3.134-7,7s3.134,7,7,7
					c1.421,0,2.742-0.427,3.846-1.154L19,21l2-2L15.846,13.846z M10,15c-2.761,0-5-2.238-5-5c0-2.761,2.239-5,5-5c2.762,0,5,2.239,5,5
					C15,12.762,12.762,15,10,15z"
													></path>
												</g>
											</svg>
										</span>
										<input
											type="search"
											class="search-field"
											placeholder="Search …"
											value=""
											name="q"
											title="Search for:"
										/>
									</label>
									<input type="submit" class="search-submit" value="Search" />
								</form>
							</div>
							<!-- .page-content -->
						</section>
						<!-- .error-404 -->
					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->
			</div>
			<!-- #content -->
			{{> footer}}
		</div>
	</body>
</html>
