<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<title>{{> title}}</title>
	<link rel="dns-prefetch" href="//fonts.googleapis.com" />
	<link rel="stylesheet" href="{{{cssURL}}}" type="text/css" media="all" />
	<link
		rel="stylesheet"
		id="isola-source-sans-pro-css"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%2C300italic%2C400italic%2C600italic%2C700italic&#038;subset=latin%2Clatin-ext&#038;ver=5.3.2"
		type="text/css"
		media="all"
	/>
	<link
		rel="alternate"
		type="application/rss+xml"
		title="{{title}} - Feed"
		href="{{{feedURL}}}"
	/>
	<script type="text/javascript" src="{{{scriptURL}}}"></script>
</head>
