<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<header id="masthead" class="site-header" role="banner">
	<div class="site-header-inner">
		<div class="site-branding">
			<button id="menu-toggle" class="toggle">
				<svg
					version="1.1"
					class="menu-toggle-image"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					x="0px"
					y="0px"
					width="24px"
					height="24px"
					viewBox="0 0 24 24"
					enable-background="new 0 0 24 24"
					xml:space="preserve"
				>
					<g id="menu">
						<g>
							<rect x="3" y="4" width="18" height="3" />
							<rect x="3" y="10" width="18" height="3" />
							<rect x="3" y="16" width="18" height="3" />
						</g>
					</g>
				</svg>
				<span class="screen-reader-text">Primary Menu</span>
			</button>
			<h1 class="site-title">
				<a href="{{{blogURL}}}" rel="home">{{title}}</a>
			</h1>
			<h2 class="site-description">{{subtitle}}</h2>
		</div>

		<div id="site-search" class="header-search">
			<div class="header-search-form">
				<form
					role="search"
					method="get"
					class="search-form"
					action="/search"
				>
					<label>
						<span class="screen-reader-text">Search for:</span>
						<span class="search-icon">
							<svg
								version="1.1"
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								x="0px"
								y="0px"
								width="24px"
								height="24px"
								viewBox="0 0 24 24"
								enable-background="new 0 0 24 24"
								xml:space="preserve"
							>
								<g id="search">
									<path
										class="icon"
										d="M15.846,13.846C16.573,12.742,17,11.421,17,10c0-3.866-3.134-7-7-7s-7,3.134-7,7s3.134,7,7,7
					c1.421,0,2.742-0.427,3.846-1.154L19,21l2-2L15.846,13.846z M10,15c-2.761,0-5-2.238-5-5c0-2.761,2.239-5,5-5c2.762,0,5,2.239,5,5
					C15,12.762,12.762,15,10,15z"
									/>
								</g>
							</svg>
						</span>
						<input
							type="search"
							class="search-field"
							placeholder="Search …"
							value=""
							name="q"
							title="Search for:"
						/>
					</label>
					<input type="submit" class="search-submit" value="Search" />
				</form>
			</div>
			<!-- .header-search-form -->
		</div>
		<!-- #site-navigation -->
	</div>
	<!-- .site-header-inner -->
</header>
<!-- #masthead -->
<div id="toggle-sidebar">
	<button id="menu-close">
		<span class="screen-reader-text">Close Menu</span>
	</button>
	<nav id="site-navigation" class="main-navigation" role="navigation">
		<div class="menu-wrapper">
			<div class="menu">
				<ul>
					{{#menu}}
					<li class="{{#active}}current_page_item{{/active}} {{^active}}page_item page-item-{{index}}{{/active}}">
						<a href="{{{url}}}">{{label}}</a>
					</li>
					{{/menu}}
				</ul>
			</div>
		</div>
	</nav>
	<!-- #site-navigation -->
</div>
