<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}
	<body class="search search-results">
		<div id="page" class="hfeed site">
			{{> header}}
			<div id="content" class="site-content">
				<div id="primary" class="content-area">
					<main id="main" class="site-main" role="main">
						<header class="page-header">
							<h1 class="page-title">Search Results for: <span>{{query}}</span></h1>
						</header>
						{{#entries}} {{> article}} {{/entries}}
					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->
			</div>
			<!-- #content -->
			{{> footer}}
		</div>
	</body>
</html>
