<h1>URL format</h1>

<p>Each post is assigned a permalink (permanent URL) automatically. You can edit the format of these permalinks on <a href="/log-in?then=/">the dashboard</a>. If you change a permalink, its former URL redirects automatically.</p>

<small><table>
  <thead>
    <tr>
      <th class="light">Example URL</th>
      <th class="light">Custom permalink format</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>/title-of-the-post</td>
      <td><code>\{{slug}}</code></td>
    </tr>
    <tr>
      <td>/blog/title-of-the-post</td>
      <td><code>blog/\{{slug}}</code></td>
    </tr>
    <tr>
      <td>/2017/10/3/title-of-the-post</td>
      <td><code>\{{YYYY}}/\{{MM}}/\{{D}}/\{{slug}}</code></td>
    </tr>
  </tbody>
</table></small>

<h2>Reference</h2>

<p>All the properties of a blog post that you can combine in your permalink format.</p>

<small><table>
  <thead>
    <tr>
      <th class="light">Token</th>
      <th class="light">Value</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><code>\{{name}}</code></td>
      <td>The file’s name in lowercase.</td>
    </tr>

    <tr>
      <td><nobr><code>\{{name-without-extension}}</code></nobr></td>
      <td>The file’s name in lowercase without the file extension.</td>
    </tr>

    <tr>
      <td><code>\{{path}}</code></td>
      <td>The file’s path in lowercase. A blog post's permalink cannot be identical to the path to its source file so combine this with other properties.</td>
    </tr>
    <tr>


    <tr>
      <td><code>\{{size}}</code></td>
      <td>The file’s size in bytes.</td>
    </tr>

    <tr>
      <td><code>\{{created}}</code></td>
      <td>The file’s creation date, as a Unix timestamp.</td>
    </tr>

    <tr>
      <td><code>\{{updated}}</code></td>
      <td>The file’s modified date, as a Unix time­stamp.</td>
    </tr>


    <tr>
      <td><code>\{{metadata}}</code></td>
      <td>An object containing the <a href="{{{base}}}/publishing/metadata">metadata</a> keys and values specified at the start of the file.</td>
    </tr>
    
    
    <tr>
      <td><code>\{{slug}}</code></td>
      <td>A URL-friendly version of the post’s title.</td>
    </tr>

    <tr>
      <td><nobr><code>\{{slug-without-diacritics}}</code></nobr></td>
      <td>A URL-friendly version of the post’s title without diacritics.</td>
    </tr>

    <tr>
      <td><code>\{{page}}</code></td>
      <td><code>True</code> if the file is a page, <code>false</code> otherwise.</td>
    </tr>

    <tr>
      <td><code>\{{menu}}</code></td>
      <td><code>True</code> if the file is on your blog’s menu, <code>false</code> otherwise.</td>
    </tr>
  </tbody>
</table></small>

<p>You can incorporate components of the post’s publish date. Here is limited selection of the most useful <a href="/developers/reference/date-tokens">date tokens</a>:</p>

<small><table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Value</th>
    </tr>
  </thead>
  <tr>
    <td><code>\{{YYYY}}</code></td>
    <td>Year, e.g. 1970 ... 2030</td>
  </tr>
  <tr>
    <td><code>\{{M}}</code></td>
    <td>Month of the year, e.g. 1 2 ... 11 12</td>
  </tr>

  <tr>
    <td><code>\{{MM}}</code></td>
    <td>Month of the year with a leading zero</td>
  </tr>
  <tr>
    <td><code>\{{MMMM}}</code></td>
    <td>Month of the year, e.g. January ... December</td>
  </tr>

  <tr>
    <td><code>\{{D}}</code></td>
    <td>Day of the month, e.g. 1 2 ... 30 31</td>
  </tr>
  <tr>
    <td><code>\{{DD}}</code></td>
    <td>Day of the month with a leading zero</td>
  </tr>

  <tr>
    <td><code>\{{dddd}}</code></td>
    <td>Day of the week, e.g. Sunday ... Saturday</td>
  </tr>

  <tr>
    <td><code>\{{H}}</code></td>
    <td>Hour of the day, e.g. 0 1 ... 22 23</td>
  </tr>
  <tr>
    <td><code>\{{HH}}</code></td>
    <td>Hour of the day, e.g. 00 01 ... 22 23</td>
  </tr>
  <tr>
    <td><code>\{{h}}</code></td>
    <td>Hour of the day, e.g. 1 2 ... 11 12</td>
  </tr>
  <tr>
    <td><code>\{{hh}}</code></td>
    <td>Hour of the day, e.g. 01 02 ... 11 12</td>
  </tr>
  <tr>
    <td><code>\{{m}}</code></td>
    <td>Minute of the hour, e.g. 0 1 ... 58 59</td>
  </tr>
  <tr>
    <td><code>\{{mm}}</code></td>
    <td>Minute of the hour, e.g. 00 01 ... 58 59</td>
  </tr>
  <tr>
    <td><code>\{{a}}</code></td>
    <td>am or pm</td>
  </tr>
  <tr>
    <td><code>\{{X}}</code></td>
    <td>Unix timestamp</td>
  </tr>
  <tr>
    <td><code>\{{x}}</code></td>
    <td>Unix millisecond timestamp</td>
  </tr>
  </tbody>
</table></small>