{{=[[ ]]=}}

<h1>Mustache</h1>

<style type="text/css">
small pre {padding:0.75rem 1rem;border:1px solid rgba(0,0,0,0.05);}

</style>

<p>Templates are written in <A href="https://mustache.github.io/mustache.5.html">Mustache</a>. Templates can be used for HTML, CSS, JavaScript, RSS feeds - anything. They works by expanding tags using values provided in a object. For example, the template:</p>


<small><pre><code>Welcome to {{name}}'s blog

Recent posts:
{{#posts}}
- {{title}}
{{/posts}}
</code></pre></small>

<p>When rendered with the following object:</p>

<small><pre><code>{
  "name": "Chris",
  "posts": [
    { title: "Apple" },
    { title: "Orange" }
  ]
}
</code></pre></small>


<p>Will produce the following result:</p>

<small><pre><code>Welcome to Chris's blog

Recent posts:
- Apple
- Orange
</code></pre></small>

<p>You can retrieve the object used to render your site's template if you append the query string <em>?debug=true</em> to any page on your site.</p>

<p></p>

<p>We call it "logic-less" because there are no if statements, else
clauses, or for loops. Instead there are only tags. Some tags are
replaced with a value, some nothing, and others a series of
values. This document explains the different types of Mustache tags.</p>

<h2 id="TAG-TYPES">Tag types</h2>

<p>Tags are indicated by the double mustaches. <code>{{person}}</code> is a tag, as
is <code>{{#person}}</code>. In both examples, we'd refer to <code>person</code> as the key
or tag key. Let's talk about the different types of tags.</p>

<h3 id="Variables">Variables</h3>

<p>The most basic tag type is the variable. A <code>{{name}}</code> tag in a basic
template will try to find the <code>name</code> key in the current context. If
there is no <code>name</code> key, the parent contexts will be checked recursively.
If the top context is reached and the <code>name</code> key is still not found,
nothing will be rendered.</p>

<p>All variables are HTML escaped by default. If you want to return
unescaped HTML, use three curly braces rather than two: <code>{{{name}}}</code>.</p>

<p>You can also use <code>&amp;</code> to unescape a variable: <code>{{&amp; name}}</code>. This may be
useful when changing delimiters (see "Set Delimiter" below).</p>

<p>A variable "miss" returns an empty string.</p>

<p>For example, the template:</p>

<small><pre><code>* {{name}}
* {{age}}
* {{company}}
* {{{company}}}
</code></pre></small>

<p>When given the following object:</p>

<small><pre><code>{
  "name": "Chris",
  "company": "&lt;b&gt;GitHub&lt;/b&gt;"
}
</code></pre></small>

<p>Will produce:</p>

<small><pre><code>* Chris
*
* &amp;lt;b&amp;gt;GitHub&amp;lt;/b&amp;gt;
* &lt;b&gt;GitHub&lt;/b&gt;
</code></pre></small>

<h3 id="Sections">Sections</h3>

<p>Sections render blocks of text one or more times, depending on the
value of the key in the current context.</p>

<p>A section begins with a pound and ends with a slash. That is,
<code>{{#person}}</code> begins a "person" section while <code>{{/person}}</code> ends it.</p>

<p>The behavior of the section is determined by the value of the key.</p>

<p><strong>False Values or Empty Lists</strong></p>

<p>If the <code>person</code> key exists and has a value of false or an empty
list, the HTML between the pound and slash will not be displayed.</p>

<p>Template:</p>

<small><pre><code>Shown.
{{#person}}
  Never shown!
{{/person}}
</code></pre></small>

<p>Hash:</p>

<small><pre><code>{
  "person": false
}
</code></pre></small>

<p>Output:</p>

<small><pre><code>Shown.
</code></pre></small>

<p><strong>Non-Empty Lists</strong></p>

<p>If the <code>person</code> key exists and has a non-false value, the HTML between
the pound and slash will be rendered and displayed one or more times.</p>

<p>When the value is a non-empty list, the text in the block will be
displayed once for each item in the list. The context of the block
will be set to the current item for each iteration. In this way we can
loop over collections.</p>

<p>Template:</p>


<small><pre><code>{{#repo}}
  &lt;b&gt;{{name}}&lt;/b&gt;
{{/repo}}
</code></pre></small>

<p>Hash:</p>

<small><pre><code>{
  "repo": [
    { "name": "resque" },
    { "name": "hub" },
    { "name": "rip" }
  ]
}
</code></pre></small>

<p>Output:</p>

<small><pre><code>&lt;b&gt;resque&lt;/b&gt;
&lt;b&gt;hub&lt;/b&gt;
&lt;b&gt;rip&lt;/b&gt;
</code></pre></small>

<p><strong>Lambdas</strong></p>

<p>When the value is a callable object, such as a function or lambda, the
object will be invoked and passed the block of text. The text passed
is the literal block, unrendered. <code>{{tags}}</code> will not have been expanded
- the lambda should do that on its own. In this way you can implement
filters or caching.</p>

<p>Template:</p>

<small><pre><code>{{#wrapped}}
  {{name}} is awesome.
{{/wrapped}}
</code></pre></small>

<p>Hash:</p>

<small><pre><code>{
  "name": "Willy",
  "wrapped": function() {
    return function(text, render) {
      return "&lt;b&gt;" + render(text) + "&lt;/b&gt;"
    }
  }
}
</code></pre></small>

<p>Output:</p>

<small><pre><code>&lt;b&gt;Willy is awesome.&lt;/b&gt;
</code></pre></small>

<p><strong>Non-False Values</strong></p>

<p>When the value is non-false but not a list, it will be used as the
context for a single rendering of the block.</p>

<p>Template:</p>

<small><pre><code>{{#person?}}
  Hi {{name}}!
{{/person?}}
</code></pre></small>

<p>Hash:</p>

<small><pre><code>{
  "person?": { "name": "Jon" }
}
</code></pre></small>

<p>Output:</p>

<small><pre><code>Hi Jon!
</code></pre></small>

<h3 id="Inverted-Sections">Inverted Sections</h3>

<p>An inverted section begins with a caret (hat) and ends with a
slash. That is <code>{{^person}}</code> begins a "person" inverted section while
<code>{{/person}}</code> ends it.</p>

<p>While sections can be used to render text one or more times based on the
value of the key, inverted sections may render text once based
on the inverse value of the key. That is, they will be rendered
if the key doesn't exist, is false, or is an empty list.</p>

<p>Template:</p>

<small><pre><code>{{#repo}}
  &lt;b&gt;{{name}}&lt;/b&gt;
{{/repo}}
{{^repo}}
  No repos :(
{{/repo}}
</code></pre></small>

<p>Hash:</p>

<small><pre><code>{
  "repo": []
}
</code></pre></small>

<p>Output:</p>

<small><pre><code>No repos :(
</code></pre></small>

<h3 id="Comments">Comments</h3>

<p>Comments begin with a bang and are ignored. The following template:</p>

<small><pre><code>&lt;h1&gt;Today{{! ignore me }}.&lt;/h1&gt;
</code></pre></small>

<p>Will render as follows:</p>

<small><pre><code>&lt;h1&gt;Today.&lt;/h1&gt;
</code></pre></small>

<p>Comments may contain newlines.</p>

<h3 id="Partials">Partials</h3>

<p>Partials begin with a greater than sign, like <code>{{&gt; box}}</code>.</p>

<p>Partials are rendered at runtime (as opposed to compile time), so
recursive partials are possible. Just avoid infinite loops.</p>

<p>They also inherit the calling context. Whereas in an [ERB](http://en.wikipedia.org/wiki/ERuby) file you may have
this:</p>

<small><pre><code>&lt;%= partial :next_more, :start =&gt; start, :size =&gt; size %&gt;
</code></pre></small>

<p>Mustache requires only this:</p>

<small><pre><code>{{&gt; next_more}}
</code></pre></small>

<p>Why? Because the <code>next_more.html</code> file will inherit the <code>size</code> and
<code>start</code> methods from the calling context.</p>

<p>In this way you may want to think of partials as includes, imports, template
expansion, nested templates, or subtemplates, even though those aren't literally the case here.</p>

<p>For example, this template and partial:</p>

<small><pre><code>base.html:
&lt;h2&gt;Names&lt;/h2&gt;
{{#names}}
  {{&gt; user}}
{{/names}}

user.html:
&lt;strong&gt;{{name}}&lt;/strong&gt;
</code></pre></small>

<p>Can be thought of as a single, expanded template:</p>

<small><pre><code>&lt;h2&gt;Names&lt;/h2&gt;
{{#names}}
  &lt;strong&gt;{{name}}&lt;/strong&gt;
{{/names}}
</code></pre></small>

<h3 id="Set-Delimiter">Set Delimiter</h3>

<p>Set Delimiter tags start with an equal sign and change the tag
delimiters from <code>{{</code> and <code>}}</code> to custom strings.</p>

<p>Consider the following contrived example:</p>

<small><pre><code>* {{default_tags}}
{{=&lt;% %>=}}
* &lt;% erb_style_tags %>
&lt;%={{ }}=%>
* {{ default_tags_again }}
</code></pre></small>

<p>Here we have a list with three items. The first item uses the default
tag style, the second uses erb style as defined by the Set Delimiter
tag, and the third returns to the default style after yet another Set
Delimiter declaration.</p>

<p>According to <a href="http://google-ctemplate.googlecode.com/svn/trunk/doc/howto.html">ctemplates</a>, this "is useful for languages like TeX, where
double-braces may occur in the text and are awkward to use for
markup."</p>

<p>Custom delimiters may not contain whitespace or the equals sign.</p>


[[={{ }}=]]