
<p>You can <a href="/settings/urls/redirects">set up redirect rules</a> for missing or moved pages on your blog. Your blog’s <a href="/settings/urls/404s">404 log</a> will help you discover broken links. </p>

<p>You can specify individual redirects or use a <a href="https://en.wikipedia.org/wiki/Regular_expression">regular expression</a> to match multiple URLs. Here are a few example redirect rules:</p>

<small>
<table>
  <thead>
    <th>From</th>
    <th>To</th>
    <th>Explanation</th>
  </thead>
  <tr>
    <td>
      <code>/apples</code>
    </td>
    <td>
      <code>/oranges</code>
    </td>
    <td>
      Will redirect the URL <code>/apples</code> to the URL <code>/oranges</code>, assuming there is no blog post or file with the URL <code>/apples</code>.
    </td>
  </tr>
  <tr>
    <td>
      <code>\/post\/(.*)</code>
    </td>
    <td>
      <code>/blog/$1</code>
    </td>
    <td>
      Will redirect URLs starting with <code>/post</code> to URLs starting with <code>/blog</code>.
    </td>
  </tr>
</table></small>

<p>Redirects are evaluated last. This means that a redirect will not resolve if it matches an existing blog post’s URL, or the path to a file in your folder.</p>
