{{#menu}}
<div class="nav fixed">
  
  <div class="center mw8 ph4">

    <a class="db fl pv4 w-left {{index}}" href="/">Blot is a blogging platform</a>

    <div class="fl">
    {{#sign-up}}
    <a class="db fl pv4 {{index}}"><span style="color:black">Sign up</span><span style="color:#aaa">&nbsp;&nbsp;&nbsp;→&nbsp;&nbsp;&nbsp;Connect to Dropbox</span></a>
    {{/sign-up}}

    {{^sign-up}}
    <a class="db fl pv4 pr5 {{help}}" href="/help">Documentation</a>        
    <a class="db fl pv4 pr5 {{contact}}" href="/contact">Support</a>        
    <a class="db fl pv4 pr5 {{log-in}}" href="/log-in">Log in</a>
    <a class="db fl pv4 {{sign-up}}" href="/sign-up"><span class="s">Sign up</span></a>
    {{/sign-up}}
  </div>
</div>

  <!-- 
  <div class="center" style="max-width:650px">
  </div>
 -->
</div>
{{/menu}}

<div class="wrapper">
<div class="center mw8 ph4"  style="padding-top:88px;">
