<form method="POST" class="account">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <p>If you <b>cancel your subscription</b>,{{#blogs.length}} your blog{{user.s}} will stop working and{{/blogs.length}} your account will close on {{user.pretty.expiry}} when your current billing period ends</span>.</p>

  <div class="buttons">
    <button type="submit" class="red" onclick="this.form.submit();this.disabled=true">Cancel your subscription</button>
    <a href="/account">Do not cancel</a>
  </div>
  <br>
<br>

</form>