<form method="post" class="account">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <label>Enter your current password:
    <input type="password" name="password" autofocus />
  </label>

  <label>New password:
    <input type="password" name="newPasswordA"/>
  </label>

  <label>Confirm new password:
    <input type="password" name="newPasswordB"/>
  </label>


  <div class="buttons">
    <button type="submit" onclick="this.form.submit();this.disabled=true">Save new password</button>
    <a href="/dashboard">Cancel</a>
  </div>
  <br><br>
</form>