<h2>Change your Dropbox account</h2>

{{#warning}}
<p class="box orange">{{{warning}}}</p>
{{/warning}}

<p>1. Visit <a href="https://www.dropbox.com" target="_blank">Dropbox.com</a> and make sure you are logged in to the account you'd like to use with Blot. At the moment, Blot is connected to {{dropbox_name}}’s Dropbox account ({{dropbox_email}}).</p>
<p>2. Press the button below to connect your new Dropbox account. Blot will copy across all the files in Blot’s folder automatically.</p>

<a href="/auth?change_account=true" class="button">Connect to Dropbox</a>
