<form method="POST" action="?_csrf={{csrftoken}}">

  <h2>{{title}}</h4>

  {{#blogToClose}}

  <p>This will permanently delete {{^domain}}<a href="http://{{handle}}.{{host}}">{{handle}}.{{host}}</a>{{/domain}}{{#domain}}<a href="{{blogURL}}">{{domain}}</a> ({{handle}}){{/domain}}, including its <b>themes, settings and any files</b> relating to it on Blot. <b>This cannot be undone</b>. Please consider <a href="/account/export">downloading this data</a> before you delete it. The blog's files will remain in your Dropbox.</p>

  {{#next_bill}}
  <p>Your next bill on {{user.pretty.expiry}} will decrease to <b>{{next_bill}}</b>.</p>
  {{/next_bill}}

  <input type="submit" class="button red" value="Close {{title}} permanently">
  
  {{/blogToClose}}
</form>
