<form method="POST" action="?_csrf={{csrftoken}}">

  {{#blogToClose}}

  <p>If you delete <b>{{^domain}}<a href="http://{{handle}}.{{host}}">{{title}}</a>{{/domain}}{{#domain}}<a href="{{blogURL}}">{{title}}</a>{{/domain}}</b>, Blot will permanently remove its themes, settings and Blot's copy of its folder. <b>This cannot be undone</b>. Consider <a href="/account/export">exporting this data</a>. {{#next_bill}} Your next bill on {{user.pretty.expiry}} will decrease to <b>{{next_bill}}</b>. {{/next_bill}}
</p>


<br>
  
  <input type="submit" class="button red" value="Delete {{title}}">
  <a href="/account" class="borderButton secondary">Do not delete</a>
  {{/blogToClose}}
</form>
