<form method="post"> 
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="timeZone" value="">  
  <div style="width:80%">
      <p>A blog costs <b>$20</b> per year. You can host as many as you like and you can cancel at any time. If you create another blog today, you will be charged <b>{{now}}</b> to cover its cost until your next bill on <b>{{user.pretty.expiry}}</b>.</p>
<!--     <hr>
    <div style="display:flex">
      <span style="Color:rgb(153, 153, 153)">Amount due today:</span>
      <b style="flex-grow:1;text-align:right">{{now}}</b>
    </div> -->
  </div>
  <br><br><br>
  <div class="buttons">
    <button type="submit" onclick="this.form.submit();this.disabled=true">Submit payment</button>
    <a href="/">Cancel</a>
  </div>
  <br><br>
</form>