<form method="post"> 
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="timeZone" value="">  
  <label>Your blog's title:
    <input type="text" autofocus name="title">
  </label>
  <br>
  <div class="buttons">
    <button type="submit" onclick="this.form.submit();this.disabled=true">Next</button>
    <button type="submit" onclick="this.form.submit();this.disabled=true">Skip</button>
  </div>
  <br><br>
</form>

{{#footer}}

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/tz_detect.js?{{cacheID}}"></script>
<script type="text/javascript">

$('form').submit(function(event) {

var $form = $(this);

// Disable the submit button to prevent repeated clicks
$(this)
  .find('.button')
  .prop('disabled', true)
  .addClass('working')
  .val('Creating your blog...');

$(this).submit();
});

var timezone = jstz.determine();

if (timezone) {
$('input[name="timeZone"]').val(timezone.name());
}

</script>
{{/footer}}