<form method="post"> 
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="timeZone" value="">  
  <p style="margin:0 0 2rem;max-width:475px">Please choose a title for your blog. Note that you can always edit this later on your blog's settings page.</p>

    <div style="max-width:22rem">
    {{> subpage}}

  <div class="buttons">
    <button type="submit" onclick="this.form.submit();this.disabled=true">Save title</button>
    <input type="submit" name="no_title" value="Skip"  />
  </div>
      </div>

  <br>

</form>

{{#footer}}

<script src="/scripts/jquery.js?{{cacheID}}"></script>
<script src="/scripts/tz_detect.js?{{cacheID}}"></script>
<script type="text/javascript">

$('form').submit(function(event) {

var $form = $(this);

// Disable the submit button to prevent repeated clicks
$(this)
  .find('.button')
  .prop('disabled', true)
  .addClass('working')
  .val('Creating your blog...');

$(this).submit();
});

var timezone = jstz.determine();

if (timezone) {
$('input[name="timeZone"]').val(timezone.name());
}

</script>
{{/footer}}