<form method="POST" action="?_csrf={{csrftoken}}">

  <p>If you delete your account, your <b>subscription will be cancelled</b> and you will not be charged again. Blot will permanently remove your blog{{user.s}} and the data associated with your account. <b>This cannot be undone</b>. Consider <a href="/account/export">exporting this data</a> before deleting your account.</p>

  <br>
  <input type="submit" class="button red" value="Delete your account">
    <a href="/account" class="borderButton secondary">Do not delete</a>

</form>
