<form class="account" method="POST">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <p>If you <b>delete your account</b>, your subscription will be cancelled and you will not be charged again. </p>

  <p>Your blog{{user.s}} will be <b>permanently removed</b> and the data associated with your account will be deleted. <!-- Consider <a href="/account/export">exporting this data</a> before deleting your account. --></p>


    <label >Enter your password:
    <input autofocus type="password" name="password"/>
  </label>


  <div class="buttons">
    <button type="submit" class="red" onclick="this.form.submit();this.disabled=true">Delete your account</button>
    <a href="/account">Do not delete</a>
  </div>

</form>
