<form method="POST" class="account">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  {{#blogToDelete}}

  <p>If you <b>delete {{blogToDelete.pretty.label}}</b>, Blot will permanently remove its themes, settings and Blot's copy of its folder. This cannot be undone. <!-- Consider <a href="/account/export">exporting this data</a>. --> 


  </p>

{{#reduction}}<p> Your next bill on {{user.pretty.expiry}} will decrease by {{reduction}}. </p>{{/reduction}}


  <label>Enter your password:
    <input autofocus type="password" name="password"/>
  </label>  

  <div class="buttons">
    <button type="submit" class="red" onclick="this.form.submit();this.disabled=true">Delete {{title}}</button>
    <a href="/account">Do not delete</a>
  </div>

  {{/blogToDelete}}
</form>
