
<form method="POST" action="?_csrf={{csrftoken}}">

  <fieldset style="border-top:none">
    <h4 class="halfMargin">{{title}}</h4>

    {{#success}}<span class="box green">{{success}}</span>{{/success}}

    <p class="small darkText">This will prevent you from logging in to Blot and will remove your blog posts.</p>
    <label>
      <input type="checkbox" name="disableAccount" id="disableAccount" /> I want to disable my account.
    </label>

    <input type="submit" id="doDisable" disabled class="button" value="Disable my account">
  </fieldset>
</form>
<script type="text/javascript">

var disableAccount = document.getElementById('disableAccount');
var doDisable = document.getElementById('doDisable');
disableAccount.onclick = function () {

  if (disableAccount.checked) {
    doDisable.disabled = false
  } else {
    doDisable.disabled = true;
  }
}

</script>