<div class="inset">
<p>You can download the data stored by Blot about you and your blogs, including your settings, your templates and your blog posts.</p>

<p>This data <b>does not include the files in your blog{{#user.s}}s{{/user.s}}’{{^user.s}}s{{/user.s}} folder{{user.s}}</b>, your password or the tokens used to process payments and access Dropbox.</p>
<br>
<a href="/account/export/account.json" target="_blank" class="button">Download your data</a>
<a href="/account" class="borderButton secondary">Cancel</a>
</div>