<a class="line" href="/account/email">
  <span class="label">Email</span>
  <span class="right">Edit</span>
  <span class="center"><b>{{user.email}}</b></span>
</a>

{{#user.hasPassword}}
<a class="line" href="/account/password/change">
  <span class="label">Password</span>
  <span class="center link">Change your password</span>
</a>
{{/user.hasPassword}}

<!-- <div class="line">
  
  <span class="label">Your blogs</span>
        
  <div class="center">
    
    {{#blogs}}

    <a class="right link" href="/account/close-blog/{{handle}}">Delete </a>

    <a href="/account/swap?to={{id}}" style="display:block;float:left;padding:0.75em 0">
      <b>{{title}}</b> <span class="grey">{{pretty.url}}</span>

      <span class="right" style="padding:0">Edit </span>
    </a> 
    <hr style="margin:0">
    {{/blogs}}

  
    <a href="/account/create-blog" class="link">Create another blog</a>
  </div>

  <div class="clear"></div>      
</div> -->


    


<div class="line">
  <b class="label">Subscription</b>
  
  <div class="center">

    <p style="padding:0.75em 2em 0.75em 0;margin:0;">
    
    {{#user.isFreeForLife}}
      You can use Blot <b>for free</b> for as long as Blot exists.
    {{/user.isFreeForLife}}

    {{#user.cancel_at_period_end}}
      Your subscription has been cancelled and you won’t be charged again. On <b>{{user.pretty.expiry}}</b> your account will close and your blog{{user.s}} will shut down.
    {{/user.cancel_at_period_end}}

    {{#user.isSubscribed}}
      
      {{#user.subscription.quantity}}
        Your next bill on <b>{{user.pretty.expiry}}</b> will be for <b>{{user.pretty.price}}</b> because you host {{user.pretty.amount_in_words}} blog{{user.s}}. You will recieve an email reminder one week before.
      {{/user.subscription.quantity}}

      {{^user.subscription.quantity}}
        Your next billing period begins on <b>{{user.pretty.expiry}}</b> but you will not be charged anything because you do not host any blogs on Blot.
      {{/user.subscription.quantity}}

    {{/user.isSubscribed}}

    </p>

    {{#blogs}}
    <hr style="margin:0">

    <a class="right link" href="/account/close-blog/{{handle}}">Delete </a>

    <a href="/account/swap?to={{id}}" style="display:block;padding:0.75em 0">
      &nbsp;&nbsp;&nbsp; <b>{{title}}</b>
      <span style="float:right">Go to dashboard &nbsp;&rarr;</span>
    </a> 
    {{/blogs}}



    {{#user.cancel_at_period_end}}
    <hr style="margin:0">
       <a class="link" style="width:100%;float:left" href="/account/subscription/restart">Restart your subscription</a> 
     {{/user.cancel_at_period_end}}

    {{#user.isSubscribed}}
    <hr style="margin:0">

    <!--     <a href="/account/create-blog" style="width:33.3333%;float:left" class="link">Create another blog</a>
     -->
       <a class="link" style="width:50%;float:left" href="/account/subscription/cancel">Cancel your subscription</a> 

       <a class="link" href="/account/update-billing" style="width:50%;float:left">Edit your payment method</a>


      {{/user.isSubscribed}}

      
      </div>
      <div class="clear"></div>
</div>

<a class="line" href="/account/export">
  <span class="label">Export</span>
  <span class="center link">Export the data stored by Blot</span>
</a>

<a class="line" href="/account/delete">
  <span class="label">Delete</span>
  <span class="center link">Delete your account</span>
</a>


