<form method="post" class="account">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <input type="hidden" name="token" value="{{token}}">

  <label>Your new password:
    <input type="password" name="newPasswordA"/>
  </label>

  <label>Confirm new password:
    <input type="password" name="newPasswordB"/>
  </label>


  <div class="buttons">
    <button type="submit" onclick="this.form.submit();this.disabled=true">Save password</button>
    <a href="/account">Cancel</a>
  </div>

</form>
