{{> head}}

  <div class="wrapper" >
    <div class="gap"></div>
    <div style="flex-basis:200px;text-align:right">
      <a href="/" style="background:none;border:none;line-height:41px;padding:0 20px;margin:0;color:rgb(153, 153, 153);text-decoration:none">&larr;&thinsp; Back to dashboard</a>
    </div>
    <div class="gap" style="flex-grow:1;"></div>

    <div style="flex-basis:500px;border:1px solid rgba(0,0,0,0.05)">


           
        <a style="padding: 0 20px;line-height:41px;color:rgb(153, 153, 153);display:block;text-decoration:none;border-bottom:1px solid rgba(0,0,0,.05)" href="/account">Your account
           {{#breadcrumb}}
          <span style="margin:0 0.1em 0 0.25em" ><svg width="11" height="9" style="transform:rotate(270deg)" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="rgb(153, 153, 153)"></path></svg></span>
          <span style="color: rgb(109, 109, 109);font-weight:500">{{breadcrumb}}</span>
            {{/breadcrumb}}
          </a>


        {{#message}}
          <a href="" class="mess {{#error}}error{{/error}} {{^error}}success{{/error}}">
           {{text}}
           <span class="link">Dismiss</span>
          </a>
        {{/message}}

        {{> yield}}
    </div>
    <div class="gap" style="flex-grow:1;"></div>
    <div style="flex-basis:200px">
      <form action="/account/log-out" method="post">
  <button type="submit" style="background:none;border:none;line-height:41px;padding:0 20px;margin:0;color:rgb(153, 153, 153);">Log out &thinsp;&rarr;</button>
</form>
    </div>
    
    <!-- <span class="label" style="    padding: 0 0 0 20px;
    line-height: 41px;border-bottom:1px solid rgba(0,0,0,0.05)">Your blogs        <a class="link" style="display:block;padding-right:20px;float:right;" href="/account/create-blog">Create a{{#blogs.length}}nother{{/blogs.length}} blog</a> 
</span>
<div class="clear"></div>
    {{#blogs}}

    <div style="display:flex;    padding:0;" class="line">

      <form action="/account/switch-blog" style="display:flex;flex-grow:1;" method="post">
        <input type="hidden" name="_csrf" value="{{csrftoken}}">
        <input type="hidden" name="to" value="{{id}}"> 
        <button type="submit" style="width:100%;padding:11px 11px 11px 20px;display:flex;border:none;margin:0;background:none">
          <span style="display:flex;flex-grow:1;"><span class="photo-holder" style="margin-top:3px"> {{#avatar}}<img src="{{avatar}}">{{/avatar}}
              {{^avatar}}<span class="file" style="font-size:0.8em;opacity:0.5;margin:-0.3em 0 0 0"></span>{{/avatar}}</span>{{title}}{{^title}}{{pretty.url}}{{/title}}</span><span style="padding:0 20px" class="link">Open dashboard</span>
        </button>
      </form> 
      <a class="right link" style="display:flex;background:none;padding:11px 20px 11px 0" href="/account/delete/blog/{{handle}}">Delete </a>

    </div>

    {{/blogs}}
    <div class="clear"></div> -->
    <div class="gap"></div>

  </div>

  <div class="clear"></div>
  <br>



</body>
</html>