<style type="text/css">
  .CodeMirror-lines {
    padding: 0;
  }
  .CodeMirror-gutters {
    background: #f8f8f8;
  }


 .error {padding: 0.75rem 1rem;
    background: oldlace;
    /* margin: 1rem; */
    border: 1px solid orange;
    /* border-bottom: 1px solid orange; */
    color: #a06800;
    margin: 0 15px 7px;
    z-index: 2;}

  .button {
        border-radius: 2px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #555;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    flex-grow: 1;
    text-align: left;
    border: none;
    cursor: pointer;

  }

  .button:before {
    content: "●";
    color: green;
    text-shadow: 0 0 6px green;
    padding: 0 1rem 0 0.75rem
  }

  .button.disabled:before {color: #ddd;text-shadow: none;}

  .button.disabled {
    background-color: transparent;
    color: #888;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px -1px;
  }

  .button:focus {border:none;outline: none}
  .CodeMirror-sizer {
    border-top: 1px solid #ccc;
  }
</style>
<div style="flex-grow: 1;max-width: calc(100vw - 20rem);background:#f8f8f8;box-shadow:  0 -1px 1px #000">
  {{> source-code-header}}
  <div style="background: rgba(0, 0, 0, 0.1);padding: 0 1rem"></div>

  {{#view}}

<div id="editor"></div>

<textarea
  id="source"
  style="display:none"
  data-mode="{{editorMode}}"
  name="content"
>{{content}}</textarea>

  <script src="/js/jquery.js?{{cacheID}}"></script>
  <script src="/js/codemirror/codemirror.js?{{cacheID}}"></script>
  <script src="/js/codemirror/active-line.js?{{cacheID}}"></script>
  <script src="/js/codemirror/mode-css.js?{{cacheID}}"></script>
  <script src="/js/codemirror/mode-simple.js?{{cacheID}}"></script>
  <script src="/js/codemirror/mode-multiplex.js?{{cacheID}}"></script>
  <script src="/js/codemirror/mode-handlebars.js?{{cacheID}}"></script>
  <script src="/js/codemirror/mode-htmlmixed.js?{{cacheID}}"></script>
  <script src="/js/codemirror/mode-javascript.js?{{cacheID}}"></script>
  <script src="/js/codemirror/mode-xml.js?{{cacheID}}"></script>

  <script type="text/javascript">

    function save() {
      if ($("#save").hasClass("disabled")) {
        e.preventDefault();
        return false;
      }

      $("#save")
        .addClass("working")
        .addClass("disabled")
        .val("Saving");

      $('input[name="content"]').val(editor.getValue());



      $("#save").text("Saving changes")
      $.ajax({
        type: "POST",
        url: $(".save").attr("action"),
        data: $(".save").serialize(),
        error: function(res) {
          $("#save")
            .text("Save changes")
            .removeClass("working")
            .removeClass("disabled")
            .prop("disabled", false)
            .val("Save");

          $(".error")
            .text(res.responseText)
            .fadeIn();
        },

        success: function(data, status, res, body) {
          $("#save")
            .addClass("disabled")
            .prop("disabled", true)
            .removeClass("working")
            .val("Saved!");

          $("#save")
            .text("Saved")

          $(".error").hide();

          setTimeout(function() {
            $(".success").fadeOut();
          }, 3000);
        },
      });

      return false; // avoid to execute the actual submit of the form.
    }
    $("#source").hide();

    // Editor
    var editor = CodeMirror.fromTextArea(document.getElementById("source"), {
      mode: { name: "handlebars", base: $("#source").attr("data-mode") },
      lineNumbers: true,
      smartIndent: false,
      styleActiveLine: true,
      theme: "default",
    });

    editor.on('keydown', function(mirror, e){
      if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
        e.preventDefault();
        $(".save").submit();
      } else {
        $("#save")
        .removeClass("disabled")
        .text("Save changes")
        .prop("disabled", false)
        .val("Save")
      }
    });

    $(".save").submit(save);
  </script>
  {{/view}}
</div>
