<div style="flex-grow: 1;max-width: calc(100vw - 20rem);background:#f8f8f8">
  {{> source-code-header}}
  <div style="background: rgba(0, 0, 0, 0.1);padding: 0 1rem"></div>
<form method="post" action="{{{base}}}/source-code/{{view.name}}/rename"  method="post" style="background: #fff;width: 100%">
  <strong>Rename {{view.name}}</strong><br>
  <label>Name:</label><br>
  <input type="text" name="name" value="{{view.name}}" /><br>
  <input type="submit" name="" value="Create" />
  <a href="{{{base}}}/source-code">Cancel</a>
</form>


</div>
