<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<form action="https://formspree.io/{{email}}" method="POST">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="#">{{email}}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<span>{{phone}}</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
					{{#street_address}}
					    {{street_address}}<br />
					{{/street_address}}
					{{#city}}
					    {{city}},
					{{/city}}
					{{#state}}
					    {{state}} 
					{{/state}}
					{{#zip_code}}
					    {{zip_code}}<br />
					{{/zip_code}}
					{{#country}}
					    {{country}}
					{{/country}}
					</span>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{{#twitter_url}}
				<li><a href="{{twitter_url}}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{{/twitter_url}}
				{{#googleplus_url}}
				<li><a href="{{googleplus_url}}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{{/googleplus_url}}
				{{#facebook_url}}
				<li><a href="{{facebook_url}}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{{/facebook_url}}
				{{#instagram_url}}
				<li><a href="{{instagram_url}}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{{/instagram_url}}
				{{#pinterest_url}}
				<li><a href="{{pinterest_url}}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{{/pinterest_url}}
				{{#500px_url}}
				<li><a href="{{500px_url}}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{{/500px_url}}
				{{#gitlab_url}}
				<li><a href="{{gitlab_url}}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{{/gitlab_url}}
				{{#github_url}}
				<li><a href="{{github_url}}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{{/github_url}}
				{{#slack_url}}
				<li><a href="{{slack_url}}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{{/slack_url}}
				{{#linkedin_url}}
				<li><a href="{{linkedin_url}}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{{/linkedin_url}}
			</ul>
			<ul class="copyright">
				<li>&copy; {{title}} {{subtitle}}</li>
<!-- 				<li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>
 -->
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="{{{scriptURL}}}" type="text/javascript"></script>	