<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header" {{#landing_layout}} class="alt style2" {{/landing_layout}} {{#home_layout}} class="alt" {{/home_layout}}>
	<a href="/" class="logo"><strong>{{title}}</strong> <span>{{subtitle}}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{{#menu}}
		        <li><a href="{{{url}}}">{{label}}</a></li>
		{{/menu}}
	</ul>
	<ul class="actions vertical">
		<li><a href="/" class="button special fit">Get Started</a></li>
	</ul>
</nav>
