<h1>About</h1>
<p>Blot turns a folder into a website.  It's a blogging platform with no interface. 
  Files in­side your blog’s folder be­come blog posts au­to­mat­i­cally.
  Blot exists so that you can blog with your fa­vorite tools. Use your fa­vorite
  text-ed­i­tor to write and Blot does the rest.
</p>

<h2>Why does Blot exist?</h2>

<p>
  I like the simplicity and durability of plain text files. For years I’ve used
  text files to store my notes. One day I realized that those text files
  had enough information –  in their contents and metadata – to
  generate a complete blog, without interfering with the structure of my notes  or my writing process. So I made Blot.
</p>


<h2>Why does Blot cost money?</h2>

<p>
  Your subscription pays for the infrastructure which hosts your blog. It also covers the cost of
  providing support. Most importantly, it means Blot operates in your best
  interests alone, rather than those of advertisers or investors.
</p>

<h2>Alternatives to Blot</h2>

<p>
  <strike><a rel="nofollow" href="http://900dpi.com/">900dpi</a></strike
  >, <strike><a rel="nofollow" href="https://amb-1.com">Amb-1</a></strike
  >, <a rel="nofollow" href="https://asocialfolder.com/">asocialfolder</a>,
  <strike
    ><a rel="nofollow" href="https://www.boxfolio.com/">Boxfolio</a></strike
  >, <strike><a rel="nofollow" href="http://brace.io/">Brace</a></strike
  >, <strike><a rel="nofollow" href="http://calepin.co/">Calepin</a></strike
  >, <a rel="nofollow" href="http://cloudcannon.com/">Cloud Cannon</a>,
  <a rel="nofollow" href="http://droppages.com/">Droppages</a>,
  <strike><a rel="nofollow" href="http://dropplets.com/">Dropplets</a></strike
  >, <a rel="nofollow" href="http://duet.to/">Duetto</a>,
  <strike><a rel="nofollow" href="http://fargo.io/">Fargo</a></strike
  >, <strike><a rel="nofollow" href="https://www.harp.io/">Harp</a></strike
  >, <a rel="nofollow" href="https://www.kissr.com/">Kissr</a>,
  <a rel="nofollow" href="https://montaigne.io">Montaigne</a>,
  <strike><a rel="nofollow" href="http://markbox.io/">Markbox</a></strike
  >,
  <strike><a rel="nofollow" href="https://www.pancake.io/">Pancake</a></strike
  >,
  <strike><a rel="nofollow" href="https://www.paperplane.io/">Paperplane</a></strike
  >,
  <strike><a rel="nofollow" href="http://scriptogr.am/">Scriptogram</a></strike
  >, <a rel="nofollow" href="http://www.site44.com/">Site44</a>,
  <strike><a rel="nofollow" href="https://www.sitebox.io/">Sitebox</a></strike
  >, <strike><a rel="nofollow" href="http://skrivr.com/">Skrivr</a></strike
  >, <strike><a rel="nofollow" href="https://www.smallvictori.es/">Small Victories</a></strike
  >,
  <strike><a rel="nofollow" href="https://www.synkee.com/">Synkee</a></strike
  >,
  <strike><a rel="nofollow" href="http://updog.co/">Updog</a></strike>
</p>


<h2>Can I host Blot on my own server?</h2>

<p>
  Yes, Blot’s <a href="/about/source-code">source code</a> is
  dedicated to the public domain.
</p>

<h2>Multiple blogs</h2>

<p>
  You can manage multiple blogs from the same account. Each blog is independent:
  you could use <a href="/how/sync/dropbox">Dropbox</a> with one and
  <a href="/how/sync/git">Git</a> with another. Multiple blogs can use the same
  Dropbox account, or different accounts.
</p>


<h2>Can I pay annually instead of monthly?</h2>
<p>
  Yes, once you have signed up for Blot you can switch your billing interval from once per month to once per year on the <a href="/account/subscription">subscription page</a>.
</p>

<h2>Subscription renewals</h2>
<p>
  If you pay for Blot annually, we will email you one week before your subscription is renewed to give you time to cancel your subscription or update your billing information. If you forget
  to cancel in time, <a href="/support">contact support</a> and we'll send you a
  refund.
</p>

<h2>Payment processing</h2>
<p>
  Blot uses <a rel="nofollow" href="https://stripe.com/">Stripe</a> to process subscription
  payments. This means your payment details do not touch Blot’s servers.
</p>

<h2>Canceling your subscription</h2>
<p>
  You can cancel your subscription on the
  <a href="/account/subscription">account page</a>. You can choose to
  <a href="/account/subscription/delete">delete your account</a> immediately, or
  wait until the end of your billing period.
</p>

<h2>Bandwidth and storage limits</h2>
<p>
  There is a soft cap of 1TB of bandwidth + storage combined per year, per blog.
  If you exceed this, we will ask you to meet the cost of hosting your blog, or we will help you set up Blot on your own server. Note that your blog is not affected by <a rel="nofollow" href="https://apps.google.com/supportwidget/articlehome?hl=en&article_url=https%3A%2F%2Fsupport.google.com%2Fa%2Fanswer%2F7338880%3Fhl%3Den&assistant_event=welcome&assistant_id=mega-bot-shared-drive&product_context=7338880&product_name=UnuFlow&trigger_context=a">Google Drive</a> or <a rel="nofollow" href="https://www.dropbox.com/help/security/banned-links#traffic">Dropbox’s</a
  > traffic limits because Blot hosts the contents of your folder on its own server.
</p>

<h2>Language support</h2>
<p>
  Blot’s dashboard, <a href="/how">documentation</a>,
  <a href="/support">support</a> and <a href="/templates">templates</a> are
  available in English.
</p>

<h2>Who else contributed to the source code?</h2>

<p><a rel="nofollow" href="https://rakhim.org">Rakhim Davletkaliyev</a>, <a rel="nofollow" href="https://paul.af/">Paul Esch-Laurent</a>, <a rel="nofollow" href="https://ylukem.com/">Luke Miles</a>, <a rel="nofollow" href="https://github.com/datashaman">datashaman</a>, <a rel="nofollow" href="https://aupiff.com/">Roy Blankman</a> and <a rel="nofollow" href="https://thejollyteapot.com/">Nicolas Magand</a> have made contributions to Blot's <a href="/about/source-code">source code</a>.</p>

<h2>Is Blot still maintained?</h2>
<p>
  Yes, and there’s plenty to do. Take a look at
  <a href="/about/news">what we're working on</a>.
</p>

<h2>How long has Blot been around?</h2>
<p>
  Work on Blot began in the summer of 2013. Blot opened to the public a year
  later.
</p>

<h2>How long do you plan to run Blot?</h2>
<p>Decades, at least.</p>

<h2>Thank you</h2>
<p>
  Many thanks to Blot’s earliest customers for their patience. In particular
  thank you Julie, Josh, Chris, Frank, Johannes and Angie. A number of people
  deserve particular gratitude for their help and encouragement over the years:
  thank you Paul, Frank, Jack, Roy, Shawn and Shibel.
</p>