<h1>Source code</h1>

<p>
  Blot's source code is dedicated to the public domain. You can read more about
  the decision to
  <a href="/about/notes/politics/open-source">release our source code</a> in the
  project notes. You can download a copy of the code, view changes and
  contribute patches.
</p>

<p>
  If you have found a security vulnerability or a bug, please
  <a href="/support">contact us</a>.
</p>

<p>
  <a
    class="bordered-button"
    rel="nofollow"
    href="https://github.com/davidmerfield/blot"
    >View source on GitHub</a
  >
</p>

<h2>Who else contributed to the source code?</h2>

<ul class="contributors">
  <li>
    <a rel="nofollow" href="https://rakhim.org"
      ><img
        width="32"
        src="https://avatars.githubusercontent.com/u/2665931?s=64&v=4" />Rakhim
      Davletkaliyev</a
    >
  </li>
  <li>
    <a rel="nofollow" href="https://paul.af"
      ><img
        width="32"
        src="https://avatars.githubusercontent.com/u/6335792?s=64&v=4" />Paul
      Esch-Laurent</a
    >
  </li>
  <li>
    <a rel="nofollow" href="https://ylukem.com/"
      ><img
        width="32"
        src="https://avatars.githubusercontent.com/u/1691179?s=64&v=4" />Luke
      Miles</a
    >
  </li>
  <li>
    <a rel="nofollow" href="https://github.com/datashaman"
      ><img
        width="32"
        src="https://avatars.githubusercontent.com/u/59514?s=64&v=4" />datashaman</a
    >
  </li>
  <li>
    <a rel="nofollow" href="https://aupiff.com/"
      ><img
        width="32"
        src="https://avatars.githubusercontent.com/u/804266?s=64&v=4" />Roy
      Blankman</a
    >
  </li>
  <li>
    <a rel="nofollow" href="https://thejollyteapot.com/"
      ><img
        width="32"
        src="https://avatars.githubusercontent.com/u/98179484?s=64&v=4" />Nicolas
      Magand</a
    >
  </li>
  <li>
    <a rel="nofollow" href="https://github.com/nicktoumpelis"
      ><img
        width="32"
        src="https://avatars.githubusercontent.com/u/72731?s=64&v=4" />Nick
      Toumpelis
    </a>
  </li>
  <li>
    <a rel="nofollow" href="https://stefanyas.me/"
      ><img
        width="32"
        src="https://avatars.githubusercontent.com/u/52251483?s=64&v=4" />Stefan
      Yas
    </a>
  </li>
</ul>

<h2>To do and changelog</h2>

<p>
  We are still actively working on Blot. You can see our
  <a href="/about/news">recent work</a> and
  <a href="/about/news">what we have planned</a> on our news page.
</p>
