<h1>Grid template</h1>

<ul>
  <li><a href="http://preview.grid.portfolio.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<p>This grid template is designed for photos and links. It features a grid on its index page.</p>

<p><a href="http://preview.grid.magazine.blot.im"><img src="/templates/grid/one.png"></a></p>

<p><a href="http://preview.grid.magazine.blot.im"><img src="/templates/grid/two.png"></a></p>

<a href="https://www.flickr.com/photos/swedish_heritage_board/sets/72157650224763869/">Bjorn Allard</a>

<p>Björn Allard (1923-2006) was employed as a photographer at the Swedish National Heritage Board in the 1950s and 1960s. He took part in archaeological surveys and excavations to contribute documentary photographs.</p>

<a href="./folder.zip">Download folder used to generate this site</a>
