<h1>Grid</h1>
<p>Designed for photos and links</p>

<ul>
  <li><a href="http://preview.grid.portfolio.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<p><a href="http://preview.grid.magazine.blot.im"><img src="/templates/grid/one.png"></a></p>

<p>The Grid template is designed for photos and links. It features a grid of small thumbnails for your posts on its index page.</p>

<p><a href="http://preview.grid.magazine.blot.im"><img src="/templates/grid/two.png"></a></p>

<p>View the <a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/grid">source code for the Grid template</a>.</p>

<h2>About the folder</h2>

<p><a href="https://www.flickr.com/photos/swedish_heritage_board/sets/72157650224763869/">Björn Allard</a> (1923-2006) was employed as a photographer at the Swedish National Heritage Board in the 1950s and 1960s. He took part in archaeological surveys and excavations to contribute documentary photographs.</p>