<div class="sub nav">
  <a class="{{tab.select}}" href="/design">Select a theme</a>
  <a class="{{tab.create}}" href="/design/new">Create a theme</a>

  <a class="right" style="text-decoration:none;z-index:2;margin:0;color:#aaa" href="/help/templates">Learn how to customize a theme <svg width="10" height="8" style="top:-1px;position:relative;transform:rotate(-90deg)" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="#aaa"></path></svg></a>

</div>