[Unit]
Description=blot node server
After=network.target nginx.service

[Service]
Type=simple
EnvironmentFile={{environment_file}}
ExecStart={{node.bin}} {{node.main}} >> {{node.log}} 2>&1
Restart=on-failure

[Install]
WantedBy=multi-user.target