[Unit]
Description=Redis persistent key-value storage
After=network.target

[Service]
Type=forking
PIDFile=/var/run/redis.pid
ExecStart=/usr/bin/redis-server {{redis.config}}
ExecStop=/usr/bin/redis-cli -p 6379 shutdown
Restart=always

[Install]
WantedBy=multi-user.target