
<br><Br><br>
<style type="text/css">
    .index {flex-basis: 25%;list-style-type: none;padding: 0}
  .index a {color: inherit;}
  .index a:hover {text-decoration: underline;}

  .sm a:hover {text-decoration: underline;}
</style>
<hr style="margin:0; border: none;border-bottom: 1px solid #eee;">
<div class="wrapper" style="display:flex;margin: 2rem auto;font-size: 15px">
<ul class="index">
      <li><a href="/publishing"><strong>How to use Blot</strong></a></li>
      <li><a href="/publishing/pages">Pages</a></li>
      <li><a href="/publishing/public-files">Public files</a></li>
      <li><a href="/publishing/metadata">Metadata</a></li>
      <li><a href="/publishing/clients">Clients</a></li>
      <li><a href="/publishing/guides">Guides</a></li>
    </ul>

    <ul class="index">
      <li><a href="/templates"><strong>Templates</strong></a></li>
      <li><a href="/templates/essay">Console</a></li>
      <li><a href="/templates/diary">Default</a></li>
      <li><a href="/templates/picture">Photos</a></li>
      <li><a href="/templates/magazine">Magazine</a></li>
      <li><a href="/templates/scrapbook">Archive</a></li>
    </ul>

    <ul class="index">
      <li><a href="/about"><strong>About</strong></a></li>
      <li><a href="/news">News <span style="display:none;border-radius: 1em;background:gold;padding:1px 5px;font-size: 12px">3 hours ago</span></a></li>
      <li><a href="https://github.com/davidmerfield/blot">Source code</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <ul class="index">
      <li><a href="/developers"><strong>Developers</strong></a></li>
      <li><a href="/developers/how-blot-works">How Blot works</a></li>
      <li><a href="/developers/rendering-templates">Rendering templates</a></li>
      <li><a href="/developers/reference">Reference</a></li>
      <li><a href="/developers/guides">Guides</a></li>
    </ul>
</div>

<style type="text/css">.sm a {color: #666;margin-right: 1rem;padding-bottom: 0.75rem;display: inline-block;}</style>
<div class="wrapper" style="font-size: 15px">
  <div style="display:flex;font-size: 14px">
    <div style="display: flex;justify-content: all;flex-grow: 1">
      <div class="sm">
  <a href="/terms">Terms of use</a>
  <span class="spacer"></span>
  <a href="/privacy">Privacy policy</a>
  <span class="spacer"></span>
  <a href="https://github.com/davidmerfield/blot">Source code</a>
  <span class="spacer"></span>
  <a href="/contact">Contact</a>
</div>
</div>
  <div style="flex-basis: 25%">
  <a href="/sign-up" style="color:inherit;"><strong>Sign up</strong></a>
  <span class="spacer" style="margin-right: 1rem;display: inline-block;"></span>
  <a href="/log-in" style="color:inherit;"><strong>Log in</strong></a>
  </div>
</div>
  <hr style="margin:0; border: none;border-bottom: 1px solid #eee;">
  <p class="sm" style="color:#666;font-size: 14px"><a href="/news">Last updated {{updated}}.</a> <a href="/about">Established in the summer of 2013.</a></p>
</div>
<br><br><br>
<script src="/js/instant.page.js" type="module"></script>