<style type="text/css">
  .index {list-style-type: none;padding: 0}
  .index a {color: inherit;text-decoration: none;}
  .index a strong {border-bottom: 1px solid rgba(0,0,0,0.1);display: block;padding-bottom: 3px;margin-bottom: 3px}
  .index a:hover {color:grey;}
  .sm a:hover {text-decoration: underline;}

.footer {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer, .footer ul {list-style: none;padding: 0;margin: 0}

.footer > li {
  margin: 0 2rem
}

.footer a {
  color: #777;
  text-decoration: none;
  padding: 3px 0;
  display: block;
}

.footer a:hover {
  color: var(--accent-color);
}
.footer > li > a {
  font-weight: 500;
  color: #000;
  margin-bottom: 3px;
  border-bottom: 1px solid rgba(0,0,0,0.05);

}

.footer  ul ul {display: none;}
</style>
<br><Br>
<div class="footer">
{{> links}}
</div>
<br><Br>
<script type="text/javascript" src="/js/instant.page.js"></script>