<div class="footer">
{{> links}}
</div>

<script type="text/javascript" src="/js/instant.page.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
<script type="text/javascript">
  const tocSelector = '.toc';

  tocbot.init({
  // Where to render the table of contents.
  tocSelector,
  // Where to grab the headings to build the table of contents.
  contentSelector: '.main-page',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h2, h3',
  // For headings inside relative or absolute positioned containers within content.
  hasInnerContainers: true,
});

  const tocEl = document.querySelector(tocSelector);

  if (tocEl.innerHTML.trim() === '') {
    tocEl.parentNode.parentNode.removeChild(tocEl.parentNode);
  }
</script>