<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}{{#unless hide_title_suffix}} - Blot{{/unless}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{description}}">

  <link rel="icon" sizes="180x180" href="/favicon-180x180.png">
  <link rel="apple-touch-icon" href="/favicon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <link rel="stylesheet" type="text/css" href="/css/finder-window.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/blot.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/tex.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/inputs.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/breadcrumbs.css?cache={{cacheID}}&extension=.css">
</head>
