<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{description}}">
  <link rel="stylesheet" type="text/css" href="/css/finder-window.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/blot.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/tex.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css?cache={{cacheID}}&extension=.css">
  <link rel="stylesheet" type="text/css" href="/css/form.css?cache={{cacheID}}&extension=.css">
</head>
