<a href="/" style="position: absolute;top:1rem;left: 1rem"><img src="/logo.svg" style="width:32px;height:32px;"></a>

       <div style="position: absolute;top: 1rem;right: 1rem">
  <a style="box-sizing:border-box;display:inline-block;font-weight: 600;color:#000;height:36px;line-height:32px;border:1px solid #eee;border-radius: 36px;padding: 0 1rem" href="/sign-up">Sign up</a>
  <a style="box-sizing:border-box;display:inline-block;font-weight: 600;color:#000;height:36px;line-height:32px;border:1px solid #eee;border-radius: 36px;padding: 0 1rem;margin-left: 1rem" href="/log-in">Log in</a>
  </div>