<style type="text/css">
  .hdr-btn {
    box-sizing:border-box;display:inline-block;font-weight: 600;color:#000;height:36px;line-height:32px;border:1px solid #eee;border-radius: 36px;padding: 0 1rem;margin-left: 0.5rem
  }

  .hdr-btn:hover {
    color:  var(--accent-color);
  }

</style>
<a href="/" style="position: absolute;top:1rem;left: 1.45rem"><img src="/logo.svg" style="width:32px;height:32px;"></a>

       <div style="position: absolute;top: 1rem;right: 1rem">
  <a class="hdr-btn" style="" href="/log-in">Log in</a>
    <a class="hdr-btn"  href="/sign-up">Sign up</a>

  </div>