{{> head}}
<body>
      <div style="max-width:435px;margin: 0 auto;display: flex;flex-direction: column;justify-content: center;min-height: 100vh">

<div class="form-container" style="padding-top: 16px;color:;position: relative;">
	<a href="{{#if from}}{{{from}}}{{else}}/{{/if}}" class="grow-on-hover huge" style="position: absolute;top: 0;right: 0;padding: 1rem">
        	      <svg id="hider" style="width: 0.75rem; height: 0.75rem;">
         <line x1="0" y1="0" x2="100%" y2="100%" stroke="#888"></line>
         <line x1="0" y1="100%" x2="100%" y2="0%" stroke="#888"></line>
      </svg></a>
        {{{body}}}
        </div>
      </div>
</body>
</html>