{{> head}}
<body>
<input type="checkbox" name="toggle" id="toggle">
</div>  

 <style type="text/css">
	.doc-wrapper{min-height: 100vh}
	.doc-left {grid-column-start: 4;grid-column-end: 9;margin-top: 0rem;padding-top: 3rem}
	.doc-right {grid-column-start: 9;grid-column-end: 12;margin-top: 6.25rem;}



  .yiel {
    flex-shrink:0;
    margin: 0 4rem;
    max-width: 600px;
  }

	.sidebar {border:none;/*border-left:1px solid rgba(0,0,0,0.1);*/
    padding: 16px 32px;
}

  @media screen and (max-width: 1000px) {
	    .yiel {padding-left: 1.5rem}
}
	@media screen and (max-width: 800px) {
/*		.doc-left {padding: 0;grid-column-start: 1;grid-column-end: 12;grid-row: 1}
			.doc-right {grid-row:2;grid-column-start: 1;grid-column-end: 12;margin-top: 1.5rem;padding: 1rem 1.5rem}*/
			.grid {padding: 0 0}
		.sidebar {border:none;}
	}





  .sidebar-container {
  
    border-radius: 10;
    background-color: #fafafa;
    bottom: 0;
    top: 0;
    width: 320px;

  }

  .layout-wrapper {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="layout-wrapper"> 
  <div class="sidebar-container">
    <a href="/" class="lig" style="display:block;font-size: 18px;padding-left: 2.5rem;padding-top:1.5rem;padding-bottom:1rem;width:400px" >
<style type="text/css">
  svg#logo {fill:black;width: 22px;height: 22px;vertical-align: sub;margin-right: 6px}
  svg#logo .st0{fill:none;stroke:black;stroke-width:1.75;stroke-miterlimit:10;}
  a:hover #logo {fill: var(--accent-color);}
  a:hover #logo .st0 {stroke: var(--accent-color);}
</style>
<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 36 30" style="enable-background:new 0 0 36 30;" xml:space="preserve">
<path class="st0" d="M35.1,13.3c0,0-2.3-2.4-6.7-2.4H7.6c-4.4,0-6.7,2.4-6.7,2.4"/>
<g>
  <path d="M15.1,2.8l2.1,1.6l0.5,0.4h0.6H33c0.7,0,1.2,0.6,1.2,1.2v21c0,0.7-0.6,1.2-1.2,1.2H3c-0.7,0-1.2-0.6-1.2-1.2V4
    c0-0.7,0.6-1.2,1.2-1.2H15.1 M15.8,1H3C1.3,1,0,2.4,0,4v23c0,1.6,1.3,3,3,3h30c1.7,0,3-1.4,3-3V6c0-1.6-1.3-3-3-3H18.3L15.8,1
    L15.8,1z"/>
</g>
</svg>
<span style="">Blot</span>

</a>
<!-- <hr style="border:none;border-bottom: 1px solid rgba(0,0,0,0.05)">
 -->    {{> sidebar}}
  </div>
  <div style="flex-grow: 1">
  <div class="yiel"> 
        <input type="text" name="" placeholder="Search" style="    width: 600px;
    border-radius: 28px;
    height: 30px;
    font-size: 16px;
    margin-top: 1rem;
    border: 1px solid rgba(0,0,0,0.01);
    box-shadow: none;
    background: #F4F4F6;
    padding: 0 16px;" style="">

   {{> breadcrumbs}}
   {{> body}}
  </div>   
</div>
     <div class="otp" style="flex-grow:1;max-width:200px;padding-left: 3rem;padding-right: 2rem">
      <div class="header-buttons" style="margin:16px 0">

   {{^selected.log-in}}
    {{^selected.index}}
    {{^selected.sign-up}}
    <label for="toggle">
      <svg id="shower" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45" preserveAspectRatio="" class="app-header__menu-icon block absolute inset-0 h-full w-full" style="">
       <g fill="currentColor" fill-rule="evenodd">
          <path d="M10 15h25v1H10zM10 22h25v1H10zM10 29h25v1H10z"></path>
       </g>
      </svg>
      <svg id="hider" style="">
        <line x1="0" y1="0" x2="100%" y2="100%" stroke="currentColor"></line>
        <line x1="0" y1="100%" x2="100%" y2="0%" stroke="currentColor"></line>
      </svg>
    </label>  
    {{/selected.sign-up}}
    {{/selected.index}}
    {{/selected.log-in}}

    {{#user}}
    <a href="/dashboard" style="border:none;background: var(--dark-accent-color);border-radius: 10px;color:white">Open your dashboard</a>
    {{/user}}

    {{^user}}
    {{^selected.log-in}}
    {{^selected.sign-up}}
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up</a>
    {{/selected.sign-up}}
    {{/selected.log-in}}

    {{#selected.log-in}}
    <a href="{{#from}}{{{from}}}{{/from}}{{^from}}/{{/from}}" class="grow-on-hover huge hdr-btn">
      <svg id="hider" style="width: 0.75rem; height: 0.75rem;">
        <line x1="0" y1="0" x2="100%" y2="100%" stroke="#333"></line>
        <line x1="0" y1="100%" x2="100%" y2="0%" stroke="#333"></line>
      </svg>
    </a>
    {{/selected.log-in}}
    {{#selected.sign-up}}
    <a href="{{#from}}{{{from}}}{{/from}}{{^from}}/{{/from}}" class="grow-on-hover huge hdr-btn">
      <svg id="hider" style="width: 0.75rem; height: 0.75rem;">
       <line x1="0" y1="0" x2="100%" y2="100%" stroke="#333"></line>
       <line x1="0" y1="100%" x2="100%" y2="0%" stroke="#333"></line>
      </svg>
    </a>
    {{/selected.sign-up}}
    {{/user}}

   
  </div>
    <h2 style="font-size:14px;font-weight:500;color:#999;border:none">On this page</h2>
    <div class="toc" style="position: sticky;top:0"></div>

    <h2 style="font-size:14px;font-weight:500;color:#999;border:none">Related questions</h2>
    {{#related}}
    <a href="/questions/{{id}}">{{title}}</a>
    {{/related}}
  </div>

</div>
{{> footer}}
</body>
</html>