{{> head}}
<body>
  <header>
      <nav>
        <div class="container">
        <a style="color: #000;font-weight: 600" class="underline-on-hover {{selected.index}}" title="Blot" href="/" >Blot</a>
      </div>
      </nav>
      <content>
        <div class="container">
          {{> breadcrumbs}}
      </div>
      </content>
      
  </header>
  <main>
    <nav>
      <div class="container">
      </div>
    </nav>
    <content><div class="container">{{{body}}}</div></content>
  </main>
  {{> footer}}
</body>
</html>