{{> head}}

<style type="text/css">.logo:hover {text-decoration: underline;}.logo {font-weight: 500;color:#000;margin:20px 0;align-items:center;display: flex}</style>


<body>
  <div style="display:flex;padding: 0 2rem">
    <div style="flex-basis:18.2rem;flex-shrink:1">
      <a class="logo {{selected.index}}" title="Blot" href="/" >{{> logo}} Blot</a>
      <hr style="border:none;margin:0;border-bottom:1px solid #eceff1;">
    </div>
    <style type="text/css">
    .links {padding: 0;display: block;text-align: left;}
    .links a {line-height: inherit;margin: 0;padding: 0}
    .links a:hover {text-decoration: underline;}
    .focussed * {margin:0 1.4rem 0 0!important;padding:0;font:inherit;color: inherit;}
    .focussed h1 {color: black}

    ol, ul, li {margin-left: 0;margin-right:0;padding: 0}
    ol li {margin-bottom: 1.4rem;padding-left: 1.4rem;margin-left: -1.4rem}
    ul {padding-left: 1rem}
    ul li {padding-left: 0.7rem}
    </style>
    <div class="links focussed" style="white-space:nowrap;margin:20px 0;color:#aaa;display:flex">
    {{#if selected.terms}}
    <h1>Terms of use</h1>
    <a href="/privacy">Privacy policy</a>
    {{/if}}

    {{#if selected.privacy}}
    <a href="/terms">Terms of use</a>
    <h1>Privacy policy</h1>
    {{/if}}
  </div>
  </div>


  <main class=" form">

    <div style="flex-basis:18.2rem;flex-shrink:1">
    </div>

    <content style="border-top:1px solid #eceff1;margin-top:-1px;padding-top:8px">

      <br>
      {{{body}}}
    </content>
  </main>
</body>

</html>
