{{> head}}
<body>
{{> header}}
</div>  

 <style type="text/css">
	.doc-wrapper{min-height: 100vh}
	.doc-left {grid-column-start: 4;grid-column-end: 9;margin-top: 0rem;padding-top: 3rem}
	.doc-right {grid-column-start: 9;grid-column-end: 12;margin-top: 6.25rem;}

	.sidebar {border:none;/*border-left:1px solid rgba(0,0,0,0.1);*/
    background: #fafafa;
    border-radius: 18px;
    padding: 12px 24px;
}
	
	@media screen and (max-width: 800px) {
/*		.doc-left {padding: 0;grid-column-start: 1;grid-column-end: 12;grid-row: 1}
			.doc-right {grid-row:2;grid-column-start: 1;grid-column-end: 12;margin-top: 1.5rem;padding: 1rem 1.5rem}*/
			.grid {padding: 0 0}
		.sidebar {border:none;margin-top: 3rem}

	}

</style>
<div class="doc-wrapper">    
  <div style="display: flex;flex-wrap: wrap;justify-content: center;margin: 4rem 0">
    <div style="flex-basis: 920px;margin:0 3rem 1rem">
            {{> breadcrumbs}}
    </div>
          <div style="flex-basis: 100%">
      </div>

    <div style="flex-basis: 270px;margin: 0 2.5rem">
{{> sidebar}}
    </div>
    <div style="flex-basis: 620px;margin: 0 2.5rem">
            {{{body}}}

  	</div>   

  </div>
</div>
{{> footer}}
</body>
</html>