{{> head}}

<body>

  <div style="display:flex;padding: 0 2rem">
    <div style="flex-basis:18.2rem;flex-shrink:1">
      <a class="logo {{selected.index}}" title="Blot" href="/" style="display:flex;align-items:center;color:black;font-weight:500">{{> logo}}&nbsp;&thinsp; Blot</a>
    </div>
    <a class="ff" href="/publishing">How to use Blot</a>
    <a class="ff" href="/news">News</a>
    <a class="ff" href="/contact">Contact</a>
    <span style="border-right-color: rgb(221, 221, 221);
border-right-style: solid;
border-right-width: 1px;
box-sizing: border-box;
color: rgb(4, 4, 2);
display: block;
fill: rgb(4, 4, 2);
font-family: -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 15px;
height: 14px;
line-height: 21px;
margin-left: 10px;
margin-right: 10px;
outline-color: rgb(4, 4, 2);
outline-style: none;
outline-width: 0px;
text-size-adjust: 100%;
white-space: nowrap;
width: 1px;
-webkit-font-smoothing: antialiased;"></span>
    <a class="ff" href="/sign-up">Sign up</a>
    <a class="ff" href="/log-in">Log in</a>

    <style type="text/css">
    .ff {
      background-attachment: scroll;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
box-sizing: border-box;
color: rgb(4, 4, 2);
cursor: pointer;
display: block;
fill: rgb(4, 4, 2);
font-size: 15px;
font-weight: 500;
line-height: 21px;
margin-left: 12px;
margin-right: 12px;

-webkit-font-smoothing: antialiased;
    }
    .links {padding: 0;display: block;text-align: left;}
    .links a {line-height: inherit;margin: 0;padding: 0}
    .links a:hover {text-decoration: underline;}
    .focussed * {margin:0 1.4rem 0 0!important;padding:0;font:inherit;color: inherit;}
    .focussed h1 {color: black}

    ol, ul, li {margin-left: 0;margin-right:0;padding: 0}
    ol li {margin-bottom: 1.4rem;padding-left: 1.4rem;margin-left: -1.4rem}
    ul {padding-left: 1rem}
    ul li {padding-left: 0.7rem}
    </style>
    <div class="links focussed" style="white-space:nowrap;margin:20px 0;color:#aaa;display:flex">
    {{#if selected.terms}}
    <h1>Terms of use</h1>
    <a href="/privacy">Privacy policy</a>
    {{/if}}

    {{#if selected.privacy}}
    <a href="/terms">Terms of use</a>
    <h1>Privacy policy</h1>
    {{/if}}
  </div>
  </div>


  <main class=" form">



    <content style="max-width:540px;padding-top:8px">

      <br>
      {{{body}}}
    </content>
  </main>
</body>

</html>
