{{> head}}
<body>
	<style type="text/css">
		.home-wrapper{display: flex;justify-content: center;flex-direction: column;min-height: 80vh}
		.home-left {grid-column-start: 3;grid-column-end: 7;margin-top: 2rem}
		.home-right {grid-column-start: 7;grid-column-end: 11;margin-top: 2rem;}

@media screen and (max-width: 800px) {
  .home-left, .home-right {grid-column-start: 1;grid-column-end: 12;}
  .home-left {grid-row: 2;}
  .home-right {grid-row: 1;padding: 1.5rem}
  .grid {padding: 0}
}

		.sidebar {border-right: none;}
		.sidebar li a {padding-left: 0}
		.sidebar ul{display: none;}


    .tooltip {
      display: none
    }
    .who li {
      position: relative;
      z-index: 0;
      display: inline-block;

    }
       .who li:hover {
        z-index: 1;
       }

       .who {display: auto;width: 100%;box-sizing: border-box;}
    .who li:hover .tooltip {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      padding: 1rem;
      top: 100%;
      width: 300px;
      border:1px solid #efefef;
      background: #fff;
      border-radius: 18px
    }
  </style>

{{> header}}
  <div class="home-wrapper">
	  <div class="grid">
	    <div class="home-left">
	     
       <div style="max-width: 336px">
  
      <p style="font-size: 20px">Blot is a blogging platform with no interface. It turns a folder into a website. <!-- Blot gives you access to tools – blog with your favorite text-editor. --></p>
<p><a class="textli" href="/videos/publishing-with-blot.mp4" style="color: var(--accent-color)">Watch the video<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 15.4 15.4" style="enable-background:new 0 0 15.4 15.4;" xml:space="preserve">
<style type="text/css">
  .st1{fill:var(--accent-color);}
</style>
<path class="st1" d="M7.7,15.4C3.4,15.4,0,11.9,0,7.7C0,3.4,3.4,0,7.7,0s7.7,3.4,7.7,7.7C15.4,11.9,11.9,15.4,7.7,15.4z M7.7,1.2
  c-3.5,0-6.4,2.9-6.4,6.4s2.9,6.4,6.4,6.4c3.6,0,6.4-2.9,6.4-6.4S11.2,1.2,7.7,1.2z"/>
<path class="st1" d="M6.2,10.7l4.2-2.4c0.2-0.1,0.2-0.3,0.2-0.4s-0.1-0.3-0.2-0.4L6.2,5C6,4.9,5.8,4.9,5.7,5
  C5.5,5.1,5.4,5.3,5.4,5.5v4.8c0,0.2,0.1,0.3,0.2,0.4c0.1,0,0.2,0.1,0.2,0.1S6.1,10.8,6.2,10.7z"/>
</svg></a>
  </p><br>

  <div  >
        {{> sidebar}}
</div>
	  </div>
  </div>
    <div class="home-right">


<ul class="who">

{{#featured}}
  <li>
    <span class="contents"> 
      <span class="imag">
      <a target="_blank" rel="noopener" href="{{{link}}}">
      {{#favicon.coordinates}}
        <span style="display:block;background:url('/images/featured.png');background-size: {{background_width}}px;
background-position:-{{x}}px -{{y}}px;width:{{width}}px;height:{{height}}px;border-radius: 100px"></span>
{{/favicon.coordinates}}
    </a>
      
      </span>
      <span class="tooltip" style="text-align: left;">
        <a target="_blank" rel="noopener" href="{{{link}}}"><span class="a" style="color:{{color}};">{{name}}</span></a> {{bio}}.
<br>
        <span class="uses" style="font-size: 12px">Joined 2015 &bull; <!-- Updated last month  --><!-- <br>
           <a href="{{{link}}}"><span class="a" style="color:{{color}};">{{host}}</span></a> with  --> <!-- &bull; --> Uses {{#if template.custom}}a custom{{/if}}{{#unless template.custom}}the 
          <a href="{{#if template.custom}}/templates{{/if}}{{#unless template.custom}}/templates/{{template.slug}}{{/unless}}"><span class="a" style="color:{{color}};">{{template.label}}</span></a>
      {{/unless}} template</span>

      </span>
    </span>
  </li>
{{/featured}}  
</ul>  

        <style type="text/css">
  ul.who li {position: relative;padding-bottom: 12px}
  .who li .contents {display: flex}
  .who li .text {padding-top: 2px}
  .who li .imag {width: 50px;height: 50px}
  /*.who li > a {position: absolute;top: 0;left: 0;right: 0;bottom: 0}*/
  .who .uses {visibility: hidden}
  .who li:hover .uses {visibility: visible;}
</style>

  </div>
    	</div>
    </div>
</div>


<!-- Randomizes links to member sites and limit total sites to 20 -->
<script type="text/javascript">
var ul = document.querySelector('ul.who');

// var people = Array.from(document.querySelector('ul.who').children).slice(2);

// var firstRowStart = document.querySelector('ul.who :first-child').getBoundingClientRect().right;
// var firstRowEnd = document.querySelector('ul.who :nth-child(2)').getBoundingClientRect().left;
// var personWidth = people[0].getBoundingClientRect().width;

// console.log(firstRowStart);
// console.log(firstRowEnd);
// console.log(personWidth);

// console.log('num per row', Math.floor((firstRowEnd - firstRowStart)/personWidth));

var MAX_FEATURED = 36;

for (var i = ul.children.length; i >= 2; i--) {
  let index = 2 + (Math.floor(Math.random() * (i - 2)));
  console.log('i', i);
  console.log('index', index);
  console.log('node', ul.children[index]);
  ul.appendChild(ul.children[index]);
}

for (var x = ul.children.length - 1; x >= MAX_FEATURED; x--) {
  ul.children[x].remove();
}
</script>

</div>
{{> video-player}}
{{> footer}}
</body>
</html>

