{{> head}}
<body>
<input type="checkbox" name="toggle" id="toggle">
{{> header}}
</div>  

 <style type="text/css">
	.doc-wrapper{min-height: 100vh}
	.doc-left {grid-column-start: 4;grid-column-end: 9;margin-top: 0rem;padding-top: 3rem}
	.doc-right {grid-column-start: 9;grid-column-end: 12;margin-top: 6.25rem;}



  .yiel {
    flex-shrink:0;
    max-width: 600px;
    padding-left: 432px;
  }

	.sidebar {border:none;/*border-left:1px solid rgba(0,0,0,0.1);*/
    background: #fafafa;
    border-radius: 18px;
    padding: 16px 32px;
}

  @media screen and (max-width: 1000px) {
	    .yiel {padding-left: 1.5rem}
}
	@media screen and (max-width: 800px) {
/*		.doc-left {padding: 0;grid-column-start: 1;grid-column-end: 12;grid-row: 1}
			.doc-right {grid-row:2;grid-column-start: 1;grid-column-end: 12;margin-top: 1.5rem;padding: 1rem 1.5rem}*/
			.grid {padding: 0 0}
		.sidebar {border:none;margin-top: 3rem}
	}





  .sidebar-container {
    position: absolute;
    left: 3rem;
    width: 270px;
  }

  .layout-wrapper {
    min-height: 80vh
  }
</style>

<div class="layout-wrapper"> 
  <div class="sidebar-container">
    {{> sidebar}}
  </div>
  <div class="yiel">
{{> body}}
  </div>   
</div>
{{> footer}}
</body>
</html>