<li>
   <a style="border-top:none" class="{{selected.howIndex}}" data-open="{{selected.how}}" href="/how">How it works</a>
   <ul>
      <li><a class="{{selected.pages}}" href="/how/pages">Pages</a></li>
      <li><a class="{{selected.metadata}}" href="/how/metadata">Metadata</a></li>
<li>
         <a class="{{selected.format}}" data-open="{{selected.format}}" href="/how/format">Format your posts</a>
         <ul>
            <li><a class="{{selected.markdown}}" href="/how/format/markdown">Markdown</a></li>
            <li><a class="{{selected.layout-tags}}" href="/how/format/layout-tags">Layout</a></li>
            <li><a class="{{selected.tex}}" href="/how/format/tex">\(\TeX\)</a></li>
            <li><a class="{{selected.embedding}}" href="/how/format/embedding">Embedding</a></li>
            <li><a class="{{selected.citations}}" href="/how/format/citations">Citations</a></li>
         </ul>
      </li>      
      <li>
         <a class="{{selected.sync}}" data-open="{{selected.sync}}"  href="/how/sync">Sync your folder</a>
         <ul>
            <li><a class="{{selected.dropbox}}" href="/how/sync/dropbox">Dropbox</a></li>
            <li><a class="{{selected.git}}" href="/how/sync/git">Git</a></li>
         </ul>
      </li>
      
      <li>
         <a class="{{selected.configure}}" data-open="{{selected.configure}}" href="/how/configure">Configure your site</a>
         <ul>
            <li><a class="{{selected.domain}}" href="/how/configure/domain">Domain</a></li>
            <li><a class="{{selected.analytics}}" href="/how/configure/analytics">Analytics</a></li>
            <li><a class="{{selected.comments}}" href="/how/configure/comments">Comments</a></li>
            <li><a class="{{selected.redirects}}" href="/how/configure/redirects">Redirects</a></li>
            <li><a class="{{selected.urls}}" href="/how/configure/urls">URL format</a></li>
         </ul>
      </li>
   </ul>
</li>
<li>
   <a class="{{selected.templatesIndex}}" data-open="{{selected.templates}}" href="/templates">Templates</a>
   <ul>
      <li><a class="{{selected.blog}}" href="/templates/blog">Blog</a></li>
      <li><a class="{{selected.magazine}}" href="/templates/magazine">Magazine</a></li>
      <li><a class="{{selected.photo}}" href="/templates/photo">Photo</a></li>
      <li><a class="{{selected.portfolio}}" href="/templates/portfolio">Portfolio</a></li>
      <li><a class="{{selected.reference}}" href="/templates/reference">Reference</a></li>
      <li >
         <a  class="{{selected.developers}}" data-open="{{selected.developers}}" href="/templates/developers"><span style="margin-top:4px;padding-top:4px;display:inline-block;border-top:1px solid var(--light-border-color)">Developer guide</span></a>
      </li>
   </ul>
</li>
<li>
   <a class="{{selected.aboutIndex}}" data-open="{{selected.about}}" href="/about">About</a>
   <ul>
      <li><a class="{{selected.news}}" href="/about/news">News</a></li>
      <li><a class="{{selected.source-code}}" href="/about/source-code">Source code</a></li>
      <li>
         <a class="{{selected.notes}}" href="/about/notes" data-open="{{selected.notes}}">Notes</a>
         <ul>
            <li>
               <a class="{{selected.businessIndex}}" data-open="{{selected.business}}" href="/about/notes/business">Business</a>
               <ul>
                  <li><a class="{{selected.customer-service}}" href="/about/notes/business/customer-service">Customer service</a></li>
                  <li><a class="{{selected.marketing}}" href="/about/notes/business/marketing">Marketing</a></li>
                  <li><a class="{{selected.project-management}}" href="/about/notes/business/project-management">Project management</a></li>
                  <li><a class="{{selected.revenue-model}}" href="/about/notes/business/revenue-model">Revenue model</a></li>
               </ul>
            </li>
            <li>
               <a class="{{selected.designIndex}}" data-open="{{selected.design}}" href="/about/notes/design">Design</a>
               <ul>
                  <li><a class="{{selected.aesthetic}}" href="/about/notes/design/aesthetic">Aesthetic</a></li>
                  <li><a class="{{selected.ideal-website}}" href="/about/notes/design/ideal-website">The ideal website</a></li>
                  <li><a class="{{selected.sign-up}}" href="/about/notes/design/sign-up">Sign up page</a></li>
                  <li><a class="{{selected.templates}}" href="/about/notes/design/templates">Testhetic</a></li>
               </ul>
            </li>
            <li>
               <a class="{{selected.politicsIndex}}" data-open="{{selected.politics}}" href="/about/notes/politics">Politics</a>
               <ul>
                  <li><a class="{{selected.censorship}}" href="/about/notes/politics/censorship">Censorship</a></li>
                  <li><a class="{{selected.open-source}}" href="/about/notes/politics/open-source">Open source</a></li>
               </ul>
            </li>
            <li>
               <a class="{{selected.programmingIndex}}" data-open="{{selected.programming}}" href="/about/notes/programming">Programming</a>
               <ul>
                  <li><a class="{{selected.front-end-philosophy}}" href="/about/notes/programming/front-end-philosophy">Front-end philosophy</a></li>
                  <li><a class="{{selected.generating-titles}}" href="/about/notes/programming/generating-titles">Generating titles</a></li>
                  <li><a class="{{selected.responsive-images}}" href="/about/notes/programming/responsive-images">Responsive images</a></li>
                  <li><a class="{{selected.unlimited-bandwidth}}" href="/about/notes/programming/unlimited-bandwidth">Unlimited bandwidth</a></li>
                  <li><a class="{{selected.why-use-a-cdn}}" href="/about/notes/programming/why-use-a-cdn">Slow images</a></li>
               </ul>
            </li>
         </ul>
      </li>
            <li><a class="{{selected.status}}" href="/about/status">Status</a></li>

   </ul>
</li>
<li><a class="{{selected.questionsIndex}}" data-open="{{selected.questions}}" href="/questions">Questions</a>
   <ul>
            <li><a class="{{selected.ask}}" href="/questions/ask">Ask a question</a></li>
</ul>

</li>
<li><a class="{{selected.contact}}" href="/contact">Contact us</a></li>