<style type="text/css">
  #search-results {position: fixed;top:0;left: 0}
#status {
  position: relative;
  padding-left: 1.25em;
}

#status:before {
  content: " ";
  width: 1em;
  height: 1em;
  font-size: 0.8em;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top:-0.5em;  
}

#status:before {
  background: #02b333 url("data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1jaGVjayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiIGZpbGw9IiNmZmYiPgo8cmVjdCB4PSItMC4wMTMiIHk9IjQuMjU4IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcgLTAuNzA3MiAwLjcwNzIgLTAuNzA3IDAuMDg5MSAxMC4xNzAyKSIgd2lkdGg9IjQuMzMiIGhlaWdodD0iMS42MTgiPjwvcmVjdD4KPHJlY3QgeD0iMi4yMjciIHk9IjIuODk5IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxIDAuNzA3MSAtMC43MDcxIC0wLjcwNzEgMTEuNjg3NyAyLjY4MzMpIiB3aWR0aD0iNi4xMjEiIGhlaWdodD0iMS43MjYiPjwvcmVjdD4KPC9zdmc+") no-repeat 45% center / 62%;
}

#status.error:before {
  background: #f85149 url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1iYW5nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDggOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxyZWN0IGZpbGw9IndoaXRlIiB4PSIyLjk4OSIgd2lkdGg9IjIuMDIzIiBoZWlnaHQ9IjUuNDcxIi8+CjxyZWN0IGZpbGw9IndoaXRlIiB4PSIyLjk4OSIgeT0iNi4zOSIgd2lkdGg9IjIuMDIzIiBoZWlnaHQ9IjEuNjEiLz4KPC9zdmc+') no-repeat center center / 62%;

}


#status.syncing:before {
  background: #ff9800;
  -webkit-animation: bounce 1.4s infinite ease-in-out both;
  animation: bounce 1.4s infinite ease-in-out both;
}


@-webkit-keyframes bounce {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@keyframes bounce {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

</style>
<input id="search-field" type="text" name="" placeholder="Search" style="    width: 480px;
    border-radius: 28px;
    height: 30px;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 12px;
    margin-left: -2px;
    border: 1px solid rgba(0,0,0,0.01);
    box-shadow: none;
    background: #F4F4F6;
    padding: 0 16px;" style="">



<div id="search-results" class="hidden">

</div>

<script type="text/javascript" src="/js/elasticlunr.js"></script>
<script type="text/javascript">
let cachedIndex;

async function loadIndex () {
  if (cachedIndex) return cachedIndex;

  const response = await fetch('/search.json');
  const json = await response.json();
  
  cachedIndex = elasticlunr.Index.load(json);
  return cachedIndex;
}

const searchInput = document.getElementById('search-field');
searchInput.addEventListener('keyup', async function(){
  const index = await loadIndex();
  const results = index.search(searchInput.value);
  document.getElementById('search-results').innerHTML = results.slice(0,5).map(({ref, score}) => ref).join('<br>');
});


</script>