<style type="text/css">

  #search-field {
    width: 100%;
    border-radius: 28px;
    height: 30px;
    font-size: 14px;
     border: 1px solid rgba(0,0,0,0.01);
    box-shadow: none;
    background: #F4F4F6;
    border: 2px solid  #F4F4F6;
    padding: 0 16px;
  }

  #search-field:focus {
    background: #fff;
    border-color: var(--accent-color);
  }

  .has-results #search-field {
    border-radius: 14px 14px 0 0;
    border-bottom: 1px solid rgba(0,0,0,0.1)
  }

  #search-results {background:#fff;position: absolute;top:100%;left:0;right:0;
    min-height: 40px;margin-top: 14px;z-index: 2;display: none;}

#search-results a {
  border:1px solid rgba(0,0,0,0.1);
  font-size: 16px;
  display: block;
  color: var(--accent-color);
  padding: 8px 16px;
  margin-top: -1px;
  line-height: 1.25;
}

#search-results a:hover {border-color: var(--accent-color)}
#search-results a small {color:rgba(0,0,0,0.4);}


#search-results:before {
/*  content: " ";
*/  width: 1em;
  height: 1em;
  font-size: 0.8em;
  border-radius: 100%;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top:-0.5em;  
    background: rgba(0,0,0,0.25);
  -webkit-animation: bounce 1.4s infinite ease-in-out both;
  animation: bounce 1.4s infinite ease-in-out both;
}


@-webkit-keyframes bounce {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@keyframes bounce {
  0%, 40%, 100% { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  } 70% { 
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

</style>
<div id="search-wrapper" style="width:480px; height: 30px;position: relative;overflow: visible;margin-top: 1rem;
    margin-bottom: 12px;
    margin-left: -2px;
    z-index: 2
   ">
   <div id="click-cover" style="display:none;background:rgba(255,255,255,0.66);position: fixed;top:0;right:0;bottom: 0;left: 0;z-index: 1;cursor: pointer;"></div>
  <input id="search-field" type="text" name="" placeholder="Search" >
  <div id="search-results"></div>
</div>

<script type="text/javascript" src="/js/elasticlunr.js"></script>
<script type="text/javascript">
let cachedIndex;
let metadata;

async function loadIndex () {
  if (cachedIndex) return cachedIndex;

  const response = await fetch('/search.json');
  const json = await response.json();
    
  // map containing article titles
  metadata = {...json.metadata};
  delete json.metadata;

  cachedIndex = elasticlunr.Index.load(json);
  return cachedIndex;
}

const searchInput = document.getElementById('search-field');
const clickCover = document.getElementById('click-cover');
const searchResults = document.getElementById('search-results');

clickCover.addEventListener('click', async function(){
  clickCover.style.display = 'none';
  searchResults.style.display = 'none';
});

searchInput.addEventListener('focus', async function(){
  clickCover.style.display = 'block';
  searchResults.style.display = 'none';
})

searchInput.addEventListener('keyup', async function(){
  const index = await loadIndex();
  const results = index.search(searchInput.value).slice(0,5).filter(({ref, score}) => metadata[ref] && metadata[ref].title);
  if (results.length === 0) {
  return searchResults.style.display = 'none';

  }
  clickCover.style.display = 'block'
  searchResults.style.display = 'block';
  searchResults.innerHTML = results.map(({ref, score}) => `<a href="/${ref}">${metadata[ref].title}<br><small>${ref}</small></a>`).join('\n');
});


</script>