<nav>
  <input type="checkbox" name="toggle" id="toggle">
  <ul class="sidebar">
    <li style="margin-top: -3px"><a href="/log-in">Log in<span style="float: right;">→</span></a></li>
    <li><a href="/sign-up" style="border-bottom: none;margin-bottom: 24px">Sign up<span style="float: right;">→</span></a></li>
    <li>
      <a class="{{selected.howIndex}}" data-open="{{selected.how}}" href="/how">How to use Blot</a>
      <ul>
        <li><a class="{{selected.pages}}" href="/how/pages">Pages</a></li>
        <li><a class="{{selected.metadata}}" href="/how/metadata">Metadata</a></li>
        <li><a class="{{selected.clientsIndex}}" data-open="{{selected.clients}}"  href="/how/clients">Clients</a>
          <ul>
            <li><a class="{{selected.dropbox}}" href="/how/clients/dropbox">Dropbox</a></li>
            <li><a class="{{selected.git}}" href="/how/clients/git">Git</a></li>
          </ul>
        </li>                  
        <li><a class="{{selected.guidesIndex}}" data-open="{{selected.guides}}" href="/how/guides">Guides</a>
          <ul>
            <li><a class="{{selected.markdown}}" href="/how/guides/markdown">Markdown</a></li>
            <li><a class="{{selected.layout-tags}}" href="/how/guides/layout-tags">Layout</a></li>
            <li><a class="{{selected.tex}}" href="/how/guides/tex">\(\TeX\)</a></li>
            <li><a class="{{selected.embedding}}" href="/how/guides/embedding">Embedding</a></li>
            <li><a class="{{selected.citations}}" href="/how/guides/citations">Citations</a></li>
          </ul>
        </li>
        <li><a class="{{selected.configureIndex}}" data-open="{{selected.configure}}" href="/how/configure">Configuring</a>
          <ul>
            <li><a class="{{selected.domain}}" href="/how/configure/domain">Domain</a></li>
            <li><a class="{{selected.analytics}}" href="/how/configure/analytics">Analytics</a></li>
            <li><a class="{{selected.comments}}" href="/how/configure/comments">Comments</a></li>
            <li><a class="{{selected.redirects}}" href="/how/configure/redirects">Redirects</a></li>
            <li><a class="{{selected.urls}}" href="/how/configure/urls">URL format</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a class="{{selected.templatesIndex}}" data-open="{{selected.templates}}" href="/templates">Templates</a>
      <ul>
        <li><a class="{{selected.diary}}" href="/templates/diary">Diary</a></li>
        <li><a class="{{selected.essay}}" href="/templates/essay">Essay</a></li>
        <li><a class="{{selected.picture}}" href="/templates/picture">Picture</a></li>
        <li><a class="{{selected.magazine}}" href="/templates/magazine">Magazine</a></li>
        <li><a class="{{selected.scrapbook}}" href="/templates/scrapbook">Scrapbook</a></li>
      </ul>
    </li>
    <li><a class="{{selected.aboutIndex}}" data-open="{{selected.about}}" href="/about">About</a>
      <ul>
        <li><a class="{{selected.who}}" href="/about/who">Who uses Blot?</a></li>
        <li><a class="{{selected.news}}" href="/about/news">News</a></li>
        <li><a class="{{selected.source-code}}" href="/about/source-code">Source code</a></li>      
        <li><a class="{{selected.status}}" href="/about/status">Status</a></li>      
        <li><a class="{{selected.contact}}" href="/about/contact">Contact</a></li>
      </ul>
    </li>
    <li><a class="{{selected.developersIndex}}" data-open="{{selected.developers}}" href="/developers">Developers</a>
      <ul>
       <li><a class="{{selected.how-blot-works}}" href="/developers/how-blot-works">How Blot works</a></li>
       <li><a class="{{selected.rendering-templates}}"  href="/developers/rendering-templates">Rendering templates</a></li>
       <li><a class="{{selected.guidesIndex}}" data-open="{{selected.guides}}" href="/developers/guides">Guides</a>
       <ul>
        <li><a class="{{selected.json-feed}}" href="/developers/guides/json-feed">JSON feed</a></li>
        <li><a class="{{selected.group-posts-by-date}}" href="/developers/guides/group-posts-by-dates">Group posts by date</a></li>
        <li><a class="{{selected.posts-tagged}}" href="/developers/guides/posts-tagged">All posts with a tag</a></li>
      </ul></li>
       <li><a class="{{selected.referenceIndex}}" data-open="{{selected.reference}}"  href="/developers/reference">Reference</a>
       <ul>
        <li><a class="{{selected.blog}}" href="/developers/reference/blog">Blog</a></li>
        <li><a class="{{selected.entry}}" href="/developers/reference/entry">Entry</a></li>
        <li><a class="{{selected.lists}}" href="/developers/reference/lists">Lists</a></li>
        <li><a class="{{selected.helper-functions}}" href="/developers/reference/helper-functions">Helper functions</a></li>
        <li><a class="{{selected.date-tokens}}" href="/developers/reference/date-tokens">Date tokens</a></li>
      </ul>
             </li>
      </ul>
    </li>       
    <li><a class="{{selected.notesIndex}}" href="/notes" data-open="{{selected.notes}}">Notes</a>
      <ul>
       <li><a class="{{selected.businessIndex}}" data-open="{{selected.business}}" href="/notes/business">Business</a>
        <ul>
          <li><a class="{{selected.customer-service}}" href="/notes/business/customer-service">Customer service</a></li>
          <li><a class="{{selected.marketing}}" href="/notes/business/marketing">Marketing</a></li>
          <li><a class="{{selected.project-management}}" href="/notes/business/project-management">Project management</a></li>
          <li><a class="{{selected.revenue-model}}" href="/notes/business/revenue-model">Revenue model</a></li>
        </ul>
       </li>
       <li><a class="{{selected.designIndex}}" data-open="{{selected.design}}" href="/notes/design">Design</a>
        <ul>
          <li><a class="{{selected.aesthetic}}" href="/notes/design/aesthetic">Aesthetic</a></li>
          <li><a class="{{selected.irritating-websites}}" href="/notes/design/irritating-websites">Irritating websites</a></li>
          <li><a class="{{selected.sign-up}}" href="/notes/design/sign-up">Sign up page</a></li>
          <li><a class="{{selected.templates}}" href="/notes/design/templates">Testhetic</a></li>
        </ul>
               </li>
       <li><a class="{{selected.politicsIndex}}" data-open="{{selected.politics}}" href="/notes/politics">Politics</a>
<ul>
          <li><a class="{{selected.censorship}}" href="/notes/politics/censorship">Censorship</a></li>
          <li><a class="{{selected.open-source}}" href="/notes/politics/open-source">Open source</a></li>
        </ul>
               </li>
       <li><a class="{{selected.programmingIndex}}" data-open="{{selected.programming}}" href="/notes/programming">Programming</a>
<ul>
          <li><a class="{{selected.front-end-philosophy}}" href="/notes/programming/front-end-philosophy">Front-end philosophy</a></li>
          <li><a class="{{selected.generating-titles}}" href="/notes/programming/generating-titles">Generating titles</a></li>
          <li><a class="{{selected.responsive-images}}" href="/notes/programming/responsive-images">Responsive images</a></li>
          <li><a class="{{selected.unlimited-bandwidth}}" href="/notes/programming/unlimited-bandwidth">Unlimited bandwidth</a></li>
          <li><a class="{{selected.why-use-a-cdn}}" href="/notes/programming/why-use-a-cdn">Slow images</a></li>
        </ul>
               </li>
      </ul>
    </li>    
    <li><a class="{{selected.support}}" style="border-bottom: none;" href="/support">Support</a></li>
  </ul>
</nav>

<script type="text/javascript">
var sidebarLinks = document.querySelectorAll('.sidebar a');

sidebarLinks.forEach(function(targetNode){
  var ignore = [
    targetNode, 
    targetNode.parentNode.parentNode.previousSibling, 
    targetNode.parentNode.parentNode.parentNode.parentNode.previousSibling];
  
  targetNode.addEventListener('click', function (e) {
    sidebarLinks.forEach(function(node){
      if (ignore.indexOf(node) > -1) return;
      node.setAttribute('data-open', '');
    });
  });

  targetNode.addEventListener('mousedown', function (e) {
    sidebarLinks.forEach(function(node){
      node.classList.remove('selected');
    });
  });
});

</script>