<li>
  <a href="/" class="lig" style="" >
<style type="text/css">
  svg#logo {fill:black;width: 18px;height: 18px;vertical-align: sub;margin-right: 6px}
  svg#logo .st0{fill:none;stroke:black;stroke-width:1.75;stroke-miterlimit:10;}
  .sidebar>li>a.lig {color: var(--text-color)}
  .sidebar>li>a.lig:hover {color: var(--accent-color)}
  a.lig:hover #logo {fill: var(--accent-color);}
  a.lig:hover #logo .st0 {stroke: var(--accent-color);}
</style>
<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 36 30" style="enable-background:new 0 0 36 30;" xml:space="preserve">
<path class="st0" d="M35.1,13.3c0,0-2.3-2.4-6.7-2.4H7.6c-4.4,0-6.7,2.4-6.7,2.4"/>
<g>
  <path d="M15.1,2.8l2.1,1.6l0.5,0.4h0.6H33c0.7,0,1.2,0.6,1.2,1.2v21c0,0.7-0.6,1.2-1.2,1.2H3c-0.7,0-1.2-0.6-1.2-1.2V4
    c0-0.7,0.6-1.2,1.2-1.2H15.1 M15.8,1H3C1.3,1,0,2.4,0,4v23c0,1.6,1.3,3,3,3h30c1.7,0,3-1.4,3-3V6c0-1.6-1.3-3-3-3H18.3L15.8,1
    L15.8,1z"/>
</g>
</svg>
<span >Blot</span>

</a></li>

<br><br>

<li>
   <a style="border-top:none" class="{{selected.howIndex}}" data-open="{{selected.how}}" href="/how">How to use Blot</a>
   <ul>
<li>
         <a class="{{selected.posts}}" data-open="{{selected.format}}" href="/how/posts">Posts</a>
         <ul>
            <li><a class="{{selected.markdown}}" href="/how/posts/markdown">Markdown</a></li>
            <li><a class="{{selected.layout-tags}}" href="/how/posts/layout-tags">Layout</a></li>
            <li><a class="{{selected.tex}}" href="/how/posts/tex">\(\TeX\)</a></li>
            <li><a class="{{selected.embedding}}" href="/how/posts/embedding">Embedding</a></li>
            <li><a class="{{selected.citations}}" href="/how/posts/citations">Citations</a></li>
         </ul>
      </li>       
      <li><a class="{{selected.pages}}" href="/how/pages">Pages</a></li> 
      <li><a class="{{selected.metadata}}" href="/how/metadata">Metadata</a></li>      
      <li>
         <a class="{{selected.sync}}" data-open="{{selected.sync}}"  href="/how/sync">Sync your folder</a>
         <ul>
            <li><a class="{{selected.dropbox}}" href="/how/sync/dropbox">Dropbox</a></li>
            <li><a class="{{selected.git}}" href="/how/sync/git">Git</a></li>
         </ul>
      </li>
      
      <li>
         <a class="{{selected.configure}}" data-open="{{selected.configure}}" href="/how/configure">Configure your site</a>
         <ul>
            <li><a class="{{selected.domain}}" href="/how/configure/domain">Domain</a></li>
            <li><a class="{{selected.analytics}}" href="/how/configure/analytics">Analytics</a></li>
            <li><a class="{{selected.comments}}" href="/how/configure/comments">Comments</a></li>
            <li><a class="{{selected.redirects}}" href="/how/configure/redirects">Redirects</a></li>
            <li><a class="{{selected.link-format}}" href="/how/configure/link-format">Link format</a></li>
         </ul>
      </li>
   </ul>
</li>
<li>
   <a class="{{selected.templatesIndex}}" data-open="{{selected.templates}}" href="/templates">Templates</a>
   <ul>
      <li><a class="{{selected.blog}}" href="/templates/blog">Blog</a></li>
      <li><a class="{{selected.photo}}" href="/templates/photo">Photography</a></li>
      <li><a class="{{selected.magazine}}" href="/templates/magazine">Magazine</a></li>
      <li><a class="{{selected.portfolio}}" href="/templates/portfolio">Portfolio</a></li>
      <li><a class="{{selected.reference}}" href="/templates/reference">Reference</a></li>
   </ul>
</li>
<li><a class="{{selected.questionsIndex}}" data-open="{{selected.questions}}" href="/questions">Questions</a>
   <ul>
            <li><a class="{{selected.ask}}" href="/questions/ask">Ask a question</a></li>
            <!-- <li><a class="{{selected.tags}}" href="/questions/tags">Tags</a></li> -->
</ul>

</li>
<li>
   <a class="{{selected.aboutIndex}}" data-open="{{selected.about}}" href="/about">About</a>
   <ul>
      <li><a class="{{selected.news}}" href="/about/news">News</a></li>
      <li><a class="{{selected.source-code}}" href="/about/source-code">Source code</a></li>
          <li>
         <a class="{{selected.notes}}" href="/about/notes" data-open="{{selected.notes}}">Notes</a>
         
      </li>
</ul>
      </li>

      <li >
         <a  class="{{selected.developers}}" data-open="{{selected.developers}}" href="/templates/developers"><span>Developer guide</span></a>
      </li>

<li><a class="{{selected.contact}}" href="/contact">Contact us</a></li>

