<nav>
  <div class="container">
    <input type="checkbox" name="toggle" id="toggle">
    <ul class="sidebar col-25">
      <li>
        <a class="{{selected.howIndex}}" href="/how">How to use</a>
        {{#selected.how}}
        <ul>
          <li><a class="{{selected.pages}}" href="/how/pages">Pages</a></li>
          <li><a class="{{selected.metadata}}" href="/how/metadata">Metadata</a></li>
          <li><a class="{{selected.public-files}}" href="/how/public-files">Public files</a></li>
          <li><a class="{{selected.guides}}" href="/how/guides">Guides</a></li>
          <li><a class="{{selected.clients}}" href="/how/clients">Clients</a></li>
        </ul>
        {{/selected.how}}
      </li>
      <li>
        <a class="{{selected.templates}}" href="/templates">Templates</a>
        {{#selected.templates}}
        <ul>
          <li><a class="{{selected.diary}}" href="/templates/diary">Diary</a></li>
          <li><a class="{{selected.essay}}" href="/templates/essay">Essay</a></li>
          <li><a class="{{selected.picture}}" href="/templates/picture">Picture</a></li>
          <li><a class="{{selected.magazine}}" href="/templates/magazine">Magazine</a></li>
          <li><a class="{{selected.scrapbook}}" href="/templates/scrapbook">Scrapbook</a></li>
        </ul>
        {{/selected.templates}}
      </li>
      <li><a class="{{selected.pricing}}" href="/pricing">Pricing</a></li>
      <li><a class="{{selected.support}}" href="/support">Support</a></li>
      <br>
      <li><a class="{{selected.news}}" href="/news">News</a></li>
      <li><a class="{{selected.about}}" href="/about">About</a></li>
      <li><a class="{{selected.developers}}" href="/developers">Developers</a></li>
      <li><a class="{{selected.notes}}" href="/notes">Notes</a></li>
      <li><a class="{{selected.contact}}" href="/contact">Contact</a></li>
      {{#unless user}}
      <br>
      <li><a class="{{selected.sign-up}}" href="/sign-up">Sign up</a></li>
      <li><a class="{{selected.log-in}}" href="/log-in">Log in</a></li>
      {{/unless}}
    </ul>
  </div>
</nav>