<overlay>

  <a href="/" class="close">×</a>

  <video id="player" playsinline controls>
    <source src="/videos/publishing-with-blot.mp4" type="video/mp4" />
  </video>
</overlay>


<link
  rel="stylesheet"
  data-skip-inline="true"
  href="/css/plyr.css?cache={{cacheID}}&extension=.css"
/>
<script src="/js/plyr.js"></script>
<script type="text/javascript">
  var player = new Plyr("#player", {
    duration: 579,
    controls: ['play-large', 'play', 'progress', 'duration', 'current-time', 'mute', 'volume', 'fullscreen']
  });
  document
    .querySelectorAll('[href="/videos/publishing-with-blot.mp4"')
    .forEach(function(el) {
      el.onclick = function(e) {
        document.querySelector("overlay").className += "show";
        document.querySelector("video#player ").play();
        window.scrollTo(0, 0);
        e.preventDefault();
        return false;
      };
    });
</script>