<form method='post' class="account">

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <label>Select a client to synchronize your blog's folder:</label>

{{#clients}}

<label style="line-height: 1.5;margin-left:2em">
<input type="radio" name="client" style="float:left;margin: 0.3em 0 0 -1.5em" value="{{name}}" {{checked}}> <b>{{display_name}}</b><br>{{description}}</label>

{{/clients}}

<div class="buttons">
  <input class="button" type="submit" name="" value="Select this client">
  <a href="/">Cancel</a>
</div>

</form>