<form method='post' {{^setup}}class="account"{{/setup}} {{#setup}}style="padding:20px 0"{{/setup}}>

  {{#setup}}
  <input type="hidden" name="setup" value="true">
  {{/setup}}

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  {{#client}}
  <p>The folder for <b>{{blog.title}}</b> is synchronized by <b>{{display_name}}</b>. If you would like to switch to another client, you can do so without disruption. Blot will transfer the contents of your folder automatically.
  </p>

  <hr>

  {{/client}}

  <p style="margin:0 0 2rem;max-width:475px">Please choose a client for <b>{{blog.title}}</b>. The client synchronizes the files in your folder with Blot. Note that you can switch to a different client at any point.</p>

  <label>Clients</label>

<style type="text/css">
.client-select {max-width:475px;margin-bottom: 0;padding: 10px 0;/*border-top:1px solid rgba(0,0,0,0.05);*/}
.client-select:hover {background: rgba(0,0,0,0.03);cursor: pointer;}
</style>
{{#clients}}

<label class="client-select" style="line-height: 1.5;padding-left:2.5rem;text-transform:none;font-size:inherit;letter-spacing:inherit">
<input type="radio" name="client" style="float:left;margin: 0.3em 0 0 -1.75rem" value="{{name}}" {{checked}}> <b>{{display_name}}</b><br>{{description}}</label>

{{/clients}}
  
<div class="buttons">
  <input class="button" type="submit" name="" value="Select this client">
  {{#setup}}
  <a href="/">Skip</a>
  {{/setup}}
  {{^setup}}
  <a href="/">Cancel</a>
  {{/setup}}
</div>

</form>