{{> head}}
{{> header}}

<div class="w-right-offset">

  <form method="POST">

    <input type="hidden" name="email" value="{{email}}" />

    <div class="measure pr5 mb4">
      
      You’re about to log in as <span class="yellow">{{email}}</span>
      <br><br>
      {{^error}}
      Please enter your password below or <input type="submit" class="link" name="reset" value="reset your password"> if you’ve forgotten it.
      {{/error}}

      {{#error}}
      <div class="red" style="margin:-0.6rem;border:none">
      That was not your password. Would you like to <input type="submit" class="link" name="reset" value="reset your password">?
      </div>
      {{/error}}

    </div>

  </form>

  <form style="max-width:18rem" method="POST">

  <label class="pt3 db" for="email">Your password</label>
  <input type="hidden" name="then" value="{{then}}" />
  <input type="hidden" name="email" value="{{email}}" />
  <input class="w-100 mt1 mb3 br2 pa2 ba b--black-30" id="password" type="password" name="password" autofocus/>

  <input type="submit" class="sans-serif submit button pv2 ph4 mt4" style="position:relative;top:-4px" value="Log in"  />
  </form>
</div>
{{> footer}}