{{> header}}

<style type="text/css">
  .inner-wrapper {max-width: 60rem;margin: 0 auto}
  .inner-wrapper > * {max-width: {{main_width}};}
  .container > .wide {max-width: 100%;}
  .wide img {display: block;margin-left: auto;margin-right: auto}
  h1 {margin: 80px 0}
</style>

<div class="container">

  <div class="inner-wrapper">

   <!--  <br>
  <div style="text-transform: uppercase;font-weight: 600;font-size: 13px">
    {{#menu}}
    <a href="{{url}}">{{label}}</a>&nbsp;&nbsp;&nbsp;
    {{/menu}}
  </div>

 -->

  {{{entry.titleTag}}}

    <div style="max-width:none;margin-bottom: 3rem;font-size: 14px;border-top: 1px solid #dadce0;padding-top: 0.35rem">
  <a href="/"><img src="{{avatar}}" style="float:left;margin-right:0.5rem;vertical-align:bottom;border-radius:10rem;max-width: 2rem;max-height: 2rem;width: auto;height: auto;"> 
  {{title}}<br> </a><span style="opacity: 0.3"> {{entry.date}}</span> {{#tags}}&bull; <a href="/tagged/{{tag}}">{{tag}}</a>{{/tags}}</div>


  {{#entry}}
    {{{body}}}

    <Br />
    {{> pluginHTML}}
  {{/entry}}
</div>
</div>

{{> footer}}
