{{{appCSS}}}

body {
  font: normal 16px / 1.5 sans-serif;
  margin: 0;
  padding: 0;
  color: #111
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden !important;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  top: 8em;
  padding:0 3.66em
}

.gallery .entry {display: inline-block;vertical-align: top;width: 320px;white-space: normal;
}

img {max-width: 100%;height: auto;}

.clear {width: 100%;display: block;clear: both;}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-size: 16px;
  margin: 26px 0
}

h1 {font-size: 20px;font-family: sans-serif;line-height: 1.3}

a {color: inherit;text-decoration: none;}

blockquote {color: #585858;margin-left: 52px}

hr {width: 100%;border: none;border-bottom: 1px solid rgba(0,0,0,0.15)}

.date {font-family: Menlo, monospace;
  margin:1em 0;color: #aaa;font-size: 13px}


#header {padding: 4em;font-size: 14px;}
#header a {padding: 0.5em;margin: 0 0.5em;border: 1px solid transparent}
#header a:hover {border-color: #000}

#title {font-size: 30px;float: right;position:relative;top: -1em;padding: 0.25em}

.avatar {
  width:36px;
  {{#roundAvatar}}
  border-radius:50%;
  {{/roundAvatar}}
  position:absolute;
  top:-3px;
  left:-48px
}

.entry {font-size:14px;padding: 1em;color: #777}
.entry h1:first-of-type {margin-top: 0.3em}

.contents {margin: 0 4em 0 8em;max-width: 800px}

.caption {
  font: 14px / 1.4333 sans-serif;
  color: gray;
  display: block;
  margin: 0 0 13px 0
}

.contents a {border-bottom: 1px solid black}
.margin a {font-weight: normal;}

.videoContainer {margin: 1em 0}