<h1>Default template</h1>

<ul>
  <li><a href="http://preview.default.magazine.blot.im">Preview</a></li>
</ul>

<p>The default template is designed for a wide range of posts. It features an index page which displays the whole of each post, in a feed, with links to the full posts.</p>

<a href="http://preview.default.magazine.blot.im/brief-encounters-with-jean-frédéric-maximilien-de-waldeck"><img src="/templates/default/one.png"></a>

<a href="http://preview.default.magazine.blot.im/search?q=polar+bears"><img src="/templates/default/two.png"></a>

<ul>
  <li><a href="/folders/bjorn.zip">Download the folder</a></li>
  <li><a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/default">View the source</a></li>
</ul>


<a href="https://publicdomainreview.org/about/">Public Domain Review</a>
<p>Founded in 2011, The Public Domain Review is an online journal and not-for-profit project dedicated to the exploration of curious and compelling works from the history of art, literature, and ideas.</p>

<a href="">Download folder</a>
<a href="">Preview folder</a>
