<h1>Default</h1>
<p class="back-link"><a href="/templates">View all templates</a></p>

<p>Designed for short posts, photos and links</p>

<ul>
  <li><a href="http://preview.default.magazine.blot.im">Preview</a></li>
  <li><a href="/sign-up">Use this template</a></li>
</ul>

<p><a href="http://preview.default.magazine.blot.im/brief-encounters-with-jean-frédéric-maximilien-de-waldeck"><img src="/templates/default/one.png"></a></p>

<p>The Default template is designed for a wide range of posts. It features an index page which displays each post in full.</p>

<p><a href="http://preview.default.magazine.blot.im/search?q=polar+bears"><img src="/templates/default/two.png"></a></p>

<p>View the <a href="https://github.com/davidmerfield/Blot/tree/master/app/templates/latest/default">source code for the Default template</a>.</p>

<h2>About the folder</h2>

<p><a href="https://publicdomainreview.org/about/">The Public Domain Review</a> is an online journal and not-for-profit project dedicated to the exploration of curious and compelling works from the history of art, literature, and ideas.</p>