<div class="navigation-container">
  <input type="checkbox" name="toggle" id="toggle">
  <div class="navigation">

    <a href="/" class="index cursor-tracking light">{{title}}</a>

    <div class="collapse">

      <span class="spacer"></span>
      
      {{#menu}}
      <a href="{{{url}}}" class="menu cursor-tracking light {{active}}">{{label}}</a>
      {{/menu}}

      <span class="expander"></span>

      {{#pagination}}
      <span class="page_marker">Page {{current}} of {{total}}</span>
      {{^infinite_scroll}}
  		<a class="menu cursor-tracking light" {{#previous}}href="/page/{{previous}}"{{/previous}}>&larr;&puncsp; Previous</a>
  		<a class="menu cursor-tracking light" {{#next}}href="/page/{{next}}"{{/next}}>Next &puncsp;&rarr;</a>
      {{/infinite_scroll}}
      {{/pagination}}

      {{#entry}}
      {{^page}}
      <a class="menu cursor-tracking light" {{#next}}href="{{{url}}}"{{/next}}>&larr;&puncsp; Previous</a>
  		<a class="menu cursor-tracking light" {{#previous}}href="{{{url}}}"{{/previous}}>Next &puncsp;&rarr;</a>
      <span class="spacer" style="margin:0 0 0 1.3rem"></span>
      <a class="menu cursor-tracking light" href="/?">Close &puncsp;✕</a>
      {{/page}}
      {{/entry}}
    </div>
  </div>
  <label for="toggle">—<br>—<br>—</label>
</div>