{{> header}}

<style type="text/css">
  
   
    table {
      width: 100%; 
      height: 100%;
      display: block;
    }

    table tbody, table thead { display: block; }

    table thead {
      text-align: center;
      width: calc(100% - 15px);
      height: 28px;
      line-height: 26px;
      padding-right: 15px;
    }


    tr {
      display: block;
      width: 100%;
      height: 30px;
      margin: 0;
      margin-top: 1px;
      margin-bottom: 1px;
      box-sizing: border-box;
    }

    th, td {
      width: calc(20% - 10px);
      display: inline-block;
      text-align: left;
    }

    td.thumbnail {width: 2rem}
    td.title {width: 50%}

    .vrow p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      color: #666;
    }

td.thumbnail img {
  max-width: 2rem;max-height: 2rem;width:auto;height: auto;
}

input[type=radio] {display: none;}
.filter {list-style-type: none;padding: 0;display: flex;}
.filter label {cursor: pointer;padding:{{spacing_size}}px;margin:{{spacing_size}}px;background:#eee}
</style>


<div style="padding: {{spacing_size}}px;margin: {{spacing_size}}px;">  <form action="/search" method="get">
    <input type="text" autofocus placeholder="Search" name="q" style="border-radius: 9px;border:2px solid #eee;font-size:18px;padding:12px;min-width: 300px">
  </form>

  <br>
  
  <style type="text/css">
    {{#allTags}}
    input[id={{slug}}]:checked ~ a:not([data-tags*={{slug}}]) {color:grey;}
    input[id={{slug}}]:checked ~ .filter label[for={{slug}}] {color:grey;}
    {{/allTags}}
  </style>

  {{#allTags}}
  <input type="radio" id="{{slug}}" name="tags">
  {{/allTags}}
    

  <ul class="filter">
  {{#allTags}}
  <li>
    <label for="{{slug}}">{{tag}}</label>
  </li>
  {{/allTags}}
  </ul>

  <br>
  <br>

  {{#archives}}
  <input type="radio" id="{{year}}" name="years">
  {{/archives}}

  <style type="text/css">
  {{#archives}}
    input[id="{{year}}"]:checked ~ a:not([data-year*="{{year}}"]) {color:grey;}
    {{/archives}}
  </style>
  <ul class="filter">

  {{#archives}}
  <li>
    <label for="{{year}}">{{year}}</label>
  </li>
  {{/archives}}
  </ul>


  <table >
    <thead></thead>
    <tbody id="hyperlist" class="container"></tbody>
  </table>
<!-- 
<tr>
    <td style="width:2rem"></td>
<td>
      <span class="title">{{title}}</span>
</td>

<td>
    <span class="date">{{date}}</span>
  </td>
    <td><span class="tags">{{#tags}}{{tag}} {{/tags}}</span></td>
<td>
  <a href="{{{url}}}" data-tags="{{#tags}} {{slug}} {{/tags}}" data-year="{{#formatDate}}YYYY{{/formatDate}}" style="display: flex;width: 100%;text-decoration: none;color: inherit;">.
  </a>
</td>

 -->  

<script type="text/javascript" src="{{#asset}}/hyperlist.js{{/asset}}" async defer></script>
<script type="text/javascript" src="{{#asset}}/virtual.js{{/asset}}" async defer></script>

{{> footer}}