{{> header}}

<style type="text/css">
  
input[type=radio] {display: none;}
.filter {list-style-type: none;padding: 0;display: flex;}
.filter label {cursor: pointer;padding:{{spacing_size}}px;margin:{{spacing_size}}px;background:#eee}
</style>
<div style="padding: {{spacing_size}}px;margin: {{spacing_size}}px;">

  <form action="/search" method="get">
    <input type="text" placeholder="search" name="q" style="border-radius: 9px;border:2px solid #eee;font-size:18px;padding:12px;min-width: 300px">
  </form>

  <br>
  
  <style type="text/css">
    {{#allTags}}
    input[id={{slug}}]:checked ~ a:not([data-tags*={{slug}}]) {color:grey;}
    input[id={{slug}}]:checked ~ .filter label[for={{slug}}] {color:grey;}
    {{/allTags}}
  </style>

  {{#allTags}}
  <input type="radio" id="{{slug}}" name="tags">
  {{/allTags}}
    

  <ul class="filter">
  {{#allTags}}
  <li>
    <label for="{{slug}}">{{tag}}</label>
  </li>
  {{/allTags}}
  </ul>

  <br>
  <br>

  {{#archives}}
  <input type="radio" id="{{year}}" name="years">
  {{/archives}}

  <style type="text/css">
  {{#archives}}
    input[id="{{year}}"]:checked ~ a:not([data-year*="{{year}}"]) {color:grey;}
    {{/archives}}
  </style>
  <ul class="filter">

  {{#archives}}
  <li>
    <label for="{{year}}">{{year}}</label>
  </li>
  {{/archives}}
  </ul>

  {{#archives}}
  {{#months}}
  {{#entries}}
  <a href="{{{url}}}" data-tags="{{#tags}} {{slug}} {{/tags}}" data-year="{{#formatDate}}YYYY{{/formatDate}}" style="display: flex;width: 100%;text-decoration: none;color: inherit;">
    <span class="thumbnail">    <img style="max-width: 2rem;max-height: 2rem;width:auto;height: auto;" src="{{{thumbnail.small.url}}}" class="pre-loaded" onload="this.className+=' loaded';" />
    <noscript>  
    <img src="{{{url}}}">
    </noscript>
</span>
    <span class="title">{{title}}</span>
    <span class="date">{{date}}</span>
    <span class="tags">{{#tags}}{{tag}} {{/tags}}</span>

</span>
  </a>
  {{/entries}}
  {{/months}}
  {{/archives}}
</div>

{{> footer}}