<head>
    <meta charset="utf-8">
    <title>{{> title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{> description}}">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="{{> title}}">
    <meta name="twitter:description" property="og:description" itemprop="description" content="{{> description}}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{title}}" href="{{{blogURL}}}{{{feedURL}}}">{{#avatar}}
    <link rel="icon" href="{{{avatar}}}" type="image/x-icon">
    {{/avatar}}<link rel="stylesheet" href="{{{cssURL}}}">
</head>