
<div style="padding: 11px 20px;margin:0 0;max-width: 500px">
  <p>The folder for <b>{{blog.title}}</b> syncs with <b>{{client.display_name}}</b>. You can choose another way and Blot will transfer the contents of your folder automatically so you can pick up where you left off.
  </p>

  <p>How would you like to sync the folder for <b>{{blog.title}}</b>? </p>
</div>


  


<style type="text/css">

button[name="client"] {max-width:475px;margin-bottom: 0;padding: 10px 0;border-top:1px solid rgba(0,0,0,0.05);text-align: left;display: block;width: 100%;color:#0070e8;padding: 11px 20px;}
button[name="client"] b {
  display: block;
}
button[name="client"]:after {
  content: "→";
  float: right;
}
button[name="client"]:hover {background: rgba(0,0,0,0.03);cursor: pointer;}
</style>

{{#clients}}
{{^checked}}
<form method='post' style="padding:0 20px;max-width: 500px">

  {{#setup}}
  <input type="hidden" name="setup" value="true">
  {{/setup}}

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

  <button type="submit" name="client" value="{{name}}">
   {{display_name}}
  </button>

</form>
{{/checked}}
{{/clients}}

<div class="buttons" style="padding: 0 20px">
  {{#setup}}
  <a href="{{{base}}}">Set up later</a>
  {{/setup}}
  {{^setup}}
  <a href="{{{base}}}">Cancel</a>
  {{/setup}}
</div>