<h1>Contact</h1>

<p>Please email us:</p>

<p>
  <a id="text_element" href="mailto:contact@blot.im">contact@blot.im</a>
  <button id="copier" onclick="copyToClipboard('text_element')">Copy</button>
</p>

<style type="text/css">
  #copier {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
    padding: 4px 8px;
  }
  #copier.copied {
    color: var(--secondary-accent-color);
    border-color: var(--secondary-accent-color);
  }

  #copier:before {
    content: "";
    width: 1em;
  height: 1em;
  display: inline-flex;
  margin-right: 0.3em;
  position: relative;
  top: 2px;
  background-color: var(--text-color);
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect width='14' height='14' x='8' y='8' rx='2' ry='2'/%3E%3Cpath d='M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2'/%3E%3C/svg%3E");
  }
  #copier.copied:before {
    background-color: var(--secondary-accent-color);
    
  }
  </style>
<script type="text/javascript">
  function copyToClipboard(elementId) {
    // Create an auxiliary hidden input
    var aux = document.createElement("input");

    // Get the text from the element passed into the input
    aux.setAttribute("value", document.getElementById(elementId).innerHTML);

    // Append the aux input to the body
    document.body.appendChild(aux);

    // Highlight the content
    aux.select();

    // Execute the copy command
    document.execCommand("copy");

    // Remove the input from the body
    document.body.removeChild(aux);
    document.querySelector("#copier").innerHTML = "Copied";
    document.querySelector("#copier").classList.add("copied");
  }
</script>
