<h1>Example sites</h1>
{{#featured}}
<ul id="featured" class="clients">
  {{#sites}}
  <li>
    <a target="_blank" rel="noopener" href="{{{link}}}">
      <span class="pic" style="background-position:-{{x}}px -{{y}}px;"></span>
      <span style="flex-grow: 1;"> 
        <span class="color-on-hover" style="color:var(--accent-color)">{{name}}</span>
        <span style="font-size: var(--small-font-size);color:var(--light-text-color);display:block">{{bio}} </span>
      </span>
      {{> chevron}}
    </a>
  </li>
  {{/sites}}
</ul>
{{/featured}}

<style>
    #featured li a span.pic {
      width:{{featured.thumbnail_width}}px;
      height:{{featured.thumbnail_width}}px;
      background: var(--light-background-color) url('{{#cdn}}{{{featured.sprite}}}{{/cdn}}');
      background-size: {{featured.width}}px;
    }
</style>