<h1 style="margin-bottom: 0;margin-top: 2em">Examples</h1>

<p style="font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    margin: 0 auto;
    text-align: center;max-width: 500px">A few of the people who have sites made with Blot.</p>
<br><br>
  {{#featured.length}}

  <div class="module">
<ul class="who">
    {{#featured}}
      <li>
        <span class="contents"> 
          <span class="imag">
          <a target="_blank" rel="noopener" href="{{{link}}}">
          {{#favicon.coordinates}}
            <span style="display:block;background:url('{{#cdn}}/images/featured.png{{/cdn}}');background-size: {{background_width}}px;
    background-position:-{{x}}px -{{y}}px;width:{{width}}px;height:{{height}}px;border-radius: 100px"></span>
    {{/favicon.coordinates}}
        </a>
          
          </span>
          <span class="tooltip" style="text-align: left;">
            <a target="_blank" rel="noopener" href="{{{link}}}"><span class="a" style="color:{{color}};">{{name}}</span></a> {{bio}}.
    <br>
            <span class="uses" style="font-size: 12px">Joined Blot in {{joined}} &bull; <!-- Updated last month  --><!-- <br>
               <a href="{{{link}}}"><span class="a" style="color:{{color}};">{{host}}</span></a> with  --> <!-- &bull; --> Uses {{#template.custom}}a custom{{/template.custom}}{{^template.custom}}the 
              <a href="{{#template.custom}}/templates{{/template.custom}}{{^template.custom}}/templates/{{template.slug}}{{/template.custom}}"><span class="a" style="color:{{color}};">{{template.label}}</span></a>
          {{/template.custom}} template</span>

          </span>
        </span>
      </li>
    {{/featured}}  
  </ul>  


</div>
    {{/featured.length}}
