<section style="display: flex;">

    <section style="flex-basis: 390px;flex-grow: 0;margin-right: 6em;">
        <p style="margin-top: 0;">Blot turns a folder into a website. Files inside your folder becomes posts. Drag-and-drop to publish.</p><p>There’s no interface, just files and folders, so you can use your favorite tools. Write your blog with vim or Microsoft Word. Publish your photos from Lightroom. Work on your site with others using Google Docs.</p>
        <p>Blot is a lazy way to create a website. A gentle way to learn a little more about the web. Our templates make it possible to create a beautiful website. The source code is dedicated to the public domain.</p>
        <!-- <p class="sub-link"><a href="/pricing"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm4.879-2.773 4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559V5.442a.25.25 0 0 1 .379-.215Z"></path></svg>Watch the video</a></p> -->
        <!-- We're not a startup and we have no investors, only customers. We've been in business for a decade and we plan to stick around as long as possible.  -->
        <p>We aim to make a tool that’s fast, dependable and helps you make the internet more beautiful.</p>
        <br>
        <p class="sub-link focus"><a href="/sign-up">
            Create a website   </a>

    </p></section>

    <section style="flex-basis: 390px;background: #000;flex-grow: 0;border-radius: 16px;overflow: hidden;">
        {{> video}}
    </section>  
        
</section>