<section style="display: flex;">

    <section class="intro" style="max-width: 400px;">

        <p style="margin-top: 0;">Blot turns a folder into a website. Files become posts on your site. Drag-and-drop to publish.</p>
        
        <p>There’s no interface, just files. So you can use your favorite tools to work on your site. Focus on creating.</p>
        
        <p>Write your blog with your favorite text editor. Vim or Microsoft Word, both work with Blot. Publish your photos from Lightroom. Work on your site with others using Google Docs or git.</p>
    
        <div style="margin-top:30px">
            <p><a href="/how"><span class="icon-book" style="margin-right: 8px;"></span>Learn how to use Blot</a></p> 
            
             <p><a href="/watch"><span class="icon-play" style="margin-right: 8px;"></span>Watch demonstration (6:25)</a></p> 
            
            
            <a class="button-with-icon" href="/sites/sign-up" >
                <span class="icon-plus"></span>
                Create site
              </a>
        </div>
    </section>
</section>