<h1>Pricing</h1>

<p style="border: 1px solid;border-radius: 12px;padding: 24px;border-color: #eeeeec;">
  <span style="/*! font-size:var(--large-font-size); */">{{price}}</span> 
  <span style="font-size:var(--medium-font-size);/*! color:var(--medium-text-color) */">per month per site</span>
</p>

<p>There's one plan. Hosting, support and access to all of Blot's features is included. You can cancel at any point. You can host as many sites as you like.
  </p>
<a href="/sites/sign-up" style="font-size:14px;margin-top:24px;display:  inline-block;border-radius: var(--border-radius);background-color: var(--accent-color);color:var(--background-color);padding:0.5em 0.75em;font-weight: 600;">
  <svg style="fill:currentColor;vertical-align: middle;position:relative;top:-0.1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z"></path></svg>
  Create site
</a>

<br><br><br>

<details open>
  <summary>Why does Blot cost money?</summary>
  <p>
    Your subscription covers the cost of hosting your site. We are entirely funded by our customers. There is no advertising and we have no investors. 
  </p>
</details>

<details>
  <summary>Can I host Blot on my own server?</summary>  
  <p>
    Yes, Blot’s <a href="/source-code">source code</a> is available under the AGPL license.
  </p>
  </details>

  <details>
    <summary>Can I pay annually instead of monthly?</summary>  
    <p>
      Yes, after you have <a href="/sign-up">signed up for Blot</a> you can switch your billing interval
      from once-per-month to once-per-year on the
      <a href="/account/subscription">subscription page</a>.
    </p>
    </details>


    <details>

  <summary>Subscription renewals</summary>
<p>
  If you pay for Blot annually, we will email you one week before your
  subscription is renewed to give you time to cancel or update
  your payment details. If you forget to cancel,
 <a href="/support">contact us</a> and we'll refund your payment.
</p>
    </details>
    
<details>
  <summary>Alternatives to Blot?</summary>

<p>
  <strike><a rel="nofollow" href="http://900dpi.com/">900dpi</a></strike
  >, <strike><a rel="nofollow" href="https://amb-1.com">Amb-1</a></strike
  >, <a rel="nofollow" href="https://asocialfolder.com/">asocialfolder</a>,
  <strike
    ><a rel="nofollow" href="https://www.boxfolio.com/">Boxfolio</a></strike
  >, <strike><a rel="nofollow" href="http://brace.io/">Brace</a></strike
  >, <strike><a rel="nofollow" href="http://calepin.co/">Calepin</a></strike
  >, <a rel="nofollow" href="http://cloudcannon.com/">Cloud Cannon</a>,
  <a rel="nofollow" href="http://droppages.com/">Droppages</a>,
  <strike><a rel="nofollow" href="http://dropplets.com/">Dropplets</a></strike
  >, <strike><a rel="nofollow" href="http://duet.to/">Duetto</a></strike>,
  <strike><a rel="nofollow" href="http://fargo.io/">Fargo</a></strike
  >, <strike><a rel="nofollow" href="https://www.harp.io/">Harp</a></strike
  >, <a rel="nofollow" href="https://www.kissr.com/">Kissr</a>,
  <a rel="nofollow" href="https://montaigne.io">Montaigne</a>,
  <strike><a rel="nofollow" href="http://markbox.io/">Markbox</a></strike
  >,
  <strike><a rel="nofollow" href="https://www.pancake.io/">Pancake</a></strike
  >,
  <strike
    ><a rel="nofollow" href="https://www.paperplane.io/">Paperplane</a></strike
  >,
  <a rel="nofollow" href="https://quotion.co/">Quotion</a>,
  <strike><a rel="nofollow" href="http://scriptogr.am/">Scriptogram</a></strike
  >, <a rel="nofollow" href="http://www.site44.com/">Site44</a>,
  <strike><a rel="nofollow" href="https://www.sitebox.io/">Sitebox</a></strike
  >, <strike><a rel="nofollow" href="http://skrivr.com/">Skrivr</a></strike
  >,
  <strike
    ><a rel="nofollow" href="https://www.smallvictori.es/"
      >Small Victories</a
    ></strike
  >, <strike><a rel="nofollow" href="https://www.synkee.com/">Synkee</a></strike
  >,
  <strike><a rel="nofollow" href="http://updog.co/">Updog</a></strike>
</p>
</details>
<details>

  <summary>Cancel my subscription?</summary>
<p>
  You can cancel your subscription on the
  <a href="/account/subscription">account page</a>. You can choose to
  <a href="/account/subscription/delete">delete your account</a> immediately, or
  at the end of your billing period.
</p>
</details>


<details>
  <summary>Bandwidth and storage limits?</summary>
<p>
  There is a soft limit of a terabyte of bandwidth + storage combined per year, per
  site. If you exceed this, we will ask you to meet the cost of hosting your
  site, or we will help you set up Blot on your own server. Note that your
  site is not affected by
  <a
    rel="nofollow"
    href="https://apps.google.com/supportwidget/articlehome?hl=en&article_url=https%3A%2F%2Fsupport.google.com%2Fa%2Fanswer%2F7338880%3Fhl%3Den&assistant_event=welcome&assistant_id=mega-bot-shared-drive&product_context=7338880&product_name=UnuFlow&trigger_context=a"
    >Google Drive</a
  >
  or
  <a
    rel="nofollow"
    href="https://www.dropbox.com/help/security/banned-links#traffic"
    >Dropbox’s</a
  >
  traffic limits because Blot hosts the contents of your folder on its own
  server.
</p>

  </details>
</details>
<details>

  <summary>Payment processing</summary>
<p>
  Blot uses <a rel="nofollow" href="https://stripe.com/">Stripe</a> and <a rel="nofollow" href="https://paypal.com/">PayPal</a> to process
  subscription payments.
</p>
</details>

<details>
  <summary>Exporting your site</summary>
  <p>
    If you decide to stop using Blot, you can export your site to the Wordpress format, which is useful for migrating a site to another platform.
  </p>
  </details>


  <style>
   
   /* wrap each details in a border with radius
    animate the height of the details when opened

   */



/* instead of the standard triangle, use a '+' symbol which rotates to a 'x' when the detail is open */

details {
  margin-bottom: 6px;

}
details summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  padding-left: 1em;
}

details p {
  margin-left: 16px;
}

details summary::before {
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj48cGF0aCBkPSJNNC43IDEwYy0uMiAwLS40LS4xLS41LS4yLS4zLS4zLS4zLS44IDAtMS4xTDYuOSA2IDQuMiAzLjNjLS4zLS4zLS4zLS44IDAtMS4xLjMtLjMuOC0uMyAxLjEgMGwzLjMgMy4yYy4zLjMuMy44IDAgMS4xTDUuMyA5LjdjLS4yLjItLjQuMy0uNi4zWiI+PC9wYXRoPjwvc3ZnPg==") no-repeat;
  background-size: 14px;
  width: 14px;
  height: 14px;
  opacity: 0.5;
  position: absolute;
  left: -1px;
  top: 5px;
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.2s;
}

details[open] summary::before {
  transform: rotate(90deg);
}


@keyframes open {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

  </style>