<h1>Pricing</h1>

<p style="font-size: 16px;"><span style="font-size:24px;">{{price}}</span>&thinsp; <span style="color:var(--medium-text-color)">per month per site</span></p>

  
    <p>Includes hosting and support. You can cancel at any point.
    </p>

    <p>
        <a class="bordered-button" href="/sign-up">Create a site</a></p>

       
        <br><Br>
            
<h2>Why does Blot cost money?</h2>

<p>
  So that Blot can operate in your interests alone, rather than those of
  advertisers or investors. Your subscription pays for the servers which host
  your site.
</p>


<h2>Can I host Blot on my own server?</h2>

<p>
  Yes, Blot’s <a href="/about/source-code">source code</a> is dedicated to the
  public domain.
</p>

<h2>Can I pay annually instead of monthly?</h2>
<p>
  Yes, once you have signed up for Blot you can switch your billing interval
  from once per month to once per year on the
  <a href="/account/subscription">subscription page</a>.
</p>

<h2>Subscription renewals</h2>
<p>
  If you pay for Blot annually, we will email you one week before your
  subscription is renewed to give you time to cancel your subscription or update
  your billing information. If you forget to cancel in time,
  <a href="/support">contact support</a> and we'll issue a refund.
</p>

<h2>Canceling your subscription</h2>
<p>
  You can cancel your subscription on the
  <a href="/account/subscription">account page</a>. You can choose to
  <a href="/account/subscription/delete">delete your account</a> immediately, or
  wait until the end of your billing period.
</p>


<h2>Payment processing</h2>
<p>
  Blot uses <a rel="nofollow" href="https://stripe.com/">Stripe</a> and <a rel="nofollow" href="https://paypal.com/">PayPal</a> to process
  subscription payments.
</p>