<h1>Source code</h1>

<p>Blot's source code is dedicated to the public domain. You can download a copy of the code, view changes and contribute patches.</p>

<p>If you have found a bug, please <a href="/support">contact us</a>.</p>



<h2>Roadmap</h2>

<p>We are still actively working on Blot. You can see our <a href="/about/news">recent work</a> and <a href="/about/news">what we have planned</a> on our news page.</p>

<h2>Changelog</h2>

<p>We continue to improve Blot. You can see our <a href="/about/news">recent work</a> on the updates page.</p>
