<h1>Source code</h1>

<p>Blot's source code is available under the AGPL license. You can download a copy of the code, view changes and contribute patches.</p>

<p>If you have found a bug, please <a href="/support">contact us</a>.</p>


<a href="https://github.com/davidmerfield/blot" style="font-size:14px;margin-top:24px;display:  inline-block;border-radius: var(--border-radius);background-color: var(--accent-color);color:var(--background-color);padding:0.5em 0.75em;font-weight: 600;">
    View source
  </a>

<h2>Project roadmap</h2>

<p>We are still actively working on Blot. You can see our <a href="/about/news">recent work</a> and <a href="/about/news">what we have planned</a> on our news page.</p>

<h2>Changelog</h2>

<p>We continue to improve Blot. You can see our <a href="/about/news">recent work</a> on the updates page.</p>
