<h1>Support</h1>

<div style="max-width: 500px;border:1px solid #eeeeec;border-radius: 12px;">
  <p style="margin:0;padding:24px;border-bottom: 1px solid #eeeeec;">Please email us:<br>
    <a id="text_element" href="mailto:contact@blot.im">support@blot.im</a> &nbsp; 
    <button class="copier" onclick="copyToClipboard('text_element')"> 
      Copy</button>
</p>
<p style="margin:0;padding:24px;border-bottom: 1px solid #eeeeec;">Read <a href="/how">how to use Blot</a></p>
<p style="margin:0;padding:24px; ">Ask and answer <a href="/questions">questions</a></p>
  
</div>



<script type="text/javascript">
  function copyToClipboard(elementId) {
    // Create an auxiliary hidden input
    var aux = document.createElement("input");

    // Get the text from the element passed into the input
    aux.setAttribute("value", document.getElementById(elementId).innerHTML);

    // Append the aux input to the body
    document.body.appendChild(aux);

    // Highlight the content
    aux.select();

    // Execute the copy command
    document.execCommand("copy");

    // Remove the input from the body
    document.body.removeChild(aux);
    document.querySelector("[onclick*='" + elementId + "']").innerHTML = 'Copied';
    document.querySelector("[onclick*='" + elementId + "']").classList.add("copied");
  }
</script>

