<h1>Support</h1>

<div style="max-width: 500px;border:1px solid #eeeeec;border-radius: 12px;">
  <p style="margin:0;padding:24px;border-bottom: 1px solid #eeeeec;">Please email us:<br>
    <a id="text_element" href="mailto:contact@blot.im">support@blot.im</a> &nbsp; 
    <button class="copier" onclick="copyToClipboard('text_element')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path><path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path></svg> 
      Copy</button>
</p>
<p style="margin:0;padding:24px;border-bottom: 1px solid #eeeeec;">Read <a href="/how">how to use Blot</a></p>
<p style="margin:0;padding:24px; ">Ask and answer <a href="/questions">questions</a></p>
  
</div>



<script type="text/javascript">
  function copyToClipboard(elementId) {
    // Create an auxiliary hidden input
    var aux = document.createElement("input");

    // Get the text from the element passed into the input
    aux.setAttribute("value", document.getElementById(elementId).innerHTML);

    // Append the aux input to the body
    document.body.appendChild(aux);

    // Highlight the content
    aux.select();

    // Execute the copy command
    document.execCommand("copy");

    // Remove the input from the body
    document.body.removeChild(aux);
    document.querySelector("[onclick*='" + elementId + "']").innerHTML = 'Copied';
    document.querySelector("[onclick*='" + elementId + "']").classList.add("copied");
  }
</script>

