<h1>Tools</h1>

<style type="text/css">
  #tools p a {display: inline-block;border-radius: 2em;background: #eee}
</style>
<div id="tools">

<p>
  Because Blot has no interface other than files and folders, you can use your
  favorite tools to publish your website.
</p>

<h2>Note takers</h2>

<p>
<a href="http://example.com">NVAlt</a>
<a href="http://example.com">Obsidian</a>

</p>

<h2>Markdown editors</h2>
<p>
<a href="http://example.com">iA Writer</a>
<a href="http://example.com">Bear</a>
</p>

<h2>Text editors</h2>
<p>
<a href="">Sublime text</a>
<a href="">Atom</a>

<h2>Git clients</h2>

<p>
<a href="">Working copy</a>
</p>
</div>

