<!--
























                                               "He that reproveth a scorner getteth
                                                to himself shame: and he that rebuketh
                                                a wicked man getteth himself a blot."


                                                Proverbs 9.





























-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/tachyons.css">
    <link rel="stylesheet" href="/css/finder.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="sans-serif f6 lh-copy">
