[Unit]
Description=Redis persistent key-value storage
After=network.target

[Service]
User=redis
Group=redis
Type=forking
PIDFile={{redis.pid}}
ExecStart={{redis.server}} {{redis.config}}
ExecStop={{redis.cli}} -p 6379 shutdown
Restart=always

[Install]
WantedBy=multi-user.target