<!DOCTYPE html>
<html>
  {{> head}}

  <body>
    {{> header}}
    <div class="container">
      {{#entry}}

        {{{html}}}


        {{#date}}

          <hr />

          <p>Published on {{date}}.</p>
        {{/date}}

        {{#tags.length}}
          <p>Tagged:
          {{#tags}}
           <a href="/tagged/{{slug}}">{{name}}</a> &nbsp;
          {{/tags}}</p>
        {{/tags.length}}

        <br />

        {{> pluginHTML}}

      {{/entry}}
    </div>
    {{> footer}}
  </body>
</html>
