<div class="pv4 lh-copy">
  
  <div class="">
  </div>

  {{#menu}}
  <div class="nav fixed measure-narrow lh-title">

    <a href="/" class="mv4 db" id="logo" style="color:black">Blot is a blogging platform which<br> turns a folder into a website.</a>
    <a href="/" class="db mv1 {{index}}">Introduction</a>
    <a href="/help" class="db mv1 {{help}}">Documentation</a>
    {{#help}}
      <a href="/help" class="db pl2">Getting started</a>
      <a href="/help" class="db pl2">Guides and resources</a>
      <a href="/help" class="db pl2">Templates</a>
      <a href="/help" class="db pl2">Account and billing</a>
      <br>
    {{/help}}
    <a href="/contact" class="db mv1 {{contact}}">Contact</a>
    <a href="/log-in" class="db mv1 {{log-in}} ">Log in</a>
    <a href="/sign-up" class="db mv1 {{sign-up}}">Sign up</a>
    </div>
  </div>
  {{/menu}}

</div>