{{> head}}
{{> header}}
<div class="measure fr">



<div class="mt4 i pt2">Why does Blot exist?</div>
<div class="mb3">So that you can use your favorite app to write your blog.</div>

<div class="mt4 i pt2">How does it work?</div>
<div class="mb3">Blot turns a folder in your Dropbox into a website. Files you put inside are published automatically. Images, text files, Markdown, bookmarks, Word Documents™ (<a href="/help/getting-started">and more</a>) become blog posts.</div>

<div class="mv3"></div>

<img src="/images/thu.jpg" class="mv3">

<div class="mv3">Blot comes with seven templates. They are designed to be easy to customize. If you know a little HTML and CSS you can <a href="/help/templates">create your own template</a> from scratch.</div>
  
<div class="mv3">A site costs <a href="/sign-up">$30 per year</a>. Hosting is included and there are no ads. Here’s a handful of the sites hosted by Blot:</div>

       <ul class="gallery">

    <a href="https://ylukem.com" target="_blank">
            ylukem.com
            <small>Blot’s Photo</small>
            <span class="new">New</span>
          </a>

    <a href="https://www.alexgibson.nyc/" target="_blank">
            alexgibson.nyc
            <small>Blot’s Default</small>
          </a>

          <a href="https://www.failuretolerated.com/" target="_blank">
            failuretolerated.com
            <small>a custom</small>
          </a>

          <a href="https://www.theliminal.co/" target="_blank">
            theliminal.co
            <small>a custom</small>
          </a>

          <a href="https://tomascat.com/" target="_blank">
            tomascat.com
            <small>Blot’s Essay</small>
          </a>

          <a href="http://kiefer.design/" target="_blank">
            kiefer.design
            <small>a custom</small>
          </a>

          <a href="https://www.okaythree.com/" target="_blank">
            okaythree.com
            <small>Blot’s Rosa</small>
          </a>

          <a href="https://www.kristianhjelle.com" target="_blank">
            kristianhjelle.com
            <small>a custom</small>
          </a>

          <a href="https://www.kitchinspirations.net/" target="_blank">
            kitchinspirations.net
            <small>Blot’s Blank</small>
          </a>

          <a href="https://invariances.org/" target="_blank">
            invariances.org
            <small>Blot’s Console</small>
          </a>

          <a href="https://www.storystadium.com" target="_blank">
            storystadium.com
            <small>Blot’s Grid</small>
          </a>

          <a href="https://mrfris.by/" target="_blank">
            mrfris.by
            <small>a custom</small>
          </a>

          <a href="https://bleachedsleet.com/" target="_blank">
            bleachedsleet.com
            <small>Blot’s Mono</small>
          </a>

          <a href="https://www.inthemargins.ca/" target="_blank">
            inthemargins.ca
            <small>a custom</small>
          </a>

          <a href="https://www.pavlusoffice.com/" target="_blank">
            pavlusoffice.com
            <small>a custom</small>
          </a>

          <a href="https://charleslehman.com/" target="_blank">
            charleslehman.com
            <small>Blot’s Default</small>
          </a>

          <a href="https://www.tristan.fyi/" target="_blank">
            tristan.fyi
            <small>Blot’s Mira</small>
          </a>

          <br>
        </ul>

        <div class="mv3">Blot is a blogging platform. It turns a folder in your Dropbox into a website. Files you put inside are published automatically. There’s no interface. Just files and folders.</div>

  <div class="mt4 i pt2">Why does Blot cost money?</div>
  <div class="mb3">The fee covers the cost of hosting your site, tending to the servers, fixing bugs and answering your questions. Most importantly, it forces me to make decisions in your best interests, as opposed to those of an investor or advertiser.</div>

  <div class="mt4 i pt2">Is Blot actively maintained?</div>
  <div class="mb3">Yes, see <a href="/changes">what I’ve done</a> and <a href="/changes">what I plan to do</a>.</div>

  <div class="mt4 i pt2">Does Blot censor certain types of content?</div>
  <div class="mb3">No, Blot will not censor anything that is legal in the United States.</div>

  <div class="mt4 i pt2">Can I host Blot on my own server?</div>
  <div class="mb3">Yes, <a href="https://github.com/davidmerfield/Blot">Blot's entire source code</a> is dedicated to the public domain and available to you. Please note, Blot is over-engineered for individual use. You’ll probably have more luck with <a href="https://jekyllrb.com/">Jekyll</a> until I simplify Blot's installation and configuration process.</div>

  <div class="mt4 i pt2">What are the alternatives to Blot?</div>
  <div class="mb3">There are lots of Dropbox-based blogging platforms. Most don’t appear to generate revenue and they tend to shut down. Many lack features like auto-sync, support for other file types, or have strict formatting requirements. Here’s the full list:</div>

  <style type="text/css">li {width:30%;display:inline-block;}ul{padding:0}</style>
  <ul>
  <li><a rel="nofollow" href="https://amb-1.com">Amb-1</a></li>
  <li><a rel="nofollow" href="https://asocialfolder.com/">asocialfolder</a></li>
  <li><a rel="nofollow" href="https://www.boxfolio.com/"><strike>Boxfolio</strike></a></li>
  <li><a rel="nofollow" href="http://brace.io/"><strike>Brace</strike></a></li>
  <li><a rel="nofollow" href="http://calepin.co/"><strike>Calepin</strike></a></li>
  <li><a rel="nofollow" href="http://cloudcannon.com/">Cloud Cannon</a></li>
  <li><a rel="nofollow" href="http://droppages.com/">Droppages</a></li>
  <li><a rel="nofollow" href="http://dropplets.com/"><strike>Dropplets</strike></a></li>
  <li><a rel="nofollow" href="http://fargo.io/"><strike>Fargo</strike></a></li>
  <li><a rel="nofollow" href="https://www.harp.io/"><strike>Harp</strike></a></li>
  <li><a rel="nofollow" href="https://www.kissr.com/">Kissr</a></li>
  <li><a rel="nofollow" href="http://markbox.io/"><strike>Markbox</strike></a></li>
  <li><a rel="nofollow" href="https://www.pancake.io/"><strike>Pancake</strike></a></li>
  <li><a rel="nofollow" href="http://scriptogr.am/"><strike>Scriptogram</strike></a></li>
  <li><a rel="nofollow" href="http://www.site44.com/">Site44</a></li>
  <li><a rel="nofollow" href="https://www.sitebox.io/"><strike>Sitebox</strike></a></li>
  <li><a rel="nofollow" href="http://skrivr.com/"><strike>Skrivr</strike></a></li>
  <li><a rel="nofollow" href="https://www.smallvictori.es/">Small Victories</a></li>
  <li><a rel="nofollow" href="https://www.synkee.com/"><strike>Synkee</strike></a></li>
  <li><a rel="nofollow" href="http://duet.to/">Duetto</a></li>
  <li><a rel="nofollow" href="http://900dpi.com/"><strike>900dpi</strike></a></li>
  </ul>

  <div class="mt4 i pt2">How long has Blot been around?</div>
  <div class="mb3">I started working on Blot in the summer of 2013. Many thanks to Blot’s earliest customers for their help and their patience. In particular thank you Frank, Julie, Josh, Chris, Johannes and Angie.</div>

  <div class="mt4 i pt2">How long do you plan to run Blot?</div>
  <div class="mb3">Decades, at least.</div>
  <br><br><br>

  <img src="/images/bullshit.jpg" title="— Everything written symbols can say has already passed by. They are like tracks left by animals. That is why the masters of meditation refuse to accept that writings are final. The aim is to reach true being by means of those tracks, those letters, those signs — but reality itself is not a sign, and it leaves no tracks. It doesn’t come to us by way of letters or words. We can go toward it, by following those words and letters back to what they came from. But so long as we are preoccupied with symbols, theories, and opinions, we fail to reach the principle.
  — But when we give up symbols and opinions, aren’t we left in the utter nothingness of being?
  — Yes."  width="40%" style="margin-left:-1em" class="mv5">
</div>
{{> footer}}

