</div>
<div class="navigation">
    <div>{{#allEntries}}{{#last}}{{#formatDate}}YYYY{{/formatDate}}{{/last}}{{/allEntries}}–{{#allEntries}}{{#first}}{{#formatDate}}YYYY{{/formatDate}}{{/first}}{{/allEntries}}</div>
    <div>
    {{#menu}}
    {{! the comma is wrapped in span tag so we can target it using CSS
        and hide it for specific links, typically '/search' }}
    <a href="{{url}}">{{label}}</a>{{^last}}<span>,</span> {{/last}}
    {{/menu}}
    </div>
    <div style="text-align:center">
      {{#pagination}} Page {{current}} of {{total}} {{/pagination}}
      {{^pagination}} All {{entries.length}} entries {{/pagination}}
    </div>
    <div style="text-align:right">
      {{#entry}}
      <a href="/">Close 
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 29 29" enable-background="new 0 0 29 29" xml:space="preserve">
        <polygon fill="rgba(0,0,0,.4)" points="17.063,14.708 28.678,3.093 26.291,0.708 14.678,12.323 3.063,0.708 0.677,3.093 12.291,14.708 
  0.677,26.323 3.063,28.708 14.677,17.094 26.291,28.708 28.678,26.323 "></polygon>
      </svg>
    </a>
      {{/entry}}
      {{^entry}}
      <a {{#pagination.previous}}href="/page/{{pagination.previous}}"{{/pagination.previous}}> &larr; Previous</a>
      &nbsp;&nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a {{#pagination.next}}href="/page/{{pagination.next}}"{{/pagination.next}}>Next &rarr;</a>
      {{/entry}}
    </div>
  </div>
<script src="{{#asset}}/script.js{{/asset}}" type="text/javascript"></script>
</body>
</html>