<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{> title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{> description}}">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{title}}" href="/feed.rss">{{#avatar}}
  <link rel="icon" href="{{{avatar}}}" type="image/x-icon">
  {{/avatar}}
  <link rel="stylesheet" href="{{#asset}}/style.css{{/asset}}">
</head>

<body class=" {{#entry}}{{^page}} dim {{/page}}{{/entry}} ">

  <div class="navigation">
    <a href="/">{{title}}</a>
    <div style="position:relative">
      {{#menu}}
      <a href="{{url}}" class="{{active}}">{{label}}</a>{{^last}}<span>,&hairsp;</span> {{/last}}
      {{/menu}}
    </div>
    <div style="text-align:left">
      <span style="margin-left:2.6rem;font-feature-settings: 'tnum';
-webkit-font-feature-settings: 'tnum';
-moz-font-feature-settings: 'tnum';">
      {{#pagination}} Page {{current}} / {{total}} {{/pagination}}
      {{^pagination}} {{#entry}} {{^page}} All {{entries.length}} entries {{/page}} {{/entry}} {{/pagination}}
      </span>
    </div>
    <div style="text-align:right">
      {{#entry}}
      <a href="/">Close &nbsp;
      <svg version="1.1" id="Layer_1" style="position:relative;top:1px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 29 29" enable-background="new 0 0 29 29" xml:space="preserve">
        <polygon fill="rgba(0,0,0,.4)" points="17.063,14.708 28.678,3.093 26.291,0.708 14.678,12.323 3.063,0.708 0.677,3.093 12.291,14.708 
  0.677,26.323 3.063,28.708 14.677,17.094 26.291,28.708 28.678,26.323 "></polygon>
      </svg>
    </a>
      {{/entry}}
      {{^entry}}
      <a {{#pagination.previous}}href="/page/{{pagination.previous}}"{{/pagination.previous}}> &larr; Previous</a>
      &nbsp;&nbsp;
      <a {{#pagination.next}}href="/page/{{pagination.next}}"{{/pagination.next}}>Next &rarr;</a>
      {{/entry}}
    </div>
  </div>

  <div class="yield">