<div class="navigation">
  <a href="/">{{title}}</a>
  <div style="position:relative">
    {{#menu}}
    <a href="{{url}}" class="{{active}}">{{label}}</a>{{^last}}<span>,&hairsp;</span> {{/last}}
    {{/menu}}
  </div>
  <div style="text-align:left">
    <span style="margin-left:2.6rem;font-feature-settings: 'tnum';
-webkit-font-feature-settings: 'tnum';
-moz-font-feature-settings: 'tnum';">
      {{#pagination}} Page {{current}} / {{total}} {{/pagination}}
      {{^pagination}} {{^entry.page}} {{allEntries.length}} entries {{/entry.page}} {{/pagination}}
      </span>
  </div>
  <div style="text-align:right">
    {{#entry}}
    <a href="/" onclick="return lastIndexPage()" >Close &nbsp;
      
    </a>
    {{/entry}}
    {{^entry}}
    <a {{#pagination.previous}}href="/page/{{pagination.previous}}"{{/pagination.previous}}> &larr; Previous</a>
    &nbsp;&nbsp;
    <a {{#pagination.next}}href="/page/{{pagination.next}}"{{/pagination.next}}>Next &rarr;</a>
    {{/entry}}
  </div>
</div>