<div class="navigation">
  <a href="/">{{title}}</a>
  <div>
    {{#menu}}
    <a href="{{url}}" class="{{active}}">{{label}}</a>{{^last}}<span>,&hairsp;</span>{{/last}}
    {{/menu}}
  </div>
  <div class="align-left tabular-numerals shift-margin">
    {{#pagination}} Page {{current}} / {{total}} {{/pagination}}
    {{^pagination}} {{^entry.page}} {{allEntries.length}} posts {{/entry.page}} {{/pagination}}
  </div>
  <div class="align-right">
    {{#entry}}
    <a href="/" onclick="return lastIndexPage()" >Close &nbsp;</a>
    {{/entry}}
    {{^entry}}
    <a class="previous" {{#pagination.previous}}href="/page/{{pagination.previous}}"{{/pagination.previous}}>Previous</a>
    &nbsp;&nbsp;
    <a class="next" {{#pagination.next}}href="/page/{{pagination.next}}"{{/pagination.next}}>Next</a>
    {{/entry}}
  </div>
</div>