{{> header}}

<div class="index">
  {{#entries}}
  <a href="{{url}}">

    {{#thumbnail.large}}
    <span class="thumbnail" style="display:block;height:0;padding-bottom:{{ratio}};overflow:hidden">
      <img src="{{{url}}}" class="pre-loaded" onload="this.className='loaded'" />
      <noscript>  
      <img src="{{{url}}}">
      </noscript>
    </span>
    {{/thumbnail.large}}

    {{^thumbnail.large}}
    <span class="text">
      <span class="title">{{title}}</span>
      <span class="date">{{date}}</span>
    </span>
    {{/thumbnail.large}}

  </a>
  {{/entries}}
</div>

{{> footer}}