<p>
  <b>404 log</b>
</p>
<p>
  Don't worry if some of these requests look unusual: bots may be responsible.
</p>

{{^list.length}}
<hr />
<br />
<p>Nobody has requested a missing page on your blog!</p>
<br />
{{/list.length}}

{{#list}}
<hr />
<form method="post" action="?_csrf={{ csrftoken }}">
  <button class="link" name="ignore" value="{{{url}}}">Ignore</button>&nbsp;
  <a class="link" href="{{{base}}}/redirects#{{ url }}">Redirect</a>
</form>

<p>
  <a class="link" href="{{ blog.url }}{{ url }}" target="_blank">
    <code>{{ url }}</code>
  </a>
  <br />
  {{ time }}
</p>
{{/list}}

<br /><br />

{{#has_ignored}}{{^ignored.length}}
<p>
  <a href="?ignored=true">Show ignored 404s</a>
</p>
{{/ignored.length}}{{/has_ignored}}

{{#ignored.length}}
<p>
  <a href="?">Hide ignored 404s</a>
</p>
{{/ignored.length}}

{{#ignored}}
<hr />
<form method="post" action="?_csrf={{ csrftoken }}">
  <button class="button small" name="unignore" value="{{{url}}}">
    Unignore
  </button>
  <a class="link" href="/settings/urls/redirects#{{ url }}">Redirect</a>
</form>
<p>
  <a href="{{ blog.url }}{{ url }}"
    ><code>{{ url }}</code></a
  >
</p>
{{/ignored}}
