<div style="padding:20px">
  <p style="margin-top:0">
    <b>404 log</b>
  </p>
  <p>Don't worry if some of these requests look unusual: bots may be responsible.</p>

  {{^list.length}}
  <hr>
  <br>
  <p>Nobody has requested a missing page on your blog!</p>
  <br>
  {{/list.length}}

  {{#list}}
  <hr style="margin:4px 0">
  <form style="display:block;float:right;z-index:10;" method='post' action='?_csrf={{csrftoken}}'>
    <button class="link" name="ignore" value="{{{url}}}">Ignore</button>&nbsp;
    <a class="link" href="{{{base}}}/services/redirects#{{url}}" style="text-decoration:none">Redirect</a>
  </form>
  <p style="margin:0">
    <a class="link" href="{{blog.url}}{{url}}" target="_blank">
      <code>{{url}}</code>
    </a>
    <br>
    <span style="font-size:12px;color:#aaa">{{time}}</span>
  </p>
  {{/list}}

  <br><br>

  {{#has_ignored}}{{^ignored.length}}
  <p>
    <a href="?ignored=true">Show ignored 404s</a>
  </p>
  {{/ignored.length}}{{/has_ignored}}

  {{#ignored.length}}
  <p>
    <a href="?">Hide ignored 404s</a>
  </p>
  {{/ignored.length}}

  {{#ignored}}
  <hr>
  <form style="display:block;float:right;z-index:10;" method='post' action='?_csrf={{csrftoken}}'>
    <button class="button small" name="unignore" value="{{{url}}}">Unignore</button>
    <a class="link" href="/settings/urls/redirects#{{url}}" style="text-decoration:none">Redirect</a>
  </form>
  <p><a href="{{blog.url}}{{url}}"><code>{{url}}</code></a></p>
  {{/ignored}}
 
 </div>
