{{> message}}

<form class="dashboard-form" method="POST">

    <input type="hidden" name="_csrf" value="{{csrftoken}}" />


<p>
  <label>
    In what order do you write your dates?<br />
    <select style="margin-top:11px" name="dateFormat">
      {{#dateFormats}}
      <option value="{{value}}" {{selected}}>{{date}}</option>
      {{/dateFormats}}
    </select>
  </label>
</p>

<p>
  <label>
    Your timezone<br />
    <select style="margin-top:11px" name="timeZone" style="max-width:300px">
      {{#timeZones}}
      <option value="{{value}}" {{selected}}>{{time}} {{value}}</option>
      {{/timeZones}}
    </select>
  </label>
</p>

<div class="buttons">
	<button type="submit">
		Save changes
	</button>
	<a href="{{{base}}}">Cancel</a>
</div>
</form>



<style type="text/css">
  form label {
    text-transform: none;
    letter-spacing: 0;
    font-size: 16px
  }

  form .line {padding-top: 16px;padding-bottom: 16px}
  p a {
    color: var(--accent-color);
    text-decoration: none
  }

  p a:hover {
    text-decoration: underline;
  }
</style>

