<p>The export file is a ZIP archive containing your folder, your dashboard settings and your templates. <!-- You can  <a href="{{{base}}}/import">import</a> this file into Blot to restore this site.--></p>

<a href="{{{base}}}/export/download" target="_blank" style="font-size:14px;margin-top:24px;display:  inline-block;border-radius: var(--border-radius);background-color: var(--accent-color);color:var(--background-color);padding:0.5em 0.75em;font-weight: 600;">
    <svg  style="fill:currentColor;vertical-align: middle;position:relative;top:-0.1em;margin-right:4px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M7.47 10.78a.749.749 0 0 0 1.06 0l3.75-3.75a.749.749 0 1 0-1.06-1.06L8.75 8.439V1.75a.75.75 0 0 0-1.5 0v6.689L4.78 5.97a.749.749 0 1 0-1.06 1.06l3.75 3.75ZM3.75 13a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z"></path></svg>
    Download export file 
</a>


<h2>Wordpress export</h2>

<p>The Wordpress export file is an XML document containing your posts and pages.</p>
<a href="{{{base}}}/export/wordpress" target="_blank" style="font-size:14px;margin-top:24px;display:  inline-block;border-radius: var(--border-radius);background-color: var(--accent-color);color:var(--background-color);padding:0.5em 0.75em;font-weight: 600;">
    <svg  style="fill:currentColor;vertical-align: middle;position:relative;top:-0.1em;margin-right:4px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M7.47 10.78a.749.749 0 0 0 1.06 0l3.75-3.75a.749.749 0 1 0-1.06-1.06L8.75 8.439V1.75a.75.75 0 0 0-1.5 0v6.689L4.78 5.97a.749.749 0 1 0-1.06 1.06l3.75 3.75ZM3.75 13a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z"></path></svg>
    Download Wordpress export
</a>


<div class="buttons">
    <a href="{{{base}}}" class="button"><span class="icon-small-chevron-right"></span> Back to dashboard</a>
  </div>