
<script type="text/javascript">
var content = document.querySelector("iframe");

var doc = document.querySelector('iframe').contentWindow.document;

// we can use this to steam changes to CSS properties to the iframe
var scriptObj = doc.createElement("script");
scriptObj.type = "text/javascript";
scriptObj.innerHTML = 'console.log("test");';
doc.body.appendChild(scriptObj);

// Listen to messages sent from the iframe which contains
// the preview of the template. We inject the script
// which sends these messages before the </body> tag of 
// all HTML pages rendered on preview subdomains.
var receiveMessage = function receiveMessage(e) {
    // Only react to messages from the preview subdomain
    // The user can click on links and load external pages
    if (e.origin !== "{{{previewOrigin}}}") return;

    // Extract the path of the page they are viewing
    let path = e.data.slice("iframe:".length);

    // Save the path they have viewed on the server
    var http = new XMLHttpRequest();
    var url = "{{{base}}}/settings";
    var params = "previewPath=" + path;
    http.open("POST", url, true);
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    http.send(params);
};

window.addEventListener("message", receiveMessage, false);
</script>



<div class="collapse-on-small-screens" >

  

  <div style="flex-basis: 50%;">

    <div style="border-radius: var(--border-radius);border: 1px solid var(--border-color);overflow: hidden;">
      

  <a class="line" href="{{{base}}}/title" >
    <span class="label">Title</span>
    <span class="center" >
      <span class="truncate" style="display: block">{{blog.title}}</span>
      {{^blog.title}}
      <span class="link">Add a title</span>{{/blog.title}}
    </span>

    {{#blog.title}}
      <span class="right" >Edit</span>
    {{/blog.title}}
    
  </a>
 
  <a class="line" href="{{{base}}}/domain" style="border-bottom: none;">
    <span class="label">Domain</span>
    <span class="center"><span style="color:var(--light-text-color);opacity: 0.75;">https://</span>{{blog.pretty.url}}</span>
    <span class="right">Edit</span>
  </a>

  

  
</div>

    
    <br>
    {{> folder}}

    


    <br>

    <div style="border-radius: var(--border-radius);border: 1px solid var(--border-color)">
      <div class="line" style="border-radius: 0 0 4px 4px;overflow: hidden;" href="{{{base}}}/template">
        <span class="label">Template</span>
        <span class="center">
          <div class="preview" style="height: 80px;width: 120px;overflow: hidden;
          position: relative;
          margin:4px 0 10px;
          box-shadow: 0 22px 64px rgba(0,0,0,.16),inset 0 1px 0 #f5f4f5,0 -1px 0 rgba(0,0,0,.11),0 1px 0 rgba(0,0,0,.26),-1px 0 0 rgba(0,0,0,.13),1px 0 0 rgba(0,0,0,.13);
          border-radius: var(--border-radius);border-radius: var(--border-radius);">
            <iframe
            id="preview"
          style="height:800px;width:1200px;background:var(--background-color);transform: scale(0.1);    transform-origin: top left;"
          src="{{{preview}}}"
          ></iframe>
          <a target="_blank" href="https://{{{blog.pretty.url}}}" style="position: absolute;top:0;left: 0;bottom: 0;right: 0;"></a>
          </div>
        </span>
        <span class="right" >Edit</span>
      </div>  
      <a class="line" href="{{{base}}}/links">
        <span class="label">Links</span>
        <span class="center">
            {{#blog.menu}}
            <span class="tablet">{{label}}</span>
            {{/blog.menu}}
            
            {{^blog.menu.length}}
            <i>Your menu is empty</i>
            {{/blog.menu.length}}
        </span>
          <span class="right" >Edit</span>
        </span>
      
      </a>
      
      <a class="line" href="{{{base}}}/photo" > 
        <span class="label" style="float:left">Photo</span>  
        {{^blog.avatar}}
        <span class="link">Choose a photo</span>
        {{/blog.avatar}}
      
        {{#blog.avatar}}
        <span class="center" style="width: 48px;height:48px;display:inline-block; vertical-align: middle;">
          <img style="max-width:48px;max-height:48px;vertical-align: baseline; display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
        </span>
        <span class="right" >Edit</span>    
          {{/blog.avatar}}
      
      </a>
    </div>
      

  <!-- 
    <a class="line" href="{{{base}}}/photo">
      <span class="label">Photo</span>
      <span class="center">

        {{^blog.avatar}}
        <span class="link">Choose a photo</span>
        {{/blog.avatar}}

        {{#blog.avatar}}
          <img style="max-width:64px;max-height:64px;margin:4px 8px 0 0;    vertical-align: baseline;
      display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
              <span class="link">Change</span>    

        {{/blog.avatar}}
      </span>
        {{#blog.avatar}}
  {{/blog.avatar}}
    </a> -->

    <!-- 
    <a class="line" href="{{{base}}}/urls" >
      <span class="label">URLs</span>
      <span class="center">{{#permalinkFormats}}{{#checked}}{{example}}{{/checked}}{{/permalinkFormats}}</span>
      <span class="right">Change</span>
    </a> -->
  </div>
  </form>

  
</div>
