<div style="display: flex">
  <div style="flex-basis:50%">
    <div>
      <p>
        <a href="{{{base}}}/title">
          Title

          {{ blog.title }}
          {{^blog.title}}
          Add a title{{/blog.title}}

          {{#blog.title}}
          Edit
          {{/blog.title}}
        </a>
      </p>
      <p>
        <a href="{{{base}}}/domain">
          Domain
          {{ blog.pretty.url }}
          Edit
        </a>
      </p>

      <p>
        <a href="{{{base}}}/photo">
          Photo
          {{^blog.avatar}}
          Choose a photo
          {{/blog.avatar}}

          {{#blog.avatar}}
          <img src="{{ blog.avatar }}" width="48" />
          Edit
          {{/blog.avatar}}
        </a>
      </p>

      <p>
        <a href="{{{base}}}/links">
          Links

          {{#blog.menu}}
          {{ label }}
          {{/blog.menu}}

          {{^blog.menu.length}}
          <i>Your menu is empty</i>
          {{/blog.menu.length}}
        </a>
      </p>
      <p>
        <a href="{{{base}}}/template">
          Template
          Edit template
      </p>
   
      <p>
        <a class="line" href="{{{base}}}/date">
          <span class="label">Date and time</span>
          <span class="center">{{ currentTime }}</span>
          <span class="right">Edit</span>
        </a>
      </p>
      <p>
        <a class="line" href="{{{base}}}/link-format">
          <span class="label">Link format</span>
          <span class="center">
            {{#permalinkFormats}}
            {{#checked}}{{ example }}{{/checked}}{{/permalinkFormats}}
          </span>
          <span class="right">Edit</span>
        </a>
      </p>
      <p>
        <a class="line" href="{{{base}}}/redirects">
          <span class="label">Redirects</span>
          <span class="link">Edit your redirect rules</span>
        </a>
      </p>
      <p>
        <a class="line" href="{{{base}}}/analytics">
          <span class="label">Analytics</span>
          <span class="link">Edit your analytics</span>
        </a>
      </p>
      <p>
        <a class="line" href="{{{base}}}/comments">
          <span class="label">Comments</span>
          <span class="link">Edit comments</span>
        </a>
      </p>
      <p>
        <a class="line" href="{{{base}}}/images">
          <span class="label">Images</span>
          <span class="link">Edit image settings</span>
        </a>
      </p>
      <p>
        <a class="line" href="{{{base}}}/typography">
          <span class="label">Typography</span>
          <span class="link">Edit your typography settings</span>
        </a>
      </p>
      <p>
        <a class="line" href="{{{base}}}/import">
          <span class="label">Import</span>
          <span class="link">Import from other platforms</span>
        </a>
      </p>
      <p>
        <a class="line" href="/dashboard/account/export">
          <span class="label">Export</span>
          <span class="center">
            <span class="link">Download this site's data</span>
          </span>
        </a>
      </p>

      <p>
        <a href="/dashboard/account/subscription/delete/blog/{{ blog.handle }}">
          Delete Delete this blog
        </a>
      </p>
    </div>
  </div>
  <div>
    <div>
      <p style="background: rgba(0, 0, 0, 0.1); padding: 0.1rem 1rem">
        <small>Visit site</small>
      </p>
    </div>

    <br />
    <div>
      {{> folder}}
    </div>
  </div>
</div>

<script src="/js/jquery.js?{{ cacheID }}"></script>
<script type="text/javascript">
  $(".plugin > label input[type=checkbox]").click(function () {
    $(this).parent().parent().parent().toggleClass("checked");
  });
  // Simple Analytics and Plausible don't require a tracking ID
  $("#selectAnalytics").change(function () {
    if (
      $(this).val() !== "None" &&
      ["SimpleAnalytics", "Plausible"].indexOf($(this).val()) === -1
    ) {
      // Cloudflare requires Token rather than Tracking ID
      if ($(this).val() == "Cloudflare") {
        $("#trackingIdInput span").text("Token:");
      } else {
        $("#trackingIdInput span").text("Tracking ID:");
      }
      $("#trackingIdInput").show();
    } else {
      $("#trackingIdInput").hide();
    }
  });
  // Trigger change event for correct state on page load
  $("#selectAnalytics").trigger("change");
</script>
