<a style="color:var(--secondary-accent-color);font-weight:600;position: absolute;top:0;padding:18px;right:0" href="https://{{blog.pretty.url}}" target="_blank">{{blog.pretty.url}} &puncsp;↗</a>

<div style="padding: 0 1.5em 0;margin: -1em -1.5em 0;">
  <!-- <a class="line" href="{{blog.pretty.url}}">
    <span class="center"><span style="color:var(--secondary-accent-color)">https://{{blog.pretty.url}}</span></span>
    <span class="right">Visit</span>
  </a> -->

  

  <a class="line" href="{{{base}}}/title" style="border-top:1px solid var(--light-border-color)">
    <span class="label">Title</span>
    <span class="center" >
      <span class="truncate" style="display: block">{{blog.title}}</span>
      {{^blog.title}}
      <span class="link">Add a title</span>{{/blog.title}}
    </span>

    {{#blog.title}}
      <span class="right" >Edit</span>
    {{/blog.title}}
    
  </a>
 
  <a class="line" href="{{{base}}}/domain" >
    <span class="label">Domain</span>
    <span class="center">{{blog.pretty.url}}</span>
    <span class="right">Edit</span>
  </a>

  

<a class="line" href="{{{base}}}/links">
  <span class="label">Links</span>
  <span class="center">
      {{#blog.menu}}
      <span class="tablet">{{label}}</span>
      {{/blog.menu}}
      
      {{^blog.menu.length}}
      <i>Your menu is empty</i>
      {{/blog.menu.length}}
  </span>
    <span class="right" >Edit</span>
  </span>

</a>

<a class="line" href="{{{base}}}/photo" > 
  <span class="label" style="float:left">Photo</span>  
  {{^blog.avatar}}
  <span class="link">Choose a photo</span>
  {{/blog.avatar}}

  {{#blog.avatar}}
  <span class="center" style="width: 48px;height:48px;display:inline-block; vertical-align: middle;">
    <img style="max-width:48px;max-height:48px;vertical-align: baseline; display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
  </span>
  <span class="right" >Edit</span>    
    {{/blog.avatar}}

</a>
<a class="line" style="border-radius: 0 0 4px 4px;border-bottom: none" href="{{{base}}}/template">
  <span class="label">Template</span>
  <span class="center">
    <img src="/images/examples/blog/0-thumb.png?hash=ec7e704a168fcb55606041c4809a6519&amp;ext=.png" style="width:65px;height:48px;border-radius: 4px;margin: 4px 0 0;" width="65" height="48">
  </span>
  <span class="right" >Edit</span>
</a>  
  
      </div>
</section>

<div class="collapse-on-small-screens" style="margin-top: -2em;">

  <div style="flex-basis: 50%;">
    {{> folder}}
  </div>

  <div style="flex-basis: 50%;">



    <div style="background-color: var(--light-background-color);border-radius: 4px;">
        <a class="line" href="{{{base}}}/title">
      <span class="label">Settings</span>
      
    </a>
    



  <a class="line" href="{{{base}}}/services/date">
    <span class="label">Date and time</span>
    <span class="center">{{currentTime}}</span>
    <span class="right" >Edit</span>    
  </a>
  
  <a class="line" href="{{{base}}}/services/link-format">
    <span class="label">Link format</span>
    <span class="center">
      {{#permalinkFormats}}
      {{#checked}}{{example}}{{/checked}}{{/permalinkFormats}}
    </span>
    <span class="right" >Edit</span>
  </a>

  <a class="line" href="{{{base}}}/services/redirects">
    <span class="label">Redirects</span>
    <span class="link">Edit your redirect rules</span>
  </a>
  

  <a class="line" href="{{{base}}}/services">
    <span class="label">Services</span>
    <span class="link">Analytics, comments</span>
  </a>


  <a class="line" href="{{{base}}}/images">
    <span class="label">Images</span>
    <span class="link">Edit image settings</span>
  </a>


  <a class="line" href="{{{base}}}/images">
    <span class="label">Typography</span>
    <span class="link">Edit typography settings</span>
  </a>
  <a class="line" href="{{{base}}}/services/import">
    <span class="label">Import</span>
    <span class="link">Import from elsewhere</span>
  </a>


  <a class="line" href="/dashboard/account/export">
    <span class="label">Export</span>
    <span class="center">
      <span class="link">Export this site</span>
    </span> 
  </a>

 <a  style="border-bottom: none;" class="line" href="{{{base}}}/delete">
   <span class="label">
      Delete
    </span>
    <span class="link">
      Delete this site
    </span>
  </a>
  <!-- 
    <a class="line" href="{{{base}}}/photo">
      <span class="label">Photo</span>
      <span class="center">

        {{^blog.avatar}}
        <span class="link">Choose a photo</span>
        {{/blog.avatar}}

        {{#blog.avatar}}
          <img style="max-width:64px;max-height:64px;margin:4px 8px 0 0;    vertical-align: baseline;
      display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
              <span class="link">Change</span>    

        {{/blog.avatar}}
      </span>
        {{#blog.avatar}}
  {{/blog.avatar}}
    </a> -->

    <!-- 
    <a class="line" href="{{{base}}}/urls" >
      <span class="label">URLs</span>
      <span class="center">{{#permalinkFormats}}{{#checked}}{{example}}{{/checked}}{{/permalinkFormats}}</span>
      <span class="right">Change</span>
    </a> -->
  </div>
  </form>

  
</div>
