<form method="post" action="{{{base}}}" enctype="multipart/form-data">
  <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
  <input type="hidden" name="redirect" value="{{{base}}}/{{ subpage }}" />

  <p>
    Each post is assigned a URL according to the format below. You can override
    a post's URL in its <a href="/how/metadata">metadata</a>. If you change your
    URL format, Blot redirects the old URLs automatically.
  </p>

  {{#permalinkFormats}}
  <hr />
  <label class="format">
    <input
      type="radio"
      name="permalink.format"
      value="{{ value }}"
      {{checked}} />
    {{ name }}

    {{#custom}}Read the
    <a href="/how/configure/link-format"
      >guide to creating a custom URL format</a
    >.{{/custom}}

    {{^custom}}
    <code>{{ example }}</code
    >{{/custom}}

    {{#custom}}
    <input
      type="text"
      name="permalink.custom"
      value="{{ blog.permalink.custom }}" />
    {{/custom}}
  </label>
  {{/permalinkFormats}}

  <br />
  <div class="buttons">
    <button type="submit">Save changes</button>
    <a href="{{{base}}}">Cancel</a>
  </div>
</form>
