{{> sub_nav}}


<form method='post' action='/update?_csrf={{csrftoken}}' enctype='multipart/form-data' style="max-width:660px">

  {{> status}}

<button id="addLink" class="button secondary right" >Add a link</button>

<p>The links and pages below appear in your blog's menu.</p>

<Br />

<section id="menu" class="fullRow sortable"  style="max-width:100%">

{{#blog.menu}}
  <section id="link_{{id}}" class="{{#isPage}}isPage{{/isPage}}">
    <span class="handle">&#9776;</span>
    <input type="hidden" name="blog.menu.{{index}}.id" value="{{id}}"/ >
    <label>
      {{#isPage}}
        <a target="_blank" href="{{blog.blogURL}}{{url}}">
          <span class="link">{{label}}</span> page
        </a>
      {{/isPage}}
      <input placeholder="Label" type="text" name="blog.menu.{{index}}.label" value="{{label}}"/>
    </label>
    <label>
     <input type="text" name="blog.menu.{{index}}.url" value="{{url}}"/>
    </label>
    <button class="button small secondary removeLink" class="right">Delete</button>
    <div class="clear"></div>
  </section>
{{/blog.menu}}
</section>

<Br />


<input class="button" type="submit" value="Save changes"/>

</form>