{{> sub_nav}}

<form method='post' action='?_csrf={{csrftoken}}'>

  {{> status}}

  <fieldset style="max-width:80%">

  {{#plugins}}
    <style type="text/css">.plugin {width: 100%;padding:0;margin:0;}</style>
    <div class="plugin {{checked}}">

      <label style="line-height:1.3">
        <input type='hidden' value='off' name='{{id}}'>
        <input style="display:block;float:left;margin:0.2em 1em 0.2em 0" type="checkbox" name="{{id}}" {{checked}}/>
        <div style="cursor:pointer">{{{description}}}</div>
      </label>

      <div class="pluginOptions" style="padding-left:2em">
        {{{formHTML}}}
      </div>

    </div>
    <hr>
    {{/plugins}}

    <div class="clear"></div>

    <input class="button" type="submit" value="Save changes" style="margin:0 0 2em;"/>

  </fieldset>

</form>
