<div class="line plugins" >
    <span class="label">External services</span>
    <span class="center">
      {{#plugins}}
      <div class="plugin {{checked}}">
        <label style="margin:0;display:flex">
          <span style="">
            <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
            <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
            &nbsp;
          </span>
          <span style="">{{{description}}}</span>
        </label>
        <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
          {{{formHTML}}}
        </div>
      </div>
      {{/plugins}}
    </span>
  </div>