{{> form-header}}

<input type="hidden" name="redirect" value="{{{base}}}/services" />

{{#categories.Services}}
{{> plugin-row}}
{{/categories.Services}}
</form>

<script type="text/javascript">
// Simple Analytics and Plausible don't require a tracking ID
document.getElementById('selectAnalytics').addEventListener('change', function() {
  if (this.value !== 'None' && ['SimpleAnalytics', 'Plausible'].indexOf(this.value) === -1) {
    // Cloudflare requires Token rather than Tracking ID
    if (this.value == 'Cloudflare') { 
      document.getElementById('trackingIdInput').querySelector('span').textContent = "Token:";
    } else { 
      document.getElementById('trackingIdInput').querySelector('span').textContent = "Tracking ID:";
    }
    document.getElementById('trackingIdInput').style.display = 'block';
  } else {
    document.getElementById('trackingIdInput').style.display = 'none';
  }
});

// Trigger change event for correct state on page load
document.getElementById('selectAnalytics').dispatchEvent(new Event('change'));

//  when any of the input checkboxes are toggled
var checkboxes = document.querySelectorAll('.plugin input[type=checkbox]');
checkboxes.forEach(function(checkbox) {
  checkbox.addEventListener('change', function() {
    // serialized and submit the form in the background as a POST request
    var form = this.closest('form');
    var el = this;

    // do nothing
    // if the checkbox was checked, add the checked class to the parent div which has the class 'plugin'
    // otherwise remove it
    if (el.checked) {
      el.closest('.plugin').classList.add('checked');
    } else {
      el.closest('.plugin').classList.remove('checked');
    }

    var xhr = new XMLHttpRequest();
    xhr.open('POST', form.action);
    xhr.onload = function() {
      // success callback
    };
    xhr.onerror = function() {
      // error callback
    };
    xhr.send(new FormData(form));
  });
});

</script>