
{{#categories.Typography}}
<div class="line">
  <span class="label">Typography</span>

  <span class="center">
    {{#plugins}}
    <div class="plugin {{checked}}">

      <label>
        <span style="margin-right:0.5rem;display:block;float:left;position:relative;top:1px">
          <input name='plugins.{{id}}.enabled' type='hidden' value='off' >
          <input name='plugins.{{id}}.enabled' type="checkbox" {{checked}}/>
        </span>
        <span style="display:block;float:left">        {{{description}}}
        </span>
        <span class="clear"></span>
      </label>

      <div class="pluginOptions" style="clear:both;margin:0;padding-left:2em">
        {{{formHTML}}}
      </div>

    </div>
    {{/plugins}}
  </span>
</div>
{{/categories.Typography}}