<h1>About</h1>

<p>Blot is a blogging platform which adds a folder to your Dropbox and publishes files you put inside.</p>

<h2>Why does Blot exist?</h2>
<p>I wanted to write my blog posts using my favourite text editor.</p>

<h2>Why does Blot cost money?</h2>
<p>The fee covers the cost of hosting your blog, tending to the servers, fixing bugs and answering your questions. More importantly it aligns my incentives with your interests, not those of an advertiser or patron.</p>

<h2>How long has Blot been around?</h2>
<p>I started working on Blot in the summer of 2013. Blot launched a year later and has been profitable since. Many thanks to Blot's earliest customers for their suggestions and their patience. In particular thank you Frank, Julie, Josh, Chris, Johannes and Angie.</p>

<h2>How long do you plan to run Blot?</h2>
<p>Decades, at least.</p>

<h2>What are the alternatives to Blot?</h2>

<p>There are lots of Dropbox-based blogging platforms. Most don't appear to generate revenue and they tend to shut down. Many lack features like auto-sync, support for other file types, or have strict formatting requirements. Here's the full list:
  </p>

<style type="text/css">li {width:30%;display:inline-block;}</style>
<ul>
<li><a rel="nofollow" href="https://www.kissr.com/">Kissr</a></li>
<li><a rel="nofollow" href="http://droppages.com/">Droppages</a></li>
<li><a rel="nofollow" href="http://900dpi.com/"><strike>900dpi</strike></a></li>
<li><a rel="nofollow" href="https://www.sitebox.io/">Sitebox</a></li>
<li><a rel="nofollow" href="http://skrivr.com/"><strike>Skrivr</strike></a></li>
<li><a rel="nofollow" href="https://www.harp.io/"><strike>Harp</strike></a></li>
<li><a rel="nofollow" href="https://www.synkee.com/"><strike>Synkee</strike></a></li>
<li><a rel="nofollow" href="https://www.pancake.io/"><strike>Pancake</strike></a></li>
<li><a rel="nofollow" href="https://www.smallvictori.es/">Small Victories</a></li>
<li><a rel="nofollow" href="http://www.site44.com/">Site44</a></li>
<li><a rel="nofollow" href="http://cloudcannon.com/">Cloud Cannon</a></li>
<li><a rel="nofollow" href="http://scriptogr.am/"><strike>Scriptogram</strike></a></li>
<li><a rel="nofollow" href="http://brace.io/"><strike>Brace</strike></a></li>
<li><a rel="nofollow" href="http://calepin.co/"><strike>Calepin</strike></a></li>
<li><a rel="nofollow" href="https://amb-1.com">Amb-1</a></li>
<li><a rel="nofollow" href="http://fargo.io/">Fargo</a></li>
<li><a rel="nofollow" href="https://www.boxfolio.com/"><strike>Boxfolio</strike></a></li>
<li><a rel="nofollow" href="http://markbox.io/"><strike>Markbox</strike></a></li>
<li><a rel="nofollow" href="http://duet.to/">Duetto</a></li>
<li><a rel="nofollow" href="http://dropplets.com/"><strike>Dropplets</strike></a></li>
<li><a rel="nofollow" href="http://drophost.io/"><strike>Drophost</strike></a></li>
</ul><p><a href="http://cargocollective.com/">Cargo</a> is well‐made and worth checking out. If you'd like to run your blog on a server you control, consider using something like <a href="https://jekyllrb.com/">Jekyll</a>.</p>

<h2>Can I host Blot on my own server?</h2>
<p>Yes, Blot is <a href="https://github.com/davidmerfield/Blot">open source and dedicated to the public domain</a>. However, Blot is designed to host many blogs so it is over-engineered for personal use. Eventually I'd like to structure Blot such that it could be set up on a single server in a few minutes with some of its features disabled.</p>
