name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # If you ever add more node version you need
        # to replace current caching node_modules 
        # with caching of ~/.npm
        node-version: [12.16.3]
        pandoc-version: [2.11.3.2]
        redis-version: [4]
    environment: Tests
    env:
      BLOT_CACHE: false
      BLOT_DIRECTORY: /home/runner/work/Blot/Blot
      BLOT_CACHE_DIRECTORY: /home/runner/work/Blot/Blot/cache
      BLOT_DEBUG: false
      BLOT_MAINTENANCE: false
      BLOT_PRODUCTION: true
      BLOT_PROTOCOL: https
      BLOT_ENVIRONMENT: production
      BLOT_HOST: blot.development
      BLOT_ADMIN_EMAIL: ${{ secrets.BLOT_ADMIN_EMAIL }}
      BLOT_DROPBOX_APP_SECRET: ${{ secrets.BLOT_DROPBOX_APP_SECRET }}
      BLOT_DROPBOX_FULL_SECRET: ${{ secrets.BLOT_DROPBOX_FULL_SECRET }}
      BLOT_DROPBOX_TEST_ACCOUNT_APP_TOKEN: ${{ secrets.BLOT_DROPBOX_TEST_ACCOUNT_APP_TOKEN }}
      BLOT_DROPBOX_TEST_ACCOUNT_FULL_TOKEN: ${{ secrets.BLOT_DROPBOX_TEST_ACCOUNT_FULL_TOKEN }}
      BLOT_DROPBOX_TEST_ACCOUNT_ID: ${{ secrets.BLOT_DROPBOX_TEST_ACCOUNT_ID }}
      BLOT_MAILGUN_KEY: ${{ secrets.BLOT_MAILGUN_KEY }}
      BLOT_SESSION_SECRET: ${{ secrets.BLOT_SESSION_SECRET }}
      BLOT_TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.BLOT_TWITTER_ACCESS_TOKEN_KEY }}
      BLOT_TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.BLOT_TWITTER_ACCESS_TOKEN_SECRET }}
      BLOT_TWITTER_CONSUMER_KEY: ${{ secrets.BLOT_TWITTER_CONSUMER_KEY }}
      BLOT_TWITTER_CONSUMER_SECRET: ${{ secrets.BLOT_TWITTER_CONSUMER_SECRET }}

    steps:
    - name: Checkout code  
      uses: actions/checkout@v2

    - name: Set up Pandoc
      run: |
        wget https://github.com/jgm/pandoc/releases/download/${{ matrix.pandoc-version }}/pandoc-${{ matrix.pandoc-version }}-linux-amd64.tar.gz -O pandoc.tar.gz
        mkdir pandoc
        tar xvzf pandoc.tar.gz --strip-components 1 -C pandoc
        echo "./pandoc/bin/pandoc --version"
        ./pandoc/bin/pandoc --version
        echo "BLOT_PANDOC_PATH=$(pwd)/pandoc/bin" >> $GITHUB_ENV
              
    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Set up Redis
      uses: shogo82148/actions-setup-redis@v1
      with:
        redis-version: ${{ matrix.redis-version }}

    - uses: actions/cache@v2
      id: cache-node-dependencies
      with:
        path: node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles')}}
  
    - name: Install Dependencies
      if: steps.cache-node-dependencies.outputs.cache-hit != 'true'
      run: npm ci

    - name: Set up Blot
      run: |
        git config --global user.email "admin@example.com"
        git config --global user.name "Admin"
        node config/blot/setup
    
    - name: Run tests
      run: npm test