table, thead, tr {padding: 0;margin: 0;  border-collapse: collapse;}
table.bt {border-color: #ece7e4}
th {font-weight: normal;text-align: left;border-bottom: 1px solid #a09d9c}
td, th {padding:0.5rem 2rem 0.5rem 0;border-bottom: 1px solid #ece7e4;vertical-align: text-top}


a {    color: #0070c9;text-decoration: none;}
a:hover {text-decoration: underline;}
p, table {font-size: 17px;line-height: 26px;margin-top: 0.7em;margin-bottom: 1.25em;}
h1 {letter-spacing: 0.32px;
  margin-top: 35px;
  font-size: 38px;line-height: 40px;font-weight: 600}
h2 {padding-top: 48px;font-size: 32px;
    line-height: 1.09375;
    font-weight: 500;
    letter-spacing: 0.011em;}

table {width: 100%}

window {margin: 41px 0 62px}
window.folder {max-width: 400px}
