.toc{overflow-y:auto}.toc>.toc-list{overflow:hidden;position:relative}.toc>.toc-list li{list-style:none}.toc-list{margin:0;padding-left:10px}a.toc-link{color:currentColor;height:100%}.is-collapsible{max-height:1000px;overflow:hidden;transition:all 300ms ease-in-out}.is-collapsed{max-height:0}.is-position-fixed{position:fixed !important;top:0}.is-active-link{font-weight:700}.toc-link::before{background-color:#EEE;content:' ';display:inline-block;height:inherit;left:0;margin-top:-1px;position:absolute;width:2px}.is-active-link::before{background-color:#54BC4B}

.sidebar.fixed.nav {
    top:82px;
    left:41px;
    bottom: 0;
    height: auto;
  }

div.center {width: auto;float: none;}

.sidebar.fixed.nav a {line-height: 1.5}
.sidebar.fixed.nav li:last-child {margin: 0}


.formatting .main {}

.formatting .spacer {margin-bottom: 6rem}
.formatting .spacer.half {margin-bottom: 3rem}

.formatting table pre {margin: 0;padding: 0;max-width: 30rem}
.formatting table ul, table ol, table p {margin: 0;padding: 0}

.formatting td {vertical-align: top}

.formatting table.md td {padding: 1.5rem 0}

.formatting table.md td:nth-child(2),
.formatting table.md td:nth-child(4) {width: 42%;padding: 1.5rem 3rem}

.formatting table.md td:nth-child(3) {display: none;}

.formatting table.md td:nth-child(2) {background: #fdfaf8;}

.formatting table li {margin-left: 1.5rem}

.formatting .browser {padding-right: 1rem;padding-left: 1rem}
.formatting .browser p {font-size: 0.5rem;margin: 0 0 0.75rem}
.formatting .browser h1 {border-bottom: none;margin: 0.75rem 0 0;padding-bottom: 0.25rem}

.formatting .sub a {color: black}
.formatting a.sub_section {color: #a7a7a7}
.formatting a.selected {color: gold}

.formatting .sub div {
  transition-property: max-height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  overflow: hidden;
}

.formatting .sub div:not(.open) {max-height: 1.5rem;}
.formatting .sub div.open {max-height: 400px;}



.formatting table {
  border-collapse: collapse;
  width: auto;
  width: 100%
}

.formatting .tex table td {
  vertical-align: middle;
}

.formatting table td {
  padding: 0.75rem 2.25rem 0.75rem 0;
  text-align: left;
  hyphens: none; }

.formatting table td:last-child {padding-right: 0}

.formatting table th {
  font-size: 95%;
  padding: 0.75rem 0 0.75rem 0;
  line-height: 1.05;
  border-bottom: 1px solid #ccc;
}

.formatting table.symbol td:nth-child(odd):not(.not-symbol) {
  text-align: center;
  padding-right: 1rem;
  font-weight: normal;
  font-style: normal;
}

.formatting table.big-operator td:nth-child(odd) {
  font-family: KaTeX_Size1;
}

.formatting table.all-code,
.formatting table.explain td:nth-child(odd),
.formatting table.symbol td:nth-child(even) {
  font-family: 'IA Writer Duospace', monospace;
  -webkit-font-smoothing: auto;
  padding-left: 0em;
  font-size: 14px;
}

.formatting table.symbol td:nth-child(odd):not(.not-symbol),
.formatting table.symbol td.symbol {
  font-family: KaTeX_Main, KaTeX_AMS;
  font-size: 110%;
}

.formatting table.explain th {text-align: left;}


.formatting table.units td:nth-child(1), .formatting th:nth-child(1),
.formatting table.units td:nth-child(3), .formatting th:nth-child(3) {text-align: center; }

.formatting table#math-tbl  td:nth-child(6) {border-right: solid 1px; }
.formatting table#style-tbl td:nth-child(3) {
  font-size: 1.1rem;
  text-align: left;
}
.formatting table#delim td {height: 2.5em;}
.formatting .tall tr {height: 1.75em;}
.formatting .footer table { margin: auto; width: 75%;}
.formatting .footer table td {text-align: center;}



.js-toc ul, .js-toc ol {list-style-type: none!important;margin-left: 0!important}

a.toc-link {color: #a7a7a7!important}

.toc-list {
    margin: 0!important;
    padding-left: 1rem!important;
}
.toc-list  .toc-list {margin-left: -1rem!important}

a.is-active-link,
a.node-name--H2,
a.node-name--H1 {
    font-weight: 400!important;
    color: #111!important
}

.toc-link::before {display: none;}

a.node-name--H1 {margin-bottom: 3rem!important}
a.node-name--H1.is-active-link:before {display: none;}

a.is-active-link:before {
  content: "";width: 0.25rem;height: 0.25rem;background: #000;border-radius: 100%;
  position: absolute;
  left: -0.8rem;
  display: block;
  top: 0.75rem;
}

.formatting h1::before,
.formatting h2::before,
.formatting h3::before,
.formatting h4::before,
.formatting h5::before,
.formatting h6::before {
    display: block;
    content: " ";
    height: 64px;
    margin-top: -64px;
    visibility: hidden;
}

:active, :focus {outline: none}


.formatting h2, .formatting h3, .formatting h4 {margin-bottom: 0rem}

.katex      { font-size: 1em !important; }
.katex-html { margin-top: 0.3em; margin-bottom: 0.3em; }
.katex {  -webkit-font-smoothing: auto; }

.reduced    { font-size:60%; }

/*pre {  font-family: 'IA Writer Duospace', monospace;
  -webkit-font-smoothing: auto;  
  line-height: 1.5;
  font-size: .9rem;
}

code {
  font-family: 'IA Writer Duospace', monospace;
  -webkit-font-smoothing: auto;  
}*/


  /* hide native checkbox */
/*#toc input[type=checkbox] {
  position: absolute;
  opacity: 0;
} 
*/
/* by default hide all sub menus */
/*#toc ul {
  display: none;     
}
*//*
#toc label::after {
   content: ' ▼';
   font-size: 60%;
}*/
/* show children when item is checked */
/*#toc input[type=checkbox]:checked + label + ul {
  display: block;   
}
*/

/* Table of Contents, mobile version */
/* hidden on large screens */
/*#mobile-nav {
  display: none;     
  position: fixed;
}
*/
/* On small screens, switch from sidebar TOC to navicon and drop-down menu */
/*@media screen and (max-width: 767px) {
  #mobile-nav  { display: block; }
  #sidebar     { display: none;}
  .margin-note { position : absolute; top: -9999px; left: -9999px; color: black; display: block; }
  .margin-indicator:focus .margin-note { position : inherit; }
  .margin-note:hover                   { position : inherit; }
  .margin-note:focus                   { position : inherit; }
}

#mobile-menu {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: block;
  background:#fff;
  border:1px solid #aaa;
  padding-right: 3em;
}

#mobile-menu.menu-on { position : inherit; }

#mobile-nav li {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}

#mobile-nav li a { width: 60px; }
*/