<h1>Blog template</h1>

<p>
  <a href="{{{preview}}}" target="_blank">Preview this template</a><br />
  <a href="/sign-up">Use template</a>
</p>
<img src="{{#cdn}}/images/templates/blog/0-medium.png{{/cdn}}" />
<img src="{{#cdn}}/images/templates/blog/0.mobile-medium.png{{/cdn}}" />

<p>
  The <em>Blog</em> template is designed to handle a diversity of published
  material: short posts, long essays, images, links all flow together. The index
  page features your most recently published posts in full.
  {{#featured.length}}These people use the
  <em>Blog</em> template:{{/featured.length}}
</p>

<ul class="in-use">
  {{#featured}}
  <li>
    <a target="_blank" rel="noopener" href="{{{link}}}">
      {{#favicon.coordinates}}
      <span
        class="image"
        style="display:block;background:url('{{#cdn}}/images/featured.png{{/cdn}}');background-size: {{
          background_width
        }}px;
    background-position:-{{ x }}px -{{ y }}px;width:{{ width }}px;height:{{
          height
        }}px;border-radius: 100px"></span>
      {{/favicon.coordinates}}
      <span
        ><span style="color:{{ color }};text-decoration: underline;">{{
          name
        }}</span>
        {{ bio }}.</span
      >
    </a>
  </li>
  {{/featured}}
</ul>

<h2>Customize this template</h2>

<p>
  You can adjust the colors and fonts of the <em>Blog</em> template using Blot's
  template editor: there's no coding required.
</p>

<p>
  The source code of the <em>Blog</em> template is dedicated to the public
  domain, so you can make and distribute modifications to it as you please.
</p>
<p>
  <a
    href="https://github.com/davidmerfield/Blot/tree/master/app/templates/latest/blog"
    >View the source code</a
  >
</p>

<h2>About the folder</h2>
<p>
  The <a href="{{{preview}}}">preview</a> for the <em>Blog</em> template
  contains material used in the demo video for Blot. You can get a full copy of
  the source folder used to generate this site.<br /><a
    href="{{#cdn}}/templates/data/{{ folder }}.zip{{/cdn}}"
    >Download folder (.zip)</a
  >
</p>
