
<!-- <div style="background:black">
{{#all_entries}}{{/all_entries}}
{{all_entries.length}} posts. Last updated 3 hours ago.
</div>
 -->
{{! Blocks out the same height of the header at the end of the page. Useful for centering stuff}}
<div style="visibility:hidden">{{> header}}</div>

<hr style="border:none;margin:0;border-top:1px solid #f2f2f2">
<div style="padding:0.65rem 2.5rem;display:flex;color:rgba(0,0,0,.4);">

<div style="flex-grow:1">
  {{#menu}}
<a style="font-size:14px;color:inherit;text-decoration:none;margin:0.65rem" href="{{url}}">{{label}}</a>
{{/menu}}
</div>

<a style="float:right;color:inherit;font-size:14px;text-decoration:none;margin:0 1.3rem" href="/">
{{title}}
<img src="{{avatar}}">
</a>
</div>
<br>
<script>

{{{appJS}}}


var localHistory = sessionStorage.getItem('localHistory');

if (localHistory) {
  try {
  localHistory = JSON.parse(localHistory);    
  } catch (e) {
    localHistory = [];
  }
} else {
  localHistory = [];
}

localHistory = localHistory.slice(-50);
localHistory.push(window.location);
sessionStorage.setItem('localHistory', JSON.stringify(localHistory));


var articles = [{{#all_entries}}'{{{url}}}'{{^last}},{{/last}}{{/all_entries}}];
var backIndex;

localHistory.reverse().forEach(function(href, i){
  if (backIndex === undefined && articles.indexOf(href.pathname) === -1) {
    backIndex = i;
    return false;    
  }
});


function lastIndexPage () {
  window.history.go(-backIndex);
}

function randomArticle () {
  window.location = articles[Math.floor(Math.random()*articles.length)];
}


var relativeDate = (function(undefined){

  var SECOND = 1000,
      MINUTE = 60 * SECOND,
      HOUR = 60 * MINUTE,
      DAY = 24 * HOUR,
      WEEK = 7 * DAY,
      YEAR = DAY * 365,
      MONTH = YEAR / 12;

  var formats = [
    [ 0.7 * MINUTE, 'just now' ],
    [ 1.5 * MINUTE, 'a minute ago' ],
    [ 60 * MINUTE, 'minutes ago', MINUTE ],
    [ 1.5 * HOUR, 'an hour ago' ],
    [ DAY, 'hours ago', HOUR ],
    [ 2 * DAY, 'yesterday' ],
    [ 7 * DAY, 'days ago', DAY ],
    [ 1.5 * WEEK, 'a week ago'],
    [ MONTH, 'weeks ago', WEEK ],
    [ 1.5 * MONTH, 'a month ago' ],
    [ YEAR, 'months ago', MONTH ],
    [ 1.5 * YEAR, 'a year ago' ],
    [ Number.MAX_VALUE, 'years ago', YEAR ]
  ];

  function relativeDate(input,reference){
    !reference && ( reference = (new Date).getTime() );
    reference instanceof Date && ( reference = reference.getTime() );
    input instanceof Date && ( input = input.getTime() );
    
    var delta = reference - input,
        format, i, len;

    for(i = -1, len=formats.length; ++i < len; ){
      format = formats[i];
      if(delta < format[0]){
        return format[2] == undefined ? format[1] : Math.round(delta/format[2]) + ' ' + format[1];
      }
    };
  }

  return relativeDate;

})();

var dates = document.querySelectorAll('[date-from-now]');
  
dates.forEach(function(el){
  var dateStamp = parseInt(el.getAttribute('date-from-now'));
  console.log(dateStamp);
  if (isNaN(dateStamp))
    return console.log('No date parsed');
  if (Date.now() - dateStamp > 1000*60*60*24*30*3)
    return console.log('Date too old');
  var new_str = relativeDate(new Date(dateStamp));
  console.log(new_str);
  el.innerHTML = new_str;
});

document.querySelectorAll('.paginator .numbers').forEach(function(el){

      var current = {{pagination.current}};
      var start = 1;

      if (el.getAttribute('data-limit')) {
        start = current - Math.floor((parseInt(el.getAttribute('data-limit')) / 2));
        if (start < 1) start = 1;
        limit = start + parseInt(el.getAttribute('data-limit')) -1;
      } else {
        limit = {{pagination.total}};
      }

      if (limit > {{pagination.total}}) limit = {{pagination.total}};

      for (var i = start; i <= limit;i++) 
        el.innerHTML += '<a href="/page/' + i + '" class="' + (i === current) + '" id="number-template">' + i + '</a> ';
    });

</script>
</body>
</html>
