<!-- <div style="background:black">
{{#all_entries}}{{/all_entries}}
{{all_entries.length}} posts. Last updated 3 hours ago.
</div>
 -->

<script>

{{{appJS}}}

var searchInput = document.querySelectorAll('[name="q"]')[0];
var results = document.getElementById('results');

function moveFocusDown () {
  console.log('HERE');
  var focussedLink = document.querySelector('#results a:focus');
  console.log(focussedLink);
  console.log()
}

searchInput.onkeydown = function(e){
  if (e.keyCode === 40) {
    moveFocusDown();
    e.preventDefault();
    return false;
  } else if (e.keyCode === 38) {
    moveFocusUp();
    e.preventDefault();
    return false;
  }
}

searchInput.oninput = function(){
  
  console.log(searchInput.value);

  httpGetAsync('/search?q=' + searchInput.value + '&json=true', function(res){
    res = JSON.parse(res);

    // limit number of results to 15
    res.entries = res.entries.slice(0,15);
    
    var result,html;
    html = '';
    res.entries.forEach(function(entry){
      result = '';

      result += '<a class="result" href="' + entry.url + '">';

      result += '<span class="thumbnail">';

      if (entry.thumbnail && entry.thumbnail.square) result += '<img src="' + entry.thumbnail.square.url + '">';

      result += '</span>';

      result += '<span class="title">' + entry.title + '</span><span class="date"> - ' + entry.date + '</span></a>';

      html += result;
    });
    results.innerHTML = html;
  });
}

function httpGetAsync(theUrl, callback)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}

var relativeDate = (function(undefined){

  var SECOND = 1000,
      MINUTE = 60 * SECOND,
      HOUR = 60 * MINUTE,
      DAY = 24 * HOUR,
      WEEK = 7 * DAY,
      YEAR = DAY * 365,
      MONTH = YEAR / 12;

  var formats = [
    [ 0.7 * MINUTE, 'just now' ],
    [ 1.5 * MINUTE, 'a minute ago' ],
    [ 60 * MINUTE, 'minutes ago', MINUTE ],
    [ 1.5 * HOUR, 'an hour ago' ],
    [ DAY, 'hours ago', HOUR ],
    [ 2 * DAY, 'yesterday' ],
    [ 7 * DAY, 'days ago', DAY ],
    [ 1.5 * WEEK, 'a week ago'],
    [ MONTH, 'weeks ago', WEEK ],
    [ 1.5 * MONTH, 'a month ago' ],
    [ YEAR, 'months ago', MONTH ],
    [ 1.5 * YEAR, 'a year ago' ],
    [ Number.MAX_VALUE, 'years ago', YEAR ]
  ];

  function relativeDate(input,reference){
    !reference && ( reference = (new Date).getTime() );
    reference instanceof Date && ( reference = reference.getTime() );
    input instanceof Date && ( input = input.getTime() );
    
    var delta = reference - input,
        format, i, len;

    for(i = -1, len=formats.length; ++i < len; ){
      format = formats[i];
      if(delta < format[0]){
        return format[2] == undefined ? format[1] : Math.round(delta/format[2]) + ' ' + format[1];
      }
    };
  }

  return relativeDate;

})();

var dates = document.querySelectorAll('[date-from-now]');
  
dates.forEach(function(el){
  var dateStamp = parseInt(el.getAttribute('date-from-now'));
  console.log(dateStamp);
  if (isNaN(dateStamp))
    return console.log('No date parsed');
  if (Date.now() - dateStamp > 1000*60*60*24*30*3)
    return console.log('Date too old');
  var new_str = relativeDate(new Date(dateStamp));
  console.log(new_str);
  el.innerHTML = new_str;
});

</script>
</body>
</html>
