<style type="text/css">
.paginator {display:flex;justify-content: flex-end}

.paginator .arrow {text-decoration:none;}

.paginator a {
min-width: 1.5em;
text-align: center;
line-height: 1.4;
display: inline-block;
padding:0.325rem 0;
margin: 0 0.1rem;
font-size: 14px;
position: relative;
text-decoration: none;
color: rgba(0,0,0,0.05);
}

.paginator a[href] {
  color: rgba(0,0,0,0.25);
}

.paginator a:before {content: "";
width:1.5rem;height:1.5rem;content:"";border-radius: 50%;position: absolute;top: 50%;left: 50%;margin: -0.75rem;z-index: -1}

.paginator a[href]:hover:before {  background: #f8f8f8;}
.paginator a.true:before {  background: #f2f2f2;}


</style>
<div class="paginator">
    <a class="arrow" {{#previous}}href="/page/{{previous}}"{{/previous}}>←</a>
    <div data-limit="5" class="numbers"></div>  
    <a class="arrow" {{#next}}href="/page/{{pagination.next}}"{{/next}}>→</a>
  </div>
