<a href="{{url}}" class="post {{^thumbnail.medium}}no-thumbnail{{/thumbnail.medium}}">

  <span class="thumbnail">
    <span style="top:0;left:0;right:0;bottom:0;position:absolute;display:flex;align-items:center">
      {{#thumbnail.medium}}
      <img src="{{url}}" class="fadeMe" onload="this.className+=' fadeIn';" />
      <noscript>  
      <img src="{{url}}">
      </noscript>
      {{/thumbnail.medium}}
      {{^thumbnail.medium}}
      <span style="width:100%">
        <span style="display:block;width:100%;margin:0.65em 0;box-sizing:border-box;padding:0 1.3rem;color:rgba(0,0,0,.5);
  font-size:24px">
        {{title}}
      </span>
      <span date-from-now="{{dateStamp}}" style="font-size:13px;display:block;">Added {{date}}</span>
    </span>
      {{/thumbnail.medium}}
    </span>
  </span>
  {{#thumbnail.medium}}
  <span style="display:block;box-sizing:border-box;padding:0 2rem;width:100%;white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;">{{title}}</span>
  <span class="date">Added       <span date-from-now="{{dateStamp}}">{{date}}</span>
</span>
  {{/thumbnail.medium}}
</a>
