<style type="text/css">

a.sidebar {
  color:rgba(0, 0, 0, 0.75);text-decoration:none;display:inline-block
}

a.sidebar:hover {
  opacity: 0.8;
}

a.sidebar:active {
  opacity: 0.6666;
}


a.sidebar.active {
  color: rgba(0,0,0,0.4);
}

</style>
<div class="sidebar" style="padding:1.3rem 3.9rem 2rem 2rem;{{#avatar}}padding-left:4.65rem{{/avatar}}">




{{#allTags.length}}
<div>
<!-- <span style="color:rgba(0,0,0,.4);font-size:11px">TOPICS:</span><br><br>
 -->
{{#allTags}}
<a href="/tagged/{{slug}}" class="sidebar {{active}}">{{tag}}</a><br>
{{/allTags}}
</div>
<br><br>
{{/allTags.length}}

<div>
{{#menu}}
<a class="light" href="{{url}}">{{label}}</a><br>
{{/menu}}
</div>

  <div style="visibility:hidden">
    <a style="color:rgba(0, 0, 0, 0.4);padding-left:2rem;padding-right:2rem" href="/">
      {{#avatar}}<img style="max-width:26px;max-height:26px;vertical-align:middle" src="{{avatar}}">{{/avatar}}
      {{title}}</a>
    {{! This blocks out the neccessary width for the sidebar so the grid lines up}}
  </div> 
</div>