<hr style="border:none;margin:0;border-top:1px solid #f2f2f2">
<div style="padding:0 2rem;display:flex;color:rgba(0,0,0,.4);">

  <div style="padding:0.325rem 0;">

  <span style="text-decoration:none;color:rgba(0,0,0,.25);margin-top:2px;display:inline-block;text-transform:uppercase;font-size:11px">
  {{#pagination}}Page {{current}} of {{total}} {{/pagination}}
  {{^pagination}}All {{entries.length}} posts{{/pagination}}</span>


  <div style="padding-right:10rem;visibility:hidden;height:0">

    <a href="/" style="display:block;padding:0.5rem 0;text-rendering:optimizeLegibility;color:rgba(0,0,0,0.4);text-decoration:none">
      {{#avatar}}<img style="max-width:1.65rem;max-height:1.65rem;margin-right:1rem;vertical-align:middle" src="{{avatar}}">{{/avatar}}{{title}}</a>
  </div>  
  <!-- 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {{#entries}}{{#first}}{{index}}{{/first}}{{/entries}}—{{#entries}}{{#last}}{{index}}{{/last}}{{/entries}} of {{total}} POSTS -->
  </div>

  <div style="flex-grow:1;display:flex;padding:0.325rem 0;overflow:hidden;font-size:14px">
    
   {{#popular_tags.length}}
   <a href="/tags" style="text-decoration:none;color:inherit;color:rgba(0,0,0,.25);text-transform:uppercase;padding:0.2rem 1.3rem 0;display:inline-block;font-size:11px">Filter:</a>
    <style type="text/css">
    #tags {height:1.2rem;overflow:hidden;display:flex;flex-wrap:wrap;}
    #tags.open {height:auto;overflow:visible;}
    #tags a {display:inline-block;margin:0 0.325rem;padding:0 0.325rem;white-space:nowrap;color:inherit;text-decoration:none}
          #tags a.active {background: #f2f2f2}

    </style>
    <div id="tags">
    {{#popular_tags}}<a href="/tagged/{{slug}}" class="{{active}}">{{tag}}</a>{{/popular_tags}}
    </div>

    <a href="/tags" id="opentags" style="text-decoration:none;color:inherit;color:rgba(0,0,0,.25);text-transform:uppercase;padding:0.2rem 1.3rem 0;display:inline-block;font-size:11px">Show&nbsp;all</a>

    {{/popular_tags.length}}
    
    <script type="text/javascript">
    document.getElementById('opentags').onclick= function(e){
    if (document.getElementById('tags').className.indexOf('open') > -1) {

      document.getElementById('tags').className = document.getElementById('tags').className.replace('open', '');
    } else {
      document.getElementById('tags').className += ' open';
    } 

    e.preventDefault();
  return false

    } 
    </script>
  </div>

  <div style="flex-shrink:0">
    <div style="padding-left:6rem;height:0;visibility:hidden">
  {{> menu}}
  </div>
  <div style="display:flex;justify-content: flex-end">
    <a style="color:rgba(0,0,0,.25);text-decoration:none;padding:0.15rem 0.65rem;" {{#previous}}href="/page/{{previous}}"{{/previous}}><</a>
    <div data-limit="5" class="page-numbers"></div>  
    <a style="color:rgba(0,0,0,.25);text-decoration:none;padding:0.15rem 0.65rem;" {{#next}}href="/page/{{pagination.next}}"{{/next}}>></a>
  </div>
</div>
</div>