{{> header}}

<hr>

{{^archives.length}}
<div class="centered">
  <p>No posts yet.</p>
</div>
{{/archives.length}}

{{#archives.length}}
<div class="archives">
  <h1 style="margin-left:2rem">Archives</h1>
  <hr>
  <div class="links">
    {{#archives}}
    {{#months}}
    {{#entries}}
    <a class="item" style="" href="{{{url}}}"><span style="display:inline-block;margin-right:0.5em;width:1em;height:1em">{{#thumbnail.square}}
<img src="{{{url}}}" style="max-width:1em;max-height:1em;width:auto;height:auto" class="fadeMe" onload="this.className+=' fadeIn';" />
      <noscript>  
      <img src="{{{url}}}">
      </noscript>

  {{/thumbnail.square}}</span> <span style="flex-grow:1;overflow:hidden">{{title}}</span> <span style="flex-shrink:0">{{#formatDate}}MMM YYYY{{/formatDate}}</span></a>
    {{/entries}}
    {{/months}}
    {{/archives}}
  </div>
</div>
{{/archives.length}}

{{> footer}}