{{> header}}

    <hr style="border:none;margin:1.3rem 0;border-top:1px solid #f2f2f2">


<div style="display:flex">
  {{> sidebar}}
  <div style="flex-grow:1;flex-basis:500px;">
<!--     <hr style="border:none;margin:1.3rem 0;border-top:1px solid #f2f2f2">
 -->
    <div class="posts">


{{^entries.length}}
<p style="margin:0">No posts.</p>
{{/entries.length}}

{{#entries}}
{{> post}}
{{/entries}}

</div>
<div style="clear:both"></div>
<div style="border-top:1px solid transparent;color:#666;display:block;font-size:12px;opacity:0.5;text-decoration:none;padding:0.75em 1.5em;margin-left:10px">

        <style type="text/css">
    .page-numbers a {
      color: #666;
      text-decoration: none;margin: 0 0.65rem;padding: 0.65rem;background: #f2f2f2}
    </style>

  <br><Br><br><br><Br>
  <br><Br><br><br><Br>
  {{#pagination}}
  <div style="padding-right:2.5rem;display:flex">

    <div style="flex-shrink:0">
  Page {{current}} of {{total}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
  <a style="flex-shrink:0;text-decoration:none;color:inherit" href="/page/{{previous}}">&larr; Previous page </a>

  <div class="page-numbers"></div>

  <a style="flex-shrink:0;text-decoration:none;color:inherit" href="/page/{{next}}">Next page &rarr;</a>

  </div>
  {{/pagination}}
  <br><Br><br><br><Br>
  <hr>
  <br><br>

    <script type="text/javascript">

    document.querySelectorAll('.page-numbers').forEach(function(el){
      for (var i = 1; i <= {{pagination.total}};i++) 
        el.innerHTML += '<a href="/page/' + i + '" id="number-template">' + i + '</a> ';
    });

    </script>
</div>


</div>
</div>

{{> footer}}