{{> header}}


{{#pagination}}

{{> toolbar}}
  {{/pagination}}


<hr style="border:none;margin:0;border-top:1px solid #f2f2f2">



{{^entries.length}}
<center style="width:100%;flex-grow:1;display:flex;align-items:center"><p style="width:100%">No posts yet.</p></center>
{{/entries.length}}

{{#entries.length}}
<div class="posts">


{{#entries}}
{{> post}}
{{/entries}}


<style type="text/css">
.pagination hr {border:none;margin:0;border-top:1px solid #f2f2f2}
.pagination .button {text-decoration:none;color:inherit;padding:0.5rem;width: 12.5%;margin:0.8rem;display: inline-block;background: #f2f2f2}
</style>




</div>
{{/entries.length}}

{{#pagination}}
<div class="pagination" style="padding:0 2.6rem;margin:0 0.8rem 13rem">
<div style="display:flex">
  <a class="button" {{#previous}}href="/page/{{previous}}"{{/previous}}>&larr; <span style="float:right">Previous</span></a>
  <div style="flex-grow:1" class="page-numbers"></div>
  <a class="button" {{#next}}href="/page/{{next}}"{{/next}}>Next <span style="float:right">&rarr;</span></a>
</div>
<div style="text-align:right;padding:0 0.8rem 0.8rem">
1-36 of 120
</div>
<hr>
</div>
{{/pagination}}

<a href="/archives">View the archives</a>

<script type="text/javascript">

    

    </script>

{{> footer}}