{{> header}}


  <div style="padding:0 0;flex-grow:1">
<h1 style="margin:0">{{tag}} </h1>
<hr>
<small style="padding:0 2rem 0 0;text-transform:uppercase;color:rgba(0,0,0,.4);font-size:11px">{{entries.length}} posts</small>
<small style="padding:0 2rem;text-transform:uppercase;color:rgba(0,0,0,.4);font-size:11px">Updated {{#entries}}{{#first}}<span date-from-now="{{dateStamp}}">{{date}}</span>{{/first}}{{/entries}}
</small>
<small style="padding:0 2rem;text-transform:uppercase;color:rgba(0,0,0,.4);font-size:11px">View tag index
</small>

</div>

<div>

    <a href="/" style="text-transform:uppercase;font-size:11px;padding:0.65rem 0.65rem;box-sizing:border-box;background:#f8f8f8;color:rgba(0,0,0,.4);text-decoration:none;display:block;width:100%;text-align:right">Close &nbsp; &nbsp; <span style="float:right">⨉</span></a> 
</div>


    <hr style="border:none;margin:1.3rem 0;border-top:1px solid #f2f2f2">


<div style="display:flex">
  {{> sidebar}}
  <div style="flex-grow:1;flex-basis:500px;">
<!-- 
<div style="border-top:1px solid transparent;color:#666;display:block;font-size:12px;opacity:0.5;text-decoration:none;padding:0.75em 1.5em;margin-left:10px">

  <a style="text-decoration:none;color:inherit" href="/">&darr; Recent posts</a>
  
  <div style="float:right;padding-right:2.5rem">
  {{#pagination}}Page {{current}} of {{total}}{{/pagination}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {{#pagination.next}}<a style="text-decoration:none;color:inherit" href="/page/{{pagination.next}}">Next page &rarr;</a>{{/pagination.next}}
  </div>
</div>
<div style="clear:both"></div> -->

<div class="posts">


{{#entries}}
{{> post}}
{{/entries}}

</div>
<div style="clear:both"></div>
<div style="border-top:1px solid transparent;color:#666;display:block;font-size:12px;opacity:0.5;text-decoration:none;padding:0.75em 1.5em;margin-left:10px">

  <a style="text-decoration:none;color:inherit" href="/">&darr; Recent posts</a>
  
  <div style="float:right;padding-right:2.5rem">
    <div class="page-numbers">
      
    </div>
    <style type="text/css">
    .page-numbers a {
      color: #666;
      text-decoration: none;
      border:1px solid rgba(0,0,0,0.05);margin: 4px;padding: 2px 6px}
    </style>
    <script type="text/javascript">

    document.querySelectorAll('.page-numbers').forEach(function(el){
      for (var i = 1; i <= {{pagination.total}};i++) 
        el.innerHTML += '<a href="/page/' + i + '" id="number-template">' + i + '</a>';
    });

    </script>
  {{#pagination}}Page {{current}} of {{total}}{{/pagination}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {{#pagination.next}}<a style="text-decoration:none;color:inherit" href="/page/{{pagination.next}}">Next page &rarr;</a>{{/pagination.next}}
  </div>
</div>


</div>
</div>

{{> footer}}