<div class="window {{#classes}}{{class}} {{/classes}}">

  <div class="toolbar">
    <div class="dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="name"><span class="icon textfile"></span>&nbsp;{{title}}&nbsp;<span class="text-chevron"></span></div>
  </div>

  <pre>
{{{text}}}
  </pre>
  
  <div class="border left"></div>
  <div class="border right"></div>
  <div class="border top"></div>
  <div class="border bottom"></div>

  <div class="corner top left"></div>
  <div class="corner top right"></div>
  <div class="corner bottom left"></div>
  <div class="corner bottom right"></div>
</div>