<form method="post" id="form{{key}}">
	<label for="locals.{{key}}" style="padding:5px 16px">{{label}}</label><br />

	<input class="name" type="hidden" value="{{key}}" />

	<select id="locals.{{key}}" name="locals.{{key}}" style="margin: 5px 16px;">
		<option value="---">---</option>
		{{#options}}
		<option {{selected}} value="{{{id}}}">{{{name}}}</option>
		{{/options}}
	</select>
</form>

<script type="text/javascript">

	const input{{key}} = document.getElementById('locals.{{key}}');
	const form{{key}} = document.getElementById('form{{key}}');

	input{{key}}.addEventListener('change', (event) => {
	 	form{{key}}.submit();
	});
</script>
